<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MBerthMapper">

    <sql id="commonList">
        SELECT
        a.ID,
        a.PARENT_CODE,
        a.BERTH_CODE,
        a.BERTH_NAME,
        a.BERTH_LONG,
        a.STATUS,
        a.CARGO_INFO,
        a.CREATE_BY,
        a.CREATE_TIME,
        a.UPDATE_BY,
        a.UPDATE_TIME,
        a.WORK_AREA_CD,
        (SELECT MDD.DICT_LABEL FROM M_DICT_DATA MDD
        WHERE MDD.DICT_TYPE = 'WORK_AREA' AND MDD.STATUS = '1' AND MDD.DICT_VALUE = a.WORK_AREA_CD) as WORK_AREA_CD_NAME,
        (select count(*) from M_BERTH_BOLLARD where BERTH_ID = a.ID) AS child_count,
        (select BERTH_NAME from M_BERTH where BERTH_CODE = a.PARENT_CODE) as PARENT_NAME
        FROM
        M_BERTH a
        <where>
            <if test="id != null">
                and a.ID = #{id}
            </if>
            <if test="parentCode != null and parentCode != ''">
                and a.PARENT_CODE = #{parentCode}
            </if>
            <if test="berthCode != null and berthCode != ''">
                <bind name="berthCode" value="'%'+berthCode+'%'"/>
                and a.BERTH_CODE LIKE #{berthCode}
            </if>
            <if test="berthName != null and berthName != ''">
                <bind name="berthName" value="'%'+berthName+'%'"/>
                and a.BERTH_NAME LIKE #{berthName}
            </if>
            <if test="berthLong != null">
                and a.BERTH_LONG = #{berthLong}
            </if>
            <if test="status != null">
                and a.STATUS = #{status}
            </if>
            <if test="cargoInfo != null and cargoInfo != ''">
                and a.CARGO_INFO = #{cargoInfo}
            </if>
        </where>
        ORDER BY BERTH_CODE ASC
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.master.bean.dto.MBerthDTO"
            parameterType="com.yy.ppm.master.bean.dto.MBerthSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.master.bean.dto.MBerthDTO"
            parameterType="com.yy.ppm.master.bean.dto.MBerthSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.master.bean.dto.MBerthDTO" parameterType="java.lang.Long">
        SELECT
        a.ID, a.PARENT_CODE, a.BERTH_CODE, a.BERTH_NAME, a.BERTH_LONG, a.STATUS, a.CARGO_INFO, a.CREATE_BY, a.CREATE_TIME, a.UPDATE_BY,
        a.UPDATE_TIME,a.WORK_AREA_CD,
        (select BERTH_NAME from M_BERTH where BERTH_CODE = a.PARENT_CODE) as PARENT_NAME
        FROM
        M_BERTH a
        <where>
            a.id = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.master.bean.dto.MBerthDTO">
        INSERT INTO M_BERTH(ID,
                            PARENT_CODE,
                            BERTH_CODE,
                            BERTH_NAME,
                            BERTH_LONG,
                            STATUS,
                            WORK_AREA_CD,
                            CARGO_INFO,
                            CREATE_BY,
                            CREATE_TIME)
        VALUES (#{id, jdbcType=BIGINT},
                #{parentCode, jdbcType=VARCHAR},
                #{berthCode, jdbcType=VARCHAR},
                #{berthName, jdbcType=VARCHAR},
                #{berthLong, jdbcType=DECIMAL},
                #{status, jdbcType=VARCHAR},
                #{workAreaCd, jdbcType=VARCHAR},
                #{cargoInfo, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{now})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.master.bean.dto.MBerthDTO">
        UPDATE
        M_BERTH
        SET
        ID = #{id,jdbcType=BIGINT},
        PARENT_CODE = #{parentCode,jdbcType=VARCHAR},
        BERTH_CODE = #{berthCode,jdbcType=VARCHAR},
        BERTH_NAME = #{berthName,jdbcType=VARCHAR},
        BERTH_LONG = #{berthLong,jdbcType=DECIMAL},
        STATUS = #{status,jdbcType=BIGINT},
        CARGO_INFO = #{cargoInfo,jdbcType=VARCHAR},
        WORK_AREA_CD = #{workAreaCd,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM M_BERTH
        WHERE id = #{id}
    </delete>

    <!--通过实体作为筛选条件查询-->
    <select id="getBollardList" resultType="com.yy.ppm.master.bean.dto.MBerthBollardDTO"
            parameterType="java.lang.Long">
        SELECT ID,
        BOLLARD_CODE,
        BOLLARD_NAME,
        LON,
        LAT,
        BERTH_ID,
        CREATE_BY,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_TIME
        FROM M_BERTH_BOLLARD
        where BERTH_ID = #{berthId}
        <if test="bollardName != null and bollardName !=''">
            <bind name="bollardName" value="'%'+bollardName+'%'"/>
            and BOLLARD_NAME LIKE #{bollardName}
        </if>
    </select>


    <!-- 根据gid查询数据 -->
    <select id="getBollardById" resultType="com.yy.ppm.master.bean.dto.MBerthBollardDTO" parameterType="java.lang.Long">
        SELECT
        ID, BOLLARD_CODE, BOLLARD_NAME, LON, LAT, BERTH_ID, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME FROM
        M_BERTH_BOLLARD
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getParentBerth" resultType="com.yy.ppm.master.bean.dto.MBerthDTO">
        select BERTH_CODE,
               BERTH_NAME,
               WORK_AREA_CD
        from M_BERTH
        where PARENT_CODE is null
    </select>
    <select id="getChildrenData" resultType="java.lang.Integer">
        select count(*)
        from M_BERTH_BOLLARD
        where BERTH_ID = #{id}
    </select>
    <!-- 新增 -->
    <insert id="insertBollard" parameterType="com.yy.ppm.master.bean.dto.MBerthBollardDTO">
        INSERT INTO M_BERTH_BOLLARD(ID,
                                    BOLLARD_CODE,
                                    BOLLARD_NAME,
                                    LON,
                                    LAT,
                                    BERTH_ID,
                                    CREATE_BY,
                                    CREATE_TIME)
        VALUES (#{id, jdbcType=BIGINT},
                #{bollardCode, jdbcType=VARCHAR},
                #{bollardName, jdbcType=VARCHAR},
                #{lon, jdbcType=DECIMAL},
                #{lat, jdbcType=DECIMAL},
                #{berthId, jdbcType=BIGINT},
                #{loginUserId, jdbcType=BIGINT},
                #{now})
    </insert>
    <!-- 修改 -->
    <update id="updateBollard" parameterType="com.yy.ppm.master.bean.dto.MBerthBollardDTO">
        UPDATE
        M_BERTH_BOLLARD
        SET
        ID = #{id,jdbcType=BIGINT},
        BOLLARD_CODE = #{bollardCode,jdbcType=VARCHAR},
        BOLLARD_NAME = #{bollardName,jdbcType=VARCHAR},
        LON = #{lon,jdbcType=DECIMAL},
        LAT = #{lat,jdbcType=DECIMAL},
        BERTH_ID = #{berthId,jdbcType=BIGINT},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteBollardById" parameterType="java.lang.Long">
        DELETE
        FROM M_BERTH_BOLLARD
        WHERE id = #{id}
    </delete>

    <!--  根据泊位获取缆桩信息  -->
    <select id="getBollardsByBerthId" resultType="java.util.HashMap">
        select
               BOLLARD_NAME as "label",
               ID as "value"
        from M_BERTH_BOLLARD
        where
        BERTH_ID = #{berthId,jdbcType=BIGINT}
    </select>

    <select id="getByBerthCode" resultType="com.yy.ppm.master.bean.dto.MBerthDTO">
        SELECT
            ID,BERTH_CODE
        FROM
        M_BERTH
        <where>
            BERTH_CODE = #{berthCode}
        </where>

    </select>

</mapper>

