<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MMachineMapper">

    <sql id="commonList">
        SELECT
            M1.ID,
            M1.MAC_CODE,
            M1.MAC_NAME,
            M1.MAC_TYPE_CODE,
            M2.MAC_TYPE_NAME,
            M1.MAC_MODEL_CODE,
            M3.MODEL_NAME MAC_MODEL_NAME,
            M1.DEPT_ID,
            SD.DEPT_NAME,
            M1.IMEI,
            M1.STATUS,
            M1.IS_ELECTRON_FENCE,
            M1.CREATE_BY,
            M1.CREATE_TIME,
            M1.UPDATE_BY,
            M1.UPDATE_TIME
        FROM
            M_MACHINE M1
            JOIN M_MACHINE_TYPE M2 ON M1.MAC_TYPE_CODE = M2.MAC_TYPE_CODE
            LEFT JOIN M_MACHINE_TYPE_MODEL M3 ON M1.MAC_MODEL_CODE = M3.MODEL_CODE
            LEFT JOIN SYS_DEPT SD ON SD.ID = M1.DEPT_ID
        <where>
            <if test="macCode != null and macCode != ''">
                <bind name="macCode" value="'%'+macCode+'%'"/>
                and M1.MAC_CODE LIKE #{macCode}
            </if>
            <if test="macName != null and macName != ''">
                <bind name="macName" value="'%'+macName+'%'"/>
                and M1.MAC_NAME LIKE #{macName}
            </if>
            <if test="macTypeCode != null and macTypeCode != ''">
                and M1.MAC_TYPE_CODE = #{macTypeCode}
            </if>
            <if test="deptId != null">
                and M1.DEPT_ID = #{deptId}
            </if>
            <if test="status != null">
                and M1.STATUS = #{status}
            </if>
            <if test="isElectronFence != null">
                and M1.IS_ELECTRON_FENCE = #{isElectronFence}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.master.bean.dto.MMachineDTO"
            parameterType="com.yy.ppm.master.bean.dto.MMachineSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.master.bean.dto.MMachineDTO"
            parameterType="com.yy.ppm.master.bean.dto.MMachineSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.master.bean.dto.MMachineDTO" parameterType="java.lang.Long">
        SELECT
        ID,
        MAC_CODE,
        MAC_NAME,
        MAC_TYPE_CODE,
        MAC_MODEL_CODE,
        DEPT_ID,
        IMEI,
        STATUS,
        CREATE_BY,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_TIME,
        MAC_MODEL_NAME,
        MAC_TYPE_NAME,
        IS_ELECTRON_FENCE
        FROM
        M_MACHINE
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getTallyById" resultType="java.lang.Integer">
    select count(*)
    from T_YARD_TALLY TYT
    where TYT.EQUIPMENT_ID  = #{id}
    </select>
    <select id="getTicketById" resultType="java.lang.Integer">
    select count(*)
    from T_PRD_WORK_TICKET_EQUIPMENT where EQUIPMENT_ID = #{id}
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.master.bean.dto.MMachineDTO">
        INSERT INTO M_MACHINE(ID,
                              MAC_CODE,
                              MAC_NAME,
                              MAC_TYPE_CODE,
                              MAC_MODEL_CODE,
                              DEPT_ID,
                              IMEI,
                              STATUS,
                              CREATE_BY,
                              CREATE_TIME,
                              MAC_MODEL_NAME,
                              MAC_TYPE_NAME,
                              IS_ELECTRON_FENCE
                              )
        VALUES (
                #{id, jdbcType=BIGINT},
                #{macCode, jdbcType=VARCHAR},
                #{macName, jdbcType=VARCHAR},
                #{macTypeCode, jdbcType=VARCHAR},
                #{macModelCode, jdbcType=VARCHAR},
                #{deptId, jdbcType=BIGINT},
                #{imei, jdbcType=VARCHAR},
                #{status, jdbcType=BIGINT},
                #{loginUserId, jdbcType=BIGINT},
                #{now},
                #{macModelName,jdbcType=VARCHAR},
                #{macTypeName,jdbcType=VARCHAR},
                #{isElectronFence,jdbcType=VARCHAR}
                )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.master.bean.dto.MMachineDTO">
        UPDATE
        M_MACHINE
        SET
        ID = #{id,jdbcType=BIGINT},
        MAC_CODE = #{macCode,jdbcType=VARCHAR},
        MAC_NAME = #{macName,jdbcType=VARCHAR},
        MAC_TYPE_CODE = #{macTypeCode,jdbcType=VARCHAR},
        MAC_MODEL_CODE = #{macModelCode,jdbcType=VARCHAR},
        DEPT_ID = #{deptId,jdbcType=BIGINT},
        IMEI = #{imei,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=BIGINT},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_TIME = #{now},
        MAC_MODEL_NAME = #{macModelName,jdbcType=VARCHAR},
        MAC_TYPE_NAME = #{macTypeName,jdbcType=VARCHAR},
        IS_ELECTRON_FENCE = #{isElectronFence,jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM M_MACHINE
        WHERE id = #{id}
    </delete>
</mapper>

