<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MMachineTypeMapper">

    <!--查询所有机械类型-->
    <select id="selectBMachineType" resultType="com.yy.ppm.master.bean.dto.MMachineTypeDTO">
        SELECT
            b.ID,
            MAC_TYPE_CODE,
            MAC_TYPE_NAME,
            b.CREATE_BY,
            b.CREATE_TIME,
            b.CREATE_BY_name
        FROM
             m_machine_type b
        <where>
        <if test="name != null and name != ''">
            <bind name="macTypeName" value="'%' + name + '%'"/>
             mac_type_name like #{macTypeName}
        </if>
        </where>
        order by
         CREATE_TIME
        desc
    </select>

    <!--根据id查询机械类型-->
    <select id="selectBMachineTypeById" resultType="com.yy.ppm.master.bean.dto.MMachineTypeDTO">
    SELECT
        b.ID,
        MAC_TYPE_CODE,
        MAC_TYPE_NAME,
        b.CREATE_BY,
        b.CREATE_TIME,
        b.CREATE_BY_NAME
    FROM
        m_machine_type b
    <where>
    <if test="id != null and id != ''">
         b.id=#{id}
    </if>
    </where>
    order by
    CREATE_TIME
    desc
    </select>

    <!--根据机械类型id查询子机械型号-->
    <select id="selectBMachineTypeModel" resultType="com.yy.ppm.master.bean.po.MMachineTypeModelPO">
        SELECT
            ID,
            MAC_TYPE_CODE,
            MODEL_CODE,
            MODEL_NAME
        FROM
            m_machine_type_model
        <where>
        <if test="macTypeCode != null and macTypeCode != ''">
            and MAC_TYPE_CODE=#{macTypeCode}
        </if>
        </where>
        order by
        MODEL_CODE
    </select>

    <!--添加机械类型-->
    <insert id="insertBMachineType" parameterType="com.yy.ppm.master.bean.po.MMachineTypePO">
        INSERT INTO
        m_machine_type
        (id,
        mac_type_code,
        mac_type_name,
        create_by,
        create_by_name,
        create_time)
        VALUES
        (#{id,jdbcType=VARCHAR},#{macTypeCode,jdbcType=VARCHAR},#{macTypeName,jdbcType=VARCHAR},
        #{loginUserId,jdbcType=BIGINT},#{loginUserName,jdbcType=VARCHAR}, #{now,jdbcType=TIMESTAMP})
    </insert>

    <select id="getCountByType" parameterType="com.yy.ppm.master.bean.po.MMachineTypeModelPO" resultType="java.lang.Integer">
        select
            count(*)
        from
            m_machine_type_model
        where
            id!=#{id} and MAC_TYPE_CODE=#{macTypeCode} and model_name=#{modelName}
    </select>

    <!--添加机械型号-->
    <insert id="insertBMachineTypeModel" parameterType="com.yy.ppm.master.bean.po.MMachineTypeModelPO">
        INSERT INTO
        m_machine_type_model
        (id,
        MAC_TYPE_CODE,
        model_code,
        model_name)
        VALUES
        (#{id,jdbcType=BIGINT},#{macTypeCode,jdbcType=VARCHAR},#{modelCode,jdbcType=VARCHAR},#{modelName,jdbcType=VARCHAR})
    </insert>

    <!--修改机械类型-->
    <update id="updateBMachineType" parameterType="com.yy.ppm.master.bean.po.MMachineTypePO">
        UPDATE
            m_machine_type
        SET
            mac_type_code=#{macTypeCode,jdbcType=VARCHAR},
            mac_type_name=#{macTypeName,jdbcType=VARCHAR}
        <where>
            id=#{id}
        </where>
    </update>


    <!--根据父code删除机械型号-->
    <delete id="deleteBMachineTypeModelByTypeCode" parameterType="com.yy.ppm.master.bean.po.MMachineTypeModelPO">
        DELETE FROM m_machine_type_model
        WHERE
        MAC_TYPE_CODE =#{typeCode}
    </delete>
    <!--删除机械型号-->
    <delete id="deleteBMachineTypeModel" parameterType="java.lang.Long">
        delete from
            M_MACHINE_TYPE_MODEL
        where
            MAC_TYPE_CODE=(select MAC_TYPE_CODE FROM M_MACHINE_TYPE
                           WHERE ID=#{id} )
    </delete>

    <!--删除机械类型-->
    <delete id="deleteBMachineType" parameterType="java.lang.Long">
        DELETE FROM m_machine_type
        WHERE
        id =#{id}
    </delete>

    <!--查询所有机械型号-->
    <select id="listBMachineTypeModel" resultType="com.yy.ppm.master.bean.po.MMachineTypeModelPO">
        SELECT
        ID,
        MAC_TYPE_CODE,
        MODEL_CODE,
        MODEL_NAME
        FROM
        m_machine_type_model
    </select>

    <!-- 查询机械类型最大编号 -->
    <select id="getMaxModelCode" resultType="java.lang.String">
        SELECT
            max(model_code)
        FROM
            m_machine_type_model
        where
            MAC_TYPE_CODE=#{typeCode}
    </select>

    <!-- 查询机械类型最大编号 -->
    <select id="getMaxTypeCode" resultType="java.lang.String">
        SELECT
            max(mac_type_code)
        FROM
            m_machine_type
    </select>
    <select id="getMacModelByTypeCode" resultType="com.yy.ppm.master.bean.po.MMachineTypeModelPO">
        SELECT
        ID,
        MAC_TYPE_CODE,
        MODEL_CODE,
        MODEL_NAME
        FROM
        m_machine_type_model
        <where>
            <if test="macTypeCode != null and macTypeCode != ''">
                and MAC_TYPE_CODE=#{macTypeCode}
            </if>
        </where>
        order by
        MODEL_CODE
    </select>

</mapper>
