<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MOperationTechnologyMapper">

    <!--查询所有作业工艺-->
    <select id="selectAllTechnique" resultType="com.yy.ppm.master.bean.po.MOperationTechnologyPO">
        SELECT
            t.id,
            t.process_codes,
            t.process_name,
            t.technique_name,
            t.technique_code,
            t.cargo_codes,
            t.cargo_names,
            t.status,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time,
            s.user_name as create_by_name,
            a.user_name as update_by_name
        FROM
            m_operation_technology t inner join sys_user s on t.create_by = s.id
            left join sys_user a on t.update_by = a.id
        where 1=1
        <if test="name != null and name != ''">
            <bind name="processName" value="'%' + name + '%'"/>
            and process_name like #{processName}
        </if>
        <if test="code!=null">
            and process_codes=#{code}
        </if>
        order by
        CREATE_TIME
        desc
    </select>

    <!--根据作业过程查询作业工艺数量-->
    <select id="selectCount" resultType="java.lang.Long">
        SELECT
            COUNT(*) AS total
        FROM
            m_operation_technology
        where
            process_codes in
            <foreach collection="list" item="codes" open="(" separator="," close=")">
                #{codes}
            </foreach>
    </select>


    <!--添加作业工艺-->
    <insert id="insertTechnique" parameterType="com.yy.ppm.master.bean.po.MOperationTechnologyPO">
        INSERT INTO
        m_operation_technology
        (id,
        PROCESS_CODES,
        PROCESS_NAME,
        TECHNIQUE_NAME,
        technique_code,
        cargo_codes,
        cargo_names,
        create_by,
        create_time,
        STATUS)
        VALUES
        (#{id,jdbcType=BIGINT},#{processCodes,jdbcType=VARCHAR},#{processName,jdbcType=VARCHAR},
        #{techniqueName,jdbcType=VARCHAR},#{techniqueCode,jdbcType=VARCHAR},
        #{cargoCodes,jdbcType=VARCHAR},#{cargoNames,jdbcType=VARCHAR},
        #{loginUserId,jdbcType=BIGINT},#{now,jdbcType=TIMESTAMP},
        #{status,jdbcType=INTEGER})
    </insert>

    <!--修改作业工艺-->
    <update id="updateTechnique" parameterType="com.yy.ppm.master.bean.po.MOperationTechnologyPO">
        UPDATE
            m_operation_technology
        SET
            process_codes=#{processCodes,jdbcType=VARCHAR},
            process_name=#{processName,jdbcType=VARCHAR},
            technique_name=#{techniqueName,jdbcType=VARCHAR},
            technique_code=#{techniqueCode,jdbcType=VARCHAR},
            cargo_codes=#{cargoCodes,jdbcType=VARCHAR},
            cargo_names=#{cargoNames,jdbcType=VARCHAR},
            UPDATE_BY=#{loginUserId,jdbcType=BIGINT},
            UPDATE_TIME=#{now,jdbcType=TIMESTAMP},
            STATUS=#{status,jdbcType=INTEGER}
        <where>
            id=#{id}
        </where>
    </update>

    <!--根据id查询某一个作业工艺-->
    <select id="selectTechniqueById" resultType="com.yy.ppm.master.bean.dto.MOperationTechnologyDTO">
        SELECT
            t.id,
            t.process_codes,
            t.process_name,
            t.technique_name,
            t.technique_code,
            t.cargo_codes,
            t.cargo_names,
            t.status,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time,
            s.user_name as create_by_name,
            a.user_name as update_by_name
        FROM
            m_operation_technology t inner join sys_user s on t.create_by = s.id left join sys_user a on t.update_by = a.id
        <where>
        <if test="id != null and id != ''">
            and t.id=#{id}
        </if>
        </where>
    </select>

    <!--删除作业工艺-->
    <delete id="deleteTechniqueById" parameterType="com.yy.ppm.master.bean.po.MOperationTechnologyPO">
        DELETE FROM m_operation_technology
        WHERE
        id =#{id}
    </delete>

    <!--查询所有作业工艺-->
    <select id="selectTechnique" resultType="com.yy.ppm.master.bean.po.MOperationTechnologyPO">
        SELECT
            t.id,
            t.process_codes,
            t.process_name,
            t.technique_name,
            t.technique_code,
            t.cargo_codes,
            t.cargo_names,
            t.status,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time,
            s.user_name as create_by_name,
            a.user_name as update_by_name
        FROM
            m_operation_technology t inner join sys_user s on t.create_by = s.id
            left join sys_user a on t.update_by = a.id
        <where>
        <if test="name != null and name != ''">
            <bind name="techniqueName" value="'%' + name + '%'"/>
            and technique_name like #{techniqueName}
        </if>
        <if test="code!=null">
            and process_codes=#{code}
        </if>
        </where>
        order by
            CREATE_TIME desc
    </select>

    <!--根据工艺id查询机械-->
    <select id="selectMachineById" resultType="com.yy.ppm.master.bean.dto.MOperationTechnologyMachineDTO">
        select
            t.id,
            t.technology_id,
            t.machine_type_code,
            t.machine_model_code,
            t.num,
            b.model_name as machineModelName
        from
            m_operation_technology_machine t left join b_machine_type_model b on t.machine_model_code = b.model_code
        <where>
           technology_id=#{id}
        </where>
    </select>
    <!--根据工艺id查询工人-->
    <select id="selectWorkerById" resultType="com.yy.ppm.master.bean.po.MOperationTechnologyWorkerPO">
        select
            id,
            worker_post,
            worker_post_name,
            num,
            technology_id
        from
            m_operation_technology_worker
        where 1=1
        <if test="id != null and id != ''">
            and technology_id=#{id}
        </if>
    </select>
    <!--根据工艺id查询工属具-->
    <select id="selectWorkwarById" resultType="com.yy.ppm.master.bean.dto.MOperationTechnologyWorkwarDTO">
        select
            t.id,
            t.type_code,
            t.model_code,
            t.num,
            t.technology_id,
            b.model_name as model_name
        from
          m_operation_technology_workwar t left join b_warkware_type_model b on t.model_code = b.model_code
        where 1=1
        <if test="id != null and id != ''">
            and technology_id=#{id}
        </if>
    </select>

    <!--添加机械配置-->
    <insert id="insertMachine" parameterType="com.yy.ppm.master.bean.po.MOperationTechnologyMachinePO">
        INSERT INTO
        m_operation_technology_machine
        (id,
        technology_id,
        machine_type_code,
        machine_model_code,
        num)
        VALUES
        (#{id,jdbcType=BIGINT},#{technologyId,jdbcType=BIGINT},#{machineTypeCode,jdbcType=VARCHAR},
        #{machineModelCode,jdbcType=VARCHAR},#{num,jdbcType=INTEGER})
    </insert>
    <!--添加工人配置-->
    <insert id="insertWorker" parameterType="com.yy.ppm.master.bean.po.MOperationTechnologyMachinePO">
        INSERT INTO
        m_operation_technology_worker
        (id,
        technology_id,
        worker_post,
        worker_post_name,
        num)
        VALUES
        (#{id,jdbcType=BIGINT},#{technologyId,jdbcType=BIGINT},#{workerPost,jdbcType=VARCHAR},
        #{workerPostName,jdbcType=VARCHAR},#{num,jdbcType=INTEGER})
    </insert>
    <!--添加工属具配置-->
    <insert id="insertWorkwar" parameterType="com.yy.ppm.master.bean.po.MOperationTechnologyWorkwarPO">
        INSERT INTO
        m_operation_technology_workwar
        (id,
        technology_id,
        type_code,
        model_code,
        num)
        VALUES
        (#{id,jdbcType=BIGINT},#{technologyId,jdbcType=BIGINT},#{typeCode,jdbcType=VARCHAR},
        #{modelCode,jdbcType=VARCHAR},#{num,jdbcType=INTEGER})
    </insert>

    <!--根据作业工艺id删除机械配置-->
    <delete id="deleteMachineById" parameterType="java.lang.Long">
        DELETE FROM m_operation_technology_machine
        WHERE 1=1
        <if test="id != null and id != ''">
            and technology_id=#{id}
        </if>
    </delete>
    <!--根据作业工艺id删除工人配置-->
    <delete id="deleteWorkerById" parameterType="java.lang.Long">
        DELETE FROM m_operation_technology_worker
        WHERE 1=1
        <if test="id != null and id != ''">
            and technology_id=#{id}
        </if>
    </delete>
    <!--根据作业工艺id删除工属具配置-->
    <delete id="deleteWorkwarById" parameterType="java.lang.Long">
        DELETE FROM m_operation_technology_workwar
        WHERE 1=1
        <if test="id != null and id != ''">
            and technology_id=#{id}
        </if>
    </delete>

</mapper>
