<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MOperationProcessMapper">

    <!--查询所有作业过程-->
    <select id="selectAllProcess" resultType="com.yy.ppm.master.bean.dto.MOperationProcessDTO">
        SELECT
            a.id,
            process_code,
            process_name,
            process_type,
            source,
            destination,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            b.user_name as create_name,
            c.user_name as update_name,
            d.DICT_LABEL as process_type_label,
            e.DICT_LABEL as source_label,
            f.DICT_LABEL as destination_label
        FROM
            m_operation_process a left join sys_user b on a.create_by = b.id
            left join sys_user c on a.update_by = c.id
            left join M_DICT_DATA d ON a.PROCESS_TYPE=d.DICT_VALUE and d.DICT_TYPE='PROCESS_TYPE'
            left join M_DICT_DATA e ON a.source=e.DICT_VALUE and e.DICT_TYPE='WORK_ORIGN'
            left join M_DICT_DATA f ON a.destination=f.DICT_VALUE and f.DICT_TYPE='WORK_ORIGN'
        <where>
        <if test="name != null and name != ''">
            <bind name="processName" value="'%' + name + '%'"/>
            and process_name like #{processName}
        </if>
        </where>
        order by
            CREATE_TIME
            desc
    </select>


    <!--根据id查询某一个作业过程-->
    <select id="selectOneById" resultType="com.yy.ppm.master.bean.dto.MOperationProcessDTO">
        SELECT
            a.id,
            process_code,
            process_name,
            process_type,
            source,
            destination,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            b.user_name as create_name,
            c.user_name as update_name
        FROM
            m_operation_process a inner join  sys_user b on a.create_by = b.id
            left join sys_user c on a.update_by = c.id
        <where>
            <if test="id != null and id != ''">
                and a.id=#{id}
            </if>
        </where>

    </select>


    <!--查询子过程-->
    <select id="selectAllSubProcess" resultType="com.yy.ppm.master.bean.dto.MOperationSubProcessDTO">
        SELECT
            a.id,
            process_code,
            subprocess_code,
            subprocess_name,
            source,
            description,
            cargo_volume,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            b.user_name as create_name,
            c.user_name as update_name,
            e.DICT_LABEL as source_label,
            f.DICT_LABEL as destination_Label
        FROM
            m_operation_subprocess a inner join  sys_user b on a.create_by = b.id
            left join sys_user c on a.update_by = c.id
            left join M_DICT_DATA e ON a.source=e.DICT_VALUE and e.DICT_TYPE='WORK_ORIGN'
            left join M_DICT_DATA f ON a.description=f.DICT_VALUE and f.DICT_TYPE='WORK_ORIGN'
        <where>
            <if test="processCode != null and processCode != ''">
               and process_code=#{processCode}
            </if>
            <if test="name != null and name != ''">
                <bind name="processName" value="'%' + name + '%'"/>
                and subprocess_name like #{processName}
            </if>
        </where>
        order by
            CREATE_TIME
        desc
    </select>

    <!--根据作业过程列表查询子过程数量-->
    <select id="selectCount" resultType="java.lang.Long">
        SELECT
            COUNT(*) AS total
        FROM
            m_operation_subprocess
        where
            process_code in
            <foreach collection="processCode" item="codes" open="(" separator="," close=")">
                #{codes}
            </foreach>
    </select>

    <!--根据id查询某一个子作业过程-->
    <select id="selectOneSubById" resultType="com.yy.ppm.master.bean.dto.MOperationSubProcessDTO">
        SELECT
            t.id,
            t.process_code,
            t.subprocess_code,
            t.subprocess_name,
            t.source,
            t.description,
            t.cargo_volume,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time,
            b.user_name as create_name,
            c.user_name as update_name
        FROM
            m_operation_subprocess t inner join sys_user b on t.create_by = b.id
            left join sys_user c on t.update_by = c.id
        <where>
        <if test="id != null and id != ''">
            and t.id=#{id}
        </if>
        </where>
    </select>

    <!--添加作业过程-->
    <insert id="insert" parameterType="com.yy.ppm.master.bean.po.MOperationProcessPO">
        INSERT INTO
        m_operation_process
            (id,
            process_code,
            process_name,
            process_type,
            source,
            destination,
            create_by,
            create_time)
        VALUES
            (#{id,jdbcType=BIGINT},#{processCode,jdbcType=VARCHAR},#{processName,jdbcType=VARCHAR},
            #{processType,jdbcType=VARCHAR},#{source,jdbcType=VARCHAR},#{destination,jdbcType=VARCHAR},
            #{loginUserId,jdbcType=BIGINT},#{now,jdbcType=TIMESTAMP})
    </insert>

    <!--修改作业过程-->
    <update id="updateProcess" parameterType="com.yy.ppm.master.bean.po.MOperationProcessPO">
        UPDATE
            m_operation_process
        SET
            process_code=#{processCode,jdbcType=VARCHAR},
            process_name=#{processName,jdbcType=VARCHAR},
            process_type=#{processType,jdbcType=VARCHAR},
            source=#{source,jdbcType=VARCHAR},
            destination=#{destination,jdbcType=VARCHAR},
            update_by=#{loginUserId,jdbcType=BIGINT},
            update_time=#{now,jdbcType=TIMESTAMP}
        <where>
            id=#{id}
        </where>
    </update>

    <!--删除作业过程-->
    <delete id="deleteById">
        DELETE
        FROM
            m_operation_process
        WHERE
            id in
            <foreach collection="list" item="ids" open="(" separator="," close=")">
                #{ids}
            </foreach>
    </delete>

    <!--添加子作业过程-->
    <insert id="insertSubProcess" parameterType="com.yy.ppm.master.bean.po.MOperationSubProcessPO">
        INSERT INTO
        m_operation_subprocess
        (id,
        process_code,
        subprocess_code,
        SUBPROCESS_NAME,
        source,
        description,
        cargo_volume,
        create_by,
        create_time)
        VALUES
        (#{id,jdbcType=BIGINT},#{processCode,jdbcType=VARCHAR},#{subprocessCode,jdbcType=VARCHAR},
        #{subprocessName,jdbcType=VARCHAR},#{source,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},#{cargoVolume,jdbcType=VARCHAR},
        #{loginUserId,jdbcType=BIGINT},#{now,jdbcType=TIMESTAMP})
    </insert>

    <!--修改子作业过程-->
    <update id="updateSubProcess" parameterType="com.yy.ppm.master.bean.po.MOperationSubProcessPO">
        UPDATE
        m_operation_subprocess
        SET
        process_code=#{processCode,jdbcType=VARCHAR},
        subprocess_code=#{subprocessCode,jdbcType=VARCHAR},
        subprocess_name=#{subprocessName,jdbcType=VARCHAR},
        source=#{source,jdbcType=VARCHAR},
        description=#{description,jdbcType=VARCHAR},
        cargo_volume=#{cargoVolume,jdbcType=VARCHAR},
        update_by=#{loginUserId,jdbcType=BIGINT},
        update_time=#{now,jdbcType=TIMESTAMP}
        <where>
            id=#{id}
        </where>
    </update>

    <!--删除子作业过程-->
    <delete id="deleteSubById" parameterType="com.yy.ppm.master.bean.po.MOperationSubProcessPO">
        DELETE FROM
            m_operation_subprocess
        WHERE
            id =#{id}
    </delete>

    <!--查询所有作业过程-->
    <select id="selectOperationProcess" resultType="com.yy.ppm.master.bean.po.MOperationProcessPO">
        SELECT
            t.id,
            t.process_code,
            t.process_name,
            t.process_type,
            t.source,
            t.destination,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time,
            b.user_name as create_name,
            c.user_name as update_name
        FROM
            m_operation_process t inner join sys_user b on  t.create_by = b.id
            left join sys_user c on t.update_by = c.id
        <where>
        <if test="name != null and name != ''">
            <bind name="processName" value="'%' + name + '%'"/>
            and PROCESS_NAME like #{processName}
        </if>
        </where>
        order by
            CREATE_TIME
        desc
    </select>

    <!--查询作业过程列表code最大值-->
    <select id="getMaxProcessCode" resultType="java.lang.String">
        SELECT
            max(process_code)
        FROM
            m_operation_process
    </select>

    <!--查询同一个父作业过程下子过程code最大值-->
    <select id="getMaxSubprocessCode" resultType="java.lang.String">
        SELECT
            max(subprocess_code)
        FROM
            m_operation_subprocess
        where
            process_code=#{code}
    </select>

    <!--根据作业过程查询作业工艺数量-->
    <select id="selectCountTechnique" resultType="java.lang.Long">
        SELECT
            COUNT(*) AS total
        FROM
            m_operation_technology
        <where>

        </where>

            process_codes
    </select>
</mapper>
