<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MPieceWorkTeamMapper">

    <insert id="insertPieceWorkTeam">
        INSERT INTO M_PIECE_WORK_TEAM(ID, COMPANY_ID, COMPANY_NAME, DEPT_ID, DEPT_NAME, PIECE_PROJECT_CODE,
                                      PIECE_PROJECT_NAME, IS_UPDATE_STORAGE, CREATE_BY, CREATE_BY_NAME, CREATE_TIME,
                                      UPDATE_BY, UPDATE_BY_NAME, UPDATE_TIME)
        VALUES (#{id, jdbcType=BIGINT}, #{companyId, jdbcType=BIGINT}, #{companyName, jdbcType=VARCHAR},
                #{deptId, jdbcType=BIGINT}, #{deptName, jdbcType=VARCHAR}, #{pieceProjectCode, jdbcType=VARCHAR},
                #{pieceProjectName, jdbcType=VARCHAR}, #{isUpdateStorage, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT}, #{loginUserName, jdbcType=VARCHAR}, #{now, jdbcType=TIMESTAMP},
                #{updateBy, jdbcType=BIGINT}, #{updateByName, jdbcType=VARCHAR}, #{updateTime, jdbcType=TIMESTAMP})
    </insert>

    <resultMap id="listPieceWorkTeam" type="com.yy.ppm.master.bean.po.MPieceWorkTeamPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="companyId" column="COMPANY_ID" jdbcType="BIGINT"/>
        <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="deptId" column="DEPT_ID" jdbcType="BIGINT"/>
        <result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="pieceProjectCode" column="PIECE_PROJECT_CODE" jdbcType="VARCHAR"/>
        <result property="pieceProjectName" column="PIECE_PROJECT_NAME" jdbcType="VARCHAR"/>
        <result property="isUpdateStorage" column="IS_UPDATE_STORAGE" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listPieceWorkTeam" resultMap="listPieceWorkTeam">
        SELECT
        ID,
        COMPANY_ID,
        COMPANY_NAME,
        DEPT_ID,
        DEPT_NAME,
        PIECE_PROJECT_CODE,
        PIECE_PROJECT_NAME,
        IS_UPDATE_STORAGE,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM M_PIECE_WORK_TEAM
        <where>
            <if test="id != null">
                ID = #{id, jdbcType=BIGINT}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId, jdbcType=BIGINT}
            </if>
            <if test="companyName != null and companyName != ''">
                AND COMPANY_NAME = #{companyName, jdbcType=VARCHAR}
            </if>
            <if test="deptId != null">
                AND DEPT_ID = #{deptId, jdbcType=BIGINT}
            </if>
            <if test="deptName != null and deptName != ''">
                AND DEPT_NAME = #{deptName, jdbcType=VARCHAR}
            </if>
            <if test="pieceProjectCode != null and pieceProjectCode != ''">
                AND PIECE_PROJECT_CODE = #{pieceProjectCode, jdbcType=VARCHAR}
            </if>
            <if test="pieceProjectName != null and pieceProjectName != ''">
                AND PIECE_PROJECT_NAME = #{pieceProjectName, jdbcType=VARCHAR}
            </if>
            <if test="isUpdateStorage != null and isUpdateStorage != ''">
                AND IS_UPDATE_STORAGE = #{isUpdateStorage, jdbcType=VARCHAR}
            </if>
            <if test="createBy != null">
                AND CREATE_BY = #{createBy, jdbcType=BIGINT}
            </if>
            <if test="createByName != null and createByName != ''">
                AND CREATE_BY_NAME = #{createByName, jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="updateBy != null">
                AND UPDATE_BY = #{updateBy, jdbcType=BIGINT}
            </if>
            <if test="updateByName != null and updateByName != ''">
                AND UPDATE_BY_NAME = #{updateByName, jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <update id="updatePieceWorkTeam">
        UPDATE M_PIECE_WORK_TEAM
        <set>
            <if test="id != null">
                ID = #{id, jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId, jdbcType=BIGINT},
            </if>
            <if test="companyName != null and companyName != ''">
                COMPANY_NAME = #{companyName, jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                DEPT_ID = #{deptId, jdbcType=BIGINT},
            </if>
            <if test="deptName != null and deptName != ''">
                DEPT_NAME = #{deptName, jdbcType=VARCHAR},
            </if>
            <if test="pieceProjectCode != null and pieceProjectCode != ''">
                PIECE_PROJECT_CODE = #{pieceProjectCode, jdbcType=VARCHAR},
            </if>
            <if test="pieceProjectName != null and pieceProjectName != ''">
                PIECE_PROJECT_NAME = #{pieceProjectName, jdbcType=VARCHAR},
            </if>
            <if test="isUpdateStorage != null and isUpdateStorage != ''">
                IS_UPDATE_STORAGE = #{isUpdateStorage, jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy, jdbcType=BIGINT},
            </if>
            <if test="createByName != null and createByName != ''">
                CREATE_BY_NAME = #{createByName, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now, jdbcType=TIMESTAMP},
        </set>
        WHERE ID = #{id, jdbcType=BIGINT}
    </update>

    <delete id="deletePieceWorkTeam">
        DELETE
        FROM M_PIECE_WORK_TEAM
        WHERE ID IN
        <foreach collection="ids" close=")" item="id" open="(" separator=", ">
            #{id, jdbcType=BIGINT}
        </foreach>
    </delete>
</mapper>