<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MPiecePriceMapper">

    <sql id="commonList">
        SELECT
        ID,
        COMPANY_NAME,
        COMPANY_ID,
        DEPT_NAME,
        DEPT_ID,
        WORK_PROCESS_ID,
        WORK_PROCESS_NAME,
        WORK_PROCESS_CHILD_ID,
        WORK_PROCESS_CHILD_NAME,
        SALARY_TYPE_CODE,SALARY_TYPE_NAME,
        PRICE,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        M_PIECE_PRICE
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="companyId != null">
                and COMPANY_ID = #{companyId}
            </if>
            <if test="deptId != null">
                and DEPT_ID = #{deptId}
            </if>
            <if test="workProcessId != null">
                and WORK_PROCESS_ID = #{workProcessId}
            </if>
            <if test="workProcessChildId != null">
                and WORK_PROCESS_CHILD_ID = #{workProcessChildId}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.master.bean.dto.MPiecePriceDTO"
            parameterType="com.yy.ppm.master.bean.dto.MPiecePriceSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.master.bean.dto.MPiecePriceDTO"
            parameterType="com.yy.ppm.master.bean.dto.MPiecePriceSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.master.bean.dto.MPiecePriceDTO" parameterType="java.lang.Long">
        SELECT
        ID, COMPANY_NAME, COMPANY_ID, DEPT_NAME, DEPT_ID, WORK_PROCESS_ID, WORK_PROCESS_NAME,SALARY_TYPE_CODE,SALARY_TYPE_NAME,
        WORK_PROCESS_CHILD_ID, WORK_PROCESS_CHILD_NAME, PRICE, CREATE_BY, CREATE_BY_NAME, CREATE_TIME, UPDATE_BY,
        UPDATE_BY_NAME, UPDATE_TIME FROM
        M_PIECE_PRICE
        <where>
            id = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.master.bean.dto.MPiecePriceDTO">
        INSERT INTO M_PIECE_PRICE(
                ID,
                    COMPANY_NAME,
                    COMPANY_ID,
                    DEPT_NAME,
                    DEPT_ID,
                    SALARY_TYPE_CODE,
                    SALARY_TYPE_NAME,
                    WORK_PROCESS_ID,
                    WORK_PROCESS_NAME,
                    WORK_PROCESS_CHILD_ID,
                    WORK_PROCESS_CHILD_NAME,
                    PRICE,
                                                    CREATE_BY,
CREATE_BY_NAME,
CREATE_TIME
        )VALUES (
                                    #{id, jdbcType=VARCHAR},
                                                #{companyName, jdbcType=VARCHAR},
                                                #{companyId, jdbcType=VARCHAR},
                                                #{deptName, jdbcType=VARCHAR},
                                                #{deptId, jdbcType=BIGINT},
                                                #{salaryTypeCode,jdbcType=VARCHAR},
                                                #{salaryTypeName,jdbcType=VARCHAR},
                                                #{workProcessId, jdbcType=VARCHAR},
                                                #{workProcessName, jdbcType=VARCHAR},
                                                #{workProcessChildId, jdbcType=VARCHAR},
                                                #{workProcessChildName, jdbcType=VARCHAR},
                                                #{price, jdbcType=DECIMAL},
                                                                                                                                                #{loginUserId, jdbcType=BIGINT},
    #{loginUserName, jdbcType=VARCHAR},
    #{now}
)
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.master.bean.dto.MPiecePriceDTO">
        UPDATE
        M_PIECE_PRICE
        SET
        ID = #{id,jdbcType=VARCHAR},
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
        COMPANY_ID = #{companyId,jdbcType=VARCHAR},
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
        DEPT_ID = #{deptId,jdbcType=BIGINT},
        WORK_PROCESS_ID = #{workProcessId,jdbcType=VARCHAR},
        WORK_PROCESS_NAME = #{workProcessName,jdbcType=VARCHAR},
        WORK_PROCESS_CHILD_ID = #{workProcessChildId,jdbcType=VARCHAR},
        WORK_PROCESS_CHILD_NAME = #{workProcessChildName,jdbcType=VARCHAR},
        SALARY_TYPE_CODE = #{salaryTypeCode,jdbcType=VARCHAR},
        SALARY_TYPE_NAME = #{salaryTypeName,jdbcType=VARCHAR},
        PRICE = #{price,jdbcType=DECIMAL},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            M_PIECE_PRICE
        WHERE
            id = #{id}
    </delete>
</mapper>

