<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MPortMapper">
<!--新增-->
    <insert id="insertPort" parameterType="com.yy.ppm.master.bean.dto.MPortDTO">
        INSERT INTO M_PORT(
            ID,
            PORT_CODE,
            PORT_NAME,
            NATION_CODE,
            NATION_NAME,
            IS_DOMESTIC,
            PROVINCE_CODE,
            PROVINCE_NAME,
            CITY_CODE,
            CITY_NAME,
            SORT_NUM,
            ROUTE_CODE,
            ROUTE_NAME,
            shorthand_Code,
            CREATE_BY,
            create_by_name,
            CREATE_TIME
        )VALUES(
           #{id, jdbcType=BIGINT},
           #{portCode,jdbcType=VARCHAR},
           #{portName,jdbcType=VARCHAR},
           #{nationCode,jdbcType=VARCHAR},
           #{nationName,jdbcType=VARCHAR},
           #{isDomestic,jdbcType=CHAR},
           #{provinceCode,jdbcType=VARCHAR},
           #{provinceName,jdbcType=VARCHAR},
           #{cityCode,jdbcType=VARCHAR},
           #{cityName,jdbcType=VARCHAR},
           #{sortNum,jdbcType=VARCHAR},
           #{routeCode,jdbcType=VARCHAR},
           #{routeName,jdbcType=VARCHAR},
           #{shorthandCode,jdbcType=VARCHAR},
           #{loginUserId},
           #{loginUserName},
           #{now}
        )
    </insert>

<!--更新-->
    <update id="updatePort" parameterType="com.yy.ppm.master.bean.dto.MPortDTO">
        UPDATE
            M_PORT
        SET
            PORT_NAME = #{portName,jdbcType=VARCHAR},
            PORT_CODE = #{portCode,jdbcType=VARCHAR},
            NATION_NAME = #{nationName,jdbcType=VARCHAR},
            NATION_CODE = #{nationCode,jdbcType=VARCHAR},
            PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
            PROVINCE_NAME = #{provinceName,jdbcType=VARCHAR},
            CITY_CODE = #{cityCode,jdbcType=VARCHAR},
            CITY_NAME = #{cityName,jdbcType=VARCHAR},
            ROUTE_CODE = #{routeCode,jdbcType=VARCHAR},
            ROUTE_NAME = #{routeName,jdbcType=VARCHAR},
            SORT_NUM = #{sortNum,jdbcType=VARCHAR},
            shorthand_Code = #{shorthandCode,jdbcType=VARCHAR},
            UPDATE_BY = #{loginUserId},
            UPDATE_BY_NAME = #{loginUserName},
            UPDATE_TIME = #{now}
        WHERE
            ID = #{id}
    </update>

<!--删除-->
    <delete id="deleteById">
        DELETE FROM
            M_PORT
        WHERE
            ID = #{id}
    </delete>

<!--查询-->
    <select id="getList" resultType="com.yy.ppm.master.bean.dto.MPortDTO"
            parameterType="com.yy.ppm.master.bean.dto.MPortSearchDTO">
        SELECT
        ID,
        PORT_CODE,
        PORT_NAME,
        NATION_CODE,
        NATION_NAME,
        IS_DOMESTIC,
        PROVINCE_CODE,
        PROVINCE_NAME,
        CITY_CODE,
        CITY_NAME,
        SORT_NUM,
        CREATE_BY,
        create_by_name,
        CREATE_TIME,
        UPDATE_BY,
        update_BY_NAME,
        UPDATE_TIME,
        ROUTE_CODE,
        ROUTE_NAME,
        SHORTHAND_CODE
        FROM M_PORT
        <where>
            IS_DOMESTIC = #{isDomestic}
            <if test="portName != null and portName != ''">
                <bind name="portName" value="'%' + portName + '%'"/>
                AND (PORT_NAME LIKE  #{portName,jdbcType=VARCHAR})
            </if>
            <if test="shorthandCode != null and shorthandCode != ''">
                <bind name="shorthandCode" value="'%' + shorthandCode + '%'"/>
                AND (SHORTHAND_CODE LIKE  #{shorthandCode,jdbcType=VARCHAR})
            </if>
        </where>
        ORDER BY SORT_NUM ASC
    </select>

<!--id查询-->
    <select id="getPortById" resultType="com.yy.ppm.master.bean.dto.MPortDTO">
        SELECT
        ID,
        PORT_CODE,
        PORT_NAME,
        NATION_CODE,
        NATION_NAME,
        IS_DOMESTIC,
        PROVINCE_CODE,
        PROVINCE_NAME,
        CITY_CODE,
        CITY_NAME,
        SORT_NUM,
        CREATE_BY,
        create_by_name,
        CREATE_TIME,
        UPDATE_BY,
        update_BY_NAME,
        UPDATE_TIME,
        ROUTE_CODE,
        SHORTHAND_CODE,
        ROUTE_NAME
        FROM M_PORT
        WHERE ID = #{id,jdbcType=INTEGER}
    </select>

    <select id="getByPortCode" resultType="com.yy.ppm.master.bean.dto.MPortDTO">
		SELECT
			*
		FROM
			(
		        SELECT
		            ID,
		            PORT_CODE,
		            PORT_NAME,
		            NATION_CODE,
		            NATION_NAME,
		            IS_DOMESTIC,
		            PROVINCE_CODE,
		            PROVINCE_NAME,
		            CITY_CODE,
		            CITY_NAME,
		            SORT_NUM,
		            CREATE_BY,
		            create_by_name,
		            CREATE_TIME,
		            UPDATE_BY,
		            update_BY_NAME,
		            UPDATE_TIME,
		            ROUTE_CODE,
		            SHORTHAND_CODE,
		            ROUTE_NAME
		        FROM M_PORT
		        WHERE PORT_CODE = #{portCode,jdbcType=VARCHAR}
			)
		WHERE
			ROWNUM = 1
    </select>

</mapper>
