<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MWorkProcessMapper">

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.master.bean.dto.MWorkProcessDTO" parameterType="com.yy.ppm.master.bean.dto.MWorkProcessSearchDTO">
        SELECT
            A.ID,
            A.NEW_PROCESS,
            A.IS_CONFIRM,
            A.PARENT_ID,
            A.PROCESS_CD,
            A.PROCESS_NM,
            A.PROCESS_CD AS CD,
            A.PROCESS_NM AS NM,
            A.PLAN_TYPE_CD,
            A.PLAN_TYPE_NM,
            A.SHORT_CD,
            A.PROCESS_TYPE_CD,
            A.IN_OUT_PORT_TYPE_CD,
            A.IS_SELECT_SUBTICKET,
            A.IS_FRONTIER,
            CASE
            A.IS_FRONTIER
            WHEN '1' THEN
            '是'
            WHEN '0' THEN
            '否' ELSE NULL
            END IS_FRONTIER_NM,
            A.IS_MEANWHILE,
            CASE
            A.IS_MEANWHILE
            WHEN '1' THEN
            '是'
            WHEN '0' THEN
            '否' ELSE NULL
            END IS_MEANWHILE_NM,
            A.IS_DISPATCH_TALLY_SH,
            CASE
            A.IS_DISPATCH_TALLY_SH
            WHEN '1' THEN
            '调度室'
            WHEN '2' THEN
            '库场队' ELSE NULL
            END IS_DISPATCH_TALLY_SH_NM,
            CASE
            A.IS_SELECT_SUBTICKET
            WHEN '1' THEN
            '是'
            WHEN '0' THEN
            '否' ELSE NULL
            END IS_SELECT_SUBTICKET_NM,
            A.IS_TALLY_COURSE,
            CASE
            A.IS_TALLY_COURSE
            WHEN '1' THEN
            '是'
            WHEN '0' THEN
            '否' ELSE NULL
            END IS_TALLY_COURSE_NM,
            A.IS_MERGE_TICKET,
            CASE
            A.IS_MERGE_TICKET
            WHEN '1' THEN
            '是'
            WHEN '0' THEN
            '否' ELSE NULL
            END IS_MERGE_TICKET_NM,
            A.IS_CREATE_TICKET,
            CASE
            A.IS_CREATE_TICKET
            WHEN '1' THEN
            '是'
            WHEN '0' THEN
            '否' ELSE NULL
            END IS_CREATE_TICKET_NM,
            A.IS_DIRECT_ACCESS,
            CASE
            A.IS_DIRECT_ACCESS
            WHEN '1' THEN
            '是'
            WHEN '0' THEN
            '否' ELSE NULL
            END IS_DIRECT_ACCESS_NM,
            A.IS_DISPATCH_TALLY,
            CASE
            A.IS_DISPATCH_TALLY
            WHEN '1' THEN
            '调度室'
            WHEN '2' THEN
            '库场队' ELSE NULL
            END IS_DISPATCH_TALLY_NM,
            A.TALLY_DATA_STAT,
            CASE
            A.TALLY_DATA_STAT
            WHEN '10' THEN
            '集疏港'
            WHEN '20' THEN
            '直取'
            WHEN '30' THEN
            '倒运' ELSE NULL
            END TALLY_DATA_STAT_NM,
            A.IS_TAKE,
            A.SOURCE_CD,
            A.TARGET_CD,
            A.SOURCE_NM,
            A.TARGET_NM,
            A.IS_TALLY_TON,
            A.IS_OPERATION_TON,
            A.IS_THROUGHPUT,
            A.IS_NATURAL_TON,
            A.IS_SETTLE,
            A.IS_PRE_PROCESS,
            A.UPDATE_POINT,
            A.IN_OUT_STORAGE_TYPE_CD,
            A.SORT_NUM,
            A.REMARK,
            A.CREATE_BY_NAME,
            A.IS_CARGO_PACKAGE_CHANGE,
            CASE
            A.IS_CARGO_PACKAGE_CHANGE
            WHEN '1' THEN
            '是' ELSE '否'
            END IS_CARGO_PACKAGE_CHANGE_LABEL,
            B.DICT_LABEL processTypeNm,
            D.DICT_LABEL inOutPortTypeNm,
            E.DICT_LABEL isTallyTonLabel,
            F.DICT_LABEL isOperationTonLabel,
            G.DICT_LABEL isThroughputLabel,
            H.DICT_LABEL isNaturalTonLabel,
            J.DICT_LABEL inOutStorageTypeNm,
            M.DICT_LABEL sourceNm,
            N.DICT_LABEL targetNm,
            I.DICT_LABEL isSettleLabel,
            K.DICT_LABEL isPreProcessLabel
        FROM
            M_WORK_PROCESS A
            LEFT JOIN M_DICT_DATA B ON B.DICT_VALUE = A.PROCESS_TYPE_CD AND B.DICT_TYPE = 'PROCESS_TYPE'
            LEFT JOIN M_DICT_DATA D ON D.DICT_VALUE = A.IN_OUT_PORT_TYPE_CD AND D.DICT_TYPE = 'IN_OUT_PORT_TYPE'
            LEFT JOIN M_DICT_DATA E ON E.DICT_VALUE = A.IS_TALLY_TON AND E.DICT_TYPE = 'IS'
            LEFT JOIN M_DICT_DATA F ON F.DICT_VALUE = A.IS_OPERATION_TON AND F.DICT_TYPE = 'IS'
            LEFT JOIN M_DICT_DATA G ON G.DICT_VALUE = A.IS_THROUGHPUT AND G.DICT_TYPE = 'IS'
            LEFT JOIN M_DICT_DATA H ON H.DICT_VALUE = A.IS_NATURAL_TON AND H.DICT_TYPE = 'IS'
            LEFT JOIN M_DICT_DATA I ON I.DICT_VALUE = A.IS_SETTLE AND I.DICT_TYPE = 'IS'
            LEFT JOIN M_DICT_DATA K ON K.DICT_VALUE = A.IS_PRE_PROCESS AND K.DICT_TYPE = 'IS'
            LEFT JOIN M_DICT_DATA J ON J.DICT_VALUE = A.IN_OUT_STORAGE_TYPE_CD AND J.DICT_TYPE = 'IN_OUT_STORAGE_TYPE'
            LEFT JOIN M_DICT_DATA M ON M.DICT_VALUE = A.SOURCE_CD AND M.DICT_TYPE = 'SOURCE_TARGET_TYPE'
            LEFT JOIN M_DICT_DATA N ON N.DICT_VALUE = A.TARGET_CD AND N.DICT_TYPE = 'SOURCE_TARGET_TYPE'
        <where>
            <if test="id != null">
                and A.ID = #{id}
            </if>
            <if test="parentId != null">
                and A.PARENT_ID = #{parentId}
            </if>
            <if test="processCd != null and processCd != ''">
                and A.PROCESS_CD = #{processCd}
            </if>
            <if test="processNm != null and processNm != ''">
                <bind name="processNmLike" value="'%' + processNm + '%'"/>
                and (A.PROCESS_NM LIKE #{processNmLike,jdbcType=VARCHAR} or A.SHORT_CD like
                #{processNmLike,jdbcType=VARCHAR})
            </if>
            <if test="processTypeCd != null and processTypeCd != ''">
                and A.PROCESS_TYPE_CD = #{processTypeCd}
            </if>
            <if test="inOutPortTypeCd != null and inOutPortTypeCd != ''">
                and A.IN_OUT_PORT_TYPE_CD = #{inOutPortTypeCd}
            </if>
            <if test="isSelectSubticket != null and isSelectSubticket != ''">
                and A.IS_SELECT_SUBTICKET = #{isSelectSubticket}
            </if>
            <if test="isMergeTicket != null and isMergeTicket != ''">
                and A.IS_MERGE_TICKET = #{isMergeTicket}
            </if>
            <if test="isCreateTicket != null and isCreateTicket != ''">
                and A.IS_CREATE_TICKET = #{isCreateTicket}
            </if>
            <if test="isDirectAccess != null and isDirectAccess != ''">
                and A.IS_DIRECT_ACCESS = #{isDirectAccess}
            </if>
            <if test="tallyDataStat != null and tallyDataStat != ''">
                and A.TALLY_DATA_STAT = #{tallyDataStat}
            </if>
            <if test="isDispatchTally != null and isDispatchTally != ''">
                and A.IS_DISPATCH_TALLY = #{isDispatchTally}
            </if>
            <if test="updatePoint != null and updatePoint != ''">
                and A.UPDATE_POINT = #{updatePoint}
            </if>
            <if test="isTake != null and isTake != ''">
                and A.IS_TAKE = #{isTake}
            </if>
            <if test="sourceCd != null and sourceCd != ''">
                and A.SOURCE_CD = #{sourceCd}
            </if>
            <if test="targetCd != null and targetCd != ''">
                and A.TARGET_CD = #{targetCd}
            </if>
            <if test="isTallyTon != null and isTallyTon != ''">
                and A.IS_TALLY_TON = #{isTallyTon}
            </if>
            <if test="isOperationTon != null and isOperationTon != ''">
                and A.IS_OPERATION_TON = #{isOperationTon}
            </if>
            <if test="isThroughput != null and isThroughput != ''">
                and A.IS_THROUGHPUT = #{isThroughput}
            </if>
            <if test="isNaturalTon != null and isNaturalTon != ''">
                and A.IS_NATURAL_TON = #{isNaturalTon}
            </if>
            <if test="isSettle != null and isSettle != ''">
                and A.IS_SETTLE = #{isSettle}
            </if>
            <if test="isPreProcess != null and isPreProcess != ''">
                and A.IS_PRE_PROCESS = #{isPreProcess}
            </if>

            <if test="inOutStorageTypeCd != null and inOutStorageTypeCd != ''">
                and A.IN_OUT_STORAGE_TYPE_CD = #{inOutStorageTypeCd}
            </if>
        </where>
        order by A.SORT_NUM,A.PROCESS_NM
    </select>
    <!-- 根据id查询数据 -->
    <select id="getById" resultType="com.yy.ppm.master.bean.dto.MWorkProcessDTO" parameterType="java.lang.Long">
        SELECT
        ID,
        PARENT_ID,
        PROCESS_CD,
        PROCESS_NM,
        PLAN_TYPE_CD,
        PLAN_TYPE_NM,
        SHORT_CD,
        PROCESS_TYPE_CD,
        IN_OUT_PORT_TYPE_CD,
        IS_SELECT_SUBTICKET,
        IS_MERGE_TICKET,
        IS_CREATE_TICKET,
        IS_DIRECT_ACCESS,
        IS_DISPATCH_TALLY,
        TALLY_DATA_STAT,
        UPDATE_POINT,
        IS_TAKE,
        SOURCE_CD,
        TARGET_CD,
        SOURCE_NM,
        TARGET_NM,
        IS_TALLY_TON,
        IS_OPERATION_TON,
        IS_THROUGHPUT,
        IS_NATURAL_TON,
        IS_SETTLE,
        IS_PRE_PROCESS,
        IN_OUT_STORAGE_TYPE_CD,
        IS_CARGO_PACKAGE_CHANGE,
        SORT_NUM,
        REMARK,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        m_work_process
        <where>
            ID = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.master.bean.dto.MWorkProcessDTO">
        INSERT INTO m_work_process(ID,
                                   PARENT_ID,
                                   PROCESS_CD,
                                   PROCESS_NM,
                                   SHORT_CD,
                                   PLAN_TYPE_CD,
                                   PLAN_TYPE_NM,
                                   PROCESS_TYPE_CD,
                                   IN_OUT_PORT_TYPE_CD,
                                   IS_TALLY_COURSE,
                                   IS_SELECT_SUBTICKET,
                                   IS_MERGE_TICKET,
                                   IS_CREATE_TICKET,
                                   IS_DIRECT_ACCESS,
                                   IS_DISPATCH_TALLY,
                                   UPDATE_POINT,
                                   IS_TAKE,
                                   SOURCE_CD,
                                   TARGET_CD,
                                   SOURCE_NM,
                                   TARGET_NM,
                                   IS_TALLY_TON,
                                   IS_OPERATION_TON,
                                   IS_THROUGHPUT,
                                   IS_NATURAL_TON,
                                   IS_SETTLE,
                                   IS_PRE_PROCESS,
                                   IN_OUT_STORAGE_TYPE_CD,
                                   IS_CARGO_PACKAGE_CHANGE,
                                   SORT_NUM,
                                   TALLY_DATA_STAT,
                                   IS_FRONTIER,
                                   IS_MEANWHILE,
                                   IS_DISPATCH_TALLY_SH,
                                   REMARK,
                                   NEW_PROCESS,
                                   IS_CONFIRM,
                                   CREATE_BY,
                                   CREATE_BY_NAME,
                                   CREATE_TIME)
        VALUES (#{id},
                #{parentId, jdbcType=BIGINT},
                #{processCd, jdbcType=VARCHAR},
                #{processNm, jdbcType=VARCHAR},
                #{shortCd, jdbcType=VARCHAR},
                #{planTypeCd, jdbcType=VARCHAR},
                #{planTypeNm, jdbcType=VARCHAR},
                #{processTypeCd, jdbcType=VARCHAR},
                #{inOutPortTypeCd, jdbcType=VARCHAR},
                #{isTallyCourse, jdbcType=VARCHAR},
                #{isSelectSubticket, jdbcType=VARCHAR},
                #{isMergeTicket, jdbcType=VARCHAR},
                #{isCreateTicket, jdbcType=VARCHAR},
                #{isDirectAccess, jdbcType=VARCHAR},
                #{isDispatchTally, jdbcType=VARCHAR},
                #{updatePoint, jdbcType=VARCHAR},
                #{isTake, jdbcType=VARCHAR},
                #{sourceCd, jdbcType=VARCHAR},
                #{targetCd, jdbcType=VARCHAR},
                #{sourceNm, jdbcType=VARCHAR},
                #{targetNm, jdbcType=VARCHAR},
                #{isTallyTon, jdbcType=VARCHAR},
                #{isOperationTon, jdbcType=VARCHAR},
                #{isThroughput, jdbcType=VARCHAR},
                #{isNaturalTon, jdbcType=VARCHAR},
                #{isSettle, jdbcType=VARCHAR},
                #{isPreProcess, jdbcType=VARCHAR},
                #{inOutStorageTypeCd, jdbcType=VARCHAR},
                #{isCargoPackageChange, jdbcType=VARCHAR},
                #{sortNum, jdbcType=INTEGER},
                #{tallyDataStat, jdbcType=VARCHAR},
                #{isFrontier,jdbcType=VARCHAR},
                #{isMeanwhile,jdbcType=VARCHAR},
                #{isDispatchTallySh,jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR},
                #{newProcess, jdbcType=VARCHAR},
                #{isConfirm, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now, jdbcType=TIMESTAMP})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.master.bean.dto.MWorkProcessDTO">
        UPDATE
        m_work_process
        SET
        PARENT_ID = #{parentId, jdbcType=BIGINT},
        PROCESS_CD = #{processCd, jdbcType=VARCHAR},
        PROCESS_NM = #{processNm, jdbcType=VARCHAR},
        SHORT_CD = #{shortCd, jdbcType=VARCHAR},
        PLAN_TYPE_CD = #{planTypeCd, jdbcType=VARCHAR},
        PLAN_TYPE_NM = #{planTypeNm, jdbcType=VARCHAR},
        PROCESS_TYPE_CD = #{processTypeCd, jdbcType=VARCHAR},
        IN_OUT_PORT_TYPE_CD = #{inOutPortTypeCd, jdbcType=VARCHAR},
        IS_TALLY_COURSE = #{isTallyCourse, jdbcType=VARCHAR},
        IS_SELECT_SUBTICKET = #{isSelectSubticket, jdbcType=VARCHAR},
        IS_MERGE_TICKET = #{isMergeTicket, jdbcType=VARCHAR},
        IS_CREATE_TICKET = #{isCreateTicket, jdbcType=VARCHAR},
        IS_DIRECT_ACCESS = #{isDirectAccess, jdbcType=VARCHAR},
        IS_DISPATCH_TALLY = #{isDispatchTally, jdbcType=VARCHAR},
        UPDATE_POINT = #{updatePoint, jdbcType=VARCHAR},
        TALLY_DATA_STAT = #{tallyDataStat, jdbcType=VARCHAR},
        IS_TAKE = #{isTake, jdbcType=VARCHAR},
        SOURCE_CD = #{sourceCd, jdbcType=VARCHAR},
        TARGET_CD = #{targetCd, jdbcType=VARCHAR},
        SOURCE_NM = #{sourceNm, jdbcType=VARCHAR},
        TARGET_NM = #{targetNm, jdbcType=VARCHAR},
        IS_TALLY_TON = #{isTallyTon, jdbcType=VARCHAR},
        IS_OPERATION_TON = #{isOperationTon, jdbcType=VARCHAR},
        IS_THROUGHPUT = #{isThroughput, jdbcType=VARCHAR},
        IS_NATURAL_TON = #{isNaturalTon, jdbcType=VARCHAR},
        IS_SETTLE = #{isSettle, jdbcType=VARCHAR},
        IS_PRE_PROCESS = #{isPreProcess, jdbcType=VARCHAR},
        IN_OUT_STORAGE_TYPE_CD = #{inOutStorageTypeCd, jdbcType=VARCHAR},
        IS_FRONTIER = #{isFrontier,jdbcType=VARCHAR},
        IS_MEANWHILE = #{isMeanwhile,jdbcType=VARCHAR},
        IS_DISPATCH_TALLY_SH = #{isDispatchTallySh,jdbcType=VARCHAR},
        SORT_NUM = #{sortNum, jdbcType=VARCHAR},
        IS_CARGO_PACKAGE_CHANGE = #{isCargoPackageChange, jdbcType=INTEGER},
        REMARK = #{remark, jdbcType=VARCHAR},
        NEW_PROCESS = #{newProcess, jdbcType=VARCHAR},
        IS_CONFIRM = #{isConfirm, jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now, jdbcType=TIMESTAMP}
        <where>
            ID = #{id}
        </where>
    </update>

    <select id="isRepeateSubProcess" resultType="java.lang.Integer">
        select
            count(*)
        from
            m_work_process
        where
            parent_id=#{parentId} and process_nm=#{processNm}
        <if test="processCd!=null and processCd!=''">
            and process_cd!=#{processCd}
        </if>
    </select>
</mapper>
