<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.MWorkScheduleMapper">

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.master.bean.dto.MWorkScheduleDTO">
        SELECT
            A.ID,
            B.DICT_VALUE WORK_SCHEDULE_CODE,
            B.DICT_LABEL WORK_SCHEDULE_LABEL,
            A.START_DAY_TYPE,
            A.START_TIME,
            A.END_DAY_TYPE,
            A.END_TIME
        FROM
            M_DICT_DATA B LEFT JOIN M_WORK_SCHEDULE A
            ON B.DICT_VALUE = A.WORK_SCHEDULE_CODE
        WHERE  B.DICT_TYPE = 'WORK_SCHEDULE'
        ORDER BY B.SORT_NUM
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.master.bean.dto.MWorkScheduleDTO">
        INSERT INTO m_work_schedule(
            ID,
            WORK_SCHEDULE_CODE,
            START_DAY_TYPE,
            START_TIME,
            END_DAY_TYPE,
            END_TIME,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME
        )VALUES (
            #{id},
            #{workScheduleCode},
            #{startDayType},
            #{startTime},
            #{endDayType},
            #{endTime},
            #{loginUserId},
            #{loginUserName},
            #{now}
        )
    </insert>
</mapper>
