<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.WaifuProcessPriceMapper">
    <select id="getList" resultType="com.yy.ppm.master.bean.dto.WaifuProcessPriceRes">
        select id, waifu_package_code, waifu_package_name, process_code,
               process_name, process_detail_code, process_detail_name,
               position_code, position_name, dept_id, dept_name, allot_type,
               machine_type_code, machine_type_name, rate,
               update_by, update_by_name, update_time, remark, create_by, create_by_name, create_time
        from M_WAIFU_PRICE_PROCESS
        <where>
            <if test="deptId != null and deptId!=''">
                and dept_id = #{deptId}
            </if>
            <if test="waifuPackageCode != null and waifuPackageCode !=''">
                and waifu_package_code = #{waifuPackageCode}
            </if>
            <if test="allotType != null ">
                and allot_Type = #{allotType}
            </if>
            <if test="processCode != null and processCode !=''">
                and process_Code = #{processCode}
            </if>
            <if test="positionCode != null and positionCode !=''">
                and position_Code = #{positionCode}
            </if>
        </where>
        order by CREATE_TIME desc
    </select>
    <select id="exportExcel" resultType="com.yy.ppm.master.bean.dto.WaifuProcessPriceExcelDTO">
        select id, waifu_package_code, waifu_package_name, process_code,
               process_name, process_detail_code, process_detail_name,
               position_code, position_name, dept_id, dept_name, allot_type,
               machine_type_code, machine_type_name, rate,
               update_by, update_by_name, update_time, remark, create_by, create_by_name, create_time
        from M_WAIFU_PRICE_PROCESS
        <where>
            <if test="deptId != null and deptId!=''">
                and dept_id = #{deptId}
            </if>
            <if test="waifuPackageCode != null and waifuPackageCode !=''">
                and waifu_package_code = #{waifuPackageCode}
            </if>
            <if test="allotType != null ">
                and allot_Type = #{allotType}
            </if>
            <if test="processCode != null and processCode !=''">
                and process_Code = #{processCode}
            </if>
            <if test="positionCode != null and positionCode !=''">
                and position_Code = #{positionCode}
            </if>
        </where>
    </select>
    <select id="getMainProcessList" resultType="map">
        select
            PROCESS_CD "value",
            PROCESS_NM "label"
        from M_WORK_PROCESS
        where NEW_PROCESS = '1' and PARENT_ID = '-1'
    </select>

    <select id="getPositionList" resultType="map">
        select DICT_LABEL "label" ,DICT_VALUE "value"
        from M_DICT_DATA where DICT_TYPE = 'MACHINE_LOCATION'
    </select>
    <select id="getProcessListNoMain" resultType="map">
        select
            PROCESS_CD "value",
            PROCESS_NM "label"
        from M_WORK_PROCESS
        where NEW_PROCESS = '1' and PARENT_ID != '-1'
          and PARENT_ID in (select ID from M_WORK_PROCESS where PROCESS_CD = #{processCode,jdbcType=VARCHAR} )
    </select>

    <select id="getDeptOut" resultType="java.util.Map">
        select id "value",DEPT_NAME "label"
        from SYS_DEPT where IN_OUT_TYPE = 'O' and DEPT_LEVEL = 1
    </select>
    <select id="machinTypeList" resultType="map">
        select MAC_TYPE_CODE "value",MAC_TYPE_NAME "label"
        from M_MACHINE_TYPE
    </select>
    <delete id="deleteFunc">
        delete
        from M_WAIFU_PRICE_PROCESS
        where id =#{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertBatch">
        INSERT INTO
         M_WAIFU_PRICE_PROCESS (
        ID,
        WAIFU_PACKAGE_CODE,
        WAIFU_PACKAGE_NAME,
        PROCESS_CODE,
        PROCESS_NAME,
        PROCESS_DETAIL_CODE,
        PROCESS_DETAIL_NAME,
        POSITION_CODE,
        POSITION_NAME,
        DEPT_ID,
        DEPT_NAME,
        ALLOT_TYPE,
        MACHINE_TYPE_CODE,
        MACHINE_TYPE_NAME,
        RATE,
        REMARK,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME
        )
        <foreach collection="list" item="item"  open="(" close=")" separator=" UNION ALL " >
            SELECT
            #{item.id, jdbcType=VARCHAR},
            #{item.waifuPackageCode, jdbcType=VARCHAR},
            #{item.waifuPackageName, jdbcType=VARCHAR},
            #{item.processCode, jdbcType=VARCHAR},
            #{item.processName, jdbcType=VARCHAR},
            #{item.processDetailCode, jdbcType=VARCHAR},
            #{item.processDetailName, jdbcType=VARCHAR},
            #{item.positionCode, jdbcType=VARCHAR},
            #{item.positionName, jdbcType=VARCHAR},
            #{item.deptId, jdbcType=BIGINT},
            #{item.deptName, jdbcType=VARCHAR},
            #{item.allotType, jdbcType=VARCHAR},
            #{item.machineTypeCode, jdbcType=VARCHAR},
            #{item.machineTypeName, jdbcType=VARCHAR},
            #{item.rate, jdbcType=DECIMAL},
            #{item.remark, jdbcType=VARCHAR},
            #{loginUserId, jdbcType=BIGINT},
            #{loginUserName, jdbcType=VARCHAR},
            #{nowDate}
            FROM DUAL
        </foreach>
    </insert>
    <update id="updateBatch" parameterType="com.yy.ppm.master.bean.dto.WaifuProcessPriceReq">
        <foreach collection="list" open="BEGIN" close="END;" item="item" separator=";" index="index">
            UPDATE
            M_WAIFU_PRICE_PROCESS
            SET
            ID                       = #{item.id, jdbcType=BIGINT},
            WAIFU_PACKAGE_CODE       = #{item.waifuPackageCode, jdbcType=VARCHAR},
            WAIFU_PACKAGE_NAME       = #{item.waifuPackageName, jdbcType=VARCHAR},
            PROCESS_CODE             = #{item.processCode, jdbcType=VARCHAR},
            PROCESS_NAME             = #{item.processName, jdbcType=VARCHAR},
            PROCESS_DETAIL_CODE      = #{item.processDetailCode, jdbcType=VARCHAR},
            PROCESS_DETAIL_NAME      = #{item.processDetailName, jdbcType=VARCHAR},
            POSITION_CODE            = #{item.positionCode, jdbcType=VARCHAR},
            POSITION_NAME            = #{item.positionName, jdbcType=VARCHAR},
            DEPT_ID                  = #{item.deptId, jdbcType=BIGINT},
            DEPT_NAME                = #{item.deptName, jdbcType=VARCHAR},
            ALLOT_TYPE               = #{item.allotType, jdbcType=VARCHAR},
            MACHINE_TYPE_CODE        = #{item.machineTypeCode, jdbcType=VARCHAR},
            MACHINE_TYPE_NAME        = #{item.machineTypeName, jdbcType=VARCHAR},
            RATE                     = #{item.rate, jdbcType=DECIMAL},
            REMARK                   = #{item.remark, jdbcType=VARCHAR},
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{nowDate,jdbcType=TIMESTAMP}
            <where>
                id = #{item.id,jdbcType=BIGINT}
            </where>
            <if test="(list.size-1) == index">
                ;
            </if>
        </foreach>
    </update>

    <select id="waifuPackageCodeList" resultType="map">
        select DICT_VALUE "value",DICT_LABEL "label"
        from M_DICT_DATA where DICT_TYPE = 'WBHTFL'
    </select>
</mapper>

