<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.finance.mapper.FinaceSharePlatformMapper">

    <select id="getList" parameterType="com.yy.ppm.finance.bean.dto.FinacialSharing.FinaceSharePlatformSearchDTO"
    resultType="com.yy.ppm.finance.bean.dto.FinacialSharing.FinaceSharePlatformResDTO">
        select
            TFSPL.*,TFD.COMPANY_NAME,TFD.CUSTOMER_NAME,tfdi.invoice_amout
        from
            T_FD_SHARE_PLATFORM_LOG TFSPL
                left join T_FD_INVOICE TFD on TFSPL.INVOICE_ID = TFD.ID
                left join (select INVOICE_ID,sum(AMOUNT) invoice_amout from T_FD_INVOICE_DETAIL group by INVOICE_ID) tfdi on tfdi.INVOICE_ID = TFD.ID
        where status = '20'
            <if test="startTime!=null">
                to_char(TFSPL.OPER_TIME,'yyyy-MM-dd')>=to_char(#{startTime,jdbcType=TIMESTAMP},'yyyy-MM-dd')
            </if>
            <if test="endTime!=null">
              and to_char(TFSPL.OPER_TIME,'yyyy-MM-dd') &lt;=to_char(#{endTime,jdbcType=TIMESTAMP},'yyyy-MM-dd')
            </if>
    </select>
    <select id="getById"  resultType="com.yy.ppm.finance.bean.dto.FinacialSharing.FinaceSharePlatformResDTO">
        select *
        from T_FD_SHARE_PLATFORM_LOG
        where status = '20'
          and operId = #{operId,jdbcType=BIGINT}
    </select>
</mapper>