<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.finance.mapper.TFdBankCustomerPrepaymentMapper">

    <sql id="commonList">
        SELECT
        ID,
        PREPAYMENT_CODE,
        COMPANY_NAME,
        COMPANY_ID,
        PREPAYMENT_TYPE_CODE,
        PREPAYMENT_TYPE_NAME,
        CUSTOMER_ID,
        CUSTOMER_NAME,
        PREPAYMENT_TIME,
        PREPAYMENT_AMOUNT,
        UTILIZED_AMOUNT,
        PAYMENT_METHOD_CODE,
        PAYMENT_METHOD_NAME,
        BANK_NAME,
        BANK_ID,
        STATUS,
        REMARK,
        TRANS_SEQUENCE_IDN
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        TRUST_NO,
        BUS_TRUST_ID,
        BUS_TRUST_CARGO_ID
        FROM
        T_FD_BANK_CUSTOMER_PREPAYMENT
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="prepaymentCode != null and prepaymentCode != ''">
                <bind name="prepaymentCode_like" value="'%' + prepaymentCode + '%'"/>
                and PREPAYMENT_CODE LIKE #{prepaymentCode_like}
            </if>
            <if test="companyId != null">
                and COMPANY_ID = #{companyId}
            </if>
            <if test="prepaymentTypeCode != null and prepaymentTypeCode != ''">
                and PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode}
            </if>
            <if test="customerId != null and customerId != ''">
                and CUSTOMER_ID = #{customerId}
            </if>
            <if test="prepaymentTime != null">
                and PREPAYMENT_TIME = #{prepaymentTime}
            </if>
            <if test="utilizedAmount != null">
                and UTILIZED_AMOUNT = #{utilizedAmount}
            </if>
            <if test="paymentMethodCode != null">
                and PAYMENT_METHOD_CODE = #{paymentMethodCode}
            </if>
            <if test="bankName != null and bankName != ''">
                and BANK_NAME = #{bankName}
            </if>
            <if test="bankId != null">
                and BANK_ID = #{bankId}
            </if>
            <if test="status != null">
                and STATUS = #{status}
            </if>
            <if test="startTime != null">
                and PREPAYMENT_TIME &gt;= #{startTime,jdbcType=DATE}
            </if>
            <if test="endTime != null">
                and PREPAYMENT_TIME &lt;= #{endTime,jdbcType=DATE}
            </if>

        </where>
        ORDER BY CREATE_TIME DESC
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentSearchDTO">
        select
        *
        FROM
        ( SELECT
        TFBCP.ID,
        TFBCP.TRUST_NO,
        TFBCP.PREPAYMENT_CODE,
        TFBCP.COMPANY_NAME,
        TFBCP.COMPANY_ID,
        TFBCP.PREPAYMENT_TYPE_CODE,
        TFBCP.PREPAYMENT_TYPE_NAME,
        TFBCP.CUSTOMER_ID,
        TFBCP.CUSTOMER_NAME,
        TFBCP.PREPAYMENT_TIME,
        TFBCP.PREPAYMENT_AMOUNT,
        TFBCP.UTILIZED_AMOUNT,
        TFBCP.PAYMENT_METHOD_CODE,
        TFBCP.PAYMENT_METHOD_NAME,
        TFBCP.BANK_NAME,
        TFBCP.BANK_ID,
        TFBCP.STATUS,
        TFBCP.REMARK,
        TFBCP.TRANS_SEQUENCE_IDN,
        TFBCP.CREATE_BY,
        TFBCP.CREATE_BY_NAME,
        TFBCP.CREATE_TIME,
        TFBCP.UPDATE_BY,
        TFBCP.UPDATE_BY_NAME,
        TFBCP.UPDATE_TIME,
        TFBCP.VOID_BY,
        TFBCP.VOID_BY_NAME,
        TFBCP.VOID_TIME,
        TFBCP.BUS_TRUST_ID,
        TFBCP.BUS_TRUST_CARGO_ID,
        PREPAY_MODE_NAME,
        PREPAY_MODE_CODE,
        SOURCE_PREPAY_CODE,
        CASE
        WHEN TDS.SHIP_NAME IS NULL AND TFBCP.BUS_TRUST_ID IS NOT NULL
        THEN
            ( SELECT REGEXP_REPLACE( LISTAGG ( TO_CHAR( TDS.SHIP_NAME )|| '_' || TO_CHAR( TDSI.VOYAGE ), ',' ) WITHIN GROUP ( ORDER BY TDS.SHIP_NAME), '([^,]+)(,\1)+','\1' ) AS "shipVoyageName"
            FROM  T_BUS_TRUST TBT
            LEFT JOIN
            T_BUS_TRUST_CARGO TBTC
            ON TBT.ID = TBTC.TRUST_ID
            LEFT JOIN
            T_BUS_CARGO_INFO TBCI
            ON TBTC.CARGO_INFO_ID = TBCI.ID
            LEFT JOIN
            T_DIS_SHIPVOYAGE TDS
            on TBCI.SHIPVOYAGE_ID = TDS.ID
            LEFT JOIN
            T_DIS_SHIPVOYAGE_ITEM TDSI
            on TBCI.SHIPVOYAGE_ITEM_ID = TDSI.ID
            WHERE
            TFBCP.BUS_TRUST_ID = TBT.ID )
        ELSE TO_CHAR( TDS.SHIP_NAME )|| '_' || TO_CHAR( TDSI.VOYAGE )
        END "shipVoyageName",

        CASE
        WHEN TDS.SHIP_NAME IS NULL AND TFBCP.BUS_TRUST_ID IS NOT NULL
        THEN
            ( SELECT  REGEXP_REPLACE( LISTAGG ( TO_CHAR( TBT.SHIPVOYAGE_ITEM_ID), ',' ) WITHIN GROUP ( ORDER BY TDS.SHIP_NAME), '([^,]+)(,\1)+', '\1' )
            AS "shipVoyageIds"
            FROM
            T_BUS_TRUST TBT
            LEFT JOIN
            T_BUS_TRUST_CARGO TBTC
            ON TBT.ID = TBTC.TRUST_ID
            LEFT JOIN
            T_BUS_CARGO_INFO TBCI
            ON TBTC.CARGO_INFO_ID = TBCI.ID
            LEFT JOIN
            T_DIS_SHIPVOYAGE TDS
            on TBCI.SHIPVOYAGE_ID = TDS.ID
            LEFT JOIN
            T_DIS_SHIPVOYAGE_ITEM TDSI
            on TBCI.SHIPVOYAGE_ITEM_ID = TDSI.ID
            WHERE
            TFBCP.BUS_TRUST_ID = TBT.ID )
        ELSE to_char(TBT.SHIPVOYAGE_ITEM_ID)
        END "shipVoyageIds"

        FROM
        T_FD_BANK_CUSTOMER_PREPAYMENT TFBCP
        LEFT JOIN
        T_BUS_TRUST TBT
        ON TFBCP.BUS_TRUST_ID = TBT.ID
        LEFT JOIN
        T_DIS_SHIPVOYAGE TDS
        ON TBT.SHIPVOYAGE_ID = TDS.ID
        LEFT JOIN
        T_DIS_SHIPVOYAGE_ITEM TDSI
        on TBT.SHIPVOYAGE_ITEM_ID = TDSI.ID
        <where>
            <if test="id != null">
                and TFBCP.ID = #{id}
            </if>
            <if test="prepaymentCode != null and prepaymentCode != ''">
                <bind name="prepaymentCode_like" value="'%' + prepaymentCode + '%'"/>
                and TFBCP.PREPAYMENT_CODE LIKE #{prepaymentCode_like}
            </if>
            <if test="companyId != null">
                and TFBCP.COMPANY_ID = #{companyId}
            </if>
            <if test="prepaymentTypeCode != null and prepaymentTypeCode != ''">
                and TFBCP.PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode}
            </if>
            <if test="customerId != null and customerId != ''">
                and TFBCP.CUSTOMER_ID = #{customerId}
            </if>
            <if test="prepaymentTime != null">
                and TFBCP.PREPAYMENT_TIME = #{prepaymentTime}
            </if>
            <if test="utilizedAmount != null">
                and TFBCP.UTILIZED_AMOUNT = #{utilizedAmount}
            </if>
            <if test="paymentMethodCode != null">
                and TFBCP.PAYMENT_METHOD_CODE = #{paymentMethodCode}
            </if>
            <if test="bankName != null and bankName != ''">
                and TFBCP.BANK_NAME = #{bankName}
            </if>
            <if test="trustNo != null and trustNo != ''">
            <bind name="trustNo_like" value="'%'+trustNo+'%'"/>
                and TBT.TRUST_NO LIKE #{trustNo_like}
            </if>
            <if test="bankId != null">
                and TFBCP.BANK_ID = #{bankId}
            </if>
            <if test="status != null">
                and TFBCP.STATUS = #{status}
            </if>
            <if test="startTime != null">
                and TFBCP.PREPAYMENT_TIME &gt;= #{startTime,jdbcType=DATE}
            </if>
            <if test="endTime != null">
                and TFBCP.PREPAYMENT_TIME &lt;= #{endTime,jdbcType=DATE}</if>

        </where>)
        <where>
            <if test="shipvoyageItemId != null and shipvoyageItemId !=''">
                <bind name="shipvoyageItemId_like" value="'%'+shipvoyageItemId+'%'"/>
                AND "shipVoyageIds" LIKE #{shipvoyageItemId_like}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="getBalanceList" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentSearchDTO">
        SELECT T1.COMPANY_ID,T1.COMPANY_NAME,T1.CUSTOMER_ID,T1.CUSTOMER_NAME,T1.PREPAYMENT_TYPE_CODE,
            T1.PREPAYMENT_TYPE_NAME, T1.ALL_PREPAYMENT_AMOUNT,T1.PREPAYMENT_AMOUNT,T1.UTILIZED_AMOUNT,
            T1.INVOICE_AMOUNT,T1.CARGO_DEPOSIT,NVL(T2.PAYMENT_AMOUNT,0) SHIP_DEPOSIT,CARGO_DEPOSIT_CAN
        FROM (
            SELECT T.COMPANY_ID,T.COMPANY_NAME,T.CUSTOMER_ID,T.CUSTOMER_NAME,
                T.PREPAYMENT_TYPE_CODE,T.PREPAYMENT_TYPE_NAME,
                NVL(SUM(DECODE(T.PREPAY_MODE_CODE,'10',T.PREPAYMENT_AMOUNT,0)),0) AS ALL_PREPAYMENT_AMOUNT,
                NVL(SUM(T.PREPAYMENT_AMOUNT),0) AS PREPAYMENT_AMOUNT,
                NVL(SUM(T.UTILIZED_AMOUNT),0) AS UTILIZED_AMOUNT,
                NVL(SUM(T.INVOICE_AMOUNT),0) AS INVOICE_AMOUNT,
        sum(nvl(CARGO_DEPOSIT_CAN,0)) CARGO_DEPOSIT_CAN,

        NVL(SUM(T.CARGO_DEPOSIT),0) CARGO_DEPOSIT
            FROM (
            SELECT COMPANY_ID,COMPANY_NAME,CUSTOMER_ID,CUSTOMER_NAME,PREPAYMENT_TYPE_CODE,PREPAYMENT_TYPE_NAME,
            PREPAYMENT_AMOUNT,UTILIZED_AMOUNT,0.00 AS INVOICE_AMOUNT,TO_CHAR(PREPAY_MODE_CODE) AS PREPAY_MODE_CODE,
            DECODE(PREPAY_MODE_CODE,'20',PREPAYMENT_AMOUNT,0) CARGO_DEPOSIT,
            DECODE(PREPAY_MODE_CODE,'20',PREPAYMENT_AMOUNT-T_FD_BANK_CUSTOMER_PREPAYMENT.UTILIZED_AMOUNT,0) CARGO_DEPOSIT_CAN
            FROM T_FD_BANK_CUSTOMER_PREPAYMENT
            WHERE STATUS = 1
            UNION ALL
            SELECT COMPANY_ID,COMPANY_NAME,CUSTOMER_ID,CUSTOMER_NAME,cast(TO_CHAR(PREPAYMENT_TYPE_CODE) AS nvarchar2(50)),PREPAYMENT_TYPE_NAME,
            0.00 AS PREPAYMENT_AMOUNT,0.00 AS UTILIZED_AMOUNT,HAS_NOT_RECEIPT_AMOUNT INVOICE_AMOUNT,TO_CHAR('') AS PREPAY_MODE_CODE,0.00,0.00
            FROM T_FD_INVOICE
            WHERE STATUS = 1

        ) T
            GROUP BY T.COMPANY_ID,T.COMPANY_NAME,T.CUSTOMER_ID,T.CUSTOMER_NAME,T.PREPAYMENT_TYPE_CODE,T.PREPAYMENT_TYPE_NAME
        ) T1
        LEFT JOIN (
            SELECT TDSI.CUSTOMER_ID,NVL(SUM(TDSI.PAYMENT_AMOUNT),0) AS PAYMENT_AMOUNT
            FROM T_DIS_SHIPVOYAGE TDS
            INNER JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TDS.ID = TDSI.SHIPVOYAGE_ID
            WHERE TDS.DEL_FLAG = '0'
            GROUP BY TDSI.CUSTOMER_ID
        ) T2 ON T1.CUSTOMER_ID = T2.CUSTOMER_ID
        <where>
            <if test="companyId != null">
                and T1.COMPANY_ID = #{companyId}
            </if>
            <if test="prepaymentTypeCode != null and prepaymentTypeCode != ''">
                and T1.PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode}
            </if>
            <if test="customerId != null and customerId != ''">
                and T1.CUSTOMER_ID = #{customerId}
            </if>
        </where>
        ORDER BY T1.CUSTOMER_NAME,T1.CUSTOMER_ID
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="getBalanceDetailList" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPaymentDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentSearchDTO">
        SELECT * FROM (
            SELECT
                TO_CHAR(TFBCP.PREPAY_MODE_NAME) AS DETAIL_TYPE,
                DECODE(TFBCP.PREPAY_MODE_CODE,20,TFBCP.PREPAYMENT_AMOUNT * -1,TFBCP.PREPAYMENT_AMOUNT) AS AMOUNT,
                '' "shipVoyageName",
                TFBCP.CREATE_TIME PAYMENT_TIME,
                TFBCP.CUSTOMER_ID,
                TO_CHAR(TFBCP.PREPAYMENT_TYPE_CODE) AS PREPAYMENT_TYPE_CODE,
                TO_CHAR(TFBCP.PREPAYMENT_CODE) AS BUSINESS_NO,
                TFBCP.CREATE_BY_NAME,
                TFBCP.COMPANY_NAME
            FROM T_FD_BANK_CUSTOMER_PREPAYMENT TFBCP
            WHERE TFBCP.SOURCE_DEBTORPAYMENT_ID IS NULL
            AND TFBCP.STATUS = 1
            UNION ALL
            SELECT
                TO_CHAR(TFBCP.PREPAY_MODE_NAME) AS DETAIL_TYPE,
                TFBCP.PREPAYMENT_AMOUNT,
                '' "shipVoyageName",
                TFBCP.CREATE_TIME,
                TFBCP.CUSTOMER_ID,
                TO_CHAR(TFBCP.PREPAYMENT_TYPE_CODE),
                TO_CHAR(TFBCP.PREPAYMENT_CODE) AS BUSINESS_NO,
                TFBCP.CREATE_BY_NAME,
                TFBCP.COMPANY_NAME
            FROM T_FD_BANK_CUSTOMER_PREPAYMENT TFBCP
            INNER JOIN T_FD_DEBTORPAYMENT TFD ON TFBCP.SOURCE_DEBTORPAYMENT_ID = TFD.ID
            INNER JOIN T_FD_DEBTORPAYMENT_DETAIL TFDD ON TFD.ID = TFDD.DEBTORPAYMENT_ID
            WHERE TFBCP.SOURCE_DEBTORPAYMENT_ID IS NOT NULL
            AND TFBCP.STATUS = 1 AND TFD.STATUS = 1
            AND TFDD.DEBTORPAY_PAYMENT_TYPE_CODE = '20'
            UNION ALL
            SELECT
                '船舶押金' AS DETAIL_TYPE,
                DECODE(TDSI.PAYMENT_AMOUNT,NULL,0,TDSI.PAYMENT_AMOUNT * -1) AS AMOUNT,
                to_char(tds.ship_name || '_' || tdsi.voyage) "shipVoyageName",
                TDSI.CREATE_TIME,
                TDSI.CUSTOMER_ID,
                TO_CHAR('30'),
                '',
                TDSI.CREATE_BY_NAME,
                tdsi.COMPANY_NAME
            FROM T_DIS_SHIPVOYAGE TDS
            INNER JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TDS.ID = TDSI.SHIPVOYAGE_ID
            WHERE TDS.DEL_FLAG = '0' and ABS(nvl(DECODE(TDSI.PAYMENT_AMOUNT,NULL,0,TDSI.PAYMENT_AMOUNT * -1),0)) !=0
            UNION ALL
            SELECT
                '发票' AS DETAIL_TYPE,
                DECODE(TFI.INVOICE_AMOUNT,NULL,0,TFI.INVOICE_AMOUNT * -1),
                ttt.ship_name  "shipVoyageName",
                TFI.CREATE_TIME,
                TFI.CUSTOMER_ID,
                TO_CHAR(TFI.PREPAYMENT_TYPE_CODE),
                TO_CHAR(TFI.SYS_INVOICE_CODE),
                TFI.CREATE_BY_NAME,
                tfi.COMPANY_NAME

        FROM T_FD_INVOICE TFI
            left join (select
                    INVOICE_ID,
                    REGEXP_REPLACE (
                    LISTAGG (TO_CHAR(TFID.SHIP_NAME||'_'||TFID.VOYAGE), ',') WITHIN GROUP (ORDER BY INVOICE_ID),
                    '([^,]+)(,\1)+',
                    '\1'
                    )  ship_name
                    from T_FD_INVOICE_DETAIL TFID
                    group by TFID.INVOICE_ID) ttt on ttt.INVOICE_ID = TFI.id
            WHERE TFI.STATUS = 1 and  TFI.CREATE_TIME>TO_DATE('2024-10-31 12:00:00', 'YYYY-MM-DD HH24:MI:SS')
            UNION ALL
            SELECT
                '退还' AS DETAIL_TYPE,
                DECODE(TFDD.INVOICE_PREPAY_AMOUNT,NULL,0,TFDD.INVOICE_PREPAY_AMOUNT * -1) AS AMOUNT,
        '' "shipVoyageName",
        TO_DATE(TFDD.CREATE_TIME,'YYYY-MM-DD HH24:MI:SS'),
                TFD.CUSTOMER_ID,
                TO_CHAR(TFD.PREPAYMENT_TYPE_CODE),
                TO_CHAR(TFD.DEBTORPAYMENT_NO),
                TFDD.CREATE_BY_NAME,
                TFD.COMPANY_NAME

        FROM T_FD_DEBTORPAYMENT TFD
            INNER JOIN T_FD_DEBTORPAYMENT_DETAIL TFDD ON TFD.ID = TFDD.DEBTORPAYMENT_ID
            WHERE TFD.STATUS = 1
            AND TFDD.DEBTORPAY_PAYMENT_TYPE_CODE = '30'
        ) T
        <where>
            T.CUSTOMER_ID = #{customerId,jdbcType=VARCHAR}
            AND T.PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode,jdbcType=VARCHAR}
            <if test="searchStartTime !=null and searchStartTime != ''">
                and to_char(T.PAYMENT_TIME,'YYYY-MM-DD') &gt;= #{searchStartTime}
            </if>
            <if test="searchEndTime !=null and searchEndTime != ''">
                and to_char(T.PAYMENT_TIME,'YYYY-MM-DD') &lt;= #{searchEndTime}
            </if>
            <if test="businessNo !=null and businessNo != ''">
                <bind name="businessNoLike" value="'%' + businessNo + '%'"/>
                and T.BUSINESS_NO LIKE #{businessNoLike}
            </if>
            <if test="hiddenEsti !=null and hiddenEsti != '' and hiddenEsti == '1'.toString()">
                and T.DETAIL_TYPE NOT IN  ('货物预缴','船舶押金')
            </if>
        </where>
        ORDER BY T.PAYMENT_TIME DESC
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportBalanceDetailList" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPaymentDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentSearchDTO">
        SELECT * FROM (
        SELECT
        TO_CHAR(TFBCP.PREPAY_MODE_NAME) AS DETAIL_TYPE,
        DECODE(TFBCP.PREPAY_MODE_CODE,20,TFBCP.PREPAYMENT_AMOUNT * -1,TFBCP.PREPAYMENT_AMOUNT) AS AMOUNT,
        '' "shipVoyageName",
        TFBCP.CREATE_TIME PAYMENT_TIME,
        TFBCP.CUSTOMER_ID,
        TO_CHAR(TFBCP.PREPAYMENT_TYPE_CODE) AS PREPAYMENT_TYPE_CODE,
        TO_CHAR(TFBCP.PREPAYMENT_CODE) AS BUSINESS_NO,
        TFBCP.CREATE_BY_NAME,
        TFBCP.COMPANY_NAME
        FROM T_FD_BANK_CUSTOMER_PREPAYMENT TFBCP
        WHERE TFBCP.SOURCE_DEBTORPAYMENT_ID IS NULL
        AND TFBCP.STATUS = 1
        UNION ALL
        SELECT
            TO_CHAR(TFBCP.PREPAY_MODE_NAME) AS DETAIL_TYPE,
            TFBCP.PREPAYMENT_AMOUNT,
            '' "shipVoyageName",
            TFBCP.CREATE_TIME,
            TFBCP.CUSTOMER_ID,
            TO_CHAR(TFBCP.PREPAYMENT_TYPE_CODE),
            TO_CHAR(TFBCP.PREPAYMENT_CODE) AS BUSINESS_NO,
            TFBCP.CREATE_BY_NAME,
            TFBCP.COMPANY_NAME
        FROM T_FD_BANK_CUSTOMER_PREPAYMENT TFBCP
        INNER JOIN T_FD_DEBTORPAYMENT TFD ON TFBCP.SOURCE_DEBTORPAYMENT_ID = TFD.ID
        INNER JOIN T_FD_DEBTORPAYMENT_DETAIL TFDD ON TFD.ID = TFDD.DEBTORPAYMENT_ID
        WHERE TFBCP.SOURCE_DEBTORPAYMENT_ID IS NOT NULL
        AND TFBCP.STATUS = 1 AND TFD.STATUS = 1
        AND TFDD.DEBTORPAY_PAYMENT_TYPE_CODE = '20'
        UNION ALL
        SELECT
            '船舶押金' AS DETAIL_TYPE,
            DECODE(TDSI.PAYMENT_AMOUNT,NULL,0,TDSI.PAYMENT_AMOUNT * -1) AS AMOUNT,
            to_char(tds.ship_name || '_' || tdsi.voyage)  "shipVoyageName",
            TDSI.CREATE_TIME,
            TDSI.CUSTOMER_ID,
            TO_CHAR('30'),
            '',
            TDSI.CREATE_BY_NAME,
            tdsi.COMPANY_NAME
        FROM T_DIS_SHIPVOYAGE TDS
        INNER JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TDS.ID = TDSI.SHIPVOYAGE_ID
        WHERE TDS.DEL_FLAG = '0'
            and ABS(nvl(DECODE(TDSI.PAYMENT_AMOUNT,NULL,0,TDSI.PAYMENT_AMOUNT * -1),0)) !=0
        UNION ALL
        SELECT
        '发票' AS DETAIL_TYPE,
        DECODE(TFI.INVOICE_AMOUNT,NULL,0,TFI.INVOICE_AMOUNT * -1),
        ttt.ship_name  "shipVoyageName",
        TFI.CREATE_TIME,
        TFI.CUSTOMER_ID,
        TO_CHAR(TFI.PREPAYMENT_TYPE_CODE),
        TO_CHAR(TFI.SYS_INVOICE_CODE),
        TFI.CREATE_BY_NAME,
        tfi.COMPANY_NAME
        FROM T_FD_INVOICE TFI
        left join (select
        INVOICE_ID,
        REGEXP_REPLACE (
        LISTAGG (TO_CHAR(TFID.SHIP_NAME||'_'||TFID.VOYAGE), ',') WITHIN GROUP (ORDER BY INVOICE_ID),
        '([^,]+)(,\1)+',
        '\1'
        )  ship_name
        from T_FD_INVOICE_DETAIL TFID
        group by TFID.INVOICE_ID) ttt on ttt.INVOICE_ID = TFI.id
        WHERE TFI.STATUS = 1
            and  TFI.CREATE_TIME>TO_DATE('2024-10-31 12:00:00', 'YYYY-MM-DD HH24:MI:SS')
        UNION ALL
        SELECT
        '退还' AS DETAIL_TYPE,
        DECODE(TFDD.INVOICE_PREPAY_AMOUNT,NULL,0,TFDD.INVOICE_PREPAY_AMOUNT * -1) AS AMOUNT,
        '' "shipVoyageName",
        TO_DATE(TFDD.CREATE_TIME,'YYYY-MM-DD HH24:MI:SS'),
        TFD.CUSTOMER_ID,
        TO_CHAR(TFD.PREPAYMENT_TYPE_CODE),
        TO_CHAR(TFD.DEBTORPAYMENT_NO),
        TFDD.CREATE_BY_NAME,
        TFD.COMPANY_NAME
        FROM T_FD_DEBTORPAYMENT TFD
        INNER JOIN T_FD_DEBTORPAYMENT_DETAIL TFDD ON TFD.ID = TFDD.DEBTORPAYMENT_ID
        WHERE TFD.STATUS = 1
        AND TFDD.DEBTORPAY_PAYMENT_TYPE_CODE = '30'
        ) T
        <where>
            T.CUSTOMER_ID = #{customerId,jdbcType=VARCHAR}
            AND T.PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode,jdbcType=VARCHAR}
            <if test="searchStartTime !=null and searchStartTime != ''">
                and to_char(T.PAYMENT_TIME,'YYYY-MM-DD') &gt;= #{searchStartTime}
            </if>
            <if test="searchEndTime !=null and searchEndTime != ''">
                and to_char(T.PAYMENT_TIME,'YYYY-MM-DD') &lt;= #{searchEndTime}
            </if>
            <if test="businessNo !=null and businessNo != ''">
                <bind name="businessNoLike" value="'%' + businessNo + '%'"/>
                and T.BUSINESS_NO LIKE #{businessNoLike}
            </if>
            <if test="hiddenEsti !=null and hiddenEsti != '' and hiddenEsti == '1'.toString()">
                and T.DETAIL_TYPE NOT IN  ('货物预缴','船舶押金')
            </if>
        </where>
        ORDER BY T.PAYMENT_TIME DESC
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO"
            parameterType="java.lang.Long">
        SELECT
        ID,
        PREPAYMENT_CODE,
        COMPANY_NAME,
        COMPANY_ID,
        PREPAYMENT_TYPE_CODE,
        PREPAYMENT_TYPE_NAME,
        CUSTOMER_ID,
        CUSTOMER_NAME,
        PREPAYMENT_TIME,
        PREPAYMENT_AMOUNT,
        UTILIZED_AMOUNT,
        PAYMENT_METHOD_CODE,
        PAYMENT_METHOD_NAME,
        BANK_NAME, BANK_ID,
        STATUS,
        REMARK,
        TRANS_SEQUENCE_IDN,
        VOID_REMARK,
        DEBTORPAYMENT_ID,
        SOURCE_DEBTORPAYMENT_ID,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        TRUST_NO,
        BUS_TRUST_ID,
        cargo_info_id,
        BUS_TRUST_CARGO_ID,
        PREPAY_MODE_CODE,
        PREPAY_MODE_NAME,
        SOURCE_PREPAY_CODE
         FROM
        T_FD_BANK_CUSTOMER_PREPAYMENT
        <where>
            id = #{id}
        </where>
    </select>

    <select id="getByPrePayCode" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO"
            parameterType="java.lang.Long">
        SELECT
        ID,
        PREPAYMENT_CODE,
        COMPANY_NAME,
        COMPANY_ID,
        PREPAYMENT_TYPE_CODE,
        PREPAYMENT_TYPE_NAME,
        CUSTOMER_ID,
        CUSTOMER_NAME,
        PREPAYMENT_TIME,
        PREPAYMENT_AMOUNT,
        UTILIZED_AMOUNT,
        PAYMENT_METHOD_CODE,
        PAYMENT_METHOD_NAME,
        BANK_NAME, BANK_ID,
        STATUS,
        REMARK,
        VOID_REMARK,
        DEBTORPAYMENT_ID,
        SOURCE_DEBTORPAYMENT_ID,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        TRUST_NO,
        BUS_TRUST_ID,
        BUS_TRUST_CARGO_ID,
        PREPAY_MODE_CODE,
        PREPAY_MODE_NAME,
        SOURCE_PREPAY_CODE,
        CARGO_INFO_ID
        FROM
        T_FD_BANK_CUSTOMER_PREPAYMENT
        <where>
            PREPAYMENT_CODE = #{prepaymentCode}
        </where>
    </select>

    <select id="countSourcePrepayCode" resultType="java.lang.Integer">
        SELECT count(*) FROM T_FD_BANK_CUSTOMER_PREPAYMENT
        where STATUS = 1 AND SOURCE_PREPAY_CODE = #{sourcePrepayCode}
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO">
        INSERT INTO T_FD_BANK_CUSTOMER_PREPAYMENT(
                    ID,
                    PREPAYMENT_CODE,
                    COMPANY_NAME,
                    COMPANY_ID,
                    PREPAYMENT_TYPE_CODE,
                    PREPAYMENT_TYPE_NAME,
                    CUSTOMER_ID,
                    CUSTOMER_NAME,
                    PREPAYMENT_TIME,
                    PREPAYMENT_AMOUNT,
                    UTILIZED_AMOUNT,
                    PAYMENT_METHOD_CODE,
                    PAYMENT_METHOD_NAME,
                    BANK_NAME,
                    BANK_ID,
                    STATUS,
                    REMARK,
                    TRANS_SEQUENCE_IDN,
                    DEBTORPAYMENT_ID,
                    SOURCE_DEBTORPAYMENT_ID,
                    CREATE_BY,
                    CREATE_BY_NAME,
                    CREATE_TIME,
                    TRUST_NO,
                    BUS_TRUST_ID,
                    BUS_TRUST_CARGO_ID,
                    PREPAY_MODE_CODE,
                    PREPAY_MODE_NAME,
                    SOURCE_PREPAY_CODE,
                    cargo_info_id
        )VALUES (
                    #{id, jdbcType=VARCHAR},
                    #{prepaymentCode, jdbcType=VARCHAR},
                    #{companyName, jdbcType=VARCHAR},
                    #{companyId, jdbcType=VARCHAR},
                    #{prepaymentTypeCode, jdbcType=VARCHAR},
                    #{prepaymentTypeName, jdbcType=VARCHAR},
                    #{customerId, jdbcType=VARCHAR},
                    #{customerName, jdbcType=VARCHAR},
                    #{prepaymentTime,jdbcType=DATE},
                    #{prepaymentAmount, jdbcType=DECIMAL},
                    #{utilizedAmount, jdbcType=DECIMAL},
                    #{paymentMethodCode, jdbcType=VARCHAR},
                    #{paymentMethodName, jdbcType=VARCHAR},
                    #{bankName, jdbcType=VARCHAR},
                    #{bankId, jdbcType=VARCHAR},
                    #{status, jdbcType=VARCHAR},
                    #{remark, jdbcType=VARCHAR},
                    #{transSequenceIdn, jdbcType=VARCHAR},
                    #{debtorpaymentId, jdbcType=BIGINT},
                    #{sourceDebtorpaymentId, jdbcType=BIGINT},
                    #{loginUserId, jdbcType=BIGINT},
                    #{loginUserName, jdbcType=VARCHAR},
                    #{now},
                    #{trustNo,jdbcType=VARCHAR},
                    #{busTrustId,jdbcType=BIGINT},
                    #{busTrustCargoId,jdbcType=BIGINT},
                    #{prepayModeCode,jdbcType=VARCHAR},
                    #{prepayModeName,jdbcType=VARCHAR},
                    #{sourcePrepayCode,jdbcType=VARCHAR},
                    #{cargoInfoId,jdbcType=BIGINT}
)
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO">
        UPDATE
        T_FD_BANK_CUSTOMER_PREPAYMENT
        SET
        ID = #{id,jdbcType=VARCHAR},
        PREPAYMENT_CODE = #{prepaymentCode,jdbcType=VARCHAR},
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
        COMPANY_ID = #{companyId,jdbcType=VARCHAR},
        PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode,jdbcType=VARCHAR},
        PREPAYMENT_TYPE_NAME = #{prepaymentTypeName,jdbcType=VARCHAR},
        CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
        PREPAYMENT_TIME = #{prepaymentTime,jdbcType=VARCHAR},
        PREPAYMENT_AMOUNT = #{prepaymentAmount,jdbcType=DECIMAL},
        UTILIZED_AMOUNT = #{utilizedAmount,jdbcType=DECIMAL},
        PAYMENT_METHOD_CODE = #{paymentMethodCode,jdbcType=VARCHAR},
        PAYMENT_METHOD_NAME = #{paymentMethodName,jdbcType=VARCHAR},
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
        BANK_ID = #{bankId,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        TRANS_SEQUENCE_IDN = #{transSequenceIdn,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now},
        TRUST_NO = #{trustNo,jdbcType=VARCHAR},
        BUS_TRUST_ID = #{busTrustId,jdbcType=BIGINT},
        BUS_TRUST_CARGO_ID =#{busTrustCargoId,jdbcType=BIGINT}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_FD_BANK_CUSTOMER_PREPAYMENT
        WHERE
            id = #{id}
    </delete>
    <update id="voidHandle" parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO">
        UPDATE
        T_FD_BANK_CUSTOMER_PREPAYMENT
        SET
        STATUS = #{status,jdbcType=VARCHAR},
        VOID_REMARK = #{voidRemark,jdbcType=VARCHAR},
        VOID_BY = #{loginUserId, jdbcType=BIGINT},
        VOID_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        VOID_TIME = #{now},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>
    <select id="getBusTrustListWithKeyWord" resultType="com.yy.ppm.finance.bean.dto.BusTrustResponseDTO">
        SELECT
            t.id AS busTrustId,
            t1.id AS busTrustCargoId,
            t.TRUST_NO,
            t.TRUST_TYPE,
            t.IMP_EXP,
            t.PROCESS_NAME,
            t.PROCESS_CODE,
            t.PLAN_QUANTITY,
            t.PLAN_TON,
            t.TRADE_TYPE,
            t.CUSTOMER_NAME,
            t.COMPANY_NAME,
            CONCAT(CONCAT(t.SHIP_NAME, '_'),t2.VOYAGE) as shipNameVoyage,
            t1.CARGO_OWNER_NAME,
            t1.CARGO_AGENT_NAME,
            t1.CARGO_NAME,
            m.SOURCE_CD
        FROM
        T_BUS_TRUST t
        LEFT JOIN T_BUS_TRUST_CARGO t1 ON t1.TRUST_ID = t.id
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM t2 ON t.SHIPVOYAGE_ITEM_ID = t2.ID
        LEFT JOIN M_WORK_PROCESS m ON m.PROCESS_CD = t.PROCESS_CODE
        WHERE t.STATUS IN (10,20)
        <if test="keyWord != null and keyWord !='' ">
            <bind name="workNo" value="'%' + keyWord + '%'"/>
            AND t.TRUST_NO   LIKE #{workNo}
        </if>
    </select>
<!--    获取作业通知单 并按照客户id和作业通知单编号进行排序-->
    <select id="getBusTrustList" resultType="com.yy.ppm.finance.bean.dto.BusTrustResponseDTO">
    SELECT TBT.TRUST_NO || '_' || tbci.cargo_info_no || '_'|| tbci.cargo_name ||' / '||TBTC.CARGO_OWNER_NAME||'/'||TDS.SHIP_NAME||'_'||TDSI.VOYAGE AS "label",
           TBT.TRUST_NO,
           TBT.ID AS "trustId",
           tbci.id cargo_info_id,
           TBTC.CARGO_OWNER_NAME,
           TBTC.CARGO_OWNER_ID,
           TBT.ID,
           TBTC.EST_AMOUNT AS "ESTAmount"
    FROM T_BUS_TRUST TBT
        LEFT JOIN T_BUS_TRUST_CARGO TBTC ON TBT.ID = TBTC.TRUST_ID
    left join t_bus_cargo_info tbci on TBTC.cargo_info_id = tbci.id
        left join T_DIS_SHIPVOYAGE_ITEM TDSI on TDSI.id  = tbci.SHIPVOYAGE_ITEM_ID
        left join  T_DIS_SHIPVOYAGE TDS on TDS.id  = TDSI.SHIPVOYAGE_ID
    WHERE
    TBT.COMPANY_ID = #{companyId,jdbcType=BIGINT}
    and tbci.IS_PRE_PAY != '30'
    and tbci.CREATE_TIME > to_date('2024-08-20 00:00:00','yyyy-MM-dd hh24:mi:ss')
    AND (TBT.TYPE = '卸船' OR TBT.TYPE IN ('集港', '拆箱集港'))
    <if test="id !=null and id !=''">
        AND TBT.ID = #{id,jdbcType=BIGINT}
    </if>
      <if test="cargoInfoId !=null and cargoInfoId !=''">
        AND tbci.ID = #{cargoInfoId,jdbcType=BIGINT}
    </if>
    <if test="customerId !=null and customerId!=''">
        AND tbci.CARGO_OWNER_ID = #{customerId,jdbcType=BIGINT}
    </if>
    ORDER BY RELEASE_TIME desc
    </select>


    <select id="getPrepaymentCodeList" parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentSearchDTO" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO">
        select ID,PREPAYMENT_AMOUNT,UTILIZED_AMOUNT,PREPAYMENT_CODE from T_FD_BANK_CUSTOMER_PREPAYMENT
        where STATUS = '1' AND PREPAY_MODE_CODE = '10'
        <if test="customerId != null and customerId != ''">
            AND CUSTOMER_ID = #{customerId}
        </if>
        <if test="prepaymentTypeCode !=null  and prepaymentTypeCode !='' ">
            AND PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode,jdbcType=VARCHAR}
        </if>
        order by CREATE_TIME desc
    </select>


    <update id="updateWithMode20" parameterType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO">
        UPDATE
        T_FD_BANK_CUSTOMER_PREPAYMENT
        SET
        UTILIZED_AMOUNT = #{utilizedAmount,jdbcType=DECIMAL}
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="prepaymentCode != null and prepaymentCode != ''">
                AND PREPAYMENT_CODE = #{prepaymentCode}
            </if>
        </where>
    </update>

    <select id="getByTrustId" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO" >
        select  SUM(PREPAYMENT_AMOUNT) AS "prepaymentAmount"  FROM
        T_FD_BANK_CUSTOMER_PREPAYMENT
        WHERE  STATUS = '1' AND BUS_TRUST_ID = #{trustId,jdbcType=BIGINT} and cargo_info_id = #{cargoInfoId}
        GROUP BY BUS_TRUST_ID
    </select>
    <select id="getPrePaymentAmountSum" resultType="java.util.Map">
        select sum(PREPAYMENT_AMOUNT-UTILIZED_AMOUNT) CUSTOMER_AMOUNT from
        T_FD_BANK_CUSTOMER_PREPAYMENT
        <where>
            CUSTOMER_ID = #{customerId}
            and STATUS = #{status}
            and PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode}
        </where>
    </select>

    <select id="getTrustCargo" resultType="com.yy.ppm.business.bean.dto.TBusTrustCargoDTO">
        select id,est_amount,trust_id,cargo_info_id
        from t_bus_trust_cargo where trust_id = #{trustId,jdbcType=BIGINT} and cargo_info_id = #{cargoInfoId,jdbcType=BIGINT}
    </select>
    <update id="updateBusCargoInfo">
        update t_bus_cargo_info set IS_PRE_PAY = #{status} where id  = #{cargoInfoId,jdbcType=BIGINT}
    </update>
    <select id="getListBycargoInfoId" resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO">
        select *
        from T_FD_BANK_CUSTOMER_PREPAYMENT
        where status = '1' and cargo_info_id  = #{cargoInfoId,jdbcType=BIGINT}
    </select>

</mapper>

