<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.finance.mapper.TFdCreditDebitBillMapper">

    <sql id="commonList">
        SELECT
        ID,
        CNDN_CODE,
        COMPANY_ID,
        COMPANY_NAME,
        TAXATION_INVOICE_CODE,
        TAXATION_INVOICE,
        CNDN_BILL_TYPE_CODE,
        CNDN_BILL_TYPE_NAME,
        INVOICE_CODE,
        CUSTOMER_ID,
        CUSTOMER_NAME,
        SYS_INVOICE_CODE,
        ELIMINATE_AMOUNT,
        REMARK,
        CNDN_TYPE,
        CNDN_TIME,
        STATUS,
        VOID_REASON,
        VOID_REMARK,
        IS_DEBTOR_PAYMENT,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        T_FD_CREDIT_DEBIT_BILL
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="companyId != null">
                and COMPANY_ID = #{companyId}
            </if>
            <if test="cndnCode != null">
                and CNDN_CODE = #{cndnCode}
            </if>
            <if test="companyName != null and companyName != ''">
                and COMPANY_NAME = #{companyName}
            </if>
            <if test="taxationInvoiceCode != null">
                and TAXATION_INVOICE_CODE = #{taxationInvoiceCode}
            </if>
            <if test="taxationInvoice != null and taxationInvoice != ''">
                and TAXATION_INVOICE = #{taxationInvoice}
            </if>
            <if test="cndnBillTypeCode != null">
                and CNDN_BILL_TYPE_CODE = #{cndnBillTypeCode}
            </if>
            <if test="cndnBillTypeName != null and cndnBillTypeName != ''">
                and CNDN_BILL_TYPE_NAME = #{cndnBillTypeName}
            </if>
            <if test="invoiceCode != null and invoiceCode != ''">
                and INVOICE_CODE = #{invoiceCode}
            </if>
            <if test="customerId != null">
                and CUSTOMER_ID = #{customerId}
            </if>
            <if test="customerName != null and customerName != ''">
                and CUSTOMER_NAME = #{customerName}
            </if>
            <if test="sysInvoiceCode != null and sysInvoiceCode != ''">
                and SYS_INVOICE_CODE = #{sysInvoiceCode}
            </if>
            <if test="eliminateAmount != null">
                and ELIMINATE_AMOUNT = #{eliminateAmount}
            </if>
            <if test="remark != null and remark != ''">
                and REMARK = #{remark}
            </if>
            <if test="cndnType != null">
                and CNDN_TYPE = #{cndnType}
            </if>
            <if test="status != null">
                and STATUS = #{status}
            </if>
            <if test="voidReason != null and voidReason != ''">
                and VOID_REASON = #{voidReason}
            </if>
            <if test="voidRemark != null and voidRemark != ''">
                and VOID_REMARK = #{voidRemark}
            </if>
            <if test="isDebtorPayment != null">
                and IS_DEBTOR_PAYMENT = #{isDebtorPayment}
            </if>
            <if  test="cndnTime != null">
               and CNDN_TIME = TO_DATE(#{cndnTime},'yyyy-MM-dd hh24:mi:ss')
            </if>
        </where>
        ORDER BY  CREATE_TIME DESC
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillSearchDTO">
        <include refid="commonList"></include>
    </select>
    <select id="getListBySysInvoiceCode" resultType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillSearchDTO">
        SELECT
        ID,
        CNDN_CODE,
        COMPANY_ID,
        COMPANY_NAME,
        TAXATION_INVOICE_CODE,
        TAXATION_INVOICE,
        CNDN_BILL_TYPE_CODE,
        CNDN_BILL_TYPE_NAME,
        INVOICE_CODE,
        CUSTOMER_ID,
        CUSTOMER_NAME,
        SYS_INVOICE_CODE,
        ELIMINATE_AMOUNT,
        REMARK,
        CNDN_TYPE,
        CNDN_TIME,
        STATUS,
        VOID_REASON,
        VOID_REMARK,
        IS_DEBTOR_PAYMENT,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        T_FD_CREDIT_DEBIT_BILL
        <where>
            STATUS = 1
            <if test="sysInvoiceCode != null and sysInvoiceCode != ''">
                and SYS_INVOICE_CODE = #{sysInvoiceCode}
            </if>
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillDTO" parameterType="java.lang.Long">
        SELECT
        ID,CNDN_CODE, COMPANY_ID, COMPANY_NAME, TAXATION_INVOICE_CODE, TAXATION_INVOICE, CNDN_BILL_TYPE_CODE, CNDN_BILL_TYPE_NAME,
        INVOICE_CODE, CUSTOMER_ID, CUSTOMER_NAME, SYS_INVOICE_CODE, ELIMINATE_AMOUNT, REMARK, CNDN_TYPE, STATUS,
        VOID_REASON, DEBTORPAYMENT_ID,VOID_REMARK,CNDN_TIME, IS_DEBTOR_PAYMENT, CREATE_BY, CREATE_BY_NAME, CREATE_TIME, UPDATE_BY, UPDATE_BY_NAME,
        UPDATE_TIME,INVOICE FROM
        T_FD_CREDIT_DEBIT_BILL
        <where>
            id = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillDTO">
        INSERT INTO T_FD_CREDIT_DEBIT_BILL(
                    ID,
                    CNDN_CODE,
                    COMPANY_ID,
                    COMPANY_NAME,
                    TAXATION_INVOICE_CODE,
                    TAXATION_INVOICE,
                    CNDN_BILL_TYPE_CODE,
                    CNDN_BILL_TYPE_NAME,
                    INVOICE_CODE,
                    CUSTOMER_ID,
                    CUSTOMER_NAME,
                    SYS_INVOICE_CODE,
                    ELIMINATE_AMOUNT,
                    REMARK,
                    CNDN_TYPE,
                    CNDN_TIME,
                    STATUS,
                    VOID_REASON,
                    VOID_REMARK,
                    IS_DEBTOR_PAYMENT,
                    CREATE_BY,
                    CREATE_BY_NAME,
                    CREATE_TIME,
                    PREPAYMENT_TYPE_CODE,
                    HAS_NOT_RECEIPT_AMOUNT,
                    RECEIPT_STATUS
        )VALUES (
                    #{id, jdbcType=BIGINT},
                    #{cndnCode, jdbcType=VARCHAR},
                    #{companyId, jdbcType=VARCHAR},
                    #{companyName, jdbcType=VARCHAR},
                    #{taxationInvoiceCode, jdbcType=VARCHAR},
                    #{taxationInvoice, jdbcType=VARCHAR},
                    #{cndnBillTypeCode, jdbcType=VARCHAR},
                    #{cndnBillTypeName, jdbcType=VARCHAR},
                    #{invoiceCode, jdbcType=VARCHAR},
                    #{customerId, jdbcType=BIGINT},
                    #{customerName, jdbcType=VARCHAR},
                    #{sysInvoiceCode, jdbcType=VARCHAR},
                    #{eliminateAmount, jdbcType=DECIMAL},
                    #{remark, jdbcType=VARCHAR},
                    #{cndnType, jdbcType=VARCHAR},
                    #{cndnTime, jdbcType=TIMESTAMP},
                    #{status, jdbcType=VARCHAR},
                    #{voidReason, jdbcType=VARCHAR},
                    #{voidRemark, jdbcType=VARCHAR},
                    #{isDebtorPayment, jdbcType=VARCHAR},
                    #{loginUserId, jdbcType=BIGINT},
                    #{loginUserName, jdbcType=VARCHAR},
                    #{now},
                    #{prepaymentTypeCode},
                    #{hasNotReceiptAmount},
                    10
)
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillDTO">
        UPDATE
        T_FD_CREDIT_DEBIT_BILL
        SET
        ID = #{id,jdbcType=BIGINT},
        CNDN_CODE = #{cndnCode,jdbcType=VARCHAR},
        COMPANY_ID = #{companyId,jdbcType=VARCHAR},
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
        TAXATION_INVOICE_CODE = #{taxationInvoiceCode,jdbcType=VARCHAR},
        TAXATION_INVOICE = #{taxationInvoice,jdbcType=VARCHAR},
        CNDN_BILL_TYPE_CODE = #{cndnBillTypeCode,jdbcType=VARCHAR},
        CNDN_BILL_TYPE_NAME = #{cndnBillTypeName,jdbcType=VARCHAR},
        INVOICE_CODE = #{invoiceCode,jdbcType=VARCHAR},
        CUSTOMER_ID = #{customerId,jdbcType=BIGINT},
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
        SYS_INVOICE_CODE = #{sysInvoiceCode,jdbcType=VARCHAR},
        ELIMINATE_AMOUNT = #{eliminateAmount,jdbcType=DECIMAL},
        REMARK = #{remark,jdbcType=VARCHAR},
        CNDN_TYPE = #{cndnType,jdbcType=VARCHAR},
        CNDN_TIME = #{cndnTime,jdbcType=TIMESTAMP},
        STATUS = #{status,jdbcType=VARCHAR},
        VOID_REASON = #{voidReason,jdbcType=VARCHAR},
        VOID_REMARK = #{voidRemark,jdbcType=VARCHAR},
        IS_DEBTOR_PAYMENT = #{isDebtorPayment,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateByNumber" parameterType="java.util.HashMap">
        update T_FD_CREDIT_DEBIT_BILL
        set
            INVOICE_CODE = #{infoTypeCode},
            MACHINE_INVOICE_NUM = #{machineInvoiceNum},
            PDF_URL = #{pdfurl},
            PDF_MSG = #{pdfmsg}
        where CNDN_CODE = #{number}
    </update>

    <update id="updateInvoiceCodeById" parameterType="java.util.HashMap">
        update T_FD_CREDIT_DEBIT_BILL
        set INVOICE_CODE = #{invoiceCode}
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_FD_CREDIT_DEBIT_BILL
        WHERE
            id = #{id}
    </delete>

    <select id="getInvoiceList"
            parameterType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillSearchDTO"
            resultType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillDetailDTO">
        SELECT
        t1.ID AS invoiceDetailId ,
        t.INVOICE_AMOUNT AS eliminateAmount,
        t.SYS_INVOICE_CODE,
        t.REMARK,
        t.INVOICE_CODE,
        t.COMPANY_ID,
        t.COMPANY_NAME,
        t.CUSTOMER_ID,
        t.CUSTOMER_NAME,
        t.INVOICE_TYPE_CODE,
        t1.NUMBER_COUNT AS mea,
        t1.RATE_ITEM_CODE AS rateCode,
        case WHEN  TO_CHAR(TBCR.RATE_ID) IS NOT NULL THEN TBCR.RATE_ID ELSE t1.RATE_ID END AS RATE_ID,
        t1.UNIT_CODE,
        t1.UNIT_NAME,
        t1.RATE_ITEM_NAME AS rateName,
        t1.TAX AS taxRate,
        t1.TAX_AMOUNT AS taxAmount,
        t1.PIECE_AMOUNT AS oldRate,
        t1.AMOUNT
        FROM
        T_FD_INVOICE t
        LEFT JOIN T_FD_INVOICE_DETAIL	t1 ON  t1.INVOICE_ID = t.ID
        LEFT JOIN T_BUS_CONTRACT_RATE TBCR  ON TBCR.ID = t1.RATE_ID
        <where>
            t.STATUS = 1
            <if test="id != null">
                and t.ID = #{id}
            </if>
            <if test="companyId != null">
                and t.COMPANY_ID = #{companyId}
            </if>
            <if test="sysInvoiceCode != null and sysInvoiceCode != ''">
                and t.SYS_INVOICE_CODE = #{sysInvoiceCode}
            </if>
            <if test="invoiceCode != null  and invoiceCode != ''">
                and t.INVOICE_CODE = #{invoiceCode}
            </if>
            <if test="customerId != null">
                and t.CUSTOMER_ID = #{customerId}
            </if>
        </where>
        ORDER BY  t1.CREATE_TIME DESC
    </select>
    <select id="getDnList"
            parameterType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillSearchDTO"
            resultType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillDetailDTO">
        SELECT
        t1.id AS invoiceDetailId,
        t.ELIMINATE_AMOUNT,
        t.INVOICE_CODE,
        t.COMPANY_ID,
        t.COMPANY_NAME,
        t.CUSTOMER_ID,
        t.CUSTOMER_NAME,
        t.CNDN_TYPE CNDN_TYPE,
        t1.MEA,
        t1.RATE_CODE,
        t1.RATE_ID,
        t1.RATE_NAME,
        t1.UNIT_CODE,
        t1.UNIT_NAME,
        t1.OLD_RATE,
        t1.NEW_RATE,
        t1.TAX_RATE,
        t1.TAX_AMOUNT,
        t1.AMOUNT,
        t1.INVOICE_TYPE_CODE AS INVOICE_TYPE_CODE
        FROM
        T_FD_CREDIT_DEBIT_BILL t
        LEFT JOIN T_FD_CREDIT_DEBIT_BILL_DETAIL	t1 ON  t1.CNDN_ID = t.ID
        <where  >
            t.STATUS = 1
             AND t.CNDN_TYPE = 1
             AND t.CNDN_CODE = #{sysInvoiceCode}
        </where>
        ORDER BY  t1.CREATE_TIME DESC
    </select>

    <select id="getCNDNCode" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT
            MAX(CNDN_CODE)
        FROM
            T_FD_CREDIT_DEBIT_BILL
        WHERE
        <bind name="startWith" value="cndnCode + '%'"/>
        CNDN_CODE LIKE #{startWith,jdbcType=VARCHAR}
    </select>

    <!-- 修改 -->
    <update id="doVoid" parameterType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillDTO">
        UPDATE
        T_FD_CREDIT_DEBIT_BILL
        SET
        STATUS = #{status,jdbcType=VARCHAR},
        VOID_REASON = #{voidReason,jdbcType=VARCHAR},
        VOID_REMARK = #{voidRemark,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>


    <select id="getRateList" parameterType="com.yy.ppm.finance.bean.dto.TFdCreditDebitBillSearchDTO"
            resultType="com.yy.ppm.business.bean.dto.TBusRateDTO">
        select TBR.ID,
               TBR.RATE_ITEM_CODE,
               TBR.RATE_ITEM_NAME,
               TBR.SERVICE_CONTENT_ID,
               TBR.SERVICE_CONTENT_NAME,
               TBR.PROCESS_CODE,
               TBR.PROCESS_NAME,
               TBR.CARGO_CODE,
               TBR.CARGO_NAME,
               TBR.INTE_FORE,
               TBR.RATE,
               TBR.TAX_RATE,
               TBR.MEASUREMENT_UNIT_CODE1,
               TBR.MEASUREMENT_UNIT_CODE2,
               TBR.START_DATE,
               TBR.END_DATE,
               CASE WHEN TBR.DATA_SOURCE = '1'
                        THEN CONCAT(CONCAT(CONCAT(TBR.RATE_ITEM_NAME,DECODE(TBR.PROCESS_NAME,NULL,'','('||TBR.PROCESS_NAME||')')),':'),TO_CHAR(tbr.rate,'99999990.9999'))
                    ELSE TBR.RATE_ITEM_NAME || '-' || TBR.SERVICE_CONTENT_NAME || '-' || DECODE(TBR.CARGO_NAME,NULL,'',TBR.CARGO_NAME) || ':' || TO_CHAR(tbr.rate,'99999990.9999') END AS RATE_ITEM_AND_RATE,
               TBR.DATA_SOURCE
        from
            T_BUS_RATE TBR
    </select>
    <select id="getInvoiceInfoBySysInvoiceCode" resultType="com.yy.ppm.finance.bean.dto.TFdInvoiceDTO">
        SELECT * FROM T_FD_INVOICE WHERE SYS_INVOICE_CODE = #{syInvoiceCode,jdbcType=VARCHAR}
    </select>

</mapper>

