<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.finance.mapper.TFdDebtorpaymentMapper">

    <sql id="commonList">
        SELECT
        t.ID,
        t.DEBTORPAYMENT_NO,
        t.COMPANY_ID,
        t.COMPANY_NAME,
        t.CUSTOMER_ID,
        t.CUSTOMER_NAME,
        t.DEBTORPAYMENT_TIME,
        t.AMOUNT,
        t.STATUS,
        t.REMARK,
        t.VOID_REMARK,
        t.CREATE_BY,
        t.CREATE_BY_NAME,
        t.CREATE_TIME,
        t.UPDATE_BY,
        t.UPDATE_BY_NAME,
        t.UPDATE_TIME,
        t.PREPAYMENT_TYPE_CODE,
        t.PREPAYMENT_TYPE_NAME
        FROM
        T_FD_DEBTORPAYMENT t
        LEFT JOIN T_FD_DEBTORPAYMENT_DETAIL t1 ON t.ID = t1.DEBTORPAYMENT_ID
        <where>
            <if test="id != null">
                and t.ID = #{id}
            </if>
            <if test="prepaymentTypeCode != null">
                and t.PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode}
            </if>
            <if test="status != null">
                and t.STATUS = #{status}
            </if>
            <if test="debtorpaymentNo != null and debtorpaymentNo != '' ">
                <bind name="debtorpaymentNoBind" value="'%'+debtorpaymentNo+'%'"/>
                and t.DEBTORPAYMENT_NO LIKE #{debtorpaymentNoBind}
            </if>
            <if test="companyId != null">
                and t.COMPANY_ID = #{companyId}
            </if>
            <if test="customerId != null">
                and t.CUSTOMER_ID = #{customerId}
            </if>
            <if test="debtorpaymentTime != null">
                and t.DEBTORPAYMENT_TIME = #{debtorpaymentTime}
            </if>
            <if test="sysInvoicePrepayNo != null and sysInvoicePrepayNo !='' ">
                <bind name="sysInvoicePrepayNoBind" value="'%'+sysInvoicePrepayNo+'%'"/>
                and t1.SYS_INVOICE_PREPAY_NO LIKE #{sysInvoicePrepayNoBind}
            </if>
            <if test="invoicePrepayNo != null and invoicePrepayNo !='' ">
                <bind name="invoicePrepayNoBind" value="'%'+invoicePrepayNo+'%'"/>
                and t1.INVOICE_PREPAY_NO LIKE #{invoicePrepayNoBind}
            </if>
        </where>
        GROUP BY
        t.ID,
        t.DEBTORPAYMENT_NO,
        t.COMPANY_ID,
        t.COMPANY_NAME,
        t.CUSTOMER_ID,
        t.CUSTOMER_NAME,
        t.DEBTORPAYMENT_TIME,
        t.AMOUNT,
        t.STATUS,
        t.REMARK,
        t.VOID_REMARK,
        t.CREATE_BY,
        t.CREATE_BY_NAME,
        t.CREATE_TIME,
        t.UPDATE_BY,
        t.UPDATE_BY_NAME,
        t.UPDATE_TIME,
        t.PREPAYMENT_TYPE_CODE,
        t.PREPAYMENT_TYPE_NAME
        ORDER BY CREATE_TIME DESC
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentSearchDTO">
        <include refid="commonList"></include>
    </select>
    <select id="getNo" resultType="java.lang.String">
       SELECT DEBTORPAYMENT_NO FROM T_FD_DEBTORPAYMENT
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDTO" parameterType="java.lang.Long">
        SELECT
        ID, DEBTORPAYMENT_NO, COMPANY_ID, COMPANY_NAME, CUSTOMER_ID, CUSTOMER_NAME, DEBTORPAYMENT_TIME, AMOUNT,
        STATUS, REMARK, VOID_REMARK, CREATE_BY, CREATE_BY_NAME, CREATE_TIME, UPDATE_BY, UPDATE_BY_NAME, UPDATE_TIME,
        PREPAYMENT_TYPE_CODE,DEB_TYPE_CODE,DEB_TYPE_NAME,
        PREPAYMENT_TYPE_NAME FROM
        T_FD_DEBTORPAYMENT
        <where>
            id = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDTO">
        INSERT INTO T_FD_DEBTORPAYMENT(
                ID,
                    DEBTORPAYMENT_NO,
                    COMPANY_ID,
                    COMPANY_NAME,
                    CUSTOMER_ID,
                    CUSTOMER_NAME,
                    DEBTORPAYMENT_TIME,
                    AMOUNT,
                    STATUS,
                    REMARK,
                    VOID_REMARK,
                    CREATE_BY,
                    CREATE_BY_NAME,
                    CREATE_TIME,
                    PREPAYMENT_TYPE_CODE,
                    PREPAYMENT_TYPE_NAME,
                    DEB_TYPE_CODE,DEB_TYPE_NAME
        )VALUES (
                    #{id},
                    #{debtorpaymentNo, jdbcType=VARCHAR},
                    #{companyId, jdbcType=VARCHAR},
                    #{companyName, jdbcType=VARCHAR},
                    #{customerId, jdbcType=VARCHAR},
                    #{customerName, jdbcType=VARCHAR},
                    #{debtorpaymentTime, jdbcType=VARCHAR},
                    #{amount, jdbcType=DECIMAL},
                    #{status, jdbcType=VARCHAR},
                    #{remark, jdbcType=VARCHAR},
                    #{voidRemark, jdbcType=VARCHAR},
                    #{loginUserId, jdbcType=BIGINT},
                    #{loginUserName, jdbcType=VARCHAR},
                    #{now,jdbcType=TIMESTAMP},
                    #{prepaymentTypeCode,jdbcType=BIGINT},
                    #{prepaymentTypeName,jdbcType=VARCHAR},#{debTypeCode,jdbcType=VARCHAR},#{debTypeName,jdbcType=VARCHAR}
)
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDTO">
        UPDATE
        T_FD_DEBTORPAYMENT
        SET
        DEBTORPAYMENT_NO = #{debtorpaymentNo,jdbcType=VARCHAR},
        COMPANY_ID = #{companyId,jdbcType=VARCHAR},
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
        CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
        DEBTORPAYMENT_TIME = #{debtorpaymentTime,jdbcType=VARCHAR},
        AMOUNT = #{amount,jdbcType=DECIMAL},
        STATUS = #{status,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        VOID_REMARK = #{voidRemark,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>
    <!-- 客户预缴批量更新 -->
    <update id="updateDebtorpayment"  parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDTO">
        UPDATE
        T_FD_DEBTORPAYMENT
        SET
        STATUS = 2,
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            ID =  #{id}
        </where>
    </update>
    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_FD_DEBTORPAYMENT
        WHERE
            id = #{id}
    </delete>
    <select id="getPrepayByIds"
            parameterType="java.lang.Long"
            resultType="com.yy.ppm.finance.bean.dto.TFdBankCustomerPrepaymentDTO">
        SELECT
        ID,
        DEBTORPAYMENT_ID,
        SOURCE_DEBTORPAYMENT_ID
        FROM
        T_FD_BANK_CUSTOMER_PREPAYMENT
        <foreach item="item" index="index" collection="list" open="WHERE ID IN (" separator="," close=")">
            #{item.invoicePrepayId}
        </foreach>

    </select>
    <!--   获取预缴的信息-->
    <select id="getPrePayList"
            parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentSearchDTO"
            resultType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">
        SELECT
        TFBCP.ID,
        TFBCP.ID AS invoicePrepayId,
        TFBCP.PREPAYMENT_CODE AS sysInvoicePrepayNo,
        TFBCP.DEBTORPAYMENT_ID,
        TFBCP.SOURCE_DEBTORPAYMENT_ID,
        TFBCP.COMPANY_NAME,
        TFBCP.COMPANY_ID,
        TFBCP.CUSTOMER_ID,
        TFBCP.CUSTOMER_NAME AS customerName,
        TFBCP.PREPAYMENT_TIME AS invoicePrepayTime,
        NVL(TFBCP.PREPAYMENT_AMOUNT,0)-NVL(TFBCP.UTILIZED_AMOUNT,0) AS invoicePrepayAmount,
        TFBCP.UTILIZED_AMOUNT,
        TFBCP.PAYMENT_METHOD_CODE AS paymentMethodCode,
        TFBCP.PAYMENT_METHOD_NAME AS paymentMethodName,
        TFBCP.PREPAY_MODE_CODE,
        TFBCP.BANK_NAME,
        TFBCP.BANK_ID,
        TFBCP.STATUS,
        TFBCP.REMARK,
        TFBCP.CREATE_BY,
        TFBCP.CREATE_BY_NAME,
        TFBCP.CREATE_TIME,
        TFBCP.UPDATE_BY,
        TFBCP.UPDATE_BY_NAME,
        TFBCP.UPDATE_TIME,
        TFBCP.CARGO_INFO_ID,
        case when tbci.id is not null
            then to_char(tbci.cargo_info_no || '_' || tbt.trust_no)
            else '' end "cargoInfoNo"

        FROM
        T_FD_BANK_CUSTOMER_PREPAYMENT TFBCP
        left join t_bus_cargo_info tbci on tbci.id  = TFBCP.cargo_info_id
        left join t_bus_trust tbt on tbt.id  = TFBCP.bus_trust_id
        <where>
            TFBCP.STATUS = 1
            AND NVL(TFBCP.PREPAYMENT_AMOUNT,0)-NVL(TFBCP.UTILIZED_AMOUNT,0)  > 0
            AND (TFBCP.DEBTORPAYMENT_ID = '' OR TFBCP.DEBTORPAYMENT_ID IS NULL  )
            <if test="id != null">
                AND TFBCP.ID = #{id}
            </if>
            <if test="companyId != null">
                AND TFBCP.COMPANY_ID = #{companyId}
            </if>
            <if test="customerId != null and customerId != ''">
                AND TFBCP.CUSTOMER_ID = #{customerId}
            </if>
            <if test="prepaymentTypeCode !=null">
                AND TFBCP.PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode,jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY TFBCP.CREATE_TIME DESC
    </select>
    <!--   获取发票的信息-->
    <select id="getInvoiceList"
            parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentSearchDTO"
            resultType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">
        SELECT
        ID ,
        ID AS invoicePrepayId,
        COMPANY_NAME,
        COMPANY_ID,
        SYS_INVOICE_CODE AS sysInvoicePrepayNo,
        INVOICE_CODE AS invoicePrepayNo,
        CUSTOMER_ID,
        CUSTOMER_NAME,
        INVOICE_AMOUNT AS invoicePrepayAmount,
        STATUS,
        INVOICE_TYPE_CODE,
        INVOICE_TYPE_NAME,
        TAXATION_INVOICE,
        TAXATION_INVOICE_CODE,
        INVOICE_TIME AS invoicePrepayTime,
        REMARK,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        HAS_NOT_RECEIPT_AMOUNT
        FROM
        T_FD_INVOICE
        <where>
            STATUS = 1
            AND HAS_NOT_RECEIPT_AMOUNT > 0 and RECEIPT_STATUS &lt;30
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId}
            </if>
            <if test="customerId != null">
                AND CUSTOMER_ID = #{customerId}
            </if>
            <if test="prepaymentTypeCode != null">
                AND PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode,jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>
    <!--   获取CNDN的信息-->
    <select id="getCNDNList"
            parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentSearchDTO"
            resultType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">
        SELECT
        ID,
        ID AS invoicePrepayId,
        CNDN_CODE AS sysInvoicePrepayNo,
        CNDN_TYPE,
        COMPANY_NAME,
        COMPANY_ID,
        CUSTOMER_ID,
        CUSTOMER_NAME,
        CNDN_TIME AS invoicePrepayTime,
        ELIMINATE_AMOUNT AS invoicePrepayAmount,
        STATUS,
        REMARK,
        PREPAYMENT_TYPE_CODE,
        HAS_NOT_RECEIPT_AMOUNT
        FROM
            T_FD_CREDIT_DEBIT_BILL
        <where>
            STATUS = 1
            AND
            case when cndn_type = 2 and  HAS_NOT_RECEIPT_AMOUNT > 0 and RECEIPT_STATUS &lt;30 then 1
            when cndn_type = 1 and (DEBTORPAYMENT_ID = '' OR DEBTORPAYMENT_ID IS NULL  ) then 1
            else 2 end = 1
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId}
            </if>
            <if test="customerId != null and customerId != ''">
                AND CUSTOMER_ID = #{customerId}
            </if>
            <if test="prepaymentTypeCode != null">
                AND PREPAYMENT_TYPE_CODE = #{prepaymentTypeCode,jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>
    <!--   批量新增 -->
    <update id="updateInvoiceBatch" parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">

        <foreach collection="list" open="BEGIN" close="END;" item="item" separator=";" index="index">
            UPDATE
            T_FD_INVOICE
            SET
            DEBTORPAYMENT_ID = #{item.debtorpaymentId},
            UPDATE_BY = #{item.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
            HAS_NOT_RECEIPT_AMOUNT =  #{item.hasNotReceiptAmount},
            RECEIPT_STATUS =  #{item.receiptStatus},
            UPDATE_TIME = #{item.now}
            <where>
                ID =  #{item.invoicePrepayId}
            </where>
            <if test="(list.size-1) == index">
                ;
            </if>
        </foreach>
    </update>
    <!--   作废用-->
    <update id="updateInvoiceStatusBatch" parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">

        <foreach collection="list" open="BEGIN" close="END;" item="item" separator=";" index="index">
            UPDATE
            T_FD_INVOICE
            SET
            DEBTORPAYMENT_ID = '',
            HAS_NOT_RECEIPT_AMOUNT =  #{item.hasNotReceiptAmount},
            RECEIPT_STATUS =  #{item.receiptStatus},
            UPDATE_BY = #{item.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{item.now}
            <where>
                ID =  #{item.invoicePrepayId}
            </where>
            <if test="(list.size-1) == index">
                ;
            </if>
        </foreach>
    </update>
    <!--   批量新增 -->
    <update id="updatePrepayBatch" parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">

        <foreach collection="list" open="BEGIN" close="END;" item="item" separator=";" index="index">
            UPDATE
            T_FD_BANK_CUSTOMER_PREPAYMENT
            SET
            DEBTORPAYMENT_ID = #{item.debtorpaymentId},
            UTILIZED_AMOUNT =#{item.invoicePrepayAmount,jdbcType=DECIMAL},
            UPDATE_BY = #{item.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{item.now}
            <where>
                ID =  #{item.invoicePrepayId}
            </where>
            <if test="(list.size-1) == index">
                ;
            </if>
        </foreach>
    </update>
    <!--   作废用 -->
    <update id="updatePrepayStatusBatch" parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">

        <foreach collection="list" open="BEGIN" close="END;" item="item" separator=";" index="index">
            UPDATE
            T_FD_BANK_CUSTOMER_PREPAYMENT
            SET
            VOID_REMARK = #{item.voidRemark,jdbcType=VARCHAR},
            <if test="item.status !=null">
                STATUS= #{item.status,jdbcType=BIGINT},
            </if>
            DEBTORPAYMENT_ID = '',
            UTILIZED_AMOUNT =#{item.invoicePrepayAmount,jdbcType=DECIMAL},
            UPDATE_BY = #{item.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{item.now}
            <if test="item.status !=null and item.status == 2">
                , VOID_BY = #{item.loginUserId, jdbcType=BIGINT},
                VOID_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
                VOID_TIME = #{item.now}
            </if>

            <where>
                ID =  #{item.invoicePrepayId}
            </where>
            <if test="(list.size-1) == index">
                ;
            </if>
        </foreach>
    </update>
    <!--   批量更新CNDN_Bill-->
    <update id="updateCNDNBillBatch" parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">

        <foreach collection="list" open="BEGIN" close="END;" item="item" separator=";" index="index">
            UPDATE
            T_FD_CREDIT_DEBIT_BILL
            SET
            DEBTORPAYMENT_ID = #{item.debtorpaymentId},
            UPDATE_BY = #{item.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
            HAS_NOT_RECEIPT_AMOUNT =  #{item.hasNotReceiptAmount},
            RECEIPT_STATUS =  #{item.receiptStatus},
            UPDATE_TIME = #{item.now}
            <where>
                ID =  #{item.invoicePrepayId}
            </where>
            <if test="(list.size-1) == index">
                ;
            </if>
        </foreach>
    </update>
    <!--   作废用 -->
    <update id="updateCNDNBillStatusBatch" parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">

        <foreach collection="list" open="BEGIN" close="END;" item="item" separator=";" index="index">
            UPDATE
            T_FD_CREDIT_DEBIT_BILL
            SET
            DEBTORPAYMENT_ID = '',
            HAS_NOT_RECEIPT_AMOUNT =  #{item.hasNotReceiptAmount},
            RECEIPT_STATUS =  #{item.receiptStatus},
            UPDATE_BY = #{item.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{item.now}
            <where>
                ID =  #{item.invoicePrepayId}
            </where>
            <if test="(list.size-1) == index">
                ;
            </if>
        </foreach>
    </update>

    <select id="getIsTbFeeInvoiceDetailListByIds" resultType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO">
        select T1.TYPE "shipFeeType",TFID.SHIPVOYAGE_ITEM_ID
        FROM T_FD_INVOICE TFI
        LEFT JOIN T_FD_INVOICE_DETAIL TFID ON TFID.INVOICE_ID = TFI.ID
        LEFT JOIN T_COST_STATEMENT_DETAIL TCS  ON TFID.STATEMENT_DETAIL_ID =  TCS.ID
        LEFT JOIN T_COST_SHIP T1 ON TCS.BUSINESS_ID = T1.ID
        WHERE T1.TYPE = '10'
        AND TFI.ID IN
        <foreach collection="list" open="(" item="id" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
        GROUP BY T1.TYPE,TFID.SHIPVOYAGE_ITEM_ID
    </select>
    <select id="getShipVoyageItemByItemId" resultType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO">
        select * FROM T_DIS_SHIPVOYAGE_ITEM where ID = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateShipVoyageItem" parameterType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO">
        UPDATE T_DIS_SHIPVOYAGE_ITEM
        SET
        PAYMENT_AMOUNT = #{paymentAmount},
        PAYMENT_AMOUNT_BACK = #{paymentAmountBack}
        where ID = #{id}
    </update>

    <select id="getAllItemByOneItemId" resultType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO">
           SELECT * FROM T_DIS_SHIPVOYAGE_ITEM
           where SHIPVOYAGE_ID = (SELECT SHIPVOYAGE_ID FROM T_DIS_SHIPVOYAGE_ITEM WHERE  ID = #{id} )
    </select>

    <update id="updateShipVoyage" parameterType="com.yy.ppm.dispatch.bean.dto.disShipvoyage.TDisShipvoyageDTO">
        update T_DIS_SHIPVOYAGE  SET
        PAYMENT_AMOUNT = #{paymentAmount}
        where ID = #{id}
    </update>

    <select id="getPrepayById"
             parameterType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentSearchDTO"
             resultType="com.yy.ppm.finance.bean.dto.TFdDebtorpaymentDetailDTO">
    SELECT
    ID,
    ID AS invoicePrepayId,
    PREPAYMENT_CODE AS sysInvoicePrepayNo,
    DEBTORPAYMENT_ID,
    SOURCE_DEBTORPAYMENT_ID,
    COMPANY_NAME,
    COMPANY_ID,
    CUSTOMER_ID,
    CUSTOMER_NAME AS customerName,
    PREPAYMENT_TIME AS invoicePrepayTime,
    NVL(PREPAYMENT_AMOUNT,0)-NVL(UTILIZED_AMOUNT,0) AS invoicePrepayAmount,
    UTILIZED_AMOUNT,
    PAYMENT_METHOD_CODE AS paymentMethodCode,
    PAYMENT_METHOD_NAME AS paymentMethodName,
    BANK_NAME,
    BANK_ID,
    STATUS,
    REMARK,
    CREATE_BY,
    CREATE_BY_NAME,
    CREATE_TIME,
    UPDATE_BY,
    UPDATE_BY_NAME,
    UPDATE_TIME
    FROM
    T_FD_BANK_CUSTOMER_PREPAYMENT
    where ID = #{id}

    ORDER BY CREATE_TIME DESC
</select>
    <select id="getCargoInfoIdByInvoiceId" resultType="map">
        SELECT
        tfi.id "id",tbci.cargo_info_no "cargoInfoId"
        FROM T_BUS_HANDOVERLIST  tbh
        LEFT JOIN T_COST_STATEMENT tcs on tcs.HANDOVERLIST_ID = tbh.id
        LEFT JOIN T_COST_STATEMENT_DETAIL tcsd on tcsd.STATEMENT = tcs.id
        LEFT JOIN T_FD_INVOICE_DETAIL tfid on tfid.STATEMENT_DETAIL_ID =tcsd.id
        LEFT JOIN T_FD_INVOICE tfi on tfi.id = tfid.INVOICE_ID
        left join t_bus_cargo_info tbci on tbci.id  = tbh.CARGO_INFO_ID
       <where>
            <if test="cargoInfoId!=null and cargoInfoId!=''">
                tbh.CARGO_INFO_ID = #{cargoInfoId}

            </if>
          <if test="list!=null">
              and tfi.id in
              <foreach collection="list" item="item" open="(" separator="," close=")">
                  #{item}
              </foreach>
          </if>
       </where>

    </select>
    <select id="getCargoInfoIdBycndnId" resultType="java.util.Map">
        SELECT
        TFCDB.ID "id",tbci.cargo_info_no "cargoInfoNo"
        FROM T_FD_CREDIT_DEBIT_BILL TFCDB
        LEFT JOIN T_FD_CREDIT_DEBIT_BILL_DETAIL TFCDBD on TFCDB.id  = TFCDBD.CNDN_ID
        LEFT JOIN T_FD_INVOICE_DETAIL TFI on  TFCDBD.INVOICE_DETAIL_ID = TFI.ID
        LEFT JOIN T_COST_STATEMENT_DETAIL TCSD on TFI.STATEMENT_DETAIL_ID = TCSD.ID
        LEFT JOIN T_COST_STATEMENT TCS ON TCS.ID = TCSD.STATEMENT
        LEFT JOIN T_BUS_HANDOVERLIST TBH ON TBH.ID = TCS.HANDOVERLIST_ID
        left join t_bus_cargo_info tbci on tbci.id  = tbh.cargo_info_id
        <where>
            <if test="cargoInfoId!=null and cargoInfoId!=''">
               TBH.CARGO_INFO_ID = #{cargoInfoId}
            </if>
           <if test="list!=null">
               and TFCDB.ID in
               <foreach collection="list" item="item" open="(" separator="," close=")">
                   #{item}
               </foreach>
           </if>
        </where>

    </select>
</mapper>

