<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.finance.mapper.TFdInvoiceDetailMapper">

    <sql id="commonList">
        SELECT
        ID,
        INVOICE_ID,
        STATEMENT_NO,
        INVOICE_TYPE,
        RATE_ITEM_CODE,
        RATE_ITEM_NAME,
        NUMBER_COUNT,
        AMOUNT,
        PIECE_AMOUNT,
        TAX,
        TAX_AMOUNT,
        UNIT_CODE,
        UNIT_NAME,
        RATE_ID,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        T_FD_INVOICE_DETAIL
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="invoiceId != null and invoiceId != ''">
                and INVOICE_ID = #{invoiceId}
            </if>
            <if test="statementNo != null">
                and STATEMENT_NO = #{statementNo}
            </if>
            <if test="invoiceType != null">
                and INVOICE_TYPE = #{invoiceType}
            </if>
            <if test="rateItemCode != null and rateItemCode != ''">
                and RATE_ITEM_CODE = #{rateItemCode}
            </if>
            <if test="rateItemName != null and rateItemName != ''">
                and RATE_ITEM_NAME = #{rateItemName}
            </if>
            <if test="numberCount != null">
                and NUMBER_COUNT = #{numberCount}
            </if>
            <if test="amount != null">
                and AMOUNT = #{amount}
            </if>
            <if test="tax != null">
                and TAX = #{tax}
            </if>
            <if test="taxAmount != null">
                and TAX_AMOUNT = #{taxAmount}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO" parameterType="java.lang.Long">
        SELECT
        ID,UNIT_ID,UNIT_NAME,RATE_ID, INVOICE_ID, STATEMENT_NO, INVOICE_TYPE, RATE_ITEM_CODE, RATE_ITEM_NAME, NUMBER_COUNT, AMOUNT, TAX,
        PIECE_AMOUNT,TAX_AMOUNT, CREATE_BY, CREATE_BY_NAME, CREATE_TIME, UPDATE_BY, UPDATE_BY_NAME, UPDATE_TIME FROM
        T_FD_INVOICE_DETAIL
        <where>
            id = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO">
        INSERT INTO T_FD_INVOICE_DETAIL(
                ID,
                INVOICE_ID,
                STATEMENT_NO,
                INVOICE_TYPE,
                RATE_ITEM_CODE,
                RATE_ITEM_NAME,
                NUMBER_COUNT,
                PIECE_AMOUNT,
                AMOUNT,
                TAX,
                TAX_AMOUNT,
                UNIT_CODE,
                UNIT_NAME,
                RATE_ID,
                CREATE_BY,
                CREATE_BY_NAME,
                CREATE_TIME
        )VALUES (
                #{id, jdbcType=VARCHAR},
                #{invoiceId, jdbcType=VARCHAR},
                #{statementNo, jdbcType=VARCHAR},
                #{invoiceType, jdbcType=VARCHAR},
                #{rateItemCode, jdbcType=VARCHAR},
                #{rateItemName, jdbcType=VARCHAR},
                #{numberCount, jdbcType=DECIMAL},
                #{pieceAmount, jdbcType=DECIMAL},
                #{amount, jdbcType=DECIMAL},
                #{tax, jdbcType=VARCHAR},
                #{unitCode, jdbcType=VARCHAR},
                #{unitName, jdbcType=VARCHAR},
                #{rateId, jdbcType=BIGINT},
                #{taxAmount, jdbcType=DECIMAL},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now}
)
    </insert>
    <!-- 修改 -->
    <update id="update"  parameterType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO">
        UPDATE
        T_FD_INVOICE_DETAIL
        SET
        ID = #{id,jdbcType=VARCHAR},
        INVOICE_ID = #{invoiceId,jdbcType=VARCHAR},
        STATEMENT_NO = #{statementNo,jdbcType=VARCHAR},
        STATEMENT_DETAIL_ID = #{statementDetailId,jdbcType=VARCHAR},
        INVOICE_TYPE = #{invoiceType,jdbcType=VARCHAR},
        RATE_ITEM_CODE = #{rateItemCode,jdbcType=VARCHAR},
        RATE_ITEM_NAME = #{rateItemName,jdbcType=VARCHAR},
        NUMBER_COUNT = #{numberCount,jdbcType=DECIMAL},
        PIECE_AMOUNT = #{pieceAmount,jdbcType=DECIMAL},
        AMOUNT = #{amount,jdbcType=DECIMAL},
        TAX = #{tax,jdbcType=DECIMAL},
        TAX_AMOUNT = #{taxAmount,jdbcType=DECIMAL},
        UNIT_CODE = #{unitCode,jdbcType=VARCHAR},
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
        RATE_ID =#{rateId, jdbcType=BIGINT},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_FD_INVOICE_DETAIL
        WHERE
            id = #{id}
    </delete>
    <delete id="deleteByInvoiceId" parameterType="java.lang.Long">
        DELETE FROM
            T_FD_INVOICE_DETAIL
        WHERE
            INVOICE_ID = #{id}
    </delete>
    <insert id="insertBatch" parameterType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO">
        INSERT INTO T_FD_INVOICE_DETAIL(
        ID,
        INVOICE_ID,
        STATEMENT_NO,
        STATEMENT_DETAIL_ID,
        "TYPE",
        RATE_ITEM_CODE,
        RATE_ITEM_NAME,
        NUMBER_COUNT,
        NUMBER_COUNT2,
        PIECE_AMOUNT,
        AMOUNT,
        TAX,
        TAX_AMOUNT,
        UNIT_CODE,
        UNIT_NAME,
        RATE_ID,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        CARGO_INFO_ID,
        SHIPVOYAGE_ID,
        SHIPVOYAGE_ITEM_ID,
        SCN,
        SHIP_NAME,
        VOYAGE,
        TRADE_TYPE,
        IMP_EXP
        )
        (
        <foreach collection="list" item="item"  open="" close="" separator=" UNION ALL " >
            SELECT
            #{item.id, jdbcType=BIGINT},
            #{item.invoiceId, jdbcType=BIGINT},
            #{item.statementNo, jdbcType=VARCHAR},
            #{item.statementDetailId, jdbcType=BIGINT},
            #{item.type, jdbcType=VARCHAR},
            #{item.rateItemCode, jdbcType=VARCHAR},
            #{item.rateItemName, jdbcType=VARCHAR},
            #{item.numberCount, jdbcType=DECIMAL},
            #{item.numberCount2, jdbcType=DECIMAL},
            #{item.pieceAmount, jdbcType=DECIMAL},
            #{item.amount, jdbcType=DECIMAL},
            #{item.tax, jdbcType=DECIMAL},
            #{item.taxAmount, jdbcType=DECIMAL},
            #{item.unitCode, jdbcType=VARCHAR},
            #{item.unitName, jdbcType=VARCHAR},
            #{item.rateId, jdbcType=BIGINT},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now,jdbcType=TIMESTAMP},
            #{item.cargoInfoId,jdbcType=BIGINT},
            #{item.shipvoyageId,jdbcType=BIGINT},
            #{item.shipvoyageItemId,jdbcType=BIGINT},
            #{item.scn,jdbcType=VARCHAR},
            #{item.shipName,jdbcType=VARCHAR},
            #{item.voyage,jdbcType=VARCHAR},
            #{item.tradeType,jdbcType=VARCHAR},
            #{item.impExp,jdbcType=VARCHAR}
            FROM DUAL
        </foreach>
        )
    </insert>

    <select id="getListByInvoiceId" resultType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailSearchDTO">
         SELECT
        TFID.ID,
        TFID.INVOICE_ID,
        TFID.STATEMENT_NO,
        TFID.STATEMENT_DETAIL_ID,
        TFID."TYPE",
        TFID.RATE_ITEM_CODE,
        TFID.NUMBER_COUNT,
        TFID.NUMBER_COUNT2,
        TFID.AMOUNT,
        TFID.PIECE_AMOUNT,
        TFID.TAX,
        TFID.TAX_AMOUNT,
        TFID.UNIT_CODE,
        TFID.UNIT_NAME,
        TFID.RATE_ID,
        TFID.CREATE_BY,
        TFID.CREATE_BY_NAME,
        TFID.CREATE_TIME,
        TFID.UPDATE_BY,
        TFID.UPDATE_BY_NAME,
        TFID.UPDATE_TIME,
        TFID.SCN,
        CONCAT(CONCAT(TFID.SHIP_NAME,'_'),TFID.VOYAGE) "shipNameVoyage",
        CASE WHEN CONCAT(TBR.RATE_ITEM_NAME,DECODE(TBR.PROCESS_NAME,NULL,'','('||TBR.PROCESS_NAME||')')) IS NULL
        THEN TFID.RATE_ITEM_NAME
        ELSE CONCAT(TBR.RATE_ITEM_NAME,DECODE(TBR.PROCESS_NAME,NULL,'','('||TBR.PROCESS_NAME||')'))
        END RATE_ITEM_NAME

        FROM
        T_FD_INVOICE_DETAIL TFID
        LEFT JOIN  T_BUS_RATE TBR ON  TFID.RATE_ID = TBR.ID
        <where>
            <if test="invoiceId != null">
                and TFID.INVOICE_ID = #{invoiceId}
            </if>
        </where>
    </select>

    <select id="getListByInvoiceIds"
            parameterType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO"
            resultType="com.yy.ppm.finance.bean.dto.TFdInvoiceDetailDTO"
    >
    SELECT
        ID,
        INVOICE_ID,
        STATEMENT_NO,
        STATEMENT_DETAIL_ID,
        "TYPE",
        RATE_ITEM_CODE,
        RATE_ITEM_NAME,
        NUMBER_COUNT,
        AMOUNT,
        PIECE_AMOUNT,
        TAX,
        TAX_AMOUNT,
        UNIT_CODE,
        UNIT_NAME,
        RATE_ID
        FROM
        T_FD_INVOICE_DETAIL
        WHERE
        ID
        <foreach item="item" index="index" collection="list" open="IN (" separator="," close=")">
            #{item.id}
        </foreach>

    </select>
    <select id="getProductCodeByItemCd" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT PRODUCT_CODE "productCode" FROM M_FEE_ITEM mfi
        WHERE ITEM_CD = #{itemCd}
    </select>

    <select id="getProductCodeByRateId" resultType="java.lang.String" >
        SELECT distinct PRODUCT_CODE "productCode" FROM M_FEE_ITEM mfi
        WHERE ITEM_CD = (
            SELECT rate_item_code  FROM T_BUS_RATE WHERE id = #{id}
        )
    </select>

</mapper>

