<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.finance.mapper.TSdInvoiceQueryItemMapper">

    <sql id="commonList">
        SELECT
        ID,
        INVOICE_QUERY_ID,
        NATURE_LINES,
        ITEM,
        SHORTER_ITEM,
        SPECIFICATION,
        MEASUREMENT_DIMENSION,
        QUANTITY,
        PRICE,
        AMOUNT,
        TAX_SCHEME,
        TAX_AMOUNT,
        PRODUCT_CODE,
        SELF_PRODUCT_CODE,
        ZEROTAX_SCHEME_MARK,
        BLUE_LETTER_INVOICE_ID,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        T_SD_INVOICE_QUERY_ITEM
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="invoiceQueryId != null">
                and INVOICE_QUERY_ID = #{invoiceQueryId}
            </if>
            <if test="natureLines != null and natureLines != ''">
                and NATURE_LINES = #{natureLines}
            </if>
            <if test="item != null and item != ''">
                and ITEM = #{item}
            </if>
            <if test="shorterItem != null">
                and SHORTER_ITEM = #{shorterItem}
            </if>
            <if test="specification != null and specification != ''">
                and SPECIFICATION = #{specification}
            </if>
            <if test="measurementDimension != null and measurementDimension != ''">
                and MEASUREMENT_DIMENSION = #{measurementDimension}
            </if>
            <if test="quantity != null and quantity != ''">
                and QUANTITY = #{quantity}
            </if>
            <if test="price != null and price != ''">
                and PRICE = #{price}
            </if>
            <if test="amount != null and amount != ''">
                and AMOUNT = #{amount}
            </if>
            <if test="taxScheme != null and taxScheme != ''">
                and TAX_SCHEME = #{taxScheme}
            </if>
            <if test="taxAmount != null and taxAmount != ''">
                and TAX_AMOUNT = #{taxAmount}
            </if>
            <if test="productCode != null and productCode != ''">
                and PRODUCT_CODE = #{productCode}
            </if>
            <if test="selfProductCode != null and selfProductCode != ''">
                and SELF_PRODUCT_CODE = #{selfProductCode}
            </if>
            <if test="zerotaxSchemeMark != null and zerotaxSchemeMark != ''">
                and ZEROTAX_SCHEME_MARK = #{zerotaxSchemeMark}
            </if>
            <if test="blueLetterInvoiceId != null and blueLetterInvoiceId != ''">
                and BLUE_LETTER_INVOICE_ID = #{blueLetterInvoiceId}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceQueryItemDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TSdInvoiceQueryItemSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceQueryItemDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TSdInvoiceQueryItemSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceQueryItemDTO" parameterType="java.lang.Long">
        SELECT
        ID
        INVOICE_QUERY_ID
        NATURE_LINES
        ITEM
        SHORTER_ITEM
        SPECIFICATION
        MEASUREMENT_DIMENSION
        QUANTITY
        PRICE
        AMOUNT
        TAX_SCHEME
        TAX_AMOUNT
        PRODUCT_CODE
        SELF_PRODUCT_CODE
        ZEROTAX_SCHEME_MARK
        BLUE_LETTER_INVOICE_ID
        CREATE_BY
        CREATE_BY_NAME
        CREATE_TIME
        UPDATE_BY
        UPDATE_BY_NAME
        UPDATE_TIME
        FROM
        T_SD_INVOICE_QUERY_ITEM
        <where>
            id = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.finance.bean.dto.TSdInvoiceQueryItemDTO">
        INSERT INTO T_SD_INVOICE_QUERY_ITEM(ID,
                                            INVOICE_QUERY_ID,
                                            NATURE_LINES,
                                            ITEM,
                                            SHORTER_ITEM,
                                            SPECIFICATION,
                                            MEASUREMENT_DIMENSION,
                                            QUANTITY,
                                            PRICE,
                                            AMOUNT,
                                            TAX_SCHEME,
                                            TAX_AMOUNT,
                                            PRODUCT_CODE,
                                            SELF_PRODUCT_CODE,
                                            ZEROTAX_SCHEME_MARK,
                                            BLUE_LETTER_INVOICE_ID,
                                            CREATE_BY,
                                            CREATE_BY_NAME,
                                            CREATE_TIME)
        VALUES (#{id, jdbcType=VARCHAR},
                #{invoiceQueryId, jdbcType=VARCHAR},
                #{natureLines, jdbcType=VARCHAR},
                #{item, jdbcType=VARCHAR},
                #{shorterItem, jdbcType=VARCHAR},
                #{specification, jdbcType=VARCHAR},
                #{measurementDimension, jdbcType=VARCHAR},
                #{quantity, jdbcType=VARCHAR},
                #{price, jdbcType=VARCHAR},
                #{amount, jdbcType=VARCHAR},
                #{taxScheme, jdbcType=VARCHAR},
                #{taxAmount, jdbcType=VARCHAR},
                #{productCode, jdbcType=VARCHAR},
                #{selfProductCode, jdbcType=VARCHAR},
                #{zerotaxSchemeMark, jdbcType=VARCHAR},
                #{blueLetterInvoiceId, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.finance.bean.dto.TSdInvoiceQueryItemDTO">
        UPDATE
        T_SD_INVOICE_QUERY_ITEM
        SET
        ID = #{id,jdbcType=VARCHAR},
        INVOICE_QUERY_ID = #{invoiceQueryId,jdbcType=VARCHAR},
        NATURE_LINES = #{natureLines,jdbcType=VARCHAR},
        ITEM = #{item,jdbcType=VARCHAR},
        SHORTER_ITEM = #{shorterItem,jdbcType=VARCHAR},
        SPECIFICATION = #{specification,jdbcType=VARCHAR},
        MEASUREMENT_DIMENSION = #{measurementDimension,jdbcType=VARCHAR},
        QUANTITY = #{quantity,jdbcType=VARCHAR},
        PRICE = #{price,jdbcType=VARCHAR},
        AMOUNT = #{amount,jdbcType=VARCHAR},
        TAX_SCHEME = #{taxScheme,jdbcType=VARCHAR},
        TAX_AMOUNT = #{taxAmount,jdbcType=VARCHAR},
        PRODUCT_CODE = #{productCode,jdbcType=VARCHAR},
        SELF_PRODUCT_CODE = #{selfProductCode,jdbcType=VARCHAR},
        ZEROTAX_SCHEME_MARK = #{zerotaxSchemeMark,jdbcType=VARCHAR},
        BLUE_LETTER_INVOICE_ID = #{blueLetterInvoiceId,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM T_SD_INVOICE_QUERY_ITEM
        WHERE id = #{id}
    </delete>
</mapper>

