<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.finance.mapper.TSdInvoiceRequestMapper">

    <sql id="commonList">
        SELECT
        ID

        INVOICE_ID

        INVOICE_NO

        ISSUE_DATE

        SPECIAL_INVOICE_MARK

        TAX_INCLUSIVE_PRICE_MARK

        INVOICE_LINES

        TAX_EXCLUSIVE_TOTAL_AMOUNT

        TAX_TOTAL_AMOUNT

        TAX_INCLUSIVE_TOTAL_AMOUNT

        DEDUCTION

        NOTE

        PAYEE

        CHECKER

        INVOICE_CLERK

        RANDOM_NUM

        FILE_URL

        FILE_URL_XML

        SELLER_TAX_ID

        SELLER_NAME

        SELLER_ADDR_TEL

        SELLER_TEL

        SELLER_FINANCIAL_ACCOUNT

        SELLER_ACCOUNT

        BUYER_TAX_ID

        BUYER_NAME

        BUYER_ADDR_TEL

        BUYER_TEL

        BUYER_FINANCIAL_ACCOUNT

        BUYER_ACCOUNT

        COUNT

        CREATE_BY

        CREATE_BY_NAME

        CREATE_TIME

        UPDATE_BY

        UPDATE_BY_NAME

        UPDATE_TIME

        FROM
        T_SD_INVOICE_REQUEST
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="invoiceId != null">
                and INVOICE_ID = #{invoiceId}
            </if>
            <if test="invoiceNo != null">
                and INVOICE_NO = #{invoiceNo}
            </if>
            <if test="issueDate != null">
                and ISSUE_DATE = #{issueDate}
            </if>
            <if test="specialInvoiceMark != null and specialInvoiceMark != ''">
                and SPECIAL_INVOICE_MARK = #{specialInvoiceMark}
            </if>
            <if test="taxInclusivePriceMark != null and taxInclusivePriceMark != ''">
                and TAX_INCLUSIVE_PRICE_MARK = #{taxInclusivePriceMark}
            </if>
            <if test="invoiceLines != null and invoiceLines != ''">
                and INVOICE_LINES = #{invoiceLines}
            </if>
            <if test="taxExclusiveTotalAmount != null and taxExclusiveTotalAmount != ''">
                and TAX_EXCLUSIVE_TOTAL_AMOUNT = #{taxExclusiveTotalAmount}
            </if>
            <if test="taxTotalAmount != null and taxTotalAmount != ''">
                and TAX_TOTAL_AMOUNT = #{taxTotalAmount}
            </if>
            <if test="taxInclusiveTotalAmount != null and taxInclusiveTotalAmount != ''">
                and TAX_INCLUSIVE_TOTAL_AMOUNT = #{taxInclusiveTotalAmount}
            </if>
            <if test="deduction != null and deduction != ''">
                and DEDUCTION = #{deduction}
            </if>
            <if test="note != null and note != ''">
                and NOTE = #{note}
            </if>
            <if test="payee != null and payee != ''">
                and PAYEE = #{payee}
            </if>
            <if test="checker != null and checker != ''">
                and CHECKER = #{checker}
            </if>
            <if test="invoiceClerk != null and invoiceClerk != ''">
                and INVOICE_CLERK = #{invoiceClerk}
            </if>
            <if test="randomNum != null and randomNum != ''">
                and RANDOM_NUM = #{randomNum}
            </if>
            <if test="fileUrl != null and fileUrl != ''">
                and FILE_URL = #{fileUrl}
            </if>
            <if test="fileUrlXml != null and fileUrlXml != ''">
                and FILE_URL_XML = #{fileUrlXml}
            </if>
            <if test="sellerTaxId != null and sellerTaxId != ''">
                and SELLER_TAX_ID = #{sellerTaxId}
            </if>
            <if test="sellerName != null and sellerName != ''">
                and SELLER_NAME = #{sellerName}
            </if>
            <if test="sellerAddrTel != null and sellerAddrTel != ''">
                and SELLER_ADDR_TEL = #{sellerAddrTel}
            </if>
            <if test="sellerTel != null and sellerTel != ''">
                and SELLER_TEL = #{sellerTel}
            </if>
            <if test="sellerFinancialAccount != null and sellerFinancialAccount != ''">
                and SELLER_FINANCIAL_ACCOUNT = #{sellerFinancialAccount}
            </if>
            <if test="sellerAccount != null and sellerAccount != ''">
                and SELLER_ACCOUNT = #{sellerAccount}
            </if>
            <if test="buyerTaxId != null and buyerTaxId != ''">
                and BUYER_TAX_ID = #{buyerTaxId}
            </if>
            <if test="buyerName != null and buyerName != ''">
                and BUYER_NAME = #{buyerName}
            </if>
            <if test="buyerAddrTel != null and buyerAddrTel != ''">
                and BUYER_ADDR_TEL = #{buyerAddrTel}
            </if>
            <if test="buyerTel != null and buyerTel != ''">
                and BUYER_TEL = #{buyerTel}
            </if>
            <if test="buyerFinancialAccount != null and buyerFinancialAccount != ''">
                and BUYER_FINANCIAL_ACCOUNT = #{buyerFinancialAccount}
            </if>
            <if test="buyerAccount != null and buyerAccount != ''">
                and BUYER_ACCOUNT = #{buyerAccount}
            </if>
            <if test="count != null and count != ''">
                and COUNT = #{count}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO" parameterType="java.lang.Long">
        SELECT
        ID,
        INVOICE_ID,
        INVOICE_NO,
        ISSUE_DATE,
        SPECIAL_INVOICE_MARK,
        TAX_INCLUSIVE_PRICE_MARK,
        INVOICE_LINES,
        TAX_EXCLUSIVE_TOTAL_AMOUNT,
        TAX_TOTAL_AMOUNT,
        TAX_INCLUSIVE_TOTAL_AMOUNT,
        DEDUCTION,
        NOTE,
        PAYEE,
        CHECKER,
        INVOICE_CLERK,
        RANDOM_NUM,
        FILE_URL,
        FILE_URL_XML,
        SELLER_TAX_ID,
        SELLER_NAME,
        SELLER_ADDR_TEL,
        SELLER_TEL,
        SELLER_FINANCIAL_ACCOUNT,
        SELLER_ACCOUNT,
        BUYER_TAX_ID,
        BUYER_NAME,
        BUYER_ADDR_TEL,
        BUYER_TEL,
        BUYER_FINANCIAL_ACCOUNT,
        BUYER_ACCOUNT,
        COUNT,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        T_SD_INVOICE_REQUEST
        <where>
            id = #{id}
        </where>
    </select>

    <select id="getByInvoiceId" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO"
            parameterType="java.lang.Long">
        SELECT
        ID,
        INVOICE_ID,
        INVOICE_NO,
        ISSUE_DATE,
        SPECIAL_INVOICE_MARK,
        TAX_INCLUSIVE_PRICE_MARK,
        INVOICE_LINES,
        TAX_EXCLUSIVE_TOTAL_AMOUNT,
        TAX_TOTAL_AMOUNT,
        TAX_INCLUSIVE_TOTAL_AMOUNT,
        DEDUCTION,
        NOTE,
        PAYEE,
        CHECKER,
        INVOICE_CLERK,
        RANDOM_NUM,
        FILE_URL,
        FILE_URL_XML,
        SELLER_TAX_ID,
        SELLER_NAME,
        SELLER_ADDR_TEL,
        SELLER_TEL,
        SELLER_FINANCIAL_ACCOUNT,
        SELLER_ACCOUNT,
        BUYER_TAX_ID,
        BUYER_NAME,
        BUYER_ADDR_TEL,
        BUYER_TEL,
        BUYER_FINANCIAL_ACCOUNT,
        BUYER_ACCOUNT,
        COUNT,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        T_SD_INVOICE_REQUEST
        <where>
            INVOICE_ID = #{invoiceId}
        </where>
    </select>

    <select id="invoiceByDetailId" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO" parameterType="java.lang.Long">
        SELECT tsir.* FROM T_SD_INVOICE_REQUEST tsir
        LEFT JOIN T_FD_INVOICE tfi ON TSIR.INVOICE_ID = TFI.id
        LEFT JOIN T_FD_INVOICE_DETAIL tfid ON TFI.id = TFID.INVOICE_ID
        <where>
            TFID.id = #{id}
        </where>
    </select>

    <select id="invoiceByInvoiceCode" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO">
        SELECT tsir.* FROM T_SD_INVOICE_REQUEST tsir
        LEFT JOIN T_FD_INVOICE tfi ON TSIR.INVOICE_ID = TFI.id
        WHERE tfi.STATUS !='2'
        AND TFI.SYS_INVOICE_CODE = #{invoiceCode}
        ORDER BY tsir.CREATE_TIME DESC
    </select>

    <select id="invoiceByCnDnCode" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO">
        SELECT tsir.* FROM T_SD_INVOICE_REQUEST tsir
        LEFT JOIN T_FD_CREDIT_DEBIT_BILL tfcdb ON TSIR.INVOICE_ID = tfcdb.id
        WHERE tfcdb.STATUS !='2'
        AND tfcdb.CNDN_CODE = #{cnDnCode}
        ORDER BY tsir.CREATE_TIME DESC
    </select>
    <select id="redInvoiceApplyByDetailId" resultType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplyDTO" parameterType="java.lang.Long">
        SELECT tsria.* FROM T_SD_RED_INVOICE_APPLY tsria
        LEFT JOIN T_FD_INVOICE tfi ON tsria.INVOICE_ID = TFI.id
        LEFT JOIN T_FD_INVOICE_DETAIL tfid ON TFI.id = TFID.INVOICE_ID
        <where>
            TFID.id = #{id}
        </where>
    </select>
    <select id="redInvoiceApplyByInvoiceCode" resultType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplyDTO" parameterType="java.lang.Long">
        SELECT tsria.* FROM T_SD_RED_INVOICE_APPLY tsria
        LEFT JOIN T_FD_INVOICE tfi ON tsria.INVOICE_ID = TFI.id
        <where>
            STATUS != '2' AND tfi.SYS_INVOICE_CODE = #{invoiceCode}
        </where>
        order by tfi.CREATE_TIME desc
    </select>

    <select id="getByaInvoiceId" resultType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO"
            parameterType="java.lang.Long">
        SELECT
        ID
        INVOICE_ID
        INVOICE_NO
        ISSUE_DATE
        SPECIAL_INVOICE_MARK
        TAX_INCLUSIVE_PRICE_MARK
        INVOICE_LINES
        TAX_EXCLUSIVE_TOTAL_AMOUNT
        TAX_TOTAL_AMOUNT
        TAX_INCLUSIVE_TOTAL_AMOUNT
        DEDUCTION
        NOTE
        PAYEE
        CHECKER
        INVOICE_CLERK
        RANDOM_NUM
        FILE_URL
        FILE_URL_XML
        SELLER_TAX_ID
        SELLER_NAME
        SELLER_ADDR_TEL
        SELLER_TEL
        SELLER_FINANCIAL_ACCOUNT
        SELLER_ACCOUNT
        BUYER_TAX_ID
        BUYER_NAME
        BUYER_ADDR_TEL
        BUYER_TEL
        BUYER_FINANCIAL_ACCOUNT
        BUYER_ACCOUNT
        COUNT
        CREATE_BY
        CREATE_BY_NAME
        CREATE_TIME
        UPDATE_BY
        UPDATE_BY_NAME
        UPDATE_TIME
        FROM
        T_SD_INVOICE_REQUEST
        <where>
            INVOICE_ID = #{invoiceId}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO">
        INSERT INTO T_SD_INVOICE_REQUEST(ID,
                                         INVOICE_ID,
                                         INVOICE_NO,
                                         ISSUE_DATE,
                                         SPECIAL_INVOICE_MARK,
                                         TAX_INCLUSIVE_PRICE_MARK,
                                         INVOICE_LINES,
                                         TAX_EXCLUSIVE_TOTAL_AMOUNT,
                                         TAX_TOTAL_AMOUNT,
                                         TAX_INCLUSIVE_TOTAL_AMOUNT,
                                         DEDUCTION,
                                         NOTE,
                                         PAYEE,
                                         CHECKER,
                                         INVOICE_CLERK,
                                         RANDOM_NUM,
                                         FILE_URL,
                                         FILE_URL_XML,
                                         SELLER_TAX_ID,
                                         SELLER_NAME,
                                         SELLER_ADDR_TEL,
                                         SELLER_TEL,
                                         SELLER_FINANCIAL_ACCOUNT,
                                         SELLER_ACCOUNT,
                                         BUYER_TAX_ID,
                                         BUYER_NAME,
                                         BUYER_ADDR_TEL,
                                         BUYER_TEL,
                                         BUYER_FINANCIAL_ACCOUNT,
                                         BUYER_ACCOUNT,
                                         COUNT,
                                         CREATE_BY,
                                         CREATE_BY_NAME,
                                         CREATE_TIME)
        VALUES (#{id, jdbcType=VARCHAR},
                #{invoiceId, jdbcType=VARCHAR},
                #{invoiceNo, jdbcType=VARCHAR},
                #{issueDate, jdbcType=VARCHAR},
                #{specialInvoiceMark, jdbcType=VARCHAR},
                #{taxInclusivePriceMark, jdbcType=VARCHAR},
                #{invoiceLines, jdbcType=VARCHAR},
                #{taxExclusiveTotalAmount, jdbcType=VARCHAR},
                #{taxTotalAmount, jdbcType=VARCHAR},
                #{taxInclusiveTotalAmount, jdbcType=VARCHAR},
                #{deduction, jdbcType=VARCHAR},
                #{note, jdbcType=VARCHAR},
                #{payee, jdbcType=VARCHAR},
                #{checker, jdbcType=VARCHAR},
                #{invoiceClerk, jdbcType=VARCHAR},
                #{randomNum, jdbcType=VARCHAR},
                #{fileUrl, jdbcType=VARCHAR},
                #{fileUrlXml, jdbcType=VARCHAR},
                #{sellerTaxId, jdbcType=VARCHAR},
                #{sellerName, jdbcType=VARCHAR},
                #{sellerAddrTel, jdbcType=VARCHAR},
                #{sellerTel, jdbcType=VARCHAR},
                #{sellerFinancialAccount, jdbcType=VARCHAR},
                #{sellerAccount, jdbcType=VARCHAR},
                #{buyerTaxId, jdbcType=VARCHAR},
                #{buyerName, jdbcType=VARCHAR},
                #{buyerAddrTel, jdbcType=VARCHAR},
                #{buyerTel, jdbcType=VARCHAR},
                #{buyerFinancialAccount, jdbcType=VARCHAR},
                #{buyerAccount, jdbcType=VARCHAR},
                #{count, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.finance.bean.dto.TSdInvoiceRequestDTO">
        UPDATE
        T_SD_INVOICE_REQUEST
        SET
        ID = #{id,jdbcType=VARCHAR},
        INVOICE_ID = #{invoiceId,jdbcType=VARCHAR},
        INVOICE_NO = #{invoiceNo,jdbcType=VARCHAR},
        ISSUE_DATE = #{issueDate,jdbcType=VARCHAR},
        SPECIAL_INVOICE_MARK = #{specialInvoiceMark,jdbcType=VARCHAR},
        TAX_INCLUSIVE_PRICE_MARK = #{taxInclusivePriceMark,jdbcType=VARCHAR},
        INVOICE_LINES = #{invoiceLines,jdbcType=VARCHAR},
        TAX_EXCLUSIVE_TOTAL_AMOUNT = #{taxExclusiveTotalAmount,jdbcType=VARCHAR},
        TAX_TOTAL_AMOUNT = #{taxTotalAmount,jdbcType=VARCHAR},
        TAX_INCLUSIVE_TOTAL_AMOUNT = #{taxInclusiveTotalAmount,jdbcType=VARCHAR},
        DEDUCTION = #{deduction,jdbcType=VARCHAR},
        NOTE = #{note,jdbcType=VARCHAR},
        PAYEE = #{payee,jdbcType=VARCHAR},
        CHECKER = #{checker,jdbcType=VARCHAR},
        INVOICE_CLERK = #{invoiceClerk,jdbcType=VARCHAR},
        RANDOM_NUM = #{randomNum,jdbcType=VARCHAR},
        FILE_URL = #{fileUrl,jdbcType=VARCHAR},
        FILE_URL_XML = #{fileUrlXml,jdbcType=VARCHAR},
        SELLER_TAX_ID = #{sellerTaxId,jdbcType=VARCHAR},
        SELLER_NAME = #{sellerName,jdbcType=VARCHAR},
        SELLER_ADDR_TEL = #{sellerAddrTel,jdbcType=VARCHAR},
        SELLER_TEL = #{sellerTel,jdbcType=VARCHAR},
        SELLER_FINANCIAL_ACCOUNT = #{sellerFinancialAccount,jdbcType=VARCHAR},
        SELLER_ACCOUNT = #{sellerAccount,jdbcType=VARCHAR},
        BUYER_TAX_ID = #{buyerTaxId,jdbcType=VARCHAR},
        BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
        BUYER_ADDR_TEL = #{buyerAddrTel,jdbcType=VARCHAR},
        BUYER_TEL = #{buyerTel,jdbcType=VARCHAR},
        BUYER_FINANCIAL_ACCOUNT = #{buyerFinancialAccount,jdbcType=VARCHAR},
        BUYER_ACCOUNT = #{buyerAccount,jdbcType=VARCHAR},
        COUNT = #{count,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM T_SD_INVOICE_REQUEST
        WHERE id = #{id}
    </delete>
</mapper>

