<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.finance.mapper.TSdRedInvoiceApplyMapper">

    <sql id="commonList">
        SELECT
        ID

        INVOICE_ID

        NUM

        RED_LETTER_INFO_FORM_NUM

        APPLICATION_FORM_CODE

        STATUS_DESCRIPTION

        STATUS_CODE

        CREATE_BY

        CREATE_BY_NAME

        CREATE_TIME

        UPDATE_BY

        UPDATE_BY_NAME

        UPDATE_TIME

        FROM
        T_SD_RED_INVOICE_APPLY
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="invoiceId != null">
                and INVOICE_ID = #{invoiceId}
            </if>
            <if test="num != null and num != ''">
                and NUM = #{num}
            </if>
            <if test="redLetterInfoFormNum != null">
                and RED_LETTER_INFO_FORM_NUM = #{redLetterInfoFormNum}
            </if>
            <if test="applicationFormCode != null and applicationFormCode != ''">
                and APPLICATION_FORM_CODE = #{applicationFormCode}
            </if>
            <if test="statusDescription != null and statusDescription != ''">
                and STATUS_DESCRIPTION = #{statusDescription}
            </if>
            <if test="statusCode != null and statusCode != ''">
                and STATUS_CODE = #{statusCode}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplyDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplySearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplyDTO"
            parameterType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplySearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplyDTO" parameterType="java.lang.Long">
        SELECT
        ID,
        INVOICE_ID,
        NUM,
        RED_LETTER_INFO_FORM_NUM,
        APPLICATION_FORM_CODE,
        STATUS_DESCRIPTION,
        STATUS_CODE,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        T_SD_RED_INVOICE_APPLY
        <where>
            id = #{id}
        </where>
    </select>

    <select id="getInvoiceById" resultType="com.yy.ppm.finance.bean.dto.TFdInvoiceDTO" parameterType="java.lang.Long">
        SELECT tfi.* FROM T_FD_INVOICE tfi
        LEFT JOIN T_FD_INVOICE_DETAIL tfid ON TFI.ID  = TFID.INVOICE_ID
        LEFT JOIN T_FD_CREDIT_DEBIT_BILL_DETAIL tfcdbd ON tfid.id = tfcdbd.INVOICE_DETAIL_ID
        <where>
            tfcdbd.CNDN_ID = #{id}
        </where>
    </select>

    <select id="getByInvoiceId" resultType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplyDTO" parameterType="java.lang.Long">
        SELECT
        ID,
        INVOICE_ID,
        NUM,
        RED_LETTER_INFO_FORM_NUM,
        APPLICATION_FORM_CODE,
        STATUS_DESCRIPTION,
        STATUS_CODE,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        T_SD_RED_INVOICE_APPLY
        <where>
            INVOICE_ID = #{invoiceId}
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplyDTO">
        INSERT INTO T_SD_RED_INVOICE_APPLY(ID,
                                           INVOICE_ID,
                                           NUM,
                                           RED_LETTER_INFO_FORM_NUM,
                                           APPLICATION_FORM_CODE,
                                           STATUS_DESCRIPTION,
                                           STATUS_CODE,
                                           CREATE_BY,
                                           CREATE_BY_NAME,
                                           CREATE_TIME)
        VALUES (#{id, jdbcType=VARCHAR},
                #{invoiceId, jdbcType=VARCHAR},
                #{num, jdbcType=VARCHAR},
                #{redLetterInfoFormNum, jdbcType=VARCHAR},
                #{applicationFormCode, jdbcType=VARCHAR},
                #{statusDescription, jdbcType=VARCHAR},
                #{statusCode, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.finance.bean.dto.TSdRedInvoiceApplyDTO">
        UPDATE
        T_SD_RED_INVOICE_APPLY
        SET
        ID = #{id,jdbcType=VARCHAR},
        INVOICE_ID = #{invoiceId,jdbcType=VARCHAR},
        NUM = #{num,jdbcType=VARCHAR},
        RED_LETTER_INFO_FORM_NUM = #{redLetterInfoFormNum,jdbcType=VARCHAR},
        APPLICATION_FORM_CODE = #{applicationFormCode,jdbcType=VARCHAR},
        STATUS_DESCRIPTION = #{statusDescription,jdbcType=VARCHAR},
        STATUS_CODE = #{statusCode,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM T_SD_RED_INVOICE_APPLY
        WHERE id = #{id}
    </delete>
</mapper>

