<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.system.mapper.SysParameterMapper">
    <update id="update">
        UPDATE
        SYS_PARAMETER
        SET
        ID = #{id,jdbcType=BIGINT},
        PARAM_CD = #{paramCd,jdbcType=VARCHAR},
        PARAM_NM = #{paramNm,jdbcType=VARCHAR},
        PARAM_VAL = #{paramVal,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        FLAG = #{flag,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>
    <update id="updateVal">
        UPDATE
        SYS_PARAMETER
        SET
        PARAM_VAL = #{paramVal,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.system.bean.dto.SysParameterDTO" parameterType="com.yy.ppm.system.bean.dto.SysParameterDTO">
        SELECT
            ID,
            PARAM_CD,
            PARAM_NM,
            PARAM_VAL,
            REMARK,
            FLAG
        FROM
            sys_parameter
        where
            1=1
            <if test="flag != null and flag !=''">
                AND FLAG = #{flag}
            </if>
            <if test="paramCd != null and paramCd !=''">
                AND PARAM_CD = #{paramCd}
            </if>
            <if test="paramNm != null and paramNm !=''">
                AND PARAM_NM = #{paramNm}
            </if>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.system.bean.dto.SysParameterDTO">
        INSERT INTO sys_parameter(
            ID,
            PARAM_CD,
            PARAM_NM,
            PARAM_VAL,
            REMARK,
            CREATE_BY,
            create_by_name,
            CREATE_TIME,
            FLAG
        )VALUES (
            #{id},
            #{paramCd, jdbcType=VARCHAR},
            #{paramNm, jdbcType=VARCHAR},
            #{paramVal, jdbcType=VARCHAR},
            #{remark, jdbcType=VARCHAR},
            #{loginUserId},
            #{loginUserName},
            #{now},
            #{flag, jdbcType=VARCHAR}
        )
    </insert>

    <select id="getByKey" resultType="com.yy.ppm.system.bean.dto.SysParameterDTO">
        SELECT
            ID,
            PARAM_CD,
            PARAM_NM,
            PARAM_VAL,
            REMARK
        FROM
            sys_parameter
        WHERE
            PARAM_CD = #{key}

    </select>
    <select id="getUserList" resultType="com.yy.ppm.system.bean.dto.SysParameterDTO" parameterType="com.yy.ppm.system.bean.dto.SysParameterDTO">
        SELECT
        ID,
        PARAM_CD,
        PARAM_NM,
        PARAM_VAL,
        REMARK,
        FLAG
        FROM
        sys_parameter
        where
        1=1
        <if test="flag != null and flag !=''">
            AND FLAG = #{flag}
        </if>
        <if test="paramCd != null and paramCd !=''">
            AND PARAM_CD = #{paramCd}
        </if>
        <if test="paramNm != null and paramNm !=''">
            AND PARAM_NM = #{paramNm}
        </if>
    </select>
    <select id="getById" resultType="com.yy.ppm.system.bean.dto.SysParameterDTO">
        SELECT
        ID,
        PARAM_CD,
        PARAM_NM,
        PARAM_VAL,
        REMARK,
        FLAG
        FROM
        sys_parameter
        <where>
            id = #{id}
        </where>
    </select>
    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM SYS_PARAMETER
        WHERE id = #{id}
    </delete>

    <!-- 删除 -->
    <delete id="deleteUserById" parameterType="java.lang.Long">
        DELETE
        FROM SYS_PARAMETER
        WHERE id = #{id}
    </delete>
</mapper>
