<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.businessKH.dao.BtShwHgfxMapper">



   <select id="getHgfxList" resultType="com.yy.ppm.businessKH.vo.resp.HgfxRespVo" parameterType="com.yy.ppm.businessKH.vo.req.HgfxSearchReqVo">

       select *
       from VW_SHW_HGFX v
       WHERE 1=1

       <if test="hgfxSearchReqVo.zygsdm != null and hgfxSearchReqVo.zygsdm != ''">
           and zygsdm =#{hgfxSearchReqVo.zygsdm}
       </if>
       <if test="hgfxSearchReqVo.zhwchm != null and hgfxSearchReqVo.zhwchm != ''">
           and zhwchm like'%'||#{hgfxSearchReqVo.zhwchm}||'%'
       </if>
       <if test="hgfxSearchReqVo.hwmchXl != null and hgfxSearchReqVo.hwmchXl != ''">
           and HWMCH_XL like'%'||#{hgfxSearchReqVo.hwmchXl}||'%'
       </if>
       <if test="hgfxSearchReqVo.bgdh != null and hgfxSearchReqVo.bgdh != ''">
           and bgdh =#{hgfxSearchReqVo.bgdh}
       </if>
       <if test="hgfxSearchReqVo.startTm !='' and hgfxSearchReqVo.startTm != null ">
           and DGRQ>= to_date(#{hgfxSearchReqVo.startTm},'yyyy-mm-dd hh24:mi:ss')
       </if>
       <if test="hgfxSearchReqVo.endTm !='' and hgfxSearchReqVo.endTm != null ">
           and DGRQ &lt;= to_date(#{hgfxSearchReqVo.endTm},'yyyy-mm-dd hh24:mi:ss')
       </if>
       <if test="hgfxSearchReqVo.xh !='' and hgfxSearchReqVo.xh != null ">
           and xh>=#{hgfxSearchReqVo.xh}
       </if>
       <if test="hgfxSearchReqVo.xh2 !='' and hgfxSearchReqVo.xh2 != null ">
           and xh &lt;=#{hgfxSearchReqVo.xh2}
       </if>
       <if test="hgfxSearchReqVo.lb !='全部'and hgfxSearchReqVo.lb !='' and hgfxSearchReqVo.lb != null" >
         AND lb=#{hgfxSearchReqVo.lb}
       </if>
       order by id desc,ywchm desc,fxrq desc
   </select>


    <select id="selectOneHgfxById" resultType="com.yy.ppm.businessKH.model.BtShwHgfx" parameterType="java.lang.Long">
            select * from VW_SHW_HGFX
            where id=#{id}
    </select>

    <select id="updateHgfxXh" parameterType="java.util.Map" statementType="CALLABLE" >
    {
     call pro_hgfxgl_updatexh(
      #{cargokey,mode=IN,jdbcType=VARCHAR},
      #{flag,mode=IN,jdbcType=VARCHAR}
    )
    }
    </select>

    <select id="hqcyrInfo" resultType="com.yy.ppm.businessKH.vo.resp.HgfxRespVo">
        select CUSTOMER_CODE as hqcyrid,CUSTOMER_NAME as hqcyr from T_BUS_CUSTOMER
        where 1=1
        <if test="hqcyrid !='' and hqcyrid != null" >
            AND CUSTOMER_CODE=#{hqcyrid}
        </if>
        <if test="hqcyr !='' and hqcyr != null" >
            AND CUSTOMER_NAME like'%'||#{hqcyr}||'%'
        </if>
        and rownum  &lt;=  100

    </select>

    <select id="zywtrInfo"  resultType="com.yy.ppm.businessKH.vo.resp.ZywtrInfoRespVo" >
        select CUSTOMERID as zywtrid,FULL_NAME  as zywtr   from VW_BT_CUSTOMER_MASTER
        where NVL(TEMPFLAG,'0')!='作废'
        <if test="zywtrid !='' and zywtrid != null" >
            AND CUSTOMERID=#{zywtrid}
        </if>
        <if test="zywtr !='' and zywtr != null" >
            AND FULL_NAME like'%'||#{zywtr}||'%'
        </if>
        and rownum  &lt;=  100

    </select>


    <select id="zygsInfo" resultType="com.yy.ppm.businessKH.vo.resp.ZygsInfoRespVo" >
     select GSDM zygsdm,gsmch zygsmch from VW_CT_ZYGS
    </select>

    <select id="getKhxxJK" resultType="com.yy.ppm.businessKH.vo.resp.BaseInfoRespVo" parameterType="java.lang.String">
        select rownum,a.*, zhwchm||'/'||hwmchXl||'/'||zywtr||'/'||zhl||'/'||tgs||'/'||hc||'/'||khfs  as value from (
        select distinct car.CARGOKEY as cargokey,CARGOKEY_TYPE as cargokeyType,DGRQ_S as dgrq,
        DGRQ_E as dgrqE,ZYGSDM as zygsdm,HTID as htid,--HTH as hth,
        ZYWTRID as zywtrid,ZYWTR as zywtr,TZHDID as tzhdid,car.HC as hc,ZHWCHM as zhwchm
        ,
        CB as cb,HWDM as hwdmXl,HWMCH as hwmchXl,HW_FLAG as hwFlag,HQCYRID as hqcyrid,HQCYR as hqcyr,KHFS as khfs,
        SHL as zhl, TGS as tgs,XDS as xds,SYS as sys,car.NOTE as note,FLAG as flag, hg.hgcargokey,yph.TRADE_TYPE mb
        from BT_SHW_CARGOINFO car,(select distinct CARGOKEY AS hgcargokey,NOTE as
        hgnote from BT_SHW_HGFX where note='全部通关')hg,
        T_BUS_CARGO_INFO yph
        where car.CARGOKEY=hg.hgcargokey(+) and hg.hgcargokey is null
        and (CARGOKEY_TYPE='卸船' or CARGOKEY_TYPE='分货') and car.id=yph.id
        and nvl(tgs,0) &lt;  nvl(shl,0)
        and car.FLAG ='否'
        <if test="zygsdm !='' and zygsdm != null">

            and ZYGSDM =#{zygsdm}
        </if>
        <if test="zhwchm !='' and zhwchm != null">
            and ZHWCHM  like '%'||#{zhwchm}||'%'
        </if>
        order by dgrqE desc
        ) a
        where rownum &lt;= 60


    </select>

    <select id="getKhxxCK" resultType="com.yy.ppm.businessKH.vo.resp.BaseInfoRespVo" parameterType="java.lang.String">
        select rownum,a.*, zhwchm||'/'||to_char(dgrq,'yyyy-mm-dd hh24:mi:ss') as value from (
        select SCN hc, SHIP_NAME zhwchm,IMP_EXP jchkb,TRADE_TYPE mb,ARRIVAL_TIME_PLAN DGRQ
        from T_DIS_SHIPVOYAGE
        where LOAD_UNLOAD='装'
        and DEL_FLAG=0
        <if test="zhwchm !='' and zhwchm != null">
            and SHIP_NAME like '%'||#{zhwchm}||'%'
        </if>
        order by ARRIVAL_TIME_PLAN desc
        ) a
        where rownum &lt;= 60


    </select>

    <select id="queryHgfxInfoJKByBgdh" resultType="com.yy.ppm.businessKH.vo.resp.FxdInfoRespVo" parameterType="java.lang.String">
        select ENTRY_ID bgdh,DECODE (trim(RELEASE_FLAG),'A','放行','未放行') flag ,trim(TRAF_NAME) ywchm,trim(BILL_NO) tdh,
        to_number(GROSS_WT)/1000 fxshl,to_date(R_DATE,'yyyy-mm-dd hh24:mi:ss') fxrq
        from VW_BT_I_E_PORT
        where ENTRY_ID =#{bgdh}
        order by fxrq desc
    </select>

    <select id="queryHgfxInfoCKByBgdh" resultType="com.yy.ppm.businessKH.vo.resp.FxdInfoRespVo" parameterType="java.lang.String">
        select  distinct ENTRY_ID bgdh,DECODE (trim(WAREHOUSE_CODE),'A','放行','未放行') flag ,trim(FLAGHT_NO) ywchm,trim(BILL_NO) tdh,
        to_number(regexp_replace(GROS_WT,'[^0-9.]',''))/1000  fxshl,to_date(R_DATE,'yyyy-mm-dd hh24:mi:ss') fxrq,VOYAGE_NO hghc,AGENT_NAME sbdwmch,TRADE_NAME jydwmch,GOOD_NAME tghwmch,to_number(trim(PASS_PACK_NO)) tgjsh,c.imo,c.dlhc,c.xcdid
        from VW_SHW_CKFX_MESSAGES a,(select trim(XCD_ID) xcdId,substr(trim(TRANSPORT_ID),3)imo, trim(VOYAGE_NO) dlhc,trim(BILL_NO) tdh,TRANSPORT_NAME ywchm from RZGWL.BT_EDI_XCD_MESSAGE)c
        WHERE a.BILL_NO=c.tdh(+) and a.VOYAGE_NO=c.dlhc(+)
         and ENTRY_ID =#{bgdh}
        order by fxrq desc
    </select>

    <select id="queryHgfxInfoCKByTdhOrImoOrDlhc" resultType="com.yy.ppm.businessKH.vo.resp.FxdInfoRespVo" parameterType="java.lang.String">
        select  rownum,a.* ,tdh||'/'||imo||'/'||dlhc||'/'||ywchm||'/'||fxrq as fxdvalue from (
        select trim(XCD_ID) xcdId,substr(trim(TRANSPORT_ID),3)imo, trim(VOYAGE_NO) dlhc,trim(BILL_NO) tdh,TRANSPORT_NAME
        ywchm,
        TO_CHAR(to_date(AUDIT_DATE,'YYYY-MM-DD"T"HH24:MI:SS'),'yyyy-mm-dd hh24:mi:ss') fxrq from
        RZGWL.BT_EDI_XCD_MESSAGE
        where 1=1
        <if test="imo !='' and imo != null">
            and substr(trim(TRANSPORT_ID),3)=#{imo}
        </if>
        <if test="dlhc !='' and dlhc != null">
            and trim(VOYAGE_NO) =#{dlhc}
        </if>
        <if test="tdh !='' and tdh != null">
            and trim(BILL_NO)  like #{tdh}||'%'
        </if>
        order by fxrq desc
        ) a
        where rownum &lt;= 100
    </select>

    <select id="hwInfo" resultType="com.yy.ppm.businessKH.vo.resp.BaseInfoRespVo" parameterType="java.lang.String">
        select distinct CARGO_CODE hwdmXl,CARGO_NAME hwmchXl from   T_BUS_CARGO_INFO

    </select>


    <select id="queryHgfxMassInfo" resultType="com.yy.ppm.businessKH.vo.resp.HgfxRespVo" parameterType="java.lang.String">
        select distinct a.ENTRY_ID bgdh,DECODE (trim(a.RELEASE_FLAG),'A','放行','未放行') flag ,trim(a.TRAF_NAME) ywchm,trim(BILL_NO) tdh,
                to_number(a.GROSS_WT)/1000 fxshl,to_date(a.R_DATE,'yyyy-mm-dd hh24:mi:ss') fxrq
        from VW_BT_I_E_PORT a,

       (select max(ENTRY_ID) ENTRY_ID,max(agent_name) agent_name,max(voyage_no) voyage_no,max(traf_name)traf_name
        from VW_BT_I_E_PORT
        where ENTRY_ID = #{bgdh}
        group by ENTRY_ID) b

        where a.traf_name=b.traf_name
        and a.agent_name=b.agent_name
        and a.voyage_no=b.voyage_no
        and A.ENTRY_ID not in(select bgdh from PORTMIS.BT_SHW_HGFX
                              where bgdh is not null)

    </select>

    <select id="queryHgfxMassInfock" resultType="com.yy.ppm.businessKH.vo.resp.HgfxRespVo" parameterType="java.lang.String">
        select  distinct a.ENTRY_ID bgdh,DECODE (trim(a.WAREHOUSE_CODE),'A','放行','未放行') flag ,trim(a.FLAGHT_NO) ywchm,trim(a.BILL_NO) tdh,
                to_number(a.GROS_WT)/1000 fxshl,to_date(a.R_DATE,'yyyy-mm-dd hh24:mi:ss') fxrq,a.VOYAGE_NO hghc,a.AGENT_NAME sbdwmch,a.TRADE_NAME jydwmch,a.GOOD_NAME tghwmch,to_number(trim(a.PASS_PACK_NO)) tgjsh,
                c.imo,c.dlhc,c.xcdid
        from VW_SHW_CKFX_MESSAGES a,

       (select max(ENTRY_ID) ENTRY_ID,max(agent_name) agent_name,max(voyage_no) voyage_no,max(FLAGHT_NO)FLAGHT_NO
        from VW_SHW_CKFX_MESSAGES
        where ENTRY_ID =#{bgdh}
        group by ENTRY_ID) b,

       (select trim(XCD_ID) xcdid,substr(trim(TRANSPORT_ID),3)imo, trim(VOYAGE_NO) dlhc,trim(BILL_NO) tdh,TRANSPORT_NAME ywchm
        from RZGWL.BT_EDI_XCD_MESSAGE)c

        where a.FLAGHT_NO=b.FLAGHT_NO
        and a.agent_name=b.agent_name
        and a.voyage_no=b.voyage_no
        and a.BILL_NO=c.tdh(+)
        and a.VOYAGE_NO=c.dlhc(+)
        and A.ENTRY_ID not in(select bgdh from PORTMIS.BT_SHW_HGFX
                              where bgdh is not null)

    </select>



</mapper>
