<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.machine.mapper.MLocationHistoryMapper">

    <sql id="commonList">
        SELECT MAC_ID,
               LON,
               LAT,
               SPEED,
               DIRECTION,
               GPS_TIME
        FROM M_LOCATION_HISTORY
    </sql>
    <sql id="condition">
        <where>
            <if test="macId != null">
                and MAC_ID = #{macId}
            </if>
            <if test="lon != null">
                and LON = #{lon}
            </if>
            <if test="lat != null">
                and LAT = #{lat}
            </if>
            <if test="speed != null">
                and SPEED = #{speed}
            </if>
            <if test="direction != null">
                and DIRECTION = #{direction}
            </if>
            <if test="gpsTime != null">
                and GPS_TIME = #{gpsTime}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.machine.bean.dto.MLocationHistoryDTO"
            parameterType="com.yy.ppm.machine.bean.dto.MLocationHistorySearchDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getByMacId" resultType="com.yy.ppm.machine.bean.dto.MLocationHistoryDTO" parameterType="java.lang.Long">
        <include refid="commonList"></include>
        <where>
            MAC_ID = #{macId}
        </where>
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.machine.bean.dto.MLocationHistoryDTO">
        INSERT INTO M_LOCATION_HISTORY(MAC_ID,
                                       LON,
                                       LAT,
                                       SPEED,
                                       DIRECTION,
                                       GPS_TIME)
        VALUES (#{macId, jdbcType=VARCHAR},
                #{lon, jdbcType=VARCHAR},
                #{lat, jdbcType=VARCHAR},
                #{speed, jdbcType=VARCHAR},
                #{direction, jdbcType=VARCHAR},
                #{now})
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.machine.bean.dto.MLocationHistoryDTO">
        UPDATE
        M_LOCATION_HISTORY
        <set>
            <if test="macId != null">
                MAC_ID = #{macId,jdbcType=VARCHAR},
            </if>
            <if test="lon != null">
                LON = #{lon,jdbcType=VARCHAR},
            </if>
            <if test="lat != null">
                LAT = #{lat,jdbcType=VARCHAR},
            </if>
            <if test="speed != null">
                SPEED = #{speed,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                DIRECTION = #{direction,jdbcType=VARCHAR},
            </if>
            <if test="gpsTime != null">
                GPS_TIME = #{now}
            </if>
        </set>
        <where>
            MAC_ID = #{macId}
        </where>
    </update>

    <!-- 批量删除 -->
    <delete id="deleteByCondition" parameterType="com.yy.ppm.machine.bean.dto.MLocationHistoryDTO">
        DELETE FROM
        M_LOCATION_HISTORY
        <where>
            GPS_TIME &lt;= #{gpsTime}
        </where>
    </delete>


</mapper>

