<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.system.mapper.SysDeptMapper">

    <sql id="selectDeptVo">
        select d.ID,
               d.PARENT_ID,
               d.DEPT_CODE,
               d.DEPT_NAME,
               d.ORDER_NO,
               d.REMARK,
               d.PARENT_IDS,
               d.CHIEF,
               d.STATUS,
               case d.STATUS
               WHEN '1' THEN '在用'
               ELSE '停用'
               END STATUS_LABEL,
               d.DESCR,
               d.DEPT_LEVEL,
               b.DICT_LABEL AS DEPT_LEVEL_LABEL,
               d.DEPT_TYPE,
               d.DEPT_NO,
               d.PARENT_DEPT_CODE,
               d.CREATE_BY,
               d.create_by_name,
               d.CREATE_TIME,
               d.IS_LABOR,
               d.IS_MACHINE,
               d.IS_PROJECT,
               d.IN_OUT_TYPE,
               case IN_OUT_TYPE
               WHEN 'I' THEN '内部'
               ELSE '外部'
               END IN_OUT_TYPE_LABEL,
               d.IS_WORK_COMPANY,
               d.IS_TALLY_COMPANY
        from sys_dept d
        LEFT JOIN M_DICT_DATA B ON B.DICT_VALUE = d.DEPT_LEVEL AND B.DICT_TYPE = 'DEPT_LEVEL'
    </sql>

    <select id="selectDeptList" parameterType="com.yy.ppm.system.bean.dto.SysDeptDTO" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        <include refid="selectDeptVo"/>
        <where>
        <!-- 数据范围过滤 TODO 配置好数据权限后打开 -->
        <!--${params.dataScope}-->
            <if test='deptName != null and deptName !=""'>
                <bind name="deptNameLike" value="'%' + deptName + '%'"/>
                AND d.DEPT_NAME LIKE  #{deptNameLike,jdbcType=VARCHAR}
            </if>
            <if test='status != null and status !=""'>
                AND d.STATUS = #{status}
            </if>
        </where>
        order by d.parent_id, d.order_no
    </select>

    <select id="getById" parameterType="Long" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        select d.ID,
               d.PARENT_ID,
               d.DEPT_CODE,
               d.DEPT_NAME,
               d.ORDER_NO,
               d.REMARK,
               d.PARENT_IDS,
               d.CHIEF,
               d.STATUS,
               d.DESCR,
               d.DEPT_LEVEL,
               d.DEPT_TYPE,
               d.DEPT_NO,
               d.PARENT_DEPT_CODE,
               d.CREATE_BY,
               d.create_by_name,
               d.CREATE_TIME,
               d.IS_LABOR,
               d.IS_MACHINE,
               d.IS_PROJECT,
               d.IN_OUT_TYPE,
               d.IS_WORK_COMPANY,
               d.IS_TALLY_COMPANY,
               d.TICKET_LEVEL,
               (select dept_name from sys_dept where id = d.parent_id) parent_name
        from sys_dept d
        where d.id = #{id}
    </select>
    <select id="getByDeptNo" parameterType="String" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        select d.ID,
               d.PARENT_ID,
               d.DEPT_CODE,
               d.DEPT_NAME,
               d.ORDER_NO,
               d.REMARK,
               d.PARENT_IDS,
               d.CHIEF,
               d.STATUS,
               d.DESCR,
               d.DEPT_LEVEL,
               d.DEPT_TYPE,
               d.DEPT_NO,
               d.PARENT_DEPT_CODE,
               d.CREATE_BY,
               d.create_by_name,
               d.CREATE_TIME,
               d.IS_LABOR,
               d.IS_MACHINE,
               d.IS_PROJECT,
               d.IN_OUT_TYPE,
               d.IS_WORK_COMPANY,
               d.IS_TALLY_COMPANY,
               (select dept_name from sys_dept where id = d.parent_id) parent_name
        from sys_dept d
        where d.DEPT_CODE = #{deptNo} and STATUS = '1'
    </select>
    <select id="getOneByDeptNo" parameterType="String" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        select d.ID,
               d.PARENT_ID,
               d.DEPT_CODE,
               d.DEPT_NAME,
               d.ORDER_NO,
               d.REMARK,
               d.PARENT_IDS,
               d.CHIEF,
               d.STATUS,
               d.DESCR,
               d.DEPT_LEVEL,
               d.DEPT_TYPE,
               d.DEPT_NO,
               d.PARENT_DEPT_CODE,
               d.CREATE_BY,
               d.create_by_name,
               d.CREATE_TIME,
               d.IS_LABOR,
               d.IS_MACHINE,
               d.IS_PROJECT,
               d.IN_OUT_TYPE,
               d.IS_WORK_COMPANY,
               d.IS_TALLY_COMPANY,
               (select dept_name from sys_dept where id = d.parent_id) parent_name
        from sys_dept d
        where d.DEPT_NO = #{deptNo} and STATUS = '1'
    </select>
    <select id="getByDeptNos" parameterType="String" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        select d.ID,
               d.PARENT_ID,
               d.DEPT_CODE,
               d.DEPT_NAME,
               d.ORDER_NO,
               d.REMARK,
               d.PARENT_IDS,
               d.CHIEF,
               d.STATUS,
               d.DESCR,
               d.DEPT_LEVEL,
               d.DEPT_TYPE,
               d.DEPT_NO,
               d.PARENT_DEPT_CODE,
               d.CREATE_BY,
               d.create_by_name,
               d.CREATE_TIME,
               d.IS_LABOR,
               d.IS_MACHINE,
               d.IS_PROJECT,
               d.IN_OUT_TYPE,
               d.IS_WORK_COMPANY,
               d.IS_TALLY_COMPANY,
               (select dept_name from sys_dept where id = d.parent_id) parent_name
        from sys_dept d
        <where>
            d.STATUS = '1'
            AND d.DEPT_NO IN
            <foreach collection="deptNos" item="item" open="(" close=")" separator="," index="index">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="selectChildrenDeptById" parameterType="java.lang.String" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        select * from sys_dept where PARENT_IDS LIKE #{deptId}
        <if test="status != null and status !=''">
            AND STATUS = #{status}
        </if>
    </select>

    <insert id="insertDept" parameterType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        insert into sys_dept(
            ID,
            PARENT_ID,
            DEPT_CODE,
            DEPT_NAME,
            ORDER_NO,
            REMARK,
            PARENT_IDS,
            CHIEF,
            STATUS,
            DESCR,
            DEPT_LEVEL,
            DEPT_TYPE,
            DEPT_NO,
            PARENT_DEPT_CODE,
            IS_LABOR,
            IS_MACHINE,
            IS_PROJECT,
            IN_OUT_TYPE,
            IS_WORK_COMPANY,
            IS_TALLY_COMPANY,
            TICKET_LEVEL,
            CREATE_BY,
            create_by_name,
            CREATE_TIME
        )values(
            #{id, jdbcType=BIGINT},
            #{parentId, jdbcType=BIGINT},
            #{deptCode, jdbcType=VARCHAR},
            #{deptName, jdbcType=VARCHAR},
            #{orderNo, jdbcType=BIGINT},
            #{remark, jdbcType=VARCHAR},
            #{parentIds, jdbcType=VARCHAR},
            #{chief, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR},
            #{descr, jdbcType=VARCHAR},
            #{deptLevel, jdbcType=BIGINT},
            #{deptType, jdbcType=BIGINT},
            #{deptNo, jdbcType=VARCHAR},
            #{parentDeptCode, jdbcType=VARCHAR},
            #{isLabor, jdbcType=VARCHAR},
            #{isMachine, jdbcType=VARCHAR},
            #{isProject, jdbcType=VARCHAR},
            #{inOutType, jdbcType=VARCHAR},
            #{isWorkCompany, jdbcType=VARCHAR},
            #{isTallyCompany, jdbcType=VARCHAR},
            #{ticketLevel, jdbcType=VARCHAR},
            #{loginUserId},
            #{loginUserName},
            #{now}
        )
    </insert>

    <update id="updateDept" parameterType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        update sys_dept
        <set>
            ID = #{id, jdbcType=BIGINT},
            PARENT_ID = #{parentId, jdbcType=BIGINT},
            DEPT_CODE = #{deptCode, jdbcType=VARCHAR},
            DEPT_NAME = #{deptName, jdbcType=VARCHAR},
            ORDER_NO = #{orderNo, jdbcType=BIGINT},
            REMARK = #{remark, jdbcType=VARCHAR},
            PARENT_IDS = #{parentIds, jdbcType=VARCHAR},
            CHIEF = #{chief, jdbcType=VARCHAR},
            STATUS = #{status, jdbcType=VARCHAR},
            DESCR = #{descr, jdbcType=VARCHAR},
            DEPT_LEVEL = #{deptLevel, jdbcType=BIGINT},
            DEPT_TYPE = #{deptType, jdbcType=BIGINT},
            DEPT_NO = #{deptNo, jdbcType=VARCHAR},
            PARENT_DEPT_CODE = #{parentDeptCode, jdbcType=VARCHAR},
            IS_LABOR = #{isLabor, jdbcType=VARCHAR},
            IS_MACHINE = #{isMachine, jdbcType=VARCHAR},
            IS_PROJECT= #{isProject, jdbcType=VARCHAR},
            IN_OUT_TYPE = #{inOutType, jdbcType=VARCHAR},
            IS_WORK_COMPANY = #{isWorkCompany, jdbcType=VARCHAR},
            IS_TALLY_COMPANY = #{isTallyCompany, jdbcType=VARCHAR},
            TICKET_LEVEL = #{ticketLevel, jdbcType=VARCHAR},
            UPDATE_BY = #{loginUserId},
            update_BY_NAME = #{loginUserName},
            UPDATE_TIME = #{now}
        </set>
        where ID = #{id}
    </update>

    <update id="updateDeptChildren" parameterType="java.util.List">
        update sys_dept set parent_ids =
        <foreach collection="depts" item="item" index="index"
                 separator=" " open="case id" close="end">
            when #{item.id} then #{item.parentIds}
        </foreach>
        where id in
        <foreach collection="depts" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="updateDeptStatus">
        update sys_dept set status = #{status}
        where
            id in
            <foreach collection="deptIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </update>

    <delete id="deleteDeptById" parameterType="Long">
        delete from sys_dept where id = #{id}
    </delete>

</mapper>
