<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.system.mapper.SysUserMapper">

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.yy.ppm.system.bean.dto.SysUserDTO" parameterType="com.yy.ppm.system.bean.dto.SysUserSearchDTO">
       SELECT
            u.ID,
            u.USER_ACCOUNT,
            u.PASSWD,
            u.USER_NAME,
            u.DEPT_ID,
            u.IS_SUPERADMIN,
            CASE u.IS_SUPERADMIN WHEN '1' THEN '是' ELSE '否' END IS_SUPERADMIN_LABEL,
            u.MOBILE,
            u.EMAIL,
            u.STATUS,
            CASE u.STATUS WHEN 1 THEN '在用' ELSE '停用' END AS STATUS_LABEL,
            u.REMARK,
            u.PSD_UPD_DATE,
            u.SORT_NUM,
            u.UPDATE_TIME,
            u.CREATE_TIME,
            u.POST_CODE,
            u.POST_NAME,
            u.UNIT_TYPE_CODE,
            u.UNIT_TYPE_NAME,
            u.IS_LABOR,
            d.DEPT_NAME
        FROM
            SYS_USER u JOIN SYS_DEPT d ON u.DEPT_ID = d.ID
        <where>
            u.IS_LABOR = #{isLabor,jdbcType=VARCHAR}
            <if test="userAccount != null and userAccount != ''">
                <bind name="userAccount" value="'%' + userAccount + '%'"/>
                AND (u.USER_ACCOUNT LIKE  #{userAccount,jdbcType=VARCHAR})
            </if>
            <if test="userName != null and userName != ''">
                <bind name="userName" value="'%' + userName + '%'"/>
                AND (u.USER_NAME LIKE  #{userName,jdbcType=VARCHAR})
            </if>
            <if test="deptId != null and deptId != ''">
                AND (instr(d.PARENT_IDS, #{deptId,jdbcType=BIGINT}) > 0 OR d.ID = #{deptId,jdbcType=BIGINT})
            </if>
            <if test="status != null and status != ''">
                AND u.STATUS = #{status}
            </if>
            <if test="isSuperadmin != null and isSuperadmin != ''">
                AND u.IS_SUPERADMIN = #{isSuperadmin}
            </if>
        </where>
        ORDER BY
            u.SORT_NUM

    </select>
    <!-- 根据id查询数据 -->
    <select id="getById" resultType="com.yy.ppm.system.bean.dto.SysUserDTO" parameterType="java.lang.Long">
        SELECT
            A.ID,
            A.USER_ACCOUNT,
            A.PASSWD,
            A.USER_NAME,
            A.SEX,
            A.DEPT_ID,
            A.IS_SUPERADMIN,
            A.MOBILE,
            A.EMAIL,
            A.STATUS,
            A.PSD_UPD_DATE,
            A.SORT_NUM,
            A.REMARK,
            A.IS_LABOR,
            A.POST_CODE,
            A.POST_NAME,
            A.UNIT_TYPE_CODE,
            A.UNIT_TYPE_NAME,
            A.TEL,
            A.MOBILE
        FROM
            SYS_USER A
        <where>
            A.ID = #{id,jdbcType=BIGINT}
        </where>
    </select>

    <!-- 根据USER_ACCOUNT查询数据 -->
    <select id="getByAccount" resultType="com.yy.ppm.system.bean.dto.SysUserDTO" parameterType="java.lang.String">
        SELECT
        A.ID,
        A.USER_ACCOUNT,
        A.PASSWD,
        A.USER_NAME,
        A.SEX,
        A.DEPT_ID,
        A.IS_SUPERADMIN,
        A.MOBILE,
        A.EMAIL,
        A.STATUS,
        A.PSD_UPD_DATE,
        A.SORT_NUM,
        A.REMARK,
        A.IS_LABOR,
        A.POST_CODE,
        A.POST_NAME,
        A.UNIT_TYPE_CODE,
        A.UNIT_TYPE_NAME
        FROM
        SYS_USER A
        <where>
            a.USER_ACCOUNT = #{userAccount}
        </where>
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.system.bean.dto.SysUserDTO">
        INSERT INTO SYS_USER(
            ID,
            USER_ACCOUNT,
            PASSWD,
            USER_NAME,
            DEPT_ID,
            IS_SUPERADMIN,
            MOBILE,
            EMAIL,
            STATUS,
            SORT_NUM,
            SEX,
            REMARK,
            IS_LABOR,
            POST_CODE,
            POST_NAME,
            UNIT_TYPE_CODE,
            UNIT_TYPE_NAME,
            CREATE_BY,
            create_by_name,
            CREATE_TIME
        )VALUES (
            #{id, jdbcType=BIGINT},
            #{userAccount, jdbcType=VARCHAR},
            #{passwd, jdbcType=VARCHAR},
            #{userName, jdbcType=VARCHAR},
            #{deptId, jdbcType=BIGINT},
            #{isSuperadmin, jdbcType=VARCHAR},
            #{mobile, jdbcType=VARCHAR},
            #{email, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR},
            #{sortNum, jdbcType=INTEGER},
            #{sex, jdbcType=BIGINT},
            #{remark, jdbcType=VARCHAR},
            #{isLabor},
            #{postCode},
            #{postName},
            #{unitTypeCode},
            #{unitTypeName},
            #{loginUserId},
            #{loginUserName},
            #{now}
        )
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.system.bean.dto.SysUserDTO">
        UPDATE
            SYS_USER
        SET
            USER_ACCOUNT = #{userAccount, jdbcType=VARCHAR},
            USER_NAME = #{userName, jdbcType=VARCHAR},
            DEPT_ID = #{deptId, jdbcType=BIGINT},
            IS_SUPERADMIN = #{isSuperadmin, jdbcType=VARCHAR},
            MOBILE = #{mobile, jdbcType=VARCHAR},
            EMAIL = #{email, jdbcType=VARCHAR},
            STATUS = #{status, jdbcType=VARCHAR},
            SORT_NUM = #{sortNum, jdbcType=INTEGER},
            SEX = #{sex, jdbcType=BIGINT},
            REMARK = #{remark, jdbcType=VARCHAR},
            IS_LABOR = #{isLabor},
            POST_CODE = #{postCode},
            POST_NAME = #{postName},
            UNIT_TYPE_CODE = #{unitTypeCode},
            UNIT_TYPE_NAME = #{unitTypeName},
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            update_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        where
            ID = #{id}
    </update>

    <!-- 批量新增用户角色信息 -->
    <insert id="insertRoleUser">
        INSERT INTO SYS_ROLE_USER (
            ROLE_ID,
            USER_ID
            ) VALUES
            (
            #{roleId, jdbcType=BIGINT},
            #{userId, jdbcType=BIGINT}
            )
    </insert>

    <!-- 密码重置 -->
    <update id="updatePassword" >
        UPDATE
            SYS_USER
        SET
            PASSWD = #{passwd, jdbcType=VARCHAR},
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            update_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        where
            ID = #{id,jdbcType=BIGINT}
    </update>

    <!-- 修改 -->
    <update id="updatePkInfo" parameterType="com.yy.ppm.system.bean.dto.SysUserDTO">
        UPDATE
            SYS_USER
        SET
            <if test="mobile != null and mobile != ''">
                MOBILE = #{mobile, jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                EMAIL = #{email, jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status, jdbcType=BIGINT},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            update_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        where
            ID = #{id}
    </update>

    <select id="getRoleListByUserId" resultType="java.lang.Long">
        SELECT
            ROLE_ID
        FROM
            SYS_ROLE_USER
        WHERE
            USER_ID = #{id}
    </select>
    <select id="getUserList" resultType="com.yy.ppm.system.bean.dto.SysUserDTO">
        select
            ID,
            USER_ACCOUNT,
            PASSWD,
            USER_NAME,
            DEPT_ID,
            IS_SUPERADMIN,
            MOBILE,
            EMAIL,
            STATUS,
            SORT_NUM,
            SEX,
            REMARK,
            IS_LABOR,
            POST_CODE,
            POST_NAME,
            UNIT_TYPE_CODE,
            UNIT_TYPE_NAME,
            CREATE_BY,
            create_by_name,
            CREATE_TIME
        from
            SYS_USER
        where
            id in
        <foreach collection="list" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    <select id="getUserPostIdListByPostKey" resultType="java.lang.Long">
        SELECT ID
        FROM SYS_USER
        WHERE POST_CODE IN
        <foreach collection="list" item="postKey" open="(" separator="," close=")">
            #{postKey}
        </foreach>
    </select>
</mapper>
