<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.appWorkNew.mapper.TallyJHMapper">

    <resultMap type="com.yy.ppm.appWork.bean.po.TYardTallyPO" id="tallyRecordMap">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="planId" column="PLAN_ID" jdbcType="BIGINT"/>
        <result property="relationId" column="RELATION_ID" jdbcType="BIGINT"/>
        <result property="shipvoyageId" column="SHIPVOYAGE_ID" jdbcType="BIGINT"/>
        <result property="processCode" column="PROCESS_CODE" jdbcType="VARCHAR"/>
        <result property="processName" column="PROCESS_NAME" jdbcType="VARCHAR"/>
        <result property="equipmentId" column="EQUIPMENT_ID" jdbcType="BIGINT"/>
        <result property="equipmentNo" column="EQUIPMENT_NO" jdbcType="VARCHAR"/>
        <result property="transportEquipmentId" column="TRANSPORT_EQUIPMENT_ID" jdbcType="BIGINT"/>
        <result property="transportEquipmentNo" column="TRANSPORT_EQUIPMENT_NO" jdbcType="VARCHAR"/>
        <result property="quantity" column="QUANTITY" jdbcType="INTEGER"/>
        <result property="ton" column="TON" jdbcType="DOUBLE"/>
        <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
        <result property="workErWeiId" column="WORK_ERWEI_ID" jdbcType="VARCHAR"/>
        <result property="tsptId" column="TSPT_ID" jdbcType="VARCHAR"/>
        <result property="planNo" column="PLAN_NO" jdbcType="VARCHAR"/>
        <result property="createByName" column="CREATE_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <collection property="listTallyItemList" ofType=" com.yy.ppm.appWork.bean.po.TYardTallyItemPO"
                    select="com.yy.ppm.appWork.mapper.TallyMapper.getTallyRecordItemList" column="{id=id}">
        </collection>
    </resultMap>

    <resultMap type="com.yy.ppm.appWork.bean.po.TYardTallyItemPO" id="recordItemMap">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="tallyId" column="TALLY_ID" jdbcType="BIGINT"/>
        <result property="quantity" column="QUANTITY" jdbcType="BIGINT"/>
        <result property="ton" column="TON" jdbcType="DOUBLE"/>
        <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
        <result property="createByName" column="CREATE_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="getWorkPlan" resultType="com.yy.ppm.produce.bean.dto.TPrdWorkPlanDTO" parameterType="com.yy.ppm.appWorkNew.bean.dto.WorkPlanSearchDTO">
        SELECT
        T1.ID,
        T1.TRUST_ID,
        tdsi.TRUST_INFO_NO,
        T1.WORK_DATE,
        T1.CLASS_CODE,
        T1.CLASS_NAME,
        T8.TARGET_CD,
        T8.TARGET_NM,
        T8.SOURCE_CD,
        T8.SOURCE_NM,
        T1.PROCESS_CODE,
        T1.PROCESS_NAME,
        T1.SHIPVOYAGE_ID,
        T1.SHIPVOYAGE_ITEM_ID,
        NVL(T5.SHIP_NAME,tdsi.SHIP_NAME) SHIP_NAME,
        T7."shipNameVoyage",
        NVL(T4.VOYAGE,T7.VOYAGE) VOYAGE,
        NVL(T5.SCN,T7.SCN) SCN,
        T1.HATCH,
        T4.LOAD_UNLOAD,
        T1.BERTH_ID,
        T1.BERTH_NAME,
        5 AS HATCH_NUM,
        T1.PLAN_NO,
        T1.PLAN_TYPE,
        T2.NUM AS LABOR_NUM,
        T1.STATUS,
        M1.NM AS STATUS_LABEL,
        T1.RESHIPMENT_TYPE_CODE,
        M2.NM AS RESHIPMENT_TYPE_Label,
        T8.IS_DIRECT_ACCESS,
        T1.FRONT_TALLY_BY,
        T1.COMPANY_ID,
        T1.COMPANY_NAME,
        tbtc2.PACKING_CODE,
        tbtc2.PACKING_NAME
        FROM
        T_PRD_WORK_PLAN T1
        LEFT JOIN T_BUS_TRUST TBT ON T1.TRUST_ID = TBT.ID
        LEFT JOIN T_PRD_DISPATCH T2 ON T1. ID = T2.WORK_PLAN_ID AND T2.DISPATCH_TYPE = '2'
        LEFT JOIN m_constants M1 ON T1.STATUS = M1.CD AND M1.TYPE_CD = 'WORK_PLAN_STATUS'
        LEFT JOIN m_constants M2 ON T1.RESHIPMENT_TYPE_CODE = M2.CD AND M2.TYPE_CD = 'RESHIPMENT_TYPE'
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM T4 ON T4. ID = T1.SHIPVOYAGE_ITEM_ID
        LEFT JOIN T_DIS_SHIPVOYAGE T5 ON T5.ID = T1.SHIPVOYAGE_ID
        LEFT JOIN M_WORK_PROCESS T8 ON T1. PROCESS_CODE = T8.PROCESS_CD
        LEFT JOIN (SELECT TRUST_ID,MAX(PACKING_CODE) PACKING_CODE,MAX(PACKING_NAME) PACKING_NAME  FROM T_BUS_TRUST_CARGO GROUP BY TRUST_ID) tbtc2 ON TBTC2.TRUST_ID = TBT.ID
        LEFT JOIN (
        SELECT
        A.TRUST_ID,
        LISTAGG (TO_CHAR(T6.SHIP_NAME),',') WITHIN GROUP (ORDER BY T6.SHIP_NAME) SHIP_NAME,
        LISTAGG (TO_CHAR(T6.CARGO_INFO_NO),',') WITHIN GROUP (ORDER BY T6.CARGO_INFO_NO) CARGO_INFO_NO,
        LISTAGG ( TO_CHAR (A.BUSINESS_NO),',' ) WITHIN GROUP (ORDER BY A.TRUST_ID) TRUST_INFO_NO
        FROM
        T_BUS_CARGO_INFO T6
        INNER JOIN T_BUS_TRUST_CARGO A ON A .CARGO_INFO_ID = T6. ID
        INNER JOIN T_BUS_TRUST T5 ON T5. ID = A .TRUST_ID
        GROUP BY A.TRUST_ID
        ) tdsi ON tdsi.TRUST_ID = t1.TRUST_ID
        LEFT JOIN (
        SELECT
        TBTC.TRUST_ID "trustId",
        TDSI.ID "id",
        TDS.SHIP_NAME || '_' || TDSI.VOYAGE "shipNameVoyage",
        TDSI.VOYAGE,
        TDS.SCN SCN
        FROM
        T_BUS_TRUST_CARGO TBTC
        JOIN T_BUS_CARGO_INFO TBCI ON TBTC.CARGO_INFO_ID = TBCI.ID
        JOIN T_DIS_SHIPVOYAGE TDS on TBCI.SHIPVOYAGE_ID = TDS.ID
        JOIN T_DIS_SHIPVOYAGE_ITEM TDSI on TBCI.SHIPVOYAGE_ITEM_ID = TDSI.ID
        GROUP BY
        TBTC.TRUST_ID,
        TDSI.ID,
        TDS.SHIP_NAME,
        TDSI.VOYAGE,
        TDS.SCN
        ) T7 ON T7."trustId" = t1.TRUST_ID
        <where>
            T1.STATUS = 20
            <if test="classCode != null">
                and T1.CLASS_CODE = #{classCode}
            </if>
            <if test="packingCode!=null">
                and tbtc2.PACKING_CODE = #{packingCode}
            </if>
            <if test="workDate != null">
                and T1.WORK_DATE = TO_DATE(#{workDate},'YYYY-MM-DD')
            </if>
            <if test="loginId != null and loginId != '' and flag == 0">
                <bind name="loginIdLike" value="'%'+loginId+'%'"/>
                and (T1.FRONT_TALLY_BY like #{loginIdLike} OR T1.BACK_TALLY_BY like #{loginIdLike} OR T1.DISPATCH_BY
                like #{loginIdLike})
            </if>
            <if test="shipNameVoyage != null and shipNameVoyage != ''">
                <bind name="shipNameVoyage_like" value="'%' + shipNameVoyage + '%'"/>
                AND (
                T5.SHIP_NAME LIKE #{shipNameVoyage_like}
                OR tdsi.SHIP_NAME LIKE #{shipNameVoyage_like}
                OR T4.VOYAGE LIKE #{shipNameVoyage_like}
                )
            </if>
            <if test="businessNo != null and businessNo != ''">
                <bind name="businessNo_like" value="'%' + businessNo + '%'"/>
                AND tdsi.TRUST_INFO_NO LIKE #{businessNo_like}
            </if>
            <if test="cargoInfoNo != null and cargoInfoNo != ''">
                <bind name="cargoInfoNo_like" value="'%' + cargoInfoNo + '%'"/>
                AND tdsi.CARGO_INFO_NO LIKE #{cargoInfoNo_like}
            </if>
            <if test="processName != null and processName != ''">
                <bind name="processName_like" value="'%' + processName + '%'"/>
                AND T1.PROCESS_NAME LIKE #{processName_like}
            </if>
        </where>
    </select>

    <select id="getIsDept"  resultType="Integer">
        SELECT
            count(ID)
        FROM
            SYS_USER
        WHERE ID = #{id,jdbcType=BIGINT} AND (
            DEPT_ID IN (
                        1677243491865989120,
                        1677243625832058880
                )
                AND POST_CODE = 'ZBZR' OR POST_CODE IN ('ZKY', 'BZ', 'TJY')
            )
    </select>

    <select id="getWorkPlanCargoInfo" resultType="java.util.Map" parameterType="com.yy.ppm.appWorkNew.bean.dto.WorkPlanSearchDTO">
      	SELECT
	    A1. ID "planId",
        A2. ID "trustId",
        A3.BUSINESS_NO "businessNo",
        A4.CARGO_INFO_NO "cargoInfoNo",
        A4.CARGO_OWNER_NAME "cargoOwnerName",
        A4.CARGO_NAME "cargoName"
        FROM
            T_PRD_WORK_PLAN A1
        LEFT JOIN T_BUS_TRUST A2 ON A2. ID = A1.TRUST_ID
        LEFT JOIN T_BUS_TRUST_CARGO A3 ON A3.TRUST_ID = A2. ID
        LEFT JOIN T_BUS_CARGO_INFO A4 ON A3.CARGO_INFO_ID = A4. ID
        where
        A1.CLASS_CODE = #{classCode} AND to_char(A1.WORK_DATE,'YYYY-MM-DD') = #{workDate} and A1.STATUS = 20
    </select>

    <select id="getTrustInfoNo" resultType="java.util.HashMap">
        SELECT
        BUSINESS_NO "businessNo",
        A3.CARGO_INFO_NO "cargoInfoNo",
        A3.CARGO_OWNER_NAME "cargoOwnerName",
        A3.CARGO_NAME "cargoName"
        FROM
        T_BUS_TRUST T1
        LEFT JOIN T_BUS_TRUST_CARGO T2 ON T1. ID = T2.TRUST_ID
        LEFT JOIN T_BUS_CARGO_INFO A3 ON T2.CARGO_INFO_ID = A3. ID
        WHERE
        T2.CARGO_INFO_ID IN (
        SELECT
        A1.CARGO_INFO_ID
        FROM
        T_BUS_TRUST_CARGO A1
        WHERE
        A1.TRUST_ID = #{trustId,jdbcType=VARCHAR}
        ) AND T1.TYPE IN
        <foreach collection="type" separator=", " open="(" close=")" item="item">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="getPortStorgeByPlan" resultType="com.yy.ppm.appWork.bean.dto.AppTallyLadingDTO">
        SELECT
        tpps.ID "inOutId",
        tpps.CARGO_INFO_ID,
        tpps.STOREHOUSE_ID,
        tpps.STOREHOUSE_NAME,
        tpps.REGION_ID LOCATION_ID,
        tpps.REGION_NAME LOCATION_NO,
        tpps.MASS_ID STACK_POSITION_ID,
        tpps.MASS_NAME STACK_POSITION_NAME,
        tbci.CARGO_CODE,
        tbci.CARGO_NAME,
        tbci.CARGO_INFO_NO,
        tpps.QUANTITY quantitySurplus,
        tpps.TON tonSurplus,
        TPWPL.DIRECTION "sourceOrTargetFlag",
        CASE WHEN TPWPL.DIRECTION = 1 THEN '源' WHEN TPWPL.DIRECTION = 2 THEN '目标' END "sourceOrTarget"
        FROM T_PRD_PORT_STORAGE tpps
        LEFT JOIN T_BUS_CARGO_INFO tbci ON TPPS.CARGO_INFO_ID = TBCI.ID
        LEFT JOIN M_STORAGE_YARD msy ON msy.id = TPPS.REGION_ID
        LEFT JOIN T_PRD_WORK_PLAN_LOCATION tpwpl ON TPWPL.MASS_ID = TPPS.MASS_ID
        <where>
            <!--            <if test="direction!=null">-->
            <!--                TPWPL.DIRECTION = #{direction}-->
            <!--            </if>-->
            <if test="workPlanId!=null">
                AND TPWPL.WORK_PLAN_ID = #{workPlanId}
            </if>
            <if test="cargoInfoId!=null">
                AND tbci.ID = #{cargoInfoId}
            </if>
        </where>
    </select>

    <!--  todo.改数据库  -->
    <select id="getCarFerNew" resultType="Map">
        SELECT
            NOTE_ID "value",
            TRUCK_PLATE "textLabel",
            TRUCK_PLATE || '/' || ROUND((SYSDATE - WEIGH_IN_DT) * 24 * 60) || '分钟' "text"
        FROM
            WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
        WHERE
            PLAN_NO IN ${planCode} AND IS_FINISHED = 0 AND IS_DELETE = 0 AND IS_TALLY = 0
        ORDER BY WEIGH_IN_DT
    </select>
</mapper>
