<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.appWork.mapper.TDisCargoWaterMapper">

    <select id="queryCargoAllApp" resultType="com.yy.ppm.appWork.bean.dto.TDisCargoWaterDTO">
        SELECT
        t1.ID trustId,
        t1.SHIPVOYAGE_ID,
        t1.SHIPVOYAGE_ITEM_ID,
        t1.COMPANY_ID,
        t1.COMPANY_NAME,
        t1.TRUST_NO,
        t1.PROCESS_NAME,
        t1.PROCESS_CODE,
        t2.BERTH_TIME,
        t2.SHIP_NAME shipvoyageName,
        CONCAT(CONCAT(T2.SHIP_NAME, '_') , TDSI.VOYAGE) as "shipvoyagesName",
        t1.TRADE_TYPE,
        t2.LOAD_UNLOAD,
        t2.LOAD_UNLOAD,
        t2.BERTH_TIME,
        DECODE (
        t1.STATUS,
        '30',
        '已发布',
        '40',
        '作业中',
        '50',
        '已核销'
        ) STATUS
        FROM
        T_BUS_TRUST t1
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI  ON TDSI.ID = t1.SHIPVOYAGE_ITEM_ID
        LEFT JOIN T_DIS_SHIPVOYAGE t2 ON TDSI.SHIPVOYAGE_ID = t2.ID
        WHERE 1=1
        <if test="processCode!= null and processCode != ''">
            AND  t1.PROCESS_CODE= #{processCode}
        </if>
        <if test="shipvoyageName != null and shipvoyageName != ''">
            <bind name="shipvoyageName" value="'%' + shipvoyageName + '%'"/>
            AND t2.SHIP_NAME   LIKE #{shipvoyageName}
        </if>
        <if test="isVerify == 'Y'.toString">
            and t1.status = '50'
        </if>
        <if test="isVerify == 'N'.toString">
            and (t1.status = '30' or t1.STATUS='40')
        </if>
    </select>
    <select id="count" resultType="com.yy.ppm.appWork.bean.dto.TDisCargoWaterDTO">
    SELECT
        STATUS
        FROM
        T_BUS_TRUST
        where
        ID=#{trustId}
    </select>
    <select id="queryCargoWaterByIdApp" resultType="com.yy.ppm.appWork.bean.dto.TDisCargoWaterDTO">
        SELECT
            ID,
            SHIPVOYAGE_ID,
            SHIPVOYAGE_ITEM_ID,
            PROCESS_CODE,
            PROCESS_NAME,
            QUANTITY,
            START_TIME workTime,
            REMARK,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_BY_NAME,
            UPDATE_TIME,
            TRUST_ID,
            END_TIME workTimeEnd
        FROM
	        T_PRD_CARGO_WATER
        where
            TRUST_ID=#{trustId}
    </select>
    <select id="queryById" resultType="com.yy.ppm.appWork.bean.dto.TDisCargoWaterDTO">
        SELECT
            ID,
            SHIPVOYAGE_ID,
            SHIPVOYAGE_ITEM_ID,
            PROCESS_CODE,
            PROCESS_NAME,
            QUANTITY,
            START_TIME workTime,
            END_TIME workTimeEnd,
            REMARK,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_BY_NAME,
            UPDATE_TIME,
            TRUST_ID
        FROM
	        T_PRD_CARGO_WATER
        where
            ID=#{id,jdbcType=BIGINT}
    </select>

    <insert id="cargoWaterAppInsert">
        INSERT INTO T_PRD_CARGO_WATER (ID,
		SHIPVOYAGE_ID,
		SHIPVOYAGE_ITEM_ID,
		COMPANY_ID,
		COMPANY_NAME,
		TRUST_ID,
		PROCESS_CODE,
		PROCESS_NAME,
		QUANTITY,
		START_TIME,
		END_TIME,
		REMARK,
        CREATE_BY,
        CREATE_BY_NAME) VALUES (
        #{id,jdbcType=BIGINT},
        #{shipvoyageId,jdbcType=BIGINT},
        #{shipvoyageItemId,jdbcType=BIGINT},
        #{companyId,jdbcType=BIGINT},
        #{companyName,jdbcType=VARCHAR},
        #{trustId,jdbcType=BIGINT},
        #{processCode,jdbcType=VARCHAR},
        #{processName,jdbcType=VARCHAR},
        #{quantity,jdbcType=DECIMAL},
        #{workTime,jdbcType=TIMESTAMP},
        #{workTimeEnd,jdbcType=TIMESTAMP},
        #{remark,jdbcType=VARCHAR},
        #{loginUserId,jdbcType=VARCHAR},
        #{loginUserName,jdbcType=VARCHAR})
    </insert>

    <update id="updateTrustStatus">
        update T_BUS_TRUST
        set status = 40,
            UPDATE_BY = #{loginUserId},
            UPDATE_BY_NAME = #{loginUserName},
            UPDATE_TIME = #{now}
        where ID = #{trustId}
    </update>
    <update id="cargoWaterAppUpdate">
        update T_PRD_CARGO_WATER
        <set>
            SHIPVOYAGE_ID = #{shipvoyageId},
            SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId},
            PROCESS_CODE = #{processCode},
            PROCESS_NAME = #{processName},
            QUANTITY = #{quantity},
            START_TIME = #{workTime},
            REMARK = #{remark},
            UPDATE_BY = #{loginUserId},
            UPDATE_BY_NAME = #{loginUserName},
            UPDATE_TIME = #{now},
            TRUST_ID = #{trustId},
            END_TIME = #{workTimeEnd}
        </set>
        where ID = #{id}
    </update>

    <delete id="deleteApp" parameterType="Long">
        delete from T_PRD_CARGO_WATER where id=#{id}
    </delete>
</mapper>