<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.appWork.mapper.TDisWaterElectricityMapper">


    <select id="queryAllApp" resultType="com.yy.ppm.appWork.bean.dto.TDisWaterDTO">
        SELECT
            t1.ID trustId,
            t1.SHIPVOYAGE_ID,
            t1.SHIPVOYAGE_ITEM_ID,
            t1.COMPANY_ID,
            t1.COMPANY_NAME,
            t1.TRUST_NO,
            t1.PROCESS_NAME,
            t1.PROCESS_CODE,
            t2.BERTH_TIME,
            t2.SHIP_NAME shipvoyageName,
            CONCAT(CONCAT(T2.SHIP_NAME, '_') , TDSI.VOYAGE) as "shipvoyagesName",
            t1.TRADE_TYPE,
            t2.LOAD_UNLOAD,
            t2.LOAD_UNLOAD,
            t2.BERTH_TIME,
        DECODE (
        t1.STATUS,
        '30',
        '已发布',
        '40',
        '作业中',
        '50',
        '已核销'
        ) STATUS
        FROM
            T_BUS_TRUST t1
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI  ON TDSI.ID = t1.SHIPVOYAGE_ITEM_ID
        LEFT JOIN T_DIS_SHIPVOYAGE t2 ON TDSI.SHIPVOYAGE_ID = t2.ID
        WHERE 1=1
           <if test="processCode!= null and processCode != ''">
            AND  t1.PROCESS_CODE= #{processCode}
           </if>
           <if test="shipvoyageName != null and shipvoyageName != ''">
            <bind name="shipvoyageName" value="'%' + shipvoyageName + '%'"/>
            AND t2.SHIP_NAME   LIKE #{shipvoyageName}
           </if>
            <if test="isVerify == 'Y'.toString">
                and t1.status = '50'
            </if>
            <if test="isVerify == 'N'.toString">
                and (t1.status = '30' or t1.STATUS='40')
            </if>
    </select>

    <select id="queryIdApp" resultType="com.yy.ppm.appWork.bean.dto.TDisWaterDTO">
    SELECT
            ID,
            SHIPVOYAGE_ID,
            SHIPVOYAGE_ITEM_ID,
            PROCESS_CODE,
            PROCESS_NAME,
            START_NUMBER,
            END_NUMBER,
            QUANTITY,
            START_TIME workTime,
            REMARK,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_BY_NAME,
            UPDATE_TIME,
            TRUST_ID,
            END_TIME workTimeEnd,
            POWER_ON_USER_ID,
            POWER_ON_USER_NAME,
            POWER_DIS_USER_ID,
            POWER_DIS_USER_NAME,
            MAGNI ratio
        FROM
	        T_PRD_WATER_ELECTRICITY
        where
            TRUST_ID=#{trustId}
    </select>

    <select id="queryById" resultType="com.yy.ppm.appWork.bean.dto.TDisWaterDTO">
       SELECT
            ID,
            SHIPVOYAGE_ID,
            SHIPVOYAGE_ITEM_ID,
            PROCESS_CODE,
            PROCESS_NAME,
            START_NUMBER,
            END_NUMBER,
            QUANTITY,
            START_TIME workTime,
            END_TIME workTimeEnd,
            REMARK,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_BY_NAME,
            UPDATE_TIME,
            TRUST_ID,
            POWER_ON_USER_ID,
            POWER_ON_USER_NAME,
            POWER_DIS_USER_ID,
            POWER_DIS_USER_NAME,
            MAGNI ratio
        FROM
	        T_PRD_WATER_ELECTRICITY
        where
            ID=#{id,jdbcType=BIGINT}
    </select>


    <select id="count" resultType="com.yy.ppm.appWork.bean.dto.TDisWaterDTO">
    SELECT
        STATUS
        FROM
        T_BUS_TRUST
        where
        ID=#{trustId}
    </select>

    <select id="getUserList" resultType="Map">
        SELECT ID "value",USER_NAME "text" FROM SYS_USER WHERE POST_CODE = 'DIANGONG'
    </select>

    <insert id="AppInsert">
		INSERT INTO T_PRD_WATER_ELECTRICITY (ID,
		SHIPVOYAGE_ID,
		SHIPVOYAGE_ITEM_ID,
		COMPANY_ID,
		COMPANY_NAME,
		TRUST_ID,
		PROCESS_CODE,
		PROCESS_NAME,
		START_NUMBER,
		END_NUMBER,
		QUANTITY,
		START_TIME,
		END_TIME,
		REMARK,
		POWER_ON_USER_ID,
        POWER_ON_USER_NAME,
        POWER_DIS_USER_ID,
        POWER_DIS_USER_NAME,
        MAGNI,
        CREATE_BY,
        CREATE_BY_NAME) VALUES (
        #{id,jdbcType=BIGINT},
        #{shipvoyageId,jdbcType=BIGINT},
        #{shipvoyageItemId,jdbcType=BIGINT},
        #{companyId,jdbcType=BIGINT},
        #{companyName,jdbcType=VARCHAR},
        #{trustId,jdbcType=BIGINT},
        #{processCode,jdbcType=VARCHAR},
        #{processName,jdbcType=VARCHAR},
        #{startNumber,jdbcType=DECIMAL},
        #{endNumber,jdbcType=DECIMAL},
        #{quantity,jdbcType=DECIMAL},
        #{workTime,jdbcType=TIMESTAMP},
        #{workTimeEnd,jdbcType=TIMESTAMP},
        #{remark,jdbcType=VARCHAR},
        #{powerOnUserId,jdbcType=BIGINT},
        #{powerOnUserName,jdbcType=VARCHAR},
        #{powerDisUserId,jdbcType=BIGINT},
        #{powerDisUserName,jdbcType=VARCHAR},
        #{ratio,jdbcType=BIGINT},
        #{loginUserId,jdbcType=VARCHAR},
        #{loginUserName,jdbcType=VARCHAR})
	</insert>

    <!--通过主键修改数据-->
    <update id="AppUpdate">
        update T_PRD_WATER_ELECTRICITY
        <set>
            SHIPVOYAGE_ID = #{shipvoyageId},
            SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId},
            PROCESS_CODE = #{processCode},
            PROCESS_NAME = #{processName},
            START_NUMBER = #{startNumber},
            END_NUMBER = #{endNumber},
            QUANTITY = #{quantity},
            START_TIME = #{workTime},
            REMARK = #{remark},
            UPDATE_BY = #{loginUserId},
            UPDATE_BY_NAME = #{loginUserName},
            UPDATE_TIME = #{now},
            TRUST_ID = #{trustId},
            END_TIME = #{workTimeEnd},
            POWER_ON_USER_ID = #{powerOnUserId,jdbcType=BIGINT},
            POWER_ON_USER_NAME = #{powerOnUserName,jdbcType=VARCHAR},
            POWER_DIS_USER_ID = #{powerDisUserId,jdbcType=BIGINT},
            POWER_DIS_USER_NAME = #{powerOnUserName,jdbcType=VARCHAR},
            MAGNI = #{ratio,jdbcType=BIGINT}

        </set>
        where ID = #{id}
    </update>
    <update id="updateTrustStutas">
        update T_BUS_TRUST
        set status = 40,
            UPDATE_BY = #{loginUserId},
            UPDATE_BY_NAME = #{loginUserName},
            UPDATE_TIME = #{now}
        where ID = #{trustId}
    </update>

    <delete id="deleteApp" parameterType="Long">
        delete from T_PRD_WATER_ELECTRICITY where id=#{id}
    </delete>


    <select id="getByVoyageId" resultType="com.yy.ppm.appWork.bean.dto.TDisWaterDTO">
        SELECT
            ID id,
            TRUST_ID,
            START_TIME workTime,
            END_TIME workTimeEnd,
            START_NUMBER,
            END_NUMBER,
            QUANTITY,
            MAGNI
        FROM
            T_PRD_WATER_ELECTRICITY
        where
            SHIPVOYAGE_ID=#{shipvoyageId}
    </select>
</mapper>
