<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.dispatch.mapper.MSjsbLogMapper">

    <sql id="commonList">
        SELECT
        ID,
        JK_INFO,
        SJSB_TYPE,
        SJSB_STATUS,
        SERVICE_ID,
        SERVICE_FIELD_I,
        SERVICE_FIELD_II,
        SERVICE_FIELD_III,
        REQUEST_PARAMETERS,
        RETURN_RESULT,
        FAIL_REASON,
        REMARK,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME
        FROM
        M_SJSB_LOG
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="jkInfo != null and jkInfo != ''">
                and JK_INFO = #{jkInfo}
            </if>
            <if test="sjsbType != null and sjsbType != ''">
                and SJSB_TYPE = #{sjsbType}
            </if>
            <if test="sjsbStatus != null and sjsbStatus != ''">
                and SJSB_STATUS = #{sjsbStatus}
            </if>
            <if test="serviceId != null">
                and SERVICE_ID = #{serviceId}
            </if>
            <if test="serviceFieldI != null and serviceFieldI != ''">
                and SERVICE_FIELD_I = #{serviceFieldI}
            </if>
            <if test="serviceFieldIi != null and serviceFieldIi != ''">
                and SERVICE_FIELD_II = #{serviceFieldIi}
            </if>
            <if test="serviceFieldIii != null and serviceFieldIii != ''">
                and SERVICE_FIELD_III = #{serviceFieldIii}
            </if>
            <if test="requestParameters != null and requestParameters != ''">
                and REQUEST_PARAMETERS = #{requestParameters}
            </if>
            <if test="returnResult != null and returnResult != ''">
                and RETURN_RESULT = #{returnResult}
            </if>
            <if test="failReason != null and failReason != ''">
                and FAIL_REASON = #{failReason}
            </if>
            <if test="remark != null and remark != ''">
                and REMARK = #{remark}
            </if>
            <if test="startTime != null and startTime != ''">
                and to_char(CREATE_TIME,'YYYY-MM-DD hh24:mi:ss') >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and to_char(CREATE_TIME,'YYYY-MM-DD hh24:mi:ss') &lt; #{endTime}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.dispatch.bean.dto.MSjsbLogDTO"
            parameterType="com.yy.ppm.dispatch.bean.dto.MSjsbLogSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.dispatch.bean.dto.MSjsbLogDTO"
            parameterType="com.yy.ppm.dispatch.bean.dto.MSjsbLogSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.dispatch.bean.dto.MSjsbLogDTO" parameterType="java.lang.Long">
        SELECT
        ID
        JK_INFO
        SJSB_TYPE
        SJSB_STATUS
        SERVICE_ID
        SERVICE_FIELD_I
        SERVICE_FIELD_II
        SERVICE_FIELD_III
        REQUEST_PARAMETERS
        RETURN_RESULT
        FAIL_REASON
        REMARK
        CREATE_BY
        CREATE_BY_NAME
        CREATE_TIME
        FROM
        M_SJSB_LOG
        <where>
            id = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.dispatch.bean.dto.MSjsbLogDTO">
        INSERT INTO M_SJSB_LOG(ID,
                               JK_INFO,
                               SJSB_TYPE,
                               SJSB_STATUS,
                               SERVICE_ID,
                               SERVICE_FIELD_I,
                               SERVICE_FIELD_II,
                               SERVICE_FIELD_III,
                               REQUEST_PARAMETERS,
                               RETURN_RESULT,
                               FAIL_REASON,
                               REMARK,
                               CREATE_BY,
                               CREATE_BY_NAME,
                               CREATE_TIME)
        VALUES (#{id},
                #{jkInfo, jdbcType=VARCHAR},
                #{sjsbType, jdbcType=VARCHAR},
                #{sjsbStatus, jdbcType=VARCHAR},
                #{serviceId, jdbcType=VARCHAR},
                #{serviceFieldI, jdbcType=VARCHAR},
                #{serviceFieldIi, jdbcType=VARCHAR},
                #{serviceFieldIii, jdbcType=VARCHAR},
                #{requestParameters, jdbcType=VARCHAR},
                #{returnResult, jdbcType=VARCHAR},
                #{failReason, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.dispatch.bean.dto.MSjsbLogDTO">
        UPDATE
        M_SJSB_LOG
        SET
        JK_INFO = #{jkInfo,jdbcType=VARCHAR},
        SJSB_TYPE = #{sjsbType,jdbcType=VARCHAR},
        SJSB_STATUS = #{sjsbStatus,jdbcType=VARCHAR},
        SERVICE_ID = #{serviceId,jdbcType=VARCHAR},
        SERVICE_FIELD_I = #{serviceFieldI,jdbcType=VARCHAR},
        SERVICE_FIELD_II = #{serviceFieldIi,jdbcType=VARCHAR},
        SERVICE_FIELD_III = #{serviceFieldIii,jdbcType=VARCHAR},
        REQUEST_PARAMETERS = #{requestParameters,jdbcType=VARCHAR},
        RETURN_RESULT = #{returnResult,jdbcType=VARCHAR},
        FAIL_REASON = #{failReason,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>
    <update id="updateSjsbLogStatus">
        UPDATE
            M_SJSB_LOG
        SET SJSB_STATUS = '成功'
        WHERE SERVICE_ID IN (
            SELECT SERVICE_ID FROM M_SJSB_LOG
            WHERE RETURN_RESULT LIKE '%{"code":400,"success":false,"data":{},"msg":"新增数据已经存在,不允许重复新增"}%'
               OR RETURN_RESULT LIKE '%{"code":400,"success":false,"data":{},"msg":"新增数据不允许重复发送"}%'
        )
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM M_SJSB_LOG
        WHERE id = #{id}
    </delete>
</mapper>

