<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.dispatch.mapper.TAnchApplyMapper">
    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.dispatch.bean.dto.TAnchApplyDTO"
            parameterType="com.yy.ppm.dispatch.bean.dto.TAnchApplySearchDTO">
        select * from T_ANCH_APPLY a 
        <where>
        	<if test="createBy != null">
        		and CREATE_BY = #{createBy}
        	</if>
        	<if test="auditStatus != null">
        		and audit_status = #{auditStatus}
        	</if>
        	<if test="mmsi != null">
        		and mmsi = #{mmsi}
        	</if>
        	<if test="shipName != null">
        		and ship_name = #{shipName}
        	</if>
            <if test="anchId != null">
                and anch_id = #{anchId}
            </if>
            <if test="positionId != null">
                and position_id = #{positionId}
            </if>
        </where>
        order by a.CREATE_TIME desc
    </select>
    <select id="getAnchTimeById" resultType="com.yy.ppm.dispatch.bean.dto.TAnchApplyDTO">
        select * from T_ANCH_APPLY where ID = #{id}
    </select>

    <!-- 审核 -->
    <update id="verify" parameterType="com.yy.ppm.dispatch.bean.dto.TAnchApplyDTO">
        UPDATE
        T_ANCH_APPLY
        SET
        AUDIT_STATUS = #{auditStatus,jdbcType=INTEGER},
        FAIL_REASON = #{failReason,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now},
        AUDIT_BY = #{loginUserId,jdbcType=BIGINT},
        AUDIT_BY_NAME = #{loginUserName,jdbcType=VARCHAR},
        AUDIT_TIME = #{now}
        <where>
            ID = #{id}
        </where>
    </update>
    <update id="updateLeaveAnchTime">
        UPDATE
        T_ANCH_APPLY
        SET
        LEAVE_ANCH_TIME = #{leaveAnchTime,jdbcType=DATE},
        STATUS = #{status,jdbcType=BIGINT}
        <where>
            ID = #{id}
        </where>
    </update>

<!--    <update id="updateAnchTime">-->
<!--        UPDATE-->
<!--        T_ANCH_APPLY-->
<!--        SET-->
<!--        ANCH_TIME = #{anchTime,jdbcType=DATE},-->
<!--        DYNAMIC_ID = #{dynamicId,jdbcType=DATE}-->
<!--        <where>-->
<!--            ANCH_TIME IS NULL AND DYNAMIC_ID IS NULL-->
<!--            AND SHIPVOYAGE_ID = #{shipvoyageId}-->
<!--        </where>-->
<!--    </update>-->

    <select id="getByShipvoyageId" resultType="com.yy.ppm.dispatch.bean.dto.TAnchApplyDTO">
        SELECT * from T_ANCH_APPLY
        <where>
            ANCH_TIME IS NULL AND DYNAMIC_ID IS NULL
            AND SHIPVOYAGE_ID = #{shipvoyageId}
        </where>
    </select>

    <select id="getByShipvoyageId2" resultType="com.yy.ppm.dispatch.bean.dto.TAnchApplyDTO">
        SELECT * from T_ANCH_APPLY
        <where>
            STATUS = '0'
            AND SHIPVOYAGE_ID = #{shipvoyageId}
        </where>
    </select>

    <update id="updateAnchTime">
        UPDATE
        T_ANCH_APPLY
        <set>
            ANCH_TIME = #{anchTime,jdbcType=DATE},
            DYNAMIC_ID = #{dynamicId,jdbcType=DATE}
        </set>
        <where>
            ID = #{id}
        </where>
    </update>
    <update id="updateQiMaoTime">
        UPDATE
        T_ANCH_APPLY
        <set>
            LEAVE_ANCH_TIME = #{leaveAnchTime},
            STATUS = #{status,jdbcType=DATE},
        </set>
        <where>
            ID = #{id}
            and status = 0
        </where>
    </update>
    <update id="updateAnchTimeByDynamicId">
        UPDATE
        T_ANCH_APPLY
        <set>
            ANCH_TIME = #{anchTime,jdbcType=DATE}
        </set>
        <where>
            DYNAMIC_ID = #{dynamicId}
        </where>
    </update>

    <update id="deleteAnchTimeByDynamicId">
        UPDATE
        T_ANCH_APPLY
        <set>
            ANCH_TIME = null,
            DYNAMIC_ID = null
        </set>
        <where>
            DYNAMIC_ID = #{dynamicId}
        </where>
    </update>

</mapper>
