<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.dispatch.mapper.TDisTugServiceRecordMapper">

    <sql id="commonList">
        SELECT
                ID,
                SHIPVOYAGE_ID,
                SHIP_ID,
                SHIP_NAME,
                SHIP_DYNAMIC_ID,
                TUG_ID,
                TUG_NAME,
                TUG_SERVICE_TYPE,
                TUG_SERVICE_TYPE_NAME,
                START_TIME,
                END_TIME,
                TIME_LENGTH,
                REMARK,
                IS_STANDARD_USE,
                CREATE_BY,
                CREATE_BY_NAME,
                CREATE_TIME,
                UPDATE_BY,
                UPDATE_BY_NAME,
                UPDATE_TIME
        FROM
            T_DIS_TUG_SERVICE_RECORD
        <where>
            <if test="shipvoyageId != null">
                and SHIPVOYAGE_ID = #{shipvoyageId}
            </if>
            <if test="tugId != null">
                and TUG_ID = #{tugId}
            </if>
            <if test="startTime != null">
                and  TO_CHAR(START_TIME, 'YYYY-MM-DD') &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and  TO_CHAR(END_TIME, 'YYYY-MM-DD') &lt;= #{endTime}
            </if>
        </where>
    </sql>
    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.dispatch.bean.dto.TDisTugServiceRecordDTO" parameterType="com.yy.ppm.dispatch.bean.dto.TDisTugServiceRecordSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.dispatch.bean.dto.TDisTugServiceRecordExcelDTO" parameterType="com.yy.ppm.dispatch.bean.dto.TDisTugServiceRecordSearchDTO">
        SELECT
        A.TUG_NAME,
        CASE
        WHEN C.VOYAGE IS NOT NULL THEN A.SHIP_NAME || '_' || C.VOYAGE
        WHEN D.VOYAGE IS NOT NULL THEN A.SHIP_NAME || '_' || D.VOYAGE
        WHEN (C.VOYAGE IS NOT NULL AND D.VOYAGE IS NOT NULL) THEN A.SHIP_NAME || '_' || C.VOYAGE || '/' || D.VOYAGE
        END AS SHIP_VOYAGE,
        B.SCN,
        A.TUG_SERVICE_TYPE_NAME,
        A.START_TIME,
        A.END_TIME,
        A.TIME_LENGTH,
        A.REMARK,
        A.IS_STANDARD_USE,
        A.CREATE_BY,
        A.CREATE_BY_NAME,
        A.CREATE_TIME,
        A.UPDATE_BY,
        A.UPDATE_BY_NAME,
        A.UPDATE_TIME
        FROM
        T_DIS_TUG_SERVICE_RECORD A
        LEFT JOIN T_DIS_SHIPVOYAGE B ON A.SHIPVOYAGE_ID = B.ID
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM C ON B.ID = C.SHIPVOYAGE_ID
        AND C.IMP_EXP = 'IN'
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM D ON B.ID = D.SHIPVOYAGE_ID
        AND D.IMP_EXP = 'OUT'
        <where>
            <if test="shipvoyageId != null">
                and (C.ID = #{shipvoyageId} OR D.ID = #{shipvoyageId})
            </if>
            <if test="scn != null">
                and B.SCN = #{scn}
            </if>
            <if test="tugId != null">
                and A.TUG_ID = #{tugId}
            </if>
            <if test="startTime != null">
                and  TO_CHAR(A.START_TIME, 'YYYY-MM-DD') &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and  TO_CHAR(A.END_TIME, 'YYYY-MM-DD') &lt;= #{endTime}
            </if>
        </where>
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="getTugList" resultType="com.yy.ppm.dispatch.bean.dto.TDisTugServiceRecordDTO" parameterType="com.yy.ppm.dispatch.bean.dto.TDisTugServiceRecordSearchDTO">
        SELECT
        A.ID,
        A.SHIPVOYAGE_ID,
        NVL(A.SHIPVOYAGE_ITEM_ID,(NVL(C.ID,D.ID))) SHIPVOYAGE_ITEM_ID,
        A.SHIP_ID,
        A.SHIP_NAME || '_' || C.VOYAGE || '/' ||D.VOYAGE AS SHIP_VOYAGE,
        B.SCN,
        A.SHIP_DYNAMIC_ID,
        A.TUG_ID,
        A.TUG_NAME,
        A.TUG_SERVICE_TYPE,
        A.TUG_SERVICE_TYPE_NAME,
        A.START_TIME,
        A.END_TIME,
        A.TIME_LENGTH,
        A.REMARK,
        A.IS_STANDARD_USE,
        A.CREATE_BY,
        A.CREATE_BY_NAME,
        A.CREATE_TIME,
        A.UPDATE_BY,
        A.UPDATE_BY_NAME,
        A.UPDATE_TIME
        FROM
        T_DIS_TUG_SERVICE_RECORD A
        LEFT JOIN T_DIS_SHIPVOYAGE B
        ON A.SHIPVOYAGE_ID = B.ID
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM C
        ON B.ID = C.SHIPVOYAGE_ID AND C.IMP_EXP = 'IN'
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM D
        ON B.ID = D.SHIPVOYAGE_ID AND D.IMP_EXP = 'OUT'
        <where>
            <if test="shipvoyageId != null">
                and (C.ID = #{shipvoyageId} OR D.ID = #{shipvoyageId})
            </if>
            <if test="scn != null">
                and B.SCN = #{scn}
            </if>
            <if test="tugId != null">
                and A.TUG_ID = #{tugId}
            </if>
            <if test="startTime != null">
                and  TO_CHAR(A.START_TIME, 'YYYY-MM-DD') &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and  TO_CHAR(A.END_TIME, 'YYYY-MM-DD') &lt;= #{endTime}
            </if>
        </where>
        ORDER BY A.START_TIME DESC nulls last
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.dispatch.bean.dto.TDisTugServiceRecordDTO" parameterType="java.lang.Long">
        SELECT
            A.ID,
            A.SHIPVOYAGE_ID,
            C.ID || D.ID SHIPVOYAGE_ITEM_ID,
            A.SHIP_ID,
            A.SHIP_NAME,
            A.SHIP_DYNAMIC_ID,
            A.TUG_ID,
            A.TUG_NAME,
            A.TUG_SERVICE_TYPE,
            A.TUG_SERVICE_TYPE_NAME,
            A.START_TIME,
            A.END_TIME,
            A.TIME_LENGTH,
            A.REMARK,
            A.IS_STANDARD_USE,
            A.REASON_CODE,
            A.REASON_NAME,
            A.CREATE_BY,
            A.CREATE_BY_NAME,
            A.CREATE_TIME,
            A.UPDATE_BY,
            A.UPDATE_BY_NAME,
            A.UPDATE_TIME
        FROM
        T_DIS_TUG_SERVICE_RECORD A
        LEFT JOIN T_DIS_SHIPVOYAGE B
        ON A.SHIPVOYAGE_ID = B.ID
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM C
        ON B.ID = C.SHIPVOYAGE_ID AND C.IMP_EXP = 'IN'
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM D
        ON B.ID = D.SHIPVOYAGE_ID AND D.IMP_EXP = 'OUT'
        <where>
            A.ID = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.dispatch.bean.dto.TDisTugServiceRecordDTO">
        INSERT INTO T_DIS_TUG_SERVICE_RECORD(
                ID,
                SHIPVOYAGE_ID,
                SHIPVOYAGE_ITEM_ID,
                SHIP_ID,
                SHIP_NAME,
                SHIP_DYNAMIC_ID,
                TUG_ID,
                TUG_NAME,
                TUG_SERVICE_TYPE,
                TUG_SERVICE_TYPE_NAME,
                START_TIME,
                END_TIME,
                TIME_LENGTH,
                REMARK,
                IS_STANDARD_USE,
                REASON_CODE,
                REASON_NAME,
                CREATE_BY,
                CREATE_BY_NAME,
                CREATE_TIME
        )VALUES (
                #{id, jdbcType=BIGINT},
                #{shipvoyageId, jdbcType=BIGINT},
                #{shipvoyageItemId, jdbcType=BIGINT},
                #{shipId, jdbcType=BIGINT},
                #{shipName, jdbcType=VARCHAR},
                #{shipDynamicId, jdbcType=BIGINT},
                #{tugId, jdbcType=BIGINT},
                #{tugName, jdbcType=VARCHAR},
                #{tugServiceType, jdbcType=VARCHAR},
                #{tugServiceTypeName, jdbcType=VARCHAR},
                #{startTime, jdbcType=DATE},
                #{endTime, jdbcType=DATE},
                #{timeLength,jdbcType=DECIMAL},
                #{remark, jdbcType=VARCHAR},
                #{isStandardUse, jdbcType=VARCHAR},
                #{reasonCode, jdbcType=BIGINT},
                #{reasonName, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now}
        )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.dispatch.bean.dto.TDisTugServiceRecordDTO">
        UPDATE
            T_DIS_TUG_SERVICE_RECORD
        SET
            SHIPVOYAGE_ID = #{shipvoyageId,jdbcType=BIGINT},
            SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT},
            SHIP_ID = #{shipId,jdbcType=BIGINT},
            SHIP_NAME = #{shipName,jdbcType=BIGINT},
            SHIP_DYNAMIC_ID = #{shipDynamicId,jdbcType=BIGINT},
            TUG_ID = #{tugId,jdbcType=BIGINT},
            TUG_NAME = #{tugName,jdbcType=VARCHAR},
            TUG_SERVICE_TYPE = #{tugServiceType,jdbcType=VARCHAR},
            TUG_SERVICE_TYPE_NAME = #{tugServiceTypeName,jdbcType=VARCHAR},
            START_TIME = #{startTime,jdbcType=DATE},
            END_TIME = #{endTime,jdbcType=DATE},
            TIME_LENGTH = #{timeLength,jdbcType=VARCHAR},
            REMARK = #{remark,jdbcType=VARCHAR},
            IS_STANDARD_USE = #{isStandardUse,jdbcType=VARCHAR},
            REASON_CODE =  #{reasonCode, jdbcType=BIGINT},
            REASON_NAME =  #{reasonName, jdbcType=VARCHAR},
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

   <!-- 删除 -->
   <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_DIS_TUG_SERVICE_RECORD
        WHERE
            id = #{id}
    </delete>
</mapper>

