<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.dispatch.mapper.TDisCloseSailMapper">
    <resultMap id="getListInfo" type="com.yy.ppm.dispatch.bean.dto.TDisCloseSailDTO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="startTime" column="START_TIME" jdbcType="DATE"/>
        <result property="endTime" column="END_TIME" jdbcType="DATE"/>
        <result property="timeLength" column="TIME_LENGTH" jdbcType="DECIMAL"/>
        <result property="closeReasonCode" column="CLOSE_REASON_CODE" jdbcType="DECIMAL"/>
        <result property="closeReasonName" column="CLOSE_REASON_NAME" jdbcType="DECIMAL"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="effectShipvoyage" column="EFFECT_SHIPVOYAGE" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="createBy" column="TBAF_CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="TBAF_CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="TBAF_CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="TBAF_UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="TBAF_UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="TBAF_UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <collection property="shipNameList" ofType="java.lang.String" javaType="java.util.List">
            <result property="shipName" column="SHIP_NAME" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="commonList">
        SELECT
            ID,
            START_TIME,
            END_TIME,
            TIME_LENGTH,
            REMARK,
            CLOSE_REASON_CODE,
            CLOSE_REASON_NAME,
            EFFECT_SHIPVOYAGE,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_BY_NAME,
            UPDATE_TIME
        FROM
            T_DIS_CLOSE_SAIL
        <where>
            <if test="beginTimes != null">
                and TO_CHAR(START_TIME,'YYYY-MM-DD') >= #{beginTimes}
            </if>
            <if test="endTimes != null">
                and TO_CHAR(END_TIME,'YYYY-MM-DD') &lt;= #{endTimes}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultMap="getListInfo" parameterType="com.yy.ppm.dispatch.bean.dto.TDisCloseSailSearchDTO">
        SELECT
            A.ID,
            A.START_TIME,
            A.END_TIME,
            A.TIME_LENGTH,
            A.CLOSE_REASON_CODE,
            A.CLOSE_REASON_NAME,
            A.EFFECT_SHIPVOYAGE,
            A.REMARK,
            A.STATUS,
            A.CREATE_BY,
            A.CREATE_BY_NAME,
            A.CREATE_TIME,
            A.UPDATE_BY,
            A.UPDATE_BY_NAME,
            A.UPDATE_TIME,
            C.SHIP_NAME
        FROM
            T_DIS_CLOSE_SAIL A
        LEFT JOIN T_DIS_CLOSE_SAIL_SHIP B ON B.CLOSE_SAIL_ID = A.ID
        LEFT JOIN T_DIS_SHIPVOYAGE C ON C.ID = B.SHIPVOYAGE_ID
        <where>
        <if test="beginTimes != null">
            and TO_CHAR(A.START_TIME,'YYYY-MM-DD') >= #{beginTimes}
        </if>
        <if test="endTimes != null">
            and TO_CHAR(A.END_TIME,'YYYY-MM-DD') &lt;= #{endTimes}
        </if>
        <if test="shipvoyageId != null">
            and B.SHIPVOYAGE_ID = #{shipvoyageId}
        </if>
        <if test="status != null">
            and A.STATUS = #{status}
        </if>
    </where>
    ORDER BY A.START_TIME DESC
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportCursor" resultType="com.yy.ppm.dispatch.bean.dto.TDisCloseSailExcelDTO" parameterType="com.yy.ppm.dispatch.bean.dto.TDisCloseSailSearchDTO">
        <include refid="commonList"></include>
    </select>
    <select id="exportList" resultType="com.yy.ppm.dispatch.bean.dto.TDisCloseSailExcelDTO" parameterType="com.yy.ppm.dispatch.bean.dto.TDisCloseSailSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.dispatch.bean.dto.TDisCloseSailDTO" parameterType="java.lang.Long">
        SELECT
        ID,
        START_TIME,
        END_TIME,
        TIME_LENGTH,
        REMARK,
        CLOSE_REASON_CODE,
        CLOSE_REASON_NAME,
        EFFECT_SHIPVOYAGE,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
            T_DIS_CLOSE_SAIL
        <where>
            id = #{id}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.dispatch.bean.dto.TDisCloseSailDTO">
        INSERT INTO T_DIS_CLOSE_SAIL(
                ID,
                START_TIME,
                END_TIME,
                TIME_LENGTH,
                REMARK,
                CLOSE_REASON_CODE,
                CLOSE_REASON_NAME,
                EFFECT_SHIPVOYAGE,
                STATUS,
                CREATE_BY,
                CREATE_BY_NAME,
                CREATE_TIME
        )VALUES (
                #{id, jdbcType=BIGINT},
                #{startTime, jdbcType=DATE},
                #{endTime, jdbcType=DATE},
                #{timeLength,jdbcType=DECIMAL},
                #{remark, jdbcType=VARCHAR},
                #{closeReasonCode, jdbcType=BIGINT},
                #{closeReasonName, jdbcType=VARCHAR},
                #{effectShipvoyage, jdbcType=VARCHAR},
                #{status, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now}
        )
    </insert>
    <!-- 修改 -->
   <update id="update" parameterType="com.yy.ppm.dispatch.bean.dto.TDisCloseSailDTO">
        UPDATE
            T_DIS_CLOSE_SAIL
        SET
            START_TIME = #{startTime,jdbcType=DATE},
            END_TIME = #{endTime,jdbcType=DATE},
            TIME_LENGTH = #{timeLength,jdbcType=DECIMAL},
            REMARK = #{remark,jdbcType=VARCHAR},
            CLOSE_REASON_CODE = #{closeReasonCode,jdbcType=BIGINT},
            CLOSE_REASON_NAME = #{closeReasonName,jdbcType=VARCHAR},
            EFFECT_SHIPVOYAGE = #{effectShipvoyage,jdbcType=VARCHAR},
            STATUS = #{status,jdbcType=VARCHAR},
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

   <!-- 删除 -->
   <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_DIS_CLOSE_SAIL
        WHERE
            id = #{id}
    </delete>
</mapper>

