<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.dispatch.mapper.TDisPortDaynightplanMapper">

    <sql id="commonList">
            PDP.ID,
            PDP.TRUST_ID,
            PDP.TRUST_CARGO_ID,
            PDP.BUSINESS_NO,
            PDP.SHIPVOYAGE_ID,
            PDP.SHIPVOYAGE_ITEM_ID,
            PDP.SHIPVOYAGE_NAME,
            PDP.SCN,
            PDP.CARGO_OWNER_ID,
            PDP.CARGO_OWNER_NAME,
            PDP.CARGO_CODE,
            PDP.CARGO_NAME,
            PDP.PORT_CODE,
            PDP.PORT_NAME,
            PDP.PACKING_CODE,
            PDP.PACKING_NAME,
            PDP.TRADE_TYPE,
            PDP.PLAN_TON,
            PDP.STATUS,
            PDP.SEG_PLAN_TON1,
            PDP.SEG_PLAN_TON2,
            PDP.SEG_PLAN_TON3,
            PDP.SEG_PLAN_TON4,
            PDP.MASS_NAMES_TARGET,
            PDP.MASS_NAMES_TARGET_LABEL,
            PDP.PLAN_DATE,
            PDP.CREATE_BY,
            PDP.CREATE_BY_NAME,
            PDP.CREATE_TIME,
            PDP.UPDATE_BY,
            PDP.UPDATE_BY_NAME,
            PDP.UPDATE_TIME,
            PDP.EXAMINE_BY,
            PDP.EXAMINE_BY_NAME,
            PDP.EXAMINE_TIME,
            PDP.NOTICE_TYPE,
            PDP.BEGIN_TIME,
            PDP.END_TIME,
            PDP.PLAN_TYPE,
            PDP.ClASS_CODE
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        SELECT
        <include refid="commonList"></include>
        FROM T_DIS_PORT_DAYNIGHTPLAN PDP
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TDSI.ID = PDP.SHIPVOYAGE_ITEM_ID
        LEFT JOIN T_DIS_SHIPVOYAGE TDS ON TDS.ID = TDSI.SHIPVOYAGE_ID
        <where>
         TO_CHAR(PLAN_DATE, 'YYYY-MM-DD') = #{planDate}
        <if test="shipvoyageItemId!= null">
            and PDP.SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId}
        </if>
        <if test="classCode!= null">
            and PDP.ClASS_CODE = #{classCode}
        </if>
        <if test="cargoOwnerId!= null">
            and PDP.CARGO_OWNER_ID = #{cargoOwnerId}
        </if>
        <if test="businessNo!= null">
            <bind name="businessNo_like" value="'%'+businessNo+'%'"/>

            and PDP.BUSINESS_NO like #{businessNo_like}
        </if>
        <if test="packingCode!= null">
            and PDP.PACKING_CODE = #{packingCode}
        </if>
        <if test="portCode!= null">
            and PDP.PORT_CODE = #{portCode}
        </if>
            <if test="shipName!=null and shipName !=''">
                <bind name="shipName_like" value="'%'+shipName+'%'"/>
                AND TDS.SHIP_NAME LIKE #{shipName_like}
            </if>
            <if test="voyage!=null and voyage !=''">
                <bind name="voyage_like" value="'%'+voyage+'%'"/>
                AND TDSI.VOYAGE LIKE #{voyage_like}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC,ID
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="getById" resultType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO"
            parameterType="java.lang.Long">
        SELECT
        <include refid="commonList"></include>
        FROM T_DIS_PORT_DAYNIGHTPLAN PDP
        WHERE ID = #{id}
    </select>
    <!--当日未作计划的票货-->
    <select id="getTrustCargoDetail" resultType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO"
            parameterType="java.lang.String">
        SELECT
            BT.ID AS TRUST_ID,
            BTC.ID AS TRUST_CARGO_ID,
            BTC.BUSINESS_NO,
            BCI.SHIPVOYAGE_ID,
            BCI.SHIPVOYAGE_ITEM_ID,
            CONCAT( DECODE(CONCAT( BCI.SHIP_NAME, '/' ),'/','',CONCAT( BCI.SHIP_NAME, '/' )), DSI.VOYAGE ) AS SHIPVOYAGE_NAME,
            BCI.SCN,
            CASE WHEN BTC.CONSIGNER_ID IS NOT NULL THEN BTC.CONSIGNER_ID ELSE BCI.CARGO_OWNER_ID END AS CARGO_OWNER_ID,
            CASE WHEN BTC.CONSIGNER_ID IS NOT NULL THEN BTC.CONSIGNER_NAME ELSE BCI.CARGO_OWNER_NAME END AS CARGO_OWNER_NAME,
            BT.PORT_CODE,
            BT.PORT_NAME,
            BCI.CARGO_CODE,
            BCI.CARGO_NAME,
            BCI.PACKING_CODE,
            BCI.PACKING_NAME,
            BT.TRADE_TYPE,
            BTC.TON,
            BT.TYPE AS NOTICE_TYPE
        FROM T_BUS_TRUST BT
        INNER JOIN T_BUS_TRUST_CARGO BTC ON BT.ID = BTC.TRUST_ID
        INNER JOIN T_BUS_CARGO_INFO BCI ON BTC.CARGO_INFO_ID = BCI.ID
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM DSI ON BCI.SHIPVOYAGE_ITEM_ID = DSI.ID
        WHERE BT.TRUST_TYPE = '2'
       <!--AND BTC.BUSINESS_NO NOT IN (
            SELECT BUSINESS_NO FROM T_DIS_PORT_DAYNIGHTPLAN WHERE TO_CHAR(PLAN_DATE, 'YYYY-MM-DD') = #{searchDate}
        )-->
        AND BT.TYPE IN ('集港', '疏港','陆销')  AND BT.PORT_CODE IS NOT NULL
        <if test="shipvoyageItemId != null">
            AND BCI.SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId}
        </if>
        <if test="cargoOwnerId != null">
            AND BCI.CARGO_OWNER_ID = #{cargoOwnerId}
        </if>
        <if test="cargoCode != null">
            AND BCI.CARGO_CODE = #{cargoCode}
        </if>
        <if test="businessNo != null and businessNo != ''">
        	<bind name="businessNoLike" value="'%' + businessNo + '%'"/>
        	AND BTC.BUSINESS_NO LIKE #{businessNoLike}
        </if>
        <if test="searchDate != null and searchDate != ''">
        	AND ((TO_DATE(#{searchDate},'YYYY-MM-DD') BETWEEN TO_DATE(TO_CHAR(BT.START_TIME - INTERVAL '1' DAY,'YYYY-MM-DD'),'YYYY-MM-DD')
        	AND TO_DATE(TO_CHAR(BT.END_TIME,'YYYY-MM-DD'),'YYYY-MM-DD')) OR BT.START_TIME IS NULL OR BT.END_TIME IS NULL)
        </if>
        
        ORDER BY REPLACE(SUBSTR(BUSINESS_NO, 2), '_', '') DESC
    </select>
    <select id="getByBusinessNo" resultType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        SELECT
        <include refid="commonList"></include>
        FROM T_DIS_PORT_DAYNIGHTPLAN PDP
        WHERE
        BUSINESS_NO = #{businessNo}
        AND
        TO_CHAR(END_TIME, 'yyyy-MM-dd HH:mi:ss') &gt;= #{planDate}
        AND
        TO_CHAR(BEGIN_TIME, 'yyyy-MM-dd HH:mi:ss') &lt;= #{planDate}
        ORDER BY CREATE_TIME DESC,ID
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        INSERT INTO T_DIS_PORT_DAYNIGHTPLAN(ID,
                                            TRUST_ID,
                                            TRUST_CARGO_ID,
                                            BUSINESS_NO,
                                            SHIPVOYAGE_ID,
                                            SHIPVOYAGE_ITEM_ID,
                                            SHIPVOYAGE_NAME,
                                            SCN,
                                            CARGO_OWNER_ID,
                                            CARGO_OWNER_NAME,
                                            CARGO_CODE,
                                            CARGO_NAME,
                                            PORT_CODE,
                                            PORT_NAME,
                                            PACKING_CODE,
                                            PACKING_NAME,
                                            TRADE_TYPE,
                                            PLAN_TON,
                                            STATUS,
                                            SEG_PLAN_TON1,
                                            SEG_PLAN_TON2,
                                            SEG_PLAN_TON3,
                                            SEG_PLAN_TON4,
                                            MASS_NAMES_TARGET,
                                            MASS_NAMES_TARGET_LABEL,
                                            PLAN_DATE,
                                            CREATE_BY,
                                            CREATE_BY_NAME,
                                            CREATE_TIME,
                                            NOTICE_TYPE,
                                            BEGIN_TIME,
                                            END_TIME,
                                            PLAN_TYPE,
                                            CLASS_CODE
                                            )
        VALUES (#{id, jdbcType=BIGINT},
                #{trustId, jdbcType=BIGINT},
				#{trustCargoId, jdbcType=BIGINT},
				#{businessNo, jdbcType=VARCHAR},
				#{shipvoyageId, jdbcType=BIGINT},
				#{shipvoyageItemId, jdbcType=BIGINT},
				#{shipvoyageName, jdbcType=VARCHAR},
				#{scn, jdbcType=VARCHAR},
				#{cargoOwnerId, jdbcType=BIGINT},
				#{cargoOwnerName, jdbcType=VARCHAR},
				#{cargoCode, jdbcType=BIGINT},
				#{cargoName, jdbcType=VARCHAR},
				#{portCode, jdbcType=VARCHAR},
				#{portName, jdbcType=VARCHAR},
				#{packingCode, jdbcType=VARCHAR},
				#{packingName, jdbcType=VARCHAR},
				#{tradeType, jdbcType=VARCHAR},
				#{planTon, jdbcType=DECIMAL},
				#{status, jdbcType=VARCHAR},
				#{segPlanTon1, jdbcType=DECIMAL},
				#{segPlanTon2, jdbcType=DECIMAL},
				#{segPlanTon3, jdbcType=DECIMAL},
				#{segPlanTon4, jdbcType=DECIMAL},
				#{massNamesTarget, jdbcType=VARCHAR},
				#{massNamesTargetLabel, jdbcType=VARCHAR},
                #{planDate, jdbcType=DATE},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now},
                #{noticeType, jdbcType=VARCHAR},
                #{beginTime, jdbcType=DATE},
                #{endTime, jdbcType=DATE},
                #{planType, jdbcType=VARCHAR},
                #{classCode, jdbcType=VARCHAR})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        UPDATE T_DIS_PORT_DAYNIGHTPLAN
        <set>
            PLAN_TON = #{planTon,jdbcType=DECIMAL},
            BEGIN_TIME = #{beginTime, jdbcType=DATE},
            END_TIME = #{endTime, jdbcType=DATE},
            CLASS_CODE = #{classCode, jdbcType=VARCHAR},
            PLAN_TYPE = #{planType,jdbcType=VARCHAR},
            SEG_PLAN_TON1 = #{segPlanTon1,jdbcType=DECIMAL},
            SEG_PLAN_TON2 = #{segPlanTon2,jdbcType=DECIMAL},
            SEG_PLAN_TON3 = #{segPlanTon3,jdbcType=DECIMAL},
            SEG_PLAN_TON4 = #{segPlanTon4,jdbcType=DECIMAL},
            MASS_NAMES_TARGET = #{massNamesTarget,jdbcType=VARCHAR},
            MASS_NAMES_TARGET_LABEL = #{massNamesTargetLabel,jdbcType=VARCHAR},
            UPDATE_BY = #{loginUserId,jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName,jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        </set>
        WHERE ID = #{id}
    </update>
    <!-- 删除 -->
    <delete id="deleteByPlanDate" parameterType="java.lang.String">
        DELETE
        FROM T_DIS_PORT_DAYNIGHTPLAN
        where TO_CHAR(PLAN_DATE, 'YYYY-MM-DD') = #{planDate}
    </delete>
    <update id="approveById" parameterType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        UPDATE
          T_DIS_PORT_DAYNIGHTPLAN
        SET
          STATUS = #{status,jdbcType=VARCHAR},
          EXAMINE_BY = #{loginUserId, jdbcType=BIGINT},
          EXAMINE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
          EXAMINE_TIME = #{now},
          UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
          UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
          UPDATE_TIME = #{now}
        WHERE ID = #{id}
    </update>
    <update id="approveRevokeById" parameterType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        UPDATE
          T_DIS_PORT_DAYNIGHTPLAN
        SET
          STATUS = #{status,jdbcType=VARCHAR},
          EXAMINE_BY = NULL,
          EXAMINE_BY_NAME = NULL,
          EXAMINE_TIME = NULL,
          UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
          UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
          UPDATE_TIME = #{now}
        WHERE ID = #{id}
    </update>
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM T_DIS_PORT_DAYNIGHTPLAN
        WHERE id = #{id}
    </delete>
    <delete id="cancelApproveListRevoke" parameterType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        UPDATE
        T_DIS_PORT_DAYNIGHTPLAN
        SET
        STATUS = #{status,jdbcType=VARCHAR},
        EXAMINE_BY = NULL,
        EXAMINE_BY_NAME = NULL,
        EXAMINE_TIME = NULL,
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            ID IN
            <foreach collection="ids" open="(" separator="," item="id" close=")">
                #{id, jdbcType=BIGINT}
            </foreach>
        </where>
    </delete>

    <update id="updateVehicleReservation" parameterType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        UPDATE
          T_BUS_VEHICLE_RESERVATION
        SET
          PLAN_START_TIME = #{beginTime},
          PLAN_END_TIME = #{endTime}
        WHERE PLAN_NO = #{businessNo}
    </update>
    <update id="updateApproveList" parameterType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        UPDATE
        T_DIS_PORT_DAYNIGHTPLAN
        SET
        STATUS = #{status,jdbcType=VARCHAR},
        EXAMINE_BY = #{loginUserId, jdbcType=BIGINT},
        EXAMINE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        EXAMINE_TIME = #{now},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            ID IN
            <foreach collection="ids" open="(" separator="," item="id" close=")">
                #{id, jdbcType=BIGINT}
            </foreach>
        </where>
    </update>

    <select id="getListToBoHaiTong" resultType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO"
            parameterType="java.lang.String">
        SELECT
        <include refid="commonList"></include>
        FROM T_DIS_PORT_DAYNIGHTPLAN PDP
        WHERE TO_CHAR(PLAN_DATE, 'YYYY-MM-DD') = #{planDate}
        AND STATUS = '20'
        ORDER BY CREATE_TIME DESC,ID
    </select>
    
    <select id="getSysParameter" resultType="java.lang.String">
    	SELECT
			PARAM_VAL
		FROM
			SYS_PARAMETER
		WHERE
			PARAM_CD = 'DAY_NIGHT_PLAN_SWITCH'
    </select>
    <select id="getCount" resultType="java.math.BigDecimal">

    SELECT sum( WEIGHT_GOODS ) FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
    WHERE IS_DELETE = 0 AND IS_FINISHED = 1 AND PLAN_NO = #{businessNo}

    </select>
    <select id="getCargoTon" resultType="java.math.BigDecimal">
        select TON FROM T_BUS_TRUST_CARGO WHERE BUSINESS_NO = #{businessNo}
    </select>
    <select id="getForecastWeight" resultType="java.lang.Integer">
        SELECT PARAM_VAL FROM SYS_PARAMETER WHERE PARAM_CD = 'FORECAST_WEIGHT'
    </select>
    <select id="getEntrustById" resultType="java.lang.Integer">
        SELECT count(DAY_NIGHT_PLAN_ID) FROM T_BUS_PLAN_ENTRUST WHERE DAY_NIGHT_PLAN_ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="getCountByTime" resultType="java.math.BigDecimal">
        SELECT sum( WEIGHT_GOODS ) FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
        WHERE IS_DELETE = 0 AND IS_FINISHED = 1 AND PLAN_NO = #{businessNo} AND WEIGH_IN_DT>= #{startDate} AND WEIGH_IN_DT &lt;=#{endDate}
    </select>
    <select id="getUserRoleById" resultType="java.lang.String">
         SELECT
            C.ROLE_CODE
       FROM
            SYS_ROLE_USER B INNER JOIN SYS_ROLE C ON B.ROLE_ID = C.ID
       WHERE
            B.USER_ID = #{id}
    </select>
    <select id="getBulkList" resultType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        SELECT
        <include refid="commonList"></include>
        FROM T_DIS_PORT_DAYNIGHTPLAN PDP
        <where>
            TO_CHAR(PLAN_DATE, 'YYYY-MM-DD') = #{planDate} AND PDP.PACKING_CODE = '1'
        </where>
    </select>
    <select id="getExpireTon" resultType="java.math.BigDecimal">
        SELECT sum( WEIGHT_GOODS ) FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
        WHERE IS_DELETE = 0 AND IS_FINISHED = 1 AND PLAN_NO = #{businessNo} AND WEIGH_IN_DT &lt;= #{beginTime}
    </select>
    <select id="getExpireAllTon" resultType="java.math.BigDecimal">
        SELECT  NVL(SUM(WEIGHT_GOODS), 0)  FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
        WHERE IS_DELETE = 0 AND IS_FINISHED = 1 AND PLAN_NO = #{businessNo}
    </select>
    <select id="getAllList" resultType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        SELECT
        <include refid="commonList"></include>
        FROM T_DIS_PORT_DAYNIGHTPLAN PDP
        where  PDP.END_TIME > sysdate and PDP.BUSINESS_NO in
        <foreach collection="businessNoList" open="(" close=")" index="index" item="item" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="getListById" resultType="com.yy.ppm.dispatch.bean.dto.TDisPortDaynightplanDTO">
        SELECT
        <include refid="commonList"></include>
        FROM T_DIS_PORT_DAYNIGHTPLAN PDP
        WHERE PDP.ID in
        <foreach collection="ids" open="(" close=")" index="index" item="item" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="getWeighCount" resultType="java.math.BigDecimal">
    SELECT sum( WEIGHT_GOODS ) FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
    WHERE IS_DELETE = 0 AND IS_FINISHED = 1 AND PLAN_NO = #{businessNo}
    </select>
</mapper>

