<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.master.mapper.TugFeeMapper">

    <insert id="insertTugFee">
        INSERT INTO M_TUG_FEE(ID, ITEM_CD, TRADE_TYPE, SHIP_LENGTH, SHIP_TYPE_CODE, RATE, TAX_RATE, CREATE_BY,
                              CREATE_BY_NAME, CREATE_TIME, UPDATE_BY, UPDATE_BY_NAME, UPDATE_TIME)
        VALUES (#{id, jdbcType=BIGINT}, #{itemCd, jdbcType=VARCHAR}, #{tradeType, jdbcType=VARCHAR},
                #{shipLength, jdbcType=INTEGER}, #{shipTypeCode, jdbcType=VARCHAR}, #{rate, jdbcType=DECIMAL},
                #{taxRate, jdbcType=DECIMAL}, #{loginUserId, jdbcType=BIGINT}, #{loginUserName, jdbcType=VARCHAR},
                #{now, jdbcType=TIMESTAMP}, #{updateBy, jdbcType=BIGINT}, #{updateByName, jdbcType=VARCHAR},
                #{updateTime, jdbcType=TIMESTAMP})
    </insert>

    <resultMap id="listTugFee" type="com.yy.ppm.master.bean.dto.tufFee.MTugFeeDTO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="itemCd" column="ITEM_CD" jdbcType="VARCHAR"/>
        <result property="itemNm" column="ITEM_NM" jdbcType="VARCHAR"/>
        <result property="tradeType" column="TRADE_TYPE" jdbcType="VARCHAR"/>
        <result property="shipLength" column="SHIP_LENGTH" jdbcType="INTEGER"/>
        <result property="shipTypeCode" column="SHIP_TYPE_CODE" jdbcType="VARCHAR"/>
        <result property="shipTypeLabel" column="SHIP_TYPE_LABEL" jdbcType="VARCHAR"/>
        <result property="rate" column="RATE" jdbcType="DECIMAL"/>
        <result property="taxRate" column="TAX_RATE" jdbcType="DECIMAL"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listTugFee" resultMap="listTugFee">
        SELECT
        MTF.ID,
        MTF.ITEM_CD,
        MFI.ITEM_NM,
        MTF.TRADE_TYPE,
        MTF.SHIP_LENGTH,
        MTF.SHIP_TYPE_CODE,
        MDD_SHIP_TYPE.DICT_LABEL SHIP_TYPE_LABEL,
        MTF.RATE,
        MTF.TAX_RATE,
        MTF.CREATE_BY,
        MTF.CREATE_BY_NAME,
        MTF.CREATE_TIME,
        MTF.UPDATE_BY,
        MTF.UPDATE_BY_NAME,
        MTF.UPDATE_TIME
        FROM M_TUG_FEE MTF
        JOIN M_FEE_ITEM MFI ON MTF.ITEM_CD = MFI.ITEM_CD
        JOIN M_DICT_DATA MDD_SHIP_TYPE ON ( MDD_SHIP_TYPE.DICT_TYPE = 'SHIP_TYPE' AND MTF.SHIP_TYPE_CODE =
        MDD_SHIP_TYPE.DICT_VALUE )
        <where>
            <if test="tradeType != null and tradeType != ''">
                AND TRADE_TYPE = #{tradeType, jdbcType=VARCHAR}
            </if>
            <if test="shipTypeCode != null and shipTypeCode != ''">
                AND SHIP_TYPE_CODE = #{shipTypeCode, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <update id="updateTugFee">
        UPDATE M_TUG_FEE
        <set>
            <if test="itemCd != null and itemCd != ''">
                ITEM_CD = #{itemCd, jdbcType=VARCHAR},
            </if>
            TRADE_TYPE = #{tradeType, jdbcType=VARCHAR},
            SHIP_LENGTH = #{shipLength, jdbcType=INTEGER},
            SHIP_TYPE_CODE = #{shipTypeCode, jdbcType=VARCHAR},
            <if test="rate != null">
                RATE = #{rate, jdbcType=DECIMAL},
            </if>
            <if test="taxRate != null">
                TAX_RATE = #{taxRate, jdbcType=DECIMAL},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now, jdbcType=TIMESTAMP},
        </set>
        WHERE ID = #{id, jdbcType=BIGINT}
    </update>

    <delete id="deleteTugFee">
        DELETE
        FROM M_TUG_FEE
        WHERE ID = #{id, jdbcType=BIGINT}
    </delete>
</mapper>