<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.statement.mapper.TBusHandoverlistTransferMapper">

    <insert id="insertFileBusiness">
        INSERT ALL
        <foreach collection="files" item="entity">
            INTO SYS_FILE_BUSINESS(BUSINESS_ID, FILE_ID)
            VALUES
            (#{entity.businessId, jdbcType=BIGINT}, #{entity.fileId, jdbcType=BIGINT})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertBusHandoverlist">
        INSERT INTO T_BUS_HANDOVERLIST_TRANSFER(ID, TYPE, CARGO_INFO_ID, TRUST_ID, TRUST_CARGO_ID, SHIPVOYAGE_ID,
            SHIPVOYAGE_ITEM_ID, SHIP_NAME, VOYAGE, TRADE_TYPE, LOAD_UNLOAD, CARGO_OWNER_ID, CARGO_OWNER_NAME,
            CARGO_AGENT_ID, CARGO_AGENT_NAME, CARGO_CODE, CARGO_NAME, QUANTITY, TON, TICKET_NUM,VOLUME_TON,
            STATEMENT_STATUS_CODE, STATEMENT_STATUS_NAME, REMARK, CREATE_BY, CREATE_BY_NAME, CREATE_TIME, UPDATE_BY,
            UPDATE_BY_NAME, UPDATE_TIME)
            VALUES
            (#{entity.id, jdbcType=BIGINT}, #{entity.type, jdbcType=VARCHAR}, #{entity.cargoInfoId, jdbcType=BIGINT},
            #{entity.trustId, jdbcType=BIGINT}, #{entity.trustCargoId, jdbcType=BIGINT},
            #{entity.shipvoyageId, jdbcType=BIGINT}, #{entity.shipvoyageItemId, jdbcType=BIGINT},
            #{entity.shipName, jdbcType=VARCHAR}, #{entity.voyage, jdbcType=VARCHAR},
            #{entity.tradeType, jdbcType=VARCHAR},#{entity.loadUnload, jdbcType=VARCHAR},
            #{entity.cargoOwnerId, jdbcType=BIGINT},#{entity.cargoOwnerName, jdbcType=VARCHAR},
            #{entity.cargoAgentId, jdbcType=BIGINT}, #{entity.cargoAgentName, jdbcType=VARCHAR},
            #{entity.cargoCode, jdbcType=VARCHAR}, #{entity.cargoName, jdbcType=VARCHAR},
            #{entity.quantity, jdbcType=INTEGER}, #{entity.ton, jdbcType=DECIMAL},
            #{entity.ticketNum, jdbcType=INTEGER}, #{entity.volumeTon, jdbcType=DECIMAL},
            #{entity.statementStatusCode, jdbcType=VARCHAR},
            #{entity.statementStatusName, jdbcType=VARCHAR}, #{entity.remark, jdbcType=VARCHAR},
            #{entity.loginUserId, jdbcType=BIGINT}, #{entity.loginUserName, jdbcType=VARCHAR},
            #{entity.now, jdbcType=TIMESTAMP}, #{entity.updateBy, jdbcType=BIGINT},
            #{entity.updateByName, jdbcType=VARCHAR}, #{entity.updateTime, jdbcType=TIMESTAMP})
    </insert>

    <update id="updateHandoverListById" parameterType="com.yy.ppm.statement.bean.po.TBusHandoverlistPO">
        UPDATE T_BUS_HANDOVERLIST_TRANSFER
        <set>
            QUANTITY = #{entity.quantity, jdbcType=INTEGER},
            TON = #{entity.ton, jdbcType=DECIMAL},
            VOLUME_TON = #{entity.volumeTon, jdbcType=DECIMAL},
            TICKET_NUM = #{entity.ticketNum, jdbcType=INTEGER},
            REMARK = #{entity.remark, jdbcType=VARCHAR},
            UPDATE_BY = #{entity.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{entity.loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{entity.now}
        </set>
        <where>
            id = #{entity.id};
        </where>
    </update>
    <delete id="deleteByCargoInfoId">
        DELETE FROM T_BUS_HANDOVERLIST_TRANSFER WHERE CARGO_INFO_ID = #{cargoInfoId}
    </delete>

</mapper>