<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.statement.mapper.TCostStatementMapper">

<select id="queryAll" resultType="com.yy.ppm.statement.bean.po.TCostStatementPO">
    SELECT
    tcs.id,
    tcs.COMPANY_ID,
    tcs.COMPANY_NAME,
    tcs.STATEMENT_NO,
    tcs.IS_ENTER,
    tcs.CUSTOMER_ID,
    tcs.CUSTOMER_NAME,
    tcs."TYPE" typeCode,
    mdd.DICT_LABEL TYPE,
    tcs.TRUST_ID,
    tcs.TRUST_CARGO_ID,
    tcs.HANDOVERLIST_ID,
    tcs.SHIPVOYAGE_ID,
    tcs.SHIPVOYAGE_ITEM_ID,
    tcs.CARGO_CODE,
    tcs.CARGO_NAME,
    COALESCE( to_char( tcs.TRADE_TYPE ), to_char( tds.TRADE_TYPE ) ) TRADE_TYPE,
    tcs.SETTLEMENT_DATE,
    mdd1.DICT_LABEL statusLabel,
    tcs.status,
    tcs.CREATE_BY_NAME,
    tcs.CREATE_TIME,
    tcs.IS_FINAL,
    tcs.CREATE_BY_NAME STATEMENT_BY_NAME,
    tcs.CREATE_TIME STATEMENT_TIME,
    tcs.REVIEW_BY_NAME,
    tcs.REVIEW_TIME,
    tcs.CONFIRM_BY_NAME,
    tcs.CONFIRM_TIME,
    tcs.SETTLEMENT_BASIS_CODE,
    tcs.SETTLEMENT_BASIS_NAME,
    tcs.TAX_INVOICE_CODE,
    tcs.TAX_INVOICE_NAME,
    tcs.RECEIPT_REMARK,
    tcs.REJECT_BY_NAME,
    tcs.REJECT_TIME,
    tcs.REJECT_REASON,
    tcs.BONDED_AREA_TON,
    nvl( tcs.SHIP_NAME_VOYAGE, tds.SHIP_NAME || '_' || tdsi.VOYAGE ) shipNameVoyage,
    sum( tcsd.AMOUNT ) amount,
    sum( NVL( tcsd.AMOUNTJF, tcsd.AMOUNT ) ) amountjf,
    sum( NVL( tcsd.AMOUNTZK, 0 ) ) amountzk,
    sum( NVL( tcsd.INVOICE_AMOUNT, 0 ) ) invoiceAmount,
    tcs.FINANCE_STATUS,
    decode( tcs.FINANCE_STATUS, '10', '未审核', '已审核' ) financeStatusLabel,
    tcs.FINANCE_BY_NAME,
    tcs.FINANCE_TIME,
    tcs.CARGO_INFO_ID,
    tcs.CONTRACT_NO,
    sum( nvl( tcsd.UTILIZED_AMOUNT, 0 ) ) UTILIZED_AMOUNT_SUM,
    tcs.IS_PRINT,
    tci.CARGO_INFO_NO CARGO_INFO_NO,
    LISTAGG ( TO_CHAR( tcsd.RATE_ITEM_CODE ), ',' ) WITHIN GROUP ( ORDER BY tcsd.RATE_ITEM_CODE ) RATE_ITEM_CODE,
    LISTAGG ( TO_CHAR( tcsd.RATE_ITEM_NAME ), ',' ) WITHIN GROUP ( ORDER BY tcsd.RATE_ITEM_NAME ) RATE_ITEM_NAME
    FROM
    T_COST_STATEMENT tcs
    LEFT JOIN T_COST_STATEMENT_DETAIL tcsd ON tcs.id = tcsd."STATEMENT"
    LEFT JOIN T_DIS_SHIPVOYAGE_ITEM tdsi ON tcs.SHIPVOYAGE_ITEM_ID = tdsi.ID
    LEFT JOIN T_DIS_SHIPVOYAGE tds ON tdsi.SHIPVOYAGE_ID = tds.ID
    LEFT JOIN M_DICT_DATA mdd ON ( mdd.DICT_VALUE = tcs.TYPE AND mdd.DICT_TYPE = 'HANDOVERLIST_TYPE' )
    LEFT JOIN M_DICT_DATA mdd1 ON ( mdd1.DICT_VALUE = tcs.status AND mdd1.DICT_TYPE = 'STATEMENT_STATUS' )
    LEFT JOIN T_BUS_TRUST_CARGO ttc ON ttc.ID = tcs.TRUST_CARGO_ID
    LEFT JOIN T_BUS_CARGO_INFO tci ON tci.ID = ttc.CARGO_INFO_ID
    where
    1=1
    <if test="shipName != null and shipName != ''">
        <bind name="shipNameLike" value="'%'+shipName+'%'"/>
        and nvl( tcs.SHIP_NAME_VOYAGE, tds.SHIP_NAME || '_' || tdsi.VOYAGE ) like #{shipNameLike}
    </if>
    <if test="voyage != null and voyage != ''">
        <bind name="voyageLike" value="'%'+voyage+'%'"/>
        and tdsi.VOYAGE like #{voyageLike}
    </if>
    <if test="cargoInfoNo != null and cargoInfoNo != ''">
        <bind name="cargoInfoNoLike" value="'%'+cargoInfoNo+'%'"/>
        and tci.CARGO_INFO_NO like #{cargoInfoNoLike}
    </if>
    <if test="customerId != null and customerId != ''">
        and tcs.CUSTOMER_ID = #{customerId}
    </if>
    <if test="month != null and month != ''">
        and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM') = #{month}
    </if>
    <if test="months != null and months != ''">
        and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM') >= #{months}
    </if>
    <if test="monthe != null and monthe != ''">
        and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM') &lt;= #{monthe}
    </if>
    <if test="type != null and type != ''">
        and tcs.TYPE = #{type}
    </if>
    <if test="status != null and status != ''">
        and tcs.STATUS = #{status}
    </if>
    <if test="financeStatus != null and financeStatus != ''">
        and tcs.FINANCE_STATUS = #{financeStatus}
    </if>
    <if test="companyId != null and companyId != ''">
        and tcs.COMPANY_ID = #{companyId}
    </if>
    <if test="isPrint == '1'.toString()">
        and tcs.IS_PRINT = '1'
    </if>
    <if test="isPrint == '2'.toString()">
        and tcs.IS_PRINT is null
    </if>
    <if test="statementNo != null and statementNo != ''">
        <bind name="statementNoLike" value="'%'+statementNo+'%'"/>
        and tcs.STATEMENT_NO like #{statementNoLike}
    </if>
    GROUP BY
    tcs.id,
    tcs.COMPANY_ID,
    tcs.COMPANY_NAME,
    tcs.STATEMENT_NO,
    tcs.IS_ENTER,
    tcs.CUSTOMER_ID,
    tcs.CUSTOMER_NAME,
    tcs."TYPE",
    mdd.DICT_LABEL,
    tcs.TRUST_ID,
    tcs.TRUST_CARGO_ID,
    tcs.HANDOVERLIST_ID,
    tcs.SHIPVOYAGE_ID,
    tcs.SHIPVOYAGE_ITEM_ID,
    tcs.CARGO_CODE,
    tcs.CARGO_NAME,
    COALESCE( to_char( tcs.TRADE_TYPE ), to_char( tds.TRADE_TYPE ) ),
    tcs.SETTLEMENT_DATE,
    mdd1.DICT_LABEL,
    tcs.status,
    tcs.CREATE_BY_NAME,
    tcs.CREATE_TIME,
    tcs.IS_FINAL,
    tcs.CREATE_BY_NAME,
    tcs.CREATE_TIME,
    tcs.REVIEW_BY_NAME,
    tcs.REVIEW_TIME,
    tcs.CONFIRM_BY_NAME,
    tcs.CONFIRM_TIME,
    tcs.SETTLEMENT_BASIS_CODE,
    tcs.SETTLEMENT_BASIS_NAME,
    tcs.TAX_INVOICE_CODE,
    tcs.TAX_INVOICE_NAME,
    tcs.RECEIPT_REMARK,
    tcs.REJECT_BY_NAME,
    tcs.REJECT_TIME,
    tcs.REJECT_REASON,
    tcs.BONDED_AREA_TON,
    nvl( tcs.SHIP_NAME_VOYAGE, tds.SHIP_NAME || '_' || tdsi.VOYAGE ),
    tcs.FINANCE_STATUS,
    decode( tcs.FINANCE_STATUS, '10', '未审核', '已审核' ),
    tcs.FINANCE_BY_NAME,
    tcs.FINANCE_TIME,
    tcs.CARGO_INFO_ID,
    tcs.CONTRACT_NO,
    tcs.IS_PRINT,
    tci.CARGO_INFO_NO
    order by
    tcs.SETTLEMENT_DATE desc,tcs.CREATE_TIME desc
</select>

    <select id="queryAllDetail" resultType="com.yy.ppm.statement.bean.po.TCostStatementPO">
        SELECT
        tcs.id,
        tcs.COMPANY_ID,
        tcs.COMPANY_NAME,
        tcs.STATEMENT_NO,
        tcs.IS_ENTER,
        tcs.CUSTOMER_ID,
        tcs.CUSTOMER_NAME,
        CASE
        WHEN tcs.TYPE = '100'
        AND tcs.MAIN_STATEMENT_ID IS NOT NULL THEN
        nvl( to_char( tcsys.CUSTOMER_NAME ), '广东保丰港务有限公司' ) ELSE ''
        END CUSTOMER_NAME_YS,
        tcs."TYPE" typeCode,
        mdd.DICT_LABEL type,
        tcs.TRUST_ID,
        tcs.TRUST_CARGO_ID,
        tcs.HANDOVERLIST_ID,
        tcs.SHIPVOYAGE_ID,
        tcs.SHIPVOYAGE_ITEM_ID,
        tcs.CARGO_CODE,
        tcs.CARGO_NAME,
        COALESCE(to_char(tcs.TRADE_TYPE),to_char(tds.TRADE_TYPE),to_char(tdts.TRADE_TYPE)) TRADE_TYPE,
        decode(tds.IMP_EXP,'IN','进口','OUT','出口','进出口') IMP_EXP,
        tds.berth_time,
        tds.LEAVE_BERTH_TIME,
        tcs.SETTLEMENT_DATE,
        mdd1.DICT_LABEL statusLabel,
        tcs.status,
        tcs.CREATE_BY_NAME,
        tcs.CREATE_TIME,
        tcs.IS_FINAL,
        tcs.CREATE_BY_NAME STATEMENT_BY_NAME,
        tcs.CREATE_TIME STATEMENT_TIME,
        tcs.REVIEW_BY_NAME,
        tcs.REVIEW_TIME,
        tcs.CONFIRM_BY_NAME,
        tcs.CONFIRM_TIME,
        tcs.SETTLEMENT_BASIS_CODE,
        tcs.SETTLEMENT_BASIS_NAME,
        tcs.TAX_INVOICE_CODE,
        tcs.TAX_INVOICE_NAME,
        tcs.RECEIPT_REMARK,
        tcs.REJECT_BY_NAME,
        tcs.REJECT_TIME,
        tcs.REJECT_REASON,
        tcs.BONDED_AREA_TON,
        tcs.TUG_FEE_ID,
        nvl(tcs.SHIP_NAME_VOYAGE,nvl(tdts.SHIP_NAME,tds.SHIP_NAME || '_' || tdsi.VOYAGE)) shipNameVoyage,
        tcs.FINANCE_STATUS,
        decode(tcs.FINANCE_STATUS,'10','未审核','已审核') financeStatusLabel,
        tcs.FINANCE_BY_NAME,
        tcs.FINANCE_TIME,
        tcs.CARGO_INFO_ID,
        tcs.CONTRACT_NO,
        tcs.RECHECK_BY_NAME,
        tcs.RECHECK_TIME,
        tcs.APPLY_INVOICE_BY_NAME,
        tcs.APPLY_INVOICE_TIME,
        tcs.PAY_TYPE_CODE,
        tcs.PAY_TYPE_NAME,
        tcs.IS_SHIP,
        NVL(tci.CARGO_INFO_NO,tci1.CARGO_INFO_NO) CARGO_INFO_NO,
        NVL(tcsd.INVOICE_AMOUNT,0) invoiceAmount,
        tcsd.AMOUNT-NVL(tcsd.INVOICE_AMOUNT,0) invoiceAmountsy,
        nvl(tcsd.UTILIZED_AMOUNT,0) UTILIZED_AMOUNT,
        tcsd.AMOUNT-nvl(tcsd.UTILIZED_AMOUNT,0) UTILIZED_AMOUNTSY,
        tcsd.RATE_ITEM_CODE RATE_ITEM_CODE,
        tcsd.RATE_ITEM_NAME RATE_ITEM_NAME,
        tcsd.SERVICE_CONTENT_ID,
        tcsd.SERVICE_CONTENT_NAME,
        tcsd.PROCESS_CODE,
        tcsd.PROCESS_NAME,
        tcsd.RATE,
        tcsd.UNIT_CODE,
        tcsd.UNIT_NAME,
        tcsd."NUMBER",
        tcsd.AMOUNT,
        NVL(tcsd.AMOUNTJF,tcsd.AMOUNT) AMOUNTJF,
        NVL(tcsd.AMOUNTZK,0) AMOUNTZK,
        tcsd.TAX,
        tcsd.TAX_AMOUNT,
        tcsd.REMARK,
        tcsd.NUMBER2,
        tdts.WORK_CONTENT,
        tdts.CUSTOMER_NAME wtdw,
        tdts.WORK_LOCATION
        FROM
        T_COST_STATEMENT tcs
        LEFT JOIN T_COST_STATEMENT_DETAIL tcsd ON tcs.id = tcsd."STATEMENT"
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM tdsi ON tcs.SHIPVOYAGE_ITEM_ID  = tdsi.ID
        LEFT JOIN T_DIS_SHIPVOYAGE tds ON tdsi.SHIPVOYAGE_ID = tds.ID
        left join M_DICT_DATA mdd on (mdd.DICT_VALUE = tcs.type and mdd.DICT_TYPE = 'HANDOVERLIST_TYPE')
        left join M_DICT_DATA mdd1 on (mdd1.DICT_VALUE = tcs.status and mdd1.DICT_TYPE = 'STATEMENT_STATUS')
        left join T_BUS_TRUST_CARGO ttc on ttc.ID = tcs.TRUST_CARGO_ID
        left join T_BUS_CARGO_INFO tci on tci.ID = ttc.CARGO_INFO_ID
        left join T_BUS_CARGO_INFO tci1 on tci1.ID = tcs.CARGO_INFO_ID
        left join T_COST_TUG_FEE tctf on tctf.ID = tcs.TUG_FEE_ID
        left join T_DIS_TUG_SERVICE tdts on tdts.ID = tctf.TUG_SERVICE_ID
        LEFT JOIN ( SELECT CUSTOMER_ID, CUSTOMER_NAME, MAIN_STATEMENT_ID FROM T_COST_STATEMENT WHERE TYPE = 90 and MAIN_STATEMENT_ID is not null ) tcsys ON tcsys.MAIN_STATEMENT_ID = tcs.MAIN_STATEMENT_ID
        where
        1=1
        <if test="shipName != null and shipName != ''">
            <bind name="shipNameLike" value="'%'+shipName+'%'"/>
            and nvl(tcs.SHIP_NAME_VOYAGE,nvl(tdts.SHIP_NAME,tds.SHIP_NAME)) like #{shipNameLike}
        </if>
        <if test="voyage != null and voyage != ''">
            <bind name="voyageLike" value="'%'+voyage+'%'"/>
            and tdsi.VOYAGE like #{voyageLike}
        </if>
        <if test="cargoInfoNo != null and cargoInfoNo != ''">
            <bind name="cargoInfoNoLike" value="'%'+cargoInfoNo+'%'"/>
            and (tci.CARGO_INFO_NO like #{cargoInfoNoLike} or tci1.CARGO_INFO_NO like #{cargoInfoNoLike})
        </if>
        <if test="customerId != null and customerId != ''">
            and tcs.CUSTOMER_ID = #{customerId}
        </if>
        <if test="months!= null and months != ''">
            and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM-dd') >= #{months}
            and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM-dd') &lt;= #{monthe}
        </if>
        <if test="type != null and type != ''">
            and tcs.TYPE = #{type}
        </if>
        <if test="payTypeCode != null and payTypeCode != ''">
            and tcs.PAY_TYPE_CODE = #{payTypeCode}
        </if>
        <if test="status != null and status != ''">
            and tcs.STATUS = #{status}
        </if>
        <if test="financeStatus != null and financeStatus != ''">
            and tcs.FINANCE_STATUS = #{financeStatus}
        </if>
        <if test="companyId != null and companyId != ''">
            and tcs.COMPANY_ID = #{companyId}
        </if>
        <if test="rateItemCode != null and rateItemCode != ''">
            and instr(#{rateItemCode},tcsd.RATE_ITEM_CODE)>0
        </if>
        <if test="statementNo != null and statementNo != ''">
            <bind name="statementNoLike" value="'%'+statementNo+'%'"/>
            and tcs.STATEMENT_NO like #{statementNoLike}
        </if>
        <if test="isDiscount != null  and isDiscount==1">
            and NVL(tcsd.AMOUNTZK,0)>0
        </if>
        <if test="isDiscount != null  and isDiscount==2">
            and NVL(tcsd.AMOUNTZK,0)=0
        </if>
        order by
        tcs.SETTLEMENT_DATE desc,tcs.CREATE_TIME desc
    </select>

    <select id="getExportList" resultType="com.yy.ppm.statement.bean.dto.bizCostStatement.TCostStatementExportDTO">
        SELECT
        tcs.id,
        tcs.COMPANY_ID,
        tcs.COMPANY_NAME,
        tcs.STATEMENT_NO,
        tcs.IS_ENTER,
        tcs.CUSTOMER_ID,
        tcs.CUSTOMER_NAME,
        CASE
        WHEN tcs.TYPE = '100'
        AND tcs.MAIN_STATEMENT_ID IS NOT NULL THEN
        nvl( to_char( tcsys.CUSTOMER_NAME ), '广东保丰港务有限公司' ) ELSE ''
        END CUSTOMER_NAME_YS,
        tcs."TYPE" typeCode,
        mdd.DICT_LABEL type,
        tcs.TRUST_ID,
        tcs.TRUST_CARGO_ID,
        tcs.HANDOVERLIST_ID,
        tcs.SHIPVOYAGE_ID,
        tcs.SHIPVOYAGE_ITEM_ID,
        tcs.CARGO_CODE,
        tcs.CARGO_NAME,
        COALESCE(to_char(tcs.TRADE_TYPE),to_char(tds.TRADE_TYPE),to_char(tdts.TRADE_TYPE)) TRADE_TYPE,
        decode(tds.IMP_EXP,'IN','进口','OUT','出口','进出口') IMP_EXP,
        tds.berth_time,
        to_char(tds.LEAVE_BERTH_TIME,'yyyy-MM-dd HH24:MI') LEAVE_BERTH_TIME,
        to_char(tcs.SETTLEMENT_DATE,'yyyy-MM-dd') SETTLEMENT_DATE,
        mdd1.DICT_LABEL statusLabel,
        tcs.status,
        tcs.CREATE_BY_NAME,
        tcs.CREATE_TIME,
        tcs.IS_FINAL,
        tcs.CREATE_BY_NAME STATEMENT_BY_NAME,
        tcs.CREATE_TIME STATEMENT_TIME,
        tcs.REVIEW_BY_NAME,
        tcs.REVIEW_TIME,
        tcs.CONFIRM_BY_NAME,
        tcs.CONFIRM_TIME,
        tcs.SETTLEMENT_BASIS_CODE,
        tcs.SETTLEMENT_BASIS_NAME,
        tcs.TAX_INVOICE_CODE,
        tcs.TAX_INVOICE_NAME,
        tcs.RECEIPT_REMARK,
        tcs.REJECT_BY_NAME,
        tcs.REJECT_TIME,
        tcs.REJECT_REASON,
        tcs.BONDED_AREA_TON,
        tcs.TUG_FEE_ID,
        nvl(tcs.SHIP_NAME_VOYAGE,nvl(tdts.SHIP_NAME,tds.SHIP_NAME || '_' || tdsi.VOYAGE)) shipNameVoyage,
        tcs.FINANCE_STATUS,
        decode(tcs.FINANCE_STATUS,'10','未审核','已审核') financeStatusLabel,
        tcs.FINANCE_BY_NAME,
        tcs.FINANCE_TIME,
        tcs.CARGO_INFO_ID,
        tcs.CONTRACT_NO,
        tcs.RECHECK_BY_NAME,
        tcs.RECHECK_TIME,
        tcs.APPLY_INVOICE_BY_NAME,
        tcs.APPLY_INVOICE_TIME,
        tcs.PAY_TYPE_CODE,
        tcs.PAY_TYPE_NAME,
        tcs.IS_SHIP,
        NVL(tci.CARGO_INFO_NO,tci1.CARGO_INFO_NO) CARGO_INFO_NO,
        NVL(tcsd.INVOICE_AMOUNT,0) invoiceAmount,
        tcsd.AMOUNT-NVL(tcsd.INVOICE_AMOUNT,0) invoiceAmountsy,
        nvl(tcsd.UTILIZED_AMOUNT,0) UTILIZED_AMOUNT,
        tcsd.AMOUNT-nvl(tcsd.UTILIZED_AMOUNT,0) UTILIZED_AMOUNTSY,
        tcsd.RATE_ITEM_CODE RATE_ITEM_CODE,
        tcsd.RATE_ITEM_NAME RATE_ITEM_NAME,
        tcsd.SERVICE_CONTENT_ID,
        tcsd.SERVICE_CONTENT_NAME,
        tcsd.PROCESS_CODE,
        tcsd.PROCESS_NAME,
        tcsd.RATE,
        tcsd.UNIT_CODE,
        tcsd.UNIT_NAME,
        tcsd."NUMBER",
        tcsd.AMOUNT,
        NVL(tcsd.AMOUNTJF,tcsd.AMOUNT) AMOUNTJF,
        NVL(tcsd.AMOUNTZK,0) AMOUNTZK,
        tcsd.TAX,
        tcsd.TAX_AMOUNT,
        tcsd.REMARK,
        tcsd.NUMBER2,
        tdts.WORK_CONTENT,
        tdts.CUSTOMER_NAME wtdw,
        tdts.WORK_LOCATION
        FROM
        T_COST_STATEMENT tcs
        LEFT JOIN T_COST_STATEMENT_DETAIL tcsd ON tcs.id = tcsd."STATEMENT"
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM tdsi ON tcs.SHIPVOYAGE_ITEM_ID  = tdsi.ID
        LEFT JOIN T_DIS_SHIPVOYAGE tds ON tdsi.SHIPVOYAGE_ID = tds.ID
        left join M_DICT_DATA mdd on (mdd.DICT_VALUE = tcs.type and mdd.DICT_TYPE = 'HANDOVERLIST_TYPE')
        left join M_DICT_DATA mdd1 on (mdd1.DICT_VALUE = tcs.status and mdd1.DICT_TYPE = 'STATEMENT_STATUS')
        left join T_BUS_TRUST_CARGO ttc on ttc.ID = tcs.TRUST_CARGO_ID
        left join T_BUS_CARGO_INFO tci on tci.ID = ttc.CARGO_INFO_ID
        left join T_BUS_CARGO_INFO tci1 on tci1.ID = tcs.CARGO_INFO_ID
        left join T_COST_TUG_FEE tctf on tctf.ID = tcs.TUG_FEE_ID
        left join T_DIS_TUG_SERVICE tdts on tdts.ID = tctf.TUG_SERVICE_ID
        LEFT JOIN ( SELECT CUSTOMER_ID, CUSTOMER_NAME, MAIN_STATEMENT_ID FROM T_COST_STATEMENT WHERE TYPE = 90 and MAIN_STATEMENT_ID is not null ) tcsys ON tcsys.MAIN_STATEMENT_ID = tcs.MAIN_STATEMENT_ID
        where
        1=1
        <if test="shipName != null and shipName != ''">
            <bind name="shipNameLike" value="'%'+shipName+'%'"/>
            and nvl(tcs.SHIP_NAME_VOYAGE,nvl(tdts.SHIP_NAME,tds.SHIP_NAME)) like #{shipNameLike}
        </if>
        <if test="voyage != null and voyage != ''">
            <bind name="voyageLike" value="'%'+voyage+'%'"/>
            and tdsi.VOYAGE like #{voyageLike}
        </if>
        <if test="cargoInfoNo != null and cargoInfoNo != ''">
            <bind name="cargoInfoNoLike" value="'%'+cargoInfoNo+'%'"/>
            and (tci.CARGO_INFO_NO like #{cargoInfoNoLike} or tci1.CARGO_INFO_NO like #{cargoInfoNoLike})
        </if>
        <if test="customerId != null and customerId != ''">
            and tcs.CUSTOMER_ID = #{customerId}
        </if>
        <if test="months!= null and months != ''">
            and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM-dd') >= #{months}
            and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM-dd') &lt;= #{monthe}
        </if>
        <if test="type != null and type != ''">
            and tcs.TYPE = #{type}
        </if>
        <if test="payTypeCode != null and payTypeCode != ''">
            and tcs.PAY_TYPE_CODE = #{payTypeCode}
        </if>
        <if test="status != null and status != ''">
            and tcs.STATUS = #{status}
        </if>
        <if test="financeStatus != null and financeStatus != ''">
            and tcs.FINANCE_STATUS = #{financeStatus}
        </if>
        <if test="companyId != null and companyId != ''">
            and tcs.COMPANY_ID = #{companyId}
        </if>
        <if test="rateItemCode != null and rateItemCode != ''">
            and instr(#{rateItemCode},tcsd.RATE_ITEM_CODE)>0
        </if>
        <if test="statementNo != null and statementNo != ''">
            <bind name="statementNoLike" value="'%'+statementNo+'%'"/>
            and tcs.STATEMENT_NO like #{statementNoLike}
        </if>
        <if test="isDiscount != null  and isDiscount==1">
            and NVL(tcsd.AMOUNTZK,0)>0
        </if>
        <if test="isDiscount != null  and isDiscount==2">
            and NVL(tcsd.AMOUNTZK,0)=0
        </if>
        order by
        tcs.SETTLEMENT_DATE desc,tcs.CREATE_TIME desc
    </select>

    <select id="queryAllSum" resultType="com.yy.ppm.statement.bean.po.TCostStatementPO">
        SELECT
        sum(tcsd.AMOUNT) amount,
        sum(NVL(tcsd.INVOICE_AMOUNT,0)) invoiceAmount,
        sum(nvl(tcsd.UTILIZED_AMOUNT,0)) UTILIZED_AMOUNT_SUM
        FROM
        T_COST_STATEMENT tcs
        LEFT JOIN T_COST_STATEMENT_DETAIL tcsd ON tcs.id = tcsd."STATEMENT"
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM tdsi ON tcs.SHIPVOYAGE_ITEM_ID = tdsi.ID
        LEFT JOIN T_DIS_SHIPVOYAGE tds ON tdsi.SHIPVOYAGE_ID = tds.ID
        LEFT JOIN M_DICT_DATA mdd ON ( mdd.DICT_VALUE = tcs.TYPE AND mdd.DICT_TYPE = 'HANDOVERLIST_TYPE' )
        LEFT JOIN M_DICT_DATA mdd1 ON ( mdd1.DICT_VALUE = tcs.status AND mdd1.DICT_TYPE = 'STATEMENT_STATUS' )
        LEFT JOIN T_BUS_TRUST_CARGO ttc ON ttc.ID = tcs.TRUST_CARGO_ID
        LEFT JOIN T_BUS_CARGO_INFO tci ON tci.ID = ttc.CARGO_INFO_ID
        where
        1=1
        <if test="shipName != null and shipName != ''">
            <bind name="shipNameLike" value="'%'+shipName+'%'"/>
            and nvl( tcs.SHIP_NAME_VOYAGE, tds.SHIP_NAME || '_' || tdsi.VOYAGE ) like #{shipNameLike}
        </if>
        <if test="voyage != null and voyage != ''">
            <bind name="voyageLike" value="'%'+voyage+'%'"/>
            and tdsi.VOYAGE like #{voyageLike}
        </if>
        <if test="cargoInfoNo != null and cargoInfoNo != ''">
            <bind name="cargoInfoNoLike" value="'%'+cargoInfoNo+'%'"/>
            and tci.CARGO_INFO_NO like #{cargoInfoNoLike}
        </if>
        <if test="customerId != null and customerId != ''">
            and tcs.CUSTOMER_ID = #{customerId}
        </if>
        <if test="month != null and month != ''">
            and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM') = #{month}
        </if>
        <if test="months != null and months != ''">
            and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM') >= #{months}
        </if>
        <if test="monthe != null and monthe != ''">
            and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM') &lt;= #{monthe}
        </if>
        <if test="type != null and type != ''">
            and tcs.TYPE = #{type}
        </if>
        <if test="status != null and status != ''">
            and tcs.STATUS = #{status}
        </if>
        <if test="financeStatus != null and financeStatus != ''">
            and tcs.FINANCE_STATUS = #{financeStatus}
        </if>
        <if test="companyId != null and companyId != ''">
            and tcs.COMPANY_ID = #{companyId}
        </if>
        <if test="isPrint == '1'.toString()">
            and tcs.IS_PRINT = '1'
        </if>
        <if test="isPrint == '2'.toString()">
            and tcs.IS_PRINT is null
        </if>
        <if test="statementNo != null and statementNo != ''">
            <bind name="statementNoLike" value="'%'+statementNo+'%'"/>
            and tcs.STATEMENT_NO like #{statementNoLike}
        </if>
    </select>

    <select id="queryAllDetailSum" resultType="com.yy.ppm.statement.bean.po.TCostStatementPO">
        SELECT
        sum(NVL(tcsd.INVOICE_AMOUNT,0)) invoiceAmount,
        sum(tcsd.AMOUNT)-sum(NVL(tcsd.INVOICE_AMOUNT,0)) invoiceAmountsy,
        sum(nvl(tcsd.UTILIZED_AMOUNT,0)) UTILIZED_AMOUNT,
        sum(tcsd.AMOUNT)-sum(nvl(tcsd.UTILIZED_AMOUNT,0)) UTILIZED_AMOUNTSY,
        sum(tcsd.AMOUNT) AMOUNT
        FROM
        T_COST_STATEMENT tcs
        LEFT JOIN T_COST_STATEMENT_DETAIL tcsd ON tcs.id = tcsd."STATEMENT"
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM tdsi ON tcs.SHIPVOYAGE_ITEM_ID  = tdsi.ID
        LEFT JOIN T_DIS_SHIPVOYAGE tds ON tdsi.SHIPVOYAGE_ID = tds.ID
        left join M_DICT_DATA mdd on (mdd.DICT_VALUE = tcs.type and mdd.DICT_TYPE = 'HANDOVERLIST_TYPE')
        left join M_DICT_DATA mdd1 on (mdd1.DICT_VALUE = tcs.status and mdd1.DICT_TYPE = 'STATEMENT_STATUS')
        left join T_BUS_TRUST_CARGO ttc on ttc.ID = tcs.TRUST_CARGO_ID
        left join T_BUS_CARGO_INFO tci on tci.ID = ttc.CARGO_INFO_ID
        left join T_BUS_CARGO_INFO tci1 on tci1.ID = tcs.CARGO_INFO_ID
        left join T_COST_TUG_FEE tctf on tctf.ID = tcs.TUG_FEE_ID
        left join T_DIS_TUG_SERVICE tdts on tdts.ID = tctf.TUG_SERVICE_ID
        where
        1=1
        <if test="shipName != null and shipName != ''">
            <bind name="shipNameLike" value="'%'+shipName+'%'"/>
            and nvl(tcs.SHIP_NAME_VOYAGE,nvl(tdts.SHIP_NAME,tds.SHIP_NAME)) like #{shipNameLike}
        </if>
        <if test="voyage != null and voyage != ''">
            <bind name="voyageLike" value="'%'+voyage+'%'"/>
            and tdsi.VOYAGE like #{voyageLike}
        </if>
        <if test="cargoInfoNo != null and cargoInfoNo != ''">
            <bind name="cargoInfoNoLike" value="'%'+cargoInfoNo+'%'"/>
            and (tci.CARGO_INFO_NO like #{cargoInfoNoLike} or tci1.CARGO_INFO_NO like #{cargoInfoNoLike})
        </if>
        <if test="customerId != null and customerId != ''">
            and tcs.CUSTOMER_ID = #{customerId}
        </if>
        <if test="months!= null and months != ''">
            and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM-dd') >= #{months}
            and to_char(tcs.SETTLEMENT_DATE,'yyyy-MM-dd') &lt;= #{monthe}
        </if>
        <if test="type != null and type != ''">
            and tcs.TYPE = #{type}
        </if>
        <if test="payTypeCode != null and payTypeCode != ''">
            and tcs.PAY_TYPE_CODE = #{payTypeCode}
        </if>
        <if test="status != null and status != ''">
            and tcs.STATUS = #{status}
        </if>
        <if test="financeStatus != null and financeStatus != ''">
            and tcs.FINANCE_STATUS = #{financeStatus}
        </if>
        <if test="companyId != null and companyId != ''">
            and tcs.COMPANY_ID = #{companyId}
        </if>
        <if test="rateItemCode != null and rateItemCode != ''">
            and instr(#{rateItemCode},tcsd.RATE_ITEM_CODE)>0
        </if>
        <if test="statementNo != null and statementNo != ''">
            <bind name="statementNoLike" value="'%'+statementNo+'%'"/>
            and tcs.STATEMENT_NO like #{statementNoLike}
        </if>
        <if test="isDiscount != null  and isDiscount==1">
            and NVL(tcsd.AMOUNTZK,0)>0
        </if>
        <if test="isDiscount != null  and isDiscount==2">
            and NVL(tcsd.AMOUNTZK,0)=0
        </if>
    </select>

<select id="queryById" resultType="com.yy.ppm.statement.bean.po.TCostStatementPO">
    SELECT
    tcs.id,
    tcs.COMPANY_ID,
    tcs.COMPANY_NAME,
    tcs.STATEMENT_NO,
    tcs.IS_ENTER,
    tcs.CUSTOMER_ID,
    tcs.CUSTOMER_NAME,
    tcs.type,
    tcs.TRUST_ID,
    tcs.TRUST_CARGO_ID,
    tcs.HANDOVERLIST_ID,
    tcs.SHIPVOYAGE_ID,
    tcs.SHIPVOYAGE_ITEM_ID,
    tcs.CARGO_CODE,
    tcs.CARGO_NAME,
    tcs.TRADE_TYPE,
    tcs.SETTLEMENT_DATE,
    tcs.status,
    tcs.CREATE_BY_NAME,
    tcs.CREATE_TIME,
    tcs.IS_FINAL,
    tcs.STATEMENT_BY_NAME,
    tcs.STATEMENT_TIME,
    tcs.REVIEW_BY_NAME,
    tcs.REVIEW_TIME,
    tcs.CONFIRM_BY_NAME,
    tcs.CONFIRM_TIME,
    tcs.SETTLEMENT_BASIS_CODE,
    tcs.SETTLEMENT_BASIS_NAME,
    tcs.TAX_INVOICE_CODE,
    tcs.TAX_INVOICE_NAME,
    tcs.RECEIPT_REMARK,
    tcs.REJECT_BY_NAME,
    tcs.REJECT_TIME,
    tcs.REJECT_REASON,
    tcs.BONDED_AREA_TON,
    tcs.FINANCE_STATUS,
    decode(tcs.FINANCE_STATUS,'10','未审核','已审核') financeStatusLabel,
    tcs.FINANCE_BY_NAME,
    tcs.FINANCE_TIME,
    tcs.CARGO_INFO_ID,
    TCSD.AMOUNT,
    tcs.IS_RED_RUSH,
    TCS.RELATION_ID
    FROM
    T_COST_STATEMENT tcs
    left join (
    select Sum(NVL(AMOUNT,0)) amount,STATEMENT from T_COST_STATEMENT_DETAIL group by STATEMENT
    ) tcsd on tcsd.STATEMENT=tcs.ID
    where
    tcs.id = #{id}
</select>

<update id="updateReview">
    update T_COST_STATEMENT
    set
    STATUS = #{status},
    CONFIRM_BY = #{loginUserId},
    CONFIRM_BY_NAME = #{loginUserName},
    CONFIRM_TIME = #{now},
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID in
    <foreach collection="ids" item="id" separator=", " open="(" close=")">
        #{id, jdbcType=BIGINT}
    </foreach>
</update>

<update id="printMark">
    update T_COST_STATEMENT
    set
    <if test="flag == '1'.toString()">
        IS_PRINT = '1',
    </if>
    <if test="flag == '2'.toString()">
        IS_PRINT = null,
    </if>
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID in
    <foreach collection="ids" item="id" separator=", " open="(" close=")">
        #{id, jdbcType=BIGINT}
    </foreach>
</update>

<update id="updateMarketReview">
    update T_COST_STATEMENT
    set
    STATUS = #{status},
    CONFIRM_BY = null,
    CONFIRM_BY_NAME = null,
    CONFIRM_TIME = null,
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID = #{id}
</update>

    <update id="updateMarketReviewZero">
        update T_COST_STATEMENT
        set
            STATUS = #{status}
        where
            ID = #{id}
    </update>

<update id="financeReview">
    update T_COST_STATEMENT
    set
    FINANCE_STATUS = '20',
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now},
    FINANCE_BY = #{loginUserId},
    FINANCE_BY_NAME = #{loginUserName},
    FINANCE_TIME = #{now}
    where
    ID in
    <foreach collection="ids" item="id" separator=", " open="(" close=")">
        #{id, jdbcType=BIGINT}
    </foreach>
</update>

<update id="updateMarketfinanceReview">
    update T_COST_STATEMENT
    set
    FINANCE_STATUS = '10',
    FINANCE_BY = null,
    FINANCE_BY_NAME = null,
    FINANCE_TIME = null,
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now},
    MARKET_BY = #{loginUserId},
    MARKET_BY_NAME = #{loginUserName},
    MARKET_TIME = #{now}
    where
    ID = #{id}
</update>

<select id="queryRate" resultType="com.yy.ppm.business.bean.dto.TBusRateDTO">
    SELECT
    TBR.id,
    TBR.RATE_ITEM_CODE,
    TBR.RATE_ITEM_NAME,
    TBR.PROCESS_CODE,
    TBR.PROCESS_NAME,
    TBR.RATE,
    TBR.TAX_RATE,
    TBR.RATE_ITEM_NAME || '/' || TBR.RATE rateName
    FROM
    T_BUS_RATE tbr
    where
    tbr.status = '10'
</select>

<insert id="insert">
    INSERT INTO T_COST_STATEMENT(
    ID,
    COMPANY_ID,
    COMPANY_NAME,
    STATEMENT_NO,
    IS_ENTER,
    CUSTOMER_ID,
    CUSTOMER_NAME,
    TYPE,
    TRUST_ID,
    TRUST_CARGO_ID,
    HANDOVERLIST_ID,
    SHIPVOYAGE_ID,
    SHIPVOYAGE_ITEM_ID,
    CARGO_CODE,
    CARGO_NAME,
    TRADE_TYPE,
    SETTLEMENT_DATE,
    STATUS,
    RECEIPT_REMARK,
    TAX_INVOICE_CODE,
    TAX_INVOICE_NAME,
    CREATE_BY,
    CREATE_BY_NAME,
    CREATE_TIME,
    IS_FINAL,
    INVOICE_DATE,
    CONTRACT_NO,
    SHIP_NAME_VOYAGE,
    CARGO_INFO_ID,
    IS_RED_RUSH,
    RELATION_ID)
    VALUES (
    #{id, jdbcType=BIGINT},
    #{companyId, jdbcType=BIGINT},
    #{companyName, jdbcType=VARCHAR},
    #{statementNo, jdbcType=VARCHAR},
    #{isEnter,jdbcType=VARCHAR},
    #{customerId, jdbcType=BIGINT},
    #{customerName, jdbcType=VARCHAR},
    #{type, jdbcType=VARCHAR},
    #{trustId, jdbcType=BIGINT},
    #{trustCargoId, jdbcType=BIGINT},
    #{handoverlistId, jdbcType=BIGINT},
    #{shipvoyageId},
    #{shipvoyageItemId, jdbcType=BIGINT},
    #{cargoCode, jdbcType=VARCHAR},
    #{cargoName, jdbcType=VARCHAR},
    #{tradeType, jdbcType=VARCHAR},
    #{settlementDate, jdbcType=TIMESTAMP},
    #{status, jdbcType=VARCHAR},
    #{receiptRemark, jdbcType=VARCHAR},
    #{taxInvoiceCode, jdbcType=VARCHAR},
    #{taxInvoiceName, jdbcType=VARCHAR},
    #{loginUserId, jdbcType=BIGINT},
    #{loginUserName, jdbcType=VARCHAR},
    #{now, jdbcType=TIMESTAMP},
    #{isFinal, jdbcType=VARCHAR},
    #{invoiceDate},
    #{contractNo},
    #{shipNameVoyage},
    #{cargoInfoId},
    #{isRedRush},
    #{relationId})
</insert>

<insert id="insertItem">
    INSERT INTO T_COST_STATEMENT_DETAIL(
    ID,
    STATEMENT,
    CONTRACT_ID,
    RATE_ITEM_CODE,
    RATE_ITEM_NAME,
    SERVICE_CONTENT_ID,
    SERVICE_CONTENT_NAME,
    PROCESS_CODE,
    PROCESS_NAME,
    RATE,
    UNIT_CODE,
    UNIT_NAME,
    "NUMBER",
    AMOUNT,
    TAX,
    TAX_AMOUNT,
    REMARK,
    CREATE_BY,
    CREATE_BY_NAME,
    CREATE_TIME,
    UPDATE_BY,
    UPDATE_BY_NAME,
    UPDATE_TIME,
    NUMBER2)
    VALUES (#{id,jdbcType=BIGINT},
    #{statement,jdbcType=BIGINT},
    #{contractId,jdbcType=BIGINT},
    #{rateItemCode,jdbcType=VARCHAR},
    #{rateItemName,jdbcType=VARCHAR},
    #{serviceContentId,jdbcType=BIGINT},
    #{serviceContentName,jdbcType=VARCHAR},
    #{processCode,jdbcType=VARCHAR},
    #{processName,jdbcType=VARCHAR},
    #{rate,jdbcType=DECIMAL},
    #{unitCode,jdbcType=VARCHAR},
    #{unitName,jdbcType=VARCHAR},
    #{number,jdbcType=DECIMAL},
    #{amount,jdbcType=DECIMAL},
    #{tax,jdbcType=DECIMAL},
    #{taxAmount,jdbcType=DECIMAL},
    #{remark,jdbcType=VARCHAR},
    #{loginUserId,jdbcType=BIGINT},
    #{loginUserName,jdbcType=VARCHAR},
    #{now,jdbcType=TIMESTAMP},
    #{updateBy,jdbcType=BIGINT},
    #{updateByName,jdbcType=VARCHAR},
    #{updateTime,jdbcType=TIMESTAMP},
    #{number2,jdbcType=DECIMAL})
</insert>

<select id="queryStatement" resultType="com.yy.ppm.statement.bean.dto.bizCostStatement.TCostStatementDTO">
    SELECT
        tcs.id,
        tcs.COMPANY_ID,
        tcs.COMPANY_NAME,
        tcs.STATEMENT_NO,
        tcs.IS_ENTER,
        tcs.CUSTOMER_ID,
        tcs.CUSTOMER_NAME,
        tcs.TYPE,
        tcs.TRUST_ID,
        tcs.TRUST_CARGO_ID,
        tcs.HANDOVERLIST_ID,
        tcs.SHIPVOYAGE_ID,
        tcs.SHIPVOYAGE_ITEM_ID,
        tcs.CARGO_CODE,
        tcs.CARGO_NAME,
        tcs.TRADE_TYPE,
        tcs.SETTLEMENT_DATE,
        tcs.status,
        tcs.CREATE_BY_NAME,
        tcs.CREATE_TIME,
        tcs.IS_FINAL,
        tcs.STATEMENT_BY_NAME,
        tcs.STATEMENT_TIME,
        tcs.REVIEW_BY_NAME,
        tcs.REVIEW_TIME,
        tcs.CONFIRM_BY_NAME,
        tcs.CONFIRM_TIME,
        tcs.SETTLEMENT_BASIS_CODE,
        tcs.SETTLEMENT_BASIS_NAME,
        tcs.TAX_INVOICE_CODE,
        tcs.TAX_INVOICE_NAME,
        tcs.RECEIPT_REMARK,
        tcs.REJECT_BY_NAME,
        tcs.REJECT_TIME,
        tcs.REJECT_REASON,
        tcs.BONDED_AREA_TON,
        tcs.FINANCE_STATUS,
        decode( tcs.FINANCE_STATUS, '10', '未审核', '已审核' ) financeStatusLabel,
        tcs.FINANCE_BY_NAME,
        tcs.FINANCE_TIME,
        tcs.CONTRACT_NO,
        tcs.SHIP_NAME_VOYAGE,
        tcs.CARGO_INFO_ID,
        tds.SHIP_NAME SHIP_NAME,
        tdsi.VOYAGE,
        tds.TRADE_TYPE,
        to_char( tds.LEAVE_BERTH_TIME, 'yyyy-MM-dd' ) LEAVE_BERTH_TIME,
        to_char( tds.BERTH_TIME, 'yyyy-MM-dd' ) BERTH_TIME_STR,
        tbci.CARGO_INFO_NO,
        tcs.INVOICE_DATE
    FROM
        T_COST_STATEMENT tcs
            LEFT JOIN T_DIS_SHIPVOYAGE_ITEM tdsi ON tdsi.ID = tcs.SHIPVOYAGE_ITEM_ID
            LEFT JOIN T_DIS_SHIPVOYAGE tds ON tds.ID = tdsi.SHIPVOYAGE_ID
            LEFT JOIN T_BUS_CARGO_INFO tbci ON tcs.CARGO_INFO_ID = tbci.ID
    where
    tcs.id = #{id}
</select>

    <select id="queryTugWorkTime" resultType="com.yy.ppm.statement.bean.dto.bizCostStatement.TCostStatementDTO">
        SELECT
            to_char( max(tdtsr.end_time) ,'yyyy-MM-dd') LEAVE_BERTH_TIME
        FROM
            "T_COST_STATEMENT" tcs
                LEFT JOIN T_COST_TUG_FEE tctf ON tctf.id = tcs.TUG_FEE_ID
                LEFT JOIN T_DIS_TUG_SERVICE_RECORD tdtsr ON tdtsr.TUGBOAT_PLAN_ID = tctf.tug_service_id
        where
        tcs.id = #{id}
    </select>

<select id="queryItemById" resultType="com.yy.ppm.statement.bean.dto.bizCostStatement.TCostStatementDetailDTO">
    select
        t1.ID,
        t1.STATEMENT,
        t1.CONTRACT_ID,
        t1.CONTRACT_RATE_ID,
        t1.RATE_ITEM_CODE,
        t1.RATE_ITEM_NAME,
        t1.SERVICE_CONTENT_ID,
        t1.SERVICE_CONTENT_NAME,
        t1.PROCESS_CODE,
        t1.PROCESS_NAME,
        t1.RATE,
        t1.UNIT_CODE,
        t1.UNIT_NAME,
        t1."NUMBER",
        t1.AMOUNT,
        NVL(t1.AMOUNTJF,t1.AMOUNT) AMOUNTJF,
        NVL(t1.AMOUNTZK,0) AMOUNTZK,
        t1.TAX,
        t1.TAX_AMOUNT,
        t1.REMARK,
        t1.NUMBER2，
        t1.UTILIZED_AMOUNT,
        t1.INVOICE_AMOUNT
    from
        T_COST_STATEMENT_DETAIL t1
    where
        t1.STATEMENT = #{id}
</select>

    <select id="queryItemByIdzk" resultType="com.yy.ppm.statement.bean.dto.bizCostStatement.TCostStatementDetailDTO">
        select * from (
        select
            t1.ID,
            t1.STATEMENT,
            t1.CONTRACT_ID,
            t1.CONTRACT_RATE_ID,
            t1.RATE_ITEM_CODE,
            to_char(t1.RATE_ITEM_NAME) RATE_ITEM_NAME,
            t1.SERVICE_CONTENT_ID,
            t1.SERVICE_CONTENT_NAME,
            t1.PROCESS_CODE,
            t1.PROCESS_NAME,
            t1.RATE,
            t1.UNIT_CODE,
            t1.UNIT_NAME,
            t1."NUMBER",
            NVL(t1.AMOUNTJF,t1.AMOUNT) AMOUNT,
            NVL(t1.AMOUNTJF,t1.AMOUNT) AMOUNTJF,
            NVL(t1.AMOUNTZK,0) AMOUNTZK,
            t1.TAX,
            t1.TAX_AMOUNT,
            t1.REMARK,
            t1.NUMBER2，
            t1.UTILIZED_AMOUNT,
            t1.INVOICE_AMOUNT,
            t2.START_POSITION_NAME,
            t2.END_POSITION_NAME,
            t2.CARGO_CATEGORY_NAME
        from
            T_COST_STATEMENT_DETAIL t1
                left join T_COST_TXP_WORKLOAD_DETAIL t2 on t2.id=t1.BUSINESS_ID
        where
            t1.STATEMENT = #{id}
        union all
        select
            null ID,
            null STATEMENT,
            null CONTRACT_ID,
            null CONTRACT_RATE_ID,
            null RATE_ITEM_CODE,
            '折扣' RATE_ITEM_NAME,
            null SERVICE_CONTENT_ID,
            null SERVICE_CONTENT_NAME,
            null PROCESS_CODE,
            null PROCESS_NAME,
            null RATE,
            null UNIT_CODE,
            null UNIT_NAME,
            null "NUMBER",
            -sum(NVL(t1.AMOUNTZK,0)) AMOUNT,
            null AMOUNTJF,
            null AMOUNTZK,
            null TAX,
            null TAX_AMOUNT,
            null REMARK,
            null NUMBER2，
            null UTILIZED_AMOUNT,
                null INVOICE_AMOUNT,
            null START_POSITION_NAME,
            null END_POSITION_NAME,
            null CARGO_CATEGORY_NAME
        from
            T_COST_STATEMENT_DETAIL t1
                left join T_COST_TXP_WORKLOAD_DETAIL t2 on t2.id=t1.BUSINESS_ID
        where
            t1.STATEMENT = #{id}
        and NVL(t1.AMOUNTZK,0) !=0)  where AMOUNT!=0 and AMOUNT is not null
    </select>

<delete id="deleteDetailById">
    delete from T_COST_STATEMENT_DETAIL where STATEMENT = #{id}
</delete>

<delete id="deleteById">
    delete from T_COST_STATEMENT where id = #{id}
</delete>

<update id="updateById">
    update T_COST_STATEMENT
    set
    ID = #{id},
    COMPANY_ID = #{companyId},
    COMPANY_NAME = #{companyName},
    CUSTOMER_ID = #{customerId},
    CUSTOMER_NAME = #{customerName},
    TYPE = #{type},
    TRADE_TYPE = #{tradeType},
    SETTLEMENT_DATE = #{settlementDate},
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now},
    CONTRACT_NO = #{contractNo},
    SHIP_NAME_VOYAGE = #{shipNameVoyage},
    CARGO_INFO_ID = #{cargoInfoId}
    where
    id = #{id}
</update>

<select id="queryRateItem" resultType="java.util.Map">
    select
    A.ID "id",
    A.ITEM_CD "itemCd",
    A.ITEM_NM "itemNm",
    A.ITEM_TYPE_CD "itemTypeCd",
    A.RATE_TYPE_CD "rateTypeCd",
    A.RATE_TYPE_NM "rateTypeNm",
    B.DICT_LABEL "itemTypeNm"
    FROM
    m_fee_item A
    left join (SELECT MDD.* FROM M_DICT_DATA MDD JOIN M_DICT_TYPE MDT ON MDD.DICT_TYPE = MDT.DICT_TYPE AND MDD.STATUS = '1' AND MDT.STATUS = '1') B on B.DICT_VALUE=A.ITEM_TYPE_CD AND B.DICT_TYPE='FEE_ITEM_TYPE'
</select>

<select id="queryById1" resultType="com.yy.ppm.statement.bean.po.TCostStatementPO">
    SELECT
    tcs.id,
    tcs.COMPANY_ID,
    tcs.COMPANY_NAME,
    tcs.STATEMENT_NO,
    tcs.IS_ENTER,
    tcs.CUSTOMER_ID,
    tcs.CUSTOMER_NAME,
    tcs.type,
    tcs.TRUST_ID,
    tcs.TRUST_CARGO_ID,
    tcs.HANDOVERLIST_ID,
    tcs.SHIPVOYAGE_ID,
    tcs.SHIPVOYAGE_ITEM_ID,
    tcs.CARGO_CODE,
    tcs.CARGO_NAME,
    tcs.TRADE_TYPE,
    tcs.SETTLEMENT_DATE,
    tcs.status,
    tcs.CREATE_BY_NAME,
    tcs.CREATE_TIME,
    tcs.IS_FINAL,
    tcs.STATEMENT_BY_NAME,
    tcs.STATEMENT_TIME,
    tcs.REVIEW_BY_NAME,
    tcs.REVIEW_TIME,
    tcs.CONFIRM_BY_NAME,
    tcs.CONFIRM_TIME,
    tcs.SETTLEMENT_BASIS_CODE,
    tcs.SETTLEMENT_BASIS_NAME,
    tcs.TAX_INVOICE_CODE,
    tcs.TAX_INVOICE_NAME,
    tcs.RECEIPT_REMARK,
    tcs.REJECT_BY_NAME,
    tcs.REJECT_TIME,
    tcs.REJECT_REASON,
    tcs.BONDED_AREA_TON,
    tcs.FINANCE_STATUS,
    decode(tcs.FINANCE_STATUS,'10','未审核','已审核') financeStatusLabel,
    tcs.FINANCE_BY_NAME,
    tcs.FINANCE_TIME,
    tcsd.AMOUNT
    FROM
    T_COST_STATEMENT tcs
    left join (
    select Sum(NVL(AMOUNT,0)) amount,STATEMENT from T_COST_STATEMENT_DETAIL group by STATEMENT
    ) tcsd on tcsd.STATEMENT=tcs.ID
    where
    tcs.id in
    <foreach collection="ids" item="id" separator=", " open="(" close=")">
        #{id, jdbcType=BIGINT}
    </foreach>
</select>

<update id="updateRecheck">
    update T_COST_STATEMENT
    set
    STATUS = #{status},
    RECHECK_BY = #{loginUserId},
    RECHECK_BY_NAME = #{loginUserName},
    RECHECK_TIME = #{now},
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID in
    <foreach collection="ids" item="id" separator=", " open="(" close=")">
        #{id, jdbcType=BIGINT}
    </foreach>
</update>

<update id="updateMarketRecheck">
    update T_COST_STATEMENT
    set
    STATUS = #{status},
    RECHECK_BY = null,
    RECHECK_BY_NAME = null,
    RECHECK_TIME = null,
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID = #{id}
</update>

<update id="updateApplyInvoice">
    update T_COST_STATEMENT
    set
    STATUS = #{status},
    APPLY_INVOICE_BY = #{loginUserId},
    APPLY_INVOICE_BY_NAME = #{loginUserName},
    APPLY_INVOICE_TIME = #{now},
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID in
    <foreach collection="ids" item="id" separator=", " open="(" close=")">
        #{id, jdbcType=BIGINT}
    </foreach>
</update>

<update id="updateMarketApplyInvoice">
    update T_COST_STATEMENT
    set
    STATUS = #{status},
    APPLY_INVOICE_BY = null,
    APPLY_INVOICE_BY_NAME = null,
    APPLY_INVOICE_TIME = null,
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID = #{id}
</update>

<select id="queryWaterFiles" resultType="java.util.Map">
    select
    TPWE.ID "id",
    LISTAGG(SFB.FILE_ID, ',') WITHIN GROUP ( ORDER BY SFB.FILE_ID ) "FILE_IDS"
    from
    T_PRD_WATER_ELECTRICITY TPWE
    LEFT JOIN SYS_FILE_BUSINESS SFB ON TPWE.ID = SFB.BUSINESS_ID
    where
    TPWE.TRUST_ID = #{trustId,jdbcType=BIGINT}
    GROUP BY
    TPWE.ID
</select>

<update id="updateStatementItem">
    update T_COST_STATEMENT_DETAIL
    set
    AMOUNT = #{amount},
    TAX_AMOUNT = #{taxAmount},
    REMARK = #{remark},
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID = #{id}
</update>

    <update id="updateStatementItemD">
        update T_COST_STATEMENT_DETAIL
        set
            AMOUNT = #{amount},
            AMOUNTJF = #{amountjf},
            AMOUNTZK = #{amountzk},
            remark = #{remark},
            TAX_AMOUNT = #{taxAmount},
            UPDATE_BY = #{loginUserId},
            UPDATE_BY_NAME = #{loginUserName},
            UPDATE_TIME = #{now}
        where
            ID = #{id}
    </update>

<update id="updateHandoverlistByStatementId">
    update T_BUS_HANDOVERLIST
    set
    SETTLEMENT_ID = null,
    SETTLEMENT_NAME = null,
    STATEMENT_STATUS_CODE = '10',
    STATEMENT_STATUS_NAME = '未结算',
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID = #{handoverlistId}
</update>

<update id="updateStatementById">
    update T_COST_STATEMENT
    set
    IS_RED_RUSH = '1',
    RELATION_ID = #{relationId},
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID = #{id}
</update>

<update id="updateStatementItemById">
    update T_COST_STATEMENT_DETAIL
    set
    BUSINESS_ID = NULL,
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    STATEMENT = #{id}
</update>

<update id="updateCostShipByShipvoyageId">
    update T_COST_SHIP
    set
    STATUS = 10,
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    SHIPVOYAGE_ID = #{shipvoyageId}
    <if test="typeCode == '30'.toString">
        and type = '10'
    </if>
    <if test="typeCode == '40'.toString">
        and type = '20'
    </if>
</update>

<update id="updateMiscBillingById">
    update T_MISC_BILLING
    set
    STATEMENT_ID = NULL,
    STATUS = 20,
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    WHERE
    STATEMENT_ID = #{id}
</update>

<update id="updateTugByStatementId">
    update T_COST_TUG_FEE
    set
    STATUS = '10',
    STATUS_LABEL = '未审核',
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID = #{tugFeeId}
</update>

<update id="updateWorkLoadByStatementId">
    update T_COST_TXP_WORKLOAD
    set
    STATUS = '10',
    STATUS_LABEL = '未审核',
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID = #{tugFeeId}
</update>

<update id="updateStorageSettleByStatementId">
    update T_COST_STORAGE_SETTLE
    set
    STATUS = '10',
    REVIEW_BY = null,
    REVIEW_BY_NAME = null,
    REVIEW_BY_TIME = null,
    UPDATE_BY = #{loginUserId},
    UPDATE_BY_NAME = #{loginUserName},
    UPDATE_TIME = #{now}
    where
    ID = (select tug_fee_id from T_COST_STATEMENT where id = #{id})
</update>

</mapper>
