<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.statement.mapper.TCostShipMapper">

    <resultMap id="listShipvoyageItemResult" type="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="scn" column="SCN" jdbcType="BIGINT"/>
        <result property="shipvoyageItemId" column="SHIPVOYAGE_ITEM_ID" jdbcType="BIGINT"/>
        <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="companyId" column="COMPANY_ID" jdbcType="VARCHAR"/>
        <result property="shipName" column="SHIP_NAME" jdbcType="VARCHAR"/>
        <result property="shipvoyageId" column="SHIPVOYAGE_ID" jdbcType="VARCHAR"/>
        <result property="voyage" column="VOYAGE" jdbcType="VARCHAR"/>
        <result property="tradeType" column="TRADE_TYPE" jdbcType="VARCHAR"/>
        <result property="loadUnload" column="LOAD_UNLOAD" jdbcType="VARCHAR"/>
        <result property="customerName" column="CUSTOMER_NAME" jdbcType="VARCHAR"/>
        <result property="customerId" column="CUSTOMER_ID" jdbcType="VARCHAR"/>
        <result property="netWeight" column="NET_WEIGHT" jdbcType="DECIMAL"/>
        <result property="berthTime" column="BERTH_TIME" jdbcType="TIMESTAMP"/>
        <result property="leaveBerthTime" column="LEAVE_BERTH_TIME" jdbcType="TIMESTAMP"/>
        <result property="berthDays" column="BERTH_DAYS" jdbcType="INTEGER"/>
        <result property="statementNo" column="STATEMENT_NO" jdbcType="VARCHAR"/>
        <result property="amount" column="AMOUNT" jdbcType="DECIMAL"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="berthName" column="BERTH_NAME" jdbcType="VARCHAR"/>
        <result property="arrivalAnchorageTime" column="ARRIVAL_ANCHORAGE_TIME" jdbcType="VARCHAR"/>
        <result property="anchorageDays" column="ANCHORAGE_DAYS" jdbcType="VARCHAR"/>
        <result property="tinggongFugongTimes" column="TINGGONG_FUGONG_TIMES" jdbcType="VARCHAR"/>
        <result property="shipStatusCode" column="SHIP_STATUS_CODE" jdbcType="VARCHAR"/>
        <result property="workAreaCd" column="WORK_AREA_CD" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listShipvoyageItem"
            parameterType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemQueryDTO"
            resultMap="listShipvoyageItemResult">
        SELECT TDS.ID,
        TDS.SCN,
        TDSI.ID                                                     SHIPVOYAGE_ITEM_ID,
        TDSI.COMPANY_NAME,
        TDSI.COMPANY_ID,
        CONCAT(CONCAT(TDS.SHIP_NAME, '_'), TDSI.VOYAGE)             SHIP_NAME,
        TDS.SHIP_NAME                                               SHIP_NAME_EXPORT,
        TDSI.VOYAGE,
        TDSI.TRADE_TYPE,
        TDSI.LOAD_UNLOAD,
        TDSI.CUSTOMER_NAME,
        TDSI.CUSTOMER_ID,
        MS.NET_WEIGHT,
        TDS.BERTH_TIME,
        TDS.LEAVE_BERTH_TIME,
        CEIL(TDS.LEAVE_BERTH_TIME - TDS.BERTH_TIME)                 BERTH_DAYS,
        t_c_s_tmp.STATEMENT_NO                                        STATEMENT_NO,
        t_c_ship_tmp.amount                    AMOUNT,
        t_c_ship_tmp.CREATE_BY_NAME                                         CREATE_BY_NAME,
        t_c_ship_tmp.CREATE_TIME                                         CREATE_TIME,
        TDS.BERTH_NAME,
        TDS.ARRIVAL_ANCHORAGE_TIME,
        CEIL(TDS.LEAVE_ANCHORAGE_TIME - TDS.ARRIVAL_ANCHORAGE_TIME) ANCHORAGE_DAYS,
        t_f_work_times.times                         TINGGONG_FUGONG_TIMES,
        TDS.SHIP_STATUS_CODE,
        MDD.DICT_LABEL AS                                           WORK_AREA_CD
        FROM T_DIS_SHIPVOYAGE_ITEM TDSI
        JOIN T_DIS_SHIPVOYAGE TDS ON TDSI.SHIPVOYAGE_ID = TDS.ID
        JOIN M_SHIP MS ON TDS.SHIP_ID = MS.ID
        LEFT JOIN M_BERTH MB ON TDS.BERTH_ID = MB.ID
        LEFT JOIN M_DICT_DATA MDD ON MDD.DICT_TYPE = 'WORK_AREA' AND MDD.DICT_VALUE = MB.WORK_AREA_CD
        left join (SELECT SHIPVOYAGE_ID,LISTAGG(TO_CHAR(TDSD.DYNAMIC_START_TIME, 'YYYY-MM-DD HH24:MI:SS'), ',') WITHIN GROUP ( ORDER BY TDSD.CREATE_TIME ) times
        FROM T_DIS_SHIP_DYNAMIC TDSD
        WHERE TDSD.DYNAMIC_TYPE_CODE IN ('80', '90') group by TDSD.SHIPVOYAGE_ID)
        t_f_work_times on t_f_work_times.SHIPVOYAGE_ID= TDS.ID

        left join (SELECT CREATE_TIME,CREATE_BY_NAME,SUM(AMOUNT) amount,SHIPVOYAGE_ID,SHIPVOYAGE_ITEM_ID
        FROM T_COST_SHIP TCS
        WHERE TCS."TYPE" = '10'
        group by CREATE_TIME, CREATE_BY_NAME,SHIPVOYAGE_ID,SHIPVOYAGE_ITEM_ID
        ) t_c_ship_tmp on t_c_ship_tmp.SHIPVOYAGE_ITEM_ID = TDSI.ID
        left join (SELECT STATEMENT_NO,SHIPVOYAGE_ID,SHIPVOYAGE_ITEM_ID
        FROM T_COST_STATEMENT TCS
        WHERE TCS."TYPE" = '30'
        and ROWNUM = 1)   t_c_s_tmp on t_c_s_tmp.SHIPVOYAGE_ITEM_ID = TDSI.ID

        <where>
            (TDS.BERTHING_CHARGE is null OR TDS.BERTHING_CHARGE = '1') AND MDD.DICT_LABEL is not null
            AND (TDS.WHARF IS NULL OR TDS.WHARF = '1')
            and (TDSI.IS_BERTHAGE != '0')
            <if test="shipvoyageItemId != null">
                AND TDSI.ID = #{shipvoyageItemId,jdbcType=BIGINT}
            </if>
            <if test="companyId != null">
                AND TDSI.COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>

            <if test="shipvoyagId != null">
                AND TDS.ID = #{shipvoyagId,jdbcType=BIGINT}
            </if>
            <if test="shipName!=null and shipName !=''">
                <bind name="shipName_like" value="'%'+shipName+'%'"/>
                AND TDS.SHIP_NAME LIKE #{shipName_like}
            </if>
            <if test="voyage!=null and voyage !=''">
                <bind name="voyage_like" value="'%'+voyage+'%'"/>
                AND TDSI.VOYAGE LIKE #{voyage_like}
            </if>

            <if test="customerId != null">
                AND TDSI.CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
            </if>
            <if test="scn != null and scn != ''">
                <bind name="scnLike" value="'%' + scn + '%'"/>
                AND TDS.SCN LIKE #{scnLike,jdbcType=VARCHAR}
            </if>
            <if test="isLeavePort == '0'.toString()">
                AND TDS.SHIP_STATUS_CODE != '120'
            </if>
            <if test="isLeavePort == '1'.toString()">
                AND TDS.SHIP_STATUS_CODE = '120'
            </if>
            <if test="beginLeaveBerthTime != null">
                AND TDS.LEAVE_BERTH_TIME >= #{beginLeaveBerthTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endLeaveBerthTime != null">
                AND TDS.LEAVE_BERTH_TIME &lt;= #{endLeaveBerthTime,jdbcType=TIMESTAMP}
            </if>
            <if test="beginLeavePortTime != null">
                AND TDS.LEAVE_PORT_TIME >= #{beginLeavePortTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endLeavePortTime != null">
                AND TDS.LEAVE_PORT_TIME &lt;= #{endLeavePortTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status == '00'.toString() or status == '10'.toString() or status == '20'.toString()">
                AND TDSI.ID
                <if test="status == '00'.toString()">
                    NOT
                </if>
                IN (SELECT TCS.SHIPVOYAGE_ITEM_ID FROM T_COST_SHIP TCS WHERE TCS."TYPE" = '10'
                    AND TCS.SHIPVOYAGE_ITEM_ID IS NOT NULL
                    <if test="status != '00'.toString()">
                        AND TCS.STATUS =#{status,jdbcType=VARCHAR}
                    </if>
                    <if test="status == '20'.toString()">
                        AND TCS.ID NOT IN (
                            SELECT TCSD.BUSINESS_ID FROM T_COST_STATEMENT TCST
                            INNER JOIN T_COST_STATEMENT_DETAIL TCSD ON TCST.ID = TCSD.STATEMENT
                            WHERE TCST.STATUS IN ('40','50') AND TCSD.BUSINESS_ID IS NOT NULL
                        )
                    </if>
                )
            </if>
            <if test="status == '40'.toString() or status == '50'.toString()">
                AND TDSI.ID
                IN (
                    SELECT TCST.SHIPVOYAGE_ITEM_ID FROM T_COST_STATEMENT TCST
                    INNER JOIN T_COST_STATEMENT_DETAIL TCSD ON TCST.ID = TCSD.STATEMENT
                    INNER JOIN T_COST_SHIP TCS ON TCSD.BUSINESS_ID = TCS.ID
                    WHERE TCS.TYPE = '10' AND TCST.STATUS = #{status,jdbcType=VARCHAR}
                )
            </if>
            <if test="workAreaCd != null and workAreaCd != ''">
                AND MB.WORK_AREA_CD = #{workAreaCd,jdbcType=VARCHAR}
            </if>
            <if test="isCentre !=null">
                <choose>
                    <when test="isCentre == 1">
                        AND MB.WORK_AREA_CD = '02'
                    </when>
                    <when test="isCentre == 0">
                        AND (MB.WORK_AREA_CD = '01' OR MB.WORK_AREA_CD = '03')
                    </when>
                    <otherwise>

                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY LEAVE_PORT_TIME DESC
    </select>

    <resultMap id="getShipvoyage" type="com.yy.ppm.dispatch.bean.po.TDisShipvoyagePO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="boHaiTongId" column="BO_HAI_TONG_ID" jdbcType="BIGINT"/>
        <result property="boHaiTongShipId" column="BO_HAI_TONG_SHIP_ID" jdbcType="BIGINT"/>
        <result property="scn" column="SCN" jdbcType="VARCHAR"/>
        <result property="shipId" column="SHIP_ID" jdbcType="BIGINT"/>
        <result property="shipName" column="SHIP_NAME" jdbcType="VARCHAR"/>
        <result property="impExp" column="IMP_EXP" jdbcType="VARCHAR"/>
        <result property="tradeType" column="TRADE_TYPE" jdbcType="VARCHAR"/>
        <result property="loadUnload" column="LOAD_UNLOAD" jdbcType="VARCHAR"/>
        <result property="isWater" column="IS_WATER" jdbcType="VARCHAR"/>
        <result property="isShorePower" column="IS_SHORE_POWER" jdbcType="VARCHAR"/>
        <result property="reqWater" column="REQ_WATER" jdbcType="VARCHAR"/>
        <result property="reqElectricity" column="REQ_ELECTRICITY" jdbcType="VARCHAR"/>
        <result property="bowDraft" column="BOW_DRAFT" jdbcType="VARCHAR"/>
        <result property="sternDraft" column="STERN_DRAFT" jdbcType="VARCHAR"/>
        <result property="isTug" column="IS_TUG" jdbcType="VARCHAR"/>
        <result property="tugNumber" column="TUG_NUMBER" jdbcType="INTEGER"/>
        <result property="pilotage" column="PILOTAGE" jdbcType="VARCHAR"/>
        <result property="isPayment" column="IS_PAYMENT" jdbcType="VARCHAR"/>
        <result property="paymentAmount" column="PAYMENT_AMOUNT" jdbcType="VARCHAR"/>
        <result property="isDangerous" column="IS_DANGEROUS" jdbcType="VARCHAR"/>
        <result property="arrivalTimePlan" column="ARRIVAL_TIME_PLAN" jdbcType="TIMESTAMP"/>
        <result property="leavePortTimePlan" column="LEAVE_PORT_TIME_PLAN" jdbcType="TIMESTAMP"/>
        <result property="arrivalAnchorageTime" column="ARRIVAL_ANCHORAGE_TIME" jdbcType="TIMESTAMP"/>
        <result property="leaveAnchorageTime" column="LEAVE_ANCHORAGE_TIME" jdbcType="TIMESTAMP"/>
        <result property="berthTime" column="BERTH_TIME" jdbcType="TIMESTAMP"/>
        <result property="berthId" column="BERTH_ID" jdbcType="BIGINT"/>
        <result property="berthName" column="BERTH_NAME" jdbcType="VARCHAR"/>
        <result property="berthType" column="BERTH_TYPE" jdbcType="VARCHAR"/>
        <result property="bollardNoStart" column="BOLLARD_NO_START" jdbcType="VARCHAR"/>
        <result property="bollardNoEnd" column="BOLLARD_NO_END" jdbcType="VARCHAR"/>
        <result property="leaveBerthTime" column="LEAVE_BERTH_TIME" jdbcType="TIMESTAMP"/>
        <result property="receiveBy" column="RECEIVE_BY" jdbcType="BIGINT"/>
        <result property="receiveByName" column="RECEIVE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="receiveTime" column="RECEIVE_TIME" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="DEL_FLAG" jdbcType="VARCHAR"/>
        <result property="delRemark" column="DEL_REMARK" jdbcType="VARCHAR"/>
        <result property="delBy" column="DEL_BY" jdbcType="BIGINT"/>
        <result property="delByName" column="DEL_BY_NAME" jdbcType="VARCHAR"/>
        <result property="delTime" column="DEL_TIME" jdbcType="TIMESTAMP"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="startPortId" column="START_PORT_ID" jdbcType="BIGINT"/>
        <result property="startPortName" column="START_PORT_NAME" jdbcType="VARCHAR"/>
        <result property="endPortId" column="END_PORT_ID" jdbcType="BIGINT"/>
        <result property="endPortName" column="END_PORT_NAME" jdbcType="VARCHAR"/>
        <result property="prePortId" column="PRE_PORT_ID" jdbcType="BIGINT"/>
        <result property="prePortName" column="PRE_PORT_NAME" jdbcType="VARCHAR"/>
        <result property="nextPortId" column="NEXT_PORT_ID" jdbcType="BIGINT"/>
        <result property="nextPortName" column="NEXT_PORT_NAME" jdbcType="VARCHAR"/>
        <result property="shipStatusCode" column="SHIP_STATUS_CODE" jdbcType="VARCHAR"/>
        <result property="shipStatusName" column="SHIP_STATUS_NAME" jdbcType="VARCHAR"/>
        <result property="number2" column="NET_WEIGHT" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getShipvoyage" resultMap="getShipvoyage">
        SELECT ID,
               BO_HAI_TONG_ID,
               BO_HAI_TONG_SHIP_ID,
               SCN,
               SHIP_ID,
               SHIP_NAME,
               IMP_EXP,
               TRADE_TYPE,
               LOAD_UNLOAD,
               IS_WATER,
               IS_SHORE_POWER,
               REQ_WATER,
               REQ_ELECTRICITY,
               BOW_DRAFT,
               STERN_DRAFT,
               IS_TUG,
               TUG_NUMBER,
               PILOTAGE,
               IS_PAYMENT,
               PAYMENT_AMOUNT,
               IS_DANGEROUS,
               ARRIVAL_TIME_PLAN,
               LEAVE_PORT_TIME_PLAN,
               ARRIVAL_ANCHORAGE_TIME,
               LEAVE_ANCHORAGE_TIME,
               BERTH_TIME,
               BERTH_ID,
               BERTH_NAME,
               BERTH_TYPE,
               BOLLARD_NO_START,
               BOLLARD_NO_END,
               LEAVE_BERTH_TIME,
               RECEIVE_BY,
               RECEIVE_BY_NAME,
               RECEIVE_TIME,
               DEL_FLAG,
               DEL_REMARK,
               DEL_BY,
               DEL_BY_NAME,
               DEL_TIME,
               REMARK,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               START_PORT_ID,
               START_PORT_NAME,
               END_PORT_ID,
               END_PORT_NAME,
               PRE_PORT_ID,
               PRE_PORT_NAME,
               NEXT_PORT_ID,
               NEXT_PORT_NAME,
               SHIP_STATUS_CODE,
               SHIP_STATUS_NAME
        FROM T_DIS_SHIPVOYAGE
        WHERE ID = #{id, jdbcType=BIGINT}
    </select>

    <select id="getShipvoyageByItemId" resultMap="getShipvoyage">
        SELECT DISTINCT
            TDS.ID,
            TDS.TRADE_TYPE,
            TDS.BO_HAI_TONG_ID,
            TDS.BO_HAI_TONG_SHIP_ID,
            TDS.SCN,
            TDS.SHIP_ID,
            TDS.SHIP_NAME,
            TDS.IMP_EXP,
            TDS.TRADE_TYPE,
            TDS.LOAD_UNLOAD,
            TDS.IS_WATER,
            TDS.IS_SHORE_POWER,
            TDS.REQ_WATER,
            TDS.REQ_ELECTRICITY,
            TDS.BOW_DRAFT,
            TDS.STERN_DRAFT,
            TDS.IS_TUG,
            TDS.TUG_NUMBER,
            TDS.PILOTAGE,
            TDS.IS_PAYMENT,
            TDS.PAYMENT_AMOUNT,
            TDS.IS_DANGEROUS,
            TDS.ARRIVAL_TIME_PLAN,
            TDS.LEAVE_PORT_TIME_PLAN,
            TDS.ARRIVAL_ANCHORAGE_TIME,
            TDS.LEAVE_ANCHORAGE_TIME,
            TDS.BERTH_TIME,
            TDS.BERTH_ID,
            TDS.BERTH_NAME,
            TDS.BERTH_TYPE,
            TDS.BOLLARD_NO_START,
            TDS.BOLLARD_NO_END,
            TDS.LEAVE_BERTH_TIME,
            TDS.RECEIVE_BY,
            TDS.RECEIVE_BY_NAME,
            TDS.RECEIVE_TIME,
            TDS.DEL_FLAG,
            TDS.DEL_REMARK,
            TDS.DEL_BY,
            TDS.DEL_BY_NAME,
            TDS.DEL_TIME,
            TDS.REMARK,
            TDS.CREATE_BY,
            TDS.CREATE_BY_NAME,
            TDS.CREATE_TIME,
            TDS.UPDATE_BY,
            TDS.UPDATE_BY_NAME,
            TDS.UPDATE_TIME,
            TDS.START_PORT_ID,
            TDS.START_PORT_NAME,
            TDS.END_PORT_ID,
            TDS.END_PORT_NAME,
            TDS.PRE_PORT_ID,
            TDS.PRE_PORT_NAME,
            TDS.NEXT_PORT_ID,
            TDS.NEXT_PORT_NAME,
            TDS.SHIP_STATUS_CODE,
            TDS.SHIP_STATUS_NAME,
            MS.NET_WEIGHT
        FROM T_DIS_SHIPVOYAGE TDS
                 LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON  TDS.ID  = TDSI.SHIPVOYAGE_ID
                 left join M_SHIP MS on TDS.SHIP_ID = MS.ID
        WHERE TDSI.ID = #{id, jdbcType=BIGINT}
    </select>

    <resultMap id="listShipvoyageItemByShipvoyageId" type="com.yy.ppm.dispatch.bean.po.TDisShipvoyageItemPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="shipvoyageId" column="SHIPVOYAGE_ID" jdbcType="BIGINT"/>
        <result property="impExp" column="IMP_EXP" jdbcType="VARCHAR"/>
        <result property="tradeType" column="TRADE_TYPE" jdbcType="VARCHAR"/>
        <result property="loadUnload" column="LOAD_UNLOAD" jdbcType="VARCHAR"/>
        <result property="voyage" column="VOYAGE" jdbcType="VARCHAR"/>
        <result property="companyId" column="COMPANY_ID" jdbcType="BIGINT"/>
        <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="cargoCategoryCode" column="CARGO_CATEGORY_CODE" jdbcType="VARCHAR"/>
        <result property="cargoCategoryName" column="CARGO_CATEGORY_NAME" jdbcType="VARCHAR"/>
        <result property="cargoNum" column="CARGO_NUM" jdbcType="INTEGER"/>
        <result property="customerId" column="CUSTOMER_ID" jdbcType="BIGINT"/>
        <result property="customerName" column="CUSTOMER_NAME" jdbcType="VARCHAR"/>
        <result property="contacts" column="CONTACTS" jdbcType="VARCHAR"/>
        <result property="shipPhone" column="SHIP_PHONE" jdbcType="VARCHAR"/>
        <result property="paymentAmount" column="PAYMENT_AMOUNT" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="shipStatusCode" column="SHIP_STATUS_CODE" jdbcType="VARCHAR"/>
        <result property="shipStatusName" column="SHIP_STATUS_NAME" jdbcType="VARCHAR"/>
        <result property="workStartTime" column="WORK_START_TIME" jdbcType="TIMESTAMP"/>
        <result property="workEndTime" column="WORK_END_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listShipvoyageItemByShipvoyageId" resultMap="listShipvoyageItemByShipvoyageId">
        SELECT ID,
               SHIPVOYAGE_ID,
               IMP_EXP,
               TRADE_TYPE,
               LOAD_UNLOAD,
               VOYAGE,
               COMPANY_ID,
               COMPANY_NAME,
               CARGO_CATEGORY_CODE,
               CARGO_CATEGORY_NAME,
               CARGO_NUM,
               CUSTOMER_ID,
               CUSTOMER_NAME,
               CONTACTS,
               SHIP_PHONE,
               PAYMENT_AMOUNT,
               REMARK,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               SHIP_STATUS_CODE,
               SHIP_STATUS_NAME,
               WORK_START_TIME,
               WORK_END_TIME
        FROM T_DIS_SHIPVOYAGE_ITEM
        WHERE SHIPVOYAGE_ID = #{shipvoyageId, jdbcType=BIGINT}
    </select>

    <resultMap id="listStopRecord" type="com.yy.ppm.statement.bean.dto.costShip.TDisShipDynamicDTO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="dynamicStartTime" column="DYNAMIC_START_TIME" jdbcType="TIMESTAMP"/>
        <result property="stopName" column="STOP_NAME" jdbcType="VARCHAR"/>
        <result property="stopTypeName" column="STOP_TYPE_NAME" jdbcType="VARCHAR"/>
        <result property="stopReasonTypeCode" column="STOP_REASON_TYPE_CODE" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listStopRecord" resultMap="listStopRecord">
        SELECT
            T1.ID,
            T1.DYNAMIC_START_TIME,
            T1.STOP_NAME,
            T1.STOP_TYPE_NAME,
            M1.STOP_REASON_TYPE_CODE
        FROM
          T_DIS_SHIP_DYNAMIC T1
            LEFT JOIN M_STOP_REASON M1 ON M1.ID = T1.STOP_ID
            LEFT JOIN M_DICT_DATA d ON M1.STOP_REASON_CLASS_CODE=d.DICT_VALUE AND d.DICT_TYPE='STOP_REASON_CLASS'
	        LEFT JOIN M_DICT_DATA e ON M1.STOP_REASON_TYPE_CODE=e.DICT_VALUE AND e.DICT_TYPE='STOP_REASON_TYPE'
        WHERE
             T1.DYNAMIC_TYPE_CODE IN (
                '80', '90'
            )
            AND T1.SHIPVOYAGE_ID = #{shipvoyageId,jdbcType=BIGINT}
        ORDER BY
            T1.CREATE_TIME
    </select>

    <resultMap id="listRate" type="com.yy.ppm.business.bean.po.TBusRatePO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="rateId" column="RATE_ID" jdbcType="BIGINT"/>
        <result property="rateItemCode" column="RATE_ITEM_CODE" jdbcType="VARCHAR"/>
        <result property="rateItemName" column="RATE_ITEM_NAME" jdbcType="VARCHAR"/>
        <result property="serviceContentId" column="SERVICE_CONTENT_ID" jdbcType="BIGINT"/>
        <result property="serviceContentName" column="SERVICE_CONTENT_NAME" jdbcType="VARCHAR"/>
        <result property="processCode" column="PROCESS_CODE" jdbcType="VARCHAR"/>
        <result property="processName" column="PROCESS_NAME" jdbcType="VARCHAR"/>
        <result property="cargoCode" column="CARGO_CODE" jdbcType="VARCHAR"/>
        <result property="cargoName" column="CARGO_NAME" jdbcType="VARCHAR"/>
        <result property="inteFore" column="INTE_FORE" jdbcType="VARCHAR"/>
        <result property="rate" column="RATE" jdbcType="DECIMAL"/>
        <result property="taxRate" column="TAX_RATE" jdbcType="DECIMAL"/>
        <result property="measurementUnitCode1" column="MEASUREMENT_UNIT_CODE1" jdbcType="VARCHAR"/>
        <result property="measurementUnitName1" column="MEASUREMENT_UNIT_NAME1" jdbcType="VARCHAR"/>
        <result property="measurementUnitCode2" column="MEASUREMENT_UNIT_CODE2" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="startDate" column="START_DATE" jdbcType="TIMESTAMP"/>
        <result property="endDate" column="END_DATE" jdbcType="TIMESTAMP"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listRate" resultMap="listRate">
        SELECT TBR.ID,
               TBR.ID AS RATE_ID,
               TBR.RATE_ITEM_CODE,
               TBR.RATE_ITEM_NAME,
               TBR.SERVICE_CONTENT_ID,
               TBR.SERVICE_CONTENT_NAME,
               TBR.PROCESS_CODE,
               TBR.PROCESS_NAME,
               TBR.CARGO_CODE,
               TBR.CARGO_NAME,
               TBR.INTE_FORE,
               TBR.RATE,
               TBR.TAX_RATE,
               TBR.MEASUREMENT_UNIT_CODE1,
               MDD_UNIT.DICT_LABEL MEASUREMENT_UNIT_NAME1,
               TBR.MEASUREMENT_UNIT_CODE2,
               TBR.STATUS,
               TBR.START_DATE,
               TBR.END_DATE,
               TBR.REMARK,
               TBR.CREATE_BY,
               TBR.CREATE_BY_NAME,
               TBR.CREATE_TIME,
               TBR.UPDATE_BY,
               TBR.UPDATE_BY_NAME,
               TBR.UPDATE_TIME
        FROM T_DIS_SHIPVOYAGE TDS
                 JOIN T_BUS_RATE TBR ON (TDS.TRADE_TYPE = TBR.INTE_FORE AND TDS.LEAVE_BERTH_TIME >= TBR.START_DATE AND
                                         TDS.LEAVE_BERTH_TIME &lt;= TBR.END_DATE)
                 JOIN M_DICT_DATA MDD_UNIT
                      ON (MDD_UNIT.DICT_TYPE = 'UNIT' AND TBR.MEASUREMENT_UNIT_CODE1 = MDD_UNIT.DICT_VALUE)
        WHERE TBR.STATUS = '10'
          AND TBR.RATE_ITEM_CODE IN ('BO00100', 'BO00101','MS00260','MS00261')
          AND TDS.ID = #{shipvoyageId,jdbcType=BIGINT}
    </select>

    <resultMap id="listCostShip" type="com.yy.ppm.statement.bean.po.TCostShipPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="type" column="TYPE" jdbcType="VARCHAR"/>
        <result property="shipvoyageId" column="SHIPVOYAGE_ID" jdbcType="BIGINT"/>
        <result property="trustId" column="TRUST_ID" jdbcType="BIGINT"/>
        <result property="number" column="NUMBER" jdbcType="INTEGER"/>
        <result property="rateItemCode" column="RATE_ITEM_CODE" jdbcType="VARCHAR"/>
        <result property="rateItemName" column="RATE_ITEM_NAME" jdbcType="VARCHAR"/>
        <result property="rate" column="RATE" jdbcType="DECIMAL"/>
        <result property="taxRate" column="TAX_RATE" jdbcType="DECIMAL"/>
        <result property="unitCode" column="UNIT_CODE" jdbcType="VARCHAR"/>
        <result property="unitName" column="UNIT_NAME" jdbcType="VARCHAR"/>
        <result property="amount" column="AMOUNT" jdbcType="DECIMAL"/>
        <result property="taxAmount" column="TAX_AMOUNT" jdbcType="DECIMAL"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="companyId" column="COMPANY_ID" jdbcType="BIGINT"/>
        <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="customerId" column="CUSTOMER_ID" jdbcType="BIGINT"/>
        <result property="customerName" column="CUSTOMER_NAME" jdbcType="VARCHAR"/>
        <result property="number2" column="NUMBER2" jdbcType="INTEGER"/>
    </resultMap>

    <select id="listCostShip" resultMap="listCostShip">
        SELECT ID,
               TYPE,
               SHIPVOYAGE_ID,
               SHIPVOYAGE_ITEM_ID,
               TRUST_ID,
               "NUMBER",
               RATE_ITEM_CODE,
               RATE_ITEM_NAME,
               RATE,
               TAX_RATE,
               UNIT_CODE,
               UNIT_NAME,
               AMOUNT,
               TAX_AMOUNT,
               STATUS,
               REMARK,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               COMPANY_ID,
               COMPANY_NAME,
               CUSTOMER_ID,
               CUSTOMER_NAME,
               RATE_ID,
               NUMBER2
        FROM T_COST_SHIP
        WHERE TYPE = '10' AND SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
    </select>

    <select id="listCostShipByVoyage" resultMap="listCostShip">
        SELECT ID,
               TYPE,
               SHIPVOYAGE_ID,
               SHIPVOYAGE_ITEM_ID,
               TRUST_ID,
               "NUMBER",
               RATE_ITEM_CODE,
               RATE_ITEM_NAME,
               RATE,
               TAX_RATE,
               UNIT_CODE,
               UNIT_NAME,
               AMOUNT,
               TAX_AMOUNT,
               STATUS,
               REMARK,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               COMPANY_ID,
               COMPANY_NAME,
               CUSTOMER_ID,
               CUSTOMER_NAME,
               RATE_ID,
               NUMBER2
        FROM T_COST_SHIP
        WHERE SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
        AND TYPE = '10'
    </select>

    <insert id="insertCostShip">
        INSERT ALL
        <foreach collection="costShips" item="entity">
            INTO T_COST_SHIP(ID, TYPE, SHIPVOYAGE_ID, SHIPVOYAGE_ITEM_ID, TRUST_ID, "NUMBER", RATE_ITEM_CODE, RATE_ITEM_NAME, RATE,
            TAX_RATE,
            UNIT_CODE, UNIT_NAME, AMOUNT, TAX_AMOUNT, STATUS, REMARK, CREATE_BY, CREATE_BY_NAME, CREATE_TIME, UPDATE_BY,
            UPDATE_BY_NAME, UPDATE_TIME, COMPANY_ID, COMPANY_NAME, CUSTOMER_ID, CUSTOMER_NAME,RATE_ID,NUMBER2 )
            VALUES
            (#{entity.id, jdbcType=BIGINT}, #{entity.type, jdbcType=VARCHAR}, #{entity.shipvoyageId, jdbcType=BIGINT},
            #{entity.shipvoyageItemId, jdbcType=BIGINT}, #{entity.trustId, jdbcType=BIGINT}, #{entity.number, jdbcType=INTEGER},
            #{entity.rateItemCode, jdbcType=VARCHAR}, #{entity.rateItemName, jdbcType=VARCHAR},
            #{entity.rate, jdbcType=DECIMAL}, #{entity.taxRate, jdbcType=DECIMAL}, #{entity.unitCode, jdbcType=VARCHAR},
            #{entity.unitName, jdbcType=VARCHAR}, #{entity.amount, jdbcType=DECIMAL},
            #{entity.taxAmount, jdbcType=DECIMAL}, #{entity.status, jdbcType=VARCHAR},
            #{entity.remark, jdbcType=VARCHAR}, #{entity.loginUserId, jdbcType=BIGINT},
            #{entity.loginUserName, jdbcType=VARCHAR}, #{entity.now, jdbcType=TIMESTAMP},
            #{entity.updateBy, jdbcType=BIGINT}, #{entity.updateByName, jdbcType=VARCHAR},
            #{entity.updateTime, jdbcType=TIMESTAMP},#{entity.companyId, jdbcType=BIGINT},
            #{entity.companyName, jdbcType=VARCHAR}, #{entity.customerId, jdbcType=BIGINT},
            #{entity.customerName, jdbcType=VARCHAR},#{entity.rateId, jdbcType=BIGINT},#{entity.number2, jdbcType=INTEGER} )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertCostStatement">
        INSERT INTO T_COST_STATEMENT(ID, COMPANY_ID, COMPANY_NAME, STATEMENT_NO, CUSTOMER_ID, CUSTOMER_NAME, TYPE,
                                     TRUST_ID, TRUST_CARGO_ID, HANDOVERLIST_ID, SHIPVOYAGE_ID, SHIPVOYAGE_ITEM_ID,
                                     CARGO_CODE, CARGO_NAME, TRADE_TYPE, SETTLEMENT_DATE, STATUS, REMARK, CREATE_BY,
                                     CREATE_BY_NAME, CREATE_TIME, UPDATE_BY, UPDATE_BY_NAME, UPDATE_TIME, IS_FINAL)
        VALUES (#{id, jdbcType=BIGINT}, #{companyId, jdbcType=BIGINT}, #{companyName, jdbcType=VARCHAR},
                #{statementNo, jdbcType=VARCHAR}, #{customerId, jdbcType=BIGINT}, #{customerName, jdbcType=VARCHAR},
                #{type, jdbcType=VARCHAR}, #{trustId, jdbcType=BIGINT}, #{trustCargoId, jdbcType=BIGINT},
                #{handoverlistId, jdbcType=BIGINT}, #{shipvoyageId, jdbcType=BIGINT},
                #{shipvoyageItemId, jdbcType=BIGINT}, #{cargoCode, jdbcType=VARCHAR}, #{cargoName, jdbcType=VARCHAR},
                #{tradeType, jdbcType=VARCHAR}, #{settlementDate, jdbcType=TIMESTAMP}, #{status, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR}, #{loginUserId, jdbcType=BIGINT}, #{loginUserName, jdbcType=VARCHAR},
                #{now, jdbcType=TIMESTAMP}, #{updateBy, jdbcType=BIGINT}, #{updateByName, jdbcType=VARCHAR},
                #{updateTime, jdbcType=TIMESTAMP}, #{isFinal, jdbcType=VARCHAR})
    </insert>

    <insert id="insertCostStatementDetail">
        INSERT ALL
        <foreach collection="details" item="entity">
            INTO T_COST_STATEMENT_DETAIL(ID, STATEMENT, CONTRACT_ID, RATE_ITEM_CODE, RATE_ITEM_NAME,
            SERVICE_CONTENT_ID, SERVICE_CONTENT_NAME, PROCESS_CODE, PROCESS_NAME, RATE, UNIT_CODE, UNIT_NAME, "NUMBER",
            AMOUNT, TAX, TAX_AMOUNT, REMARK, CREATE_BY, CREATE_BY_NAME, CREATE_TIME,
            BUSINESS_ID,RATE_ID,NUMBER2)
            VALUES
            (#{entity.id, jdbcType=BIGINT}, #{entity.statement, jdbcType=BIGINT}, #{entity.contractId, jdbcType=BIGINT},
            #{entity.rateItemCode, jdbcType=VARCHAR},
            #{entity.rateItemName, jdbcType=VARCHAR}, #{entity.serviceContentId, jdbcType=BIGINT},
            #{entity.serviceContentName, jdbcType=VARCHAR}, #{entity.processCode, jdbcType=VARCHAR},
            #{entity.processName, jdbcType=VARCHAR}, #{entity.rate, jdbcType=DECIMAL},
            #{entity.unitCode, jdbcType=VARCHAR}, #{entity.unitName, jdbcType=VARCHAR},
            #{entity.number, jdbcType=DECIMAL}, #{entity.amount, jdbcType=DECIMAL}, #{entity.tax, jdbcType=DECIMAL},
            #{entity.taxAmount, jdbcType=DECIMAL}, #{entity.remark, jdbcType=VARCHAR},
            #{entity.loginUserId, jdbcType=BIGINT}, #{entity.loginUserName, jdbcType=VARCHAR},
            #{entity.now, jdbcType=TIMESTAMP}, #{entity.businessId, jdbcType=BIGINT},
            #{entity.rateId, jdbcType=BIGINT}, #{entity.number2, jdbcType=DECIMAL})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <delete id="deleteCostShip">
        DELETE
        FROM T_COST_SHIP
        WHERE TYPE = '10'
          AND SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
    </delete>

    <update id="updateCostShip">
        UPDATE T_COST_SHIP
        SET STATUS = #{status,jdbcType=VARCHAR}
        WHERE SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
        AND TYPE = '10'
    </update>

    <resultMap id="getCostStatement" type="com.yy.ppm.statement.bean.po.TCostStatementPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="companyId" column="COMPANY_ID" jdbcType="BIGINT"/>
        <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="statementNo" column="STATEMENT_NO" jdbcType="VARCHAR"/>
        <result property="customerId" column="CUSTOMER_ID" jdbcType="BIGINT"/>
        <result property="customerName" column="CUSTOMER_NAME" jdbcType="VARCHAR"/>
        <result property="type" column="TYPE" jdbcType="VARCHAR"/>
        <result property="trustId" column="TRUST_ID" jdbcType="BIGINT"/>
        <result property="trustCargoId" column="TRUST_CARGO_ID" jdbcType="BIGINT"/>
        <result property="handoverlistId" column="HANDOVERLIST_ID" jdbcType="BIGINT"/>
        <result property="shipvoyageId" column="SHIPVOYAGE_ID" jdbcType="BIGINT"/>
        <result property="shipvoyageItemId" column="SHIPVOYAGE_ITEM_ID" jdbcType="BIGINT"/>
        <result property="cargoCode" column="CARGO_CODE" jdbcType="VARCHAR"/>
        <result property="cargoName" column="CARGO_NAME" jdbcType="VARCHAR"/>
        <result property="tradeType" column="TRADE_TYPE" jdbcType="VARCHAR"/>
        <result property="settlementDate" column="SETTLEMENT_DATE" jdbcType="TIMESTAMP"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="isFinal" column="IS_FINAL" jdbcType="VARCHAR"/>
        <result property="statementByName" column="STATEMENT_BY_NAME" jdbcType="VARCHAR"/>
        <result property="reviewByName" column="REVIEW_BY_NAME" jdbcType="VARCHAR"/>
        <result property="reviewTime" column="REVIEW_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getCostStatement" resultMap="getCostStatement">
        SELECT ID,
               COMPANY_ID,
               COMPANY_NAME,
               STATEMENT_NO,
               CUSTOMER_ID,
               CUSTOMER_NAME,
               TYPE,
               TRUST_ID,
               TRUST_CARGO_ID,
               HANDOVERLIST_ID,
               SHIPVOYAGE_ID,
               SHIPVOYAGE_ITEM_ID,
               CARGO_CODE,
               CARGO_NAME,
               TRADE_TYPE,
               SETTLEMENT_DATE,
               STATUS,
               REMARK,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               IS_FINAL,
               STATEMENT_BY_NAME,
               REVIEW_BY_NAME,
               REVIEW_TIME
        FROM T_COST_STATEMENT
        WHERE TYPE = '30'
          AND SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
          AND ID IN (
              SELECT TCSD.STATEMENT FROM T_COST_STATEMENT_DETAIL TCSD
                INNER JOIN T_COST_SHIP TCS ON TCSD.BUSINESS_ID = TCS.ID
                WHERE TCS.TYPE = '10' AND TCS.SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
          )
    </select>

    <delete id="deleteCostStatement">
        DELETE
        FROM T_COST_STATEMENT
        WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteCostStatementDetail">
        DELETE
        FROM T_COST_STATEMENT_DETAIL
        WHERE STATEMENT = #{statementId,jdbcType=BIGINT}
    </delete>
    <select id="getShipKindName" resultType="java.lang.String">
       select E.DICT_LABEL AS "shipKindName"
        FROM T_DIS_SHIPVOYAGE TDS
        LEFT JOIN M_SHIP MS ON TDS.SHIP_ID = MS.ID
        left join M_DICT_DATA E ON MS.SHIP_KIND_CODE=e.DICT_VALUE and E.DICT_TYPE='SHIP_KIND'
        where  TDS.ID =  #{shipvoyageId,jdbcType=BIGINT}
    </select>

    <select id="getCostShipStatus" resultType="com.yy.ppm.statement.bean.dto.costShip.TCostShipStatusDTO">
       SELECT ID,STATUS FROM T_COST_SHIP TCS WHERE TCS."TYPE" = '10' AND TCS.SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
    </select>
    <select id="getCostStatementStatus" resultType="com.yy.ppm.statement.bean.dto.costShip.TCostShipStatusDTO">
       SELECT ID,STATUS FROM T_COST_STATEMENT
        WHERE ID IN
        (
            SELECT TCSD.STATEMENT FROM T_COST_STATEMENT_DETAIL TCSD
            INNER JOIN T_COST_SHIP TCS ON TCSD.BUSINESS_ID = TCS.ID
            WHERE TCS.TYPE = '10' AND TCS.SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
        )
    </select>
    <select id="listOtherCostShip" resultType="com.yy.ppm.statement.bean.po.TCostShipPO">
        SELECT ID,
        TYPE,
        SHIPVOYAGE_ID,
        SHIPVOYAGE_ITEM_ID,
        TRUST_ID,
        "NUMBER",
        RATE_ITEM_CODE,
        RATE_ITEM_NAME,
        RATE,
        TAX_RATE,
        UNIT_CODE,
        UNIT_NAME,
        AMOUNT,
        TAX_AMOUNT,
        STATUS,
        REMARK,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        COMPANY_ID,
        COMPANY_NAME,
        CUSTOMER_ID,
        CUSTOMER_NAME,
        RATE_ID,
        NUMBER2
        FROM T_COST_SHIP
        WHERE TYPE = '20' AND SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
    </select>
    <select id="getMiscByShipItemId" resultType="com.yy.ppm.statement.bean.po.TCostShipPO">
        select
        a.ID,
        a.RATE_ITEM_CODE,
        a.RATE_NAME as rateItemName,
        a.RATE,
        a.TAX_RATE,
        a.RATE_ID,
        a.VOYAGE_ID,
        a.SHIP_VOYAGE,
        a.BILL_QUANTITY as "number",
        a.BILL_QUANTITY2 as "number2",
        a.AMOUNT_MONEY as "amount",
        a.TAX_AMOUNT,
        a.CREATE_BY, a.CREATE_BY_NAME,a.CREATE_TIME,a.UPDATE_BY,a.UPDATE_TIME,a.UPDATE_BY_NAME,
        a.STATUS,
        a.company_id,
        a.company_name,
        a.STATEMENT_ID,
        a.UNIT_CODE,
        a.UNIT_NAME,
        a.REMARK
        from
        T_MISC_BILLING a
        LEFT JOIN M_FEE_ITEM MFI  ON to_char(MFI.ITEM_CD) = TO_CHAR(a.RATE_ITEM_CODE)
        <where>
           MFI.ITEM_TYPE_CD NOT IN ('2')
            AND a.VOYAGE_ID = #{shipvoyageItemId,jdbcType=BIGINT}
        </where>
    </select>


    <select id="getShipVoyageDynamicList" resultType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO"
    parameterType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO">
        SELECT  ID,SHIPVOYAGE_ID,DYNAMIC_TYPE_CODE,SHIPVOYAGE_ITEM_ID,DYNAMIC_START_TIME FROM T_DIS_SHIP_DYNAMIC
        WHERE
          DYNAMIC_TYPE_CODE IN  (110,50)
          AND SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
          AND SHIPVOYAGE_ID =#{shipvoyageId,jdbcType=BIGINT}
            ORDER BY DYNAMIC_START_TIME
    </select>
    <select id="getDynamicListByShipVoyageId" resultType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO"
    parameterType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO">
        SELECT  TDSD.ID,TCSI.IMP_EXP SHIP_STATUS_CODE,TDSD.SHIPVOYAGE_ID,TDSD.DYNAMIC_TYPE_CODE,TDSD.SHIPVOYAGE_ITEM_ID,TDSD.DYNAMIC_START_TIME
        FROM T_COST_SHIPVOYAGE TCS
        LEFT JOIN T_COST_SHIPVOYAGE_ITEM TCSI ON TCS.ID = TCSI.SHIPVOYAGE_ID
        LEFT JOIN  T_DIS_SHIP_DYNAMIC TDSD ON TCSI.ID  = TDSD.SHIPVOYAGE_ID
        WHERE
          DYNAMIC_TYPE_CODE IN  (110,100,50)
          AND TCS.ID =#{shipvoyageId,jdbcType=BIGINT}
        ORDER BY DYNAMIC_START_TIME
    </select>
    <select id="getSpecialDynamicByShipvoyageItemId"  resultType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO">
        SELECT ID,
               SHIPVOYAGE_ID,
               DYNAMIC_TYPE_CODE,
               SHIPVOYAGE_ITEM_ID,
               DYNAMIC_START_TIME,
               DYNAMIC_END_TIME
        FROM  T_DIS_SHIP_DYNAMIC
        WHERE
            DYNAMIC_TYPE_CODE = '130'
          AND SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
        ORDER BY DYNAMIC_START_TIME
    </select>
    <select id="getSpecialCostShipListByShip" resultType="com.yy.ppm.statement.bean.dto.costShip.CostShipDetailExportDTO">
        select distinct
                        TCSHIP.AMOUNT,
                        TCSHIP.RATE_ITEM_NAME FEE_ITEM,
                        TCSHIP."NUMBER" special_Number

        from T_COST_SHIP TCSHIP
        where
            TCSHIP.RATE_ITEM_CODE IN ('MS00260','MS00261')
          and TCSHIP.SHIPVOYAGE_ID = #{shipvoyageId}
          and TCSHIP.SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId}

    </select>
    <select id="getLastPort" resultType="com.yy.ppm.statement.bean.dto.costShip.TDisShipvoyageItemDTO"
            parameterType="com.yy.ppm.dispatch.bean.po.TDisShipvoyageItemPO">
        select ID,
               SHIPVOYAGE_ID,
               DYNAMIC_TYPE_CODE,
               SHIPVOYAGE_ITEM_ID,
               DYNAMIC_START_TIME
        from T_DIS_SHIP_DYNAMIC where SHIPVOYAGE_ID = #{shipvoyageId,jdbcType=BIGINT}
                                     and  DYNAMIC_TYPE_CODE in ('50','110')
            <choose>
                <when test="impExp!=null and impExp!='' and impExp =='IN'">

                    and DYNAMIC_START_TIME &lt;=(
                    select nvl(max(DYNAMIC_START_TIME),to_date('1997-01-01','yyyy-MM-dd'))
                    from T_DIS_SHIP_DYNAMIC where SHIPVOYAGE_ITEM_ID != #{id,jdbcType=BIGINT}
                    AND SHIPVOYAGE_ID =#{shipvoyageId,jdbcType=BIGINT} and DYNAMIC_TYPE_CODE = 50 )
                </when>
                <when test="impExp!=null and impExp!='' and impExp =='OUT'">
                    and DYNAMIC_START_TIME >=(
                    select nvl(max(DYNAMIC_START_TIME),to_date('1997-01-01','yyyy-MM-dd'))
                    from T_DIS_SHIP_DYNAMIC where SHIPVOYAGE_ITEM_ID != #{id,jdbcType=BIGINT}
                    AND SHIPVOYAGE_ID =#{shipvoyageId,jdbcType=BIGINT} and DYNAMIC_TYPE_CODE = 50 )
                </when>
                <otherwise>
                    and DYNAMIC_START_TIME &lt; to_date('1997-01-01','yyyy-MM-dd')
                </otherwise>
            </choose>
        ORDER BY DYNAMIC_START_TIME
    </select>

</mapper>