<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.business.mapper.ComprehensiveMapper">

    <select id="getList" resultType="com.yy.ppm.business.bean.dto.ComprehensiveDTO">
        WITH counts AS (
        SELECT
        (SELECT COALESCE(SUM(FID.NUMBER_COUNT), 0)
        FROM T_FD_INVOICE FI
		LEFT JOIN T_FD_INVOICE_DETAIL FID ON FID.INVOICE_ID =FI.ID
        WHERE INVOICE_TYPE_CODE ='10'
        AND STATUS ='1'
        AND INVOICE_TIME = TO_DATE(#{planDate}, 'YYYY-MM-DD')) AS INVOICE_DAY_COUNT,

        (SELECT COALESCE(SUM(FID.NUMBER_COUNT), 0)
        FROM T_FD_INVOICE FI
		LEFT JOIN T_FD_INVOICE_DETAIL FID ON FID.INVOICE_ID =FI.ID
        WHERE INVOICE_TYPE_CODE ='10'
        AND STATUS ='1'
        AND EXTRACT(MONTH FROM INVOICE_TIME) = EXTRACT(MONTH FROM TO_DATE(#{planDate}, 'YYYY-MM-DD'))
        AND EXTRACT(YEAR FROM INVOICE_TIME) = EXTRACT(YEAR FROM TO_DATE(#{planDate}, 'YYYY-MM-DD'))) AS INVOICE_MOUTH_COUNT,

        (SELECT COALESCE(SUM(FID.NUMBER_COUNT), 0)
        FROM T_FD_INVOICE FI
		LEFT JOIN T_FD_INVOICE_DETAIL FID ON FID.INVOICE_ID =FI.ID
        WHERE INVOICE_TYPE_CODE ='10'
        AND STATUS ='1'
        AND EXTRACT(YEAR FROM INVOICE_TIME) = EXTRACT(YEAR FROM TO_DATE(#{planDate}, 'YYYY-MM-DD'))) AS INVOICE_YEAR_COUNT,

        (SELECT COALESCE(SUM(FID.NUMBER_COUNT), 0)
         FROM T_FD_INVOICE FI
         LEFT JOIN T_FD_INVOICE_DETAIL FID ON FID.INVOICE_ID =FI.ID
         WHERE FI.INVOICE_TYPE_CODE ='10' AND FI.STATUS ='1' AND FID.TRADE_TYPE='外贸'
         AND INVOICE_TIME = TO_DATE(#{planDate}, 'YYYY-MM-DD')) AS TRADE_DAY_COUNT,

		 (SELECT COALESCE(SUM(FID.NUMBER_COUNT), 0)
         FROM T_FD_INVOICE FI
         LEFT JOIN T_FD_INVOICE_DETAIL FID ON FID.INVOICE_ID =FI.ID
         WHERE FI.INVOICE_TYPE_CODE ='10' AND FI.STATUS ='1' AND FID.TRADE_TYPE='外贸'
         AND EXTRACT(MONTH FROM INVOICE_TIME) = EXTRACT(MONTH FROM TO_DATE(#{planDate}, 'YYYY-MM-DD'))
         AND EXTRACT(YEAR FROM INVOICE_TIME) = EXTRACT(YEAR FROM TO_DATE(#{planDate}, 'YYYY-MM-DD')))  AS TRADE_MOUTH_COUNT,

		 (SELECT COALESCE(SUM(FID.NUMBER_COUNT), 0)
         FROM T_FD_INVOICE FI
         LEFT JOIN T_FD_INVOICE_DETAIL FID ON FID.INVOICE_ID =FI.ID
         WHERE FI.INVOICE_TYPE_CODE ='10' AND FI.STATUS ='1' AND FID.TRADE_TYPE='外贸'
         AND EXTRACT(YEAR FROM INVOICE_TIME) = EXTRACT(YEAR FROM TO_DATE(#{planDate}, 'YYYY-MM-DD')))  AS TRADE_YEAR_COUNT,

         (SELECT COALESCE(count(NOTE_ID), 0)
         FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
         WHERE IS_FINISHED = 0 AND IS_DELETE = 0) AS nowCarCount,

         (SELECT COALESCE(count(NOTE_ID), 0)
         FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
         WHERE  WEIGH_IN_DT >= TO_DATE(#{planDate}, 'YYYY-MM-DD')
         AND WEIGH_IN_DT &lt; TO_DATE(#{planDate}, 'YYYY-MM-DD')+1) AS dayCarCount,

         (SELECT COALESCE(count(NOTE_ID), 0)
         FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
         WHERE  EXTRACT(MONTH FROM WEIGH_IN_DT) = EXTRACT(MONTH FROM TO_DATE(#{planDate}, 'YYYY-MM-DD'))
         AND EXTRACT(YEAR FROM WEIGH_IN_DT) = EXTRACT(YEAR FROM TO_DATE(#{planDate}, 'YYYY-MM-DD'))) AS mouthCarCount,

        (SELECT COALESCE(count(NOTE_ID), 0) from WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND WHERE  WEIGH_IN_DT >= TO_DATE(#{planDate}, 'YYYY-MM-DD')
        AND WEIGH_IN_DT &lt; TO_DATE(#{planDate}, 'YYYY-MM-DD')+1 AND PORT_CODE ='01') AS eastPort,

        (SELECT COALESCE(count(NOTE_ID), 0) from WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND WHERE  WEIGH_IN_DT >= TO_DATE(#{planDate}, 'YYYY-MM-DD')
        AND WEIGH_IN_DT &lt; TO_DATE(#{planDate}, 'YYYY-MM-DD')+1 AND PORT_CODE ='02') AS midPort,

        (SELECT COALESCE(count(NOTE_ID), 0) from WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND WHERE  WEIGH_IN_DT >= TO_DATE(#{planDate}, 'YYYY-MM-DD')
        AND WEIGH_IN_DT &lt; TO_DATE(#{planDate}, 'YYYY-MM-DD')+1 AND PORT_CODE ='03') AS westPort
         FROM dual
        )
        SELECT * FROM counts
    </select>

    <select id="getPieList" resultType="com.yy.ppm.business.bean.dto.CargoTypeDTO">
    SELECT
    t1.CARGO_TYPE_CODE,t1.CARGO_TYPE_NAME,sum (FID.NUMBER_COUNT) allCount
    FROM
	T_FD_INVOICE FI
	LEFT JOIN T_FD_INVOICE_DETAIL FID ON FID.INVOICE_ID = FI.ID
	LEFT JOIN T_COST_STATEMENT TCS ON TCS.STATEMENT_NO = FID.STATEMENT_NO
	LEFT JOIN M_CARGO t ON t.CARGO_CODE = TCS.CARGO_CODE
	LEFT JOIN M_CARGO_CATEGORY t1 ON t.CARGO_CATEGORY_CODE = t1.CARGO_CATEGORY_CODE
    WHERE
	FI.INVOICE_TYPE_CODE = '10'
	AND FI.STATUS = '1'
	AND EXTRACT( MONTH FROM INVOICE_TIME ) = EXTRACT( MONTH FROM TO_DATE(#{planDate}, 'YYYY-MM-DD' ) )
	AND EXTRACT( YEAR FROM INVOICE_TIME ) = EXTRACT( YEAR FROM TO_DATE(#{planDate}, 'YYYY-MM-DD' ) )
	GROUP BY t1.CARGO_TYPE_CODE,t1.CARGO_TYPE_NAME
    </select>
</mapper>
