<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.business.mapper.ReCargoNameMapper">

    <select id="getList" resultType="com.yy.ppm.master.bean.dto.MCargoDTO"
            parameterType="com.yy.ppm.business.bean.dto.BusServiceSearchDTO">
        SELECT MCC.CARGO_CATEGORY_CODE,MCC.CARGO_CATEGORY_NAME,MC.CARGO_CODE,MC.CARGO_NAME,MC.SIGN FROM M_CARGO MC
        LEFT JOIN M_CARGO_CATEGORY MCC ON MC.CARGO_CATEGORY_CODE = MCC.CARGO_CATEGORY_CODE
        <where>
            <if test="cargoCategoryCode != null">
                MC.CARGO_CATEGORY_CODE = #{cargoCategoryCode}
            </if>
            <if test="cargoCode != null">
                AND MC.CARGO_CODE = #{cargoCode}
            </if>
            <if test="cargoCategoryName != null and cargoCategoryName != ''">
                <bind name="cargoCategoryName" value="'%' + cargoCategoryName + '%'"/>
                AND (MCC.CARGO_CATEGORY_NAME LIKE  #{cargoCategoryName,jdbcType=VARCHAR})
            </if>

            <if test="cargoName != null and cargoName != ''">
                <bind name="cargoName" value="'%' + cargoName + '%'"/>
                AND (MC.CARGO_NAME LIKE  #{cargoName,jdbcType=VARCHAR})
            </if>
        </where>
    </select>


    <update id="update" parameterType="com.yy.ppm.business.bean.dto.reCargoName.ReCargoNameDTO">
        BEGIN
        UPDATE M_CARGO
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_COST_STATEMENT
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_DIS_SHIPVOYAGE_ITEM
        SET CARGO_CATEGORY_NAME = #{newCargoName}
        WHERE CARGO_CATEGORY_CODE IS NOT NULL
          AND CARGO_CATEGORY_CODE = #{cargoCode};
        UPDATE T_BUS_CARGO_INFO
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_BUS_TRUST_CARGO
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_BUS_HANDOVERLIST
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_BUS_HANDOVERLIST_TRANSFER
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_YARD_TALLY_ITEM
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_PRD_WORK_TICKET_DETAIL
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_BUS_CONTRACT_TRATE_CARGO
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_BUS_CONTRACT_RATE
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_BUS_RATE_LOG
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_PRD_SALARY_SUMMAR
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_PRD_SALARY
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE T_BUS_TRATE_ITEM_CARGO
        SET CARGO_NAME = #{newCargoName}
        WHERE CARGO_CODE IS NOT NULL
          AND CARGO_CODE = #{cargoCode};
        UPDATE WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
        SET GOODS_NAME = #{newCargoName}
        WHERE GOODS_CODE IS NOT NULL
          AND GOODS_CODE = #{cargoCode};
        END;
    </update>

    <insert id="save" parameterType="com.yy.ppm.business.bean.dto.reCargoName.ReCargoNameDTO">
        INSERT INTO WFG_PORTMIS_TEST.RE_CARGO_NAME
        (ID, OLD_CARGO_NAME, NEW_CARGO_NAME,
         CARGO_CATEGORY_CODE,
         CARGO_CODE,
         REMARK,
         CREATE_BY, CREATE_BY_NAME, CREATE_TIME)
        VALUES (#{id},
                #{oldCargoName},
                #{newCargoName},
                #{cargoCategoryCode},
                #{cargoCode},
                #{remark},
                #{createBy},
                #{createByName},
                #{createTime})
    </insert>


</mapper>
