<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.business.mapper.ScheduledForCloseTrustMapper">
  <select id="getCargoInfo" resultType="map">
      WITH
      SOURCE AS (
      SELECT
      TBCI.ID,
      CASE
      WHEN TBCI.SOURCE = '30' THEN '货转'
      WHEN TBCI.SOURCE = '50' THEN '混配'
      when TBCI.SOURCE = '20' then '集港'
      when tbci.SOURCE = '10' then '卸船'
      ELSE COALESCE(
      TBCI.IS_TOS,
      CASE
      WHEN TBT.TYPE = '拆箱集港' THEN '集港'
      ELSE TBT.TYPE
      END
      )
      END "source"
      FROM
      T_BUS_CARGO_INFO TBCI
      LEFT JOIN T_BUS_TRUST TBT ON TBCI.TRUST_ID = TBT.ID
      ),
      sg_tbt as (
      select distinct TBTC3.ID,TBTC3.CARGO_INFO_ID ,TBTC3.TRUST_ID
      from T_BUS_TRUST_CARGO TBTC3
      join T_BUS_TRUST TBT2 on TBTC3.TRUST_ID = TBT2.ID
      where TBT2.TYPE = '疏港' and TBTC3.HAS_STOP = '0'
      )
      ,
      STORAGE_RATE AS (
      SELECT
      TBCC.COMPANY_ID,
      TBC.CUSTOMER_ID,
      TBC.START_TIME,
      TBC.END_TIME,
      TBCR.CARGO_CODE,
      TBCR.FREE_STORAGE_DAYS
      FROM
      T_BUS_CONTRACT_COMPANY TBCC
      JOIN T_BUS_CONTRACT TBC ON (
      TBC.STATUS = '20'
      AND TBCC.CONTRACT_ID = TBC.ID
      )
      JOIN T_BUS_CONTRACT_RATE TBCR ON (
      TBCR.TYPE = '10'
      AND TBCR.RATE_ITEM_CODE = 'MS00240'
      AND TBC.ID = TBCR.CONTRACT_ID
      )
      GROUP BY
      TBCC.COMPANY_ID,
      TBC.CUSTOMER_ID,
      TBC.START_TIME,
      TBC.END_TIME,
      TBCR.CARGO_CODE,
      TBCR.FREE_STORAGE_DAYS
      ORDER BY
      TBCR.FREE_STORAGE_DAYS DESC
      )
      select *
      from (
      SELECT
      SOURCE."source",
      TBCI.ID,
      TBCI.CARGO_INFO_NO,
      TBCI.CARGO_OWNER_NAME,
      SGTBT.id "trust_cargo_id",


      TRUNC (
      NVL (TBCI.REAL_CLEAR_DATE, SYSDATE) - CASE
      SOURCE."source"
      WHEN '卸船' THEN TDSI.WORK_START_TIME
      WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
      WHEN '货转' THEN TBCI.TRANSFER_DATE
      WHEN '混配' THEN TBCMR.MIX_TIME
      END - CASE
      SOURCE."source"
      WHEN '卸船' THEN MIN(STORAGE_RATE.FREE_STORAGE_DAYS)
      WHEN '集港' THEN MIN(STORAGE_RATE.FREE_STORAGE_DAYS)
      WHEN '货转' THEN TBCI.RESIDUE_STORAGE
      WHEN '混配' THEN TBCI.MIX_FREE_STORAGE_DAYS
      END,
      0
      ) "overdueDays",
      TBCI.STATEMENT_STATUS_CODE STATEMENT_STATUS,
      CASE
      TO_CHAR (TBCI.IS_CLEAR)
      WHEN '0' THEN '否'
      WHEN '1' THEN '是'
      END "isClearLabel"
      FROM
      T_BUS_CARGO_INFO TBCI
      join sg_tbt SGTBT on SGTBT.CARGO_INFO_ID = TBCI.id
      JOIN SOURCE ON (
      TBCI.ID = SOURCE.ID
      AND SOURCE."source" IN ('卸船', '集港', '货转', '混配')
      )
      LEFT JOIN T_BUS_TRUST TBT ON TBCI.TRUST_ID = TBT.ID
      left join T_BUS_TRUST_CARGO TBTC2  on TBTC2.CARGO_INFO_ID = TBCI.id and TBTC2.TRUST_ID = TBT.ID

      LEFT JOIN T_DIS_SHIPVOYAGE TDS ON TBCI.SHIPVOYAGE_ID = TDS.ID
      LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TBCI.SHIPVOYAGE_ITEM_ID = TDSI.ID
      JOIN M_CARGO MC ON (
      MC.DEL_FLAG = '0'
      AND TBCI.CARGO_CODE = MC.CARGO_CODE
      )
      LEFT JOIN (
      SELECT
      TEMP.CARGO_INFO_ID,
      MIN(TEMP.WEIGH_OUT_DT) "minWeighOutDt"
      FROM
      (
      SELECT
      TEMP.CARGO_INFO_ID,
      VWI.WEIGH_OUT_DT
      FROM
      (
      SELECT
      TBTC.BUSINESS_NO,
      TBTC.CARGO_INFO_ID
      FROM
      T_BUS_TRUST_CARGO TBTC
      JOIN T_BUS_TRUST TBT ON TBTC.TRUST_ID = TBT.ID
      AND TBT.TYPE IN ('集港', '拆箱集港')
      ) TEMP
      JOIN V_WEIGHT_INFO VWI ON VWI.IS_OLD = '否'
      AND TEMP.BUSINESS_NO = VWI.PLAN_NO
      UNION ALL
      SELECT
      TO_NUMBER (VWI2.CARGO_INFO_ID),
      VWI2.WEIGH_OUT_DT
      FROM
      V_WEIGHT_INFO VWI2
      WHERE
      VWI2.IS_OLD = '是'
      AND VWI2.PLAN_TYPE IN ('集港', '拆箱集港')
      ) TEMP
      GROUP BY
      TEMP.CARGO_INFO_ID
      ) WEIGH_JG ON TBCI.ID = WEIGH_JG.CARGO_INFO_ID
      LEFT JOIN T_BUS_CARGO_MIX_RECORD TBCMR ON TBCI.ID = TBCMR.CARGO_INFO_ID
      LEFT JOIN STORAGE_RATE ON (
      TBCI.COMPANY_ID = STORAGE_RATE.COMPANY_ID
      AND TBCI.CARGO_OWNER_ID = STORAGE_RATE.CUSTOMER_ID
      AND to_char (
      CASE
      SOURCE."source"
      WHEN '卸船' THEN TDSI.WORK_START_TIME
      WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
      WHEN '货转' THEN TBCI.TRANSFER_DATE
      WHEN '混配' THEN TBCMR.MIX_TIME
      END,
      'yyyy-MM-dd'
      ) >= to_char (STORAGE_RATE.START_TIME, 'yyyy-MM-dd')
      AND to_char (
      CASE
      SOURCE."source"
      WHEN '卸船' THEN TDSI.WORK_START_TIME
      WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
      WHEN '货转' THEN TBCI.TRANSFER_DATE
      WHEN '混配' THEN TBCMR.MIX_TIME
      END,
      'yyyy-MM-dd'
      ) &lt;= to_char (STORAGE_RATE.END_TIME, 'yyyy-MM-dd')
      AND TBCI.CARGO_CODE = STORAGE_RATE.CARGO_CODE
      )
      WHERE TBCI.IS_SETTLE_STORAGE = '1' and TBTC2.id is not null and has_stop = '0' and TBTC2.IS_STOP = '10'
      GROUP BY
      SOURCE."source",
      TBTC2.id,
      TBCI.ID,
      TBCI.CARGO_INFO_NO,
      TBCI.CARGO_OWNER_ID,
      TBCI.CARGO_OWNER_NAME,
      MC.SIGN,
      TBCI.CARGO_NAME,
      MC.WORK_TYPE,
      TBCI.SHIPVOYAGE_ID,
      TBCI.SHIPVOYAGE_ITEM_ID,
      TDS.SHIP_NAME,
      TDSI.VOYAGE,
      TDS.SCN,
      TDS.BERTH_TIME,
      TDSI.WORK_START_TIME,
      TDSI.WORK_END_TIME,
      TDS.LEAVE_BERTH_TIME,
      TDSI.LOAD_UNLOAD,
      TDSI.IMP_EXP,
      TBCI.TRADE_TYPE,
      WEIGH_JG."minWeighOutDt",
      TBCI.TRANSFER_DATE,
      TBCMR.MIX_TIME,
      TBCI.CLEAR_BY_NAME,
      TBCI.REAL_CLEAR_DATE,
      TBT.TRUST_NO,
      TBT.RELEASE_TIME,
      TBCI.COMPANY_ID,
      TBCI.COMPANY_NAME,
      TBCI.CLEAR_DATE,
      TBCI.RESIDUE_STORAGE,
      TBCI.MIX_FREE_STORAGE_DAYS,
      TBCI.STATEMENT_STATUS_CODE,
      TBCI.IS_CLEAR,
      TBCI.CREATE_TIME,
      SGTBT.id
      ) where "overdueDays" =1
  </select>
    <update id="trustCargoSetStop" parameterType="java.lang.Long">
        <foreach collection="list" open="BEGIN" close=";END;" item="item" separator=";" index="index">
            update T_BUS_TRUST_CARGO
            set HAS_STOP = '1',
            IS_STOP = '20'
            where id = #{item,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>
