<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.business.mapper.TBusTrustTradeReservationMapper">
    <resultMap id="listTrustCargo" type="com.yy.ppm.business.bean.dto.trustTradeReservation.TBusTrustCargoDTO">
        <result property="tbtcId" column="TBTC_ID" jdbcType="BIGINT"/>
        <result property="tbtcTrustId" column="TBTC_TRUST_ID" jdbcType="BIGINT"/>
        <result property="tbtcCargoInfoId" column="TBTC_CARGO_INFO_ID" jdbcType="BIGINT"/>
        <result property="tbtcDirection" column="TBTC_DIRECTION" jdbcType="VARCHAR"/>
        <result property="tbtcQuantity" column="TBTC_QUANTITY" jdbcType="INTEGER"/>
        <result property="tbtcTon" column="TBTC_TON" jdbcType="DECIMAL"/>
        <result property="tbtcCargoOwnerId" column="TBTC_CARGO_OWNER_ID" jdbcType="BIGINT"/>
        <result property="tbtcCargoOwnerName" column="TBTC_CARGO_OWNER_NAME" jdbcType="VARCHAR"/>
        <result property="tbtcCargoAgentId" column="TBTC_CARGO_AGENT_ID" jdbcType="BIGINT"/>
        <result property="tbtcCargoAgentName" column="TBTC_CARGO_AGENT_NAME" jdbcType="VARCHAR"/>
        <result property="tbtcCargoCode" column="TBTC_CARGO_CODE" jdbcType="VARCHAR"/>
        <result property="tbtcCargoName" column="TBTC_CARGO_NAME" jdbcType="VARCHAR"/>
        <result property="tbtcPackingCode" column="TBTC_PACKING_CODE" jdbcType="VARCHAR"/>
        <result property="tbtcPackingName" column="TBTC_PACKING_NAME" jdbcType="VARCHAR"/>
        <result property="tbtcCreateBy" column="TBTC_CREATE_BY" jdbcType="BIGINT"/>
        <result property="tbtcCreateByName" column="TBTC_CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtcCreateTime" column="TBTC_CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="tbtcUpdateBy" column="TBTC_UPDATE_BY" jdbcType="BIGINT"/>
        <result property="tbtcUpdateByName" column="TBTC_UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtcUpdateTime" column="TBTC_UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="tbtId" column="TBT_ID" jdbcType="BIGINT"/>
        <result property="tbtTrustNo" column="TBT_TRUST_NO" jdbcType="VARCHAR"/>
        <result property="tbtTrustType" column="TBT_TRUST_TYPE" jdbcType="INTEGER"/>
        <result property="tbtContractId" column="TBT_CONTRACT_ID" jdbcType="BIGINT"/>
        <result property="tbtCustomerId" column="TBT_CUSTOMER_ID" jdbcType="VARCHAR"/>
        <result property="tbtCustomerName" column="TBT_CUSTOMER_NAME" jdbcType="VARCHAR"/>
        <result property="tbtProcessCode" column="TBT_PROCESS_CODE" jdbcType="VARCHAR"/>
        <result property="tbtProcessName" column="TBT_PROCESS_NAME" jdbcType="VARCHAR"/>
        <result property="tbtCargoCategoryCode" column="TBT_CARGO_CATEGORY_CODE" jdbcType="VARCHAR"/>
        <result property="tbtCargoCategoryName" column="TBT_CARGO_CATEGORY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtTradeType" column="TBT_TRADE_TYPE" jdbcType="VARCHAR"/>
        <result property="tbtPlanQuantity" column="TBT_PLAN_QUANTITY" jdbcType="INTEGER"/>
        <result property="tbtPlanTon" column="TBT_PLAN_TON" jdbcType="DECIMAL"/>
        <result property="tbtRemark" column="TBT_REMARK" jdbcType="VARCHAR"/>
        <result property="tbtShipvoyageId" column="TBT_SHIPVOYAGE_ID" jdbcType="BIGINT"/>
        <result property="tbtShipvoyageItemId" column="TBT_SHIPVOYAGE_ITEM_ID" jdbcType="BIGINT"/>
        <result property="tbtShipName" column="TBT_SHIP_NAME" jdbcType="VARCHAR"/>
        <result property="tbtSettlementBasisCode" column="TBT_SETTLEMENT_BASIS_CODE" jdbcType="VARCHAR"/>
        <result property="tbtSettlementBasisName" column="TBT_SETTLEMENT_BASIS_NAME" jdbcType="VARCHAR"/>
        <result property="tbtCheckTon" column="TBT_CHECK_TON" jdbcType="DECIMAL"/>
        <result property="tbtCheckNumber" column="TBT_CHECK_NUMBER" jdbcType="INTEGER"/>
        <result property="tbtCompanyId" column="TBT_COMPANY_ID" jdbcType="BIGINT"/>
        <result property="tbtCompanyName" column="TBT_COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtStatus" column="TBT_STATUS" jdbcType="INTEGER"/>
        <result property="tbtCreateBy" column="TBT_CREATE_BY" jdbcType="BIGINT"/>
        <result property="tbtCreateByName" column="TBT_CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtCreateTime" column="TBT_CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="tbtUpdateBy" column="TBT_UPDATE_BY" jdbcType="BIGINT"/>
        <result property="tbtUpdateByName" column="TBT_UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtUpdateTime" column="TBT_UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="tbtReleaseBy" column="TBT_RELEASE_BY" jdbcType="BIGINT"/>
        <result property="tbtReleaseByName" column="TBT_RELEASE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtReleaseTime" column="TBT_RELEASE_TIME" jdbcType="TIMESTAMP"/>
        <result property="tbtCheckBy" column="TBT_CHECK_BY" jdbcType="BIGINT"/>
        <result property="tbtCheckByName" column="TBT_CHECK_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtCheckTime" column="TBT_CHECK_TIME" jdbcType="TIMESTAMP"/>
        <result property="tbtExamineBy" column="TBT_EXAMINE_BY" jdbcType="BIGINT"/>
        <result property="tbtExamineByName" column="TBT_EXAMINE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtExamineTime" column="TBT_EXAMINE_TIME" jdbcType="TIMESTAMP"/>
        <result property="tbciId" column="TBCI_ID" jdbcType="BIGINT"/>
        <result property="tbciShipvoyageId" column="TBCI_SHIPVOYAGE_ID" jdbcType="BIGINT"/>
        <result property="tbciShipvoyageItemId" column="TBCI_SHIPVOYAGE_ITEM_ID" jdbcType="BIGINT"/>
        <result property="tbciScn" column="TBCI_SCN" jdbcType="VARCHAR"/>
        <result property="tbciShipName" column="TBCI_SHIP_NAME" jdbcType="VARCHAR"/>
        <result property="tbciCargoInfoNo" column="TBCI_CARGO_INFO_NO" jdbcType="VARCHAR"/>
        <result property="tbciCargoOwnerId" column="TBCI_CARGO_OWNER_ID" jdbcType="BIGINT"/>
        <result property="tbciCargoOwnerName" column="TBCI_CARGO_OWNER_NAME" jdbcType="VARCHAR"/>
        <result property="tbciCargoAgentId" column="TBCI_CARGO_AGENT_ID" jdbcType="BIGINT"/>
        <result property="tbciCargoAgentName" column="TBCI_CARGO_AGENT_NAME" jdbcType="VARCHAR"/>
        <result property="tbciCargoCode" column="TBCI_CARGO_CODE" jdbcType="VARCHAR"/>
        <result property="tbciCargoName" column="TBCI_CARGO_NAME" jdbcType="VARCHAR"/>
        <result property="tbciTradeType" column="TBCI_TRADE_TYPE" jdbcType="VARCHAR"/>
        <result property="tbciPackingCode" column="TBCI_PACKING_CODE" jdbcType="VARCHAR"/>
        <result property="tbciPackingName" column="TBCI_PACKING_NAME" jdbcType="VARCHAR"/>
        <result property="tbciCompanyId" column="TBCI_COMPANY_ID" jdbcType="BIGINT"/>
        <result property="tbciCompanyName" column="TBCI_COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="tbciParentId" column="TBCI_PARENT_ID" jdbcType="BIGINT"/>
        <result property="tbciRootId" column="TBCI_ROOT_ID" jdbcType="BIGINT"/>
        <result property="tbciQuantity" column="TBCI_QUANTITY" jdbcType="INTEGER"/>
        <result property="tbciTon" column="TBCI_TON" jdbcType="DECIMAL"/>
        <result property="tbciRightsQuantity" column="TBCI_RIGHTS_QUANTITY" jdbcType="DECIMAL"/>
        <result property="tbciSurplusRightsQuantity" column="TBCI_SURPLUS_RIGHTS_QUANTITY" jdbcType="DECIMAL"/>
        <result property="tbciIsClear" column="TBCI_IS_CLEAR" jdbcType="VARCHAR"/>
        <result property="tbciClearBy" column="TBCI_CLEAR_BY" jdbcType="BIGINT"/>
        <result property="tbciClearByName" column="TBCI_CLEAR_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbciClearDate" column="TBCI_CLEAR_DATE" jdbcType="TIMESTAMP"/>
        <result property="tbciCreateBy" column="TBCI_CREATE_BY" jdbcType="BIGINT"/>
        <result property="tbciCreateByName" column="TBCI_CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbciCreateTime" column="TBCI_CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="tbciUpdateBy" column="TBCI_UPDATE_BY" jdbcType="BIGINT"/>
        <result property="tbciUpdateByName" column="TBCI_UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="tbciUpdateTime" column="TBCI_UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="tdsiVoyage" column="TDSI_VOYAGE" jdbcType="VARCHAR"/>
        <collection property="assignFleets" ofType="com.yy.ppm.business.bean.po.TBusAssignFleetPO">
            <result property="id" column="TBAF_ID" jdbcType="BIGINT"/>
            <result property="trustId" column="TBAF_TRUST_ID" jdbcType="BIGINT"/>
            <result property="trustCargoId" column="TBAF_TRUST_CARGO_ID" jdbcType="BIGINT"/>
            <result property="customerId" column="TBAF_CUSTOMER_ID" jdbcType="BIGINT"/>
            <result property="customerName" column="TBAF_CUSTOMER_NAME" jdbcType="VARCHAR"/>
            <result property="quantity" column="TBAF_QUANTITY" jdbcType="INTEGER"/>
            <result property="ton" column="TBAF_TON" jdbcType="DECIMAL"/>
            <result property="createBy" column="TBAF_CREATE_BY" jdbcType="BIGINT"/>
            <result property="createByName" column="TBAF_CREATE_BY_NAME" jdbcType="VARCHAR"/>
            <result property="createTime" column="TBAF_CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="TBAF_UPDATE_BY" jdbcType="BIGINT"/>
            <result property="updateByName" column="TBAF_UPDATE_BY_NAME" jdbcType="VARCHAR"/>
            <result property="updateTime" column="TBAF_UPDATE_TIME" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>

    <select id="listTrustCargo" resultMap="listTrustCargo">
        SELECT TBTC.ID                      TBTC_ID,
               TBTC.TRUST_ID                TBTC_TRUST_ID,
               TBTC.CARGO_INFO_ID           TBTC_CARGO_INFO_ID,
               TBTC.DIRECTION               TBTC_DIRECTION,
               TBTC.QUANTITY                TBTC_QUANTITY,
               TBTC.TON                     TBTC_TON,
               TBTC.CARGO_OWNER_ID          TBTC_CARGO_OWNER_ID,
               TBTC.CARGO_OWNER_NAME        TBTC_CARGO_OWNER_NAME,
               TBTC.CARGO_AGENT_ID          TBTC_CARGO_AGENT_ID,
               TBTC.CARGO_AGENT_NAME        TBTC_CARGO_AGENT_NAME,
               TBTC.CARGO_CODE              TBTC_CARGO_CODE,
               TBTC.CARGO_NAME              TBTC_CARGO_NAME,
               TBTC.PACKING_CODE            TBTC_PACKING_CODE,
               TBTC.PACKING_NAME            TBTC_PACKING_NAME,
               TBTC.CREATE_BY               TBTC_CREATE_BY,
               TBTC.CREATE_BY_NAME          TBTC_CREATE_BY_NAME,
               TBTC.CREATE_TIME             TBTC_CREATE_TIME,
               TBTC.UPDATE_BY               TBTC_UPDATE_BY,
               TBTC.UPDATE_BY_NAME          TBTC_UPDATE_BY_NAME,
               TBTC.UPDATE_TIME             TBTC_UPDATE_TIME,
               TBT.ID                       TBT_ID,
               TBT.TRUST_NO                 TBT_TRUST_NO,
               TBT.TRUST_TYPE               TBT_TRUST_TYPE,
               TBT.CONTRACT_ID              TBT_CONTRACT_ID,
               TBT.CUSTOMER_ID              TBT_CUSTOMER_ID,
               TBT.CUSTOMER_NAME            TBT_CUSTOMER_NAME,
               TBT.PROCESS_CODE             TBT_PROCESS_CODE,
               TBT.PROCESS_NAME             TBT_PROCESS_NAME,
               TBT.CARGO_CATEGORY_CODE      TBT_CARGO_CATEGORY_CODE,
               TBT.CARGO_CATEGORY_NAME      TBT_CARGO_CATEGORY_NAME,
               TBT.TRADE_TYPE               TBT_TRADE_TYPE,
               TBT.PLAN_QUANTITY            TBT_PLAN_QUANTITY,
               TBT.PLAN_TON                 TBT_PLAN_TON,
               TBT.REMARK                   TBT_REMARK,
               TBT.SHIPVOYAGE_ID            TBT_SHIPVOYAGE_ID,
               TBT.SHIPVOYAGE_ITEM_ID       TBT_SHIPVOYAGE_ITEM_ID,
               TBT.SHIP_NAME                TBT_SHIP_NAME,
               TBT.SETTLEMENT_BASIS_CODE    TBT_SETTLEMENT_BASIS_CODE,
               TBT.SETTLEMENT_BASIS_NAME    TBT_SETTLEMENT_BASIS_NAME,
               TBT.CHECK_TON                TBT_CHECK_TON,
               TBT.CHECK_NUMBER             TBT_CHECK_NUMBER,
               TBT.COMPANY_ID               TBT_COMPANY_ID,
               TBT.COMPANY_NAME             TBT_COMPANY_NAME,
               TBT.STATUS                   TBT_STATUS,
               TBT.CREATE_BY                TBT_CREATE_BY,
               TBT.CREATE_BY_NAME           TBT_CREATE_BY_NAME,
               TBT.CREATE_TIME              TBT_CREATE_TIME,
               TBT.UPDATE_BY                TBT_UPDATE_BY,
               TBT.UPDATE_BY_NAME           TBT_UPDATE_BY_NAME,
               TBT.UPDATE_TIME              TBT_UPDATE_TIME,
               TBT.RELEASE_BY               TBT_RELEASE_BY,
               TBT.RELEASE_BY_NAME          TBT_RELEASE_BY_NAME,
               TBT.RELEASE_TIME             TBT_RELEASE_TIME,
               TBT.CHECK_BY                 TBT_CHECK_BY,
               TBT.CHECK_BY_NAME            TBT_CHECK_BY_NAME,
               TBT.CHECK_TIME               TBT_CHECK_TIME,
               TBT.EXAMINE_BY               TBT_EXAMINE_BY,
               TBT.EXAMINE_BY_NAME          TBT_EXAMINE_BY_NAME,
               TBT.EXAMINE_TIME             TBT_EXAMINE_TIME,
               TBCI.ID                      TBCI_ID,
               TBCI.SHIPVOYAGE_ID           TBCI_SHIPVOYAGE_ID,
               TBCI.SHIPVOYAGE_ITEM_ID      TBCI_SHIPVOYAGE_ITEM_ID,
               TBCI.SCN                     TBCI_SCN,
               TBCI.SHIP_NAME               TBCI_SHIP_NAME,
               TBCI.CARGO_INFO_NO           TBCI_CARGO_INFO_NO,
               TBCI.CARGO_OWNER_ID          TBCI_CARGO_OWNER_ID,
               TBCI.CARGO_OWNER_NAME        TBCI_CARGO_OWNER_NAME,
               TBCI.CARGO_AGENT_ID          TBCI_CARGO_AGENT_ID,
               TBCI.CARGO_AGENT_NAME        TBCI_CARGO_AGENT_NAME,
               TBCI.CARGO_CODE              TBCI_CARGO_CODE,
               TBCI.CARGO_NAME              TBCI_CARGO_NAME,
               TBCI.TRADE_TYPE              TBCI_TRADE_TYPE,
               TBCI.PACKING_CODE            TBCI_PACKING_CODE,
               TBCI.PACKING_NAME            TBCI_PACKING_NAME,
               TBCI.COMPANY_ID              TBCI_COMPANY_ID,
               TBCI.COMPANY_NAME            TBCI_COMPANY_NAME,
               TBCI.PARENT_ID               TBCI_PARENT_ID,
               TBCI.ROOT_ID                 TBCI_ROOT_ID,
               TBCI.QUANTITY                TBCI_QUANTITY,
               TBCI.TON                     TBCI_TON,
               TBCI.RIGHTS_QUANTITY         TBCI_RIGHTS_QUANTITY,
               TBCI.SURPLUS_RIGHTS_QUANTITY TBCI_SURPLUS_RIGHTS_QUANTITY,
               TBCI.IS_CLEAR                TBCI_IS_CLEAR,
               TBCI.CLEAR_BY                TBCI_CLEAR_BY,
               TBCI.CLEAR_BY_NAME           TBCI_CLEAR_BY_NAME,
               TBCI.CLEAR_DATE              TBCI_CLEAR_DATE,
               TBCI.CREATE_BY               TBCI_CREATE_BY,
               TBCI.CREATE_BY_NAME          TBCI_CREATE_BY_NAME,
               TBCI.CREATE_TIME             TBCI_CREATE_TIME,
               TBCI.UPDATE_BY               TBCI_UPDATE_BY,
               TBCI.UPDATE_BY_NAME          TBCI_UPDATE_BY_NAME,
               TBCI.UPDATE_TIME             TBCI_UPDATE_TIME,
               TBAF.ID                      TBAF_ID,
               TBAF.TRUST_ID                TBAF_TRUST_ID,
               TBAF.TRUST_CARGO_ID          TBAF_TRUST_CARGO_ID,
               TBAF.CUSTOMER_ID             TBAF_CUSTOMER_ID,
               TBAF.CUSTOMER_NAME           TBAF_CUSTOMER_NAME,
               TBAF.QUANTITY                TBAF_QUANTITY,
               TBAF.TON                     TBAF_TON,
               TBAF.CREATE_BY               TBAF_CREATE_BY,
               TBAF.CREATE_BY_NAME          TBAF_CREATE_BY_NAME,
               TBAF.CREATE_TIME             TBAF_CREATE_TIME,
               TBAF.UPDATE_BY               TBAF_UPDATE_BY,
               TBAF.UPDATE_BY_NAME          TBAF_UPDATE_BY_NAME,
               TBAF.UPDATE_TIME             TBAF_UPDATE_TIME,
               TDSI.VOYAGE                  TDSI_VOYAGE
        FROM T_BUS_TRUST_CARGO TBTC
                 JOIN T_BUS_TRUST TBT ON TBTC.TRUST_ID = TBT.ID
                 LEFT JOIN T_BUS_CARGO_INFO TBCI ON TBTC.CARGO_INFO_ID = TBCI.ID
                 LEFT JOIN T_BUS_ASSIGN_FLEET TBAF ON TBTC.ID = TBAF.TRUST_CARGO_ID
                 LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TBT.SHIPVOYAGE_ITEM_ID = TDSI.ID
        WHERE TBT.STATUS >= 20
          AND (SUBSTR(PROCESS_NAME, 1, 1) = '车' OR SUBSTR(PROCESS_NAME, - 1) = '车')
        <if test="keyword != null and keyword != ''">
            <bind name="keywordLike" value="'%' + keyword + '%'"/>
            AND TBT.TRUST_NO || '@' || TBT.SHIP_NAME || '_' || TDSI.VOYAGE || '@' || TBT.CARGO_OWNER_NAME || '@' || TBT.CARGO_AGENT_NAME ||
                '@' || TBT.CARGO_NAME LIKE #{keywordLike, jdbcType=VARCHAR}
        </if>
        <if test="trustCargoId != null">
            AND TBTC.ID = #{trustCargoId,jdbcType=BIGINT}
        </if>
        ORDER BY TBT.TRUST_NO,
                 TBCI.CARGO_INFO_NO
    </select>

    <resultMap id="getAssignFleet" type="com.yy.ppm.business.bean.po.TBusAssignFleetPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="trustId" column="TRUST_ID" jdbcType="BIGINT"/>
        <result property="trustCargoId" column="TRUST_CARGO_ID" jdbcType="BIGINT"/>
        <result property="customerId" column="CUSTOMER_ID" jdbcType="BIGINT"/>
        <result property="customerName" column="CUSTOMER_NAME" jdbcType="VARCHAR"/>
        <result property="quantity" column="QUANTITY" jdbcType="INTEGER"/>
        <result property="ton" column="TON" jdbcType="DECIMAL"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getAssignFleet" resultMap="getAssignFleet">
        SELECT ID,
               TRUST_ID,
               TRUST_CARGO_ID,
               CUSTOMER_ID,
               CUSTOMER_NAME,
               QUANTITY,
               TON,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME
        FROM T_BUS_ASSIGN_FLEET
        WHERE TRUST_CARGO_ID = #{trustCargoId,jdbcType=BIGINT}
          AND CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
    </select>

    <select id="getAssignFleetList" resultMap="getAssignFleet">
        SELECT ID,
               TRUST_ID,
               TRUST_CARGO_ID,
               CUSTOMER_ID,
               CUSTOMER_NAME,
               QUANTITY,
               TON,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME
        FROM T_BUS_ASSIGN_FLEET
        WHERE TRUST_CARGO_ID = #{trustCargoId,jdbcType=BIGINT}
          AND CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
    </select>

    <resultMap id="listTrustTradeReservationByTrustCargoIdAndCustomerId"
               type="com.yy.ppm.business.bean.po.TBusTrustTradeReservationPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="trustId" column="TRUST_ID" jdbcType="BIGINT"/>
        <result property="trustCargoId" column="TRUST_CARGO_ID" jdbcType="BIGINT"/>
        <result property="quantity" column="QUANTITY" jdbcType="INTEGER"/>
        <result property="ton" column="TON" jdbcType="DECIMAL"/>
        <result property="startTime" column="START_TIME" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
        <result property="customerId" column="CUSTOMER_ID" jdbcType="BIGINT"/>
        <result property="customerName" column="CUSTOMER_NAME" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="examineBy" column="EXAMINE_BY" jdbcType="BIGINT"/>
        <result property="examineByName" column="EXAMINE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="examineTime" column="EXAMINE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listTrustTradeReservationByTrustCargoIdAndCustomerId"
            resultMap="listTrustTradeReservationByTrustCargoIdAndCustomerId">
        SELECT ID,
               TRUST_ID,
               TRUST_CARGO_ID,
               QUANTITY,
               TON,
               START_TIME,
               END_TIME,
               CUSTOMER_ID,
               CUSTOMER_NAME,
               STATUS,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               EXAMINE_BY,
               EXAMINE_BY_NAME,
               EXAMINE_TIME
        FROM T_BUS_TRUST_TRADE_RESERVATION
        <where>
            <if test="trustCargoId != null">
                AND TRUST_CARGO_ID = #{trustCargoId,jdbcType=BIGINT}
            </if>
            <if test="customerId != null">
                AND CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <insert id="insertTrustTradeReservation">
        INSERT INTO T_BUS_TRUST_TRADE_RESERVATION (ID, TRUST_ID, TRUST_CARGO_ID, QUANTITY, TON, START_TIME, END_TIME,
                                                   CUSTOMER_ID, CUSTOMER_NAME, CREATE_BY, CREATE_BY_NAME,
                                                   CREATE_TIME, EXAMINE_BY, EXAMINE_BY_NAME, EXAMINE_TIME)
        VALUES (#{id,jdbcType=BIGINT}, #{trustId, jdbcType=BIGINT},
                #{trustCargoId, jdbcType=BIGINT},
                #{quantity, jdbcType=INTEGER}, #{ton, jdbcType=DECIMAL},
                #{startTime, jdbcType=TIMESTAMP}, #{endTime, jdbcType=TIMESTAMP},
                #{customerId, jdbcType=BIGINT}, #{customerName, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR}, #{now, jdbcType=TIMESTAMP},
                #{examineBy, jdbcType=BIGINT}, #{examineByName, jdbcType=VARCHAR},
                #{examineTime, jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertTBusTrustTradeReservatCar">
        INSERT ALL
        <foreach collection="trustTradeReservatCars" item="entity">
            INTO T_BUS_TRUST_TRADE_RESERVAT_CAR (ID, TRUST_ID, TRUST_TRADE_RESERVATION_ID, CAR_NO,
                                                 DRIVER_NAME, DRIVER_ID_CARD, DRIVER_PHONE, STATUS)
            VALUES (#{entity.id, jdbcType=BIGINT}, #{entity.trustId, jdbcType=BIGINT},
                    #{entity.trustTradeReservationId, jdbcType=BIGINT},
                    #{entity.carNo, jdbcType=VARCHAR}, #{entity.driverName, jdbcType=VARCHAR},
                    #{entity.driverIdCard, jdbcType=VARCHAR},
                    #{entity.driverPhone, jdbcType=VARCHAR}, #{entity.status,jdbcType=BIGINT})
        </foreach>
        SELECT 1
        FROM DUAL
    </insert>
<!--    #{entity.loginUserName, jdbcType=VARCHAR}, #{entity.now, jdbcType=TIMESTAMP})-->

    <delete id="deleteTrustTradeReservation">
        DELETE
        FROM T_BUS_TRUST_TRADE_RESERVATION
        WHERE ID IN
        <foreach collection="trustTradeReservationIds" item="trustTradeReservationId" open="(" close=")" separator=", ">
            #{trustTradeReservationId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <delete id="deleteTBusTrustTradeReservatCar">
        DELETE
        FROM T_BUS_TRUST_TRADE_RESERVAT_CAR
        WHERE TRUST_TRADE_RESERVATION_ID IN
        <foreach collection="trustTradeReservationIds" item="trustTradeReservationId" open="(" close=")" separator=", ">
            #{trustTradeReservationId,jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deleteTBusTrustTradeReservatCarById">
        DELETE
        FROM T_BUS_TRUST_TRADE_RESERVAT_CAR
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteTBusTrustTradeReservatCarByCondition">
        DELETE
        FROM T_BUS_TRUST_TRADE_RESERVAT_CAR
        <where>
            <if test="trustId != null">
                AND TRUST_ID = #{trustId}
            </if>
            <if test="trustTradeReservationId != null">
                AND TRUST_TRADE_RESERVATION_ID = #{trustTradeReservationId}
            </if>
            <if test="carNo != null">
                AND CAR_NO = #{carNo}
            </if>
        </where>
    </delete>

    <update id="updateTrustTradeReservation">
        UPDATE T_BUS_TRUST_TRADE_RESERVATION
        <set>
            <if test="trustId != null">
                TRUST_ID = #{trustId, jdbcType=BIGINT},
            </if>
            <if test="trustCargoId != null">
                TRUST_CARGO_ID = #{trustCargoId, jdbcType=BIGINT},
            </if>
            <if test="quantity != null">
                QUANTITY = #{quantity, jdbcType=INTEGER},
            </if>
            <if test="ton != null">
                TON = #{ton, jdbcType=DECIMAL},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime, jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime, jdbcType=TIMESTAMP},
            </if>
            <if test="customerId != null">
                CUSTOMER_ID = #{customerId, jdbcType=BIGINT},
            </if>
            <if test="customerName != null and customerName != ''">
                CUSTOMER_NAME = #{customerName, jdbcType=VARCHAR},
            </if>
<!--            <if test="loginUserId != null and loginUserId != ''">-->
<!--                UPDATE_BY = #{loginUserId,jdbcType=BIGINT},-->
<!--            </if>-->
<!--            <if test="loginUserName != null and loginUserName != ''">-->
<!--                UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="now != null and now != ''">-->
<!--                UPDATE_TIME    = #{now, jdbcType=TIMESTAMP},-->
<!--            </if>-->
            <if test="examineBy != null">
                EXAMINE_BY = #{examineBy, jdbcType=BIGINT},
            </if>
            <if test="examineByName != null and examineByName != ''">
                EXAMINE_BY_NAME = #{examineByName, jdbcType=VARCHAR},
            </if>
            <if test="examineTime != null">
                EXAMINE_TIME = #{examineTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE ID = #{id, jdbcType=BIGINT}
    </update>

    <resultMap id="listTrustTradeReservation"
               type="com.yy.ppm.business.bean.dto.trustTradeReservation.TBusTrustTradeReservationDTO">
        <result property="id" column="TBTTR_ID" jdbcType="BIGINT"/>
        <result property="trustId" column="TBTTR_TRUST_ID" jdbcType="BIGINT"/>
        <result property="trustCargoId" column="TBTTR_TRUST_CARGO_ID" jdbcType="BIGINT"/>
        <result property="quantity" column="TBTTR_QUANTITY" jdbcType="INTEGER"/>
        <result property="ton" column="TBTTR_TON" jdbcType="DECIMAL"/>
        <result property="startTime" column="TBTTR_START_TIME" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="TBTTR_END_TIME" jdbcType="TIMESTAMP"/>
        <result property="customerId" column="TBTTR_CUSTOMER_ID" jdbcType="BIGINT"/>
        <result property="customerName" column="TBTTR_CUSTOMER_NAME" jdbcType="VARCHAR"/>
        <result property="status" column="TBTTR_STATUS" jdbcType="VARCHAR"/>
        <result property="createBy" column="TBTTR_CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="TBTTR_CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="TBTTR_CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="TBTTR_UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="TBTTR_UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="TBTTR_UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="examineBy" column="TBTTR_EXAMINE_BY" jdbcType="BIGINT"/>
        <result property="examineByName" column="TBTTR_EXAMINE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="examineTime" column="TBTTR_EXAMINE_TIME" jdbcType="TIMESTAMP"/>
        <result property="tbtcCargoOwnerId" column="TBTC_CARGO_OWNER_ID" jdbcType="BIGINT"/>
        <result property="tbtcCargoOwnerName" column="TBTC_CARGO_OWNER_NAME" jdbcType="VARCHAR"/>
        <result property="tbtcCargoAgentId" column="TBTC_CARGO_AGENT_ID" jdbcType="BIGINT"/>
        <result property="tbtcCargoAgentName" column="TBTC_CARGO_AGENT_NAME" jdbcType="VARCHAR"/>
        <result property="tbtcCargoCode" column="TBTC_CARGO_CODE" jdbcType="VARCHAR"/>
        <result property="tbtcCargoName" column="TBTC_CARGO_NAME" jdbcType="VARCHAR"/>
        <result property="tbtTrustNo" column="TBT_TRUST_NO" jdbcType="VARCHAR"/>
        <result property="tbtProcessCode" column="TBT_PROCESS_CODE" jdbcType="VARCHAR"/>
        <result property="tbtProcessName" column="TBT_PROCESS_NAME" jdbcType="VARCHAR"/>
        <result property="tbtCompanyId" column="TBT_COMPANY_ID" jdbcType="BIGINT"/>
        <result property="tbtCompanyName" column="TBT_COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="tbtShipvoyageId" column="TBT_SHIPVOYAGE_ID" jdbcType="BIGINT"/>
        <result property="tbtShipvoyageItemId" column="TBT_SHIPVOYAGE_ITEM_ID" jdbcType="BIGINT"/>
        <result property="tbtShipName" column="TBT_SHIP_NAME" jdbcType="VARCHAR"/>
        <result property="tdsiVoyage" column="TDSI_VOYAGE" jdbcType="VARCHAR"/>
        <collection property="cars" ofType="com.yy.ppm.business.bean.po.TBusTrustTradeReservatCarPO">
            <result property="id" column="TBTTRC_ID" jdbcType="BIGINT"/>
            <result property="trustId" column="TBTTRC_TRUST_ID" jdbcType="BIGINT"/>
            <result property="trustTradeReservationId" column="TBTTRC_TTR_ID" jdbcType="BIGINT"/>
            <result property="carNo" column="TBTTRC_CAR_NO" jdbcType="VARCHAR"/>
            <result property="driverName" column="TBTTRC_DRIVER_NAME" jdbcType="VARCHAR"/>
            <result property="driverIdCard" column="TBTTRC_DRIVER_ID_CARD" jdbcType="VARCHAR"/>
            <result property="driverPhone" column="TBTTRC_DRIVER_PHONE" jdbcType="VARCHAR"/>
            <result property="status" column="TBTTRC_STATUS" jdbcType="INTEGER"/>
            <result property="createBy" column="TBTTRC_CREATE_BY" jdbcType="BIGINT"/>
            <result property="createByName" column="TBTTRC_CREATE_BY_NAME" jdbcType="VARCHAR"/>
            <result property="createTime" column="TBTTRC_CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="TBTTRC_UPDATE_BY" jdbcType="BIGINT"/>
            <result property="updateByName" column="TBTTRC_UPDATE_BY_NAME" jdbcType="VARCHAR"/>
            <result property="updateTime" column="TBTTRC_UPDATE_TIME" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>

    <select id="listTrustTradeReservation" resultMap="listTrustTradeReservation">
        SELECT TBTTR.ID                          TBTTR_ID,
               TBTTR.TRUST_ID                    TBTTR_TRUST_ID,
               TBTTR.TRUST_CARGO_ID              TBTTR_TRUST_CARGO_ID,
               TBTTR.QUANTITY                    TBTTR_QUANTITY,
               TBTTR.TON                         TBTTR_TON,
               TBTTR.START_TIME                  TBTTR_START_TIME,
               TBTTR.END_TIME                    TBTTR_END_TIME,
               TBTTR.CUSTOMER_ID                 TBTTR_CUSTOMER_ID,
               TBTTR.CUSTOMER_NAME               TBTTR_CUSTOMER_NAME,
               TBTTR.STATUS                      TBTTR_STATUS,
               TBTTR.CREATE_BY                   TBTTR_CREATE_BY,
               TBTTR.CREATE_BY_NAME              TBTTR_CREATE_BY_NAME,
               TBTTR.CREATE_TIME                 TBTTR_CREATE_TIME,
               TBTTR.UPDATE_BY                   TBTTR_UPDATE_BY,
               TBTTR.UPDATE_BY_NAME              TBTTR_UPDATE_BY_NAME,
               TBTTR.UPDATE_TIME                 TBTTR_UPDATE_TIME,
               TBTTR.EXAMINE_BY                  TBTTR_EXAMINE_BY,
               TBTTR.EXAMINE_BY_NAME             TBTTR_EXAMINE_BY_NAME,
               TBTTR.EXAMINE_TIME                TBTTR_EXAMINE_TIME,
               TBTTRC.ID                         TBTTRC_ID,
               TBTTRC.TRUST_ID                   TBTTRC_TRUST_ID,
               TBTTRC.TRUST_TRADE_RESERVATION_ID TBTTRC_TTR_ID,
               TBTTRC.CAR_NO                     TBTTRC_CAR_NO,
               TBTTRC.DRIVER_NAME                TBTTRC_DRIVER_NAME,
               TBTTRC.DRIVER_ID_CARD             TBTTRC_DRIVER_ID_CARD,
               TBTTRC.DRIVER_PHONE               TBTTRC_DRIVER_PHONE,
               TBTTRC.STATUS                     TBTTRC_STATUS,
               TBTTRC.CREATE_BY                  TBTTRC_CREATE_BY,
               TBTTRC.CREATE_BY_NAME             TBTTRC_CREATE_BY_NAME,
               TBTTRC.CREATE_TIME                TBTTRC_CREATE_TIME,
               TBTTRC.UPDATE_BY                  TBTTRC_UPDATE_BY,
               TBTTRC.UPDATE_BY_NAME             TBTTRC_UPDATE_BY_NAME,
               TBTTRC.UPDATE_TIME                TBTTRC_UPDATE_TIME,
               TBTC.CARGO_OWNER_ID               TBTC_CARGO_OWNER_ID,
               TBTC.CARGO_OWNER_NAME             TBTC_CARGO_OWNER_NAME,
               TBTC.CARGO_AGENT_ID               TBTC_CARGO_AGENT_ID,
               TBTC.CARGO_AGENT_NAME             TBTC_CARGO_AGENT_NAME,
               TBTC.CARGO_CODE                   TBTC_CARGO_CODE,
               TBTC.CARGO_NAME                   TBTC_CARGO_NAME,
               TBT.TRUST_NO                      TBT_TRUST_NO,
               TBT.PROCESS_CODE                  TBT_PROCESS_CODE,
               TBT.PROCESS_NAME                  TBT_PROCESS_NAME,
               TBT.COMPANY_ID                    TBT_COMPANY_ID,
               TBT.COMPANY_NAME                  TBT_COMPANY_NAME,
               TBT.SHIPVOYAGE_ID                 TBT_SHIPVOYAGE_ID,
               TBT.SHIPVOYAGE_ITEM_ID            TBT_SHIPVOYAGE_ITEM_ID,
               TBT.SHIP_NAME                     TBT_SHIP_NAME,
               TDSI.VOYAGE                       TDSI_VOYAGE
        FROM T_BUS_TRUST_TRADE_RESERVATION TBTTR
                 LEFT JOIN T_BUS_TRUST_TRADE_RESERVAT_CAR TBTTRC on TBTTR.ID = TBTTRC.TRUST_TRADE_RESERVATION_ID
                 JOIN T_BUS_TRUST_CARGO TBTC ON TBTTR.TRUST_CARGO_ID = TBTC.ID
                 JOIN T_BUS_TRUST TBT on TBTC.TRUST_ID = TBT.ID
                 LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TBT.SHIPVOYAGE_ITEM_ID = TDSI.ID
        <where>
            <if test="shipvoyageItemId != null">
                AND TBT.SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
            </if>
            <if test="cargoOwnerId != null">
                AND TBTC.CARGO_OWNER_ID = #{cargoOwnerId,jdbcType=BIGINT}
            </if>
            <if test="cargoAgentId != null">
                AND TBTC.CARGO_AGENT_ID = #{cargoAgentId,jdbcType=BIGINT}
            </if>
            <if test="cargoCode != null and cargoCode != ''">
                AND TBTC.CARGO_CODE = #{cargoCode,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY TBTTR.CREATE_TIME DESC
    </select>

    <resultMap id="getAvailableQuantityAndTon" type="java.util.Map">
        <result property="quantity" column="QUANTITY" jdbcType="INTEGER"/>
        <result property="ton" column="TON" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="getAvailableQuantityAndTon" resultMap="getAvailableQuantityAndTon">
        SELECT SUM(NVL(TBAF.QUANTITY, 0)) - NVL(SUM(TBTTR.QUANTITY), 0) QUANTITY,
               SUM(TBAF.TON) - NVL(SUM(TBTTR.TON), 0)                   TON
        FROM
        T_BUS_ASSIGN_FLEET TBAF
            LEFT JOIN (
        SELECT TRUST_CARGO_ID,
               CUSTOMER_ID,
               SUM(NVL(QUANTITY, 0)) QUANTITY,
               SUM(TON)              TON
        FROM T_BUS_TRUST_TRADE_RESERVATION
        <if test="trustTradeReservationId != null">
            WHERE ID != #{trustTradeReservationId,jdbcType=BIGINT}
        </if>
        GROUP BY TRUST_CARGO_ID,
                 CUSTOMER_ID
        ) TBTTR ON (TBAF.TRUST_CARGO_ID = TBTTR.TRUST_CARGO_ID AND TBAF.CUSTOMER_ID = TBTTR.CUSTOMER_ID)
        WHERE TBAF.ID = #{assignFleetId,jdbcType=BIGINT}
    </select>
    <select id="getByCondition" resultType="com.yy.ppm.business.bean.dto.trustTradeReservation.TBusTrustTradeReservationDTO">
        SELECT * FROM  T_BUS_TRUST_TRADE_RESERVATION
        <where>
            <if test="trustId != null">
                AND TRUST_ID = #{trustId,jdbcType=BIGINT}
            </if>
            <if test="trustCargoId != null">
                AND TRUST_CARGO_ID = #{trustCargoId,jdbcType=BIGINT}
            </if>
            <if test="customerId != null">
                AND CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
    <select id="listByCondition" resultType="com.yy.ppm.business.bean.dto.trustTradeReservation.TBusTrustTradeReservationDTO">
        SELECT * FROM  T_BUS_TRUST_TRADE_RESERVATION
        <where>
            <if test="trustId != null">
                AND TRUST_ID = #{trustId,jdbcType=BIGINT}
            </if>
            <if test="trustCargoId != null">
                AND TRUST_CARGO_ID = #{trustCargoId,jdbcType=BIGINT}
            </if>
            <if test="customerId != null">
                AND CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>