<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.business.mapper.TBusCustomerMapper">

    <sql id="commonList">
        SELECT
            M1.ID,
            M1.BHT_ID,
            M1.CUSTOMER_CODE,
            M1.CUSTOMER_NAME,
            M1.CUSTOMER_SHORT_NAME,
            M1.CUSTOMER_TYPE_CODE,
            M3.DICT_LABEL CUSTOMER_TYPE_LABEL,
            M1.INVOICE,
            M1.TIN,
            M1.BANK,
            M1.BANK_ACCOUNT,
            M1.ADDRESS,
            M1.TELEPHONE_NUMBER,
            M1.CONTACT,
            M1.CONTACT_NUMBER,
            M1.CONTACT_ADDRESS,
            M1.STATUS,
            M2.NM AS STATUS_LABEL,
            M1.REMARK,
            M1.IDEA,
            M1.CUSTOMER_PROPERTY_NAMES,
            M1.CREATE_BY,
            M1.CREATE_BY_NAME,
            M1.CREATE_TIME,
            M1.UPDATE_BY,
            M1.UPDATE_BY_NAME,
            M1.UPDATE_TIME,
            M1.APPROVAL_BY,
            M1.APPROVAL_NAME,
            M1.APPROVAL_TIME,
            M1.IS_CREDIT,
            M1.CUSTOMER_NAME_EAS,
            M1.CUSTOMER_CODE_EAS,
            M1.TAXATION_INVOICE,
            M1.TAXATION_INVOICE_CODE
        FROM
            T_BUS_CUSTOMER M1
            left join M_CONSTANTS M2 ON M1.STATUS=M2.CD and M2.TYPE_CD='CUSTOMER_STATUS'
            left join M_DICT_DATA M3 ON M1.CUSTOMER_TYPE_CODE=M3.DICT_VALUE and M3.DICT_TYPE='CUSTOMER_TYPE'
        <where>
            <if test="customerShortName != null and customerShortName != ''">
                <bind name="customerShortName" value="'%'+customerShortName+'%'"/>
                and M1.CUSTOMER_SHORT_NAME LIKE #{customerShortName}
            </if>
            <if test="customerCode != null and customerCode != ''">
                <bind name="customerCode" value="'%'+customerCode+'%'"/>
                and M1.CUSTOMER_CODE LIKE #{customerCode}
            </if>
            <if test="customerName != null and customerName != ''">
                <bind name="customerName" value="'%'+customerName+'%'"/>
                and (M1.CUSTOMER_NAME LIKE #{customerName} OR M1.CUSTOMER_SHORT_NAME LIKE #{customerName})
            </if>
            <if test="customerTypeCode != null and customerTypeCode != ''">
                and M1.CUSTOMER_TYPE_CODE = #{customerTypeCode}
            </if>
            <if test="customerPropertyCode != null and customerPropertyCode != ''">
                AND M1.ID IN (SELECT CUSTOMER_ID FROM T_BUS_CUSTOMER_PROPERTY WHERE CUSTOMER_PROPERTY_CODE = #{customerPropertyCode})
            </if>

            <if test="status != null and status != ''">
                and M1.STATUS = #{status}
            </if>
            <if test="bhtId != null and bhtId != ''">
                and M1.BHT_ID = #{bhtId}
            </if>
        </where>
        ORDER BY
        CASE M2.NM
        WHEN '待审核' THEN 1
        WHEN '已审核' THEN 2
        WHEN '停用' THEN 3
        ELSE 4
        END, M1.CREATE_TIME DESC
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.business.bean.dto.TBusCustomerDTO"
            parameterType="com.yy.ppm.business.bean.dto.TBusCustomerSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.business.bean.dto.TBusCustomerDTO"
            parameterType="com.yy.ppm.business.bean.dto.TBusCustomerSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.business.bean.dto.TBusCustomerDTO" parameterType="java.lang.Long">
        SELECT
        ID, CUSTOMER_CODE, CUSTOMER_NAME, CUSTOMER_SHORT_NAME, CUSTOMER_TYPE_CODE, INVOICE, TIN, BANK, BANK_ACCOUNT, ADDRESS, TELEPHONE_NUMBER, CONTACT, CONTACT_NUMBER,
        CONTACT_ADDRESS, STATUS, REMARK, CREATE_BY, CREATE_BY_NAME, CREATE_TIME, UPDATE_BY, UPDATE_BY_NAME,
        UPDATE_TIME, APPROVAL_BY, APPROVAL_NAME, APPROVAL_TIME, SHORTHAND_CODE,IS_CREDIT,CUSTOMER_NAME_EAS,CUSTOMER_CODE_EAS,TAXATION_INVOICE,TAXATION_INVOICE_CODE,
        IS_STATIONS,DAY_NIGHT_PLAN_CONTROL
        FROM
        T_BUS_CUSTOMER
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getByBHTId" resultType="com.yy.ppm.business.bean.dto.TBusCustomerDTO" parameterType="java.lang.Long">
        SELECT
        ID, CUSTOMER_CODE, CUSTOMER_NAME, CUSTOMER_SHORT_NAME, CUSTOMER_TYPE_CODE, INVOICE, TIN, BANK, BANK_ACCOUNT, ADDRESS, TELEPHONE_NUMBER, CONTACT, CONTACT_NUMBER,
        CONTACT_ADDRESS, STATUS, REMARK, CREATE_BY, CREATE_BY_NAME, CREATE_TIME, UPDATE_BY, UPDATE_BY_NAME,
        UPDATE_TIME, APPROVAL_BY, APPROVAL_NAME, APPROVAL_TIME, SHORTHAND_CODE,CUSTOMER_NAME_EAS,CUSTOMER_CODE_EAS FROM
        T_BUS_CUSTOMER
        <where>
            BHT_ID = #{bhtId}
        </where>
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.business.bean.dto.TBusCustomerDTO">
        INSERT INTO T_BUS_CUSTOMER(
            ID,
            CUSTOMER_CODE,
            CUSTOMER_NAME,
            CUSTOMER_SHORT_NAME,
            CUSTOMER_TYPE_CODE,
            INVOICE,
            TIN,
            BANK,
            BANK_ACCOUNT,
            ADDRESS,
            TELEPHONE_NUMBER,
            CONTACT,
            CONTACT_NUMBER,
            CONTACT_ADDRESS,
            STATUS,
            REMARK,
            CUSTOMER_PROPERTY_NAMES,
            shorthand_Code,
            APPROVAL_BY,
            APPROVAL_NAME,
            APPROVAL_TIME,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME,
            BHT_ID,
            CUSTOMER_NAME_EAS,
            CUSTOMER_CODE_EAS,
            TAXATION_INVOICE,
            TAXATION_INVOICE_CODE
        )VALUES (
            #{id, jdbcType=BIGINT},
            #{customerCode, jdbcType=VARCHAR},
            #{customerName, jdbcType=VARCHAR},
            #{customerShortName, jdbcType=VARCHAR},
            #{customerTypeCode, jdbcType=VARCHAR},
            #{invoice, jdbcType=VARCHAR},
            #{tin, jdbcType=VARCHAR},
            #{bank, jdbcType=VARCHAR},
            #{bankAccount, jdbcType=VARCHAR},
            #{address, jdbcType=VARCHAR},
            #{telephoneNumber, jdbcType=VARCHAR},
            #{contact, jdbcType=VARCHAR},
            #{contactNumber, jdbcType=VARCHAR},
            #{contactAddress, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR},
            #{remark, jdbcType=VARCHAR},
            #{customerPropertyNames, jdbcType=VARCHAR},
            #{shorthandCode,jdbcType=VARCHAR},
            #{approvalBy, jdbcType=BIGINT},
            #{approvalName, jdbcType=VARCHAR},
            #{approvalTime, jdbcType=DATE},
            #{loginUserId, jdbcType=BIGINT},
            #{loginUserName, jdbcType=VARCHAR},
            #{now},
            BUS_CUSTOMER.nextval,
            #{customerNameEas, jdbcType=VARCHAR},
            #{customerCodeEas, jdbcType=VARCHAR},
            #{taxationInvoice, jdbcType=VARCHAR},
            #{taxationInvoiceCode, jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertBatch" parameterType="com.yy.ppm.business.bean.dto.TBusCustomerContactDTO">
        INSERT INTO T_BUS_CUSTOMER_CONTACT(
        ID,
        CUSTOMER_ID,
        CONTACT_NAME,
        MOBILE,
        BIRTHDAY,
        ALLOW_SMS,
        SEX,
        OFFICE_CODE,
        OFFICE_NAME,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME) (
        <foreach collection="list" item="item"  open="" close="" separator=" UNION ALL " >
            SELECT
            #{item.id, jdbcType=BIGINT},
            #{item.customerId, jdbcType=BIGINT},
            #{item.contactName, jdbcType=VARCHAR},
            #{item.mobile, jdbcType=VARCHAR},
            #{item.birthday, jdbcType=TIMESTAMP},
            #{item.allowSms, jdbcType=VARCHAR},
            #{item.sex, jdbcType=VARCHAR},
            #{item.officeCode, jdbcType=VARCHAR},
            #{item.officeName, jdbcType=VARCHAR},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now,jdbcType=TIMESTAMP}
            from dual
        </foreach>
        )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.business.bean.dto.TBusCustomerDTO">
        UPDATE
            T_BUS_CUSTOMER
        SET
            CUSTOMER_CODE = #{customerCode,jdbcType=VARCHAR},
            CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
            CUSTOMER_SHORT_NAME = #{customerShortName,jdbcType=VARCHAR},
            CUSTOMER_TYPE_CODE = #{customerTypeCode,jdbcType=VARCHAR},
            INVOICE = #{invoice,jdbcType=VARCHAR},
            TIN = #{tin,jdbcType=VARCHAR},
            BANK = #{bank,jdbcType=VARCHAR},
            BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
            ADDRESS = #{address,jdbcType=VARCHAR},
            TELEPHONE_NUMBER = #{telephoneNumber,jdbcType=VARCHAR},
            CONTACT = #{contact,jdbcType=VARCHAR},
            CONTACT_NUMBER = #{contactNumber,jdbcType=VARCHAR},
            CONTACT_ADDRESS = #{contactAddress,jdbcType=VARCHAR},
            STATUS = #{status,jdbcType=VARCHAR},
            REMARK = #{remark,jdbcType=VARCHAR},
            IDEA = #{idea,jdbcType=VARCHAR},
            CUSTOMER_NAME_EAS = #{customerNameEas,jdbcType=VARCHAR},
            CUSTOMER_CODE_EAS = #{customerCodeEas,jdbcType=VARCHAR},
            TAXATION_INVOICE = #{taxationInvoice,jdbcType=VARCHAR},
            TAXATION_INVOICE_CODE = #{taxationInvoiceCode,jdbcType=VARCHAR},
            CUSTOMER_PROPERTY_NAMES = #{customerPropertyNames, jdbcType=VARCHAR},
            APPROVAL_BY = #{approvalBy,jdbcType=BIGINT},
            APPROVAL_NAME = #{approvalName,jdbcType=VARCHAR},
            APPROVAL_TIME = #{approvalTime,jdbcType=DATE},
            shorthand_Code = #{shorthandCode,jdbcType=VARCHAR},
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 修改 -->
    <update id="reject" parameterType="com.yy.ppm.business.bean.dto.TBusCustomerDTO">
        UPDATE
            T_BUS_CUSTOMER
        SET
            IDEA = #{idea,jdbcType=VARCHAR},
            STATUS = #{status,jdbcType=VARCHAR},
            APPROVAL_BY = #{approvalBy,jdbcType=BIGINT},
            APPROVAL_NAME = #{approvalName,jdbcType=VARCHAR},
            APPROVAL_TIME = #{approvalTime,jdbcType=DATE},
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_BUS_CUSTOMER
        WHERE
            id = #{id}
    </delete>

    <!-- 通过CustomerId进行删除 -->
    <delete id="deleteByCustomerId" parameterType="java.lang.Long">
        DELETE FROM
            T_BUS_CUSTOMER_CONTACT
        WHERE
            CUSTOMER_ID = #{customerId}
    </delete>

    <update id="approveCancelById" parameterType="com.yy.ppm.business.bean.dto.TBusCustomerDTO">
        UPDATE
        T_BUS_CUSTOMER
        SET
        STATUS = #{status,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <select id="getCustomerIdByBHTId" resultType="Long">
    SELECT
		*
	FROM
		(
			SELECT
				ID
			FROM
				T_BUS_CUSTOMER
			WHERE
				BHT_ID = #{bhtId}
		)
	WHERE
		ROWNUM = 1
    </select>

    <select id="getCustomerNameByBHTId" resultType="String">
    SELECT
		*
	FROM
		(
			SELECT
				CUSTOMER_NAME
			FROM
				T_BUS_CUSTOMER
			WHERE
				BHT_ID = #{bhtId}
		)
	WHERE
		ROWNUM = 1
    </select>
    <select id="getMaxCode" resultType="java.lang.Integer">
        SELECT max(to_number(REGEXP_REPLACE(CUSTOMER_CODE, '[^0-9]', '')))
        FROM "T_BUS_CUSTOMER"
        where CUSTOMER_CODE != 'LINSHI'
    </select>
    <select id="getCargoInfoById" resultType="java.lang.Integer">
        SELECT COUNT(*) from T_BUS_CUSTOMER TBC
        LEFT JOIN T_BUS_CARGO_INFO  TBCI ON TBCI.CARGO_OWNER_ID = TBC.ID
        WHERE TBCI.ID IS NOT NULL AND TBC.ID = #{id}
    </select>
    <select id="getContactByCustomerId" resultType="com.yy.ppm.business.bean.dto.TBusCustomerContactDTO">
        SELECT ID,CUSTOMER_ID,CONTACT_NAME,MOBILE,ALLOW_SMS,SEX,OFFICE_CODE,OFFICE_NAME,BIRTHDAY,CREATE_BY,CREATE_BY_NAME,CREATE_TIME
        FROM T_BUS_CUSTOMER_CONTACT
        WHERE CUSTOMER_ID = #{customerId}
    </select>
    <select id="getBHTById" resultType="com.yy.ppm.business.bean.dto.TBusCustomerDTO" parameterType="java.lang.Long">
        SELECT
        CUSTOMER_CODE, CUSTOMER_NAME, CUSTOMER_SHORT_NAME
        FROM
        T_BUS_CUSTOMER
        <where>
            id != #{id}
            <if test="customerCode != null">
                and CUSTOMER_CODE = #{customerCode}
            </if>
            <if test="customerName != null">
                and CUSTOMER_NAME = #{customerName}
            </if>
            <if test="customerShortName != null">
                and CUSTOMER_SHORT_NAME = #{customerShortName}
            </if>
        </where>
    </select>

    <select id="getCustomerNameById" resultType="com.yy.ppm.business.bean.dto.TBusCustomerDTO" parameterType="java.lang.Long">
        SELECT
        CUSTOMER_CODE, CUSTOMER_NAME, CUSTOMER_SHORT_NAME
        FROM
        T_BUS_CUSTOMER
        <where>
            id = #{id}
        </where>
    </select>

    <update id="doCredit"  parameterType="com.yy.ppm.business.bean.dto.TBusCustomerDTO">
        UPDATE
        T_BUS_CUSTOMER
        SET
        IS_CREDIT = #{isCredit,jdbcType=BIGINT},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

</mapper>

