<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.business.mapper.TBusCargoTransferMapper">

    <sql id="commonList">
        SELECT
            TBCT.ID,
            TBCT.TRANSFER_DATE,
            TBCT.CARGO_INFO_ID_SOURCE,
            TBCT.CARGO_INFO_ID_TARGET,
            TBCT.QUANTITY,
            TBCT.TON,
            TBCT.CARGO_OWNER_ID,
            TBCT.CARGO_OWNER_NAME,
            TBCT.CARGO_AGENT_ID,
            TBCT.CARGO_AGENT_NAME,
            TBCT.STORAGE_DATE,
            TBCT.STATUS,
            TBCT.REMARK,
            TBCT.CREATE_BY,
            TBCT.CREATE_BY_NAME,
            TBCT.CREATE_TIME,
            TBCT.UPDATE_BY,
            TBCT.UPDATE_BY_NAME,
            TBCT.UPDATE_TIME,
            TBCT.IS_BILLING,
            TBCT.PAYMENT_CUSTOMER_ID,
            TBCT.PAYMENT_CUSTOMER_NAME,
            SOURCE.CARGO_INFO_NO AS SOURCE_CARGO_INFO_NO,
            TARGET.CARGO_INFO_NO AS TARGET_CARGO_INFO_NO
        FROM
            T_BUS_CARGO_TRANSFER TBCT
            LEFT JOIN T_BUS_CARGO_INFO SOURCE ON TBCT.CARGO_INFO_ID_SOURCE = SOURCE.ID
            LEFT JOIN T_BUS_CARGO_INFO TARGET ON TBCT.CARGO_INFO_ID_TARGET = TARGET.ID
        WHERE
            TBCT.CARGO_INFO_ID_SOURCE = #{cargoInfoId} OR TBCT.CARGO_INFO_ID_TARGET = #{cargoInfoId}
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.business.bean.dto.TBusCargoTransferDTO" parameterType="java.lang.Long">
        <include refid="commonList"></include>
    </select>
    <!--查询票货港存动态-->
    <select id="getStorageList" resultType="com.yy.ppm.business.bean.dto.TBusCargoStorageDTO"
            parameterType="java.lang.Long">
        SELECT
            TPPS.ID,
            TPPS.CARGO_INFO_ID,
            TPPS.CARGO_INFO_NO,
            TPPS.STOREHOUSE_ID,
            TPPS.STOREHOUSE_NAME,
            TPPS.REGION_ID,
            TPPS.REGION_NAME,
            TPPS.MASS_ID,
            TPPS.MASS_NAME,
            TPPS.QUANTITY,
            TPPS.TON,
            TPPS.CLEAN_MASS_SIGN,
            SUM(NVL(TPPSD.QUANTITY,0)) DETAIL_QUANTITY,
            SUM(NVL(TPPSD.TON,0)) DETAIL_TON
        FROM T_PRD_PORT_STORAGE TPPS
        INNER JOIN T_PRD_PORT_STORAGE_DETAIL TPPSD ON TPPS.ID = TPPSD.PORT_STORAGE_ID
        <where>
            TPPS.CARGO_INFO_ID = #{cargoInfoId}
        </where>
        GROUP BY
            TPPS.ID,
            TPPS.CARGO_INFO_ID,
            TPPS.CARGO_INFO_NO,
            TPPS.STOREHOUSE_ID,
            TPPS.STOREHOUSE_NAME,
            TPPS.REGION_ID,
            TPPS.REGION_NAME,
            TPPS.MASS_ID,
            TPPS.MASS_NAME,
            TPPS.QUANTITY,
            TPPS.TON,
            TPPS.CLEAN_MASS_SIGN,
            TPPS.CREATE_TIME
        ORDER BY TPPS.CREATE_TIME
    </select>

    <!--查询票货港存动态-->
    <select id="getAllStorageList" resultType="com.yy.ppm.business.bean.dto.TBusCargoStorageDTO"
            parameterType="java.lang.Long">
        SELECT
            TPPSD.ID,
            TPPS.CLEAN_MASS_SIGN,
            TPPSD.PROCESS_DETAIL_CODE,
            TPPSD.CARGO_TRANSFER_ID,
            TPPS.STOREHOUSE_ID,
            TPPS.STOREHOUSE_NAME,
            TPPS.REGION_ID,
            TPPS.REGION_NAME,
            TPPS.MASS_ID,
            TPPS.MASS_NAME
        FROM T_PRD_PORT_STORAGE TPPS
        INNER JOIN T_PRD_PORT_STORAGE_DETAIL TPPSD ON TPPS.ID = TPPSD.PORT_STORAGE_ID
        <where>
            TPPS.CARGO_INFO_ID = #{cargoInfoId}
            <if test="cargoTransferId != null">
                AND TPPSD.CARGO_TRANSFER_ID = #{cargoTransferId}
            </if>
            <if test="massIdList != null and massIdList.size() > 0">
                AND TPPS.MASS_ID IN
                <foreach collection="massIdList" open="(" separator="," item="id" close=")">
                    #{id, jdbcType=BIGINT}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.business.bean.dto.TBusCargoTransferDTO" parameterType="java.lang.Long">
        SELECT
        CT.ID,
        CT.TRANSFER_DATE,
        CT.CARGO_INFO_ID_SOURCE,
        CT.CARGO_INFO_ID_TARGET,
        CT.QUANTITY,
        CT.TON,
        CT.CARGO_OWNER_ID,
        CT.CARGO_OWNER_NAME,
        CT.CARGO_AGENT_ID,
        CT.CARGO_AGENT_NAME,
        CT.STORAGE_DATE,
        CT.STATUS,
        CT.REMARK,
        CT.CREATE_BY,
        CT.CREATE_BY_NAME,
        CT.CREATE_TIME,
        CT.UPDATE_BY,
        CT.UPDATE_BY_NAME,
        CT.UPDATE_TIME,
        CT.IS_BILLING,
        CT.PAYMENT_CUSTOMER_ID,
        CT.PAYMENT_CUSTOMER_NAME,
        CT.CARGO_SOURCE,
        CI1.SHIP_NAME,
        CI1.CARGO_NAME,
        CI1.TRADE_TYPE,
        CI1.PACKING_NAME,
        <!--原货主货代信息-->
        CI1.CARGO_OWNER_ID CARGO_OWNER_ID_SOURCE,
        CI1.CARGO_OWNER_NAME CARGO_OWNER_NAME_SOURCE,
        CI1.CARGO_AGENT_ID  CARGO_AGENT_ID_SOURCE,
        CI1.CARGO_AGENT_NAME CARGO_AGENT_NAME_SOURCE,
        CI1.COMPANY_ID,
        CI1.COMPANY_NAME,
        <!--目标货主货代信息-->
        CI2.CARGO_OWNER_ID CARGO_OWNER_ID_TARGET,
        CI2.CARGO_OWNER_NAME CARGO_OWNER_NAME_TARGET,
        CI2.CARGO_AGENT_ID CARGO_AGENT_ID_TARGET,
        CI2.CARGO_AGENT_NAME CARGO_AGENT_NAME_TARGET
        FROM
        T_BUS_CARGO_TRANSFER CT
        LEFT JOIN
        T_BUS_CARGO_INFO CI1 ON CI1.ID = CT.CARGO_INFO_ID_SOURCE
        LEFT JOIN
        T_BUS_CARGO_INFO CI2 ON CI2.ID = CT.CARGO_INFO_ID_TARGET
        <where>
            CT.ID = #{id}
        </where>
    </select>
    <select id="getPage" resultType="com.yy.ppm.business.bean.dto.TBusCargoTransferDTO" parameterType="com.yy.ppm.business.bean.dto.TBusCargoTransferSearchDTO">
        SELECT T.* FROM (
            SELECT
                CT.ID,
                CT.TRANSFER_DATE,
                CT.CARGO_INFO_ID_SOURCE,
                CT.CARGO_INFO_ID_TARGET,
                CT.QUANTITY,
                CT.TON,
                CT.CARGO_OWNER_ID,
                CT.CARGO_OWNER_NAME,
                CT.CARGO_AGENT_ID,
                CT.CARGO_AGENT_NAME,
                CT.STORAGE_DATE,
                CT.STATUS,
                CT.REMARK,
                CT.CREATE_BY,
                CT.CREATE_BY_NAME,
                CT.CREATE_TIME,
                CT.UPDATE_BY,
                CT.UPDATE_BY_NAME,
                CT.UPDATE_TIME,
                CT.IS_BILLING,
                CT.PAYMENT_CUSTOMER_ID,
                CT.PAYMENT_CUSTOMER_NAME,
                CI1.COMPANY_ID,
                CI1.COMPANY_NAME,
                CI1.SHIPVOYAGE_ITEM_ID,
                (CASE WHEN CI1.SHIP_NAME IS NOT NULL AND CI1.VOYAGE IS NOT NULL
                THEN TO_CHAR(CI1.SHIP_NAME) || '_' || TO_CHAR(CI1.VOYAGE)
                ELSE ''
                END) SHIP_NAME_VOYAGE,
                CI1.CARGO_CODE,
                CI1.PACKING_CODE,
                CI1.SHIP_NAME,
                CI1.CARGO_NAME,
                CI1.TRADE_TYPE,
                CI1.PACKING_NAME,
                <!--原货主货代信息-->
                CI1.CARGO_OWNER_ID CARGO_OWNER_ID_SOURCE,
                CI1.CARGO_OWNER_NAME CARGO_OWNER_NAME_SOURCE,
                CI1.CARGO_AGENT_ID  CARGO_AGENT_ID_SOURCE,
                CI1.CARGO_AGENT_NAME CARGO_AGENT_NAME_SOURCE,
                CI1.CARGO_INFO_NO AS SOURCE_CARGO_INFO_NO,
                <!--目标货主货代信息-->
                CI2.CARGO_OWNER_ID CARGO_OWNER_ID_TARGET,
                CI2.CARGO_OWNER_NAME CARGO_OWNER_NAME_TARGET,
                CI2.CARGO_AGENT_ID CARGO_AGENT_ID_TARGET,
                CI2.CARGO_AGENT_NAME CARGO_AGENT_NAME_TARGET,
                CI2.CARGO_INFO_NO AS TARGET_CARGO_INFO_NO,
                LISTAGG(TPPS.MASS_NAME,',') WITHIN GROUP (ORDER BY TPPS.MASS_NAME) MASS_NAME
            FROM
                T_BUS_CARGO_TRANSFER CT
            INNER JOIN
                T_BUS_CARGO_INFO CI1 ON CI1.ID = CT.CARGO_INFO_ID_SOURCE
            LEFT JOIN
                T_BUS_CARGO_INFO CI2 ON CI2.ID = CT.CARGO_INFO_ID_TARGET
            LEFT JOIN
                (
                SELECT DISTINCT T1.CARGO_INFO_ID,T1.MASS_NAME FROM T_PRD_PORT_STORAGE T1
                INNER JOIN T_PRD_PORT_STORAGE_DETAIL T2 ON T1.ID = T2.PORT_STORAGE_ID
                ) TPPS ON CT.CARGO_INFO_ID_SOURCE = TPPS.CARGO_INFO_ID
            <where>
                <if test="transferDate != null">
                    and  TO_CHAR(CT.TRANSFER_DATE, 'YYYY-MM-DD') &gt;= #{transferDate}
                </if>
                <if test="oldCargoOwnerId != null">
                    and  CI1.CARGO_OWNER_ID = #{oldCargoOwnerId}
                </if>
                <if test="cargoOwnerId != null">
                    and  CT.CARGO_OWNER_ID = #{cargoOwnerId}
                </if>
                <if test="cargoCode != null and cargoCode != ''">
                    and  CI1.CARGO_CODE = #{cargoCode}
                </if>
                <if test="tradeType != null and tradeType != ''">
                    and  CI1.TRADE_TYPE = #{tradeType}
                </if>
                <if test="status != null and status != ''">
                    and  CT.STATUS = #{status}
                </if>
                <if test="isYard != null and isYard == '1'.toString()">
                    and  CT.STATUS != '1'
                </if>
                <if test="shipvoyageItemId != null">
                    and  CI1.SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId}
                </if>
                <if test="shipName!=null and shipName !=''">
                    <bind name="shipName_like" value="'%'+shipName+'%'"/>
                    AND CI1.SHIP_NAME LIKE #{shipName_like}
                </if>
                <if test="voyage!=null and voyage !=''">
                    <bind name="voyage_like" value="'%'+voyage+'%'"/>
                    AND CI1.VOYAGE LIKE #{voyage_like}
                </if>
                <if test="cargoInfoNo != null and cargoInfoNo != ''">
                    <bind name="cargoInfoNoLike" value="'%' + cargoInfoNo + '%'"></bind>
                    and  (CI1.CARGO_INFO_NO LIKE #{cargoInfoNoLike} OR CI2.CARGO_INFO_NO LIKE #{cargoInfoNoLike})
                </if>
            </where>
            GROUP BY
            CT.ID,
            CT.TRANSFER_DATE,
            CT.CARGO_INFO_ID_SOURCE,
            CT.CARGO_INFO_ID_TARGET,
            CT.QUANTITY,
            CT.TON,
            CT.CARGO_OWNER_ID,
            CT.CARGO_OWNER_NAME,
            CT.CARGO_AGENT_ID,
            CT.CARGO_AGENT_NAME,
            CT.STORAGE_DATE,
            CT.STATUS,
            CT.REMARK,
            CT.CREATE_BY,
            CT.CREATE_BY_NAME,
            CT.CREATE_TIME,
            CT.UPDATE_BY,
            CT.UPDATE_BY_NAME,
            CT.UPDATE_TIME,
            CT.IS_BILLING,
            CT.PAYMENT_CUSTOMER_ID,
            CT.PAYMENT_CUSTOMER_NAME,
            CI1.SHIP_NAME,
            CI1.CARGO_NAME,
            CI1.TRADE_TYPE,
            CI1.PACKING_NAME,
            CI1.CARGO_OWNER_ID,
            CI1.CARGO_OWNER_NAME,
            CI1.CARGO_AGENT_ID,
            CI1.CARGO_AGENT_NAME,
            CI1.CARGO_INFO_NO,
            CI2.CARGO_OWNER_ID,
            CI2.CARGO_OWNER_NAME,
            CI2.CARGO_AGENT_ID,
            CI2.CARGO_AGENT_NAME,
            CI2.CARGO_INFO_NO,
            CI1.COMPANY_ID,
            CI1.COMPANY_NAME,
            CI1.SHIPVOYAGE_ITEM_ID,
            CI1.CARGO_CODE,
            CI1.PACKING_CODE,
            CI1.VOYAGE
        ) T ORDER BY T.CREATE_TIME DESC
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.business.bean.dto.TBusCargoTransferDTO">
        INSERT INTO T_BUS_CARGO_TRANSFER(
            ID,
            TRANSFER_DATE,
            CARGO_INFO_ID_SOURCE,
            CARGO_INFO_ID_TARGET,
            QUANTITY,
            TON,
            CARGO_OWNER_ID,
            CARGO_OWNER_NAME,
            CARGO_AGENT_ID,
            CARGO_AGENT_NAME,
            STORAGE_DATE,
            STATUS,
            REMARK,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME,
            IS_BILLING,
            PAYMENT_CUSTOMER_ID,
            PAYMENT_CUSTOMER_NAME
        )VALUES (
            #{id, jdbcType=BIGINT},
            #{transferDate, jdbcType=DATE},
            #{cargoInfoIdSource, jdbcType=BIGINT},
            #{cargoInfoIdTarget, jdbcType=BIGINT},
            #{quantity, jdbcType=BIGINT},
            #{ton, jdbcType=DECIMAL},
            #{cargoOwnerId, jdbcType=BIGINT},
            #{cargoOwnerName, jdbcType=VARCHAR},
            #{cargoAgentId, jdbcType=BIGINT},
            #{cargoAgentName, jdbcType=VARCHAR},
            #{storageDate, jdbcType=DATE},
            #{status, jdbcType=VARCHAR},
            #{remark, jdbcType=VARCHAR},
            #{loginUserId, jdbcType=BIGINT},
            #{loginUserName, jdbcType=VARCHAR},
            #{now},
            #{isBilling, jdbcType=VARCHAR},
            #{paymentCustomerId, jdbcType=BIGINT},
            #{paymentCustomerName, jdbcType=VARCHAR}
        )
    </insert>
    <!-- 修改 -->
   <update id="update" parameterType="com.yy.ppm.business.bean.dto.TBusCargoTransferDTO">
        UPDATE
            T_BUS_CARGO_TRANSFER
        SET
           TRANSFER_DATE = #{transferDate,jdbcType=DATE},
           CARGO_INFO_ID_SOURCE = #{cargoInfoIdSource,jdbcType=BIGINT},
           CARGO_INFO_ID_TARGET = #{cargoInfoIdTarget,jdbcType=BIGINT},
           QUANTITY = #{quantity,jdbcType=BIGINT},
           TON = #{ton,jdbcType=DECIMAL},
           CARGO_OWNER_ID = #{cargoOwnerId,jdbcType=BIGINT},
           CARGO_OWNER_NAME = #{cargoOwnerName,jdbcType=VARCHAR},
           CARGO_AGENT_ID = #{cargoAgentId,jdbcType=BIGINT},
           CARGO_AGENT_NAME = #{cargoAgentName,jdbcType=VARCHAR},
           STORAGE_DATE = #{storageDate,jdbcType=DATE},
           STATUS = #{status,jdbcType=VARCHAR},
           REMARK = #{remark,jdbcType=VARCHAR},
           UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
           UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
           UPDATE_TIME = #{now},
           IS_BILLING = #{isBilling, jdbcType=VARCHAR},
           PAYMENT_CUSTOMER_ID = #{paymentCustomerId, jdbcType=BIGINT},
           PAYMENT_CUSTOMER_NAME = #{paymentCustomerName, jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>
    <update id="yardApprove" parameterType="com.yy.ppm.business.bean.dto.TBusCargoTransferDTO">
        UPDATE
        T_BUS_CARGO_TRANSFER
        SET
        YARD_APPROVAL_BY = #{yardApprovalBy,jdbcType=BIGINT},
        YARD_APPROVAL_BY_NAME = #{yardApprovalByName,jdbcType=VARCHAR},
        YARD_APPROVAL_TIME = #{yardApprovalTime,jdbcType=DATE},
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 修改 -->
    <update id="updateNotNull" parameterType="com.yy.ppm.business.bean.dto.TBusCargoTransferDTO">
        UPDATE
            T_BUS_CARGO_TRANSFER
        SET
            <if test="transferDate != null">
                TRANSFER_DATE = #{transferDate,jdbcType=DATE},
            </if>
            <if test="cargoInfoIdSource != null">
                CARGO_INFO_ID_SOURCE = #{cargoInfoIdSource,jdbcType=BIGINT},
            </if>
            <if test="cargoInfoIdTarget != null">
                CARGO_INFO_ID_TARGET = #{cargoInfoIdTarget,jdbcType=BIGINT},
            </if>
            <if test="quantity != null">
                QUANTITY = #{quantity,jdbcType=BIGINT},
            </if>
            <if test="ton != null">
                TON = #{ton,jdbcType=DECIMAL},
            </if>
            <if test="cargoOwnerId != null">
                CARGO_OWNER_ID = #{cargoOwnerId,jdbcType=BIGINT},
            </if>
            <if test="cargoOwnerName != null and cargoOwnerName != ''">
                CARGO_OWNER_NAME = #{cargoOwnerName,jdbcType=VARCHAR},
            </if>
            <if test="cargoAgentId != null">
                CARGO_AGENT_ID = #{cargoAgentId,jdbcType=BIGINT},
            </if>
            <if test="cargoAgentName != null and cargoAgentName !=''">
                CARGO_AGENT_NAME = #{cargoAgentName,jdbcType=VARCHAR},
            </if>
            <if test="storageDate != null">
                STORAGE_DATE = #{storageDate,jdbcType=DATE},
            </if>
            <if test="status != null and status !=''">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark !='' ">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 修改 -->
    <update id="approve" parameterType="com.yy.ppm.business.bean.dto.TBusCargoTransferDTO">
        UPDATE
        T_BUS_CARGO_TRANSFER
        SET
        CARGO_INFO_ID_TARGET = #{cargoInfoIdTarget,jdbcType=BIGINT},
        STATUS = #{status,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now},
        APPROVAL_BY = #{loginUserId, jdbcType=BIGINT},
        APPROVAL_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        APPROVAL_TIME = #{now}
        <if test="cargoSource != null and cargoSource != ''">
            ,CARGO_SOURCE = #{cargoSource, jdbcType=VARCHAR}
        </if>
        <if test="sourceStorageDate != null">
            ,SOURCE_STORAGE_DATE = #{sourceStorageDate, jdbcType=DATE}
        </if>
        <where>
            id = #{id}
        </where>
    </update>
   <!-- 删除 -->
   <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_BUS_CARGO_TRANSFER
        WHERE
            id = #{id}
    </delete>
    <select id="getCargoFreeStorageDays" resultType="com.yy.ppm.business.bean.dto.TBusCargoFreeStorageDTO">
        SELECT TBCC.COMPANY_ID,TBC.CUSTOMER_ID,TBCR.CARGO_CODE,TBCR.FREE_STORAGE_DAYS,
            TBC.START_TIME,TBC.END_TIME,TBCR.CREATE_TIME
        FROM T_BUS_CONTRACT_RATE TBCR
        INNER JOIN T_BUS_CONTRACT TBC ON TBCR.CONTRACT_ID = TBC.ID
        INNER JOIN T_BUS_CONTRACT_COMPANY TBCC ON TBC.ID = TBCC.CONTRACT_ID
        <where>
            TBC.STATUS = '20' AND TBCR.FREE_STORAGE_DAYS IS NOT NULL
            AND TBC.CUSTOMER_ID = #{customerId, jdbcType=BIGINT}
            AND TBCC.COMPANY_ID = #{companyId, jdbcType=BIGINT}
            AND TBCR.CARGO_CODE = #{cargoCode, jdbcType=VARCHAR}
            AND TO_DATE(#{time, jdbcType=VARCHAR}, 'yyyy-MM-dd') &gt;= TBC.START_TIME
            AND TO_DATE(#{time, jdbcType=VARCHAR}, 'yyyy-MM-dd') &lt;= TBC.END_TIME
        </where>
        ORDER BY TBCR.CREATE_TIME DESC
    </select>
    <select id="getWeightByTrustAndCargoInfo" resultType="com.yy.ppm.business.bean.dto.TBusCargoWeightDTO">
        SELECT V.WEIGH_OUT_DT,V.WEIGHT_GOODS
        FROM V_WEIGHT_INFO V
        INNER JOIN T_BUS_TRUST_CARGO TBTC ON V.PLAN_NO = TBTC.BUSINESS_NO
        <where>
            TBTC.TRUST_ID = #{trustId, jdbcType=BIGINT}
            AND TBTC.CARGO_INFO_ID = #{cargoInfoId, jdbcType=BIGINT}
        </where>
        ORDER BY V.WEIGH_OUT_DT ASC
    </select>
    <select id="getWeightByCargoInfo" resultType="com.yy.ppm.business.bean.dto.TBusCargoWeightDTO">
        SELECT V.WEIGH_OUT_DT,V.WEIGHT_GOODS
        FROM V_WEIGHT_INFO V
        <where>
            V.IS_OLD = '是'
            AND V.CARGO_INFO_ID = #{cargoInfoId, jdbcType=BIGINT}
        </where>
        ORDER BY V.WEIGH_OUT_DT ASC
    </select>
    <select id="getTrustByCargoInfoId" parameterType="com.yy.ppm.business.bean.dto.TBusCargoWeightDTO" resultType="com.yy.ppm.business.bean.dto.TBusTrustDTO">
        select TBT.ID
        from T_BUS_TRUST TBT
                 left join T_BUS_TRUST_CARGO TBTC on TBT.ID = TBTC.TRUST_ID
                 left join T_BUS_CARGO_INFO TBCI on TBTC.CARGO_INFO_ID = TBCI.ID
        WHERE TBCI.ID  IN(
            select CARGO_INFO_ID_TARGET
            from T_BUS_CARGO_TRANSFER WHERE ID  = #{id,jdbcType=BIGINT}
            )
    </select>
</mapper>

