<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.business.mapper.TBusRateMapper">

    <sql id="commonList">
        SELECT
        A.ID,
        A.RATE_ITEM_CODE,
        A.RATE_ITEM_NAME,
        A.SERVICE_CONTENT_ID,
        A.SERVICE_CONTENT_NAME,
        A.PROCESS_CODE,
        A.PROCESS_NAME,
        A.CARGO_CODE,
        A.CARGO_NAME,
        A.INTE_FORE,
        A.RATE,
        A.TAX_RATE,
        A.WORK_TYPE,
        A.MEASUREMENT_UNIT_CODE1,
        B.DICT_LABEL  AS MEASUREMENT_UNIT_NAME1,
        A.MEASUREMENT_UNIT_CODE2,
        C.DICT_LABEL  AS MEASUREMENT_UNIT_NAME2,
        A.STATUS,
        M2.NM AS STATUS_LABEL,
        A.START_DATE,
        A.END_DATE,
        A.FREE_STORAGE_DAYS,
        A.REMARK,
        A.EXAMINE_BY,
        A.EXAMINE_BY_NAME,
        A.EXAMINE_TIME,
        A.CREATE_BY,
        A.CREATE_BY_NAME,
        A.CREATE_TIME,
        A.UPDATE_BY,
        A.UPDATE_BY_NAME,
        A.UPDATE_TIME,
        A.DATA_SOURCE
        FROM
            T_BUS_RATE A
        left join M_CONSTANTS M2 ON A.STATUS=M2.CD and M2.TYPE_CD='RATE_STATUS'
        left join M_DICT_DATA B on B.DICT_TYPE = 'UNIT' and B.DICT_VALUE=A.MEASUREMENT_UNIT_CODE1
        left join M_DICT_DATA C on C.DICT_TYPE = 'UNIT' and C.DICT_VALUE=A.MEASUREMENT_UNIT_CODE2
        <where>
            <if test="dataSource != null">
                and A.DATA_SOURCE = #{dataSource}
            </if>
            <if test="rateItemCode != null">
                and A.RATE_ITEM_CODE = #{rateItemCode}
            </if>
            <if test="rateItemName != null and rateItemName != ''">
                <bind name="rateItemNameLike" value="'%' + rateItemName + '%'"/>
                and A.RATE_ITEM_NAME like #{rateItemNameLike}
            </if>
            <if test="serviceContentId != null">
                and A.SERVICE_CONTENT_ID = #{serviceContentId}
            </if>
            <if test="serviceContentName != null and serviceContentName != ''">
                and A.SERVICE_CONTENT_NAME = #{serviceContentName}
            </if>
            <if test="processCode != null and processCode != ''">
                and A.PROCESS_CODE = #{processCode}
            </if>
            <if test="processName != null and processName != ''">
                and A.PROCESS_NAME = #{processName}
            </if>
            <if test="cargoCode != null and cargoCode != ''">
                and A.CARGO_CODE = #{cargoCode}
            </if>
            <if test="cargoName != null and cargoName != ''">
                and A.CARGO_NAME = #{cargoName}
            </if>
            <if test="inteFore != null and inteFore != ''">
                and A.INTE_FORE = #{inteFore}
            </if>
            <if test="rate != null">
                and A.RATE = #{rate}
            </if>
            <if test="taxRate != null">
                and A.TAX_RATE = #{taxRate}
            </if>
            <if test="measurementUnitCode1 != null and measurementUnitCode1 != ''">
                and A.MEASUREMENT_UNIT_CODE1 = #{measurementUnitCode1}
            </if>
            <if test="measurementUnitCode2 != null and measurementUnitCode2 != ''">
                and A.MEASUREMENT_UNIT_CODE2 = #{measurementUnitCode2}
            </if>
            <if test="status != null and status != ''">
                and A.STATUS = #{status}
            </if>
            <if test="startDate != null">
                and A.START_DATE = #{startDate}
            </if>
            <if test="endDate != null">
                and A.END_DATE = #{endDate}
            </if>
            <if test="remark != null and remark != ''">
                and A.REMARK = #{remark}
            </if>
        </where>
        order by A.CREATE_TIME desc
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.business.bean.dto.TBusRateDTO"
            parameterType="com.yy.ppm.business.bean.dto.TBusRateSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.business.bean.dto.TBusRateDTO" parameterType="com.yy.ppm.business.bean.dto.TBusRateSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.business.bean.dto.TBusRateDTO" parameterType="java.lang.Long">
        SELECT
            ID,
            RATE_ITEM_CODE,
            RATE_ITEM_NAME,
            FREE_STORAGE_DAYS,
            SERVICE_CONTENT_ID,
            SERVICE_CONTENT_NAME,
            PROCESS_CODE,
            PROCESS_NAME,
            CARGO_CODE,
            CARGO_NAME,
            INTE_FORE,
            RATE,
            TAX_RATE,
            MEASUREMENT_UNIT_CODE1,
            MEASUREMENT_UNIT_CODE2,
            STATUS,
            START_DATE,
            END_DATE,
            REMARK,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_BY_NAME,
            UPDATE_TIME,
            WORK_TYPE,
            DATA_SOURCE,
            RATE_CODE_EAS,
            RATE_NAME_EAS,
            EAS_TYPE,
            EAS_ITEM_RATE_CODE,
            EAS_ITEM_RATE_NAME
        FROM
            T_BUS_RATE
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getDetailCargo" resultType="com.yy.ppm.business.bean.dto.TBusRateDTO" parameterType="com.yy.ppm.business.bean.dto.TBusRateSearchDTO">
        SELECT
        ID,
        RATE_ITEM_CODE,
        FREE_STORAGE_DAYS,
        RATE_ITEM_NAME,
        SERVICE_CONTENT_ID,
        SERVICE_CONTENT_NAME,
        PROCESS_CODE,
        PROCESS_NAME,
        CARGO_CODE,
        CARGO_NAME,
        INTE_FORE,
        RATE,
        TAX_RATE,
        MEASUREMENT_UNIT_CODE1,
        MEASUREMENT_UNIT_CODE2,
        STATUS,
        START_DATE,
        END_DATE,
        REMARK,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        DATA_SOURCE
        FROM
        T_BUS_RATE
        where
            CARGO_CODE = #{cargoCode} and RATE_ITEM_CODE = '02' AND DATA_SOURCE = 2
            AND to_char(START_DATE,'yyyy-mm-dd') = to_char(#{startDate},'yyyy-mm-dd')
            AND to_char(END_DATE,'yyyy-mm-dd') = to_char(#{endDate},'yyyy-mm-dd')

    </select>

    <!-- 根据gid查询数据 -->
    <select id="getListCargo" resultType="com.yy.ppm.business.bean.dto.TBusRateDTO" parameterType="com.yy.ppm.business.bean.dto.TBusRateSearchDTO">
            SELECT
                A1.CARGO_CODE "cargoCode",
                A1.CARGO_NAME "cargoName",
				A3.CARGO_CATEGORY_CODE "cargoCategoryCode",
				A3.CARGO_CATEGORY_NAME "cargoCategoryName",
				A3.CARGO_TYPE_CODE "cargoTypeCode",
				A3.CARGO_TYPE_NAME "cargoTypeName",
				A1.START_DATE "startDate",
				A1.END_DATE "endDate",
				A1.STATUS,
                A2.SIGN
            FROM
                T_BUS_RATE A1
			LEFT JOIN M_CARGO A2 on A1.CARGO_CODE = a2.CARGO_CODE
			LEFT JOIN M_CARGO_CATEGORY A3 on a2.CARGO_CATEGORY_CODE = a3.CARGO_CATEGORY_CODE
			<where>
                <if test="dataSource != null">
                    and A1.DATA_SOURCE = #{dataSource}
                </if>
                <if test="cargoCode != null and cargoCode != ''">
                    and A1.CARGO_CODE = #{cargoCode}
                </if>
                <if test="cargoName != null and cargoName != ''">
                    <bind name="cargoNm" value="'%'+cargoName+'%'"/>
                    and A1.CARGO_NAME LIKE #{cargoNm}
                </if>
                <if test="status != null and status != ''">
                    and A1.STATUS = #{status}
                </if>
            </where>
			GROUP BY
				A1.CARGO_CODE,
                A1.CARGO_NAME,
				A3.CARGO_CATEGORY_CODE,
				A3.CARGO_CATEGORY_NAME,
				A3.CARGO_TYPE_CODE,
				A3.CARGO_TYPE_NAME,
				A1.START_DATE,
				A1.END_DATE,
				A1.STATUS,
                A2.SIGN
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.business.bean.dto.TBusRateDTO">
        INSERT INTO T_BUS_RATE(
                ID,
                RATE_ITEM_CODE,
                RATE_ITEM_NAME,
                SERVICE_CONTENT_ID,
                SERVICE_CONTENT_NAME,
                PROCESS_CODE,
                PROCESS_NAME,
                CARGO_CODE,
                CARGO_NAME,
                INTE_FORE,
                RATE,
                FREE_STORAGE_DAYS,
                TAX_RATE,
                MEASUREMENT_UNIT_CODE1,
                MEASUREMENT_UNIT_CODE2,
                STATUS,
                START_DATE,
                END_DATE,
                REMARK,
                CREATE_BY,
                CREATE_BY_NAME,
                CREATE_TIME,
                WORK_TYPE,
                DATA_SOURCE,
                EAS_TYPE,
                RATE_CODE_EAS,
                RATE_NAME_EAS,
                EAS_ITEM_RATE_CODE,
                EAS_ITEM_RATE_NAME
        )VALUES (
            #{id, jdbcType=BIGINT},
            #{rateItemCode,jdbcType=VARCHAR},
            #{rateItemName, jdbcType=VARCHAR},
            #{serviceContentId, jdbcType=BIGINT},
            #{serviceContentName, jdbcType=VARCHAR},
            #{processCode, jdbcType=VARCHAR},
            #{processName, jdbcType=VARCHAR},
            #{cargoCode, jdbcType=VARCHAR},
            #{cargoName, jdbcType=VARCHAR},
            #{inteFore, jdbcType=VARCHAR},
            #{rate,jdbcType=DECIMAL},
            #{freeStorageDays,jdbcType=VARCHAR},
            #{taxRate, jdbcType=DECIMAL},
            #{measurementUnitCode1, jdbcType=VARCHAR},
            #{measurementUnitCode2, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR},
            #{startDate, jdbcType=DATE},
            #{endDate, jdbcType=DATE},
            #{remark, jdbcType=VARCHAR},
            #{loginUserId, jdbcType=BIGINT},
            #{loginUserName, jdbcType=VARCHAR},
            #{now},
            #{workType,jdbcType=BIGINT},
            #{dataSource,jdbcType=BIGINT},
            #{easType, jdbcType=VARCHAR},
            #{rateCodeEas, jdbcType=VARCHAR},
            #{rateNameEas, jdbcType=VARCHAR},
            #{easItemRateCode, jdbcType=VARCHAR},
            #{easItemRateName, jdbcType=VARCHAR}
        )
    </insert>
    <!-- 修改 -->
   <update id="update" parameterType="com.yy.ppm.business.bean.dto.TBusRateDTO">
        UPDATE
            T_BUS_RATE
        SET
            RATE_ITEM_CODE = #{rateItemCode,jdbcType=VARCHAR},
            RATE_ITEM_NAME = #{rateItemName,jdbcType=VARCHAR},
            FREE_STORAGE_DAYS = #{freeStorageDays,jdbcType=VARCHAR},
            SERVICE_CONTENT_ID = #{serviceContentId,jdbcType=BIGINT},
            SERVICE_CONTENT_NAME = #{serviceContentName,jdbcType=VARCHAR},
            PROCESS_CODE = #{processCode,jdbcType=VARCHAR},
            PROCESS_NAME = #{processName,jdbcType=VARCHAR},
            CARGO_CODE = #{cargoCode,jdbcType=VARCHAR},
            CARGO_NAME = #{cargoName,jdbcType=VARCHAR},
            INTE_FORE = #{inteFore,jdbcType=VARCHAR},
            RATE = #{rate,jdbcType=DECIMAL},
            TAX_RATE = #{taxRate,jdbcType=DECIMAL},
            MEASUREMENT_UNIT_CODE1 = #{measurementUnitCode1,jdbcType=VARCHAR},
            MEASUREMENT_UNIT_CODE2 = #{measurementUnitCode2,jdbcType=VARCHAR},
            STATUS = #{status,jdbcType=VARCHAR},
            START_DATE = #{startDate,jdbcType=DATE},
            END_DATE = #{endDate,jdbcType=DATE},
            REMARK = #{remark,jdbcType=VARCHAR},
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now},
            WORK_TYPE = #{workType,jdbcType=BIGINT},
            EAS_TYPE = #{easType, jdbcType=VARCHAR},
            RATE_CODE_EAS = #{rateCodeEas, jdbcType=VARCHAR},
            RATE_NAME_EAS = #{rateNameEas, jdbcType=VARCHAR},
            EAS_ITEM_RATE_CODE = #{easItemRateCode, jdbcType=VARCHAR},
            EAS_ITEM_RATE_NAME = #{easItemRateName, jdbcType=VARCHAR}
       <where>
            id = #{id}
        </where>
    </update>

    <insert id="insertCargo" parameterType="com.yy.ppm.business.bean.dto.TBusRateDTO">
        INSERT INTO T_BUS_RATE(
                ID,
                RATE_ITEM_CODE,
                RATE_ITEM_NAME,
                SERVICE_CONTENT_ID,
                SERVICE_CONTENT_NAME,
                CARGO_CODE,
                CARGO_NAME,
                INTE_FORE,
                RATE,
                TAX_RATE,
                MEASUREMENT_UNIT_CODE1,
                MEASUREMENT_UNIT_CODE2,
                STATUS,
                START_DATE,
                END_DATE,
                REMARK,
                CREATE_BY,
                CREATE_BY_NAME,
                CREATE_TIME,
                WORK_TYPE,
                DATA_SOURCE
        )VALUES (
            #{id, jdbcType=BIGINT},
            #{rateItemCode,jdbcType=VARCHAR},
            #{rateItemName, jdbcType=VARCHAR},
            #{serviceContentId, jdbcType=BIGINT},
            #{serviceContentName, jdbcType=VARCHAR},
            #{cargoCode, jdbcType=VARCHAR},
            #{cargoName, jdbcType=VARCHAR},
            #{inteFore, jdbcType=VARCHAR},
            #{rate,jdbcType=DECIMAL},
            #{taxRate, jdbcType=DECIMAL},
            #{measurementUnitCode1, jdbcType=VARCHAR},
            #{measurementUnitCode2, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR},
            #{startDate, jdbcType=DATE},
            #{endDate, jdbcType=DATE},
            #{remark, jdbcType=VARCHAR},
            #{loginUserId, jdbcType=BIGINT},
            #{loginUserName, jdbcType=VARCHAR},
            #{now},
            #{workType,jdbcType=BIGINT},
            #{dataSource,jdbcType=BIGINT}
        )
    </insert>

    <insert id="insertCargoList" parameterType="java.util.List">
        INSERT INTO T_BUS_RATE_LOG(
        ID,
        RATE_ID,
        RATE_ITEM_CODE,
        RATE_ITEM_NAME,
        SERVICE_CONTENT_ID,
        SERVICE_CONTENT_NAME,
        CARGO_CODE,
        CARGO_NAME,
        INTE_FORE,
        RATE,
        TAX_RATE,
        MEASUREMENT_UNIT_CODE1,
        MEASUREMENT_UNIT_CODE2,
        START_DATE,
        END_DATE,
        REMARK,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        FLAG
        )
        (
        <foreach collection="list" item="item" index="" separator="union all">
            select
            #{item.id, jdbcType=BIGINT},
            #{item.rateId, jdbcType=BIGINT},
            #{item.rateItemCode,jdbcType=VARCHAR},
            #{item.rateItemName, jdbcType=VARCHAR},
            #{item.serviceContentId, jdbcType=BIGINT},
            #{item.serviceContentName, jdbcType=VARCHAR},
            #{item.cargoCode, jdbcType=VARCHAR},
            #{item.cargoName, jdbcType=VARCHAR},
            #{item.inteFore, jdbcType=VARCHAR},
            #{item.rate,jdbcType=DECIMAL},
            #{item.taxRate, jdbcType=DECIMAL},
            #{item.measurementUnitCode1, jdbcType=VARCHAR},
            #{item.measurementUnitCode2, jdbcType=VARCHAR},
            #{item.startDate, jdbcType=DATE},
            #{item.endDate, jdbcType=DATE},
            #{item.remark, jdbcType=VARCHAR},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now},
            #{item.flag,jdbcType=VARCHAR}
            from dual
        </foreach>
        )
    </insert>

    <!-- 修改 -->
    <update id="updateCargo">
        <foreach collection="list" open="BEGIN" close="END;" item="item" separator=";" index="index">
            UPDATE T_BUS_RATE
            SET
            RATE_ITEM_CODE = #{item.rateItemCode,jdbcType=VARCHAR},
            RATE_ITEM_NAME = #{item.rateItemName,jdbcType=VARCHAR},
            SERVICE_CONTENT_ID = #{item.serviceContentId,jdbcType=BIGINT},
            SERVICE_CONTENT_NAME = #{item.serviceContentName,jdbcType=VARCHAR},
            CARGO_CODE = #{item.cargoCode,jdbcType=VARCHAR},
            CARGO_NAME = #{item.cargoName,jdbcType=VARCHAR},
            INTE_FORE = #{item.inteFore,jdbcType=VARCHAR},
            RATE = #{item.rate,jdbcType=DECIMAL},
            TAX_RATE = #{item.taxRate,jdbcType=DECIMAL},
            MEASUREMENT_UNIT_CODE1 = #{item.measurementUnitCode1,jdbcType=VARCHAR},
            MEASUREMENT_UNIT_CODE2 = #{item.measurementUnitCode2,jdbcType=VARCHAR},
            START_DATE = #{item.startDate,jdbcType=DATE},
            END_DATE = #{item.endDate,jdbcType=DATE},
            REMARK = #{item.remark,jdbcType=VARCHAR},
            UPDATE_BY = #{item.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{item.now},
            WORK_TYPE = #{item.workType,jdbcType=BIGINT}
            WHERE ID = #{item.id}
            <if test="(list.size-1) == index">
                ;
            </if>
        </foreach>
    </update>
    <update id="updateStatusPassCancle" parameterType="com.yy.ppm.business.bean.dto.TBusRateDTO">
        UPDATE
            T_BUS_RATE
        SET
            STATUS = #{status,jdbcType=VARCHAR},
            EXAMINE_BY = #{loginUserId, jdbcType=BIGINT},
            EXAMINE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            EXAMINE_TIME = #{now},
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <update id="busRatePassCargo" parameterType="com.yy.ppm.business.bean.dto.TBusRateDTO">
        UPDATE
        T_BUS_RATE
        SET
        STATUS = #{status,jdbcType=VARCHAR},
        EXAMINE_BY = #{loginUserId, jdbcType=BIGINT},
        EXAMINE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        EXAMINE_TIME = #{now}
        where
            CARGO_CODE = #{cargoCode} and RATE_ITEM_CODE = '02' AND DATA_SOURCE = 2
            AND to_char(START_DATE,'yyyy-mm-dd') = to_char(#{startDate},'yyyy-mm-dd')
            AND to_char(END_DATE,'yyyy-mm-dd') = to_char(#{endDate},'yyyy-mm-dd')
    </update>

    <update id="busRateRevokeCargo" parameterType="com.yy.ppm.business.bean.dto.TBusRateDTO">
        UPDATE
        T_BUS_RATE
        SET
        STATUS = #{status,jdbcType=VARCHAR},
        EXAMINE_BY = null,
        EXAMINE_BY_NAME = null,
        EXAMINE_TIME = null
        where
            CARGO_CODE = #{cargoCode} and RATE_ITEM_CODE = '02' AND DATA_SOURCE = 2
            AND to_char(START_DATE,'yyyy-mm-dd') = to_char(#{startDate},'yyyy-mm-dd')
            AND to_char(END_DATE,'yyyy-mm-dd') = to_char(#{endDate},'yyyy-mm-dd')
    </update>

    <!-- 删除 -->
    <delete id="delRateCargo" >
        DELETE FROM
            T_BUS_RATE
        WHERE
            CARGO_CODE = #{cargoCode} and RATE_ITEM_CODE = '02' AND DATA_SOURCE = 2
            AND to_char(START_DATE,'yyyy-mm-dd') = to_char(#{startDate},'yyyy-mm-dd')
            AND to_char(END_DATE,'yyyy-mm-dd') = to_char(#{endDate},'yyyy-mm-dd')
    </delete>

    <delete id="delRateList" >
        DELETE FROM
            T_BUS_RATE
        WHERE
        ID IN
        <foreach collection="ids" open="(" separator="," item="item" close=")">
            #{item}
        </foreach>
    </delete>

   <!-- 删除 -->
   <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_BUS_RATE
        WHERE
            id = #{id}
    </delete>

    <!-- 查询 -->
    <select id="selectByTime" parameterType="com.yy.ppm.business.bean.dto.TBusRateDTO" resultType="Integer">
        SELECT
        COUNT(CARGO_CODE)
        FROM
        T_BUS_RATE
        where
             RATE_ITEM_CODE = '02' AND DATA_SOURCE = 2
            AND to_char(START_DATE,'yyyy-mm-dd') = to_char(#{startDate},'yyyy-mm-dd')
            AND to_char(END_DATE,'yyyy-mm-dd') = to_char(#{endDate},'yyyy-mm-dd')
            and CARGO_CODE = #{cargoCode,jdbcType=VARCHAR}
    </select>

    <select id="getListService" resultType="com.yy.ppm.business.bean.dto.TBusRateDTO"
            parameterType="com.yy.ppm.business.bean.dto.BusServiceSearchDTO">
        	SELECT
                ID serviceContentId,
                SERVICE_NM serviceContentName,
                IN_OUT inOut,
                '内贸' as inteFore
            FROM
                t_bus_service
			UNION ALL

			SELECT
                ID serviceContentId,
                SERVICE_NM serviceContentName,
                IN_OUT inOut,
                '外贸' as inteFore
            FROM
                t_bus_service
    </select>
    <select id="getCargoNameByCode" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        T_BUS_RATE
        <where>
            CARGO_CODE  = #{cargoCode}
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="getBusRateList" resultType="com.yy.ppm.business.bean.dto.TBusRateDTO"
            parameterType="com.yy.ppm.business.bean.dto.TBusRateSearchDTO">
        SELECT
        A.ID,
        A.RATE_ITEM_CODE,
        A.RATE_ITEM_NAME,
        A.SERVICE_CONTENT_ID,
        A.SERVICE_CONTENT_NAME,
        A.PROCESS_CODE,
        A.PROCESS_NAME,
        A.CARGO_CODE,
        A.CARGO_NAME,
        A.INTE_FORE,
        A.RATE,
        A.TAX_RATE,
        A.WORK_TYPE,
        A.MEASUREMENT_UNIT_CODE1,
        B.DICT_LABEL  AS MEASUREMENT_UNIT_NAME1,
        A.MEASUREMENT_UNIT_CODE2,
        C.DICT_LABEL  AS MEASUREMENT_UNIT_NAME2,
        A.STATUS,
        M2.NM AS STATUS_LABEL,
        A.START_DATE,
        A.END_DATE,
        A.FREE_STORAGE_DAYS,
        A.REMARK,
        A.EXAMINE_BY,
        A.EXAMINE_BY_NAME,
        A.EXAMINE_TIME,
        A.CREATE_BY,
        A.CREATE_BY_NAME,
        A.CREATE_TIME,
        A.UPDATE_BY,
        A.UPDATE_BY_NAME,
        A.UPDATE_TIME,
        A.DATA_SOURCE
        FROM
        T_BUS_RATE A
        left join M_CONSTANTS M2 ON A.STATUS=M2.CD and M2.TYPE_CD='RATE_STATUS'
        left join M_DICT_DATA B on B.DICT_TYPE = 'UNIT' and B.DICT_VALUE=A.MEASUREMENT_UNIT_CODE1
        left join M_DICT_DATA C on C.DICT_TYPE = 'UNIT' and C.DICT_VALUE=A.MEASUREMENT_UNIT_CODE2
        <where>
            <if test="dataSource != null">
                and A.DATA_SOURCE = #{dataSource}
            </if>
            <if test="rateItemCode != null">
                and A.RATE_ITEM_CODE = #{rateItemCode}
            </if>
            <if test="rateItemName != null and rateItemName != ''">
                and A.RATE_ITEM_NAME = #{rateItemName}
            </if>
            <if test="serviceContentId != null">
                and A.SERVICE_CONTENT_ID = #{serviceContentId}
            </if>
            <if test="serviceContentName != null and serviceContentName != ''">
                and A.SERVICE_CONTENT_NAME = #{serviceContentName}
            </if>
            <if test="processCode != null and processCode != ''">
                and A.PROCESS_CODE = #{processCode}
            </if>
            <if test="processName != null and processName != ''">
                and A.PROCESS_NAME = #{processName}
            </if>
            <if test="cargoCode != null and cargoCode != ''">
                and A.CARGO_CODE = #{cargoCode}
            </if>
            <if test="cargoName != null and cargoName != ''">
                and A.CARGO_NAME = #{cargoName}
            </if>
            <if test="inteFore != null and inteFore != ''">
                and A.INTE_FORE = #{inteFore}
            </if>
            <if test="rate != null">
                and A.RATE = #{rate}
            </if>
            <if test="taxRate != null">
                and A.TAX_RATE = #{taxRate}
            </if>
            <if test="measurementUnitCode1 != null and measurementUnitCode1 != ''">
                and A.MEASUREMENT_UNIT_CODE1 = #{measurementUnitCode1}
            </if>
            <if test="measurementUnitCode2 != null and measurementUnitCode2 != ''">
                and A.MEASUREMENT_UNIT_CODE2 = #{measurementUnitCode2}
            </if>
            <if test="status != null and status != ''">
                and A.STATUS = #{status}
            </if>
            <if test="currTime != null and currTime != ''">
                AND TO_DATE(#{currTime, jdbcType=VARCHAR}, 'yyyy-MM-dd') &gt;= A.START_DATE
                AND TO_DATE(#{currTime, jdbcType=VARCHAR}, 'yyyy-MM-dd') &lt;= A.END_DATE
            </if>

        </where>
        order by A.CREATE_TIME desc
    </select>

</mapper>

