<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.business.mapper.TBusVehicleTransferMapper">

	<select id="getPage" resultType="com.yy.ppm.business.bean.dto.TBusTrustCargoQueryDTO" 
		parameterType="com.yy.ppm.business.bean.dto.TBusTrustCargoQueryDTO">
		SELECT
			a.ID "trustCargoId",
			A.TRUST_ID "trustId",
			b.CARGO_INFO_NO "cargoInfoNo",
			D.SHIP_NAME "shipName",
			D.VOYAGE "voyage",
			D.START_TIME,
			D.END_TIME,
			b.CARGO_OWNER_NAME "cargoOwnerName",
			b.CARGO_OWNER_ID,
			D .TRUST_NO "trustNo",
			D.PORT_CODE "workAreaCd",
			D.PORT_NAME "workAreaNm",
			b.PACKING_NAME "packingName",
			A.INNERTRANSPORT_TYPE,
			A.STATUS,
			A.TRANSPORT_TYPE,
			A.IS_RULE,
			A.EMPTY_WEIGHT,
			A.HEAVY_WEIGHT,
			MC.CARGO_CODE,
			A.BUSINESS_NO,
			A.PRINT_POUND_ID,
			A.PRINT_POUND_NUM,
		    TBT.TRUST_TYPE,
			CASE WHEN MC.SIGN IS NOT NULL  THEN MC.CARGO_NAME || '(' || MC.SIGN || ')' ELSE MC.CARGO_NAME END  CARGO_NAME
		FROM
			T_BUS_TRUST_CARGO A
		LEFT JOIN T_BUS_CARGO_INFO b ON b. ID = A .CARGO_INFO_ID
		LEFT JOIN T_DIS_SHIPVOYAGE_ITEM c ON b.SHIPVOYAGE_ITEM_ID = c. ID
		LEFT JOIN T_BUS_TRUST D ON A .TRUST_ID = D . ID
		LEFT JOIN M_CARGO MC ON A.CARGO_CODE = MC.CARGO_CODE
		LEFT JOIN T_BUS_TRUST TBT  ON TBT.ID = A.TRUST_ID
		<where>
			 A.IS_SECOND_WEIGH = '1'
			<if test="cargoInfoNo != null and cargoInfoNo != ''">
				<bind name="cargoInfoNo_like" value="'%' + cargoInfoNo + '%'"/>
				AND b.CARGO_INFO_NO LIKE #{cargoInfoNo_like}
			</if>
			<if test="cargoOwnerId != null and cargoOwnerId != ''">
				<bind name="cargoOwnerId_like" value="'%' + cargoOwnerId + '%'"/>
				AND b.CARGO_OWNER_ID LIKE #{cargoOwnerId_like}
			</if>
			<if test="status != null ">
				AND A.STATUS = #{status,jdbcType=VARCHAR}
			</if>
			<if test="cargoCode != null ">
				AND MC.CARGO_CODE = #{cargoCode,jdbcType=VARCHAR}
			</if>
			<if test="businessNo != null ">
				AND A.BUSINESS_NO = #{businessNo,jdbcType=VARCHAR}
			</if>
			<if test="shipvoyageItemId != null and shipvoyageItemId !='' ">
				AND D.SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId, jdbcType=BIGINT}
			</if>
		</where>
	</select>
	
	<select id="getTrustCagroDispatchSecondary" resultType="java.util.Map">
		SELECT
			T .EQUIPMENT_ID "equipmentId",
			T ."EQUIPMENT_NO" "equipmentNo",
			T .EQUIPMENT_TYPE_NAME "equipmentTypeName",
			T .EQUIPMENT_TYPE_ID "equipmentTypeId",
			T ."OPERATORS_ID" "operatorsId",
			T ."OPERATORS_NAME" "operatorsName",
			T ."TRUST_NO" "trustNo",
			T ."START_TIME" "startTime",
			T ."END_TIME" "endTime",
			T1.ID "vehicleTransferId",
			to_char(T1.CREATE_TIME,'YYYY-MM-DD HH24:MI')  "bindingTime"
		FROM
			(
				SELECT DISTINCT
					A .EQUIPMENT_ID "EQUIPMENT_ID",
					A .EQUIPMENT_NO "EQUIPMENT_NO",
					A .EQUIPMENT_TYPE_NAME "EQUIPMENT_TYPE_NAME",
					A .EQUIPMENT_TYPE_ID "EQUIPMENT_TYPE_ID",
					A .OPERATORS_ID "OPERATORS_ID",
					A .OPERATORS_NAME "OPERATORS_NAME",
					c.TRUST_NO "TRUST_NO",
					c.ID "TRUST_ID",
					c.START_TIME "START_TIME",
					c.END_TIME "END_TIME"
				FROM
					T_PRD_DISPATCH_SECONDARY A,
					T_PRD_WORK_PLAN b,
					T_BUS_TRUST c
				WHERE
					b.TRUST_ID = #{trustId}
				AND b.TRUST_ID = c. ID
				AND b.PLAN_TYPE = '3'
				AND A .WORK_PLAN_ID = b."ID"
				AND A .WORK_POSITION_CODE = '03'
			) T
		LEFT JOIN T_BUS_VEHICLE_TRANSFER T1 ON T1.TRUST_ID = T .TRUST_ID
		AND T1.TRUST_CARGO_ID = #{trustCargoId} AND T1.EQUIPMENT_ID = T.EQUIPMENT_ID
	</select>
	
	<delete id="deleteVehicleTransferList">
		DELETE FROM T_BUS_VEHICLE_TRANSFER WHERE TRUST_CARGO_ID = #{trustCargoId} AND TRUST_ID = #{trustId}
	</delete>
	
	<insert id="insertVehicleTransfer">
		INSERT INTO T_BUS_VEHICLE_TRANSFER(
			ID,
			TRUST_ID,
			TRUST_CARGO_ID,
			EQUIPMENT_ID,
			EQUIPMENT_NO,
			STATUS,
			DEL_FLAG,
			START_TIME, 
			END_TIME,
			CREATE_BY,
			CREATE_BY_NAME,
			CREATE_TIME
		) VALUES (
            #{id, jdbcType=BIGINT},
            #{trustId, jdbcType=BIGINT},
            #{trustCargoId, jdbcType=BIGINT},
            #{equipmentId, jdbcType=BIGINT},
            #{equipmentNo, jdbcType=VARCHAR},
			#{status, jdbcType=BIGINT},
			#{delFlag, jdbcType=BIGINT},
            #{startTime},
            #{endTime},
            #{createBy, jdbcType=BIGINT},
            #{createByName, jdbcType=VARCHAR},
            #{createTime}
		)
	</insert>
	
	<select id="getVehicleTransferList" resultType="com.yy.ppm.business.bean.dto.TBusVehicleTransferDTO">
		SELECT * FROM T_BUS_VEHICLE_TRANSFER WHERE TRUST_CARGO_ID = #{trustCargoId} AND DEL_FLAG = '0'
	</select>
	
	<select id="getVehicleTransferCountList" resultType="java.util.Map">
		SELECT count(*) "count", TSPT_ID "tsptId" from WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND WHERE
		WEIGHT_GOODS IS NOT NULL
		AND
		TSPT_ID IN
		<foreach collection="ids" item="id" close=")" open="(" separator=",">
			TO_CHAR(#{id})
		</foreach>
		GROUP BY TSPT_ID
	</select>
	
	<select id="getVehicleTransferTonsList" resultType="java.util.Map">
		SELECT sum(WEIGHT_GOODS) "count", TSPT_ID "tsptId" from WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND WHERE TSPT_ID IN 
		<foreach collection="ids" item="id" close=")" open="(" separator=",">
			TO_CHAR(#{id})
		</foreach>
		GROUP BY TSPT_ID
	</select>
	<select id="getVehicleList" resultType="com.yy.ppm.business.bean.dto.TBusVehicleTransferDTO">
		SELECT
		t.ID,
		t.TRUST_CARGO_ID,
		t.TRUST_ID,
		t.STATUS,
		t.DEL_FLAG,
		t.EQUIPMENT_ID,
		t.EQUIPMENT_NO,
		T2.MAC_TYPE_CODE as equipmentTypeId,
		T3.MAC_TYPE_NAME as equipmentTypeName,
		T4.DEPT_NAME
		FROM
		T_BUS_VEHICLE_TRANSFER t
		LEFT JOIN M_MACHINE T2  ON t.EQUIPMENT_ID = T2.ID
		LEFT JOIN M_MACHINE_TYPE T3  ON T3.MAC_TYPE_CODE = T2.MAC_TYPE_CODE
		LEFT JOIN SYS_DEPT T4 ON T2.DEPT_ID = T4.ID
		WHERE TRUST_CARGO_ID = #{trustCargoId} AND TRUST_ID = #{trustId} AND DEL_FLAG = '0'
		ORDER BY T4.DEPT_NAME,t.EQUIPMENT_NO
	</select>
	<select id="getAllList" resultType="com.yy.ppm.business.bean.dto.TBusTrustCargoQueryDTO">
		SELECT
		a.ID "trustCargoId",
		A.TRUST_ID "trustId",
		b.CARGO_INFO_NO "cargoInfoNo",
		b.SHIP_NAME "shipName",
		b.CARGO_NAME "cargoName",
		c.VOYAGE "voyage",
		b.CARGO_OWNER_NAME "cargoOwnerName",
		b.CARGO_OWNER_ID,
		D .TRUST_NO "trustNo",
		b.PACKING_NAME "packingName",
		A.INNERTRANSPORT_TYPE,
		A.STATUS,
		A.BUSINESS_NO
		FROM
		T_BUS_TRUST_CARGO A
		LEFT JOIN T_BUS_CARGO_INFO b ON b. ID = A .CARGO_INFO_ID
		LEFT JOIN T_DIS_SHIPVOYAGE_ITEM c ON b.SHIPVOYAGE_ITEM_ID = c. ID
		LEFT JOIN T_BUS_TRUST D ON A .TRUST_ID = D . ID
		<where>
			A.IS_SECOND_WEIGH = '1'
		</where>
	</select>
	<select id="getEmptyHeavy" resultType="com.yy.ppm.business.bean.dto.TBusTrustCargoDTO">
		SELECT
		EMPTY_WEIGHT,
		HEAVY_WEIGHT
		FROM M_WEIGHT_RULES
		WHERE
		CARGO_CODE=#{cargoCode}
	</select>
	<select id="getListByTrustCargoId" resultType="com.yy.ppm.business.bean.dto.TBusTrustCargoQueryDTO">
		SELECT
		a.ID "trustCargoId",
		A.TRUST_ID "trustId",
		b.CARGO_INFO_NO "cargoInfoNo",
		b.SHIP_NAME "shipName",
		b.CARGO_NAME "cargoName",
		c.VOYAGE "voyage",
		b.CARGO_OWNER_NAME "cargoOwnerName",
		b.CARGO_OWNER_ID,
		D .TRUST_NO "trustNo",
		b.PACKING_NAME "packingName",
		A.INNERTRANSPORT_TYPE,
		A.STATUS,
		D.START_TIME,
		D.END_TIME
		FROM
		T_BUS_TRUST_CARGO A
		LEFT JOIN T_BUS_CARGO_INFO b ON b. ID = A .CARGO_INFO_ID
		LEFT JOIN T_DIS_SHIPVOYAGE_ITEM c ON b.SHIPVOYAGE_ITEM_ID = c. ID
		LEFT JOIN T_BUS_TRUST D ON A .TRUST_ID = D . ID
		<where>
			A.IS_SECOND_WEIGH = '1'
			AND A.ID = #{trustCargoId}
		</where>
	</select>


	<update id="updateInnertransportType">
		UPDATE
			T_BUS_TRUST_CARGO
		SET INNERTRANSPORT_TYPE = #{innertransportType,jdbcType=VARCHAR}
		WHERE ID = #{id,jdbcType=BIGINT}
	</update>
	<!--主界面状态-->
	<update id="changeStatus">
		update
		T_BUS_TRUST_CARGO
		set
		status = #{status},
		UPDATE_BY      = #{loginUserId,jdbcType=BIGINT},
		UPDATE_BY_NAME = #{loginUserName,jdbcType=BIGINT},
		UPDATE_TIME    = #{now,jdbcType=TIMESTAMP}
		where
		id = #{trustCargoId}
	</update>
	<!--配工状态修改-->
	<update id="changeDetailStatus">
		update
		T_BUS_VEHICLE_TRANSFER
		set
		status = #{status}
		where
		id = #{id}
	</update>
	<update id="updateVehicleTransfer">
		update
		T_BUS_VEHICLE_TRANSFER
		set
		ID = #{id, jdbcType=BIGINT},
		TRUST_ID = #{trustId, jdbcType=BIGINT},
		TRUST_CARGO_ID = #{trustCargoId, jdbcType=BIGINT},
		EQUIPMENT_ID = #{equipmentId, jdbcType=BIGINT},
		EQUIPMENT_NO = #{equipmentNo, jdbcType=VARCHAR},
		STATUS = #{status},
		DEL_FLAG = #{delFlag, jdbcType=BIGINT},
		START_TIME = #{startTime},
		END_TIME = #{endTime}
		where
		id = #{id}
	</update>
	<update id="updateDelFlagVehicle">
		update
		T_BUS_VEHICLE_TRANSFER
		set
		DEL_FLAG = #{delFlag, jdbcType=BIGINT}
		where
		id = #{id}
	</update>
	<update id="update">
		update
		T_BUS_TRUST_CARGO
		set
		INNERTRANSPORT_TYPE = #{innertransportType, jdbcType=BIGINT},
		TRANSPORT_TYPE = #{transportType, jdbcType=BIGINT},
		EMPTY_WEIGHT = #{emptyWeight, jdbcType=VARCHAR},
		HEAVY_WEIGHT = #{heavyWeight, jdbcType=VARCHAR},
		PRINT_POUND_ID = #{printPoundId,jdbcType=INTEGER},
		PRINT_POUND_NUM = #{printPoundNum,jdbcType=INTEGER},
		IS_RULE = #{isRule}
		where
		id = #{trustCargoId}
	</update>
	<update id="updateTrustPort">
		update
		T_BUS_TRUST
		set
		PORT_CODE = #{workAreaCd, jdbcType=VARCHAR},
		PORT_NAME = #{workAreaNm, jdbcType=VARCHAR}
		where
		id = #{trustId}
	</update>

	<!-- 根据gid查询数据 -->
	<select id="getCargoByTrustCargoId" resultType="com.yy.ppm.business.bean.dto.TBusCargoInfoDTO" parameterType="java.lang.Long">
		SELECT
		DISTINCT
		TBCI.ID,
		TBCI.SHIPVOYAGE_ID,
		TBCI.SHIPVOYAGE_ITEM_ID,
		TBCI.SCN,
		TBCI.SHIP_NAME,
		TBCI.CARGO_INFO_NO,
		TBCI.CARGO_OWNER_ID,
		TBCI.CARGO_OWNER_NAME,
		TBCI.CARGO_AGENT_ID,
		TBCI.CARGO_AGENT_NAME,
		TBCI.CARGO_CODE,
		TBCI.CARGO_NAME,
		TBCI.TRADE_TYPE,
		TBCI.PACKING_CODE,
		TBCI.PACKING_NAME,
		TBCI.COMPANY_ID,
		TBCI.COMPANY_NAME,
		TBCI.PARENT_ID,
		TBCI.ROOT_ID,
		TBCI.QUANTITY,
		TBCI.TON,
		TBCI.RIGHTS_QUANTITY,
		TBCI.SURPLUS_RIGHTS_QUANTITY,
		TBCI.IS_CLEAR,
		TBCI.CLEAR_BY,
		TBCI.CLEAR_BY_NAME,
		TBCI.CLEAR_DATE,
		TBCI.CREATE_BY,
		TBCI.CREATE_BY_NAME,
		TBCI.CREATE_TIME,
		TBCI.UPDATE_BY,
		TBCI.UPDATE_BY_NAME,
		TBCI.UPDATE_TIME,
		TBCI.RESIDUE_STORAGE,
		TBCI.TRANSFER_DATE,
		TBCI.VOYAGE,
		TBCI.TRUST_ID
		FROM T_BUS_TRUST_CARGO TBTC
		INNER JOIN T_BUS_CARGO_INFO TBCI ON TBTC.CARGO_INFO_ID = TBCI.ID
		<where>
			TBTC.id = #{id}
		</where>
	</select>
	<select id="getTrustByTrustId" resultType="com.yy.ppm.business.bean.dto.TBusTrustDTO">
		SELECT
			TBS.*,
			TDS.SHIP_NAME || '_' || TDSI.VOYAGE SHIP_NAME_VOYAGE
		FROM
			T_BUS_TRUST TBS
				LEFT JOIN T_DIS_SHIPVOYAGE TDS ON TBS.SHIPVOYAGE_ID = TDS.ID
				LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TBS.SHIPVOYAGE_ITEM_ID = TDSI.ID
		WHERE  TBS.ID = #{trustId}
	</select>
	<select id="getShipNameVoyage" resultType="com.yy.ppm.business.bean.dto.ShipNameVoyageResultDTO">
		SELECT
		REGEXP_REPLACE(LISTAGG (TO_CHAR(TDS.SHIP_NAME||'_'||TDSI.VOYAGE),',')
		WITHIN GROUP (ORDER BY TBCI.ID), '([^,]+)(,\1)+','\1' )    shipNameVoyage,
		REGEXP_REPLACE(LISTAGG (TO_CHAR(TDSI.ID),',')
		WITHIN GROUP (ORDER BY TBCI.ID), '([^,]+)(,\1)+','\1' )    shipvoyageItemId
		FROM T_BUS_TRUST_CARGO TBTC
		INNER JOIN T_BUS_CARGO_INFO TBCI ON TBTC.CARGO_INFO_ID = TBCI.ID
		INNER JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TDSI.ID = TBCI.SHIPVOYAGE_ITEM_ID
		INNER JOIN T_DIS_SHIPVOYAGE TDS ON TDS.ID = TDSI.SHIPVOYAGE_ID
		INNER JOIN T_PRD_WORK_PLAN TPWP ON TPWP.TRUST_ID = TBTC.TRUST_ID
		WHERE
		EXISTS (
 		select * from (
						  select TRUST_ID TMPID FROM T_BUS_TRUST_CARGO WHERE ID  = #{id}
					  ) a where a.TMPID = TBTC.TRUST_ID
		)
		GROUP BY TBTC.TRUST_ID


	</select>

	<select id="getMiscFeeList" resultType="com.yy.ppm.statement.bean.dto.TMiscBillingDTO">
		select
		a.ID,
        a.RATE_ITEM_CODE,
        a.RATE_NAME,
        a.RATE,
        a.TAX_RATE,
        a.BILL_DATE,
        a.RATE_ID,
        a.VOYAGE_ID,
        a.SHIP_VOYAGE,
        a.BILL_QUANTITY,
        a.BILL_QUANTITY2,
        a.AMOUNT_MONEY,
        a.TAX_AMOUNT,
        a.TRUST_ORDER_ID,
        a.CUSTOMER_ID,
        a.STATEMENT_BY,
        a.STATEMENT_TIME,
        a.STATEMENT_BY_NAME,
        b.CUSTOMER_NAME,
        CASE
        WHEN a.STATEMENT_ID IS NOT NULL THEN
        (CASE WHEN TO_NUMBER(TCS.STATUS) >= 31 THEN TO_NUMBER(TCS.STATUS) ELSE TO_NUMBER(a.STATUS) END)
        ELSE
        TO_NUMBER(a.STATUS)
        END AS STATUS,
        a.company_id,
        a.company_name,
        TBR.PROCESS_NAME,
        TBR.PROCESS_CODE,
        TCS.STATEMENT_NO,
        TBCI.CARGO_NAME
		from T_MISC_BILLING a
		inner join T_BUS_CUSTOMER b on a.CUSTOMER_ID=b.id
        LEFT JOIN M_FEE_ITEM MFI ON MFI.ITEM_CD = a.RATE_ITEM_CODE
        LEFT JOIN T_BUS_RATE TBR ON a.RATE_ID = TBR.ID
        LEFT JOIN T_COST_STATEMENT TCS ON TCS.ID = a.STATEMENT_ID
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TDSI.ID = a.VOYAGE_ID
        LEFT JOIN T_DIS_SHIPVOYAGE TDS ON TDS.ID = TDSI.SHIPVOYAGE_ID
        left JOIN T_BUS_CARGO_INFO TBCI ON  TBCI.ID  = a.CARGO_INFO_ID
		where OTHER_STATEMENT_ID  = #{trustCargoId}
	</select>
	<select id="getIsFinshedByBusinessNoAndTruck" resultType="java.lang.Integer">
		SELECT count(*)
		FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
		where PLAN_NO != #{businessNo}  AND IS_FINISHED = '0' AND TRUCK_PLATE = #{equipmentNo}
	</select>
	<!-- 根据车号id获取其他计划下的未完成的榜单-->
	<select id="getBoundIsFinshedByIdAndNox" resultType="java.lang.Integer">
		SELECT count(*)
		FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
		where  IS_FINISHED = '0' AND IS_DELETE = '0'
		AND TSPT_ID IN
		(SELECT TO_CHAR(ID) FROM T_BUS_VEHICLE_TRANSFER WHERE
			EQUIPMENT_NO = #{equipmentNo} AND TRUST_CARGO_ID != #{trustCargoId}
			)
	</select>
	<select id="getPoundInfo" resultType="java.lang.Integer">
	SELECT COUNT(*)
	from WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND PP
	WHERE IS_DELETE = '0'
	  AND TSPT_ID IN (
	select TO_CHAR(ID) FROM  T_BUS_VEHICLE_TRANSFER
	WHERE TRUST_CARGO_ID = #{trustCargoId,jdbcType=BIGINT}
	  AND TRUST_ID = #{trustId,jdbcType=BIGINT}
	  AND EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
	)
	</select>

</mapper>