<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.system.mapper.SysParameterLogMapper">
    <insert id="insert">
        INSERT INTO SYS_PARAMETER_LOG(
            ID,
            OPERATION_TYPE,
            PARAM_CD_OLD,
            PARAM_NM_OLD,
            PARAM_VAL_OLD,
            REMARK_OLD,
            PARAM_CD_NEW,
            PARAM_NM_NEW,
            PARAM_VAL_NEW,
            REMARK_NEW,
            FLAG,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME
        )VALUES (
            #{id,jdbcType=BIGINT},
            #{operationType, jdbcType=BIGINT},
            #{paramCdOld, jdbcType=VARCHAR},
            #{paramNmOld, jdbcType=VARCHAR},
            #{paramValOld, jdbcType=VARCHAR},
            #{remarkOld, jdbcType=VARCHAR},
            #{paramCdNew, jdbcType=VARCHAR},
            #{paramNmNew, jdbcType=VARCHAR},
            #{paramValNew, jdbcType=VARCHAR},
            #{remarkNew, jdbcType=VARCHAR},
            #{flag, jdbcType=VARCHAR},
            #{loginUserId},
            #{loginUserName},
            #{now}
        )
    </insert>
    <update id="update">
        UPDATE
        SYS_PARAMETER_LOG
        SET
        ID = #{id,jdbcType=BIGINT},
        OPERATION_TYPE = #{operationType,jdbcType=BIGINT},
        PARAM_CD_OLD = #{paramCdOld, jdbcType=VARCHAR},
        PARAM_NM_OLD = #{paramNmOld, jdbcType=VARCHAR},
        PARAM_VAL_OLD = #{paramValOld, jdbcType=VARCHAR},
        REMARK_OLD = #{remarkOld, jdbcType=VARCHAR},
        PARAM_CD_NEW = #{paramCdNew, jdbcType=VARCHAR},
        PARAM_NM_NEW = #{paramNmNew, jdbcType=VARCHAR},
        PARAM_VAL_NEW = #{paramValNew, jdbcType=VARCHAR},
        REMARK_NEW = #{remarkNew, jdbcType=VARCHAR},
        FLAG = #{flag,jdbcType=VARCHAR},
        CREATE_BY = #{loginUserId, jdbcType=BIGINT},
        CREATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        CREATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>


    <select id="getList" resultType="com.yy.ppm.system.bean.dto.SysParameterLogDTO">
        SELECT
        ID,
        OPERATION_TYPE,
        PARAM_CD_OLD,
        PARAM_NM_OLD,
        PARAM_VAL_OLD,
        REMARK_OLD,
        PARAM_CD_NEW,
        PARAM_NM_NEW,
        PARAM_VAL_NEW,
        FLAG,
        REMARK_NEW,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME
        FROM
        SYS_PARAMETER_LOG
        where
        <if test="flag != null and flag !=''">
             FLAG = #{flag}
        </if>
        ORDER BY CREATE_TIME DESC
    </select>
</mapper>