<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.middleware.mapper.QuartzJobMapper">
    <insert id="insertJobLogs">
        insert into httpjob_logs
        (ID,
         JOB_NAME,
         JOB_GROUP,
         REQUEST_TYPE,
         HTTP_URL,
         HTTP_PARAMS,
         FIRE_TIME,
         RESULT)
        values (#{id,jdbcType=BIGINT},
                #{jobName, jdbcType=VARCHAR},
                #{jobGroup, jdbcType=VARCHAR},
                #{requestType, jdbcType=VARCHAR},
                #{httpUrl, jdbcType=VARCHAR},
                #{httpParams, jdbcType=VARCHAR},
                #{fireTime, jdbcType=TIMESTAMP},
                #{result, jdbcType=VARCHAR})
    </insert>

    <!--    保存任务详情信息-->
    <insert id="insertJobDetail">
        insert into httpjob_details
        (
            ID,
            JOB_NAME,
            JOB_GROUP,
            DESCRIPTION,
            REQUEST_TYPE,
            HTTP_URL,
            HTTP_PARAMS,
            CREATE_TIME
        )
        values
            (
                #{id,jdbcType=BIGINT},
                #{jobName, jdbcType=VARCHAR},
                #{jobGroup, jdbcType=VARCHAR},
                #{description, jdbcType=VARCHAR},
                #{requestType, jdbcType=VARCHAR},
                #{httpUrl, jdbcType=VARCHAR},
                #{httpParams, jdbcType=VARCHAR},
                #{now}
            )
    </insert>

    <!--    根据任务名称、任务分组查询相关任务-->
    <select id="selectByJobNameAndJobGroup" resultType="com.yy.ppm.middleware.bean.dto.HttpJobDetailDTO">
        select ID,
               JOB_NAME,
               JOB_GROUP,
               DESCRIPTION,
               REQUEST_TYPE,
               HTTP_URL,
               HTTP_PARAMS,
               CREATE_TIME,
               UPDATE_TIME
        from HTTPJOB_DETAILS
        where JOB_NAME = #{jobName}
          and JOB_GROUP = #{jobGroup}
    </select>

    <!--    查看正在进行的http类型job-->
    <select id="selectHttpJobs" resultType="com.yy.ppm.middleware.bean.dto.HttpJobDetailDTO"
            parameterType="com.yy.ppm.middleware.bean.dto.HttpJobDetailSearchDTO">
        SELECT
        t.JOB_NAME,
        t.JOB_GROUP,
        hd.DESCRIPTION,
        hd.REQUEST_TYPE,
        hd.HTTP_URL,
        hd.HTTP_PARAMS,
        hd.CREATE_TIME,
        ct.CRON_EXPRESSION
        FROM
        QRTZ_TRIGGERS t
        LEFT JOIN QRTZ_CRON_TRIGGERS ct ON ( t.TRIGGER_NAME = ct.TRIGGER_NAME AND t.TRIGGER_GROUP = ct.TRIGGER_GROUP )
        LEFT JOIN HTTPJOB_DETAILS hd ON ( t.JOB_NAME = hd.JOB_NAME AND t.JOB_GROUP = hd.JOB_GROUP )
        WHERE
        1=1
        <if test="jobName != null and jobName != ''">
            AND ( t.JOB_NAME LIKE '%' || #{jobName} || '%' OR t.JOB_GROUP LIKE '%' || #{jobName} || '%' )
        </if>
        ORDER BY hd.ID DESC
    </select>

    <!--    查看历史http类型job-->
    <select id="selectHistoryHttpJobs" resultType="com.yy.ppm.middleware.bean.dto.HttpJobDetailDTO"
            parameterType="com.yy.ppm.middleware.bean.dto.HttpJobDetailSearchDTO">
        SELECT
        hd.JOB_NAME,
        hd.JOB_GROUP,
        hd.DESCRIPTION,
        hd.REQUEST_TYPE,
        hd.HTTP_URL,
        hd.HTTP_PARAMS,
        hd.CREATE_TIME
        FROM
        HTTPJOB_DETAILS hd
        LEFT JOIN QRTZ_TRIGGERS qt ON ( hd.JOB_NAME = qt.JOB_NAME AND hd.JOB_GROUP = qt.JOB_GROUP )
        WHERE
        (qt.JOB_NAME IS NULL AND qt.JOB_GROUP IS NULL)
        <if test="jobName != null and jobName != ''">
            AND ( hd.JOB_NAME LIKE '%' || #{jobName} || '%' OR hd.JOB_GROUP LIKE '%' || #{jobName} || '%' )
        </if>
        ORDER BY hd.ID DESC
    </select>

    <!--    查看http类型的job执行记录-->
    <select id="selectHttpJobLogs" resultType="com.yy.ppm.middleware.bean.dto.HttpJobLogsDTO"
            parameterType="com.yy.ppm.middleware.bean.dto.HttpJobLogsSearchDTO">
        SELECT
        ID,JOB_NAME,JOB_GROUP,REQUEST_TYPE,HTTP_URL,HTTP_PARAMS,FIRE_TIME,RESULT
        FROM
        HTTPJOB_LOGS t
        WHERE
        1=1
        <if test="jobName != null and jobName != ''">
            AND t.JOB_NAME = #{jobName}
        </if>
        <if test="jobGroup != null and jobGroup != ''">
            AND t.JOB_GROUP = #{jobGroup}
        </if>
        <if test="searchParam != null and searchParam != ''">
            AND ( t.JOB_NAME LIKE concat('%',#{searchParam},'%') OR t.JOB_GROUP LIKE concat('%',#{searchParam},'%') )
        </if>
        ORDER BY t.ID DESC
    </select>
</mapper>
