<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.common.mapper.BusinessCommonMapper">

    <!-- 票货ID -->
    <select id="getBusCargoInfoId" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT
        ID
        FROM
        T_BUS_CARGO_INFO
        WHERE
        COMPANY_ID = #{companyId,jdbcType=BIGINT}
        AND CARGO_OWNER_ID = #{cargoOwnerId,jdbcType=BIGINT}
        <if test="cargoAgentId != null">
            AND CARGO_AGENT_ID = #{cargoAgentId,jdbcType=BIGINT}
        </if>
        <if test="cargoAgentId == null">
            AND CARGO_AGENT_ID IS NULL
        </if>
        AND CARGO_CODE = #{cargoCode,jdbcType=VARCHAR}
        <if test="id != null">
            AND ID != #{id,jdbcType=BIGINT}
        </if>
        <if test="shipvoyageItemId != null">
            AND SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}
        </if>
        <if test="tradeType != null and tradeType !=''">
            AND TRADE_TYPE = #{tradeType,jdbcType=VARCHAR}
        </if>
        <if test="packingCode != null and packingCode !=''">
            AND PACKING_CODE = #{packingCode,jdbcType=VARCHAR}
        </if>
        <if test="isClear != null and isClear !=''">
            AND IS_CLEAR = #{isClear,jdbcType=VARCHAR}
        </if>
    </select>

    <!-- 更新票货量 -->
    <update id="updateSurplusBusCargoInfo" parameterType="java.util.Map">
        UPDATE
            T_BUS_CARGO_INFO
        SET QUANTITY                = QUANTITY + #{quantity},
            TON                     = TON + #{ton},
            SURPLUS_RIGHTS_QUANTITY = SURPLUS_RIGHTS_QUANTITY + #{ton},
            UPDATE_BY               = #{loginUserId},
            UPDATE_BY_NAME          = #{loginUserName},
            UPDATE_TIME             = #{now}
        WHERE ID = #{id}
    </update>

    <!--根据航次字典表查询航次信息 -->
    <select id="getVoyageInfoByItemId" resultType="java.util.Map" parameterType="java.lang.Long">
        SELECT T1.SHIP_NAME AS "shipName",
               T1.SCN       AS "scn",
               T1.ID        AS "shipvoyageId"
        FROM T_DIS_SHIPVOYAGE T1
                 JOIN T_DIS_SHIPVOYAGE_ITEM T2 ON T1.ID = T2.SHIPVOYAGE_ID
        WHERE T2.ID = #{id}
    </select>


    <select id="getWorkPlanEquipmentDispatch" resultType="java.util.Map">
        SELECT
        <if test="workPlanId != null">
            T1.ID as "dispatchId",
            T1.NUM as "num",
            T1.EQUIPMENT_IDS as "equipmentIds",
            T1.EQUIPMENT_NAMES as "equipmentNames",
        </if>
        <if test="workPlanId == null">
            null as "dispatchId",
            null as "num",
            null as "equipmentIds",
            null as "equipmentNames",
        </if>
        M1.MAC_TYPE_CODE as "equipmentTypeCode",
        M1.MAC_TYPE_NAME as "equipmentTypeName"
        FROM
        M_MACHINE_TYPE M1
        <if test="workPlanId != null">
            LEFT JOIN T_PRD_DISPATCH T1 ON M1.MAC_TYPE_CODE = EQUIPMENT_TYPE_CODE
            AND T1.DISPATCH_TYPE = '1'
            AND T1.WORK_PLAN_ID = #{workPlanId}
            <if test="workPositionCode != null and workPositionCode !=''">
                AND T1.WORK_POSITION_CODE = #{workPositionCode}
            </if>
        </if>
        ORDER BY
        M1.MAC_TYPE_CODE ASC
    </select>

    <select id="listStorehouse" resultType="java.util.Map">
        SELECT ID "storehouseId", STORAGE_YARD_NM "storehouseName"
        FROM M_STORAGE_YARD
        WHERE STORAGE_YARD_LEVEL = '1'
        AND ID IN
        <foreach collection="storehouseIds" separator=", " open="(" close=")" item="storehouseId">
            #{storehouseId,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="listRegion" resultType="java.util.Map">
        SELECT ID "regionId", STORAGE_YARD_NM "regionName"
        FROM M_STORAGE_YARD
        WHERE STORAGE_YARD_LEVEL = '2'
        AND ID IN
        <foreach collection="regionIds" separator=", " open="(" close=")" item="regionId">
            #{regionId,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="listMass" resultType="java.util.Map">
        SELECT ID "massId", STORAGE_YARD_NM "massName"
        FROM M_STORAGE_YARD
        WHERE STORAGE_YARD_LEVEL = '3'
        AND ID IN
        <foreach collection="massIds" separator=", " open="(" close=")" item="massId">
            #{massId,jdbcType=BIGINT}
        </foreach>
    </select>

    <resultMap id="getPortStorage" type="com.yy.ppm.produce.bean.po.TPrdPortStoragePO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="companyId" column="COMPANY_ID" jdbcType="BIGINT"/>
        <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="cargoInfoId" column="CARGO_INFO_ID" jdbcType="BIGINT"/>
        <result property="storehouseId" column="STOREHOUSE_ID" jdbcType="BIGINT"/>
        <result property="storehouseName" column="STOREHOUSE_NAME" jdbcType="VARCHAR"/>
        <result property="regionId" column="REGION_ID" jdbcType="BIGINT"/>
        <result property="regionName" column="REGION_NAME" jdbcType="VARCHAR"/>
        <result property="massId" column="MASS_ID" jdbcType="BIGINT"/>
        <result property="massName" column="MASS_NAME" jdbcType="VARCHAR"/>
        <result property="quantity" column="QUANTITY" jdbcType="INTEGER"/>
        <result property="ton" column="TON" jdbcType="DECIMAL"/>
        <result property="cleanMassSign" column="CLEAN_MASS_SIGN" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="cleanMassBy" column="CLEAN_MASS_BY" jdbcType="BIGINT"/>
        <result property="cleanMassByName" column="CLEAN_MASS_BY_NAME" jdbcType="VARCHAR"/>
        <result property="cleanMassTime" column="CLEAN_MASS_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getPortStorage" resultMap="getPortStorage">
        SELECT ID,
               COMPANY_ID,
               COMPANY_NAME,
               CARGO_INFO_ID,
               STOREHOUSE_ID,
               STOREHOUSE_NAME,
               REGION_ID,
               REGION_NAME,
               MASS_ID,
               MASS_NAME,
               QUANTITY,
               TON,
               CLEAN_MASS_SIGN,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               CLEAN_MASS_BY,
               CLEAN_MASS_BY_NAME,
               CLEAN_MASS_TIME
        FROM T_PRD_PORT_STORAGE
        WHERE CARGO_INFO_ID = #{cargoInfoId,jdbcType=BIGINT}
          AND STOREHOUSE_ID = #{storehouseId,jdbcType=BIGINT}
          AND REGION_ID = #{regionId,jdbcType=BIGINT}
          AND MASS_ID = #{massId,jdbcType=BIGINT}
    </select>

    <insert id="insertPortStorage">
        INSERT INTO T_PRD_PORT_STORAGE(ID, COMPANY_ID, COMPANY_NAME, CARGO_INFO_ID, STOREHOUSE_ID, STOREHOUSE_NAME,
                                       REGION_ID, REGION_NAME, MASS_ID, MASS_NAME, QUANTITY, TON, CLEAN_MASS_SIGN,
                                       CREATE_BY, CREATE_BY_NAME, CREATE_TIME, CLEAN_MASS_BY, CLEAN_MASS_BY_NAME,
                                       CLEAN_MASS_TIME)
        VALUES (#{id, jdbcType=BIGINT}, #{companyId, jdbcType=BIGINT},
                #{companyName, jdbcType=VARCHAR}, #{cargoInfoId, jdbcType=BIGINT},
                #{storehouseId, jdbcType=BIGINT}, #{storehouseName, jdbcType=VARCHAR},
                #{regionId, jdbcType=BIGINT}, #{regionName, jdbcType=VARCHAR},
                #{massId, jdbcType=BIGINT}, #{massName, jdbcType=VARCHAR},
                #{quantity, jdbcType=INTEGER}, #{ton, jdbcType=DECIMAL},
                #{cleanMassSign, jdbcType=VARCHAR}, #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR}, #{now, jdbcType=TIMESTAMP}, #{cleanMassBy, jdbcType=BIGINT},
                #{cleanMassByName, jdbcType=VARCHAR}, #{cleanMassTime, jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertPortStorages" parameterType="com.yy.ppm.produce.bean.po.TPrdPortStoragePO">
        begin
        <foreach collection="list" item="item" separator="  ">
            INSERT INTO T_PRD_PORT_STORAGE(ID, COMPANY_ID, COMPANY_NAME, CARGO_INFO_ID, STOREHOUSE_ID, STOREHOUSE_NAME,
            REGION_ID, REGION_NAME, MASS_ID, MASS_NAME, QUANTITY, TON, CLEAN_MASS_SIGN,
            CREATE_BY, CREATE_BY_NAME, CREATE_TIME, CLEAN_MASS_BY, CLEAN_MASS_BY_NAME,
            CLEAN_MASS_TIME)
            VALUES (
            #{item.id, jdbcType=BIGINT},
            #{item.companyId, jdbcType=BIGINT},
            #{item.companyName, jdbcType=VARCHAR},
            #{item.cargoInfoId, jdbcType=BIGINT},
            #{item.storehouseId, jdbcType=BIGINT},
            #{item.storehouseName, jdbcType=VARCHAR},
            #{item.regionId, jdbcType=BIGINT},
            #{item.regionName, jdbcType=VARCHAR},
            #{item.massId, jdbcType=BIGINT},
            #{item.massName, jdbcType=VARCHAR},
            #{item.quantity, jdbcType=INTEGER},
            #{item.ton, jdbcType=DECIMAL},
            #{item.cleanMassSign, jdbcType=VARCHAR},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now, jdbcType=TIMESTAMP},
            #{item.cleanMassBy, jdbcType=BIGINT},
            #{item.cleanMassByName, jdbcType=VARCHAR},
            #{item.cleanMassTime, jdbcType=TIMESTAMP});
        </foreach>
        end;
    </insert>

    <resultMap id="listPortStorageDetail" type="com.yy.ppm.produce.bean.po.TPrdPortStorageDetailPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="portStorageId" column="PORT_STORAGE_ID" jdbcType="BIGINT"/>
        <result property="cargoInfoId" column="CARGO_INFO_ID" jdbcType="BIGINT"/>
        <result property="workDate" column="WORK_DATE" jdbcType="TIMESTAMP"/>
        <result property="classCode" column="CLASS_CODE" jdbcType="VARCHAR"/>
        <result property="className" column="CLASS_NAME" jdbcType="VARCHAR"/>
        <result property="processDetailCode" column="PROCESS_DETAIL_CODE" jdbcType="VARCHAR"/>
        <result property="processDetailName" column="PROCESS_DETAIL_NAME" jdbcType="VARCHAR"/>
        <result property="storehouseId" column="STOREHOUSE_ID" jdbcType="BIGINT"/>
        <result property="storehouseName" column="STOREHOUSE_NAME" jdbcType="VARCHAR"/>
        <result property="regionId" column="REGION_ID" jdbcType="BIGINT"/>
        <result property="regionName" column="REGION_NAME" jdbcType="VARCHAR"/>
        <result property="massId" column="MASS_ID" jdbcType="BIGINT"/>
        <result property="massName" column="MASS_NAME" jdbcType="VARCHAR"/>
        <result property="quantity" column="QUANTITY" jdbcType="INTEGER"/>
        <result property="ton" column="TON" jdbcType="DECIMAL"/>
        <result property="inoutType" column="INOUT_TYPE" jdbcType="VARCHAR"/>
        <result property="inoutStorageCode" column="INOUT_STORAGE_CODE" jdbcType="VARCHAR"/>
        <result property="inoutStorageName" column="INOUT_STORAGE_NAME" jdbcType="VARCHAR"/>
        <result property="workTicketId" column="WORK_TICKET_ID" jdbcType="BIGINT"/>
        <result property="workTicketDetailId" column="WORK_TICKET_DETAIL_ID" jdbcType="BIGINT"/>
        <result property="cargoTallyId" column="CARGO_TALLY_ID" jdbcType="BIGINT"/>
        <result property="cargoTallyDetailId" column="CARGO_TALLY_DETAIL_ID" jdbcType="BIGINT"/>
        <result property="inoutDate" column="INOUT_DATE" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="cargoMixRecordId" column="CARGO_MIX_RECORD_ID" jdbcType="BIGINT"/>
        <result property="cargoMixDetailId" column="CARGO_MIX_DETAIL_ID" jdbcType="BIGINT"/>
    </resultMap>

    <select id="listPortStorageDetail" resultMap="listPortStorageDetail">
        SELECT ID,
               PORT_STORAGE_ID,
               CARGO_INFO_ID,
               WORK_DATE,
               CLASS_CODE,
               CLASS_NAME,
               PROCESS_DETAIL_CODE,
               PROCESS_DETAIL_NAME,
               STOREHOUSE_ID,
               STOREHOUSE_NAME,
               REGION_ID,
               REGION_NAME,
               MASS_ID,
               MASS_NAME,
               QUANTITY,
               TON,
               INOUT_TYPE,
               INOUT_STORAGE_CODE,
               INOUT_STORAGE_NAME,
               WORK_TICKET_ID,
               WORK_TICKET_DETAIL_ID,
               CARGO_TALLY_ID,
               CARGO_TALLY_DETAIL_ID,
               INOUT_DATE,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               COMPANY_ID,
               COMPANY_NAME,
               CLEAN_MASS_SIGN,
               CARGO_MIX_RECORD_ID,
               CARGO_MIX_DETAIL_ID
        FROM T_PRD_PORT_STORAGE_DETAIL
        WHERE PORT_STORAGE_ID = #{portStorageId, jdbcType=BIGINT}
    </select>

    <insert id="insertPortStorageDetail">
        INSERT ALL
        <foreach collection="prdPortStorageDetails" item="entity">
            INTO T_PRD_PORT_STORAGE_DETAIL(ID, PORT_STORAGE_ID, CARGO_INFO_ID, WORK_DATE, CLASS_CODE,
            CLASS_NAME,PROCESS_DETAIL_CODE, PROCESS_DETAIL_NAME, STOREHOUSE_ID, STOREHOUSE_NAME, REGION_ID, REGION_NAME,
            MASS_ID,MASS_NAME, QUANTITY, TON, INOUT_TYPE, INOUT_STORAGE_CODE, INOUT_STORAGE_NAME,
            WORK_TICKET_ID,WORK_TICKET_DETAIL_ID, CARGO_TALLY_ID, CARGO_TALLY_DETAIL_ID, INOUT_DATE, CREATE_BY,
            CREATE_BY_NAME,CREATE_TIME, COMPANY_ID, COMPANY_NAME,
            CLEAN_MASS_SIGN,CARGO_TRANSFER_ID,CARGO_MIX_RECORD_ID,CARGO_MIX_DETAIL_ID)VALUES(#{entity.id, jdbcType=BIGINT},
            #{entity.portStorageId, jdbcType=BIGINT},#{entity.cargoInfoId, jdbcType=BIGINT},
            #{entity.workDate, jdbcType=TIMESTAMP},#{entity.classCode, jdbcType=VARCHAR},
            #{entity.className, jdbcType=VARCHAR},#{entity.processDetailCode, jdbcType=VARCHAR},
            #{entity.processDetailName, jdbcType=VARCHAR},#{entity.storehouseId, jdbcType=BIGINT},
            #{entity.storehouseName, jdbcType=VARCHAR},#{entity.regionId, jdbcType=BIGINT},
            #{entity.regionName, jdbcType=VARCHAR},#{entity.massId, jdbcType=BIGINT},
            #{entity.massName, jdbcType=VARCHAR},#{entity.quantity, jdbcType=INTEGER},
            #{entity.ton, jdbcType=DECIMAL},#{entity.inoutType, jdbcType=VARCHAR},
            #{entity.inoutStorageCode, jdbcType=VARCHAR},#{entity.inoutStorageName, jdbcType=VARCHAR},
            #{entity.workTicketId, jdbcType=BIGINT},#{entity.workTicketDetailId, jdbcType=BIGINT},
            #{entity.cargoTallyId, jdbcType=BIGINT},#{entity.cargoTallyDetailId, jdbcType=BIGINT},
            #{entity.inoutDate, jdbcType=TIMESTAMP},#{entity.loginUserId, jdbcType=BIGINT},
            #{entity.loginUserName, jdbcType=VARCHAR},#{entity.now, jdbcType=TIMESTAMP},
            #{entity.companyId, jdbcType=BIGINT},#{entity.companyName, jdbcType=VARCHAR},
            #{entity.cleanMassSign, jdbcType=VARCHAR},#{entity.cargoTransferId, jdbcType=BIGINT},#{entity.cargoMixRecordId, jdbcType=BIGINT},#{entity.cargoMixDetailId, jdbcType=BIGINT})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <update id="updatePortStorage">
        UPDATE T_PRD_PORT_STORAGE
        <set>
            <if test="id != null">
                ID = #{id, jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId, jdbcType=BIGINT},
            </if>
            <if test="companyName != null and companyName != ''">
                COMPANY_NAME = #{companyName, jdbcType=VARCHAR},
            </if>
            <if test="cargoInfoId != null">
                CARGO_INFO_ID = #{cargoInfoId, jdbcType=BIGINT},
            </if>
            <if test="storehouseId != null">
                STOREHOUSE_ID = #{storehouseId, jdbcType=BIGINT},
            </if>
            <if test="storehouseName != null and storehouseName != ''">
                STOREHOUSE_NAME = #{storehouseName, jdbcType=VARCHAR},
            </if>
            <if test="regionId != null">
                REGION_ID = #{regionId, jdbcType=BIGINT},
            </if>
            <if test="regionName != null and regionName != ''">
                REGION_NAME = #{regionName, jdbcType=VARCHAR},
            </if>
            <if test="massId != null">
                MASS_ID = #{massId, jdbcType=BIGINT},
            </if>
            <if test="massName != null and massName != ''">
                MASS_NAME = #{massName, jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                QUANTITY = #{quantity, jdbcType=INTEGER},
            </if>
            <if test="ton != null">
                TON = #{ton, jdbcType=DECIMAL},
            </if>
            <if test="cleanMassSign != null and cleanMassSign != ''">
                CLEAN_MASS_SIGN = #{cleanMassSign, jdbcType=VARCHAR},
            </if>
            UPDATE_BY = #{updateBy, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{updateByName, jdbcType=VARCHAR},
            UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP},
            <if test="cleanMassBy != null">
                CLEAN_MASS_BY = #{cleanMassBy, jdbcType=BIGINT},
            </if>
            <if test="cleanMassByName != null and cleanMassByName != ''">
                CLEAN_MASS_BY_NAME = #{cleanMassByName, jdbcType=VARCHAR},
            </if>
            <if test="cleanMassTime != null">
                CLEAN_MASS_TIME = #{cleanMassTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE ID = #{id, jdbcType=BIGINT}
    </update>
    <update id="updatePortStorages" parameterType="com.yy.ppm.produce.bean.po.TPrdPortStoragePO">
        begin
        <foreach collection="list" item="item" separator=" ">
            UPDATE T_PRD_PORT_STORAGE
            <set>
                <if test="item.id != null">
                    ID = #{item.id, jdbcType=BIGINT},
                </if>
                <if test="item.companyId != null">
                    COMPANY_ID = #{item.companyId, jdbcType=BIGINT},
                </if>
                <if test="item.companyName != null and item.companyName != ''">
                    COMPANY_NAME = #{item.companyName, jdbcType=VARCHAR},
                </if>
                <if test="item.cargoInfoId != null">
                    CARGO_INFO_ID = #{item.cargoInfoId, jdbcType=BIGINT},
                </if>
                <if test="item.storehouseId != null">
                    STOREHOUSE_ID = #{item.storehouseId, jdbcType=BIGINT},
                </if>
                <if test="item.storehouseName != null and item.storehouseName != ''">
                    STOREHOUSE_NAME = #{item.storehouseName, jdbcType=VARCHAR},
                </if>
                <if test="item.regionId != null">
                    REGION_ID = #{item.regionId, jdbcType=BIGINT},
                </if>
                <if test="item.regionName != null and item.regionName != ''">
                    REGION_NAME = #{item.regionName, jdbcType=VARCHAR},
                </if>
                <if test="item.massId != null">
                    MASS_ID = #{item.massId, jdbcType=BIGINT},
                </if>
                <if test="item.massName != null and item.massName != ''">
                    MASS_NAME = #{item.massName, jdbcType=VARCHAR},
                </if>
                <if test="item.quantity != null">
                    QUANTITY = #{item.quantity, jdbcType=INTEGER},
                </if>
                <if test="item.ton != null">
                    TON = #{item.ton, jdbcType=DECIMAL},
                </if>
                <if test="item.cleanMassSign != null and item.cleanMassSign != ''">
                    CLEAN_MASS_SIGN = #{item.cleanMassSign, jdbcType=VARCHAR},
                </if>
                <if test="item.updateBy!=null">
                    UPDATE_BY = #{item.updateBy, jdbcType=BIGINT},
                </if>
                <if test="item.updateByName!=null">
                    UPDATE_BY_NAME = #{item.updateByName, jdbcType=BIGINT},
                </if>
                <if test="item.updateTime!=null">
                    UPDATE_TIME = #{item.updateTime, jdbcType=BIGINT},
                </if>
                <if test="item.cleanMassBy != null">
                    CLEAN_MASS_BY = #{item.cleanMassBy, jdbcType=BIGINT},
                </if>
                <if test="item.cleanMassByName != null and item.cleanMassByName != ''">
                    CLEAN_MASS_BY_NAME = #{item.cleanMassByName, jdbcType=VARCHAR},
                </if>
                <if test="item.cleanMassTime != null">
                    CLEAN_MASS_TIME = #{item.cleanMassTime, jdbcType=TIMESTAMP},
                </if>
            </set>
            WHERE ID = #{item.id, jdbcType=BIGINT};
        </foreach>
        end;
    </update>

    <select id="listPortStorageDetailById" resultMap="listPortStorageDetail">
        SELECT ID,
        PORT_STORAGE_ID,
        CARGO_INFO_ID,
        WORK_DATE,
        CLASS_CODE,
        CLASS_NAME,
        PROCESS_DETAIL_CODE,
        PROCESS_DETAIL_NAME,
        STOREHOUSE_ID,
        STOREHOUSE_NAME,
        REGION_ID,
        REGION_NAME,
        MASS_ID,
        MASS_NAME,
        QUANTITY,
        TON,
        INOUT_TYPE,
        INOUT_STORAGE_CODE,
        INOUT_STORAGE_NAME,
        WORK_TICKET_ID,
        WORK_TICKET_DETAIL_ID,
        CARGO_TALLY_ID,
        CARGO_TALLY_DETAIL_ID,
        INOUT_DATE,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        COMPANY_ID,
        COMPANY_NAME,
        CLEAN_MASS_SIGN,
        CARGO_MIX_RECORD_ID,
        CARGO_MIX_DETAIL_ID
        FROM T_PRD_PORT_STORAGE_DETAIL
        WHERE ID IN
        <foreach collection="portStorageDetailIds" close=")" item="portStorageDetailId" open="(" separator=", ">
            #{portStorageDetailId, jdbcType=BIGINT}
        </foreach>
    </select>

    <delete id="deletePortStorageDetail">
        DELETE
        FROM T_PRD_PORT_STORAGE_DETAIL
        WHERE ID IN
        <foreach collection="portStorageDetailIds" separator=", " open="(" item="portStorageDetailId" close=")">
            #{portStorageDetailId, jdbcType=BIGINT}
        </foreach>
    </delete>

    <delete id="deletePortStorage">
        DELETE
        FROM T_PRD_PORT_STORAGE
        WHERE ID = #{portStorageId, jdbcType=BIGINT}
    </delete>
    <select id="getCargoInfoById" resultType="com.yy.ppm.business.bean.dto.TBusCargoInfoDTO">
        select *
        from T_BUS_CARGO_INFO where id  =  #{cargoInfoId,jdbcType=BIGINT}
    </select>
</mapper>
