<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.common.mapper.SelectMapper">

    <!-- 获取远程下拉框数据源 -->
    <select id="getRemoteSelect" resultType="java.util.Map">
        <if test="'' != search.labelContent and null != search.labelContent" >
            SELECT
                ${valueName} as "value",
                ${labelName} as "label"
            FROM
                ${tableName}
            <where>
                <if test="null != search.labelContent and '' != search.labelContent">
                    and ${labelName} like '%' || #{search.labelContent} || '%'
                </if>
                <if test="null != search.number and 0 != search.number">
                    and rownum &lt;= #{search.number}
                </if>
            </where>
        </if>
        <if test="null != search.valueContentList and search.valueContentList.size() > 0 and '' != search.labelContent and null != search.labelContent">
            UNION
        </if>
        <if test="null != search.valueContentList and search.valueContentList.size() > 0">
            SELECT
                ${valueName} as "value",
                ${labelName} as "label"
            FROM
                ${tableName}
            where
                ${valueName}
                <foreach collection="search.valueContentList" item="item" open="in ( " separator="," close=")">
                    #{item}
                </foreach>
        </if>
    </select>

    <!-- 获取本地下拉框数据源 -->
    <select id="getLocalSelect" resultType="java.util.Map">
        SELECT
            ${valueName} as "value",
            ${labelName} as "label"
        FROM
            ${tableName}
        WHERE
            1=1
            <if test="other != null and other !=''">
                and ${other}
            </if>
        ORDER BY "label" ASC
    </select>


    <select id="getShipList" resultType="java.util.Map">

        <if test="'' != search.labelContent and null != search.labelContent" >
            SELECT
                T1.ID AS "value",
                T1.SHIP_NAME as "label",
                T1.TOTAL_WEIGHT as "totalWeight",
                T1.NET_WEIGHT as "netWeight",
                T1.SHIP_WIDTH as "shipWidth",
                T1.DWT as "dwt",
                T1.FULL_LOAD_WATER as "fullLoadWater",
                T1.EMPTY_LOAD_WATER	as "emptyLoadWater",
                T1.SHIP_LENGTH as "shipLength",
                T1.CAPTAIN_PHONE as "captainPhone",
                T1.IMO as "imo",
                T1.CALL_NO as "callNo"
            FROM
                M_SHIP T1
            WHERE
                1=1
            <if test="null != search.labelContent and '' != search.labelContent">
                <bind name="labelContent" value="'%' + search.labelContent + '%'"/>
                and (FUNC_SHIP_NAME_REPLACE(T1.SHIP_NAME) like #{labelContent} OR T1.SHIP_NAME_EN LIKE #{labelContent} OR T1.SHORTHAND_CODE LIKE #{labelContent} )
            </if>
            <if test="null != search.number and 0 != search.number">
                and rownum &lt;= #{search.number}
            </if>
        </if>
        <if test="null != search.valueContentList and search.valueContentList.size() > 0 and '' != search.labelContent and null != search.labelContent">
            UNION
        </if>
        <if test="null != search.valueContentList and search.valueContentList.size() > 0">
            SELECT
                T1.ID AS "value",
                T1.SHIP_NAME as "label",
                T1.TOTAL_WEIGHT as "totalWeight",
                T1.SHIP_WIDTH as "shipWidth",
                T1.NET_WEIGHT as "netWeight",
                T1.DWT as "dwt",
                T1.FULL_LOAD_WATER as "fullLoadWater",
                T1.EMPTY_LOAD_WATER	as "emptyLoadWater",
                T1.SHIP_LENGTH as "shipLength",
                T1.CAPTAIN_PHONE as "captainPhone",
                T1.IMO as "imo",
                T1.CALL_NO as "callNo"
            FROM
            M_SHIP T1
            where
                T1.ID
            <foreach collection="search.valueContentList" item="item" open="in ( " separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getShipByName" resultType="java.util.Map">
        <if test="'' != search.labelContent and null != search.labelContent" >
            SELECT distinct
            T1.ID AS "value",
            T1.SHIP_NAME as "label"
            FROM
            M_SHIP T1
            INNER JOIN
            T_DIS_SHIPVOYAGE T2
            ON T1.ID = T2.SHIP_ID
            WHERE
            1=1
            <if test="null != search.labelContent and '' != search.labelContent">
                <bind name="labelContent" value="'%' + search.labelContent + '%'"/>
                and (T1.SHIP_NAME like #{labelContent} OR T1.SHIP_NAME_EN LIKE #{labelContent} )
            </if>
        </if>
    </select>


    <select id="getVoyageList" resultType="java.util.Map">
        <if test="'' != search.labelContent and null != search.labelContent" >
            SELECT
                T1.ID AS "shipvoyageId",
                T2.ID AS "value",
                CONCAT(CONCAT(T1.SHIP_NAME, '_') , T2.VOYAGE) as "label",
                T2.CARGO_CATEGORY_NAME as "cargoCategoryName",
                T2.CUSTOMER_NAME as "shipAgentName",
                T1.START_PORT_NAME as "startPortName",
                T1.END_PORT_NAME as "endPortName",
                TO_CHAR(T1.ARRIVAL_TIME_PLAN, 'YYYY-MM-DD') as "arrivalTimePlan",
                T1.SCN as "scn",
                T1.SHIP_NAME as "shipName",
                T2.VOYAGE as "voyage",
                T2.LOAD_UNLOAD as "loadUnload",
                T2.CARGO_CATEGORY_CODE as "cargoCategoryCode",
                T2.CARGO_CATEGORY_NAME as "cargoCategoryName",
                CARGO_NUM as "cargoNum"
            FROM
                T_DIS_SHIPVOYAGE T1 JOIN
                T_DIS_SHIPVOYAGE_ITEM T2 ON T1.ID = T2.SHIPVOYAGE_ID
            WHERE
                1=1
                <if test="null != search.labelContent and '' != search.labelContent">
                    <bind name="labelContent" value="'%' + search.labelContent + '%'"/>
                    and (T1.SHIP_NAME like #{labelContent} OR T2.VOYAGE LIKE #{labelContent} OR CONCAT( CONCAT( T1.SHIP_NAME, '_' ), T2.VOYAGE ) LIKE #{labelContent})
                </if>
                <if test="null != search.number and 0 != search.number">
                    and rownum &lt;= #{search.number}
                </if>
        </if>
        <if test="null != search.valueContentList and search.valueContentList.size() > 0 and '' != search.labelContent and null != search.labelContent">
            UNION
        </if>
        <if test="null != search.valueContentList and search.valueContentList.size() > 0">
            SELECT
                T1.ID AS "shipvoyageId",
                T2.ID AS "value",
                CONCAT(CONCAT(T1.SHIP_NAME, '_') , T2.VOYAGE) as "label",
                T2.CARGO_CATEGORY_NAME as "cargoCategoryName",
                T2.CUSTOMER_NAME as "shipAgentName",
                T1.START_PORT_NAME as "startPortName",
                T1.END_PORT_NAME as "endPortName",
                TO_CHAR(T1.ARRIVAL_TIME_PLAN, 'YYYY-MM-DD') as "arrivalTimePlan",
                T1.SCN as "scn",
                T1.SHIP_NAME as "shipName",
                T2.VOYAGE as "voyage",
                T2.LOAD_UNLOAD as "loadUnload",
                T2.CARGO_CATEGORY_CODE as "cargoCategoryCode",
                T2.CARGO_CATEGORY_NAME as "cargoCategoryName",
                CARGO_NUM as "cargoNum"
            FROM
                T_DIS_SHIPVOYAGE T1 JOIN
                T_DIS_SHIPVOYAGE_ITEM T2 ON T1.ID = T2.SHIPVOYAGE_ID
            where
                T2.ID
                <foreach collection="search.valueContentList" item="item" open="in ( " separator="," close=")">
                    #{item}
                </foreach>
        </if>
    </select>


    <select id="getCityList" resultType="java.util.HashMap">
        SELECT
            <if test="parent == null or parent ==''">
                PROVINCE_CODE as "value",
            </if>
            <if test="parent != null and parent !=''">
                CITY_CODE as "value",
            </if>
            NAME as "label"
        FROM
            M_CITY
        WHERE
        <if test="parent != null and parent !=''">
            PROVINCE_CODE = #{provinceCode}
            AND CITY_CODE IS NOT NULL
        </if>
        <if test="provinceCode == null or provinceCode ==''">
            CITY_CODE IS NULL
        </if>
    </select>

    <select id="getMainWorkProcessList" resultType="java.util.Map">
        SELECT
            PROCESS_CD as "value",
            PROCESS_NM as "label",
            SOURCE_CD as "sourceCode",
            TARGET_CD as "targetCode",
            PLAN_TYPE_CD as "planTypeCd",
            PROCESS_TYPE_CD as "processTypeCd"
        FROM
            M_WORK_PROCESS
        WHERE
             PARENT_ID = '-1'
            <if test="planTypeCode != null and planTypeCode !=''">
                AND PLAN_TYPE_CD = #{planTypeCode}
            </if>
    </select>

    <!-- 按角色查询人员 -->
    <select id="getUserByRole" resultType="java.util.Map">
        select
            S1.ID as "value",
            S1.USER_NAME as "label"
        from
            SYS_USER S1 JOIN SYS_ROLE_USER S2 ON S1.ID = S2.USER_ID
            JOIN SYS_ROLE S3 ON S2.ROLE_ID = S3.ID
        where
            ROLE_CODE = #{role} OR ROLE_NAME = #{role}
        order by S1.SORT_NUM
    </select>

    <!-- 按岗位查询人员 -->
    <select id="getUserByPost" resultType="java.util.Map">
        select
            S1.ID as "value",
            S1.USER_NAME as "label"
        from
            SYS_USER S1
        where
            POST_CODE = #{post}
        order by S1.SORT_NUM
    </select>

    <select id="getUserByWorkClass" resultType="java.util.Map">
        select
            S1.ID as "value",
            S1.USER_NAME as "label"
        from
            SYS_USER S1 LEFT JOIN SYS_DEPT S2 ON S1.DEPT_ID = S2.ID
        where
            DEPT_LEVEL = '4' AND S2.DEPT_NAME = #{workClass}
        order by S1.SORT_NUM
    </select>

    <select id="getDeptByLevelWorkCompany" resultType="java.util.Map">
        select
            S1.ID as "value",
            S1.DEPT_NAME as "label"
        from
            SYS_DEPT S1
        where
            S1.DEPT_LEVEL = #{deptLevel}
            AND S1.DEPT_NO LIKE CONCAT((SELECT DEPT_NO FROM SYS_DEPT WHERE ID = #{deptId}), '%')
        order by S1.ORDER_NO
    </select>



    <resultMap id="listContract" type="java.util.Map">
        <result column="ID" property="id" jdbcType="BIGINT"/>
        <result column="CONTACT_NO" property="contractNo" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listContract" resultMap="listContract">
        SELECT ID, CONTACT_NO
        FROM T_BUS_CONTRACT
        <where>
            <if test="customerIdArr != null and customerIdArr.length > 0">
                AND CUSTOMER_ID IN
                <foreach collection="customerIdArr" close=")" open="(" separator=", " item="customerId">
                    #{customerId, jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="customerIdArr == null or customerIdArr.length &lt; 1">
                AND 1 != 1
            </if>
        </where>
        ORDER BY CONTACT_NO
    </select>

    <!-- 查询设备小类下拉列表 -->
    <select id="getEqptType" resultType="java.util.Map">
        SELECT
        ID "value",
        TYPE_NAME "label",
        CATEGORY_LEVEL "level"
        FROM
        E_M_EQPT_TYPE
        WHERE
        1=1
        <if test="categoryLevel != null and categoryLevel != ''">
            AND CATEGORY_LEVEL = #{categoryLevel}
        </if>
        <if test="parentId != null and parentId != ''">
            AND PARENT_ID = #{parentId}
        </if>
    </select>

    <select id="getUserByDept" resultType="java.util.Map">
        select
            S1.ID as "value",
            S1.USER_NAME as "label"
        from
            SYS_USER S1
        where
            S1.DEPT_ID = #{deptId}
          AND S1.STATUS = '1'
        order by S1.SORT_NUM
    </select>
    <select id="getUserByCompany" resultType="java.util.Map">
        select
            S1.ID as "value",
            S1.USER_NAME as "label"
        from
            SYS_USER S1
        where
            S1.DEPT_ID IN (SELECT DEPT_ID FROM SYS_DEPT WHERE PARENT_ID = #{companyId})
          AND S1.STATUS = '1'
        order by S1.SORT_NUM
    </select>

</mapper>

