<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.common.mapper.SysFileMapper">

    <!--通过id查询文件信息-->
    <select id="getFileById" resultType="com.yy.ppm.common.bean.po.SysFilePO">
        SELECT
            ID,
            BUSINESS_TYPE,
            FILE_BUCKET,
            FILE_PATH,
            FILE_SAVE_NAME,
            FILE_NAME,
            FILE_ICON,
            CREATE_BY,
            create_by_name,
            CREATE_TIME,
            UPDATE_BY,
            update_BY_NAME,
            UPDATE_TIME
        FROM
            SYS_FILE
        WHERE
            ID = #{id}
    </select>

    <!--通过id查询文件信息-->
    <select id="getBusFiles" resultType="com.yy.ppm.common.bean.dto.SysFileDTO">
        SELECT
            SF.ID,
            SF.BUSINESS_TYPE,
            SF.FILE_BUCKET,
            SF.FILE_PATH,
            SF.FILE_SAVE_NAME,
            SF.FILE_NAME,
            SF.FILE_ICON,
            SF.CREATE_BY,
            SF.create_by_name,
            SF.CREATE_TIME,
            SF.UPDATE_BY,
            SF.update_BY_NAME,
            SF.UPDATE_TIME
        FROM
            SYS_FILE SF
            JOIN SYS_FILE_BUSINESS SFB ON SF.ID = SFB.FILE_ID
        WHERE
            SFB.BUSINESS_ID = #{businessId} AND SF.BUSINESS_TYPE = #{businessType}
    </select>

    <!--通过业务id查询文件信息-->
    <select id="getFiles" parameterType="com.yy.ppm.common.bean.dto.SysFileDTO" resultType="com.yy.ppm.common.bean.dto.SysFileDTO">
        SELECT
            SF.ID,
            SF.BUSINESS_TYPE,
            SF.FILE_BUCKET,
            SF.FILE_PATH,
            SF.FILE_SAVE_NAME,
            SF.FILE_NAME,
            SF.FILE_ICON,
            SF.CREATE_BY,
            SF.create_by_name,
            SF.CREATE_TIME,
            SF.UPDATE_BY,
            SF.update_BY_NAME,
            SF.UPDATE_TIME
        FROM
            SYS_FILE SF
            JOIN SYS_FILE_BUSINESS SFB ON SF.ID = SFB.FILE_ID
        <where>
            <if test="id != null">
                and SFB.FILE_ID = #{id}
            </if>
            <if test="businessId != '' and businessId != null">
                and SF.BUSINESS_ID = #{businessId}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>
    <select id="selectFileIdListByBusinessId" resultType="java.lang.Long">
        SELECT FILE_ID FROM SYS_FILE_BUSINESS WHERE BUSINESS_ID = #{businessId}
    </select>

    <!--新增数据-->
    <insert id="insert" parameterType="com.yy.ppm.common.bean.dto.SysFileDTO">
        INSERT INTO SYS_FILE(
            ID,
            BUSINESS_TYPE,
            FILE_BUCKET,
            FILE_PATH,
            FILE_SAVE_NAME,
            FILE_NAME,
            FILE_ICON,
            FILE_SUFFIX,
            CREATE_BY,
            create_by_name,
            CREATE_TIME
        )values (
            #{id,jdbcType=BIGINT},
            #{businessType,jdbcType=VARCHAR},
            #{fileBucket,jdbcType=VARCHAR},
            #{filePath,jdbcType=VARCHAR},
            #{fileSaveName,jdbcType=VARCHAR},
            #{fileName,jdbcType=VARCHAR},
            #{fileIcon,jdbcType=VARCHAR},
            #{fileSuffix, jdbcType=VARCHAR},
            #{loginUserId},
            #{loginUserName},
            #{now}
        )
    </insert>

    <!--批量新增数据-->
    <insert id="insertFiles">
        INSERT INTO SYS_FILE(
            ID,
            BUSINESS_TYPE,
            FILE_BUCKET,
            FILE_PATH,
            FILE_SAVE_NAME,
            FILE_NAME,
            FILE_ICON,
            CREATE_BY,
            create_by_name,
            CREATE_TIME
        )values
            <foreach collection="list" open="(" close=")" item="file" separator=",">
                #{file.id},
                #{file.businessType},
                #{file.fileBucket},
                #{file.filePath},
                #{file.fileSaveName},
                #{file.fileName},
                #{file.fileIcon},
                #{file.loginUserId},
                #{file.loginUserName},
                #{file.now}
            </foreach>
    </insert>


    <!--删除文件信息-->
    <delete id="deleteById">
        DELETE FROM SYS_FILE WHERE ID = #{id}
    </delete>

    <!--删除文件信息-->
    <delete id="deleteRelationByBusinessId" parameterType="java.lang.Long">
        DELETE FROM SYS_FILE_BUSINESS WHERE BUSINESS_ID = #{businessId}
    </delete>

    <!--删除文件信息-->
    <delete id="deleteFiles" parameterType="com.yy.ppm.common.bean.dto.SysFileDTO">
        DELETE FROM SYS_FILE
        <where>
            <foreach collection="filesIdList" item="fileId" open=" ID in (" separator="," close=")">
                #{fileId}
            </foreach>
        </where>
    </delete>

    <!-- 删除业务附件中间表 -->
    <delete id="deleteBusinessFiles">
        delete from SYS_FILE_BUSINESS
        <where>
            <foreach collection="filesIdList" item="fileId" open=" FILE_ID in (" separator="," close=")">
                #{fileId}
            </foreach>
        </where>
    </delete>

    <!-- 新增 业务附件中间表 -->
    <insert id="insertFilesBusiness">
        INSERT INTO
                SYS_FILE_BUSINESS(BUSINESS_ID, FILE_ID)
        VALUES
            <foreach collection="fileList" item="fileId" separator=",">
                (#{businessId},
                #{fileId})
            </foreach>
    </insert>

    <!-- 新增 业务附件中间表 -->
    <insert id="insertFileBusiness">
        INSERT INTO
            SYS_FILE_BUSINESS(
            BUSINESS_ID,
            FILE_ID)
        VALUES(
            #{businessId},
            #{fileId}
        )
    </insert>

</mapper>
