<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.gis.mapper.OnSiteDynamicsMapper">

    <resultMap id="listVesselVoyage" type="java.util.Map">
        <id column="ID" property="id" javaType="java.lang.String" />
        <result column="VESSEL_NAME" property="vesselName" javaType="java.lang.String" />
    </resultMap>

    <select id="listVesselVoyage" resultMap="listVesselVoyage">
        SELECT
            ID,
            VESSEL_NAME
        FROM
            VESSEL_VOYAGE
        WHERE
            PHASE = 'D'
    </select>

    <resultMap id="listVesselVoyageSupplement" type="java.util.Map">
        <id column="ID" property="id" javaType="java.lang.Long" />
        <result column="VOYAGE_ID" property="voyageId" javaType="java.lang.String" />
        <result column="BEGIN_BOLLARD" property="beginBollard" javaType="java.lang.String" />
        <result column="END_BOLLARD" property="endBollard" javaType="java.lang.String" />
        <result column="GUNWALE" property="gunwale" javaType="java.lang.String" />
    </resultMap>

    <select id="listVesselVoyageSupplement" resultMap="listVesselVoyageSupplement">
        SELECT
            ID,
            VOYAGE_ID,
            BEGIN_BOLLARD,
            END_BOLLARD,
            GUNWALE
        FROM
            T_VESSEL_VOYAGE_SUPPLEMENT
        WHERE
            VOYAGE_ID IN
            <foreach collection="voyageIds" separator=", " open="(" close=")" item="voyageId">
                #{voyageId}
            </foreach>
    </select>

    <resultMap id="listBerthBollard" type="java.util.Map">
        <id column="BOLLARD_CODE" property="bollardCode" javaType="java.lang.String" />
        <result column="BOLLARD_NAME" property="bollardName" javaType="java.lang.String" />
        <result column="LON" property="lon" javaType="java.lang.Double" />
        <result column="LAT" property="lat" javaType="java.lang.Double" />
    </resultMap>

    <select id="listBerthBollard" resultMap="listBerthBollard">
        SELECT
            BOLLARD_CODE,
            BOLLARD_NAME,
            LON,
            LAT
        FROM
            M_BERTH_BOLLARD
        WHERE
            BOLLARD_CODE IN
            <foreach collection="bollardCodes" item="bollardCode" close=")" open="(" separator=", ">
                #{bollardCode}
            </foreach>
    </select>
    
    <select id="listStorageStack2" resultType="java.util.Map">
	    SELECT
			t1."id" "id",
			t1."stackCode" "stackCode",
			t1."storageCode" "storageCode",
			t1."stackName" "stackName",
			t1."workAreaCd" "workAreaCd",
			t2."id" "id1",
			t2."stackCode" "stackCode2",
			t2."storageName" "storageName",
			t2."storageTypeCode" "storageTypeCode",
			t2."storageTypeName" "storageTypeName",
			t3."position" "position",
			t4.CARGO_COLOR "cargoColor",
			t3."createByName" "createByName",
			t3."positionTime" "positionTime",
            t3."sideLength",
            t3."area",
			TEMP."cargoInfos"
		FROM
			(
				SELECT
					ID "id",
					ID "stackCode",
					PARENT_ID "storageCode",
					STORAGE_YARD_NM "stackName",
					WORK_AREA_CD "workAreaCd"
				FROM
					M_STORAGE_YARD
				WHERE
					STORAGE_YARD_LEVEL = '3'
			) t1
		INNER JOIN (
			SELECT
				A . ID "id",
				A . ID AS "stackCode",
				A .STORAGE_YARD_NM AS "storageName",
				A .STORAGE_YARD_TYPE_CD AS "storageTypeCode",
				b.DICT_VALUE AS "storageTypeName"
			FROM
				M_STORAGE_YARD A
			INNER JOIN m_dict_data b ON A .STORAGE_YARD_TYPE_CD = b.DICT_VALUE
			AND b.DICT_TYPE = 'STORAGE_YARD_TYPE'
			WHERE
				A .STORAGE_YARD_LEVEL = '2'
		) t2 ON t1."storageCode" = t2."stackCode"
		INNER JOIN (
			SELECT
				Tt2.STACK_ID "stackId",
				Tt2.POSITION "position",
				Tt3.USER_NAME "createByName",
				Tt2.POSITION_TIME "positionTime",
				Tt2.SIDE_LENGTH "sideLength",
				Tt2.AREA "area"
			FROM
				(
					SELECT
						STACK_ID STACK_ID,
						MAX (POSITION_TIME) POSITION_TIME
					FROM
						M_STORAGE_STACK_POSITION
					WHERE
						DEL_FLAG = '0'
					GROUP BY
						STACK_ID
				) Tt1
			LEFT JOIN M_STORAGE_STACK_POSITION Tt2 ON Tt1.STACK_ID = Tt2.STACK_ID AND Tt1.POSITION_TIME = Tt2.POSITION_TIME
			LEFT JOIN SYS_USER Tt3 ON Tt2.CREATE_BY  = Tt3.ID
		) t3 ON t1."id" = t3."stackId"
        LEFT JOIN (
            SELECT
                TEMP2.MASS_ID, MC.CARGO_COLOR
            FROM (
                SELECT
                    TEMP.MASS_ID,
                    MAX(TEMP.CARGO_CODE) KEEP (DENSE_RANK LAST ORDER BY TEMP.TON) CARGO_CODE,
                    MAX(TEMP.TON)
                FROM (
                    SELECT
                        TPPSD.MASS_ID, TBCI.CARGO_CODE, SUM(TPPSD.TON) TON
                    FROM
                        T_PRD_PORT_STORAGE_DETAIL TPPSD
                        JOIN T_BUS_CARGO_INFO TBCI ON TBCI.IS_CLEAR = '0' AND TPPSD.CARGO_INFO_ID = TBCI.ID
                    WHERE TPPSD.CLEAN_MASS_SIGN = '0'
                    GROUP BY
                        TPPSD.MASS_ID, TPPSD.CARGO_INFO_ID, TBCI.CARGO_CODE
                ) TEMP
                GROUP BY
                    MASS_ID
            ) TEMP2
            JOIN M_CARGO MC ON MC.DEL_FLAG = '0' AND TEMP2.CARGO_CODE = MC.CARGO_CODE
        ) t4 ON t1."id" = t4.MASS_ID
        LEFT JOIN (SELECT TEMP.MASS_ID,
                          TO_CHAR(REGEXP_REPLACE(
                                  RTRIM(
                                          XMLCAST(XMLAGG(XMLELEMENT(E, TEMP."cargoInfo" || ',') ORDER BY
                                                         TO_CHAR(TEMP."cargoInfo")) AS CLOB),
                                          ','
                                  ),
                                  '([^,]+)(,\1)+',
                                  '\1'
                                  )) "cargoInfos"
                   FROM (SELECT TEMP.MASS_ID,
                                REGEXP_REPLACE(
                                        RTRIM(
                                                XMLCAST(
                                                        XMLAGG(
                                                                XMLELEMENT(
                                                                        E,
                                                                        TEMP.CARGO_INFO_NO || '，' ||
                                                                        TEMP."shipNameVoyage" || '_' ||
                                                                        TEMP.SCN ||
                                                                        '，' || TEMP.CARGO_OWNER_NAME || '，' ||
                                                                        TEMP.CARGO_NAME || '，' ||
                                                                        "portStorageTon" || ','
                                                                )
                                                                ORDER BY
                                                                TEMP.CARGO_INFO_NO,
                                                                TEMP."shipNameVoyage",
                                                                TEMP.SCN,
                                                                TEMP.CARGO_OWNER_NAME,
                                                                TEMP.CARGO_NAME,
                                                                TEMP."portStorageTon"
                                                        ) AS CLOB
                                                ),
                                                ','
                                        ),
                                        '([^,]+)(,\1)+',
                                        '\1'
                                ) "cargoInfo"
                         FROM (SELECT TPPSD.MASS_ID,
                                      TBCI.CARGO_INFO_NO,
                                      CASE
                                          WHEN TBCI.SHIPVOYAGE_ITEM_ID IS NOT NULL
                                              THEN TBCI.SHIP_NAME || '_' || TBCI.VOYAGE END "shipNameVoyage",
                                      TBCI.SCN,
                                      TBCI.CARGO_OWNER_NAME,
                                      TBCI.CARGO_NAME,
                                      SUM(TPPSD.TON)                                        "portStorageTon"
                               FROM T_PRD_PORT_STORAGE_DETAIL TPPSD
                                        JOIN T_BUS_CARGO_INFO TBCI
                                             ON (TBCI.IS_CLEAR = '0' AND TPPSD.CARGO_INFO_ID = TBCI.ID)
                               WHERE TPPSD.CLEAN_MASS_SIGN = '0'
                               GROUP BY TPPSD.MASS_ID,
                                        TBCI.CARGO_INFO_NO,
                                        TBCI.SHIPVOYAGE_ITEM_ID,
                                        TBCI.SHIP_NAME,
                                        TBCI.VOYAGE,
                                        TBCI.SCN,
                                        TBCI.CARGO_OWNER_NAME,
                                        TBCI.CARGO_NAME) TEMP
                         GROUP BY TEMP.MASS_ID) TEMP
                   GROUP BY TEMP.MASS_ID) TEMP ON t1."id" = TEMP.MASS_ID
    </select>
    <resultMap id="listStorageStack" type="java.util.Map">
        <id column="ID" property="id" javaType="java.lang.Long" />
        <result column="PARENT_ID" property="storageCode" javaType="java.lang.String" />
        <result column="ID" property="stackCode" javaType="java.lang.String" />
        <result column="STORAGE_YARD_NM" property="stackName" javaType="java.lang.String" />
    </resultMap>
    
    <select id="listStorageStackForMac" resultType="java.util.Map">
	    SELECT
			T1. ID "id",
			T1.STORAGE_YARD_NM "stackName3",
			T2.STORAGE_YARD_NM "stackName2",
			T3.STORAGE_YARD_NM "stackName1",
			TEMP_T4.POSITION "position",
			TEMP_T5.CAR_COUNT "carCount",
			TEMP_T6."CARGO_INFOS" "cargoInfos",
			TEMP_T7.MAC_CODE "macCode"
		FROM
			M_STORAGE_YARD T1
		LEFT JOIN M_STORAGE_YARD T2 ON T2. ID = T1.PARENT_ID
		AND T2.STORAGE_YARD_LEVEL = '2'
		LEFT JOIN M_STORAGE_YARD T3 ON T3. ID = T2.PARENT_ID
		AND T3.STORAGE_YARD_LEVEL = '1'
		LEFT JOIN (
			SELECT
				TT1.STACK_ID,
				TT2.POSITION,
				TT2.POSITION_TIME
			FROM
				(
					SELECT
						STACK_ID STACK_ID,
						MAX (POSITION_TIME) POSITION_TIME
					FROM
						M_STORAGE_STACK_POSITION
					WHERE
						DEL_FLAG = '0'
					GROUP BY
						STACK_ID
				) TT1
			LEFT JOIN M_STORAGE_STACK_POSITION TT2 ON TT1.STACK_ID = TT2.STACK_ID
			AND TT1.POSITION_TIME = TT2.POSITION_TIME
		) TEMP_T4 ON T1. ID = TEMP_T4.STACK_ID
		LEFT JOIN (
			SELECT
				A .MASS_ID "STACK_ID",
				COUNT (C.NOTE_ID) "CAR_COUNT"
			FROM
				T_PRD_PORT_STORAGE A,
				T_BUS_TRUST_CARGO B,
				WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND C
			WHERE
				A .CARGO_INFO_ID = b.CARGO_INFO_ID
			AND b.BUSINESS_NO = c.plan_NO
			AND C.IS_TALLY = '0'
			AND C.WEIGH_OUT_DT IS NULL
			GROUP BY
				A .MASS_ID
		) TEMP_T5 ON T1. ID = TEMP_T5.STACK_ID
		LEFT JOIN (
			SELECT
				TEMP.MASS_ID,
				TO_CHAR (
					REGEXP_REPLACE (
						RTRIM (
							XMLCAST (
								XMLAGG(
									XMLELEMENT (E, TEMP."cargoInfo" || ',')
									ORDER BY
										TO_CHAR (TEMP."cargoInfo")
								) AS CLOB
							),
							','
						),
						'([^,]+)(,\1)+',
						'\1'
					)
				) "CARGO_INFOS"
			FROM
				(
					SELECT
						TEMP.MASS_ID,
						REGEXP_REPLACE (
							RTRIM (
								XMLCAST (
									XMLAGG(
										XMLELEMENT (
											E,
											TEMP.CARGO_INFO_NO || '，' || TEMP."shipNameVoyage" || '_' || TEMP. SCN || '，' || TEMP.CARGO_OWNER_NAME || '，' || TEMP.CARGO_NAME || '，' || "portStorageTon" || ','
										)
										ORDER BY
											TEMP.CARGO_INFO_NO,
											TEMP."shipNameVoyage",
											TEMP. SCN,
											TEMP.CARGO_OWNER_NAME,
											TEMP.CARGO_NAME,
											TEMP."portStorageTon"
									) AS CLOB
								),
								','
							),
							'([^,]+)(,\1)+',
							'\1'
						) "cargoInfo"
					FROM
						(
							SELECT
								TPPSD.MASS_ID,
								TBCI.CARGO_INFO_NO,
								CASE
							WHEN TBCI.SHIPVOYAGE_ITEM_ID IS NOT NULL THEN
								TBCI.SHIP_NAME || '_' || TBCI.VOYAGE
							END "shipNameVoyage",
							TBCI. SCN,
							TBCI.CARGO_OWNER_NAME,
							TBCI.CARGO_NAME,
							SUM (TPPSD.TON) "portStorageTon"
						FROM
							T_PRD_PORT_STORAGE_DETAIL TPPSD
						JOIN T_BUS_CARGO_INFO TBCI ON (
							TBCI.IS_CLEAR = '0'
							AND TPPSD.CARGO_INFO_ID = TBCI. ID
						)
						WHERE
							TPPSD.CLEAN_MASS_SIGN = '0'
						GROUP BY
							TPPSD.MASS_ID,
							TBCI.CARGO_INFO_NO,
							TBCI.SHIPVOYAGE_ITEM_ID,
							TBCI.SHIP_NAME,
							TBCI.VOYAGE,
							TBCI. SCN,
							TBCI.CARGO_OWNER_NAME,
							TBCI.CARGO_NAME
						) TEMP
					GROUP BY
						TEMP.MASS_ID
				) TEMP
			GROUP BY
				TEMP.MASS_ID
		) TEMP_T6 ON T1. ID = TEMP_T6.MASS_ID
		LEFT JOIN (
			SELECT
				TT1.STACK_ID,
				TT2.MAC_CODE
			FROM
				(
					SELECT
						STACK_ID,
						MAX (ID) ID
					FROM
						T_MAC_WORK_NOW
					WHERE
						TO_CHAR(WORK_DATE, 'YYYY-MM-DD') = #{workDate}
					AND CLASS_CODE = #{classCode}
					GROUP BY
						STACK_ID
				) TT1
			LEFT JOIN T_MAC_WORK_NOW TT2 ON TT1. ID = TT2. ID
		) TEMP_T7 ON T1. ID = TEMP_T7.STACK_ID
		WHERE
			T1.STORAGE_YARD_LEVEL = '3'
		AND TEMP_T4.POSITION IS NOT NULL
    </select>
    

    <select id="listStorageStack" resultMap="listStorageStack">
        SELECT
            ID,
            PARENT_ID,
            STORAGE_YARD_NM
        FROM
            M_STORAGE_YARD
        WHERE
            STORAGE_YARD_LEVEL = '3'
    </select>

    <resultMap id="listStorage" type="java.util.Map">
        <id column="ID" property="id" javaType="java.lang.Long"/>
        <id column="STORAGE_CODE" property="storageCode" javaType="java.lang.String"/>
        <id column="STORAGE_NAME" property="storageName" javaType="java.lang.String"/>
        <id column="STORAGE_TYPE_CODE" property="storageTypeCode" javaType="java.lang.String"/>
        <id column="STORAGE_TYPE_NAME" property="storageTypeName" javaType="java.lang.String"/>
    </resultMap>

    <select id="listStorage" resultMap="listStorage">
        SELECT
            a.ID,
            a.ID AS STORAGE_CODE,
            a.STORAGE_YARD_NM AS STORAGE_NAME,
            a.STORAGE_YARD_TYPE_CD AS STORAGE_TYPE_CODE,
            b.DICT_VALUE as STORAGE_TYPE_NAME
        FROM
            M_STORAGE_YARD a inner join m_dict_data b on a.STORAGE_YARD_TYPE_CD=b.DICT_VALUE and b.DICT_TYPE='STORAGE_YARD_TYPE'
        WHERE
            STORAGE_YARD_LEVEL = '2'
            AND a.id IN
            <foreach collection="storageCodes" separator=", " open="(" close=")" item="storageCode">
                #{storageCode}
            </foreach>
    </select>

    <resultMap id="listStorageStackBoundayr" type="java.util.Map">
        <result column="SEQ_NO" property="seqNo" javaType="java.lang.Integer" />
        <result column="LON" property="lon" javaType="java.lang.Double" />
        <result column="LAT" property="lat" javaType="java.lang.Double" />
        <result column="STACK_CODE" property="stackCode" javaType="java.lang.String" />
    </resultMap>

    <select id="listStorageStackBoundayr" resultMap="listStorageStackBoundayr">
        SELECT
            SEQ_NO,
            LONGITUDE AS LON,
            LATITUDE AS LAT,
            STORAGE_YARD_GID AS STACK_CODE
        FROM
            M_STORAGE_YARD_COORDINATE
        WHERE
            STORAGE_YARD_GID IN
            <foreach collection="stackCodes" item="stackCode" close=")" open="(" separator=", ">
                #{stackCode}
            </foreach>
        ORDER BY
            STACK_CODE,
            SEQ_NO
    </select>

    <resultMap id="getStack" type="java.util.Map">
        <result column="ID" property="id" jdbcType="BIGINT"/>
        <result column="PARENT_ID" property="parentId" jdbcType="BIGINT"/>
        <result column="STORAGE_YARD_NM" property="storageYardNm" jdbcType="VARCHAR"/>
        <result column="SHORT_CD" property="shortCd" jdbcType="VARCHAR"/>
        <result column="AREA" property="area" jdbcType="DECIMAL"/>
        <result column="STORAGE_YARD_TYPE_CD" property="storageYardTypeCd" jdbcType="VARCHAR"/>
        <result column="IS_INNER_STORAGE_YARD" property="isInnerStorageYard" jdbcType="VARCHAR"/>
        <result column="UNIT_AREA_TON" property="unitAreaTon" jdbcType="DECIMAL"/>
        <result column="IS_RENT" property="isRent" jdbcType="VARCHAR"/>
        <result column="WORK_AREA_CD" property="workAreaCd" jdbcType="VARCHAR"/>
        <result column="SORT_NUM" property="sortNum" jdbcType="INTEGER"/>
        <result column="STORAGE_YARD_LEVEL" property="storageYardLevel" jdbcType="VARCHAR"/>
        <result column="CREATE_BY" property="createBy" jdbcType="BIGINT"/>
        <result column="CREATE_BY_NAME" property="createByName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="BIGINT"/>
        <result column="UPDATE_BY_NAME" property="updateByName" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR"/>
        <result column="BHT_ID" property="bhtId" jdbcType="BIGINT"/>
        <collection property="cargoInfos" javaType="java.util.List" ofType="java.util.Map">
            <result column="CARGO_INFO_NO" property="cargoInfoNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="shipNameVoyage" property="shipNameVoyage" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="SCN" property="scn" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="CARGO_OWNER_NAME" property="cargoOwnerName" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="CARGO_NAME" property="cargoName" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="portStorageTon" property="portStorageTon" jdbcType="DECIMAL"/>
            <result column="handoverlistTon" property="handoverlistTon" jdbcType="DECIMAL"/>
            <result column="planNo" property="planNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <result column="TON" property="ton" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        </collection>
    </resultMap>

    <select id="getStack" resultMap="getStack">
        SELECT
            MSY.ID,
            MSY.PARENT_ID,
            MSY.STORAGE_YARD_NM,
            MSY.SHORT_CD,
            MSY.AREA,
            MSY.STORAGE_YARD_TYPE_CD,
            MSY.IS_INNER_STORAGE_YARD,
            MSY.UNIT_AREA_TON,
            MSY.IS_RENT,
            MSY.WORK_AREA_CD,
            MSY.SORT_NUM,
            MSY.STORAGE_YARD_LEVEL,
            MSY.CREATE_BY,
            MSY.CREATE_BY_NAME,
            TO_CHAR (MSY.CREATE_TIME, 'YYYY-MM-DD HH24:MI:SS') CREATE_TIME,
            MSY.UPDATE_BY,
            MSY.UPDATE_BY_NAME,
            TO_CHAR (MSY.UPDATE_TIME, 'YYYY-MM-DD HH24:MI:SS') UPDATE_TIME,
            MSY.BHT_ID,
            TEMP.CARGO_INFO_NO,
            TEMP."shipNameVoyage",
            TEMP.SCN,
            TEMP.CARGO_OWNER_NAME,
            TEMP.CARGO_NAME,
            TEMP."portStorageTon",
            TEMP."handoverlistTon",
            nvl (TEMP.QUANTITY, 0) QUANTITY,
            nvl (TEMP.TON, 0) TON
        FROM
            M_STORAGE_YARD MSY
                LEFT JOIN (
                SELECT
                    TPPSD.MASS_ID,
                    TBCI.CARGO_INFO_NO,
                    CASE
                        WHEN TBCI.SHIPVOYAGE_ITEM_ID IS NOT NULL THEN TBCI.SHIP_NAME || '_' || TBCI.VOYAGE
                        END "shipNameVoyage",
                    TBCI.SCN,
                    TBCI.CARGO_OWNER_NAME,
                    TBCI.CARGO_NAME,
                    SUM(TPPSD.TON) "portStorageTonOld",
                    temp2."portTon" "portStorageTon",
                    TEMP.TON "handoverlistTon",
                    TPPS.QUANTITY,
                    TPPS.TON
                FROM
                    T_PRD_PORT_STORAGE_DETAIL TPPSD
                        join T_PRD_PORT_STORAGE TPPS on TPPSD.PORT_STORAGE_ID = TPPS.ID
                        JOIN T_BUS_CARGO_INFO TBCI ON (
                        TBCI.IS_CLEAR = '0'
                            AND TPPSD.CARGO_INFO_ID = TBCI.ID
                        )
                        LEFT JOIN (
                        SELECT
                            CARGO_INFO_ID,
                            SUM(TON) TON
                        FROM
                            T_BUS_HANDOVERLIST
                        GROUP BY
                            CARGO_INFO_ID
                    ) TEMP ON TPPSD.CARGO_INFO_ID = TEMP.CARGO_INFO_ID
                        left join (
                        select
                            TPPSD3.CARGO_INFO_ID,
                            sum(TON) "portTon"
                        from
                            T_PRD_PORT_STORAGE_DETAIL TPPSD3
                        where  TPPSD3.CLEAN_MASS_SIGN = '0'
                        group by
                            TPPSD3.CARGO_INFO_ID
                    ) temp2 on temp2.CARGO_INFO_ID = TPPSD.CARGO_INFO_ID
                WHERE
                    TPPSD.CLEAN_MASS_SIGN = '0'
                GROUP BY
                    TPPSD.MASS_ID,
                    TBCI.CARGO_INFO_NO,
                    TBCI.SHIPVOYAGE_ITEM_ID,
                    TBCI.SHIP_NAME,
                    TBCI.VOYAGE,
                    TBCI.SCN,
                    TBCI.CARGO_OWNER_NAME,
                    TBCI.CARGO_NAME,
                    TPPS.QUANTITY,
                    TPPS.TON,
                    TEMP.TON,
                    temp2."portTon"
            ) TEMP ON MSY.ID = TEMP.MASS_ID
        WHERE
            MSY.STORAGE_YARD_LEVEL = '3'
          AND MSY.ID = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="getStackForMacApp" resultMap="getStack">
        SELECT
			MSY. ID,
			MSY.PARENT_ID,
			MSY.STORAGE_YARD_NM,
			MSY.SHORT_CD,
			MSY.AREA,
			MSY.STORAGE_YARD_TYPE_CD,
			MSY.IS_INNER_STORAGE_YARD,
			MSY.UNIT_AREA_TON,
			MSY.IS_RENT,
			MSY.WORK_AREA_CD,
			MSY.SORT_NUM,
			MSY.STORAGE_YARD_LEVEL,
			MSY.CREATE_BY,
			MSY.CREATE_BY_NAME,
			TO_CHAR (
				MSY.CREATE_TIME,
				'YYYY-MM-DD HH24:MI:SS'
			) CREATE_TIME,
			MSY.UPDATE_BY,
			MSY.UPDATE_BY_NAME,
			TO_CHAR (
				MSY.UPDATE_TIME,
				'YYYY-MM-DD HH24:MI:SS'
			) UPDATE_TIME,
			MSY.BHT_ID,
			TEMP.CARGO_INFO_NO,
			TEMP."shipNameVoyage",
			TEMP. SCN,
			TEMP.CARGO_OWNER_NAME,
			TEMP.CARGO_NAME,
			TEMP."portStorageTon",
			TEMP."handoverlistTon",
			TEMP."planNo"
		FROM
			M_STORAGE_YARD MSY
		LEFT JOIN (
			SELECT
				TPPSD.MASS_ID,
				TBCI.CARGO_INFO_NO,
				CASE
			WHEN TBCI.SHIPVOYAGE_ITEM_ID IS NOT NULL THEN
				TBCI.SHIP_NAME || '_' || TBCI.VOYAGE
			END "shipNameVoyage",
			TBCI. SCN,
			TBCI.CARGO_OWNER_NAME,
			TBCI.CARGO_NAME,
			SUM (TPPSD.TON) "portStorageTon",
			TEMP.TON "handoverlistTon",
			BTC.BUSINESS_NO "planNo"
		FROM
			T_PRD_PORT_STORAGE_DETAIL TPPSD
		JOIN T_BUS_CARGO_INFO TBCI ON (
			TBCI.IS_CLEAR = '0'
			AND TPPSD.CARGO_INFO_ID = TBCI. ID
		)
		LEFT JOIN (
			SELECT
				CARGO_INFO_ID,
				SUM (TON) TON
			FROM
				T_BUS_HANDOVERLIST
			GROUP BY
				CARGO_INFO_ID
		) TEMP ON TPPSD.CARGO_INFO_ID = TEMP.CARGO_INFO_ID
		LEFT JOIN T_BUS_TRUST_CARGO BTC ON BTC.CARGO_INFO_ID = TPPSD.CARGO_INFO_ID AND BTC.IS_STOP = '10'
		LEFT JOIN T_BUS_TRUST BT ON BT.ID = BTC.TRUST_ID 
		WHERE
			TPPSD.CLEAN_MASS_SIGN = '0'
		AND (BT.TYPE = '集港' OR BT.TYPE = '疏港' OR BT.TYPE = '陆销')
		GROUP BY
			TPPSD.MASS_ID,
			TBCI.CARGO_INFO_NO,
			TBCI.SHIPVOYAGE_ITEM_ID,
			TBCI.SHIP_NAME,
			TBCI.VOYAGE,
			TBCI. SCN,
			TBCI.CARGO_OWNER_NAME,
			TBCI.CARGO_NAME,
			TEMP.TON,
			BTC.BUSINESS_NO
		) TEMP ON MSY. ID = TEMP.MASS_ID
		WHERE
			MSY.STORAGE_YARD_LEVEL = '3'
          AND MSY.ID = #{id,jdbcType=BIGINT}
    </select>
    
    <resultMap id="listLocation" type="java.util.Map">
        <id column="MAC_ID" property="macId" javaType="java.lang.String" />
        <result column="MAC_NAME" property="macName" javaType="java.lang.String" />
        <result column="MAC_TYPE_CODE" property="macTypeCode" javaType="java.lang.String" />
        <result column="MAC_TYPE_NAME" property="macTypeName" javaType="java.lang.String" />
        <result column="LON" property="lon" javaType="java.lang.Double" />
        <result column="LAT" property="lat" javaType="java.lang.Double" />
        <result column="SPEED" property="speed" javaType="java.lang.Integer" />
        <result column="DIRECTION" property="direction" javaType="java.lang.String" />
        <result column="GPS_TIME" property="gpsTime" javaType="java.util.Date" />
    </resultMap>

    <select id="listLocation" resultMap="listLocation">
        SELECT
            MAC_ID,
            LON,
            LAT,
            SPEED,
            DIRECTION,
            GPS_TIME,
            b.MAC_NAME,
            MMT.MAC_TYPE_CODE,
            MMT.MAC_TYPE_NAME
        FROM
            M_LOCATION a inner join m_machine b on a.MAC_ID=b.ID
        JOIN M_MACHINE_TYPE MMT ON b.MAC_TYPE_CODE = MMT.MAC_TYPE_CODE
    </select>

    <resultMap id="listLocationHistory" type="java.util.Map">
        <id column="MAC_ID" property="macId" javaType="java.lang.String" />
        <result column="LON" property="lon" javaType="java.lang.Double" />
        <result column="LAT" property="lat" javaType="java.lang.Double" />
        <result column="SPEED" property="speed" javaType="java.lang.Integer" />
        <result column="DIRECTION" property="direction" javaType="java.lang.String" />
        <result column="GPS_TIME" property="gpsTime" javaType="java.util.Date" />
    </resultMap>

    <select id="listLocationHistory" resultMap="listLocationHistory">
        SELECT
            MAC_ID,
            LON,
            LAT,
            SPEED,
            DIRECTION,
            GPS_TIME
        FROM
            M_LOCATION_HISTORY
        WHERE
            MAC_ID = #{macId}
            AND GPS_TIME >= #{beginTime}
            AND GPS_TIME &lt;= #{endTime}
        ORDER BY
            GPS_TIME
    </select>

    <insert id="insertStackYardCoordinate">
        INSERT INTO M_STORAGE_STACK_POSITION(ID, STACK_CODE, STACK_NAME, POSITION, POSITION_FROM, POSITION_TIME,
                                             CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, STACK_ID, DEL_FLAG, AREA, SIDE_LENGTH,FREEHAND_SKETCHING)
        VALUES (#{id, jdbcType=BIGINT}, #{stackCode, jdbcType=VARCHAR}, #{stackName, jdbcType=VARCHAR},
                #{position, jdbcType=CLOB}, #{positionFrom, jdbcType=VARCHAR}, #{positionTime, jdbcType=TIMESTAMP},
                #{loginUserId, jdbcType=BIGINT}, #{now, jdbcType=TIMESTAMP}, #{updateBy, jdbcType=BIGINT},
                #{updateTime, jdbcType=TIMESTAMP}, #{stackId, jdbcType=BIGINT}, #{delFlag, jdbcType=VARCHAR}, #{area, jdbcType=DECIMAL}, #{sideLength, jdbcType=VARCHAR}, #{freehandSketching, jdbcType=VARCHAR})
    </insert>

    <update id="deleteStorageStackPosition">
        UPDATE M_STORAGE_STACK_POSITION
        SET DEL_FLAG = '1'
        WHERE STACK_ID = #{stackId,jdbcType=BIGINT}
        <if test = "ids !=null ">
            <foreach collection="ids" item="id" index="index" separator="," open="and id in (" close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <select id="listPortStorageDetail" resultType="com.yy.ppm.produce.bean.po.TPrdPortStorageDetailPO">
        SELECT ID,
               PORT_STORAGE_ID,
               CARGO_INFO_ID,
               WORK_DATE,
               CLASS_CODE,
               CLASS_NAME,
               PROCESS_DETAIL_CODE,
               PROCESS_DETAIL_NAME,
               STOREHOUSE_ID,
               STOREHOUSE_NAME,
               REGION_ID,
               REGION_NAME,
               MASS_ID,
               MASS_NAME,
               QUANTITY,
               TON,
               INOUT_TYPE,
               INOUT_STORAGE_CODE,
               INOUT_STORAGE_NAME,
               WORK_TICKET_ID,
               WORK_TICKET_DETAIL_ID,
               CARGO_TALLY_ID,
               CARGO_TALLY_DETAIL_ID,
               INOUT_DATE,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               COMPANY_ID,
               COMPANY_NAME,
               CLEAN_MASS_SIGN,
               CLEAN_MASS_BY,
               CLEAN_MASS_BY_NAME,
               CLEAN_MASS_TIME
        FROM T_PRD_PORT_STORAGE_DETAIL
        WHERE MASS_ID = #{massId,jdbcType=BIGINT}
    </select>

    <resultMap id="_listPortStorageDetail" type="com.yy.ppm.produce.bean.po.TPrdPortStorageDetailPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="portStorageId" column="PORT_STORAGE_ID" jdbcType="BIGINT"/>
        <result property="cargoInfoId" column="CARGO_INFO_ID" jdbcType="BIGINT"/>
        <result property="workDate" column="WORK_DATE" jdbcType="TIMESTAMP"/>
        <result property="classCode" column="CLASS_CODE" jdbcType="VARCHAR"/>
        <result property="className" column="CLASS_NAME" jdbcType="VARCHAR"/>
        <result property="processDetailCode" column="PROCESS_DETAIL_CODE" jdbcType="VARCHAR"/>
        <result property="processDetailName" column="PROCESS_DETAIL_NAME" jdbcType="VARCHAR"/>
        <result property="storehouseId" column="STOREHOUSE_ID" jdbcType="BIGINT"/>
        <result property="storehouseName" column="STOREHOUSE_NAME" jdbcType="VARCHAR"/>
        <result property="regionId" column="REGION_ID" jdbcType="BIGINT"/>
        <result property="regionName" column="REGION_NAME" jdbcType="VARCHAR"/>
        <result property="massId" column="MASS_ID" jdbcType="BIGINT"/>
        <result property="massName" column="MASS_NAME" jdbcType="VARCHAR"/>
        <result property="quantity" column="QUANTITY" jdbcType="INTEGER"/>
        <result property="ton" column="TON" jdbcType="DECIMAL"/>
        <result property="inoutType" column="INOUT_TYPE" jdbcType="VARCHAR"/>
        <result property="inoutStorageCode" column="INOUT_STORAGE_CODE" jdbcType="VARCHAR"/>
        <result property="inoutStorageName" column="INOUT_STORAGE_NAME" jdbcType="VARCHAR"/>
        <result property="workTicketId" column="WORK_TICKET_ID" jdbcType="BIGINT"/>
        <result property="workTicketDetailId" column="WORK_TICKET_DETAIL_ID" jdbcType="BIGINT"/>
        <result property="cargoTallyId" column="CARGO_TALLY_ID" jdbcType="BIGINT"/>
        <result property="cargoTallyDetailId" column="CARGO_TALLY_DETAIL_ID" jdbcType="BIGINT"/>
        <result property="inoutDate" column="INOUT_DATE" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="transportEquipmentNo" column="TRANSPORT_EQUIPMENT_NO" jdbcType="VARCHAR"/>
        <result property="tallyMan" column="TALLY_MAN" jdbcType="VARCHAR"/>
        <result property="tallyTime" column="TALLY_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="_listPortStorageDetail" resultMap="_listPortStorageDetail">
        SELECT
        T1.ID,
        T1.PORT_STORAGE_ID,
        T1.CARGO_INFO_ID,
        T1.WORK_DATE,
        T1.CLASS_CODE,
        T1.CLASS_NAME,
        T1.PROCESS_DETAIL_CODE,
        T1.PROCESS_DETAIL_NAME,
        T1.STOREHOUSE_ID,
        T1.STOREHOUSE_NAME,
        T1.REGION_ID,
        T1.REGION_NAME,
        T1.MASS_ID,
        T1.MASS_NAME,
        T1.QUANTITY,
        T1.TON,
        T1.INOUT_TYPE,
        T1.INOUT_STORAGE_CODE,
        T1.INOUT_STORAGE_NAME,
        T1.WORK_TICKET_ID,
        T1.WORK_TICKET_DETAIL_ID,
        T1.CARGO_TALLY_ID,
        T1.CARGO_TALLY_DETAIL_ID,
        T1.INOUT_DATE,
        T1.CREATE_BY,
        T1.CREATE_BY_NAME,
        T1.CREATE_TIME,
        T1.UPDATE_BY,
        T1.UPDATE_BY_NAME,
        T1.UPDATE_TIME,
        T1.COMPANY_ID,
        T1.COMPANY_NAME,
        T1.CLEAN_MASS_SIGN,
        T2.TRANSPORT_EQUIPMENT_NO,
        T2.CREATE_BY_NAME AS "TALLY_MAN",
        T2.CREATE_TIME AS "TALLY_TIME"

        FROM T_PRD_PORT_STORAGE_DETAIL T1
        LEFT JOIN T_YARD_TALLY T2 ON T1.CARGO_TALLY_ID = T2.ID
        JOIN T_BUS_CARGO_INFO TBCI ON T1.CARGO_INFO_ID = TBCI.ID
        WHERE TBCI.CARGO_INFO_NO = #{cargoInfoNo,jdbcType=VARCHAR}
        AND T1.MASS_ID = #{massId,jdbcType=BIGINT}
        <if test="beginWorkDate != null">
            AND T1.WORK_DATE >= #{beginWorkDate, jdbcType=TIMESTAMP}
            <if test="beginClassCode != null and beginClassCode != ''">
                AND (
                T1.WORK_DATE > #{beginWorkDate, jdbcType=TIMESTAMP} OR
                T1.CLASS_CODE >= TO_NUMBER( #{beginClassCode, jdbcType=VARCHAR} )
                )
            </if>
        </if>
        <if test="endWorkDate != null">
            AND T1.WORK_DATE &lt;= #{endWorkDate, jdbcType=TIMESTAMP}
            <if test="endClassCode != null and endClassCode != ''">
                AND (
                T1.WORK_DATE &lt; #{endWorkDate, jdbcType=TIMESTAMP} OR
                T1.CLASS_CODE &lt;= TO_NUMBER( #{endClassCode, jdbcType=VARCHAR} )
                )
            </if>
        </if>
        <if test="processDetailCode != null and processDetailCode != ''">
            AND T1.PROCESS_DETAIL_CODE = #{processDetailCode, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getCargoInfoLabel" resultType="java.lang.String">
        SELECT
            TO_CHAR( TBCI.COMPANY_NAME ) || '/' || TO_CHAR( TBCI.CARGO_OWNER_NAME ) || '/' || TO_CHAR( TBCI.CARGO_AGENT_NAME ) || '/' || TO_CHAR( TBCI.CARGO_NAME ) || '/' || TO_CHAR( TBCI.TRADE_TYPE ) || '/' || TO_CHAR( TBCI.PACKING_NAME ) CARGO_INFO_LABEL
        FROM T_BUS_CARGO_INFO TBCI
        WHERE ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="listPileWithBerth" resultType="com.yy.ppm.gis.dto.onSiteDynamics.Pile">
        SELECT ID,
               BOLLARD_CODE,
               BOLLARD_NAME,
               LON,
               LAT,
               BERTH_ID
        FROM M_BERTH_BOLLARD
    </select>
    <select id="getStackListByStackId" resultType="com.yy.ppm.master.bean.dto.MStorageStackDTO">
        select *
        from M_STORAGE_STACK_POSITION where STACK_ID = #{statckId,jdbcType=BIGINT} order by CREATE_TIME desc
    </select>
    <update id="addDelUserInfo">
        update  M_STORAGE_STACK_POSITION set UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
                                             UPDATE_BY = #{updateBy}
        where id  = #{id}
    </update>
</mapper>
