<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.gis.mapper.RouteMapper">

    <!-- 插入关键点信息 -->
    <insert id="insertKeyPoint" parameterType="com.yy.ppm.gis.po.TKeypointsPO">
        INSERT INTO T_KEYPOINTS( POINT_NAME, LONGITUDE, LATITUDE, TYPE, STATUS, CREATE_TIME, CREATE_BY)
        VALUES (#{pointName,jdbcType=VARCHAR},#{longitude,jdbcType=DECIMAL},#{latitude,jdbcType=DECIMAL},#{type,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{now,jdbcType=TIMESTAMP},#{loginUserId,jdbcType=VARCHAR})
    </insert>

    <!-- 查询关键点信息 -->
    <select id="getAllKeyPoints" resultType="com.yy.ppm.gis.po.TKeypointsPO">
        SELECT
            POINT_ID as id,
            POINT_NAME,
            LONGITUDE,
            LATITUDE,
            TYPE,
            STATUS,
            CREATE_TIME,
            CREATE_BY,
            UPDATE_BY,
            UPDATE_TIME
        FROM
            t_keypoints
        <where>
            1=1
            <if test="id!=null">
               and POINT_ID=#{id}
            </if>
            <if test="status!=null">
                and STATUS=#{status}
            </if>
        </where>
    </select>

    <!--  -->
    <update id="updateKeyPoint"  parameterType="com.yy.ppm.gis.po.TKeypointsPO">
        UPDATE
            T_KEYPOINTS
        SET
            POINT_NAME=#{pointName,jdbcType=VARCHAR},
            TYPE=#{type,jdbcType=INTEGER},
            STATUS=#{status,jdbcType=INTEGER},
            UPDATE_BY=#{loginUserId,jdbcType=VARCHAR},
            UPDATE_TIME=#{now,jdbcType=TIMESTAMP}
        <where>
            POINT_ID=#{id}
        </where>
    </update>

    <!-- 删除点之前把相关联的线删除 -->
    <delete id="deleteRouteByPointId">
        DELETE FROM
            T_ROUTES
        WHERE
            BEGIN_PID = #{pointId} OR END_PID = #{pointId}
    </delete>

    <!-- 删除关键点 -->
    <delete id="deleteSysKeyPoint">
        DELETE FROM
            T_KEYPOINTS
        WHERE
            POINT_ID = #{pointId}
    </delete>

    <!-- 插入路线信息 -->
    <insert id="insertRouteInfo" parameterType="com.yy.ppm.gis.po.TRoutesPO">
        INSERT INTO T_ROUTES( ROUTE_NAME, BEGIN_PID, END_PID, ROUTE_TYPE, STATUS, CREATE_TIME, CREATE_BY)
        VALUES (#{routeName,jdbcType=VARCHAR},#{beginPid,jdbcType=BIGINT},#{endPid,jdbcType=BIGINT},#{routeType,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{now,jdbcType=TIMESTAMP},#{loginUserId,jdbcType=VARCHAR})
    </insert>

    <!-- 查询全部路线信息 -->
    <select id="getAllRoutes" resultType="com.yy.ppm.gis.dto.route.TRoutesDTO">
        SELECT
            T1.ROUTE_ID,
            T1.ROUTE_NAME,
            T1.BEGIN_PID,
            T1.END_PID,
            T1.ROUTE_TYPE,
            T1.STATUS,
            T1.CREATE_BY,
            T1.CREATE_TIME,
            T1.UPDATE_BY,
            T1.UPDATE_TIME,
            T2.LONGITUDE AS START_LON,
            T2.LATITUDE AS START_LAT,
            T3.LONGITUDE AS END_LON,
            T3.LATITUDE AS END_LAT
        FROM
            T_ROUTES T1
            INNER JOIN T_KEYPOINTS T2 ON T1.BEGIN_PID = T2.POINT_ID
            INNER JOIN T_KEYPOINTS T3 ON T1.END_PID = T3.POINT_ID
        <where>
            1=1
            <if test="routeId!=null">
               and ROUTE_ID=#{routeId}
            </if>
        </where>
    </select>

    <!-- 根据ID更新路线信息 -->
    <update id="updateRouteInfo" parameterType="com.yy.ppm.gis.po.TRoutesPO">
        UPDATE
            T_ROUTES
        SET
            ROUTE_NAME=#{routeName,jdbcType=VARCHAR},
            ROUTE_TYPE=#{routeType,jdbcType=INTEGER},
            STATUS = #{status,jdbcType=INTEGER},
            UPDATE_BY=#{loginUserId,jdbcType=VARCHAR},
            UPDATE_TIME=#{now,jdbcType=TIMESTAMP}
        <where>
            ROUTE_ID=#{routeId}
        </where>
    </update>

    <!-- 根据ID删除路线信息 -->
    <delete id="deleteRouteById">
        DELETE FROM T_ROUTES
        WHERE
            ROUTE_ID=#{routeId}
    </delete>

    <!-- ************************************************ 生成各关键点之间的最短路线 **************************************** -->
    <!-- 删除原有的所有最优路线 -->
    <delete id="delNavigationRoute">
        DELETE FROM
            T_NAVIGATIONROUTE
    </delete>

    <!--查询关键点信息-->
    <select id="getKeyPointList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT
            T1.POINT_ID,
            T1.POINT_NAME AS NAME,
            T1.LONGITUDE,
            T1.LATITUDE,
            T1.TYPE,
            T1.STATUS,
            CREATE_TIME,
            T1.CREATE_BY,
            T1.UPDATE_BY,
            UPDATE_TIME
        FROM
            T_KEYPOINTS T1
        WHERE
            T1.STATUS = '1'
        ORDER BY POINT_ID DESC
    </select>

    <!-- 查询所有路线信息 -->
    <select id="getRouteList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT
            ROUTE_ID AS ID,
            ROUTE_NAME AS NAME,
            BEGIN_PID AS BEGINPID,
            END_PID AS ENDPID,
            ROUTE_TYPE AS LXLX,
            STATUS,
            CREATE_BY,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_TIME
        FROM
            T_ROUTES
        WHERE
            STATUS = '1'
    </select>

    <!-- 批量插入 -->
    <insert id="addNavigationRoute" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO T_NAVIGATIONROUTE (QDXH,ZDXH,ROUTES,DISTANCE)
        <foreach collection="list" item="item" index="index" separator="union all">
            SELECT
            #{item.qdxh, jdbcType=BIGINT} AS qdxh,
            #{item.zdxh, jdbcType=BIGINT} AS zdxh,
            #{item.routes, jdbcType=VARCHAR} AS routes,
            #{item.distance, jdbcType=BIGINT} AS routes
            FROM DUAL
        </foreach>
    </insert>
</mapper>
