<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.gis.mapper.ShipAisMapper">
    <select id="getShipTrack" resultType="com.yy.ppm.gis.po.MAiaLocationPO">
        SELECT CHM NAME,MMSI,STATUS,ROT,TO_NUMBER(SOG) SPEED,TO_NUMBER(LON) LON,TO_NUMBER(LAT) LAT,COG DIRECTION,HEADING,
               UPDATE_TIME GPS_TIME
        FROM AISDATA_LSH_DHISP
        WHERE MMSI = #{mmsi}
        AND UPDATE_TIME &gt;= TO_DATE(#{startTime},'YYYY-MM-DD HH24:MI:SS')
        AND UPDATE_TIME &lt;= TO_DATE(#{endTime},'YYYY-MM-DD HH24:MI:SS')
        ORDER BY UPDATE_TIME DESC
    </select>
    <select id="getShipBaseInfo" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT
            MS.ID,
            MS.SHIP_NAME,
            MS.SHIP_NAME_EN,
            MS.SHORTHAND_CODE,
            MDD_SHIP_KIND.DICT_LABEL SHIP_KIND_LABEL,
            MDD_NATION.DICT_LABEL NATION_LABEL,
            MDD_SHIP_TYPE.DICT_LABEL SHIP_TYPE_LABEL,
            MS.IMO,
            MS.MMSI,
            MS.CALL_NO,
            MS.SHIP_LENGTH,
            MS.SHIP_WIDTH,
            MS.SHIP_HEIGHT,
            MS.SELF_WEIGHT,
            MS.NET_WEIGHT,
            MS.TOTAL_WEIGHT,
            MS.HATCH_NUM,
            MS.CABIN_LAYER_NUM,
            MS.DWT,
            MS.CABIN_VOLUME,
            MS.HATCH_SIZE,
            MS.MAX_SPEED,
            MS.SPEED,
            MS.MOULDED_DEPTH,
            MS.HANGER_NUM,
            MDD_CABIN_TYPE.DICT_LABEL CARBIN_LABEL,
            MDD_HANGER_LOAD.DICT_LABEL HANGER_LOAD_LABEL,
            MDD_HATCH_COVER_TYPE.DICT_LABEL MDD_HATCH_COVER_TYPE_LABEL,
            MDD_HANGER_LOCATION.DICT_LABEL MDD_HANGER_LOCATION_LABEL,
            MS.CAPTAIN_PHONE,
            MS.CAPTAIN_NAME,
            MS.BUILT_YM,
            MS.WATER_VOLUME,
            MS.SURPLUS_WATER_DEPTH,
            MS.FULL_LOAD_WATER,
            MS.EMPTY_LOAD_WATER,
            MS.HEADER_COCKPIT_DISTANCE
        FROM
            M_SHIP MS
                LEFT JOIN M_DICT_DATA MDD_SHIP_KIND ON ( MDD_SHIP_KIND.DICT_TYPE = 'SHIP_KIND' AND MDD_SHIP_KIND.STATUS = '1' AND MS.SHIP_KIND_CODE = MDD_SHIP_KIND.DICT_VALUE )
                LEFT JOIN M_DICT_DATA MDD_NATION ON ( MDD_NATION.DICT_TYPE = 'NATION' AND MDD_NATION.STATUS = '1' AND MS.NATION_CODE = MDD_NATION.DICT_VALUE )
                LEFT JOIN M_DICT_DATA MDD_SHIP_TYPE ON ( MDD_SHIP_TYPE.DICT_TYPE = 'SHIP_TYPE' AND MDD_SHIP_TYPE.STATUS = '1' AND MS.SHIP_TYPE_CODE = MDD_SHIP_TYPE.DICT_VALUE )
                LEFT JOIN M_DICT_DATA MDD_CABIN_TYPE ON ( MDD_CABIN_TYPE.DICT_TYPE = 'CABIN_TYPE' AND MDD_CABIN_TYPE.STATUS = '1' AND MS.CABIN_TYPE = MDD_CABIN_TYPE.DICT_VALUE )
                LEFT JOIN M_DICT_DATA MDD_HANGER_LOAD ON ( MDD_HANGER_LOAD.DICT_TYPE = 'HANGER_LOAD' AND MDD_HANGER_LOAD.STATUS = '1' AND MS.HANGER_LOAD = MDD_HANGER_LOAD.DICT_VALUE )
                LEFT JOIN M_DICT_DATA MDD_HATCH_COVER_TYPE ON ( MDD_HATCH_COVER_TYPE.DICT_TYPE = 'HATCH_COVER_TYPE' AND MDD_HATCH_COVER_TYPE.STATUS = '1' AND MS.HATCH_COVER_TYPE_CODE = MDD_HATCH_COVER_TYPE.DICT_VALUE )
                LEFT JOIN M_DICT_DATA MDD_HANGER_LOCATION ON ( MDD_HANGER_LOCATION.DICT_TYPE = 'HANGER_LOCATION' AND MDD_HANGER_LOCATION.STATUS = '1' AND MS.HANGER_LOCATION = MDD_HANGER_LOCATION.DICT_VALUE )
        WHERE MS.ID = #{id}
    </select>
    <select id="getShipPreComing" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT
            TDSI.ID,-- 主键ID
            TDSI.SHIPVOYAGE_ID,-- 船舶预报ID
            MDD_IN_OUT_TYPE.DICT_LABEL IMP_EXP_LABEL,-- 进出口(进口  出口)
            MDD_TRADE_TYPE.DICT_LABEL TRADE_TYPE_LABEL,-- 贸别,内贸、外贸
            TDSI.LOAD_UNLOAD,-- 装卸,装、卸
            TDSI.VOYAGE,-- 航次
            TDSI.COMPANY_NAME,-- 作业公司名称
            TDSI.CARGO_CATEGORY_NAME,-- 货种名称,多个逗号拼接
            TDSI.CARGO_NUM,-- 货量
            TDSI.CUSTOMER_NAME,-- 客户名称(船代)
            TDSI.CONTACTS,-- 联系人
            TDSI.SHIP_PHONE,-- 联系电话
            TDSI.PAYMENT_AMOUNT,-- 预缴金额
            TDSI.REMARK,-- 备注
            TDSI.SHIP_STATUS_NAME,-- 状态
            TDSI.WORK_START_TIME,-- 开工时间
            TDSI.WORK_END_TIME -- 完工时间
        FROM
            T_DIS_SHIPVOYAGE_ITEM TDSI
                JOIN M_DICT_DATA MDD_IN_OUT_TYPE ON
                    ( MDD_IN_OUT_TYPE.DICT_TYPE = 'IN_OUT_TYPE'
                          AND MDD_IN_OUT_TYPE.STATUS = '1'
                          AND TDSI.IMP_EXP = MDD_IN_OUT_TYPE.DICT_VALUE )
                JOIN M_DICT_DATA MDD_TRADE_TYPE ON
                    ( MDD_TRADE_TYPE.DICT_TYPE = 'TRADE_TYPE'
                          AND MDD_TRADE_TYPE.STATUS = '1'
                          AND TDSI.TRADE_TYPE = MDD_TRADE_TYPE.DICT_VALUE )
        WHERE TDSI.ID=#{id}
    </select>
</mapper>
