<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.MWeightRulesMapper">

    <sql id="commonList">
        SELECT
        ID,
        RULE_NAME,
        EMPTY_WEIGHT,
        HEAVY_WEIGHT,
        IS_DEFAULT,
        TRANSPORT_TYPE,
        CARGO_CODE,
        CARGO_NAME
        FROM
        M_WEIGHT_RULES
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="ruleName != null and ruleName != ''">
                and RULE_NAME = #{ruleName}
            </if>
            <if test="emptyWeight != null">
                and EMPTY_WEIGHT = #{emptyWeight}
            </if>
            <if test="heavyWeight != null">
                and HEAVY_WEIGHT = #{heavyWeight}
            </if>
            <if test="isDefault != null">
                and IS_DEFAULT = #{isDefault}
            </if>
            <if test="transportType != null">
                and TRANSPORT_TYPE = #{transportType}
            </if>
            <if test="cargoCode != null and cargoCode != ''">
                and CARGO_CODE = #{cargoCode}
            </if>
            <if test="cargoName != null and cargoName != ''">
                and CARGO_NAME = #{cargoName}
            </if>
        </where>
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.produce.bean.dto.MWeightRulesDTO"
            parameterType="com.yy.ppm.produce.bean.dto.MWeightRulesSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.produce.bean.dto.MWeightRulesDTO"
            parameterType="com.yy.ppm.produce.bean.dto.MWeightRulesSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.produce.bean.dto.MWeightRulesDTO" parameterType="java.lang.Long">
        SELECT
        ID, RULE_NAME, EMPTY_WEIGHT, HEAVY_WEIGHT, IS_DEFAULT, TRANSPORT_TYPE, CARGO_CODE, CARGO_NAME FROM
        M_WEIGHT_RULES
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getAllList" resultType="com.yy.ppm.produce.bean.dto.MWeightRulesDTO">
        SELECT
        ID,
        RULE_NAME,
        EMPTY_WEIGHT,
        HEAVY_WEIGHT,
        IS_DEFAULT,
        TRANSPORT_TYPE,
        CARGO_CODE,
        CARGO_NAME
        FROM
        M_WEIGHT_RULES
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.produce.bean.dto.MWeightRulesDTO">
        INSERT INTO M_WEIGHT_RULES(
                    ID,
                    RULE_NAME,
                    EMPTY_WEIGHT,
                    HEAVY_WEIGHT,
                    IS_DEFAULT,
                    TRANSPORT_TYPE,
                    CARGO_CODE,
                    CARGO_NAME,
                    CREATE_BY,
                    CREATE_BY_NAME,
                    CREATE_TIME
            )VALUES (
                    #{id,jdbcType=BIGINT},
                    #{ruleName, jdbcType=VARCHAR},
                    #{emptyWeight, jdbcType=DECIMAL},
                    #{heavyWeight, jdbcType=DECIMAL},
                    #{isDefault, jdbcType=VARCHAR},
                    #{transportType, jdbcType=VARCHAR},
                    #{cargoCode, jdbcType=VARCHAR},
                    #{cargoName, jdbcType=VARCHAR},
                    #{loginUserId, jdbcType=BIGINT},
                    #{loginUserName, jdbcType=VARCHAR},
                    #{now}
            )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.produce.bean.dto.MWeightRulesDTO">
        UPDATE
        M_WEIGHT_RULES
        SET
        RULE_NAME = #{ruleName,jdbcType=VARCHAR},
        EMPTY_WEIGHT = #{emptyWeight,jdbcType=DECIMAL},
        HEAVY_WEIGHT = #{heavyWeight,jdbcType=DECIMAL},
        IS_DEFAULT = #{isDefault,jdbcType=VARCHAR},
        TRANSPORT_TYPE = #{transportType,jdbcType=VARCHAR},
        CARGO_CODE = #{cargoCode,jdbcType=VARCHAR},
        CARGO_NAME = #{cargoName,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            M_WEIGHT_RULES
        WHERE
            id = #{id}
    </delete>
</mapper>

