<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPoundMapper">

    <!-- 根据磅单号查询数据 -->
    <select id="getWeighByUnionNo" resultType="com.yy.ppm.produce.bean.po.TPoundPO" parameterType="java.lang.String">
        SELECT
            T1.NOTE_ID,
            T1.UNION_NO,
            T1.WEIGH_IN_DT,
            T1.CHECKER_IN_NAME,
            T1.WEIGH_OUT_DT,
            T1.CHECKER_OUT_NAME,
            T1.INV_NO,
            T1.PLAN_NO,
            T1.GOODS_NAME,
            T1.GOODS_DES,
            T1.TRUCK_PLATE,
            T1.WEIGH_NUMBERYPE,
            T1.WEIGH_OUTTYPE,
            T1.WEIGHT_SELF*1000 as "weighSelf",
            T1.WEIGHT_ALL*1000 as "weighAll",
            T1.WEIGHT_GOODS*1000 as "weighGoods",
            T1.COM_NAME,
            T1.COM_NO,
            T1.IS_DELETE,
            T1.IS_FINISHED,
            T1.INV_REM,
            T1.CON_UNIT,
            T1.REC_UNIT,
            T1.AGENT_NAME,
            T1.TSPT_ID,
            T1.WORK_ERWEI_ID,
            T1.ID_NUMBER,
            T1.IN_BANG_NO,
            T1.OUT_BANG_NO,
            T1.PORT_CODE,
            T1.SCN,
            CASE
            WHEN T2.TALLY_STATUS = 9 THEN
            'KA08'
            WHEN T1.TRADE_TYP = '内贸' THEN
            'MY01'
            WHEN T1.TRADE_TYP = '外贸' THEN
            'MY02' ELSE ''
            END TRADE_TYPE
        FROM
            WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND T1
            LEFT JOIN T_YARD_TALLY T2 ON T1.NOTE_ID = T2.WEIGHBRIDGE_ID AND T2.DEL_FLAG = 0
        <where>
            T1.UNION_NO = #{unionNo}
        </where>
    </select>
    
    <select id="getWeighByCondition" resultType="com.yy.ppm.produce.bean.po.TPoundPO">
        SELECT
	        *
        FROM
            (
	        SELECT
	            T1.NOTE_ID,
	            T1.UNION_NO,
	            T1.WEIGH_IN_DT,
	            T1.CHECKER_IN_NAME,
	            T1.WEIGH_OUT_DT,
	            T1.CHECKER_OUT_NAME,
	            T1.INV_NO,
	            T1.PLAN_NO,
	            T1.GOODS_NAME,
	            T1.GOODS_DES,
	            T1.TRUCK_PLATE,
	            T1.WEIGH_NUMBERYPE,
	            T1.WEIGH_OUTTYPE,
	            T1.WEIGHT_SELF*1000 as "weighSelf",
	            T1.WEIGHT_ALL*1000 as "weighAll",
	            T1.WEIGHT_GOODS*1000 as "weighGoods",
	            T1.COM_NAME,
	            T1.COM_NO,
	            T1.IS_DELETE,
	            T1.IS_FINISHED,
	            T1.INV_REM,
	            T1.CON_UNIT,
	            T1.REC_UNIT,
	            T1.AGENT_NAME,
	            T1.TSPT_ID,
	            T1.WORK_ERWEI_ID,
	            T1.ID_NUMBER,
	            T1.IN_BANG_NO,
	            T1.OUT_BANG_NO,
	            T1.PORT_CODE,
	            T1.SCN,
	            CASE
	            WHEN T1.TRADE_TYP = '内贸' THEN
	            'MY01'
	            WHEN T1.TRADE_TYP = '外贸' THEN
	            'MY02' ELSE ''
	            END TRADE_TYPE
	        FROM
	            WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND T1
	        <where>
	            T1.PLAN_NO = #{informno} AND T1.TRUCK_PLATE = #{truckno} AND '02' = T1.PORT_CODE
	        </where>
	        ORDER BY T1.WEIGH_IN_DT DESC 
        WHERE
            ROWNUM = 1
    </select>
    
    <select id="getEnterPortCount" resultType="java.lang.Integer">
        SELECT COUNT(NOTE_ID) COUNT FROM V_WEIGHT_INFO
        <where>
            <if test="taskNo!=null">
                TSPT_ID = #{taskNo}
            </if>
        </where>
    </select>

    <insert id="addLog" parameterType="java.util.HashMap">
        INSERT INTO T_FTD_LOG(
            LOG_TYPE,
            TITLE,
            CONTENT,
            ERR_MSG
        )VALUES (
            #{logType, jdbcType=VARCHAR},
            #{title, jdbcType=VARCHAR},
            #{content, jdbcType=VARCHAR},
            #{errMsg, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertCustomsLog" parameterType="com.yy.ppm.produce.bean.po.CustomsLog">
        INSERT INTO WFG_GCTOS_POUND.CUSTOMS_LOG(
            SEQ_NO,
			POUND_NO,
			SEND_TEXT,	
			RECEIVE_TEXT,
			REC_TIM,	
			UPD_TIM,
			GATE_NO,
			RELEASE,
			REASON,	
			IO_FLAG
        )VALUES (
            #{seqNo},
			#{poundNo},
			#{sendText},	
			#{receiveText},
			#{recTim},	
			#{updTim},
			#{gateNo},
			#{release},
			#{reason},
			#{ioFlag}
        )
    </insert>
    
    <select id="getCustomsLogBySeqNo" resultType="com.yy.ppm.produce.bean.po.CustomsLog">
    	SELECT * FROM WFG_GCTOS_POUND.CUSTOMS_LOG WHERE SEQ_NO = #{seqNo}
    </select>
    
    <select id="getCustomsLogByPoundNoAndGateNo" resultType="com.yy.ppm.produce.bean.po.CustomsLog">
        SELECT
	        *
        FROM
            (
    			SELECT * FROM WFG_GCTOS_POUND.CUSTOMS_LOG WHERE POUND_NO = #{poundNo} AND GATE_NO = #{gateNo} AND RELEASE = 'Y'
    			<if test="seqNo != null and seqNo != ''">
    				AND SEQ_NO = #{seqNo} 
    			</if>
    			ORDER BY REC_TIM DESC
            )
        WHERE
            ROWNUM = 1
    </select>
    
    <select id="grGateIfPass" resultType="com.yy.ppm.produce.bean.po.CustomsLog">
        SELECT
	        *
        FROM
            (
    			SELECT * FROM WFG_GCTOS_POUND.CUSTOMS_LOG WHERE GATE_NO = #{gateNo} AND IO_FLAG = #{state} 
    			ORDER BY UPD_TIM DESC
            )
        WHERE
            ROWNUM = 1
    </select>
    
    <select id="getTBusVehicleTransferPOList" resultType="com.yy.ppm.business.bean.po.TBusVehicleTransferPO">
		SELECT
			A .*
		FROM
			T_BUS_VEHICLE_TRANSFER A,
			T_BUS_TRUST_CARGO b
		WHERE
			A .TRUST_CARGO_ID = b. ID
		AND b.BUSINESS_NO = #{informno}
		AND A .EQUIPMENT_NO = #{truckno}
		AND A .STATUS = '1'
    </select>
    
    <select id="getBusVehicleReservation" resultType="com.yy.ppm.business.bean.po.TBusVehicleReservationPO">
	    SELECT
			*
		FROM
			T_BUS_VEHICLE_RESERVATION
		WHERE
			PLAN_NO = #{informno}
		AND VEHICLE_NO = #{truckno}
		AND STATUS = '0'
		AND ROWNUM = 1
    </select>
    
    <select id="getYardTallyByTruckNo" resultType="com.yy.ppm.appWork.bean.po.TYardTallyPO">
        SELECT
	        *
        FROM
            (
    			SELECT
					A .*
				FROM
					T_YARD_TALLY A,
					T_YARD_TALLY_ITEM B,
					T_BUS_TRUST_CARGO D
				WHERE
					A .TRANSPORT_EQUIPMENT_NO = #{truckno}
				AND A . ID = B.TALLY_ID
				AND B.CARGO_INFO_ID = D .CARGO_INFO_ID
				AND D .BUSINESS_NO = #{informno}
				AND A .DEL_FLAG = 0
				ORDER BY
					A .CREATE_TIME DESC
            )
        WHERE
            ROWNUM = 1
    </select>
    <select id="getTallyByUnionId" resultType="com.yy.ppm.produce.bean.dto.workTicket.PoundToPortStorageDTO" parameterType="java.lang.String">
        SELECT
        tyt.ID "tallyId",
        tyt.PLAN_ID,
        tyt.PROCESS_CODE,
        tyt.PROCESS_NAME,
        tyt.TRANSPORT_EQUIPMENT_ID,
        tyt.TRANSPORT_EQUIPMENT_NO,
        tyt.PLAN_ID,
        tyt.WEIGHBRIDGE_ID,
        tyt.PLAN_NO,
        tyt.TALLY_STATUS,
        tyt.DEL_FLAG,
        tyti.ID TALLY_ITEM_ID,
        tyti.CARGO_INFO_ID,
        tyti.CARGO_CODE,
        tyti.CARGO_NAME,
        tyti.QUANTITY,
        wrp.WEIGHT_GOODS TON,
        tyti.LOCATION_ID,
        tyti.LOCATION_NO,
        tyti.STACK_POSITION_NAME,
        tyti.TRUST_CARGO_INFO_ID,
        MWP.SOURCE_CD "sourceCd",
        MWP.SOURCE_NM "sourceNm",
        MWP.TARGET_CD "targetCd",
        MWP.TARGET_NM "targetNm",
        msy3.ID STOREHOUSE_ID,
        msy3.SHORT_CD STOREHOUSE_NAME,
        msy2.ID REGION_ID,
        msy2.SHORT_CD REGION_NAME,
        msy1.ID MASS_ID,
        msy1.SHORT_CD MASS_NAME,
        tyti.SOURCE_OR_TARGET_FLAG,
        TPWP.CLASS_CODE ,
        TPWP.CLASS_NAME ,
        TPWP.WORK_DATE
        FROM
        T_YARD_TALLY tyt
        INNER JOIN T_YARD_TALLY_ITEM tyti ON
        tyt.id = tyti.tally_id
        INNER JOIN WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp ON
        tyt.WEIGHBRIDGE_ID = WRP.NOTE_ID
        LEFT JOIN M_WORK_PROCESS mwp ON
        MWP.PROCESS_CD = TYT.PROCESS_CODE
        LEFT JOIN M_STORAGE_YARD msy1 ON
        tyti.STACK_POSITION_NAME = msy1.STORAGE_YARD_NM
        LEFT JOIN M_STORAGE_YARD msy2 ON
        msy1.PARENT_ID = msy2.ID
        LEFT JOIN M_STORAGE_YARD msy3 ON
        msy2.PARENT_ID = msy3.ID
        LEFT JOIN T_PRD_WORK_PLAN tpwp ON TPWP.ID = TYT.PLAN_ID
        <where>
            tyt.WEIGHBRIDGE_ID IS NOT NULL
            AND tyt.REMARK = '车载'
            AND tyt.DEL_FLAG = '0'
            <if test="noteId!=null">
                AND tyt.WEIGHBRIDGE_ID = #{noteId}
            </if>
        </where>
    </select>
<!--    <select id="getTallyByUnionIds" resultType="com.yy.ppm.produce.bean.dto.workTicket.PoundToPortStorageDTO" parameterType="java.lang.String">-->
<!--        SELECT-->
<!--        tyt.ID "tallyId",-->
<!--        tyt.PLAN_ID,-->
<!--        tyt.PROCESS_CODE,-->
<!--        tyt.PROCESS_NAME,-->
<!--        tyt.TRANSPORT_EQUIPMENT_ID,-->
<!--        tyt.TRANSPORT_EQUIPMENT_NO,-->
<!--        tyt.PLAN_ID,-->
<!--        tyt.WEIGHBRIDGE_ID,-->
<!--        tyt.PLAN_NO,-->
<!--        tyt.TALLY_STATUS,-->
<!--        tyt.DEL_FLAG,-->
<!--        tyti.ID TALLY_ITEM_ID,-->
<!--        tyti.CARGO_INFO_ID,-->
<!--        tyti.CARGO_CODE,-->
<!--        tyti.CARGO_NAME,-->
<!--        tyti.QUANTITY,-->
<!--        wrp.WEIGHT_GOODS TON,-->
<!--        tyti.LOCATION_ID,-->
<!--        tyti.LOCATION_NO,-->
<!--        tyti.STACK_POSITION_NAME,-->
<!--        tyti.TRUST_CARGO_INFO_ID,-->
<!--        MWP.SOURCE_CD "sourceCd",-->
<!--        MWP.SOURCE_NM "sourceNm",-->
<!--        MWP.TARGET_CD "targetCd",-->
<!--        MWP.TARGET_NM "targetNm",-->
<!--        msy3.ID STOREHOUSE_ID,-->
<!--        msy3.SHORT_CD STOREHOUSE_NAME,-->
<!--        msy2.ID REGION_ID,-->
<!--        msy2.SHORT_CD REGION_NAME,-->
<!--        msy1.ID MASS_ID,-->
<!--        msy1.SHORT_CD MASS_NAME,-->
<!--        tyti.SOURCE_OR_TARGET_FLAG,-->
<!--        TPWP.CLASS_CODE ,-->
<!--        TPWP.CLASS_NAME ,-->
<!--        TPWP.WORK_DATE,-->
<!--        tppsd.ID PORT_STORAGE_DETAIL_ID-->
<!--        FROM-->
<!--        T_YARD_TALLY tyt-->
<!--        INNER JOIN T_YARD_TALLY_ITEM tyti ON-->
<!--        tyt.id = tyti.tally_id-->
<!--        INNER JOIN WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp ON-->
<!--        tyt.WEIGHBRIDGE_ID = WRP.NOTE_ID-->
<!--        LEFT JOIN M_WORK_PROCESS mwp ON-->
<!--        MWP.PROCESS_CD = TYT.PROCESS_CODE-->
<!--        LEFT JOIN M_STORAGE_YARD msy1 ON-->
<!--        tyti.STACK_POSITION_NAME = msy1.STORAGE_YARD_NM-->
<!--        LEFT JOIN M_STORAGE_YARD msy2 ON-->
<!--        msy1.PARENT_ID = msy2.ID-->
<!--        LEFT JOIN M_STORAGE_YARD msy3 ON-->
<!--        msy2.PARENT_ID = msy3.ID-->
<!--        LEFT JOIN T_PRD_WORK_PLAN tpwp ON TPWP.ID = TYT.PLAN_ID-->
<!--        LEFT JOIN T_PRD_PORT_STORAGE_DETAIL tppsd ON tyt.ID = tppsd.CARGO_TALLY_ID-->
<!--        <where>-->
<!--            tyt.WEIGHBRIDGE_ID IS NOT NULL-->
<!--            AND tyt.REMARK = '车载'-->
<!--            AND tyt.DEL_FLAG = '0'-->
<!--            <if test="noteId!=null">-->
<!--                AND tyt.WEIGHBRIDGE_ID = #{noteId}-->
<!--            </if>-->
<!--            <if test="startDate!=null">-->
<!--                TO_CHAR(T1.WEIGH_IN_DT,'YYYY-MM-DD hh24:mi:ss') >= #{startDate}-->
<!--            </if>-->
<!--            <if test="endDate!=null">-->
<!--                AND TO_CHAR(T1.WEIGH_OUT_DT,'YYYY-MM-DD hh24:mi:ss') &lt;= #{endDate}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
    <select id="getWeighByDate" resultType="com.yy.ppm.produce.bean.po.TPoundPO">
        SELECT
        T1.NOTE_ID,
        T1.UNION_NO,
        T1.WEIGH_IN_DT,
        T1.CHECKER_IN_NAME,
        T1.WEIGH_OUT_DT,
        T1.CHECKER_OUT_NAME,
        T1.INV_NO,
        T1.PLAN_NO,
        T1.GOODS_NAME,
        T1.GOODS_DES,
        T1.TRUCK_PLATE,
        T1.WEIGH_NUMBERYPE,
        T1.WEIGH_OUTTYPE,
        T1.WEIGHT_SELF*1000 as "weighSelf",
        T1.WEIGHT_ALL*1000 as "weighAll",
        T1.WEIGHT_GOODS*1000 as "weighGoods",
        T1.COM_NAME,
        T1.COM_NO,
        T1.IS_DELETE,
        T1.IS_FINISHED,
        T1.INV_REM,
        T1.CON_UNIT,
        T1.REC_UNIT,
        T1.AGENT_NAME,
        T1.TSPT_ID,
        T1.WORK_ERWEI_ID,
        T1.ID_NUMBER,
        T1.IN_BANG_NO,
        T1.OUT_BANG_NO,
        T1.PORT_CODE,
        T1.SCN,
        CASE
        WHEN T2.TALLY_STATUS = 9 THEN
        'KA08'
        WHEN T1.TRADE_TYP = '内贸' THEN
        'MY01'
        WHEN T1.TRADE_TYP = '外贸' THEN
        'MY02' ELSE ''
        END TRADE_TYPE
        FROM
        WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND T1
        LEFT JOIN T_YARD_TALLY T2 ON T1.NOTE_ID = T2.WEIGHBRIDGE_ID AND T2.DEL_FLAG = 0
        <where>
            <if test="startDate!=null">
                TO_CHAR(T1.WEIGH_IN_DT,'YYYY-MM-DD hh24:mi:ss') >= #{startDate}
            </if>
            <if test="endDate!=null">
                AND TO_CHAR(T1.WEIGH_OUT_DT,'YYYY-MM-DD hh24:mi:ss') &lt;= #{endDate}
            </if>
        </where>
    </select>
    <select id="getDetailTallyById" resultType="com.yy.ppm.produce.bean.po.TPrdPortStorageDetailPO" parameterType="java.lang.Long">
        SELECT * FROM T_PRD_PORT_STORAGE_DETAIL tppsd WHERE CARGO_TALLY_DETAIL_ID = #{cargoTallyDetailId}
    </select>
    <select id="getTallyByParams" resultType="com.yy.ppm.produce.bean.dto.workTicket.PoundToPortStorageDTO" parameterType="java.util.Map">
        SELECT
        tyt.ID "tallyId",
        tyt.PLAN_ID,
        tyt.PROCESS_CODE,
        tyt.PROCESS_NAME,
        tyt.TRANSPORT_EQUIPMENT_ID,
        tyt.TRANSPORT_EQUIPMENT_NO,
        tyt.WEIGHBRIDGE_ID,
        tyt.PLAN_NO,
        tyt.TALLY_STATUS,
        tyt.DEL_FLAG,
        tyti.ID TALLY_ITEM_ID,
        tyti.CARGO_INFO_ID,
        tyti.CARGO_CODE,
        tyti.CARGO_NAME,
        tyti.QUANTITY,
        wrp.WEIGHT_GOODS TON,
        tyti.LOCATION_ID,
        tyti.LOCATION_NO,
        tyti.STACK_POSITION_NAME,
        tyti.TRUST_CARGO_INFO_ID,
        MWP.SOURCE_CD "sourceCd",
        MWP.SOURCE_NM "sourceNm",
        MWP.TARGET_CD "targetCd",
        MWP.TARGET_NM "targetNm",
        msy3.ID STOREHOUSE_ID,
        msy3.STORAGE_YARD_NM STOREHOUSE_NAME,
        msy2.ID REGION_ID,
        msy2.SHORT_CD REGION_NAME,
        msy1.ID MASS_ID,
        msy1.STORAGE_YARD_NM MASS_NAME,
        TPWP.CLASS_CODE ,
        TPWP.CLASS_NAME ,
        TPWP.WORK_DATE,
        tppsd.ID PORT_STORAGE_DETAIL_ID,
        wrp.WEIGH_IN_DT,
        wrp.WEIGH_OUT_DT,
        tyti.SOURCE_OR_TARGET_FLAG,
        TPWP.COMPANY_ID ,
        TPWP.COMPANY_NAME ,
        tbt.TRUST_NO ,
        TPWP.TRUST_ID
        FROM
        T_YARD_TALLY tyt
        LEFT JOIN T_YARD_TALLY_ITEM tyti ON tyt.id = tyti.tally_id
        INNER JOIN WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp ON tyt.WEIGHBRIDGE_ID = WRP.NOTE_ID
        LEFT JOIN M_WORK_PROCESS mwp ON MWP.PROCESS_CD = TYT.PROCESS_CODE
        LEFT JOIN M_STORAGE_YARD msy1 ON tyti.STACK_POSITION_ID = msy1.id
        LEFT JOIN M_STORAGE_YARD msy2 ON msy1.PARENT_ID = msy2.ID
        LEFT JOIN M_STORAGE_YARD msy3 ON msy2.PARENT_ID = msy3.ID
        LEFT JOIN T_PRD_WORK_PLAN tpwp ON TPWP.ID = TYT.PLAN_ID
        LEFT JOIN T_PRD_PORT_STORAGE_DETAIL tppsd ON tyt.ID = tppsd.CARGO_TALLY_ID
        LEFT JOIN T_BUS_TRUST tbt ON tpwp.TRUST_ID = TBT.ID
        <where>
            tyt.WEIGHBRIDGE_ID IS NOT NULL AND tppsd.ID IS NULL
            AND tyt.REMARK = '车载'
            AND tyt.DEL_FLAG = '0'
            <if test="noteId!=null">
                AND tyt.WEIGHBRIDGE_ID = #{noteId}
            </if>
            <if test="startDate!=null">
                AND TO_CHAR(wrp.WEIGH_OUT_DT,'YYYY-MM-DD hh24:mi:ss') >= #{startDate}
            </if>
            <if test="endDate!=null">
                AND TO_CHAR(wrp.WEIGH_OUT_DT,'YYYY-MM-DD hh24:mi:ss') &lt;= #{endDate}
            </if>
        </where>
        ORDER BY wrp.WEIGH_IN_DT
    </select>
<!--    AND TO_CHAR(wrp.WEIGH_IN_DT,'YYYY-MM-DD hh24:mi:ss') BETWEEN '2024-08-01 00:00:00.000' AND '2024-08-05 00:00:00.000'-->
    <!--    tyt.WEIGHBRIDGE_ID = '1075225'-->
    <update id="updateStatus">
        UPDATE
         T_BUS_VEHICLE_RESERVATION
        SET
            ACTIVATION_STATE = '0'
        where
            TASK_NO = #{taskNo} and ACTIVATION_STATE = '1'
    </update>

    <update id="updateSundryStatus">
        UPDATE
            T_WEIGHT_PLAN_ITEM
        SET
            ACTIVATION_STATE = '0'
        where
            TRUCK_NO = #{truckPlate} and ACTIVATION_STATE = '1'
    </update>
</mapper>