<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdUpdatePortStorageMapper">
    <select id="getTallyByParams" resultType="com.yy.ppm.produce.bean.dto.workTicket.PoundToPortStorageDTO"
            parameterType="com.yy.ppm.business.bean.dto.TPrdUpdatePortStorageReqDTO">
        SELECT
        tyt.ID "tallyId",
        tyt.PLAN_ID,
        tyt.PROCESS_CODE,
        tyt.PROCESS_NAME,
        tyt.TRANSPORT_EQUIPMENT_ID,
        tyt.TRANSPORT_EQUIPMENT_NO,
        tyt.WEIGHBRIDGE_ID,
        tyt.PLAN_NO,
        tyt.TALLY_STATUS,
        tyt.DEL_FLAG,
        tyti.ID TALLY_ITEM_ID,
        tyti.CARGO_INFO_ID,
        tyti.CARGO_CODE,
        tyti.CARGO_NAME,
        tyti.QUANTITY,
        wrp.WEIGHT_GOODS TON,
        tyti.LOCATION_ID,
        tyti.LOCATION_NO,
        tyti.STACK_POSITION_NAME,
        tyti.TRUST_CARGO_INFO_ID,
        MWP.SOURCE_CD "sourceCd",
        MWP.SOURCE_NM "sourceNm",
        MWP.TARGET_CD "targetCd",
        MWP.TARGET_NM "targetNm",
        msy3.ID STOREHOUSE_ID,
        msy3.SHORT_CD STOREHOUSE_NAME,
        msy2.ID REGION_ID,
        msy2.SHORT_CD REGION_NAME,
        msy1.ID MASS_ID,
        msy1.STORAGE_YARD_NM MASS_NAME,
        TPWP.CLASS_CODE ,
        TPWP.CLASS_NAME ,
        TPWP.WORK_DATE,
        tppsd.ID PORT_STORAGE_DETAIL_ID,
        wrp.WEIGH_IN_DT,
        wrp.WEIGH_OUT_DT,
        wrp.UNION_NO,
        tyti.SOURCE_OR_TARGET_FLAG,
        tpwp.COMPANY_ID ,
        tpwp.COMPANY_NAME ,
        tbt.TRUST_NO ,
        tpwp.TRUST_ID
        FROM
        T_YARD_TALLY tyt
        LEFT JOIN T_YARD_TALLY_ITEM tyti ON tyt.id = tyti.tally_id
        INNER JOIN WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp ON tyt.WEIGHBRIDGE_ID = WRP.NOTE_ID
        LEFT JOIN M_WORK_PROCESS mwp ON MWP.PROCESS_CD = TYT.PROCESS_CODE
        LEFT JOIN M_STORAGE_YARD msy1 ON tyti.STACK_POSITION_ID = msy1.id
        LEFT JOIN M_STORAGE_YARD msy2 ON msy1.PARENT_ID = msy2.ID
        LEFT JOIN M_STORAGE_YARD msy3 ON msy2.PARENT_ID = msy3.ID
        LEFT JOIN T_PRD_WORK_PLAN tpwp ON TPWP.ID = TYT.PLAN_ID
        LEFT JOIN T_PRD_PORT_STORAGE_DETAIL tppsd ON tyt.ID = tppsd.CARGO_TALLY_ID
        LEFT JOIN T_BUS_TRUST tbt ON TPWP.TRUST_ID = TBT.ID
        <where>
            tyt.WEIGHBRIDGE_ID IS NOT NULL
            AND tyt.REMARK = '车载'
            AND tyt.DEL_FLAG = '0'
            <if test="status !=null and status !=''">
                <if test="status == 1">
                    AND tppsd.ID IS NOT NULL
                </if>
                <if test="status == 0">
                    AND tppsd.ID IS NULL
                </if>
            </if>
            <if test="unionNo !=null and unionNo !=''">
                <bind name="unionNoLike" value="'%'+unionNo+'%'"/>
                and wrp.UNION_NO like #{unionNoLike}
            </if>
            <if test="startDate!=null">
                AND TO_CHAR(wrp.WEIGH_IN_DT,'YYYY-MM-DD hh24:mi:ss') >= #{startDate}
            </if>
            <if test="endDate!=null">
                AND TO_CHAR(wrp.WEIGH_OUT_DT,'YYYY-MM-DD hh24:mi:ss') &lt;= #{endDate}
            </if>
        </where>
        ORDER BY wrp.WEIGH_IN_DT DESC
    </select>

    <!--  获取没有更新港存的信息  -->
    <select id="getUpdatePortStoragePage" resultType="com.yy.ppm.produce.bean.dto.workTicket.PoundToPortStorageDTO"
            parameterType="com.yy.ppm.business.bean.dto.TPrdUpdatePortStorageReqDTO">
        SELECT
            tyt.ID "tallyId",
            tyt.PLAN_ID,
            tyt.PROCESS_CODE,
            tyt.PROCESS_NAME,
            tyt.TRANSPORT_EQUIPMENT_ID,
            tyt.TRANSPORT_EQUIPMENT_NO,
            tyt.WEIGHBRIDGE_ID,
            tyt.PLAN_NO,
            tyt.TALLY_STATUS,
            tyt.DEL_FLAG,
            tyti.ID TALLY_ITEM_ID,
            tyti.CARGO_INFO_ID,
            tyti.CARGO_CODE,
            tyti.CARGO_NAME,
            tyti.QUANTITY,
            wrp.WEIGHT_GOODS TON,
            tyti.LOCATION_ID,
            tyti.LOCATION_NO,
            tyti.STACK_POSITION_NAME,
            tyti.TRUST_CARGO_INFO_ID,
            MWP.SOURCE_CD "sourceCd",
            MWP.SOURCE_NM "sourceNm",
            MWP.TARGET_CD "targetCd",
            MWP.TARGET_NM "targetNm",
            msy3.ID STOREHOUSE_ID,
            msy3.SHORT_CD STOREHOUSE_NAME,
            msy2.ID REGION_ID,
            msy2.SHORT_CD REGION_NAME,
            msy1.ID MASS_ID,
            msy1.STORAGE_YARD_NM MASS_NAME,
            TPWP.CLASS_CODE ,
            TPWP.CLASS_NAME ,
            TPWP.WORK_DATE,
            tppsd.ID PORT_STORAGE_DETAIL_ID,
            wrp.WEIGH_IN_DT,
            wrp.WEIGH_OUT_DT,
            wrp.UNION_NO,
            tyti.SOURCE_OR_TARGET_FLAG,
            tpwp.COMPANY_ID ,
            tpwp.COMPANY_NAME ,
            tbt.TRUST_NO ,
            tpwp.TRUST_ID,
            wrp.TRUCK_PLATE,
            TBCI.CARGO_INFO_NO
        FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp
                 INNER JOIN T_YARD_TALLY tyt ON tyt.WEIGHBRIDGE_ID = WRP.NOTE_ID
                 LEFT JOIN T_YARD_TALLY_ITEM tyti ON TYT.id = TYTI.TALLY_ID
                 LEFT JOIN T_PRD_PORT_STORAGE_DETAIL tppsd ON TPPSD.CARGO_TALLY_DETAIL_ID = TYTI.ID
                 LEFT JOIN T_PRD_WORK_PLAN tpwp ON TPWP.id = tyt.PLAN_ID
                 LEFT JOIN T_BUS_TRUST tbt ON TPWP.TRUST_ID = TBT.ID
                 LEFT JOIN M_WORK_PROCESS mwp ON MWP.PROCESS_CD = TYT.PROCESS_CODE
                 LEFT JOIN M_STORAGE_YARD msy1 ON tyti.STACK_POSITION_ID = msy1.id
                 LEFT JOIN M_STORAGE_YARD msy2 ON msy1.PARENT_ID = msy2.ID
                 LEFT JOIN M_STORAGE_YARD msy3 ON msy2.PARENT_ID = msy3.ID
                 LEFT JOIN T_BUS_CARGO_INFO tbci ON tbci.id = tppsd.CARGO_INFO_ID
        <where>
            tyt.WEIGHBRIDGE_ID IS NOT NULL
            AND tyt.CREATE_TIME >=to_date('2024-10-01 00:00:00','yyyy-MM-dd hh24:mi:ss')
            AND tyt.REMARK = '车载'
            AND tyt.DEL_FLAG = '0'
            <if test="status !=null and status !=''">
                <if test="status == 1">
                    AND tppsd.ID IS NOT NULL
                </if>
                <if test="status == 0">
                    AND tppsd.ID IS NULL
                </if>
            </if>
            <if test="unionNo !=null and unionNo !=''">
                <bind name="unionNoLike" value="'%'+unionNo+'%'"/>
                and wrp.UNION_NO like #{unionNoLike}
            </if>
            <if test="startDate!=null">
                AND TO_CHAR(tpwp.WORK_DATE,'YYYY-MM-DD hh24:mi:ss') >= #{startDate}
            </if>
            <if test="endDate!=null">
                AND TO_CHAR(tpwp.WORK_DATE,'YYYY-MM-DD hh24:mi:ss') &lt;= #{endDate}
            </if>
            <if test="cargoName!=null">
                <bind name="cargoNameLike" value="'%'+cargoName+'%'"/>
                AND tyti.CARGO_NAME like #{cargoNameLike}
            </if>
            <if test="truckPlate!=null">
                <bind name="truckPlate" value="'%'+truckPlate+'%'"/>
                AND wrp.TRUCK_PLATE like #{truckPlate}
            </if>
            <if test="cargoInfoNo!=null">
                AND TBCI.CARGO_INFO_NO = #{cargoInfoNo}
            </if>
        </where>
        ORDER BY wrp.WEIGH_IN_DT DESC
    </select>

<!--    <select id="getNotUpdatePortStoragePage">-->
<!--        SELECT tpwp.WORK_DATE,tpwp.CLASS_NAME,tyt.PROCESS_NAME,tyti.CARGO_NAME,tpwp.PLAN_NO,wrp.UNION_NO,WRP.WEIGH_IN_DT,WRP.WEIGH_OUT_DT FROM T_YARD_TALLY_ITEM tyti-->
<!--        LEFT JOIN T_YARD_TALLY tyt ON TYT.ID = TYTI.TALLY_ID-->
<!--        LEFT JOIN WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp ON WRP.NOTE_ID = tyt.WEIGHBRIDGE_ID-->
<!--        LEFT JOIN T_PRD_WORK_PLAN tpwp ON TYT.PLAN_ID = TPWP.ID-->
<!--        WHERE TYT.WEIGHBRIDGE_ID IN (-->
<!--            SELECT wrp.NOTE_ID  FROM T_YARD_TALLY_ITEM tyti-->
<!--            LEFT JOIN T_YARD_TALLY tyt ON TYT.ID = TYTI.TALLY_ID-->
<!--            LEFT JOIN WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp ON WRP.NOTE_ID = tyt.WEIGHBRIDGE_ID-->
<!--            WHERE-->
<!--                TO_CHAR(tyt.CREATE_TIME,'YYYY-MM-DD')  BETWEEN '2024-08-29' AND '2024-08-30'-->
<!--                AND TYTI.CARGO_NAME LIKE '%铝矾土%'-->
<!--                AND tyt.PROCESS_CODE IN (10120001,10130001,10470001,10250009,10220001)-->
<!--                AND wrp.NOTE_ID NOT IN (-->
<!--                    SELECT wrp.NOTE_ID  FROM T_PRD_PORT_STORAGE_DETAIL tppsd-->
<!--                    LEFT JOIN T_BUS_CARGO_INFO tbci ON TPPSD.CARGO_INFO_ID = TBCI.ID-->
<!--                    LEFT JOIN T_YARD_TALLY tyt ON tyt.id = TPPSD.CARGO_TALLY_ID-->
<!--                    LEFT JOIN WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp ON WRP.NOTE_ID = tyt.WEIGHBRIDGE_ID-->
<!--                    LEFT JOIN T_YARD_TALLY_ITEM tyti ON TYT.ID = TYTI.TALLY_ID-->
<!--                    WHERE-->
<!--                        TO_CHAR(tppsd.WORK_DATE,'YYYY-MM-DD')  BETWEEN '2024-08-29' AND '2024-08-30'-->
<!--                        AND TYTI.CARGO_NAME LIKE '%铝矾土%'-->
<!--                        AND tyt.PROCESS_CODE IN (10120001,10130001,10470001,10250009,10220001)-->
<!--                )-->
<!--        )-->
<!--    </select>-->

</mapper>