<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdGroupMapper">

    <resultMap id="listGroupMap" type="com.yy.ppm.produce.bean.po.TPrdGroupPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="groupName" column="GROUP_NAME" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="processCode" column="PROCESS_CODE" jdbcType="VARCHAR"/>
        <result property="processName" column="PROCESS_NAME" jdbcType="VARCHAR"/>
        <result property="planTypeCd" column="PLAN_TYPE_CD" jdbcType="VARCHAR"/>
        <result property="planTypeName" column="PLAN_TYPE_NAME" jdbcType="VARCHAR"/>
        <result property="salaryTypeCode" column="SALARY_TYPE_CODE" jdbcType="VARCHAR"/>
        <result property="salaryTypeName" column="SALARY_TYPE_NAME" jdbcType="VARCHAR"/>
        <collection property="detailPOList" ofType="com.yy.ppm.produce.bean.po.TPrdGroupDetailPO"
                    select="com.yy.ppm.produce.mapper.TPrdGroupMapper.getDetailList" column="{id=id}">
        </collection>
    </resultMap>

    <resultMap id="listGroupDetailMap" type="com.yy.ppm.produce.bean.po.TPrdGroupDetailPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="groupId" column="GROUP_ID" jdbcType="BIGINT"/>
        <result property="deptId" column="DEPT_ID" jdbcType="BIGINT"/>
        <result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="processDetailCode" column="PROCESS_DETAIL_CODE" jdbcType="VARCHAR"/>
        <result property="processDetailName" column="PROCESS_DETAIL_NAME" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listGroup" resultMap="listGroupMap">
        SELECT ID,
        GROUP_NAME,
        PROCESS_CODE,
        PROCESS_NAME,
        PLAN_TYPE_CD,
        PLAN_TYPE_NAME,
        SALARY_TYPE_NAME,
        SALARY_TYPE_CODE,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM T_PRD_GROUP
        <where>
            <if test="groupName != null and groupName != ''">
                AND GROUP_NAME = #{groupName,jdbcType=VARCHAR}
            </if>
            <if test="processCode != null and processCode != ''">
                AND PROCESS_CODE = #{processCode,jdbcType=VARCHAR}
            </if>
            <if test="planTypeCd != null and planTypeCd != ''">
                AND PLAN_TYPE_CD = #{planTypeCd,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="getDetailList" resultMap="listGroupDetailMap">
        SELECT
            GROUP_ID,
            PROCESS_DETAIL_CODE,
            PROCESS_DETAIL_NAME,
            REGEXP_REPLACE( LISTAGG ( TO_CHAR( DEPT_ID ), ',' ) WITHIN GROUP ( ORDER BY DEPT_ID ), '([^,]+)(,\1)+', '\1' ) DEPT_ID
        FROM
            T_PRD_GROUP_DETAIL
        WHERE
            GROUP_ID =#{id}
        GROUP BY
            GROUP_ID,
            PROCESS_DETAIL_CODE,
            PROCESS_DETAIL_NAME
    </select>

    <select id="getById" resultMap="listGroupMap">
        SELECT ID,
        GROUP_NAME,
        PROCESS_CODE,
        PROCESS_NAME,
        SALARY_TYPE_NAME,
        SALARY_TYPE_CODE,
        PLAN_TYPE_CD,
        PLAN_TYPE_NAME,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM T_PRD_GROUP
        where ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectDetpId" resultType="MAP">
        SELECT DEPT_ID "deptId",DEPT_NAME "deptName"
        FROM T_PRD_DISPATCH_SECONDARY
        where WORK_PLAN_ID = #{id,jdbcType=BIGINT} AND DISPATCH_TYPE = 2
        GROUP BY
        DEPT_ID,
        DEPT_NAME
    </select>

    <select id="getProcess" resultType="MAP">
        SELECT
            A .PROCESS_CD "processCode",
            A .PROCESS_NM "processName"
        FROM
            M_WORK_PROCESS A
        WHERE
            A .PARENT_ID = (
                SELECT
                    ID
                FROM
                    M_WORK_PROCESS
                WHERE
                    PROCESS_CD = #{processCode,jdbcType=VARCHAR}
	        )
    </select>

    <select id="getDeptId" resultType="Map">
         SELECT DEPT_ID "deptId",DEPT_NAME "deptName" FROM T_PRD_ATTENDANCE WHERE
         to_char(WORK_DATE,'yyyy-mm-dd') = #{workDate}
         AND CLASS_CODE = #{classCode,jdbcType=VARCHAR}
    </select>

    <select id="getNewGroup" resultType="com.yy.ppm.produce.bean.po.TPrdGroupDetailPO">
            SELECT
                ID,
                PROCESS_DETAIL_CODE,
                PROCESS_DETAIL_NAME,
                DEPT_ID,
                DEPT_NAME
            FROM
                T_PRD_GROUP_DETAIL
            WHERE
            GROUP_ID = #{id,jdbcType=BIGINT}
            AND DEPT_ID IN (
                SELECT
                    DEPT_ID "deptId"
                FROM
                    T_PRD_ATTENDANCE
                WHERE
                    TO_CHAR (WORK_DATE, 'yyyy-mm-dd') = #{workDate,jdbcType=VARCHAR}
                AND CLASS_CODE = #{classCode,jdbcType=VARCHAR}
                UNION ALL
                    SELECT
                        DEPT_ID "deptId"
                    FROM
                        T_PRD_DISPATCH_SECONDARY
                    WHERE
                        WORK_PLAN_ID = #{planId,jdbcType=BIGINT}
                    AND DISPATCH_TYPE = 2
                    GROUP BY
                        DEPT_ID
                )
            ORDER BY PROCESS_DETAIL_CODE,DEPT_NAME
    </select>

    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.produce.bean.po.TPrdGroupPO">
        UPDATE
        T_PRD_GROUP
        SET
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
        PROCESS_CODE = #{processCode,jdbcType=VARCHAR},
        PROCESS_NAME = #{processName,jdbcType=VARCHAR},
        SALARY_TYPE_CODE = #{salaryTypeCode,jdbcType=VARCHAR},
        SALARY_TYPE_NAME = #{salaryTypeName,jdbcType=VARCHAR},
        PLAN_TYPE_CD = #{planTypeCd,jdbcType=VARCHAR},
        PLAN_TYPE_NAME = #{planTypeName,jdbcType=VARCHAR},
        UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{now}
        <where>
            ID = #{id}
        </where>
    </update>

    <insert id="save">

        INSERT INTO T_PRD_GROUP (ID,
            GROUP_NAME,
            PROCESS_CODE,
            PROCESS_NAME,
            SALARY_TYPE_CODE,
            SALARY_TYPE_NAME,
            PLAN_TYPE_CD,
            PLAN_TYPE_NAME,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME)
        VALUES (
            #{id,jdbcType=BIGINT},
            #{groupName,jdbcType=VARCHAR},
            #{processCode,jdbcType=VARCHAR},
            #{processName,jdbcType=VARCHAR},
            #{salaryTypeCode,jdbcType=VARCHAR},
            #{salaryTypeName,jdbcType=VARCHAR},
            #{planTypeCd,jdbcType=VARCHAR},
            #{planTypeName,jdbcType=VARCHAR},
            #{loginUserId,jdbcType=BIGINT},
            #{loginUserName,jdbcType=VARCHAR},
            #{now,jdbcType=TIMESTAMP})
    </insert>

    <insert id="saveDetail" parameterType="java.util.List">
        INSERT INTO T_PRD_GROUP_DETAIL(
        ID,
        GROUP_ID,
        PROCESS_DETAIL_NAME,
        PROCESS_DETAIL_CODE,
        DEPT_ID,
        DEPT_NAME,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME
        )
        (
        <foreach collection="list" item="item" index="" separator="union all">
            select
            #{item.id,jdbcType=BIGINT},
            #{item.groupId,jdbcType=BIGINT},
            #{item.processDetailName,jdbcType=TIMESTAMP},
            #{item.processDetailCode,jdbcType=VARCHAR},
            #{item.deptId,jdbcType=BIGINT},
            #{item.deptName,jdbcType=VARCHAR},
            #{item.loginUserId,jdbcType=VARCHAR},
            #{item.loginUserName,jdbcType=VARCHAR},
            #{item.now}
            from dual
        </foreach>
        )
    </insert>

</mapper>