<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdTicketSecondAllotMapper">
    <resultMap id="listWorkPlan" type="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkPlanDTO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="ticketId" column="TICKET_ID" jdbcType="BIGINT"/>
        <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"/>
        <result property="workDate" column="WORK_DATE" jdbcType="TIMESTAMP"/>
        <result property="classCode" column="CLASS_CODE" jdbcType="VARCHAR"/>
        <result property="className" column="CLASS_NAME" jdbcType="VARCHAR"/>
        <result property="cargoName" column="CARGO_NAME" jdbcType="VARCHAR"/>
        <result property="loadUnload" column="LOAD_UNLOAD" jdbcType="VARCHAR"/>
        <result property="cargoAgentName" column="CARGO_AGENT_NAME" jdbcType="VARCHAR"/>
        <result property="cargoOwnerName" column="CARGO_OWNER_NAME" jdbcType="VARCHAR"/>
        <result property="shipNameVoyage" column="SHIP_NAME_VOYAGE" jdbcType="VARCHAR"/>
        <result property="equipmentNamesFront" column="EQUIPMENT_NAMES_FRONT" jdbcType="VARCHAR"/>
        <result property="equipmentNamesBack" column="EQUIPMENT_NAMES_BACK" jdbcType="VARCHAR"/>
        <result property="equipmentNamesAssist" column="EQUIPMENT_NAMES_ASSIST" jdbcType="VARCHAR"/>
        <result property="hatchNum" column="HATCH_NUM" jdbcType="VARCHAR"/>
        <result property="planNo" column="PLAN_NO" jdbcType="VARCHAR"/>
        <result property="processCode" column="PROCESS_CODE" jdbcType="VARCHAR"/>
        <result property="processName" column="PROCESS_NAME" jdbcType="VARCHAR"/>
        <result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="quantityPlan" column="QUANTITY_PLAN" jdbcType="INTEGER"/>
        <result property="laborNum" column="LABOR_NUM" jdbcType="INTEGER"/>
        <result property="tonPlan" column="TON_PLAN" jdbcType="DECIMAL"/>
        <result property="startTimePlan" column="START_TIME_PLAN" jdbcType="TIMESTAMP"/>
        <result property="endTimePlan" column="END_TIME_PLAN" jdbcType="TIMESTAMP"/>
        <result property="startWorkTime" column="START_WORK_TIME" jdbcType="TIMESTAMP"/>
        <result property="endWorkTime" column="END_WORK_TIME" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="massNamesSource" column="MASS_NAMES_SOURCE" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="INTEGER"/>
        <result property="trustNo" column="TRUST_NO" jdbcType="VARCHAR"/>
        <result property="type" column="TYPE" jdbcType="VARCHAR"/>
        <result property="statusLabel" column="STATUS_LABEL" jdbcType="VARCHAR"/>
        <result property="berthName" column="BERTH_NAME" jdbcType="VARCHAR"/>
        <result property="frontTallyByName" column="FRONT_TALLY_BY_NAME" jdbcType="VARCHAR"/>
        <result property="backTallyByName" column="BACK_TALLY_BY_NAME" jdbcType="VARCHAR"/>
        <result property="dispatchByName" column="DISPATCH_BY_NAME" jdbcType="VARCHAR"/>
        <result property="equipmentNamesFront" column="EQUIPMENT_NAMES_FRONT" jdbcType="VARCHAR"/>
        <result property="equipmentNamesBack" column="EQUIPMENT_NAMES_BACK" jdbcType="VARCHAR"/>
        <result property="equipmentNamesAssist" column="EQUIPMENT_NAMES_ASSIST" jdbcType="VARCHAR"/>
        <result property="equipmentNamesReshipment" column="EQUIPMENT_NAMES_RESHIPMENT" jdbcType="VARCHAR"/>
        <result property="isSigned" column="IS_SIGNED" jdbcType="VARCHAR"/>
        <result property="workTicketStatusName" column="WORK_TICKET_STATUS_NAME" jdbcType="VARCHAR"/>
        <result property="examineBy" column="EXAMINE_BY" jdbcType="BIGINT"/>
    </resultMap>
    <select id="getTicketList" parameterType="com.yy.ppm.produce.bean.dto.workTicket.TPrdTicketSeconAllotQuery"
            resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketResDTO">
        select
        TPWT.ID,
        TBT.TRUST_NO,
        TBT.iD trust_id,
        TMP_TBTC.cargo_info_no,
        TMP_TBTC.cargo_name,
        TMP_TBTC.CARGO_OWNER_NAME,
        TMP_TBTC.PACKAGE_NAME,
        TPWT.PROCESS_NAME,
        TPWP.PROCESS_CODE,
        TPWP.PLAN_TYPE,
        TRUST_SHIP."shipvoyageLabel" "shipvoyageLabel",
        TPWT.WORK_PLAN_ID,
        TBT.COMPANY_NAME,
        TBT.COMPANY_ID,
        TBT.port_code,

        TPWT.TICKET_TYPE,
        TRUST_SHIP.SCN,
        TRUST_SHIP.LOAD_UNLOAD,
        decode(TPWT.TICKET_TYPE,'1','调度签票','2','库场签票')  TICKET_TYPE_LABEL,
        tmp_ticket_detail.ALLOT_TYPE,
        decode(tmp_ticket_detail.ALLOT_TYPE,'2','机械分配','3','人员分配','未分配')  allot_type_label
        from T_PRD_WORK_TICKET TPWT
        left join T_PRD_WORK_PLAN TPWP on TPWT.WORK_PLAN_ID = TPWP.ID
        left join T_BUS_TRUST TBT on TPWP.TRUST_ID = TBT.ID
        left join (
        select TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TBCI.CARGO_INFO_NO), ',') WITHIN GROUP ( ORDER BY TBCI.CARGO_INFO_NO ),
        '([^,]+)(,\1)+', '\1')) cargo_info_no,
        TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TBCI.CARGO_NAME), ',') WITHIN GROUP ( ORDER BY TBCI.CARGO_INFO_NO ),
        '([^,]+)(,\1)+', '\1')) cargo_name,
            TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TBCI.CARGO_CODE), ',') WITHIN GROUP ( ORDER BY TBCI.CARGO_INFO_NO ),
        '([^,]+)(,\1)+', '\1')) cargo_code,
        TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TBCI.CARGO_OWNER_NAME), ',') WITHIN GROUP ( ORDER BY TBCI.CARGO_INFO_NO ),
        '([^,]+)(,\1)+', '\1')) CARGO_OWNER_NAME,
        TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TBCI.CARGO_OWNER_ID), ',') WITHIN GROUP ( ORDER BY TBCI.CARGO_INFO_NO ),
        '([^,]+)(,\1)+', '\1')) CARGO_OWNER_ID,
        TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TBCI.PACKING_CODE), ',') WITHIN GROUP ( ORDER BY TBCI.CARGO_INFO_NO ),
        '([^,]+)(,\1)+', '\1')) PACKAGE_CODE,
        TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TBCI.PACKING_NAME), ',') WITHIN GROUP ( ORDER BY TBCI.CARGO_INFO_NO ),
        '([^,]+)(,\1)+', '\1')) PACKAGE_NAME,
        TBTC.TRUST_ID
        from T_BUS_TRUST_CARGO TBTC
        left join T_BUS_CARGO_INFO TBCI on TBTC.CARGO_INFO_ID = TBCI.ID
        group by TBTC.TRUST_ID) TMP_TBTC on TMP_TBTC.TRUST_ID = TBT.ID
        left join  (select TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TBCS.SHIP_NAME||'_'||TBCS.VOYAGE), ',') WITHIN GROUP ( ORDER BY TBCS.SHIP_NAME ),
        '([^,]+)(,\1)+', '\1'))  "shipvoyageLabel"  ,TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TBCS.SHIP_VOYAGE_ITEM_ID), ',') WITHIN GROUP ( ORDER BY TBCS.SHIP_NAME ),
        '([^,]+)(,\1)+', '\1'))  SHIP_VOYAGE_ITEM_ID, TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TDS.SCN), ',') WITHIN GROUP ( ORDER BY TBCS.SHIP_NAME ),
        '([^,]+)(,\1)+', '\1'))  SCN,  TO_CHAR(REGEXP_REPLACE(LISTAGG(to_char(TDS.LOAD_UNLOAD), ',') WITHIN GROUP ( ORDER BY TBCS.SHIP_NAME ),
        '([^,]+)(,\1)+', '\1'))  LOAD_UNLOAD, TBCS.TRUST_ID
        from T_BUS_CARGO_SHIP  TBCS
        left join T_DIS_SHIPVOYAGE TDS  on  TBCS.SHIP_VOYAGE_ID = TDS.ID
        group by TRUST_ID) TRUST_SHIP on TRUST_SHIP.TRUST_ID = TBT.ID
        left join (select WORK_TICKET_ID,ALLOT_TYPE  from T_PRD_WORK_TICKET_DETAIL where ALLOT_TYPE = #{allotType,jdbcType=VARCHAR}
        group by WORK_TICKET_ID,ALLOT_TYPE) tmp_ticket_detail on tmp_ticket_detail.WORK_TICKET_ID = TPWT.ID

        <where>
            <if test="planType !=null and planType !=''">
                and TPWP.PLAN_TYPE = #{planType,jdbcType=VARCHAR}
            </if>
            <if test="workDate !=null">
                and TPWP.WORK_DATE = #{workDate,jdbcType=VARCHAR}
            </if>
            <if test ="classCode!=null and classCode !=''">
                and TPWP.CLASS_CODE = #{classCode,jdbcType=VARCHAR}
            </if>
            <if test ="portCode!=null and portCode !=''">
                AND TBT.PORT_CODE = #{portCode,jdbcType=BIGINT}
            </if>
            <if test="shipvoyageItemId !=null and shipvoyageItemId !=''">
                <bind name="shipvoyageItemIdLike" value="'%'+shipvoyageItemId+'%'"/>
                and TRUST_SHIP.SHIP_VOYAGE_ITEM_ID like #{shipvoyageItemIdLike}
            </if>
            <if test="trustNo !=null and trustNo !='' ">
                <bind name="trustNoLike" value="'%'+trustNo+'%'"/>
                and TBT.TRUST_NO like #{trustNoLike,jdbcType=VARCHAR}
            </if>
            <if test="cargoOwnerId !=null and cargoOwnerId !='' ">
                <bind name="cargoOwnerIdLike" value="'%'+cargoOwnerId+'%'"/>
                and TMP_TBTC.CARGO_OWNER_ID like #{cargoOwnerIdLike,jdbcType=VARCHAR}
            </if>
            <if test="cargoCode !=null and cargoCode !='' ">
                <bind name="cargoCodeLike" value="'%'+cargoCode+'%'"/>
                and TMP_TBTC.cargo_code like #{cargoCodeLike,jdbcType=VARCHAR}
            </if>
            <if test="packageCode !=null and packageCode !='' ">
                <bind name="packageCodeLike" value="'%'+packageCode+'%'"/>
                and TMP_TBTC.PACKAGE_CODE like #{packageCodeLike,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="getTicketDetailList" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        select TBCI.CARGO_NAME||'/'||TBCI.CARGO_OWNER_NAME||'/'||TBCI.CARGO_INFO_NO cargo_info_name,
        TPWP.id work_plan_id,
        TBCI.cargo_Info_no,
        TPWTD.*
        from T_PRD_WORK_TICKET_DETAIL TPWTD
        left join T_PRD_WORK_TICKET TPWT on TPWTD.WORK_TICKET_ID = TPWT.ID
        left join T_PRD_WORK_PLAN TPWP on TPWT.WORK_PLAN_ID =TPWP.ID
        left join T_BUS_CARGO_INFO TBCI  on TBCI.id  = TPWTD.CARGO_INFO_ID
        <where>
            <if test="id !=null and id != ''">
                and TPWT.ID = #{id,jdbcType=BIGINT}
            </if>
            <if test="workPlanId!=null and workPlanId!=''">
                and TPWT.WORK_PLAN_ID = #{workPlanId,jdbcType=BIGINT}
            </if>
            <if test="allotType!=null and allotType!=''">
                and TPWTD.ALLOT_TYPE = #{allotType}
            </if>
            <if test="noGj!=null and noGj==1">
                and TPWTD.dept_name != '固机队'
            </if>
        </where>
    </select>
    <select id="getEquipmentInfoByTicket" resultType="com.yy.ppm.produce.bean.po.TPrdWorkTicketEquipmentPO">
        select
        EQUIPMENT_NO,
        EQUIPMENT_ID ,
        EQUIPMENT_TYPE_CODE,
        EQUIPMENT_TYPE_NAME,
        WORK_TICKET_DETAIL_ID

        from T_PRD_WORK_TICKET_EQUIPMENT
        where  EXISTS (
        select * from (
        <foreach collection="workTicketDetials" separator="union all " item="workTicketId">
            select #{workTicketId} as TMPID
            from dual
        </foreach>
        ) a where a.TMPID = WORK_TICKET_DETAIL_ID
        )

    </select>

    <select id="getSecondDisptchInfo" resultType="com.yy.ppm.produce.bean.dto.TPrdDispatchSecondaryDTO">
        select
        TPDS.DEPT_ID,
        TPDS.DEPT_NAME,
        TPDS.EQUIPMENT_ID,
        MM.MAC_CODE EQUIPMENT_NO,
        MM.MAC_NAME EQUIPMENT_NAME,
        MMT.MAC_TYPE_CODE EQUIPMENT_TYPE_CODE,
        MMT.ID EQUIPMENT_TYPE_ID,
        TPDS.NUMBER_COUNT,
        MMT.mac_type_name EQUIPMENT_TYPE_NAME,
        TPDS.DEPT_PARENT_ID,
        TPDS.DEPT_PARENT_NAME,
        TPDS.SUB_PROCESS_CODE,
        MWP.PROCESS_NM SUB_PROCESS_NAME,
        TPDS.WORK_POSITION_CODE,
        TPDS.WORK_POSITION_NAME,
        MWP.IS_TALLY_COURSE
        from
        T_PRD_DISPATCH_SECONDARY TPDS
        left join M_MACHINE MM  on TPDS.EQUIPMENT_ID = MM.ID
        left join M_MACHINE_TYPE MMT on TPDS.EQUIPMENT_TYPE_ID = MMT.ID
        left join M_WORK_PROCESS MWP on  MWP.PROCESS_CD = TPDS.SUB_PROCESS_CODE
        <where>
         TPDS.DISPATCH_TYPE = #{dispatchType}
          and TPDS.WORK_PLAN_ID =#{workPlanId,jdbcType=BIGINT}
          <if test="noGj!=null and noGj==1">
              and (TPDS.dept_name != '固机队'
              or not exists(
              select ID from (
              select ID
              from SYS_DEPT  where PARENT_ID  != (select id
              from SYS_DEPT where DEPT_NAME = '固机队'
              )
              ) tmp where TPDS.dept_ID = tmp.id
              ))
          </if>
        </where>
    </select>

    <select id="getAttendanceList" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketAttenceUserDTO">
        select
        sd2.id dept_id,
        TPAU.id,
        TPAU.user_id
        from
        T_PRD_WORK_PLAN TPWP
        left join T_PRD_ATTENDANCE TPA on (
        TPWP.WORK_DATE = TPA.WORK_DATE
        and TPWP.CLASS_CODE = TPA.CLASS_CODE
        )
        left join T_PRD_ATTENDANCE_USER TPAU on TPA.ID = TPAU.ATTENDANCE_ID
        left join sys_dept sd on sd.id = TPA.DEPT_ID
        left join sys_dept sd2 on sd.PARENT_ID = sd2.id
        where TPWP.id  = #{planId,jdbcType=BIGINT}
          and   EXISTS (
        select * from (
        <foreach collection="deptIds" separator="union all " item="tmpId">
            select #{tmpId} as TMPID
            from dual
        </foreach>
        ) a where a.TMPID = TPA.dept_id
        )
    </select>

    <delete id="deleteWorkTicketDetail">
        delete from T_PRD_WORK_TICKET_DETAIL where WORK_TICKET_ID = #{ticketId,jdbcType=BIGINT} and allot_Type = #{allotType,jdbcType=VARCHAR}
    </delete>

    <select id="getDepts" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        SELECT
        SD2.*
        FROM  SYS_DEPT SD2
        where SD2.dept_level = '2' and SD2.ticket_level = '2'
        <if test="allotType!=null and allotType ==2">
               and SD2.IS_MACHINE = '1'
        </if>
        <if test="allotType!=null and allotType ==3">
               and SD2.IS_LABOR = '1'
        </if>

    </select>
    <select id="getDeptLevelByDeptId" resultType="Map">
        SELECT ID "deptId",
               DEPT_NAME "deptName"
        FROM ( SELECT ID,DEPT_NAME,DEPT_LEVEL
               FROM SYS_DEPT START WITH ID =
                         (SELECT ID FROM SYS_DEPT WHERE ID = #{deptId,jdbcType=BIGINT} CONNECT BY PRIOR  PARENT_ID=ID)
        WHERE DEPT_LEVEL = #{deptLevel,jdbcType=VARCHAR}

    </select>
    <select id="getShipBerth" resultType="java.lang.String">
        select  REGEXP_REPLACE(LISTAGG(BERTH_NAME, ',') WITHIN GROUP ( ORDER BY SHIPVOYAGE_ITEM_ID ),
                               '([^,]+)(,\1)+', '\1') BERTH_NAME
        from T_DIS_SHIP_DYNAMIC
        where DYNAMIC_TYPE_NAME in ('靠泊' , '移泊')
        AND EXISTS (
            select * from (
            <foreach collection="shipVoyageItemIds" separator="union all " item="tmpId">
                select #{tmpId} as TMPID
                from dual
            </foreach>
            ) a where a.TMPID =  SHIPVOYAGE_ITEM_ID
        )
    </select>
    <resultMap id="tallListForAllot" type="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        <result property="workPlanId" column="PLAN_ID" jdbcType="BIGINT"/>
        <result property="equipmentId" column="EQUIPMENT_ID" jdbcType="BIGINT"/>
        <result property="equipmentNo" column="EQUIPMENT_NO" jdbcType="VARCHAR"/>
        <result property="transportEquipmentId" column="TRANSPORT_EQUIPMENT_ID" jdbcType="BIGINT"/>
        <result property="transportEquipmentNo" column="TRANSPORT_EQUIPMENT_NO" jdbcType="VARCHAR"/>
        <result property="deptId" column="DEPT_ID" jdbcType="BIGINT"/>
        <result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="processDetailCode" column="PROCESS_DETAIL_CODE" jdbcType="VARCHAR"/>
        <result property="processDetailName" column="PROCESS_DETAIL_NAME" jdbcType="VARCHAR"/>
        <result property="machineDeptId" column="MACHINE_DEPT_ID" jdbcType="BIGINT"/>
        <result property="machineDeptName" column="MACHINE_DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="equipmentTypeCode" column="EQUIPMENT_TYPE_CODE" jdbcType="VARCHAR"/>
        <result property="equipmentTypeName" column="EQUIPMENT_TYPE_NAME" jdbcType="VARCHAR"/>
        <result property="tranMachineDeptName" column="TRAN_MACHINE_DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="tranMachineDeptId" column="TRAN_MACHINE_DEPT_ID" jdbcType="BIGINT"/>
        <result property="transportEquipmentTypeCode" column="TRANSPORT_EQUIPMENT_TYPE_CODE" jdbcType="VARCHAR"/>
        <result property="transportEquipmentTypeName" column="TRANSPORT_EQUIPMENT_TYPE_NAME" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getTallListForAllot" resultMap="tallListForAllot">
        select
            TYT.PLAN_ID PLAN_ID,
            TYT.EQUIPMENT_ID EQUIPMENT_ID,
            TYT.EQUIPMENT_NO EQUIPMENT_NO,
            TYT.TRANSPORT_EQUIPMENT_ID TRANSPORT_EQUIPMENT_ID,
            TYT.TRANSPORT_EQUIPMENT_NO TRANSPORT_EQUIPMENT_NO,
            TYT.DEPT_PARENT_ID DEPT_ID,
            MM3SD.DEPT_NAME DEPT_NAME,
            TYT.PROCESS_CODE PROCESS_DETAIL_CODE,
            TYT.PROCESS_NAME PROCESS_DETAIL_NAME,
            MMSD.ID MACHINE_DEPT_ID,
            MMSD.DEPT_NAME MACHINE_DEPT_NAME,
            MM.MAC_TYPE_CODE EQUIPMENT_TYPE_CODE,
            MMT.MAC_TYPE_NAME EQUIPMENT_TYPE_NAME,
            MM2SD.DEPT_NAME TRAN_MACHINE_DEPT_NAME,
            MM2SD.ID TRAN_MACHINE_DEPT_ID,
            MM2.MAC_TYPE_CODE TRANSPORT_EQUIPMENT_TYPE_CODE,
            MMT2.MAC_TYPE_NAME TRANSPORT_EQUIPMENT_TYPE_NAME,
            case
                when   MC.WORK_TYPE = '2' or
                       to_char (TYT.REMARK) = '车载' then wp.WEIGHT_GOODS
                else TYTI.TON
                end ton
        from
            T_YARD_TALLY TYT
                join T_YARD_TALLY_ITEM TYTI on TYT.id = TYTI.TALLY_ID
                left join M_MACHINE MM on MM.ID = TYT.EQUIPMENT_ID
                left join M_MACHINE MM2 on MM2.id = TYT.TRANSPORT_EQUIPMENT_ID
                left join M_MACHINE_TYPE MMT on MMT.MAC_TYPE_CODE = MM.MAC_TYPE_CODE
                left join M_MACHINE_TYPE MMT2  on MMT2.MAC_TYPE_CODE = MM2.MAC_TYPE_CODE
                left join SYS_DEPT MMSD on MM.DEPT_ID = MMSD.ID
                left join SYS_DEPT MM2SD on MM2.DEPT_ID = MM2SD.ID
                left join sys_dept MM3SD on TYT.DEPT_PARENT_ID = MM3SD.id
                left join M_CARGO MC on MC.CARGO_CODE = TYTI.CARGO_CODE
                left join WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wp on wp.NOTE_ID = TYT.WEIGHBRIDGE_ID
        where TYT.DEL_FLAG='0' and TYT.PLAN_ID = #{planId,jdbcType=BIGINT}
    </select>
    <select id="getTallListForAllotWithMap" resultType="Map">
        select
            TYT.PLAN_ID "planId",
            TYT.EQUIPMENT_ID "equipmentId",
            TYT.EQUIPMENT_NO "equipmentNo",
            TYT.TRANSPORT_EQUIPMENT_ID transportEquipmentId,
            TYT.TRANSPORT_EQUIPMENT_NO "transportEquipmentNo",
            TYT.DEPT_PARENT_ID "deptId",
            MM3SD.DEPT_NAME "deptName",
            TYT.PROCESS_CODE "processDetailCode",
            TYT.PROCESS_NAME "processDetailName",
            MMSD.ID "machineDeptId",
            MMSD.DEPT_NAME "machineDeptName",
            MM.MAC_TYPE_CODE "equipmentTypeCode",
            MMT.MAC_TYPE_NAME "equipmentTypeName",
            MM2SD.DEPT_NAME "tranMachineDeptName",
            MM2SD.ID "tranMachineDeptId",
            MM2.MAC_TYPE_CODE "transportEquipmentTypeCode",
            MMT2.MAC_TYPE_NAME "transportEquipmentTypeName",
            case
                when   MC.WORK_TYPE = '2' or
                       to_char (TYT.REMARK) = '车载' then wp.WEIGHT_GOODS
                else TYTI.TON
                end  "ton"
        from
            T_YARD_TALLY TYT
                join T_YARD_TALLY_ITEM TYTI on TYT.id = TYTI.TALLY_ID
                left join M_MACHINE MM on MM.ID = TYT.EQUIPMENT_ID
                left join M_MACHINE MM2 on MM2.id = TYT.TRANSPORT_EQUIPMENT_ID
                left join M_MACHINE_TYPE MMT on MMT.MAC_TYPE_CODE = MM.MAC_TYPE_CODE
                left join M_MACHINE_TYPE MMT2  on MMT2.MAC_TYPE_CODE = MM2.MAC_TYPE_CODE
                left join SYS_DEPT MMSD on MM.DEPT_ID = MMSD.ID
                left join SYS_DEPT MM2SD on MM2.DEPT_ID = MM2SD.ID
                left join sys_dept MM3SD on TYT.DEPT_PARENT_ID = MM3SD.id
                left join M_CARGO MC on MC.CARGO_CODE = TYTI.CARGO_CODE
                left join WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wp on wp.NOTE_ID = TYT.WEIGHBRIDGE_ID

        where TYT.DEL_FLAG='0' and TYT.PLAN_ID = #{planId,jdbcType=BIGINT}
    </select>
    <delete id="deleteWorkTicketDetailByWorkPlanId">
        delete
        from T_PRD_WORK_TICKET_DETAIL
        where id  in ( select TPWTD.ID
                       from T_PRD_WORK_TICKET TPWT
                                left join T_PRD_WORK_TICKET_DETAIL TPWTD on TPWTD.WORK_TICKET_ID = TPWT.ID
                       where TPWTD.ALLOT_TYPE in ('2','3') and TPWT.WORK_PLAN_ID = #{workPlanId,jdbcType=BIGINT}
        )
    </delete>
</mapper>
