<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdOddWorkPlanLogMapper">

    <sql id="commonList">
            TPDWP.ID,
            TPDWP.CREATE_BY,
            TPDWP.CREATE_BY_NAME,
            TPDWP.CREATE_TIME,
            TPDWP.UPDATE_BY,
            TPDWP.UPDATE_BY_NAME,
            TPDWP.UPDATE_TIME,
            TPDWP.ODD_TYPE,
            TPDWP.WORK_DEPT_ID,
            TPDWP.WORK_DEPT_NAME,
            TPDWP.MAC_TYPE_CODE,
            TPDWP.MAC_TYPE_NAME,
            TPDWP.MAC_NO,
            TPDWP.MAC_AMOUNT,
            TPDWP.WORKER_AMOUNT,
            TPDWP.WORK_CONTENT,
            TPDWP.REPORT_START_TIME,
            TPDWP.REPORT_END_TIME,
            TPDWP.WORK_DURATION,
            TPDWP.WORK_HOURS,
            TPDWP.CONFIRM_BY,
            TPDWP.CONFIRM_BY_NAME,
            TPDWP.CONFIRM_TIME,
            TPDWP.FIRST_APPROVE_BY,
            TPDWP.FIRST_APPROVE_BY_NAME,
            TPDWP.FIRST_APPROVE_TIME,
            TPDWP.SECOND_APPROVE_BY,
            TPDWP.SECOND_APPROVE_BY_NAME,
            TPDWP.SECOND_APPROVE_TIME,
            TPDWP.STATUS,
            TPDWP.REMARK,
            CREATE_FROM_DEPT,
            CREATE_FROM_DEPT_NAME,
            MAC_ID,
            ODD_ID
    </sql>
    <select id="getList" resultType="com.yy.ppm.produce.bean.dto.TPrdOddLogResultDTO">
        SELECT
        <include refid="commonList"></include>
        ,MDD.DICT_LABEL AS STATUS_TEXT
        FROM T_PRD_ODD_WORK_PLAN_LOG TPDWP
        LEFT JOIN M_DICT_DATA MDD ON MDD.DICT_TYPE = 'ODD_STATUS' AND MDD.DICT_VALUE = TPDWP.STATUS
        <where>
            <if test="status != null and status != ''">
                AND TPDWP.STATUS = #{status, jdbcType=VARCHAR}
            </if>
            <if test="defaultOddType != null and defaultOddType != ''">
                AND TPDWP.ODD_TYPE = #{defaultOddType, jdbcType=VARCHAR}
            </if>
            <if test="oddType != null and oddType != ''">
                AND TPDWP.ODD_TYPE = #{oddType, jdbcType=VARCHAR}
            </if>
            <if test="deptNos != null and deptNos.size() > 0">
                AND TPDWP.WORK_DEPT_ID IN
                <foreach collection="deptNos" open="(" separator="," item="id" close=")">
                    #{id, jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="deptIds != null and deptIds.size() > 0">
                AND TPDWP.CREATE_FROM_DEPT IN
                <foreach collection="deptIds" open="(" separator="," item="id" close=")">
                    #{id, jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="searchStartTime != null">
                AND TO_CHAR(TPDWP.REPORT_START_TIME,'YYYY-MM-DD') &gt;= #{searchStartTime}
            </if>
            <if test="searchEndTime != null">
                AND TO_CHAR(TPDWP.REPORT_START_TIME,'YYYY-MM-DD') &lt;= #{searchEndTime}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddLogSaveDTO">
        INSERT INTO T_PRD_ODD_WORK_PLAN_LOG(ID,
                                        CREATE_BY,
                                        CREATE_BY_NAME,
                                        CREATE_TIME,
                                        CONFIRM_BY,
                                        CONFIRM_BY_NAME,
                                        CONFIRM_TIME,
                                        FIRST_APPROVE_BY,
                                        FIRST_APPROVE_BY_NAME,
                                        FIRST_APPROVE_TIME,
                                        ODD_TYPE,
                                        WORK_DEPT_ID,
                                        WORK_DEPT_NAME,
                                        MAC_TYPE_CODE,
                                        MAC_TYPE_NAME,
                                        MAC_NO,
                                        MAC_AMOUNT,
                                        WORKER_AMOUNT,
                                        WORK_CONTENT,
                                        REPORT_START_TIME,
                                        REPORT_END_TIME,
                                        WORK_DURATION,
                                        WORK_HOURS,
                                        STATUS,
                                        REMARK,
                                        CREATE_FROM_DEPT,
                                        CREATE_FROM_DEPT_NAME,
                                        MAC_ID,
                                        OPERATE_ID,
                                        ODD_ID,
                                        OPERATE_TYPE,
                                        IS_REJECT,
                                        REJECT_BY,
                                        REJECT_BY_NAME,
                                        REJECT_TIME,
                                        REJECT_REASON,
                                        ABANDONED_BY,
                                        ABANDONED_BY_NAME,
                                        ABANDONED_TIME,
                                        THIRD_APPROVE_BY,
                                        THIRD_APPROVE_BY_NAME,
                                        THIRD_APPROVE_TIME,
                                        ODD_PLAN_NO,
                                        ABANDONED_REASON,
                                        LOG_TYPE)
        VALUES (#{id, jdbcType=BIGINT},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now},
                #{confirmBy, jdbcType=BIGINT},
                #{confirmByName, jdbcType=VARCHAR},
                #{confirmTime},
                #{firstApproveBy, jdbcType=BIGINT},
                #{firstApproveByName, jdbcType=VARCHAR},
                #{firstApproveTime},
                #{oddType, jdbcType=VARCHAR},
                #{workDeptId, jdbcType=VARCHAR},
                #{workDeptName, jdbcType=VARCHAR},
                #{macTypeCode, jdbcType=VARCHAR},
                #{macTypeName, jdbcType=VARCHAR},
                #{macNo, jdbcType=VARCHAR},
                #{macAmount, jdbcType=INTEGER},
                #{workerAmount, jdbcType=INTEGER},
                #{workContent, jdbcType=VARCHAR},
                #{reportStartTime, jdbcType=DATE},
                #{reportEndTime, jdbcType=DATE},
                #{workDuration, jdbcType=DECIMAL},
                #{workHours, jdbcType=DECIMAL},
                #{status, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR},
                #{createFromDept, jdbcType=BIGINT},
                #{createFromDeptName, jdbcType=VARCHAR},
                #{macId, jdbcType=VARCHAR},
                #{operateId, jdbcType=BIGINT},
                #{oddId, jdbcType=BIGINT},
                #{operateType, jdbcType=VARCHAR},
                #{isReject, jdbcType=VARCHAR},
                #{rejectBy, jdbcType=BIGINT},
                #{rejectByName, jdbcType=VARCHAR},
                #{rejectTime, jdbcType=DATE},
                #{rejectReason, jdbcType=VARCHAR},
                #{abandonedBy, jdbcType=BIGINT},
                #{abandonedByName, jdbcType=VARCHAR},
                #{abandonedTime, jdbcType=DATE},
                #{thirdApproveBy, jdbcType=BIGINT},
                #{thirdApproveByName, jdbcType=VARCHAR},
                #{thirdApproveTime, jdbcType=DATE},
                #{oddPlanNo, jdbcType=VARCHAR},
                #{abandonedReason, jdbcType=VARCHAR},
                #{logType, jdbcType=VARCHAR}
                )
    </insert>
</mapper>