<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdOddWorkPlanMapper">

    <sql id="commonList">
            TPDWP.ID,
            TPDWP.CREATE_BY,
            TPDWP.CREATE_BY_NAME,
            TPDWP.CREATE_TIME,
            TPDWP.UPDATE_BY,
            TPDWP.UPDATE_BY_NAME,
            TPDWP.UPDATE_TIME,
            TPDWP.ODD_TYPE,
            TPDWP.WORK_DEPT_ID,
            TPDWP.WORK_DEPT_NAME,
            TPDWP.MAC_TYPE_CODE,
            TPDWP.MAC_TYPE_NAME,
            TPDWP.MAC_NO,
            TPDWP.ODD_USER_IDS,
            TPDWP.MAC_AMOUNT,
            TPDWP.WORKER_AMOUNT,
            TPDWP.WORK_CONTENT,
            TPDWP.WORK_DURATION,
            TPDWP.WORK_HOURS,
            TPDWP.CONFIRM_BY,
            TPDWP.CONFIRM_BY_NAME,
            TPDWP.CONFIRM_TIME,
            TPDWP.FIRST_APPROVE_BY,
            TPDWP.FIRST_APPROVE_BY_NAME,
            TPDWP.FIRST_APPROVE_TIME,
            TPDWP.SECOND_APPROVE_BY,
            TPDWP.SECOND_APPROVE_BY_NAME,
            TPDWP.SECOND_APPROVE_TIME,
            TPDWP.THIRD_APPROVE_BY,
            TPDWP.THIRD_APPROVE_BY_NAME,
            TPDWP.THIRD_APPROVE_TIME,
            TPDWP.ABANDONED_BY,
            TPDWP.ABANDONED_BY_NAME,
            TPDWP.ABANDONED_TIME,
            TPDWP.ABANDONED_REASON,
            TPDWP.STATUS,
            TPDWP.REMARK,
            TPDWP.CREATE_FROM_DEPT,
            TPDWP.CREATE_FROM_DEPT_NAME,
            TPDWP.MAC_ID,
            TPDWP.IS_REJECT,
            TPDWP.ODD_PLAN_NO,
            TPDWP.REJECT_BY,
            TPDWP.REJECT_BY_NAME,
            TPDWP.REJECT_TIME,
            TPDWP.REJECT_REASON,
            CLASS_TYPE,
            CLASS_DATE,
            TPDWP.ODD_WORK_TYPE_CODE,
            TPDWP.ODD_WORK_TYPE_NAME
    </sql>
    <select id="getList" resultType="com.yy.ppm.produce.bean.dto.TPrdOddResultDTO">
        SELECT
        <include refid="commonList"></include>
        ,MDD.DICT_LABEL AS STATUS_TEXT
        FROM T_PRD_ODD_WORK_PLAN TPDWP
        LEFT JOIN M_DICT_DATA MDD ON MDD.DICT_TYPE = 'ODD_STATUS' AND MDD.DICT_VALUE = TPDWP.STATUS
        <where>
            <if test="status != null and status != ''">
                AND TPDWP.STATUS = #{status, jdbcType=VARCHAR}
            </if>
            <if test="defaultOddType != null and defaultOddType != ''">
                AND TPDWP.ODD_TYPE = #{defaultOddType, jdbcType=VARCHAR}
            </if>
            <if test="oddType != null and oddType != ''">
                AND TPDWP.ODD_TYPE = #{oddType, jdbcType=VARCHAR}
            </if>
            <if test="deptNos != null and deptNos.size() > 0">
                AND TPDWP.WORK_DEPT_ID IN
                <foreach collection="deptNos" open="(" separator="," item="id" close=")">
                    #{id, jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="deptNo != null and deptNo != ''">
                AND TPDWP.WORK_DEPT_ID = #{deptNo, jdbcType=VARCHAR}
            </if>
            <if test="deptIds != null and deptIds.size() > 0">
                AND TPDWP.CREATE_FROM_DEPT IN
                <foreach collection="deptIds" open="(" separator="," item="id" close=")">
                    #{id, jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="searchStartTime != null">
                AND TO_CHAR(TPDWP.CREATE_TIME,'YYYY-MM-DD') &gt;= #{searchStartTime}
            </if>
            <if test="searchEndTime != null">
                AND TO_CHAR(TPDWP.CREATE_TIME,'YYYY-MM-DD') &lt;= #{searchEndTime}
            </if>
            <if test="oddPlanNo != null and oddPlanNo != ''">
                <bind name="oddPlanNo_like" value="'%'+oddPlanNo+'%'"/>
                AND TPDWP.ODD_PLAN_NO like #{oddPlanNo_like, jdbcType=VARCHAR}
            </if>
            <if test="workContent != null and workContent != ''">
                <bind name="workContent_like" value="'%'+workContent+'%'"/>
                AND TPDWP.WORK_CONTENT like #{workContent_like, jdbcType=VARCHAR}
            </if>
            <if test="createByDeptIds != null and createByDeptIds.size() > 0">
                AND TPDWP.CREATE_FROM_DEPT IN
                <foreach collection="createByDeptIds" open="(" separator="," item="id" close=")">
                    #{id, jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="isReject != null and isReject == '1'.toString()">
                AND TPDWP.REJECT_TIME IS NOT NULL
            </if>
            <if test="isReject != null and isReject == '0'.toString()">
                AND TPDWP.REJECT_TIME IS NULL
            </if>
        </where>
        ORDER BY TPDWP.CREATE_TIME DESC
    </select>
    <select id="getLogList" resultType="com.yy.ppm.produce.bean.dto.TPrdOddLogResultDTO">
    SELECT T4.OPERATE_ID,T4.OPERATE_TYPE,T4.CREATE_BY_NAME,T4.CREATE_TIME,
        (
          CASE WHEN T4.OPERATE_TYPE = '修改' OR T4.OPERATE_TYPE = '一级审核' THEN
              (CASE WHEN T4.BEFORE_ODD_TYPE != T4.AFTER_ODD_TYPE THEN
                '零工类型由【'||TO_CHAR(T4.BEFORE_ODD_TYPE)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_ODD_TYPE)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_WORK_DEPT_NAME != T4.AFTER_WORK_DEPT_NAME THEN
                '作业部门由【'||TO_CHAR(T4.BEFORE_WORK_DEPT_NAME)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_WORK_DEPT_NAME)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_MAC_TYPE_NAME != T4.AFTER_MAC_TYPE_NAME THEN
                '机械类型由【'||TO_CHAR(T4.BEFORE_MAC_TYPE_NAME)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_MAC_TYPE_NAME)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_MAC_NO != T4.AFTER_MAC_NO THEN
                '机械编号由【'||TO_CHAR(T4.BEFORE_MAC_NO)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_MAC_NO)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_MAC_AMOUNT != T4.AFTER_MAC_AMOUNT THEN
                '机械数量由【'||TO_CHAR(T4.BEFORE_MAC_AMOUNT)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_MAC_AMOUNT)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_WORKER_AMOUNT != T4.AFTER_WORKER_AMOUNT THEN
                '人员数量由【'||TO_CHAR(T4.BEFORE_WORKER_AMOUNT)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_WORKER_AMOUNT)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_WORK_CONTENT != T4.AFTER_WORK_CONTENT THEN
                '作业内容由【'||TO_CHAR(T4.BEFORE_WORK_CONTENT)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_WORK_CONTENT)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_WORK_DURATION != T4.AFTER_WORK_DURATION THEN
                '作业总时长由【'||TO_CHAR(T4.BEFORE_WORK_DURATION)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_WORK_DURATION)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_WORK_HOURS != T4.AFTER_WORK_HOURS THEN
                '总工时由【'||TO_CHAR(T4.BEFORE_WORK_HOURS)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_WORK_HOURS)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_REMARK != T4.AFTER_REMARK THEN
                '备注由【'||TO_CHAR(T4.BEFORE_REMARK)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_REMARK)||'】;'
                ELSE '' END)
                ||
                (CASE WHEN T4.BEFORE_WORK_TIME != T4.AFTER_WORK_TIME THEN
                '作业时间由【'||TO_CHAR(T4.BEFORE_WORK_TIME)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_WORK_TIME)||'】;'
                ELSE '' END)
								||
                (CASE WHEN T4.BEFORE_HOUR_METER != T4.AFTER_HOUR_METER THEN
                '台时由【'||TO_CHAR(T4.BEFORE_HOUR_METER)||'】变更为【'
                  ||TO_CHAR(T4.AFTER_HOUR_METER)||'】;'
                ELSE '' END)
            WHEN T4.OPERATE_TYPE = '驳回' THEN
            TO_CHAR(T4.OPERATE_TYPE)||': '||TO_CHAR(T4.REJECT_REASON)
            WHEN T4.OPERATE_TYPE = '作废' THEN
            TO_CHAR(T4.OPERATE_TYPE)||': '||TO_CHAR(T4.ABANDONED_REASON)
            ELSE TO_CHAR(T4.OPERATE_TYPE) END
        ) OPERATE_CONTENT
        FROM (
            SELECT T3.OPERATE_ID,T3.OPERATE_TYPE,T3.CREATE_BY_NAME,T3.CREATE_TIME,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.ODD_TYPE,NULL)) BEFORE_ODD_TYPE,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.ODD_TYPE,NULL)) AFTER_ODD_TYPE,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.WORK_DEPT_NAME,NULL)) BEFORE_WORK_DEPT_NAME,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.WORK_DEPT_NAME,NULL)) AFTER_WORK_DEPT_NAME,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.MAC_TYPE_NAME,NULL)) BEFORE_MAC_TYPE_NAME,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.MAC_TYPE_NAME,NULL)) AFTER_MAC_TYPE_NAME,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.MAC_NO,NULL)) BEFORE_MAC_NO,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.MAC_NO,NULL)) AFTER_MAC_NO,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.MAC_AMOUNT,NULL)) BEFORE_MAC_AMOUNT,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.MAC_AMOUNT,NULL)) AFTER_MAC_AMOUNT,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.WORKER_AMOUNT,NULL)) BEFORE_WORKER_AMOUNT,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.WORKER_AMOUNT,NULL)) AFTER_WORKER_AMOUNT,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.WORK_CONTENT,NULL)) BEFORE_WORK_CONTENT,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.WORK_CONTENT,NULL)) AFTER_WORK_CONTENT,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.WORK_DURATION,NULL)) BEFORE_WORK_DURATION,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.WORK_DURATION,NULL)) AFTER_WORK_DURATION,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.WORK_HOURS,NULL)) BEFORE_WORK_HOURS,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.WORK_HOURS,NULL)) AFTER_WORK_HOURS,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.REMARK,NULL)) BEFORE_REMARK,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.REMARK,NULL)) AFTER_REMARK,
            MIN(DECODE(T3.LOG_TYPE,'0',T3.WORK_TIME,NULL)) BEFORE_WORK_TIME,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.WORK_TIME,NULL)) AFTER_WORK_TIME,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.REJECT_REASON,NULL)) REJECT_REASON,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.ABANDONED_REASON,NULL)) ABANDONED_REASON,
						MIN(DECODE(T3.LOG_TYPE,'0',T3.HOUR_METER,NULL)) BEFORE_HOUR_METER,
            MIN(DECODE(T3.LOG_TYPE,'1',T3.HOUR_METER,NULL)) AFTER_HOUR_METER
            FROM (
                SELECT
                T1.ID,T1.CREATE_BY_NAME,T1.CREATE_TIME,T1.OPERATE_ID,T1.OPERATE_TYPE,
                DECODE(T1.ODD_TYPE,'1','机械零工','2','人员零工','') AS ODD_TYPE,T1.ODD_PLAN_NO,
                T1.WORK_DEPT_NAME,T1.MAC_TYPE_NAME,T1.MAC_NO,T1.MAC_AMOUNT,T1.WORKER_AMOUNT,
                T1.WORK_CONTENT,T1.WORK_DURATION,T1.WORK_HOURS,T1.REMARK,
                LISTAGG(TO_CHAR(T2.REPORT_START_TIME,'YYYY-MM-DD HH24:MI') || '~'
                || TO_CHAR(T2.REPORT_END_TIME,'YYYY-MM-DD HH24:MI'),', ')
                WITHIN GROUP (ORDER BY T2.REPORT_START_TIME) AS WORK_TIME,
								LISTAGG(T2.HOUR_METER_START || '~' || T2.HOUR_METER_END,', ')
                WITHIN GROUP (ORDER BY T2.HOUR_METER_START) AS HOUR_METER,
								T1.LOG_TYPE,
                T1.REJECT_REASON, T1.ABANDONED_REASON
                FROM T_PRD_ODD_WORK_PLAN_LOG T1
                LEFT JOIN T_PRD_ODD_WORK_PLAN_DETAIL_LOG T2 ON T1.ID = T2.PARENT_ID
                WHERE T1.ODD_ID = #{id}
                GROUP BY T1.ID,T1.CREATE_BY_NAME,T1.CREATE_TIME,T1.OPERATE_ID,T1.OPERATE_TYPE,
                T1.ODD_TYPE,T1.ODD_PLAN_NO,T1.WORK_DEPT_NAME,T1.MAC_TYPE_NAME,T1.MAC_NO,T1.MAC_AMOUNT,
                T1.WORKER_AMOUNT,T1.WORK_CONTENT,T1.WORK_DURATION,T1.WORK_HOURS,T1.REMARK,T1.LOG_TYPE,
                T1.REJECT_REASON, T1.ABANDONED_REASON
            ) T3
            GROUP BY T3.OPERATE_ID,T3.OPERATE_TYPE,T3.CREATE_BY_NAME,T3.CREATE_TIME
        ) T4
        ORDER BY CREATE_TIME ASC
    </select>
    <select id="getAllList" resultType="com.yy.ppm.produce.bean.dto.TPrdOddResultDTO">
        SELECT
        <include refid="commonList"></include>
        FROM T_PRD_ODD_WORK_PLAN TPDWP
        WHERE ODD_PLAN_NO IS NULL
        ORDER BY TPDWP.CREATE_TIME DESC
    </select>
    <select id="getDetail" resultType="com.yy.ppm.produce.bean.dto.TPrdOddResultDTO">
        SELECT
        <include refid="commonList"></include>
        FROM T_PRD_ODD_WORK_PLAN TPDWP
        WHERE ID = #{id, jdbcType=VARCHAR}
    </select>
    <select id="getListByIds" resultType="com.yy.ppm.produce.bean.dto.TPrdOddResultDTO">
        SELECT
        <include refid="commonList"></include>
        FROM T_PRD_ODD_WORK_PLAN TPDWP
        WHERE ID in
        <foreach collection="ids" index="index" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>

    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        INSERT INTO T_PRD_ODD_WORK_PLAN(ID,
                                        CREATE_BY,
                                        CREATE_BY_NAME,
                                        CREATE_TIME,
                                        UPDATE_BY,
                                        UPDATE_BY_NAME,
                                        UPDATE_TIME,
                                        ODD_TYPE,
                                        WORK_DEPT_ID,
                                        WORK_DEPT_NAME,
                                        MAC_TYPE_CODE,
                                        MAC_TYPE_NAME,
                                        MAC_NO,
                                        ODD_USER_IDS,
                                        MAC_AMOUNT,
                                        WORKER_AMOUNT,
                                        WORK_CONTENT,
                                        WORK_DURATION,
                                        WORK_HOURS,
                                        STATUS,
                                        REMARK,
                                        CREATE_FROM_DEPT,
                                        CREATE_FROM_DEPT_NAME,
                                        MAC_ID,
                                        IS_REJECT,
                                        ODD_PLAN_NO,
                                        CLASS_TYPE,
                                        CLASS_DATE,
                                        ODD_WORK_TYPE_CODE,
                                        ODD_WORK_TYPE_NAME)
        VALUES (#{id, jdbcType=BIGINT},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now},
                #{reportUserId, jdbcType=BIGINT},
                #{reportUserName, jdbcType=VARCHAR},
                #{reportTime},
                #{oddType, jdbcType=VARCHAR},
                #{workDeptId, jdbcType=VARCHAR},
                #{workDeptName, jdbcType=VARCHAR},
                #{macTypeCode, jdbcType=VARCHAR},
                #{macTypeName, jdbcType=VARCHAR},
                #{macNo, jdbcType=VARCHAR},
                #{oddUserIds, jdbcType=VARCHAR},
                #{macAmount, jdbcType=INTEGER},
                #{workerAmount, jdbcType=INTEGER},
                #{workContent, jdbcType=VARCHAR},
                #{workDuration, jdbcType=DECIMAL},
                #{workHours, jdbcType=DECIMAL},
                #{status, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR},
                #{createFromDept, jdbcType=BIGINT},
                #{createFromDeptName, jdbcType=VARCHAR},
                #{macId, jdbcType=VARCHAR},
                #{isReject, jdbcType=VARCHAR},
                #{oddPlanNo, jdbcType=VARCHAR},
                #{classType, jdbcType=VARCHAR},
                #{classDate},
                #{oddWorkTypeCode,jdbcType=VARCHAR},
                #{oddWorkTypeName,jdbcType=VARCHAR})
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        UPDATE_BY = #{reportUserId, jdbcType=BIGINT},
        UPDATE_BY_NAME = #{reportUserName, jdbcType=VARCHAR},
        UPDATE_TIME = #{reportTime},
        ODD_TYPE = #{oddType, jdbcType=VARCHAR},
        WORK_DEPT_ID = #{workDeptId, jdbcType=VARCHAR},
        WORK_DEPT_NAME = #{workDeptName,jdbcType=VARCHAR},
        MAC_TYPE_CODE = #{macTypeCode,jdbcType=VARCHAR},
        MAC_TYPE_NAME = #{macTypeName,jdbcType=VARCHAR},
        MAC_NO = #{macNo,jdbcType=VARCHAR},
        ODD_USER_IDS = #{oddUserIds,jdbcType=VARCHAR},
        MAC_AMOUNT = #{macAmount,jdbcType=INTEGER},
        WORKER_AMOUNT = #{workerAmount,jdbcType=INTEGER},
        WORK_CONTENT = #{workContent,jdbcType=VARCHAR},
        WORK_DURATION = #{workDuration,jdbcType=DECIMAL},
        WORK_HOURS = #{workHours,jdbcType=DECIMAL},
        STATUS = #{status,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        MAC_ID = #{macId,jdbcType=VARCHAR},
        IS_REJECT = #{isReject,jdbcType=VARCHAR},
        CLASS_TYPE = #{classType, jdbcType=VARCHAR},
        CLASS_DATE = #{classDate},
        ODD_WORK_TYPE_CODE = #{oddWorkTypeCode,jdbcType=VARCHAR},
        ODD_WORK_TYPE_NAME = #{oddWorkTypeName,jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 确认 -->
    <update id="updateConfirm" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        CONFIRM_BY = #{loginUserId, jdbcType=BIGINT},
        CONFIRM_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        CONFIRM_TIME = #{now},
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>
    <!-- 一级审批 -->
    <update id="updateFirstApprove" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        FIRST_APPROVE_BY = #{loginUserId, jdbcType=BIGINT},
        FIRST_APPROVE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        FIRST_APPROVE_TIME = #{now},
        ODD_TYPE = #{oddType, jdbcType=VARCHAR},
        WORK_DEPT_ID = #{workDeptId, jdbcType=VARCHAR},
        WORK_DEPT_NAME = #{workDeptName,jdbcType=VARCHAR},
        MAC_TYPE_CODE = #{macTypeCode,jdbcType=VARCHAR},
        MAC_TYPE_NAME = #{macTypeName,jdbcType=VARCHAR},
        MAC_NO = #{macNo,jdbcType=VARCHAR},
        MAC_AMOUNT = #{macAmount,jdbcType=INTEGER},
        WORKER_AMOUNT = #{workerAmount,jdbcType=INTEGER},
        WORK_CONTENT = #{workContent,jdbcType=VARCHAR},
        WORK_DURATION = #{workDuration,jdbcType=DECIMAL},
        WORK_HOURS = #{workHours,jdbcType=DECIMAL},
        STATUS = #{status,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        MAC_ID = #{macId,jdbcType=VARCHAR},
        ODD_USER_IDS = #{oddUserIds, jdbcType=VARCHAR},
        IS_REJECT = #{isReject,jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>
    <!-- 二级审批 -->
    <update id="updateSecondApprove" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        SECOND_APPROVE_BY = #{loginUserId, jdbcType=BIGINT},
        SECOND_APPROVE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        SECOND_APPROVE_TIME = #{now},
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            ID IN
            <foreach collection="ids" open="(" separator="," item="id" close=")">
                #{id, jdbcType=BIGINT}
            </foreach>
        </where>
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM T_PRD_ODD_WORK_PLAN WHERE ID = #{id}
    </delete>

    <select id="getDeptByType" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        SELECT
        *
        FROM
        SYS_DEPT
        WHERE
        DEPT_LEVEL = #{level}
        <if test="type == 'machine'">
            AND  IS_MACHINE  = '1'
        </if>
        <if test="type == 'labor'">
            AND  IS_LABOR  = '1'
        </if>
    </select>

    <!-- 取消确认 -->
    <update id="cancelConfirm" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        CONFIRM_BY = null,
        CONFIRM_BY_NAME = null,
        CONFIRM_TIME = null,
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>
    <!-- 取消审核 -->
    <update id="cancelFirstApprove" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        FIRST_APPROVE_BY = null,
        FIRST_APPROVE_BY_NAME = null,
        FIRST_APPROVE_TIME = null,
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>
    <!-- 取消汇总审核 -->
    <update id="cancelSecondApprove" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        SECOND_APPROVE_BY = null,
        SECOND_APPROVE_BY_NAME = null,
        SECOND_APPROVE_TIME = null,
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            ID IN
            <foreach collection="ids" open="(" separator="," item="id" close=")">
                #{id, jdbcType=BIGINT}
            </foreach>
        </where>
    </update>

    <!-- 驳回 -->
    <update id="updateReject" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        IS_REJECT = #{isReject, jdbcType=VARCHAR},
        REJECT_BY = #{loginUserId, jdbcType=BIGINT},
        REJECT_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        REJECT_TIME = #{now},
        REJECT_REASON = #{rejectReason,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 作废 -->
    <update id="updateAbandoned" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        ABANDONED_BY = #{loginUserId, jdbcType=BIGINT},
        ABANDONED_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        ABANDONED_TIME = #{now},
        ABANDONED_REASON = #{abandonedReason,jdbcType=VARCHAR},
        IS_REJECT = '0',
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 三级审批 -->
    <update id="updateThirdApprove" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        THIRD_APPROVE_BY = #{loginUserId, jdbcType=BIGINT},
        THIRD_APPROVE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        THIRD_APPROVE_TIME = #{now},
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            ID IN
            <foreach collection="ids" open="(" separator="," item="id" close=")">
                #{id, jdbcType=BIGINT}
            </foreach>
        </where>
    </update>

    <!-- 取消三级审批 -->
    <update id="cancelThirdApprove" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        THIRD_APPROVE_BY = null,
        THIRD_APPROVE_BY_NAME = null,
        THIRD_APPROVE_TIME = null,
        STATUS = #{status,jdbcType=VARCHAR}
        <where>
            ID IN
            <foreach collection="ids" open="(" separator="," item="id" close=")">
                #{id, jdbcType=BIGINT}
            </foreach>
        </where>
    </update>
    <update id="updateOddPlanNo" parameterType="com.yy.ppm.produce.bean.dto.TPrdOddSaveDTO">
        UPDATE
        T_PRD_ODD_WORK_PLAN
        SET
        ODD_PLAN_NO = #{oddPlanNo, jdbcType=VARCHAR}
        <where>
            ID = #{id, jdbcType=BIGINT}
            AND ODD_PLAN_NO IS NULL
        </where>
    </update>
    <select id="getOddByMacTime" resultType="com.yy.ppm.produce.bean.dto.TPrdOddDetailResultDTO">
        SELECT OWP.ID,OWP.ODD_PLAN_NO,OWPD.REPORT_START_TIME,OWPD.REPORT_END_TIME
        FROM T_PRD_ODD_WORK_PLAN OWP
        INNER JOIN T_PRD_ODD_WORK_PLAN_DETAIL OWPD ON OWP.ID = OWPD.ODD_PLAN_ID
        WHERE OWP.STATUS != '99'
        AND OWPD.REPORT_END_TIME IS NOT NULL AND OWPD.REPORT_START_TIME IS NOT NULL
        AND FIND_IN_SET(#{macId, jdbcType=VARCHAR},OWP.MAC_ID) > 0
        <if test="oddId != null">
            AND OWP.ID != #{oddId, jdbcType=BIGINT}
        </if>
        AND (
            (#{startTime, jdbcType=DATE} &gt;= OWPD.REPORT_START_TIME AND #{startTime, jdbcType=DATE} &lt; OWPD.REPORT_END_TIME)
            OR (#{endTime, jdbcType=DATE} &gt; OWPD.REPORT_START_TIME AND #{endTime, jdbcType=DATE} &lt;= OWPD.REPORT_END_TIME)
            OR (
                #{startTime, jdbcType=DATE} &lt;= OWPD.REPORT_START_TIME
                AND #{endTime, jdbcType=DATE} &gt;= OWPD.REPORT_END_TIME
            )
        )
    </select>
    <select id="queryAttendanceByOdd" resultType="com.yy.ppm.produce.bean.dto.TOddWorkPlanAttendanceDTO">
        SELECT TPA.COMPANY_ID,TPA.COMPANY_NAME,TPA.DEPT_ID,TPA.DEPT_NAME,
            TPA.WORK_DATE,TPA.CLASS_CODE,TPA.CLASS_NAME,
            TPAU.ID,TPAU.USER_ID,TPAU.USER_NAME,TPAU.COEFFICIENT
        FROM T_PRD_ATTENDANCE TPA
        INNER JOIN T_PRD_ATTENDANCE_USER TPAU ON TPA.ID = TPAU.ATTENDANCE_ID
        INNER JOIN SYS_DEPT SD ON TPA.DEPT_ID = SD.ID
        INNER JOIN SYS_DEPT PSD ON SD.PARENT_ID = PSD.ID
        WHERE TPA.CLASS_CODE = #{classCode} AND TPA.WORK_DATE = #{workDate}
        AND PSD.DEPT_NO = #{deptNo} AND TPAU.ISWORK = '是'
        AND TPAU.COEFFICIENT > 0
    </select>
    <select id="getOddByMacHour" resultType="com.yy.ppm.produce.bean.dto.TPrdOddDetailResultDTO">
        SELECT OWP.ID,OWP.ODD_PLAN_NO,OWPD.REPORT_START_TIME,OWPD.REPORT_END_TIME
        FROM T_PRD_ODD_WORK_PLAN OWP
        INNER JOIN T_PRD_ODD_WORK_PLAN_DETAIL OWPD ON OWP.ID = OWPD.ODD_PLAN_ID
        WHERE OWP.STATUS != '99'
        AND OWPD.HOUR_METER_START IS NOT NULL AND OWPD.HOUR_METER_END IS NOT NULL
        AND FIND_IN_SET(#{macId, jdbcType=VARCHAR},OWP.MAC_ID) > 0
        <if test="oddId != null">
            AND OWP.ID != #{oddId, jdbcType=BIGINT}
        </if>
        AND
        (
            (
                #{startHour, jdbcType=DECIMAL} &gt;= OWPD.HOUR_METER_START
                AND #{startHour, jdbcType=DECIMAL} &lt;= OWPD.HOUR_METER_END)
            OR (
                #{endHour, jdbcType=DECIMAL} &gt;= OWPD.HOUR_METER_START
                AND #{endHour, jdbcType=DECIMAL} &lt;= OWPD.HOUR_METER_END)
            OR (
                #{startHour, jdbcType=DECIMAL} &lt;= OWPD.HOUR_METER_START
                AND #{endHour, jdbcType=DECIMAL} &gt;= OWPD.HOUR_METER_END
            )
        )
    </select>



    <select id="getDeptIdByDeptNo" resultType="java.lang.String">
        SELECT
        ID AS DEPT_ID
        FROM
        SYS_DEPT
        WHERE DEPT_NO = #{deptNo, jdbcType=VARCHAR}
    </select>
    <select id="getUserInfoByUserIds" resultType="com.yy.ppm.produce.bean.dto.UserInfoDTO">
        SELECT
        ID,USER_NAME,
        (      SELECT ID FROM (
        SELECT ID,DEPT_LEVEL,DEPT_NAME FROM SYS_DEPT
        START WITH ID = #{deptId, jdbcType=VARCHAR}

        CONNECT BY PRIOR  PARENT_ID   = ID
        ) WHERE DEPT_LEVEL IN (1)
        ) DEPT_ID,
        (      SELECT DEPT_NAME    FROM (
        SELECT ID,DEPT_LEVEL,DEPT_NAME FROM SYS_DEPT
        START WITH ID = #{deptId, jdbcType=VARCHAR}

        CONNECT BY PRIOR  PARENT_ID   = ID
        ) WHERE DEPT_LEVEL IN (1)
        ) DEPT_NAME
        FROM SYS_USER sus
    </select>
    <select id="getDeptByUserId" resultType="com.yy.ppm.produce.bean.dto.DeptDTO">
        select su.id,su.USER_NAME,su.DEPT_ID,sd.DEPT_NAME from SYS_USER su
        LEFT JOIN SYS_DEPT sd on sd.id = su.DEPT_ID
        where su.id = #{userId}
    </select>
</mapper>