<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdPlanEntrustMapper">

    <select id="getPage" resultType="com.yy.ppm.produce.bean.dto.TPrdPlanEntrustResultDTO"
            parameterType="com.yy.ppm.produce.bean.dto.TPrdPlanEntrustSearchDTO">
        SELECT TT.* FROM (
        SELECT
        M.ID AS ID,
        N.BUSINESS_NO AS PLAN_NO,
        N.ID AS TRUST_CARGO_ID,
        NVL(G.SHIP_NAME,'') AS SHIP_NAME,
        NVL(G.VOYAGE,'') AS VOYAGE,
        (CASE WHEN G.SHIP_NAME IS NOT NULL AND G.VOYAGE IS NOT NULL THEN TO_CHAR(G.SHIP_NAME||'_'||G.VOYAGE) ELSE '' END) SHIP_NAME_VOYAGE,
        NVL(K.CUSTOMER_NAME, E.CUSTOMER_NAME) AS CARGO_OWNER_NAME,
        NVL(K.ID, E.ID) AS CARGO_OWNER_ID,
        NVL(K.CUSTOMER_CODE, E.CUSTOMER_CODE) AS CARGO_OWNER_CODE,
        NVL(K.TIN, E.TIN) AS CARGO_OWNER_TIN,
        N.CARGO_NAME,
        N.CARGO_CODE,
        B.plan_Yard,
        '*' AS specs,
        N.PACKING_CODE,
        N.PACKING_NAME,
        NVL(N.QUANTITY, 0) AS QUANTITY,
        NVL(N.TON,0) AS PLAN_TON,
        NVL(TEMP_T.WEIGHT_GOODS,'0') AS FINISHED_TON,
        '0' AS SURPLUS_TON,
        M .START_TIME AS PLAN_START_TIME,
        M .END_TIME AS PLAN_END_TIME,
        '0' AS ORDER_NUM,
        '0' AS is_Weigh,
        '0' AS truck_Stop_NUM,
        '0' AS truck_In_Port_NUM,
        M.TYPE,
        M.RELEASE_TIME,
        M.START_TIME,
        M.END_TIME,
        TO_CHAR(M.START_TIME,'YY/MM/DD HH24:MI')||' ~ '||TO_CHAR(M.END_TIME,'YY/MM/DD HH24:MI') AS PLAN_TIME
        FROM
        T_BUS_TRUST M
        LEFT JOIN T_BUS_TRUST_CARGO N ON M . ID = N.TRUST_ID
        LEFT JOIN M_WORK_PROCESS A ON M .PROCESS_CODE = A .PROCESS_CD
        LEFT JOIN (
        SELECT
        TRUST_ID,
        REGEXP_REPLACE (
        LISTAGG (TO_CHAR(planYard), ',') WITHIN GROUP (ORDER BY planYard),
        '([^,]+)(,\1)+',
        '\1'
        ) plan_Yard
        FROM
        (
        SELECT
        t1.STORAGE_YARD_NM || '/' || t2.STORAGE_YARD_NM AS planYard,
        REGION_ID,
        STOREHOUSE_ID,
        T .TRUST_ID
        FROM
        T_BUS_TRUST_LOCATION T
        LEFT JOIN M_STORAGE_YARD t1 ON T .STOREHOUSE_ID = t1. ID
        LEFT JOIN M_STORAGE_YARD t2 ON T .REGION_ID = t2. ID
        )
        GROUP BY
        TRUST_ID
        ) B ON M . ID = B.TRUST_ID
        LEFT JOIN T_BUS_CUSTOMER E ON N.CARGO_OWNER_ID = E . ID
        LEFT JOIN T_BUS_CUSTOMER K ON N.CONSIGNER_ID = K . ID
        LEFT JOIN M_CARGO CARGO ON N.CARGO_CODE = CARGO.CARGO_CODE
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM F ON F. ID = M .SHIPVOYAGE_ITEM_ID
        LEFT JOIN T_BUS_CARGO_INFO G ON G . ID = N.CARGO_INFO_ID
        LEFT JOIN (
        SELECT
        PLAN_NO,
        SUM (WEIGHT_GOODS) WEIGHT_GOODS
        FROM
        V_WEIGHT_INFO
        GROUP BY
        PLAN_NO
        ) TEMP_T ON TEMP_T.PLAN_NO = N.BUSINESS_NO
        WHERE B.PLAN_YARD IS NOT NULL
        AND M.START_TIME IS NOT NULL
        AND M.END_TIME IS NOT NULL
        AND SYSDATE BETWEEN M.START_TIME AND M.END_TIME
        ) TT
        <where>
            <if test="cargoOwnerId != null">
                AND TT.CARGO_OWNER_ID = #{cargoOwnerId}
            </if>
            <if test="trustType != null and trustType == 'JG'">
                AND TT.TYPE = '集港'
            </if>
            <if test="trustType != null and trustType == 'SG'">
                AND TT.TYPE IN ('疏港','陆销')
            </if>
            <if test="planNo != null and planNo != '' ">
                <bind name="planNoLike" value="'%' + planNo + '%'"/>
                AND TT.PLAN_NO LIKE #{planNoLike}
            </if>
            <if test="planNoAct != null and planNoAct != '' ">
                AND TT.PLAN_NO = #{planNoAct}
            </if>
            <if test="shipName != null and shipName != ''">
                <bind name="shipNameLike" value="'%' + shipName + '%'"/>
                AND TT.SHIP_NAME like #{shipNameLike}
            </if>
            <if test="voyage != null and voyage != '' ">
                <bind name="voyageLike" value="'%' + voyage + '%'"/>
                AND TT.VOYAGE like #{voyageLike}
            </if>
            <if test="shipNameVoyage != null and shipNameVoyage != ''">
                <bind name="shipNameVoyageLike" value="'%' + shipNameVoyage + '%'"/>
                AND TT.SHIP_NAME_VOYAGE like #{shipNameVoyageLike}
            </if>
            <if test="cargoOwnerName != null and cargoOwnerName != ''">
                <bind name="cargoOwnerNameLike" value="'%' + cargoOwnerName + '%'"/>
                AND TT.CARGO_OWNER_NAME like #{cargoOwnerNameLike}
            </if>
            <if test="cargoName != null and cargoName != ''">
                <bind name="cargoNameLike" value="'%' + cargoName + '%'"/>
                AND TT.CARGO_NAME like #{cargoNameLike}
            </if>
            <if test="searchContent != null and searchContent != ''">
                <bind name="searchContentLike" value="'%' + searchContent + '%'"/>
                AND (
                TT.CARGO_NAME like #{searchContentLike}
                OR TT.CARGO_OWNER_NAME like #{searchContentLike}
                OR TT.VOYAGE like #{searchContentLike}
                OR TT.SHIP_NAME like #{searchContentLike}
                OR TT.PLAN_NO like #{searchContentLike}
                OR TT.SHIP_NAME_VOYAGE like #{searchContentLike}
                )
            </if>
        </where>
        ORDER BY TT.PLAN_START_TIME DESC

    </select>
    <select id="getVehicleNumByPlanNo" resultType="com.yy.ppm.produce.bean.dto.TPrdPlanEntrustVehicleDTO">
        SELECT TBVR.PLAN_NO,
        COUNT(TBVR.PLAN_NO) AS ORDER_NUM,
        COUNT(DECODE(TBVR.STATUS, '1',TBVR.PLAN_NO,NULL)) AS STOP_NUM
        FROM T_BUS_VEHICLE_RESERVATION TBVR
        <where>
            AND TBVR.DEL_FLAG = '0'
            AND TBVR.PLAN_NO IN (
            <foreach collection="list" item="planNo" index="index" separator=",">
                #{planNo}
            </foreach>
            )
        </where>
        GROUP BY TBVR.PLAN_NO
    </select>
    <select id="getVehiclePound" resultType="com.yy.ppm.produce.bean.dto.TPrdVehiclePoundDTO">
        SELECT T.PLAN_NO,T.TRUCK_PLATE,T.TSPT_ID,T.IS_FINISHED
        FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND T
        INNER JOIN (
            SELECT T1.PLAN_NO,T1.TRUCK_PLATE,MAX(T1.WEIGH_IN_DT) AS LAST_DATE
            FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND T1
            WHERE T1.IS_DELETE = '0'
            GROUP BY T1.PLAN_NO,T1.TRUCK_PLATE
        ) TEMP ON T.PLAN_NO = TEMP.PLAN_NO
        AND T.TRUCK_PLATE = TEMP.TRUCK_PLATE
        AND T.WEIGH_IN_DT = TEMP.LAST_DATE
        <where>
            T.PLAN_NO IN
            <foreach collection="list" item="planNo" index="index" separator="," open="(" close=")">
                #{planNo}
            </foreach>
        </where>
    </select>
    <select id="getVehicleList" resultType="com.yy.ppm.produce.bean.dto.TPrdVehicleReservationDTO">
        SELECT
        TBVR.ID,
        TBVR.TRUST_ID,
        TBVR.TRUST_TRADE_RESERVATION_ID,
        TBVR.PLAN_NO,
        TBVR.SUB_PLAN_NO,
        TBVR.TASK_NO,
        TBVR.VESSEL_NAME_CN,
        TBVR.VESSEL_NAME_EN,
        TBVR.VOYAGE,
        (CASE WHEN TBVR.VESSEL_NAME_CN IS NOT NULL AND TBVR.VOYAGE IS NOT NULL THEN TO_CHAR(TBVR.VESSEL_NAME_CN||'_'||TBVR.VOYAGE) ELSE '' END) SHIP_NAME_VOYAGE,
        TBVR.CARGO_CODE,
        TBVR.ASSIGN_TYPE,
        TBVR.CONSIGNEE_NAME,
        TBVR.CONSIGNEE_CODE,
        TBVR.CONSIGNEE_LICENSE_NUMBER,
        TBVR.CONSIGNOR_CODE,
        TBVR.CONSIGNOR_NAME,
        TBVR.CONSIGNOR_LICENSE_NUMBER,
        TBVR.ENTRUST_STATUS,
        TBVR.PLAN_START_TIME,
        TBVR.PLAN_END_TIME,
        TBVR.VEHICLE_NO,
        TBVR.DRIVER_NAME_ONE,
        TBVR.DRIVER_NO_ONE,
        TBVR.DRIVER_PHONE_ONE,
        TBVR.DRIVER_NAME_TWO,
        TBVR.DRIVER_NO_TWO,
        TBVR.DRIVER_PHONE_TWO,
        TBVR.ARRIVAL_NUM,
        TBVR.YARD_CODE,
        TBVR.LOC_CODE,
        TBVR.SPECS,
        TBVR.QUANTITY,
        TBVR.WEIGHT,
        TBVR.STATUS,
        DECODE(TBVR.STATUS,'0','开启','1','停止','') AS STATUS_LABEL,
        TBVR.ACTIVATION_STATE,
        TBVR.CREATE_BY,
        TBVR.CREATE_BY_NAME,
        TBVR.CREATE_TIME,
        TBVR.TRUST_CARGO_ID,
        TBVR.EMISSION_STANDARD,
        TBVR.ENV_PROTECT_CHECKLIST,
        TBVR.BUSINESS_NO,
        TBVR.ENERGY_TYPE,
        TBVR.VEHICLE_LICENSE,
        TBVR.DEL_FLAG,
        TBVR.STATUS_BACKUPS,
        NVL(POUND.POUND_NUM,0) AS ACT_IN_PORT_NUM,
        NVL(POUND.IS_FINISHED,1) AS TREND_STATUS,
        TBVR.POUND_REMARK,
        TO_CHAR((CASE WHEN TBPE.PACKING = '02' THEN (CASE WHEN TDPD.BEGIN_TIME IS NOT NULL THEN TDPD.BEGIN_TIME ELSE TBT.START_TIME END) ELSE TBT.START_TIME END),'YY/MM/DD HH24:MI')||' ~ '||
        TO_CHAR((CASE WHEN TBPE.PACKING = '02' THEN (CASE WHEN TDPD.END_TIME IS NOT NULL THEN TDPD.END_TIME ELSE TBT.END_TIME END) ELSE TBT.END_TIME END),'YY/MM/DD HH24:MI') AS PLAN_TIME,
        DECODE(TBVR.ASSIGN_TYPE,'01',TBVR.WEIGHT,'0',TBVR.WEIGHT,'02',TBVR.QUANTITY,'1',TBVR.QUANTITY,'') AS AMOUNT
        FROM T_BUS_VEHICLE_RESERVATION TBVR
        LEFT JOIN T_BUS_TRUST_CARGO TBTC ON TBVR.PLAN_NO = TBTC.BUSINESS_NO
        LEFT JOIN T_BUS_TRUST TBT ON TBTC.TRUST_ID = TBT.ID
        LEFT JOIN T_BUS_PLAN_ENTRUST TBPE ON TBVR.SUB_PLAN_NO = TBPE.SUB_PLAN_NO
        LEFT JOIN T_DIS_PORT_DAYNIGHTPLAN TDPD ON TBPE.DAY_NIGHT_PLAN_ID = TDPD.ID
        LEFT JOIN (
        SELECT T.PLAN_NO,T.TRUCK_PLATE,T.TSPT_ID,T.IS_FINISHED,TEMP.POUND_NUM
        FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND T
        INNER JOIN (
        SELECT T1.PLAN_NO,T1.TSPT_ID,T1.TRUCK_PLATE,MAX(T1.WEIGH_IN_DT) AS LAST_DATE,COUNT(1) AS POUND_NUM
        FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND T1
        WHERE T1.IS_DELETE = '0'
        GROUP BY T1.PLAN_NO,T1.TSPT_ID,T1.TRUCK_PLATE
        ) TEMP ON T.TSPT_ID = TEMP.TSPT_ID
        AND T.TRUCK_PLATE = TEMP.TRUCK_PLATE
        AND T.WEIGH_IN_DT = TEMP.LAST_DATE
        ) POUND ON POUND.PLAN_NO = TBVR.PLAN_NO AND POUND.TSPT_ID = TBVR.TASK_NO AND POUND.TRUCK_PLATE = TBVR.VEHICLE_NO
        <where>
            TBVR.DEL_FLAG = '0' AND TBPE.STATUS = 1
            <if test="planNo != null and planNo != ''">
                AND TBVR.PLAN_NO = #{planNo}
            </if>
            <if test="subPlanNo != null and subPlanNo != ''">
                AND TBVR.SUB_PLAN_NO = #{subPlanNo}
            </if>
            <if test="vehicleNo != null and vehicleNo != ''">
                <bind name="vehicleNoLike" value="'%' + vehicleNo + '%'"></bind>
                AND TBVR.VEHICLE_NO LIKE #{vehicleNoLike}
            </if>
            <if test="driverNameOne != null and driverNameOne != ''">
                <bind name="driverNameOneLike" value="'%' + driverNameOne + '%'"></bind>
                AND TBVR.DRIVER_NAME_ONE LIKE #{driverNameOneLike}
            </if>
            <if test="searchContent != null and searchContent != ''">
                <bind name="searchContentLike" value="'%' + searchContent + '%'"></bind>
                AND (
                TBVR.DRIVER_NAME_ONE LIKE #{searchContentLike}
                OR TBVR.VEHICLE_NO LIKE #{searchContentLike}
                )
            </if>
            <if test="trendStatus != null and trendStatus != ''">
                AND NVL(POUND.IS_FINISHED,1) = #{trendStatus}
            </if>
            <if test="status != null and status != ''">
                AND TBVR.STATUS = #{status}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>
</mapper>