<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdAttendanceMapper">

    <sql id="commonList">
        SELECT
            ID,
            COMPANY_ID,
            COMPANY_NAME,
            DEPT_ID,
            DEPT_NAME,
            WORK_DATE,
            CLASS_CODE,
            CLASS_NAME,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_BY_NAME,
            UPDATE_TIME
        FROM
            T_PRD_ATTENDANCE
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getList" parameterType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO" resultType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO">
        SELECT
        ID,
        COMPANY_ID,
        COMPANY_NAME,
        DEPT_ID,
        DEPT_NAME,
        WORK_DATE,
        CLASS_CODE,
        CLASS_NAME,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME
        FROM
        T_PRD_ATTENDANCE
        <where>
            DEPT_ID IN ( SELECT ID FROM 	(  SELECT ID,DEPT_NAME,DEPT_LEVEL FROM
            SYS_DEPT START WITH ID =(SELECT ID FROM SYS_DEPT WHERE ID = (  SELECT DEPT_ID FROM sys_user WHERE ID = #{loginUserId,jdbcTypeName=BIGINT} ))
            CONNECT BY PRIOR  ID=PARENT_ID )WHERE DEPT_LEVEL IN (3,4))
            <if test="id !=null and id !=''">
                and ID = #{id}
            </if>
            <if test="companyId!=null">
                and COMPANY_ID = #{companyId}
            </if>
            <if test="deptId !=null">
                and  DEPT_ID = #{deptId}
            </if>
            <if test="workDate !=null">
                and WORK_DATE =#{workDate}
            </if>
        </where>
        order by WORK_DATE desc
    </select>

    <!-- 根据id查询数据 -->
    <select id="getById" resultType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO" parameterType="java.lang.Long">
        <include refid="commonList"></include>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 出勤点民人员 -->
    <select id="getUserByAttendanceId" resultType="com.yy.ppm.produce.bean.po.TPrdAttendanceUserPO">
        select *
        from T_PRD_ATTENDANCE_USER
        where ATTENDANCE_ID = #{attendanceId}
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO">
        INSERT INTO T_PRD_ATTENDANCE(
                ID,
                COMPANY_ID,
                COMPANY_NAME,
                DEPT_ID,
                DEPT_NAME,
                WORK_DATE,
                CLASS_CODE,
                CLASS_NAME,
                CREATE_BY,
                CREATE_BY_NAME,
                CREATE_TIME
        )VALUES (
                #{id, jdbcType=BIGINT},
                #{companyId, jdbcType=BIGINT},
                #{companyName, jdbcType=VARCHAR},
                #{deptId, jdbcType=BIGINT},
                #{deptName, jdbcType=VARCHAR},
                #{workDate},
                #{classCode},
                #{className},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now}
            )
    </insert>

    <!-- 新增 -->
    <insert id="insertBatch" parameterType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO">
        INSERT INTO T_PRD_ATTENDANCE_USER(
                ID,
                ATTENDANCE_ID,
                USER_ID,
                USER_NAME,
                COEFFICIENT,
                ISWORK,
                CREATE_BY,
                CREATE_BY_NAME,
                CREATE_TIME)
            (
            <foreach collection="list" item="item"  open="" close="" separator=" UNION ALL " >
                SELECT
                    #{item.id, jdbcType=BIGINT},
                    #{item.attendanceId, jdbcType=BIGINT},
                    #{item.userId, jdbcType=VARCHAR},
                    #{item.userName, jdbcType=VARCHAR},
                    #{item.coefficient, jdbcType=BIGINT},
                    #{item.iswork, jdbcType=VARCHAR},
                    #{item.createBy, jdbcType=BIGINT},
                    #{item.createByName, jdbcType=VARCHAR},
                    #{item.createTime}
               FROM DUAL
            </foreach>
        )
    </insert>

    <!-- 修改出勤点名表 -->
   <update id="update" parameterType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO">
        UPDATE
            T_PRD_ATTENDANCE
        SET
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateAttendanceUser">
        <foreach collection="list" item="item" separator=";"  index="index" open="begin" close=";end;">
            update T_PRD_ATTENDANCE_USER
            <set>
                <if test="item.coefficient!=null and item.coefficient!=''">
                    COEFFICIENT=#{item.coefficient},
                </if>
                <if test="item.coefficient!=null and item.coefficient!=''">
                    ISWORK=#{item.iswork},
                </if>
                UPDATE_BY = #{item.updateBy},
                UPDATE_BY_NAME = #{item.updateByName},
                UPDATE_TIME = #{item.updateTime}
            </set>
            <where>
                ID =#{item.id}
                AND ATTENDANCE_ID = #{item.attendanceId}
                and USER_ID = #{item.userId}
                and USER_NAME = #{item.userName}
            </where>
        </foreach>
    </update>

    <!-- 删除考勤人员表信息 -->
   <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
            T_PRD_ATTENDANCE_USER
        WHERE
            id = #{id}
    </delete>
    
    <delete id="deleteByPId" parameterType="java.lang.Long">
        DELETE FROM
            T_PRD_ATTENDANCE
        WHERE
            id = #{id}
    </delete>

    <select id="getAttendaceUserListByTimeAndDept" parameterType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO"
            resultType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO">
        SELECT * FROM
            T_PRD_ATTENDANCE
        WHERE COMPANY_NAME like concat(concat('%', #{companyName}), '%')
                and WORK_DATE =#{workDate}
                and CLASS_NAME = #{className}
    </select>

    <delete id="deleteByAttendanceIds">
        DELETE FROM
            T_PRD_ATTENDANCE_USER
        where ATTENDANCE_ID =#{attendanceId}
    </delete>

    <!-- 修改时的新增 -->
    <insert id="insertBatchWhileUpdate" parameterType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO">
        INSERT INTO T_PRD_ATTENDANCE_USER(
        ID,
        ATTENDANCE_ID,
        USER_ID,
        USER_NAME,
        COEFFICIENT,
        ISWORK,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME)
        (
        <foreach collection="list" item="item"  open="" close="" separator=" UNION ALL " >
            SELECT
            #{item.id, jdbcType=BIGINT},
            #{item.attendanceId, jdbcType=BIGINT},
            #{item.userId, jdbcType=VARCHAR},
            #{item.userName, jdbcType=VARCHAR},
            #{item.coefficient, jdbcType=BIGINT},
            #{item.iswork, jdbcType=VARCHAR},
            #{item.createBy, jdbcType=BIGINT},
            #{item.createByName, jdbcType=VARCHAR},
            #{item.createTime},
            #{item.updateBy},
            #{item.updateByName},
            #{item.updateTime}
            FROM DUAL
        </foreach>
        )
    </insert>

    <select id="getAttendaceUserByDeptId" resultType="com.yy.ppm.produce.bean.po.TPrdAttendanceUserPO">
        select ID,ATTENDANCE_ID,USER_ID,USER_NAME,COEFFICIENT,ISWORK
        from T_PRD_ATTENDANCE_USER
        where USER_ID IN
        <foreach collection="userIds" separator=", " close=")" open="(" item="userId">
            #{userId, jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="getUserList" resultType="com.yy.ppm.system.bean.dto.SysUserDTO" parameterType="com.yy.ppm.system.bean.dto.SysUserSearchDTO">
        SELECT
        u.ID,
        u.USER_ACCOUNT,
        u.USER_NAME,
        u.DEPT_ID,
        u.IS_SUPERADMIN,
        DECODE(u.IS_SUPERADMIN, '1', '是', '否') IS_SUPERADMIN_LABEL,
        u.MOBILE,
        u.EMAIL,
        u.STATUS,
        u.REMARK,
        DECODE(u.STATUS, '1', '在用', '停用') STATUS_LABEL,
        u.PSD_UPD_DATE,
        u.SORT_NUM,
        u.UPDATE_TIME,
        u.CREATE_TIME,
        u.POST_CODE,
        u.POST_NAME,
        u.UNIT_TYPE_CODE,
        u.UNIT_TYPE_NAME,
        d.DEPT_NAME
        FROM
        SYS_USER u JOIN SYS_DEPT d ON u.DEPT_ID = d.ID
        <where>
            <if test="userAccount != null and userAccount != ''">
                <bind name="userAccount" value="'%' + userAccount + '%'"/>
                AND (u.USER_ACCOUNT LIKE  #{userAccount,jdbcType=VARCHAR})
            </if>
            <if test="userName != null and userName != ''">
                <bind name="userName" value="'%' + userName + '%'"/>
                AND (u.USER_NAME LIKE  #{userName,jdbcType=VARCHAR})
            </if>
            <if test="deptId != null and deptId != ''">
                AND (instr(d.PARENT_IDS, #{deptId,jdbcType=BIGINT}) > 0 OR d.ID = #{deptId,jdbcType=BIGINT})
            </if>
            <if test="status != null and status != ''">
                AND u.STATUS = #{status}
            </if>
            <if test="isSuperadmin != null and isSuperadmin != ''">
                AND u.IS_SUPERADMIN = #{isSuperadmin}
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        ORDER BY
        u.SORT_NUM

    </select>

<!--   获取当前用户下的部门中的人员信息 -->
    <select id="getUserListNew" resultType="com.yy.ppm.system.bean.dto.SysUserDTO" >
        SELECT
        u.ID,
        u.USER_ACCOUNT,
        u.USER_NAME,
        u.DEPT_ID,
        u.IS_SUPERADMIN,
        DECODE(u.IS_SUPERADMIN, '1', '是', '否') IS_SUPERADMIN_LABEL,
        u.MOBILE,
        u.EMAIL,
        u.STATUS,
        u.REMARK,
        DECODE(u.STATUS, '1', '在用', '停用') STATUS_LABEL,
        u.PSD_UPD_DATE,
        u.SORT_NUM,
        u.UPDATE_TIME,
        u.CREATE_TIME,
        u.POST_CODE,
        u.POST_NAME,
        u.UNIT_TYPE_CODE,
        u.UNIT_TYPE_NAME,
        d.DEPT_NAME
        FROM
        SYS_USER u JOIN SYS_DEPT d ON u.DEPT_ID = d.ID
        AND  d.ID IN
		(		SELECT ID FROM (
		 SELECT ID,DEPT_LEVEL,DEPT_NAME FROM SYS_DEPT  START WITH ID =
		 	   ( SELECT ID FROM 	(
        SELECT ID,DEPT_LEVEL,DEPT_NAME FROM SYS_DEPT  START WITH ID =(SELECT ID FROM SYS_DEPT WHERE ID =
         (  SELECT DEPT_ID FROM sys_user WHERE ID = #{userId,jdbcTypeName=BIGINT} )
         )
        CONNECT BY PRIOR  PARENT_ID = ID
         )WHERE DEPT_LEVEL = '2')
        CONNECT BY PRIOR  ID	= PARENT_ID
				) WHERE DEPT_LEVEL IN (3,4)
		) where u.STATUS = '1'
    </select>

    <select id="getDeptByCompany" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        select *
        from SYS_DEPT
        where PARENT_IDS like concat(concat('%', #{companyId}), '%')
                or PARENT_ID = #{companyId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <delete id="deleteOldAttendance" parameterType="com.yy.ppm.produce.bean.dto.TPrdAttendanceDTO">
        DELETE FROM
            T_PRD_ATTENDANCE
        WHERE COMPANY_NAME like concat(concat('%', #{companyName}), '%')
                and DEPT_ID = #{deptId}
                and WORK_DATE =#{workDate}
                and CLASS_NAME = #{className}
    </delete>

    <select id="getDeptByCompanyLever2" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
    SELECT
       t1.id,
       t1.DEPT_NAME AS deptName
    FROM
    SYS_DEPT t1
    LEFT JOIN SYS_DEPT t ON t1.PARENT_ID = t.id AND t.DEPT_LEVEL = 1
    WHERE
	    (t1.DEPT_LEVEL = 3 OR t1.DEPT_LEVEL = 4)
    AND t.STATUS = '1'
    AND t1.STATUS = '1'
    <if test="companyId != null">
	    AND t1.PARENT_IDS like concat(concat('%', #{companyId}), '%')
	                or t.PARENT_ID = #{companyId}
    </if>
    </select>
    <select id="getDeptByCompanyLever3" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
    SELECT
        t2.id,
        t2.DEPT_NAME AS deptName
    FROM
        SYS_DEPT t2
        LEFT JOIN SYS_DEPT t1 ON  t2.PARENT_ID = t1.id  AND t1.DEPT_LEVEL = 2
        LEFT JOIN SYS_DEPT t ON  t1.PARENT_ID = t.id  AND t.DEPT_LEVEL = 1
    WHERE
         (t2.DEPT_LEVEL = 3 OR t2.DEPT_LEVEL = 4)
    AND t.STATUS = '1'
    AND t1.STATUS = '1'
    AND t2.STATUS = '1'
    <if test="companyId != null">
	    AND t2.PARENT_IDS like concat(concat('%', #{companyId}), '%')
	                or t1.PARENT_ID = #{companyId}
    </if>
    </select>
    <!--<select id="getDeptByLoginUserId" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        SELECT
        t2.id,
        t2.DEPT_NAME AS deptName
        FROM
        SYS_DEPT t2
        LEFT JOIN SYS_DEPT t1 ON  t2.PARENT_ID = t1.id  AND t1.DEPT_LEVEL = 2
        WHERE
        t2.DEPT_LEVEL IN (2,3,4)
        AND t1.STATUS = '1'
        AND t2.STATUS = '1'
        AND t1.ID IN (
        SELECT
        s1.ID
        FROM SYS_DEPT s1 LEFT JOIN SYS_DEPT  s2  ON s2.PARENT_ID = s1.ID AND S1.DEPT_LEVEL = 2
        WHERE s2.ID = (  SELECT DEPT_ID FROM sys_user WHERE ID = #{userId,jdbcTypeName=BIGINT})
        )
    </select>-->
    <select id="getDeptByLoginUserId" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        SELECT * FROM 	(
        SELECT ID,DEPT_NAME,DEPT_LEVEL FROM
        SYS_DEPT
        START WITH ID =(SELECT ID FROM SYS_DEPT WHERE ID = (  SELECT DEPT_ID FROM sys_user WHERE ID = #{userId,jdbcTypeName=BIGINT} ))
        CONNECT BY PRIOR  ID=PARENT_ID
         )WHERE DEPT_LEVEL IN (3,4)
    </select>

    <select id="getCompanyClassByUserId" resultType="com.yy.ppm.produce.bean.dto.CompanyClassResDTO">

        SELECT ID,DEPT_NAME,DEPT_LEVEL FROM
        SYS_DEPT
        START WITH ID = (SELECT ID FROM SYS_DEPT WHERE ID = (  SELECT DEPT_ID FROM sys_user WHERE ID = #{userId,jdbcTypeName=BIGINT})) CONNECT BY PRIOR  PARENT_ID=ID
    </select>

    <select id="getDeptLevel2ByDeptId" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        SELECT * FROM ( SELECT ID,DEPT_NAME,DEPT_LEVEL FROM SYS_DEPT START WITH ID = (SELECT ID FROM SYS_DEPT WHERE ID = #{deptId,jdbcType=VARCHAR}) CONNECT BY PRIOR  PARENT_ID=ID)
        WHERE DEPT_LEVEL = '2'
    </select>
    <select id="getUserName" resultType="com.yy.ppm.system.bean.dto.SysUserDTO">
        SELECT
		SU.USER_NAME,SU.ID
        FROM
        SYS_ROLE C left join  SYS_ROLE_USER SRU on C.id = SRU.ROLE_ID
		left JOIN  SYS_USER  SU on SU.ID = SRU.USER_ID
		WHERE C.ROLE_CODE = 'CQDMZBZR' and SU.STATUS = '1'
    </select>
</mapper>

