<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdWorkPlanTrustMapper">

    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.produce.bean.dto.TPrdWorkPlanTrustDTO" parameterType="java.lang.Long">
        SELECT
            T1.ID,
            T1.WORK_PLAN_ID,
            T1.TRUST_ID,
            T1.CREATE_BY,
            T1.CREATE_BY_NAME,
            T1.CREATE_TIME,
            T1.UPDATE_BY,
            T1.UPDATE_BY_NAME,
            T1.UPDATE_TIME
        FROM
            T_PRD_WORK_PLAN_TRUST T1
        <where>
            <if test="workPlanId != null">
                and T1.WORK_PLAN_ID = #{workPlanId}
            </if>
        </where>
    </select>

    <!-- 批量新增 -->
    <insert id="insertBatch">
        INSERT INTO T_PRD_WORK_PLAN_TRUST(
            ID,
            WORK_PLAN_ID,
            TRUST_ID,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME
        ) (
          <foreach collection="list" item="item"  open="" close="" separator=" UNION ALL " >
                SELECT
                     #{item.id, jdbcType=VARCHAR},
                     #{item.workPlanId, jdbcType=VARCHAR},
                     #{item.trustId, jdbcType=VARCHAR},
                     #{loginUserId, jdbcType=BIGINT},
                     #{loginUserName, jdbcType=VARCHAR},
                     #{now}
                FROM DUAL
          </foreach>
        )
    </insert>

    <!-- 批量删除 -->
   <delete id="deleteByWorkPlanIds" parameterType="java.lang.Long">
        DELETE FROM
            T_PRD_WORK_PLAN_TRUST
       <where>
            <foreach collection="ids" open="AND WORK_PLAN_ID IN (" separator="," item="id" close=")">
                #{id, jdbcType=VARCHAR}
            </foreach>
        </where>
    </delete>
</mapper>

