<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdShipAdjustMapper">

    <resultMap id="listGroupMap" type="com.yy.ppm.produce.bean.po.TPrdGroupPO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="groupName" column="GROUP_NAME" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="processCode" column="PROCESS_CODE" jdbcType="VARCHAR"/>
        <result property="processName" column="PROCESS_NAME" jdbcType="VARCHAR"/>
        <result property="planTypeCd" column="PLAN_TYPE_CD" jdbcType="VARCHAR"/>
        <result property="planTypeName" column="PLAN_TYPE_NAME" jdbcType="VARCHAR"/>
        <result property="salaryTypeCode" column="SALARY_TYPE_CODE" jdbcType="VARCHAR"/>
        <result property="salaryTypeName" column="SALARY_TYPE_NAME" jdbcType="VARCHAR"/>
        <collection property="detailPOList" ofType="com.yy.ppm.produce.bean.po.TPrdGroupDetailPO"
                    select="com.yy.ppm.produce.mapper.TPrdGroupMapper.getDetailList" column="{id=id}">
        </collection>
    </resultMap>

    <resultMap id="listWorkTicketDetail" type="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="trustId" column="TRUST_ID" jdbcType="BIGINT"/>
        <result property="trustCargoInfoId" column="TRUST_CARGO_INFO_ID" jdbcType="BIGINT"/>
        <result property="cargoInfoId" column="CARGO_INFO_ID" jdbcType="BIGINT"/>
        <result property="targetCargoInfoId" column="TARGET_CARGO_INFO_ID" jdbcType="BIGINT"/>
        <result property="processCode" column="PROCESS_CODE" jdbcType="VARCHAR"/>
        <result property="processName" column="PROCESS_NAME" jdbcType="VARCHAR"/>
        <result property="processDetailCode" column="PROCESS_DETAIL_CODE" jdbcType="VARCHAR"/>
        <result property="processDetailName" column="PROCESS_DETAIL_NAME" jdbcType="VARCHAR"/>
        <result property="pieceWorkTeamId" column="PIECE_WORK_TEAM_ID" jdbcType="BIGINT"/>
        <result property="deptId" column="DEPT_ID" jdbcType="BIGINT"/>
        <result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="cargoCode" column="CARGO_CODE" jdbcType="VARCHAR"/>
        <result property="cargoName" column="CARGO_NAME" jdbcType="VARCHAR"/>
        <result property="shipvoyageId" column="SHIPVOYAGE_ID" jdbcType="BIGINT"/>
        <result property="shipvoyageItemId" column="SHIPVOYAGE_ITEM_ID" jdbcType="BIGINT"/>
        <result property="hatch" column="HATCH" jdbcType="VARCHAR"/>
        <result property="storehouseIdSource" column="STOREHOUSE_ID_SOURCE" jdbcType="BIGINT"/>
        <result property="storehouseNameSource" column="STOREHOUSE_NAME_SOURCE" jdbcType="VARCHAR"/>
        <result property="regionIdSource" column="REGION_ID_SOURCE" jdbcType="BIGINT"/>
        <result property="regionNameSource" column="REGION_NAME_SOURCE" jdbcType="VARCHAR"/>
        <result property="massIdSource" column="MASS_ID_SOURCE" jdbcType="BIGINT"/>
        <result property="massNameSource" column="MASS_NAME_SOURCE" jdbcType="VARCHAR"/>
        <result property="storehouseIdTarget" column="STOREHOUSE_ID_TARGET" jdbcType="BIGINT"/>
        <result property="storehouseNameTarget" column="STOREHOUSE_NAME_TARGET" jdbcType="VARCHAR"/>
        <result property="regionIdTarget" column="REGION_ID_TARGET" jdbcType="BIGINT"/>
        <result property="regionNameTarget" column="REGION_NAME_TARGET" jdbcType="VARCHAR"/>
        <result property="massIdTarget" column="MASS_ID_TARGET" jdbcType="BIGINT"/>
        <result property="massNameTarget" column="MASS_NAME_TARGET" jdbcType="VARCHAR"/>
        <result property="carCount" column="CAR_COUNT" jdbcType="INTEGER"/>
        <result property="quantity" column="QUANTITY" jdbcType="INTEGER"/>
        <result property="ton" column="TON" jdbcType="DECIMAL"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="BIGINT"/>
        <result property="createByName" column="CREATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="BIGINT"/>
        <result property="updateByName" column="UPDATE_BY_NAME" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="workTicketId" column="WORK_TICKET_ID" jdbcType="BIGINT"/>
        <result property="workHour" column="WORK_HOUR" jdbcType="INTEGER"/>
        <result property="startTime" column="START_TIME" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
        <result property="isSettLe" column="IS_SETTLE" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="list" resultType="com.yy.ppm.statement.bean.dto.busHandoverlist.TBusHandoverlistDTO">
        SELECT A1.ID,
        A1.SHIP_NAME,
        A2.ID shipvoyageItemId,
        A2.IMP_EXP,
        A2.TRADE_TYPE,
        A2.LOAD_UNLOAD,
        A2.VOYAGE,
        A2.CUSTOMER_ID,
        A2.CUSTOMER_NAME,
        SUM(A3.TON) TON
        FROM T_DIS_SHIPVOYAGE A1
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM A2 ON A1.ID = A2.SHIPVOYAGE_ID
        LEFT JOIN T_BUS_HANDOVERLIST A3 ON A3.SHIPVOYAGE_ITEM_ID = A2.ID
        WHERE A2.ID IS NOT NULL
        <if test="shipvoyageItemId != null">
            AND A2.ID = #{shipvoyageItemId, jdbcType=BIGINT}
        </if>
        <if test="shipName!=null and shipName !=''">
            <bind name="shipName_like" value="'%'+shipName+'%'"/>
            AND A1.SHIP_NAME LIKE #{shipName_like}
        </if>
        <if test="voyage!=null and voyage !=''">
            <bind name="voyage_like" value="'%'+voyage+'%'"/>
            AND A2.VOYAGE LIKE #{voyage_like}
        </if>
        GROUP BY
        A1.ID,
        A1.SHIP_NAME,
        A2.ID,
        A2.IMP_EXP,
        A2.TRADE_TYPE,
        A2.LOAD_UNLOAD,
        A2.VOYAGE,
        A2.CUSTOMER_ID,
        A2.CUSTOMER_NAME
    </select>

    <select id="listTicket" resultMap="listWorkTicketDetail">
        SELECT
              A2.ID,
			  A2.TRUST_ID,
              A2.TRUST_CARGO_INFO_ID,
              A2.CARGO_INFO_ID,
              A2.TARGET_CARGO_INFO_ID,
              A2.PROCESS_CODE,
              A2.PROCESS_NAME,
              A2.PROCESS_DETAIL_CODE,
              A2.PROCESS_DETAIL_NAME,
              A2.PIECE_WORK_TEAM_ID,
              A2.DEPT_ID,
              A2.DEPT_NAME,
              A2.CARGO_CODE,
              A2.CARGO_NAME,
              A2.SPEC_CODE,
              A2.SPEC_NAME,
              A2.SHIPVOYAGE_ID,
              A2.SHIPVOYAGE_ITEM_ID,
              A2.HATCH,
              A2.STOREHOUSE_ID_SOURCE,
              A2.STOREHOUSE_NAME_SOURCE,
              A2.REGION_ID_SOURCE,
              A2.REGION_NAME_SOURCE,
              A2.MASS_ID_SOURCE,
              A2.MASS_NAME_SOURCE,
              A2.STOREHOUSE_ID_TARGET,
              A2.STOREHOUSE_NAME_TARGET,
              A2.REGION_ID_TARGET,
              A2.REGION_NAME_TARGET,
              A2.MASS_ID_TARGET,
              A2.MASS_NAME_TARGET,
              A2.CAR_COUNT,
              A2.QUANTITY,
              A2.TON,
              A2.REMARK,
              A2.CREATE_BY,
              A2.CREATE_BY_NAME,
              A2.CREATE_TIME,
              A2.UPDATE_BY,
              A2.UPDATE_BY_NAME,
              A2.UPDATE_TIME,
              A2.WORK_HOUR,
              A2.START_TIME,
              A2.END_TIME,
			  A4.IS_SETTLE
        FROM T_PRD_WORK_TICKET A1 LEFT JOIN T_PRD_WORK_TICKET_DETAIL A2 ON A1.ID = A2.WORK_TICKET_ID
        LEFT JOIN M_WORK_PROCESS A3 ON A2.PROCESS_CODE = A3.PROCESS_CD
        LEFT JOIN M_WORK_PROCESS A4 ON A2.PROCESS_DETAIL_CODE = A4.PROCESS_CD
        WHERE
        WORK_PLAN_ID IN (SELECT
			ID
		FROM
			T_PRD_WORK_PLAN
		WHERE
			SHIPVOYAGE_ITEM_ID = #{shipvoyageItemId,jdbcType=BIGINT}) AND (A3.TARGET_CD = '05' OR A3.SOURCE_CD = '05')
    </select>

    <select id="getSalaryList" resultType="com.yy.ppm.produce.bean.po.TPrdSalaryPO">
        SELECT ID,
        WORK_TICKET_DETAIL_ID,
        COMPANY_ID,
        COMPANY_NAME,
        WORK_DATE,
        CLASS_CODE,
        CLASS_NAME,
        PIECE_PROJECT_CODE,
        PIECE_PROJECT_NAME,
        PROCESS_DETAIL_CODE,
        PROCESS_DETAIL_NAME,
        DEPT_ID,
        DEPT_NAME,
        USER_BY,
        USER_BY_NAME,
        COEFFICIENT,
        SALARY_PRICE_ID,
        PRICE,
        QUANTITY,
        TON,
        AMOUNT,
        SALARY_STATUS_CODE,
        SALARY_STATUS_NAME,
        REMARK,
        SALARY_SUMMARY_ID,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        EXAMINE_BY,
        EXAMINE_BY_NAME,
        EXAMINE_TIME
        FROM T_PRD_SALARY
        where WORK_TICKET_DETAIL_ID = #{id,jdbcType=BIGINT}
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="getStorageDetailList" resultType="com.yy.ppm.produce.bean.po.TPrdPortStorageDetailPO">
        SELECT ID,
        PORT_STORAGE_ID,
        CARGO_INFO_ID,
        WORK_DATE,
        CLASS_CODE,
        CLASS_CODE,
        PROCESS_DETAIL_CODE,
        PROCESS_DETAIL_NAME,
        STOREHOUSE_ID,
        STOREHOUSE_NAME,
        REGION_ID,
        REGION_NAME,
        MASS_ID,
        MASS_NAME,
        QUANTITY,
        TON,
        INOUT_TYPE,
        INOUT_STORAGE_CODE,
        INOUT_STORAGE_NAME,
        WORK_TICKET_ID,
        WORK_TICKET_DETAIL_ID,
        CARGO_TALLY_ID,
        CARGO_TALLY_DETAIL_ID,
        INOUT_DATE,
        COMPANY_ID,
        COMPANY_NAME,
        CLEAN_MASS_SIGN
        FROM T_PRD_PORT_STORAGE_DETAIL
        where WORK_TICKET_DETAIL_ID = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateTon" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" separator=";" close=";end;" >
            UPDATE
            T_PRD_WORK_TICKET_DETAIL
            SET
            TON = #{item.ton,jdbcType=VARCHAR},
            UPDATE_BY = #{item.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{item.now}
            <where>
                id = #{item.id}
            </where>
        </foreach>
    </update>
    <update id="updateSalaryList" >
        <foreach collection="list" item="item" index="index" open="begin" separator=";" close=";end;">
            UPDATE
            T_PRD_SALARY
            SET
            TON = #{item.ton,jdbcType=VARCHAR},
            UPDATE_BY = #{item.loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{item.now}
            <where>
                id = #{item.id}
            </where>
        </foreach>
    </update>

<!--    获取指定船名航次下的作业票-->
    <select id="getTicketByShipVoyageItemID" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
    SELECT
       TPWTD.ID,
       TPWT.ID "tpwtId",
       TPWT.WORK_PLAN_ID,
       TBT.TRUST_NO,
       TPWT.WORK_DATE,
       TPWT.CLASS_CODE,
       TPWT.CLASS_NAME,
       TDS.SHIP_NAME || '_' || TDSI.VOYAGE "shipVoyageName",
       TDSI.LOAD_UNLOAD,
       TPWTD.CARGO_NAME,
       TPWTD.CARGO_CODE,
       TPWTD.PROCESS_CODE,
       TPWTD.PROCESS_NAME,
       TPWTD.PROCESS_DETAIL_CODE,
       TPWTD.PROCESS_DETAIL_NAME,
       TPWTD.CARGO_CODE,
       TPWTD.DEPT_ID,
       TPWTD.DEPT_NAME,
       TPWT.PERSONNEL_ID,
       TPWT.PERSONNEL_NAME,
       TPWTD.WORK_TON,
       TPWTD.TON,
       TPWTD.QUANTITY,
       TPWTD.PERSONNEL_ID,
       TPWTD.STOREHOUSE_NAME_SOURCE||'/'||TPWTD.REGION_NAME_SOURCE||'/'||TPWTD.MASS_NAME_SOURCE SRMS,
       TPWTD.STOREHOUSE_NAME_TARGET||'/'||TPWTD.REGION_NAME_TARGET||'/'||TPWTD.MASS_NAME_TARGET SRMT,
       TPWTD.START_TIME,
       TPWTD.END_TIME,
       TPWTE.EQUIPMENT_TYPE_NAME,

       TPWTE.EQUIPMENT_NO
        FROM
        T_PRD_WORK_TICKET TPWT
        LEFT JOIN T_PRD_WORK_TICKET_DETAIL TPWTD ON TPWTD.WORK_TICKET_ID = TPWT.ID and TPWT.TYPE = '1'
        LEFT JOIN T_BUS_TRUST TBT ON TPWTD.TRUST_ID = TBT.ID
        left join T_DIS_SHIPVOYAGE TDS on  TDS.ID = TPWTD.SHIPVOYAGE_ID
        left join T_DIS_SHIPVOYAGE_ITEM TDSI on  TDSI.ID = TPWTD.SHIPVOYAGE_ITEM_ID
        LEFT JOIN (
        select
        REGEXP_REPLACE( LISTAGG ( TO_CHAR( EQUIPMENT_TYPE_NAME ), ',' ) WITHIN GROUP ( ORDER BY EQUIPMENT_TYPE_NAME ),'([^,]+)(,\1)+', '\1' ) EQUIPMENT_TYPE_NAME,
        REGEXP_REPLACE( LISTAGG ( TO_CHAR( EQUIPMENT_NO ), ',' ) WITHIN GROUP ( ORDER BY EQUIPMENT_NO ),'([^,]+)(,\1)+', '\1' ) EQUIPMENT_NO
        ,WORK_TICKET_DETAIL_ID
        FROM T_PRD_WORK_TICKET_EQUIPMENT
        GROUP BY WORK_TICKET_DETAIL_ID
        ) TPWTE ON TPWTD.ID= TPWTE.WORK_TICKET_DETAIL_ID
        <where>
            TPWTD.DEPT_ID IS NOT NULL and TICKET_TYPE = '2'
            <if test="shipItemID != null">
                AND TPWTD.SHIPVOYAGE_ITEM_ID = #{shipItemID,jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY TPWT.WORK_DATE ASC, TPWT.CLASS_CODE ASC
    </select>
<!--    获取指定船名航次下的作业票-->
    <select id="getTicketDetailByDetailIds" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        SELECT ID,
        TRUST_ID,
        WORK_TICKET_ID,
        TRUST_CARGO_INFO_ID,
        CARGO_INFO_ID,
        TARGET_CARGO_INFO_ID,
        PROCESS_CODE,
        PROCESS_NAME,
        PROCESS_DETAIL_CODE,
        PROCESS_DETAIL_NAME,
        PIECE_WORK_TEAM_ID,
        DEPT_ID,
        DEPT_NAME,
        CARGO_CODE,
        CARGO_NAME,
        SPEC_CODE,
        SPEC_NAME,
        SHIPVOYAGE_ID,
        SHIPVOYAGE_ITEM_ID,
        HATCH,
        STOREHOUSE_ID_SOURCE,
        STOREHOUSE_NAME_SOURCE,
        REGION_ID_SOURCE,
        REGION_NAME_SOURCE,
        MASS_ID_SOURCE,
        MASS_NAME_SOURCE,
        STOREHOUSE_ID_TARGET,
        STOREHOUSE_NAME_TARGET,
        REGION_ID_TARGET,
        REGION_NAME_TARGET,
        MASS_ID_TARGET,
        MASS_NAME_TARGET,
        CAR_COUNT,
        QUANTITY,
        TON,
        REMARK,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        WORK_HOUR,
        TO_CHAR(START_TIME,'yyyy-mm-dd hh24:mi') START_TIME,
        TO_CHAR(END_TIME,'yyyy-mm-dd hh24:mi') END_TIME,
        GROUP_ID,
        GROUP_NAME,
        PERSONNEL_ID,
        PERSONNEL_NAME,
        WORK_TON
        FROM
        T_PRD_WORK_TICKET_DETAIL
        where ID IN
            <foreach collection="list" open="(" separator="," item="id" close=")">
                #{id, jdbcType=BIGINT}
            </foreach>
    </select>
    <select id="getTicketDetailByTicketId" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        SELECT
        SUM(QUANTITY)  QUANTITY,
        SUM(TON) TON
        FROM
        T_PRD_WORK_TICKET_DETAIL TPWTD
        LEFT JOIN M_WORK_PROCESS MWP  ON  MWP.PROCESS_CD = TPWTD.PROCESS_DETAIL_CODE AND MWP.IS_TALLY_TON = '1'
        WHERE WORK_TICKET_ID = #{id,jdbcType=BIGINT}
        GROUP BY WORK_TICKET_ID
    </select>


    <select id="getTicketByIds" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDTO">
        SELECT * FROM T_PRD_WORK_TICKET
        where ID IN
        <foreach collection="list" open="(" separator="," item="id" close=")">
            #{id, jdbcType=BIGINT}
        </foreach>
    </select>
    <select id="getTicketById" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDTO">
        SELECT * FROM T_PRD_WORK_TICKET
        where ID  = #{id, jdbcType=BIGINT}
    </select>
    <update id="updateWorkTicketBatch">
        begin
        <foreach collection="list" item="item" separator=" ">
            UPDATE
            T_PRD_WORK_TICKET_DETAIL SET
            TON = #{item.ton,jdbcType=VARCHAR},
            QUANTITY = #{item.quantity, jdbcType=BIGINT}
            <where>
                ID = #{item.id,jdbcType=VARCHAR}
            </where>;
        </foreach>
        end;
    </update>
    <update id="updateTicket">
        update   T_PRD_WORK_TICKET SET TON = #{ton,jdbcType=VARCHAR}, QUANTITY = #{quantity, jdbcType=BIGINT}
        <where>
            ID = #{workTicketId,jdbcType=VARCHAR}
        </where>
    </update>

    <select id="getProcessInfo" resultType="java.lang.String">
        select IS_TALLY_TON FROM M_WORK_PROCESS
        WHERE PROCESS_CD  = #{processCd,jdbcType=VARCHAR}
    </select>

    <select id="getWorkPlanId" resultType="Long">
        select WORK_PLAN_ID FROM T_PRD_WORK_TICKET
        WHERE ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="getDeptLevel2ByDeptId" resultType="com.yy.ppm.system.bean.dto.SysDeptDTO">
        SELECT * FROM ( SELECT ID,DEPT_NAME,DEPT_LEVEL,IS_MACHINE FROM SYS_DEPT START WITH ID = (SELECT ID FROM SYS_DEPT WHERE ID = #{deptId,jdbcType=VARCHAR}) CONNECT BY PRIOR  PARENT_ID=ID)
        WHERE DEPT_LEVEL = '2'
    </select>
</mapper>