<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdHqInOutwareMapper">

    <select id="getExportList" resultType="com.yy.ppm.produce.bean.dto.TPrdHqInOutwareExportDTO">
        SELECT
        thd.ID,
        MAX(tyt.CREATE_TIME) AS CREATE_TIME,
        MAX(tbci.CARGO_OWNER_NAME) AS CARGO_OWNER_NAME,
        --         LISTAGG (TO_CHAR(tpwp.PLAN_NO),',') WITHIN GROUP (ORDER BY tpwp.PLAN_NO) PLAN_NO,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(tpwp.PLAN_NO), ',') WITHIN GROUP (ORDER BY tpwp.PLAN_NO),'([^,]+)(,\1)+','\1') AS PLAN_NO,
        MAX(tbci.CARGO_INFO_NO) AS CARGO_INFO_NO,
        MAX(tbci.CARGO_NAME) AS CARGO_NAME,
        MAX(thd.CARGO_NAME) AS hqCargoName,
        MAX(thd.PQ_NO) AS PQ_NO,
        MAX(thd.QUANTITY) AS QUANTITY,
        MAX(thd.TON) AS TON,
        MAX(thd.HQ_LENGTH) AS HQ_LENGTH,
        MAX(thd.WIDTH) AS WIDTH,
        MAX(thd.HEIGHT) AS HEIGHT,
        MAX(thd.VOLUME) AS VOLUME,
        (SELECT MAX(tyti.STACK_POSITION_NAME) KEEP (DENSE_RANK LAST ORDER BY tyti.CREATE_TIME)
        FROM T_YARD_TALLY_ITEM tyti
        JOIN T_YARD_TALLY tyt ON tyti.TALLY_ID = tyt.id
        JOIN T_HQ_TALLY tht ON tyt.id = tht.TALLY_ID
        WHERE tht.HQ_DATA_ID = thd.id
        ) AS STACK_POSITION_NAME,
        MAX(thd.YARD_NAME) AS YARD_NAME,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(tyt.TRANSPORT_EQUIPMENT_NO), ',') WITHIN GROUP (ORDER BY tyt.TRANSPORT_EQUIPMENT_NO),'([^,]+)(,\1)+','\1') AS TRANSPORT_EQUIPMENT_NO,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(tyt.CREATE_BY_NAME), ',') WITHIN GROUP (ORDER BY tyt.CREATE_BY_NAME),'([^,]+)(,\1)+','\1') AS CREATE_BY_NAME,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(wrp.WEIGHT_SELF), '/') WITHIN GROUP (ORDER BY wrp.WEIGHT_SELF),'([^/]+)(/\1)+','\1') AS WEIGHT_SELF,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(wrp.WEIGHT_ALL), '/') WITHIN GROUP (ORDER BY wrp.WEIGHT_ALL),'([^/]+)(/\1)+','\1') AS WEIGHT_ALL,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(wrp.WEIGHT_GOODS), '/') WITHIN GROUP (ORDER BY wrp.WEIGHT_GOODS),'([^/]+)(/\1)+','\1') AS WEIGHT_GOODS,
        --    MAX(wrp.WEIGHT_SELF) AS WEIGHT_SELF,
        --    MAX(wrp.WEIGHT_ALL) AS WEIGHT_ALL,
        --    MAX(wrp.WEIGHT_GOODS) AS WEIGHT_GOODS,
        MIN(wrp.WEIGH_IN_DT) AS WEIGH_IN_DT,
        MAX(wrp.WEIGH_OUT_DT) AS WEIGH_OUT_DT,
        CASE
        WHEN MAX(thd.STATUS) = '10' THEN '入库'
        WHEN MAX(thd.STATUS) = '20' THEN '出库'
        WHEN MAX(thd.STATUS) = '0'  THEN '未入库'
        ELSE ''  -- 可選：處理其他未定義狀態
        END AS STATUS,
        MIN(thd.IN_PORT_TIME) AS IN_PORT_TIME,
        MAX(thd.IN_PORT_NAME) AS IN_PORT_NAME,
        MAX(thd.OUT_PORT_TIME) AS OUT_PORT_TIME,
        MAX(thd.OUT_PORT_NAME) AS OUT_PORT_NAME,
        MAX(
        CASE
        WHEN thd.IN_SHIP_NAME IS NOT NULL AND thd.IN_VOYAGE IS NOT NULL
        THEN thd.IN_SHIP_NAME || '_' || thd.IN_VOYAGE
        WHEN thd.IN_SHIP_NAME IS NOT NULL THEN thd.IN_SHIP_NAME
        WHEN thd.IN_VOYAGE IS NOT NULL THEN thd.IN_VOYAGE
        ELSE NULL
        END
        ) AS inShipVoyage,

        MAX(
        CASE
        WHEN thd.OUT_SHIP_NAME IS NOT NULL AND thd.OUT_VOYAGE IS NOT NULL
        THEN thd.OUT_SHIP_NAME || '_' || thd.OUT_VOYAGE
        WHEN thd.OUT_SHIP_NAME IS NOT NULL THEN thd.OUT_SHIP_NAME
        WHEN thd.OUT_VOYAGE IS NOT NULL THEN thd.OUT_VOYAGE
        ELSE NULL
        END
        ) AS outShipVoyage
        FROM
        T_HQ_DATA thd
        LEFT JOIN
        T_HQ_TALLY tht ON thd.id = tht.HQ_DATA_ID
        LEFT JOIN
        T_YARD_TALLY tyt ON tyt.id = tht.TALLY_ID
        LEFT JOIN
        T_YARD_TALLY_ITEM tyti ON TYT.id = tyti.TALLY_ID
        LEFT JOIN
        (SELECT
        ID,
        REGEXP_REPLACE ( LISTAGG (TO_CHAR(CARGO_INFO_NO), ',') WITHIN GROUP (ORDER BY CARGO_INFO_NO), '([^,]+)(,\1)+', '\1' ) CARGO_INFO_NO,
        REGEXP_REPLACE ( LISTAGG (TO_CHAR(CARGO_NAME), ',') WITHIN GROUP (ORDER BY CARGO_NAME), '([^,]+)(,\1)+', '\1' ) CARGO_NAME,
        CARGO_OWNER_NAME
        FROM
        T_BUS_CARGO_INFO
        GROUP BY
        CARGO_INFO_NO, CARGO_NAME, ID, CARGO_OWNER_NAME ) tbci
        ON tbci.id = tyti.CARGO_INFO_ID
        LEFT JOIN
        T_PRD_WORK_PLAN tpwp ON tpwp.id = tyt.PLAN_ID
        LEFT JOIN
        WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp ON wrp.NOTE_ID = TYT.WEIGHBRIDGE_ID
        <where>
            <if test="beginDate != null">
                TO_DATE(TO_CHAR(tyt.CREATE_TIME, 'YYYY-MM-DD'), 'YYYY-MM-DD') >= #{beginDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                AND TO_DATE(TO_CHAR(tyt.CREATE_TIME, 'YYYY-MM-DD'), 'YYYY-MM-DD') &lt;= #{endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="cargoName != null and cargoName != ''">
                <bind name="cargoNameLike" value="'%' + cargoName + '%'"/>
                and thd.CARGO_NAME LIKE #{cargoNameLike}
            </if>
            <if test="cargoInfoNo != null and cargoInfoNo != ''">
                <bind name="cargoInfoNoLike" value="'%' + cargoInfoNo + '%'"/>
                and tbci.CARGO_INFO_NO LIKE #{cargoInfoNoLike}
            </if>
            <if test="pqNo != null and pqNo != ''">
                <bind name="pqNoLike" value="'%' + pqNo + '%'"/>
                AND thd.PQ_NO LIKE  #{pqNoLike,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY
        thd.ID
    </select>
    <select id="getList" resultType="com.yy.ppm.produce.bean.dto.TPrdHqInOutwareDTO">
        SELECT
        thd.ID,
        MAX(tyt.CREATE_TIME) AS CREATE_TIME,
        MAX(tbci.CARGO_OWNER_NAME) AS CARGO_OWNER_NAME,
--         LISTAGG (TO_CHAR(tpwp.PLAN_NO),',') WITHIN GROUP (ORDER BY tpwp.PLAN_NO) PLAN_NO,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(tpwp.PLAN_NO), ',') WITHIN GROUP (ORDER BY tpwp.PLAN_NO),'([^,]+)(,\1)+','\1') AS PLAN_NO,
        MAX(tbci.CARGO_INFO_NO) AS CARGO_INFO_NO,
        MAX(tbci.CARGO_NAME) AS CARGO_NAME,
        MAX(thd.CARGO_NAME) AS hqCargoName,
        MAX(thd.PQ_NO) AS PQ_NO,
        MAX(thd.QUANTITY) AS QUANTITY,
        MAX(thd.TON) AS TON,
        MAX(thd.HQ_LENGTH) AS HQ_LENGTH,
        MAX(thd.WIDTH) AS WIDTH,
        MAX(thd.HEIGHT) AS HEIGHT,
        MAX(thd.VOLUME) AS VOLUME,
        (SELECT MAX(tyti.STACK_POSITION_NAME) KEEP (DENSE_RANK LAST ORDER BY tyti.CREATE_TIME)
        FROM T_YARD_TALLY_ITEM tyti
        JOIN T_YARD_TALLY tyt ON tyti.TALLY_ID = tyt.id
        JOIN T_HQ_TALLY tht ON tyt.id = tht.TALLY_ID
        WHERE tht.HQ_DATA_ID = thd.id
        ) AS STACK_POSITION_NAME,
        MAX(thd.YARD_NAME) AS YARD_NAME,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(tyt.TRANSPORT_EQUIPMENT_NO), ',') WITHIN GROUP (ORDER BY tyt.TRANSPORT_EQUIPMENT_NO),'([^,]+)(,\1)+','\1') AS TRANSPORT_EQUIPMENT_NO,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(tyt.CREATE_BY_NAME), ',') WITHIN GROUP (ORDER BY tyt.CREATE_BY_NAME),'([^,]+)(,\1)+','\1') AS CREATE_BY_NAME,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(wrp.WEIGHT_SELF), '/') WITHIN GROUP (ORDER BY wrp.WEIGHT_SELF),'([^/]+)(/\1)+','\1') AS WEIGHT_SELF,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(wrp.WEIGHT_ALL), '/') WITHIN GROUP (ORDER BY wrp.WEIGHT_ALL),'([^/]+)(/\1)+','\1') AS WEIGHT_ALL,
        REGEXP_REPLACE(LISTAGG(TO_CHAR(wrp.WEIGHT_GOODS), '/') WITHIN GROUP (ORDER BY wrp.WEIGHT_GOODS),'([^/]+)(/\1)+','\1') AS WEIGHT_GOODS,
        --    MAX(wrp.WEIGHT_SELF) AS WEIGHT_SELF,
        --    MAX(wrp.WEIGHT_ALL) AS WEIGHT_ALL,
        --    MAX(wrp.WEIGHT_GOODS) AS WEIGHT_GOODS,
        MIN(wrp.WEIGH_IN_DT) AS WEIGH_IN_DT,
        MAX(wrp.WEIGH_OUT_DT) AS WEIGH_OUT_DT,
        MAX(thd.STATUS) AS STATUS,
        MIN(thd.IN_PORT_TIME) AS IN_PORT_TIME,
        MAX(thd.IN_PORT_NAME) AS IN_PORT_NAME,
        MAX(thd.OUT_PORT_TIME) AS OUT_PORT_TIME,
        MAX(thd.OUT_PORT_NAME) AS OUT_PORT_NAME,
        MAX(
        CASE
        WHEN thd.IN_SHIP_NAME IS NOT NULL AND thd.IN_VOYAGE IS NOT NULL
        THEN thd.IN_SHIP_NAME || '_' || thd.IN_VOYAGE
        WHEN thd.IN_SHIP_NAME IS NOT NULL THEN thd.IN_SHIP_NAME
        WHEN thd.IN_VOYAGE IS NOT NULL THEN thd.IN_VOYAGE
        ELSE NULL
        END
        ) AS inShipVoyage,
        MAX(
        CASE
        WHEN thd.OUT_SHIP_NAME IS NOT NULL AND thd.OUT_VOYAGE IS NOT NULL
        THEN thd.OUT_SHIP_NAME || '_' || thd.OUT_VOYAGE
        WHEN thd.OUT_SHIP_NAME IS NOT NULL THEN thd.OUT_SHIP_NAME
        WHEN thd.OUT_VOYAGE IS NOT NULL THEN thd.OUT_VOYAGE
        ELSE NULL
        END
        ) AS outShipVoyage

        FROM
        T_HQ_DATA thd
        LEFT JOIN
        T_HQ_TALLY tht ON thd.id = tht.HQ_DATA_ID
        LEFT JOIN
        T_YARD_TALLY tyt ON tyt.id = tht.TALLY_ID
        LEFT JOIN
        T_YARD_TALLY_ITEM tyti ON TYT.id = tyti.TALLY_ID
        LEFT JOIN
        (SELECT
        ID,
        REGEXP_REPLACE ( LISTAGG (TO_CHAR(CARGO_INFO_NO), ',') WITHIN GROUP (ORDER BY CARGO_INFO_NO), '([^,]+)(,\1)+', '\1' ) CARGO_INFO_NO,
        REGEXP_REPLACE ( LISTAGG (TO_CHAR(CARGO_NAME), ',') WITHIN GROUP (ORDER BY CARGO_NAME), '([^,]+)(,\1)+', '\1' ) CARGO_NAME,
        CARGO_OWNER_NAME
        FROM
        T_BUS_CARGO_INFO
        GROUP BY
        CARGO_INFO_NO, CARGO_NAME, ID, CARGO_OWNER_NAME ) tbci
        ON tbci.id = tyti.CARGO_INFO_ID
        LEFT JOIN
        T_PRD_WORK_PLAN tpwp ON tpwp.id = tyt.PLAN_ID
        LEFT JOIN
        WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND wrp ON wrp.NOTE_ID = TYT.WEIGHBRIDGE_ID
        <where>
            <if test="beginDate != null">
                TO_DATE(TO_CHAR(tyt.CREATE_TIME, 'YYYY-MM-DD'), 'YYYY-MM-DD') >= #{beginDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                AND TO_DATE(TO_CHAR(tyt.CREATE_TIME, 'YYYY-MM-DD'), 'YYYY-MM-DD') &lt;= #{endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="cargoName != null and cargoName != ''">
                <bind name="cargoNameLike" value="'%' + cargoName + '%'"/>
                and thd.CARGO_NAME LIKE #{cargoNameLike}
            </if>
            <if test="cargoInfoNo != null and cargoInfoNo != ''">
                <bind name="cargoInfoNoLike" value="'%' + cargoInfoNo + '%'"/>
                and tbci.CARGO_INFO_NO LIKE #{cargoInfoNoLike}
            </if>
            <if test="pqNo != null and pqNo != ''">
                <bind name="pqNoLike" value="'%' + pqNo + '%'"/>
                AND thd.PQ_NO LIKE  #{pqNoLike,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY
        thd.ID
    </select>
</mapper>