<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TPrdSundryConfirmMapper">
    <update id="confirm">
        UPDATE WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
        SET
        IS_TALLY = 1,
        CONFIRM_BY = #{loginUserId, jdbcType=BIGINT},
        CONFIRM_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        COFIRM_TIME = #{now}
        WHERE NOTE_ID = #{noteId}
    </update>
    <update id="revokeConfirm">
        UPDATE WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND
        SET
        IS_TALLY = 0,
        CONFIRM_BY = #{loginUserId, jdbcType=BIGINT},
        CONFIRM_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        COFIRM_TIME = #{now}
        WHERE NOTE_ID = #{noteId}
    </update>

    <select id="getList" resultType="com.yy.ppm.produce.bean.dto.TPrdSundryConfirmDTO">
        SELECT
        TWP.WORK_TYPE_CODE,
        TWP.WORK_TYPE_NAME,
        TWP.PLAN_NO,
        TWP.CUSTOMER_NAME,
        TWP.SHIP_NAME,
        TWP.CARGO_NAME,
        TWPI.DRIVER,
        WRP.TRUCK_PLATE,
        WRP.ID_NUMBER,
        WRP.NOTE_ID,
        WRP.IS_FINISHED,
        TWPI.TEL,
        CASE WHEN WRP.IS_TALLY = 1 THEN '已确认'  ELSE '未确认'  END IS_TALLY
        FROM  T_WEIGHT_PLAN TWP
        LEFT JOIN WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND  WRP ON WRP.PLAN_NO  = TWP.PLAN_NO
        LEFT JOIN T_WEIGHT_PLAN_ITEM TWPI ON (TWP.ID = TWPI.PARENT_ID
                                              and WRP.TRUCK_PLATE = TWPI.TRUCK_NO
                                              and WRP.ID_NUMBER =TWPI.ID_NUMBER
                                              and TWPI.STATUS = '0'    )
        WHERE TWP.STATUS = 0 AND WRP.IS_FINISHED = 0
        <if test="truckPlate != null and truckPlate != ''">
            <bind name="truckPlateLike" value="'%' + truckPlate + '%'"/>
            and WRP.TRUCK_PLATE like #{truckPlateLike}
        </if>
        order by WEIGH_IN_DT ASC
    </select>
    <select id="getById" resultType="java.lang.Integer">
        SELECT COUNT(NOTE_ID) FROM WFG_PORTMIS_POUND.WEIGHT_RECORD_POUND WHERE NOTE_ID = #{id} AND IS_FINISHED = 1
    </select>
</mapper>