<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.TTruckLogMapper">

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.yy.ppm.produce.bean.dto.TTruckLogDTO" parameterType="com.yy.ppm.produce.bean.dto.TTruckLogDTO">
       SELECT
            ID,
			TRUCK_NO,
			POINT_NAME,
			POINT_TIME,
			OPER_NAME,
			POSITION,
			PLAN_NO,
			ID_NUMBER,
			FLAG,
			STATUS,
			BUSINESS_ID,
            WEIGHT_TYPE,
            PLAN_TYPE,
            TON,
            REMARK
        FROM
            T_TRUCK_LOG
        <where>
            <if test="pointTimeStart != null and pointTimeStart != ''">
                AND TO_CHAR(POINT_TIME,'yyyy-mm-dd') &gt;= #{pointTimeStart}
            </if>
            <if test="pointTimeEnd != null and pointTimeEnd != ''">
                AND TO_CHAR(POINT_TIME,'yyyy-mm-dd') &lt;= #{pointTimeEnd}
            </if>
            <if test="truckNo != null and truckNo != ''">
                <bind name="truckNo_like" value="'%' + truckNo + '%'"/>
                AND TRUCK_NO LIKE #{truckNo_like,jdbcType=VARCHAR}
            </if>
            <if test="weightType != null and weightType != ''">
                AND WEIGHT_TYPE = #{weightType,jdbcType=VARCHAR}
            </if>
            <if test="planType != null and planType != ''">
                AND PLAN_TYPE = #{planType,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY POINT_TIME ASC
    </select>

</mapper>