<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.produce.mapper.WholeShipAdjustmentMapper">

    <select id="getList"
            parameterType="com.yy.ppm.produce.bean.dto.TWholeShipAdjustmentQueryDTO"
            resultType="com.yy.ppm.produce.bean.dto.TDisShipVoyageDTO">
        select TDSI.ID,TDSI.ID "shipVoyageItemId",TDS.id SHIP_VOYAGE_ID ,tds.SHIP_NAME||'_'||TDSI.VOYAGE SHIP_NAME,TDSI.TRADE_TYPE,TDSI.IMP_EXP,TDSI.LOAD_UNLOAD,
        TDS.SHIP_STATUS_CODE,TDS.SHIP_STATUS_NAME,
        TDSI.IS_ADJUST status,TDS.SCN SCN,TDSI.WORK_END_TIME,
        DECODE(TDSI.IS_ADJUST,'20','机械调整','未调整') statusLabel,
        DECODE(TDSI.IS_ADJUST_LABOR,'20','人员调整','未调整') statusLaborLabel,
        (select  TO_CHAR(REGEXP_REPLACE(RTRIM(XMLCAST(XMLAGG(XMLELEMENT(E, TO_CHAR(BERTH_NAME) || ',')
        ORDER BY BERTH_NAME) AS CLOB), ','),
        '([^,]+)(,\1)+', '\1'))
        from T_DIS_SHIP_DYNAMIC where SHIPVOYAGE_ID = TDS.ID
        group by SHIPVOYAGE_ID
        )  BERTH_NAME,
            TO_CHAR(REGEXP_REPLACE(RTRIM(XMLCAST(XMLAGG(XMLELEMENT(E, TO_CHAR(TBCI.CARGO_NAME) || ',')
        ORDER BY TBCI.CARGO_NAME) AS CLOB), ','),
        '([^,]+)(,\1)+', '\1')) CARGO_NAME,
        MAX(tds.LEAVE_PORT_TIME) LEAVE_PORT_TIME,
        TDSI.IS_SHIP_CLEAR,
        TDSI.SHIP_PERSON_EXAMINE_BY,
        TDSI.SHIP_PERSON_EXAMINE_BY_NAME,
        TDSI.SHIP_PERSON_EXAMINE_TIME,
        TDSI.SHIP_MAC_EXAMINE_BY,
        TDSI.SHIP_MAC_EXAMINE_BY_NAME,
        TDSI.SHIP_MAC_EXAMINE_TIME
        from T_PRD_WORK_PLAN TPWP
        join T_BUS_TRUST TBT on TPWP.TRUST_ID = TBT.ID
        join T_DIS_SHIPVOYAGE_ITEM TDSI on TDSI.id = TBT.SHIPVOYAGE_ITEM_ID
        join T_DIS_SHIPVOYAGE TDS on TDS.id  = TDSI.SHIPVOYAGE_ID
        join T_BUS_TRUST_CARGO TBTC on TBTC.TRUST_ID = TBT.ID
        join T_BUS_CARGO_INFO TBCI on TBCI.id  = TBTC.CARGO_INFO_ID
        left join (
        select TDSI1.ID SHIP_VOYAGE_ITEM_ID,TDSD.DYNAMIC_TYPE_CODE
        from T_DIS_SHIPVOYAGE TDS1
        left join T_DIS_SHIPVOYAGE_ITEM TDSI1 on TDS1.id = TDSI1.SHIPVOYAGE_ID
        left join T_DIS_SHIP_DYNAMIC TDSD on TDSD.SHIPVOYAGE_ITEM_ID = TDSI1.ID
        <where>
<!--            TDSD.DYNAMIC_TYPE_CODE = '100'-->
<!--            <if test="startTime != null">-->
<!--                and TDS1.LEAVE_PORT_TIME >= #{startTime,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            <if test="endTime != null">-->
<!--                and TDS1.LEAVE_PORT_TIME &lt;= #{endTime,jdbcType=TIMESTAMP}-->
<!--            </if>-->
        </where>
        ) TMP_DYNAMIC on TMP_DYNAMIC.SHIP_VOYAGE_ITEM_ID = TDSI.ID
        where
            TDSI.id is not null and TDS.DEL_FLAG ='0'
<!--          <if test="startTime != null">-->
<!--              and TPWP.WORK_DATE >= #{startTime,jdbcType=TIMESTAMP}-->
<!--          </if>-->
<!--          <if test="endTime != null">-->
<!--              and TPWP.WORK_DATE &lt;= #{endTime,jdbcType=TIMESTAMP}-->
<!--          </if>-->
          <if test="startTime != null">
              and TDSI.WORK_START_TIME>= #{startTime,jdbcType=TIMESTAMP}
          </if>
          <if test="endTime != null">
              and TDSI.WORK_START_TIME &lt;= #{endTime,jdbcType=TIMESTAMP}
          </if>
          <if test="shipVoyageItemId != null">
              and TDSI.ID = #{shipVoyageItemId,jdbcType=BIGINT}
          </if>
          <if test="shipStatusCode != null and shipStatusCode != ''">
              AND TDS.SHIP_STATUS_CODE = #{shipStatusCode,jdbcType=VARCHAR}
          </if>
          <if test="shipName != null and shipName !=''">
              <bind name="shipNameLike" value="'%' + shipName + '%'"/>
              AND TDS.SHIP_NAME LIKE #{shipNameLike,jdbcType=VARCHAR}
          </if>
            <if test="voyage != null and voyage !=''">
              <bind name="voyageLike" value="'%' + voyage + '%'"/>
              AND TDSI.VOYAGE LIKE #{voyageLike,jdbcType=VARCHAR}
          </if>
            <if test="scn != null and scn !=''">
              <bind name="scnLike" value="'%' + scn + '%'"/>
              AND TDS.SCN LIKE #{scnLike,jdbcType=VARCHAR}
          </if>
        <if test="isWorkEnd !=null and isWorkEnd !='' and isWorkEnd == 1">
            and TMP_DYNAMIC.SHIP_VOYAGE_ITEM_ID is not null
        </if>
        <if test="deptConfirm !=null and deptConfirm !='' and deptConfirm == 1">
            and TDSI.SHIP_PERSON_EXAMINE_BY is not null
        </if>
        <if test="deptConfirm !=null and deptConfirm !='' and deptConfirm == 2">
            and TDSI.SHIP_MAC_EXAMINE_BY is not null
        </if>
          <if test="isWorkEnd !=null and isWorkEnd !='' and isWorkEnd == 0">
            and TMP_DYNAMIC.SHIP_VOYAGE_ITEM_ID is null
        </if>
        group by TDSI.ID ,TDS.ID,TDS.SCN,tds.SHIP_NAME,TDSI.VOYAGE,TDSI.TRADE_TYPE,TDSI.IS_ADJUST,TDSI.IS_ADJUST_LABOR,
            TDSI.IMP_EXP,TDSI.LOAD_UNLOAD,TDS.SHIP_STATUS_CODE,TDS.SHIP_STATUS_NAME,TDSI.WORK_END_TIME,TDSI.IS_SHIP_CLEAR,
            TDSI.SHIP_PERSON_EXAMINE_BY,TDSI.SHIP_PERSON_EXAMINE_BY_NAME,TDSI.SHIP_PERSON_EXAMINE_TIME,TDSI.SHIP_MAC_EXAMINE_BY,TDSI.SHIP_MAC_EXAMINE_BY_NAME,TDSI.SHIP_MAC_EXAMINE_TIME
        ORDER BY MAX(TDSI.WORK_END_TIME) DESC nulls last
    </select>

    <select id="getWorkTIcketInfoListForLabor"
            parameterType="com.yy.ppm.produce.bean.dto.TWholeShipAdjustmenRes"
            resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        select     TPWTD.id,
                   TPWTD.work_ticket_id,
                   TPWTD.cargo_info_id,
                   TPWTD.process_code,
                   TPWTD.process_name,
                   TPWTD.process_detail_code,
                   MWP.PROCESS_NM process_detail_name,
                   TPWTD.dept_id,
                   TPWTD.dept_name,
                   TPWTD.work_date,
                   TPWTD.quantity,
                   TPWTD.ton,
                   TPWTD.remark,
                   TPWTD.allot_type,
                   TPWTD.work_position_code,
                   TPWTD.work_position_name,
                   TPWTD.WORK_DATE,
                   TPWTD.CLASS_NAME,
                   TPWTD.CLASS_CODE,
                   TPWP.id work_plan_id,
                   TPWT.COMPANY_ID,
                   TPWT.COMPANY_NAME,
                   TBT.ID trust_id,
                   TBT.trust_no,
                   to_date(to_char(TPWP.work_date,'yyyy-MM'),'yyyy-MM')  work_Date_Check
        from T_DIS_SHIPVOYAGE_ITEM TDSI
                 join T_DIS_SHIPVOYAGE TDS  on TDS.id  = TDSI.SHIPVOYAGE_ID
                 join T_BUS_TRUST TBT on (TBT.SHIPVOYAGE_ITEM_ID = TDSI.ID and TBT.TYPE in ('卸船','装船'))
                 join T_PRD_WORK_PLAN TPWP on TPWP.TRUST_ID = TBT.ID
                 join T_PRD_WORK_TICKET TPWT on TPWT.WORK_PLAN_ID = TPWP.ID
                 join T_PRD_WORK_TICKET_DETAIL TPWTD on TPWTD.WORK_TICKET_ID = TPWT.ID
                 left join M_WORK_PROCESS MWP on MWP.PROCESS_CD = TPWTD.PROCESS_DETAIL_CODE

        where TPWTD.DEPT_NAME!='固机队' and TPWTD.ALLOT_TYPE =  #{allotType,jdbcType=VARCHAR} and TDSI.ID  = #{shipVoyageItemId,jdbcType=BIGINT}
    </select>
    <select id="getWorkTIcketInfoListForMachine"
            parameterType="com.yy.ppm.produce.bean.dto.TWholeShipAdjustmenRes"
            resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        select     TPWTD.id,
                   TPWTD.work_ticket_id,
                   TPWTD.cargo_info_id,
                   TPWTD.process_code,
                   TPWTD.process_name,
                   TPWTD.process_detail_code,
                   MWP.PROCESS_NM process_detail_name,
                   TPWTD.dept_id,
                   TPWTD.dept_name,
                   TPWTD.work_date,
                   TPWTD.quantity,
                   TPWTD.ton,
                   TPWTD.remark,
                   TPWTD.allot_type,
                   TPWTD.work_position_code,
                   TPWTD.work_position_name,
                   TPWTD.WORK_DATE,
                   TPWTD.CLASS_NAME,
                   TPWTD.CLASS_CODE,
                   TPWP.id work_plan_id,
                   TPWT.COMPANY_ID,
                   TPWT.COMPANY_NAME,
                   TBT.ID TRUST_ID,
                   TBT.TRUST_NO,
                   to_date(to_char(TPWP.work_date,'yyyy-MM'),'yyyy-MM') work_date_check,
                   (select
                        TO_CHAR(REGEXP_REPLACE(RTRIM(XMLCAST(XMLAGG(XMLELEMENT(E, TO_CHAR(EQUIPMENT_TYPE_NAME) || ',')
                            ORDER BY ID) AS CLOB), ','),
                                               '([^,]+)(,\1)+', '\1'))
                    from T_PRD_WORK_TICKET_EQUIPMENT where WORK_TICKET_DETAIL_ID = TPWTD.ID  group by WORK_TICKET_DETAIL_ID )
                           EQUIPMENT_TYPE_NAME,
                   (select  TO_CHAR(REGEXP_REPLACE(RTRIM(XMLCAST(XMLAGG(XMLELEMENT(E, TO_CHAR(EQUIPMENT_NO) || ',')
                       ORDER BY ID) AS CLOB), ','),
                                                   '([^,]+)(,\1)+', '\1'))
                    from T_PRD_WORK_TICKET_EQUIPMENT where WORK_TICKET_DETAIL_ID = TPWTD.ID  group by WORK_TICKET_DETAIL_ID ) EQUIPMENT_NO

        from T_DIS_SHIPVOYAGE_ITEM TDSI
                 join T_DIS_SHIPVOYAGE TDS  on TDS.id  = TDSI.SHIPVOYAGE_ID
                 join T_BUS_TRUST TBT on (TBT.SHIPVOYAGE_ITEM_ID = TDSI.ID and TBT.TYPE in ('卸船','装船'))
                 join T_PRD_WORK_PLAN TPWP on TPWP.TRUST_ID = TBT.ID
                 join T_PRD_WORK_TICKET TPWT on TPWT.WORK_PLAN_ID = TPWP.ID
                 join T_PRD_WORK_TICKET_DETAIL TPWTD on TPWTD.WORK_TICKET_ID = TPWT.ID
                 left join M_WORK_PROCESS MWP on MWP.PROCESS_CD = TPWTD.PROCESS_DETAIL_CODE

        where TPWTD.DEPT_NAME!='固机队' and TPWTD.ALLOT_TYPE =  #{allotType,jdbcType=VARCHAR} and TDSI.ID  = #{shipVoyageItemId,jdbcType=BIGINT}
    </select>
    <select id="getShipInfo" resultType="java.util.Map">
        select
            TDSI.id "id",
            TDSI.SHIP_STATUS_NAME "shipStatusName",
            TDSI.SHIP_STATUS_CODE "shipStatusCode",
            TDSD.DYNAMIC_TYPE_CODE "dynamicTypeCode",
            TDSD.DYNAMIC_TYPE_NAME "dynamicTypeName",
            TDSI.IS_SHIP_CLEAR "isShipClear",
            TDSI.LOAD_UNLOAD "loadUnload"
        from T_DIS_SHIPVOYAGE_ITEM TDSI
                 left join T_DIS_SHIP_DYNAMIC TDSD  on  TDSI.ID = TDSD.SHIPVOYAGE_ITEM_ID
        where  TDSI.id = #{shipVoyageItemId,jdbcType=BIGINT}
    </select>

    <update id="updateTicketDetailBatch" parameterType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">

        BEGIN
        <foreach collection="updateList" open="" close="" item="item" separator=";" index="index">
            UPDATE
            T_PRD_WORK_TICKET_DETAIL
            SET
            QUANTITY = #{item.quantity,jdbcType=INTEGER},
            TON = #{item.ton,jdbcType=DECIMAL},
            remark = #{item.remark,jdbcType=VARCHAR},
            UPDATE_BY = #{item.updateBy, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{item.updateByName, jdbcType=BIGINT},
            UPDATE_TIME = #{item.now,jdbcType=TIMESTAMP}
            WHERE
                id = #{item.id}
            <if test="(updateList.size-1) == index">
                ;
            </if>
        </foreach>
        END;
    </update>

    <select id="getSecondDisptchInfo" resultType="com.yy.ppm.produce.bean.dto.TPrdDispatchSecondaryDTO">
        select
        TPDS.DEPT_ID,
        TPDS.DEPT_NAME,
        TPDS.EQUIPMENT_ID,
        MM.MAC_CODE EQUIPMENT_NO,
        MM.MAC_NAME EQUIPMENT_NAME,
        MMT.MAC_TYPE_CODE EQUIPMENT_TYPE_CODE,
        MMT.ID EQUIPMENT_TYPE_ID,
        TPDS.NUMBER_COUNT,
        MMT.mac_type_name EQUIPMENT_TYPE_NAME,
        TPDS.DEPT_PARENT_ID,
        TPDS.DEPT_PARENT_NAME,
        SUB_PROCESS_CODE,
        SUB_PROCESS_NAME,
        WORK_POSITION_CODE,
        WORK_POSITION_NAME,
        MWP.IS_TALLY_COURSE
        from
        T_PRD_DISPATCH_SECONDARY TPDS
        left join M_MACHINE MM  on TPDS.EQUIPMENT_ID = MM.ID
        left join M_MACHINE_TYPE MMT on TPDS.EQUIPMENT_TYPE_ID = MMT.ID
        left join M_WORK_PROCESS MWP on  MWP.PROCESS_CD = TPDS.SUB_PROCESS_CODE
        <where>
            TPDS.DISPATCH_TYPE = #{dispatchType}
            and TPDS.WORK_PLAN_ID =#{workPlanId,jdbcType=BIGINT}
            <if test="noGj!=null and noGj==1">
                and (TPDS.dept_name != '固机队'
                or not exists(
                select ID from (
                select ID
                from SYS_DEPT  where PARENT_ID  != (select id
                from SYS_DEPT where DEPT_NAME = '固机队'
                )
                ) tmp where TPDS.dept_ID = tmp.id
                ))
            </if>
        </where>
    </select>
    <select id="getWorkTicketList" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        select TPWT.ID,TPWTD.WORK_TICKET_ID,TPWTD.CARGO_CODE,TPWTD.CARGO_NAME,TPWTD.ID ticket_detail_id,
               TPWTD.PROCESS_DETAIL_NAME,TPWTD.PROCESS_DETAIL_CODE,TPWTD.WORK_DATE,TPWTD.CLASS_NAME,TPWTD.TON
        from T_PRD_WORK_TICKET TPWT
        left join T_PRD_WORK_TICKET_DETAIL TPWTD on TPWT.ID = TPWTD.WORK_TICKET_ID
        where TPWTD.ALLOT_TYPE = '1' and TPWTD.DEPT_NAME != '固机队'
        and exists(
            select * from (
            <foreach collection="ids" separator="union all " item="tmpId">
                select #{tmpId,jdbcType=BIGINT} as TMPID
                from dual
            </foreach>
            ) a where a.TMPID = TPWT.ID
        )
    </select>
    <select id="getWorkTicketListForFuZhu" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        select TPWT.ID,TPWTD.WORK_TICKET_ID,TPWTD.CARGO_CODE,TPWTD.CARGO_NAME,TPWTD.ID ticket_detail_id,
        TPWTD.PROCESS_DETAIL_NAME,TPWTD.PROCESS_DETAIL_CODE,TPWTD.WORK_DATE,TPWTD.CLASS_NAME,TPWTD.TON
        from T_PRD_WORK_TICKET TPWT
        left join T_PRD_WORK_TICKET_DETAIL TPWTD on TPWT.ID = TPWTD.WORK_TICKET_ID
        where TPWTD.ALLOT_TYPE = '1'
        and exists(
        select * from (
        <foreach collection="ids" separator="union all " item="tmpId">
            select #{tmpId,jdbcType=BIGINT} as TMPID
            from dual
        </foreach>
        ) a where a.TMPID = TPWT.ID
        )
    </select>
    <update id="updateShipStatus">
        update T_DIS_SHIPVOYAGE_ITEM set IS_ADJUST = #{status} where id = #{shipvoyageItemId,jdbcType=BIGINT}
    </update>
    <update id="updateShipStatusForLabor">
        update T_DIS_SHIPVOYAGE_ITEM set IS_ADJUST_LABOR = #{status} where id = #{shipvoyageItemId,jdbcType=BIGINT}
    </update>
    <update id="personClearConfirm" parameterType="com.yy.ppm.produce.bean.po.TWholeShipAdjustmentExaminePO">
        update
        T_DIS_SHIPVOYAGE_ITEM
        set
        IS_SHIP_CLEAR = #{isShipClear},
        SHIP_PERSON_EXAMINE_BY = #{loginUserId, jdbcType=BIGINT},
        SHIP_PERSON_EXAMINE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        SHIP_PERSON_EXAMINE_TIME = #{now}
        where id = #{shipvoyageItemId,jdbcType=BIGINT}
    </update>

    <update id="macClearConfirm" parameterType="com.yy.ppm.produce.bean.po.TWholeShipAdjustmentExaminePO">
        update
        T_DIS_SHIPVOYAGE_ITEM
        set
        IS_SHIP_CLEAR = #{isShipClear},
        SHIP_MAC_EXAMINE_BY = #{loginUserId, jdbcType=BIGINT},
        SHIP_MAC_EXAMINE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
        SHIP_MAC_EXAMINE_TIME = #{now}
        where id = #{shipvoyageItemId,jdbcType=BIGINT}
    </update>
    <update id="updateShipAdjustClearPersonStatus">
        update
        T_DIS_SHIPVOYAGE_ITEM
        set
        IS_SHIP_CLEAR = '0',
        SHIP_PERSON_EXAMINE_BY = null,
        SHIP_PERSON_EXAMINE_BY_NAME = null,
        SHIP_PERSON_EXAMINE_TIME = null
        where id = #{shipvoyageItemId,jdbcType=BIGINT}
    </update>
    <update id="updateShipAdjustClearMacStatus">
        update
        T_DIS_SHIPVOYAGE_ITEM
        set
        IS_SHIP_CLEAR = '0',
        SHIP_MAC_EXAMINE_BY = null,
        SHIP_MAC_EXAMINE_BY_NAME = null,
        SHIP_MAC_EXAMINE_TIME = null
        where id = #{shipvoyageItemId,jdbcType=BIGINT}
    </update>

    <select id="getShipPLanTicketStatus" resultType="map" parameterType="com.yy.ppm.produce.bean.dto.TWholeShipAdjustmentQueryDTO">
select distinct tds.ship_name||'_'||TDSI.voyage "shipName",
       to_char(TPWP.work_date,'yyyy-MM-dd')||'_'|| TPWP.CLASS_NAME||'_'||TPWP.PROCESS_NAME "errorMsg"
from T_DIS_SHIPVOYAGE_ITEM TDSI
                 join T_DIS_SHIPVOYAGE TDS  on TDS.id  = TDSI.SHIPVOYAGE_ID
                 join T_BUS_TRUST TBT on (TBT.SHIPVOYAGE_ITEM_ID = TDSI.ID and TBT.TYPE in ('卸船','装船'))
                 join T_PRD_WORK_PLAN TPWP on TPWP.TRUST_ID = TBT.ID
                 left join T_PRD_WORK_TICKET TPWT on TPWT.WORK_PLAN_ID = TPWP.ID
where TPWT.id is null and TDSI.id  = #{shipVoyageItemId,jdbcType=BIGINT}
    </select>
    <select id="getWorkTicketListWithFuZhu" resultType="com.yy.ppm.produce.bean.dto.workTicket.TPrdWorkTicketDetailDTO">
        select TPWTD.ID ID,TPWT.ID WORK_TICKET_ID,TPWT.work_plan_id,TPWTD.PROCESS_DETAIL_CODE,
                TPWP.PROCESS_NAME,TPWP.PROCESS_CODE,TPWTD.ALLOT_TYPE,
               WORK_POSITION_CODE,WORK_POSITION_NAME,tpwp.COMPANY_NAME,tpwp.COMPANY_ID,
               TPWTD.DEPT_ID,TPWTD.DEPT_NAME,
               TPWP.WORK_DATE,
              to_date(to_char(TPWP.WORK_DATE,'yyyy-MM'),'yyyy-MM') work_date_check,
               case when TPWP.CLASS_CODE ='02' then '夜班' when TPWP.CLASS_CODE ='01' then '白班' end CLASS_NAME,
               TPWP.CLASS_CODE,
               TPWTD.TON,    MWP.PROCESS_NM PROCESS_DETAIL_NAME,
        (select TO_CHAR(REGEXP_REPLACE(RTRIM(XMLCAST(XMLAGG(XMLELEMENT(E, TO_CHAR(EQUIPMENT_TYPE_NAME) || ',') ORDER BY ID) AS CLOB), ','), '([^,]+)(,\1)+', '\1'))
            from T_PRD_WORK_TICKET_EQUIPMENT
            where WORK_TICKET_DETAIL_ID = TPWTD.ID
            group by WORK_TICKET_DETAIL_ID ) EQUIPMENT_TYPE_NAME,
        (select TO_CHAR(REGEXP_REPLACE(RTRIM(XMLCAST(XMLAGG(XMLELEMENT(E, TO_CHAR(EQUIPMENT_NO) || ',') ORDER BY ID) AS CLOB), ','), '([^,]+)(,\1)+', '\1'))
            from T_PRD_WORK_TICKET_EQUIPMENT
            where WORK_TICKET_DETAIL_ID = TPWTD.ID
            group by WORK_TICKET_DETAIL_ID ) EQUIPMENT_NO
        from T_PRD_WORK_TICKET_DETAIL TPWTD
         left join T_PRD_WORK_TICKET TPWT  on TPWTD.WORK_TICKET_ID = TPWT.ID
         left join T_PRD_WORK_PLAN TPWP on TPWT.WORK_PLAN_ID = TPWP.ID
         left join SYS_DEPT SD on SD.id = TPWTD.DEPT_ID
        left join M_WORK_PROCESS MWP on MWP.PROCESS_CD = TPWTD.PROCESS_DETAIL_CODE
        where TPWP.PLAN_TYPE = '4'
          and TPWP.SHIPVOYAGE_ITEM_ID  = #{shipVoyageItemId,jdbcType=BIGINT}
          <if test="allotType!=null and allotType==2">
              and SD.IS_MACHINE = '1'
          </if>
          <if test="allotType!=null and allotType==3">
              and SD.IS_LABOR = '1'
          </if>
    </select>
    <select id="getDeatilById" resultType="com.yy.ppm.produce.bean.po.TWholeShipAdjustmentExaminePO">
        SELECT
            *
        FROM
        T_DIS_SHIPVOYAGE_ITEM
        WHERE ID = #{shipvoyageItemId,jdbcType=BIGINT}
    </select>
    <select id="getHrExTicketList" resultType="java.util.Map">
        select to_date(to_char(WORK_DATE,'yyyy-MM'),'yyyy-MM') "workDate", case when count(*) >0 then 'N' else 'Y' end "flag"
        from T_PRD_WORK_TICKET_DETAIL where EXTERNAL_STATUS = '30' and to_char(WORK_DATE,'yyyy-MM') in
        <foreach collection="list" close=")" open="(" item="workDate" separator=",">
            to_char(#{workDate},'yyyy-MM')
        </foreach> group by to_char(WORK_DATE,'yyyy-MM')
    </select>
</mapper>

