<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.flowable.mapper.BpmCategoryMapper">
<!--    新增流程分类    -->
    <insert id="insert" parameterType="com.yy.ppm.flowable.bean.po.BpmCategoryPO">
        INSERT INTO bpm_category (id, name, code, description, status,
                                  sort, create_by, create_by_name, create_time)
        VALUES (#{id}, #{name}, #{code}, #{description}, #{status},
                #{sort}, #{loginUserId}, #{loginUserName}, #{now})
    </insert>
<!--    更新流程分类    -->
    <update id="updateById" >
        UPDATE bpm_category
        SET
            name = #{name, jdbcType=VARCHAR},
            code = #{code, jdbcType=VARCHAR},
            description = #{description, jdbcType=VARCHAR},
            status = #{status, jdbcType=BIGINT},
            sort = #{sort, jdbcType=BIGINT},
            update_by = #{loginUserId},
            update_by_name = #{loginUserName},
            update_time = #{now}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>
<!--    删除流程分类    -->
    <delete id="deleteById">
        delete from bpm_category where id = #{id}
    </delete>
<!--    查询流程分类    -->
    <select id="selectBy" resultType="com.yy.ppm.flowable.bean.po.BpmCategoryPO">
        select
            id,
            name,
            code,
            description,
            status,
            sort,
            create_by,
            create_by_name,
            create_time,
            update_by,
            update_by_name,
            update_time

        from
            bpm_category
        where
            name = #{value} or code = #{value}
    </select>
        <!--    查询流程分类列表    -->
    <select id="selectListByCode" resultType="com.yy.ppm.flowable.bean.po.BpmCategoryPO">
        SELECT
        id,
        name,
        code,
        description,
        status,
        sort,
        create_by,
        create_by_name,
        create_time,
        update_by,
        update_by_name,
        update_time
        FROM
        bpm_category
        WHERE
        code IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>
<!--    查询流程分类详情    -->
    <select id="selectById" resultType="com.yy.ppm.flowable.bean.po.BpmCategoryPO">
        select
            id,
            name,
            code,
            description,
            status,
            sort,
            create_by,
            create_by_name,
            create_time,
            update_by,
            update_by_name,
            update_time
        from
            bpm_category
        where
            id = #{id}
    </select>
<!--    查询流程分类列表    -->
    <select id="getList" resultType="com.yy.ppm.flowable.bean.po.BpmCategoryPO">
        select
        id,
        name,
        code,
        description,
        status,
        sort,
        create_by,
        create_by_name,
        create_time,
        update_by,
        update_by_name,
        update_time
        from
        bpm_category
        where
        1=1

        <if test="name != null and name != ''">
            <!-- 将CONCAT函数改为||连接符 -->
            AND name LIKE '%' || #{name, jdbcType=VARCHAR} || '%'
        </if>
        <if test="code != null and code != ''">
            <!-- 将CONCAT函数改为||连接符 -->
            AND code LIKE '%' || #{code, jdbcType=VARCHAR} || '%'
        </if>
        <if test="status != null and status !=''">
            and status = #{status}
        </if>

    </select>
</mapper>
