<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.flowable.mapper.SysFormMapper">

    <select id="selectSysFormById" resultType="com.yy.ppm.flowable.bean.po.SysForm">
        select id,
               form_name,
               form_content,
               create_time,
               update_time,
               create_by,
               update_by,
               remark
        from sys_form
        where
            id = #{formId}
    </select>
</mapper>
