<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yy.ppm.equipment.mapper.ECostBudgetManagementMapper">

    <select id="selectList"
            parameterType="com.yy.ppm.equipment.bean.dto.ECostBudgetManagementDTO"
            resultType="com.yy.ppm.equipment.bean.dto.ECostBudgetManagementDTO">
        SELECT
        t.ID                   AS id,
        t.YEAR                 AS year,
        t.MAINTENANCE_UNIT_ID  AS maintenanceUnitId,
        t.MAINTENANCE_UNIT_NAME AS maintenanceUnitName,
        t.COST_TYPE            AS costType,
        d.DICT_LABEL           AS costTypeName,
        t.AMOUNT               AS amount,
        t.CREATE_BY            AS createBy,
        t.CREATE_TIME          AS createTime,
        t.UPDATE_BY            AS updateBy,
        t.UPDATE_TIME          AS updateTime,
        t.WARNING_USER_ID,
        t.WARNING_USER_NAME,
        t.WARNING_AMOUNT
        FROM E_COST_BUDGET_MANAGEMENT t
        LEFT JOIN M_DICT_DATA d
        ON d.DICT_TYPE = 'EXPENSE_TYPE'
        AND d.DICT_VALUE = t.COST_TYPE
        AND d.STATUS = '1'
        WHERE 1 = 1
        <if test="year != null and year != ''">
            AND t.YEAR = #{year}
        </if>
        <if test="costType != null and costType != ''">
            AND t.COST_TYPE = #{costType}
        </if>
        ORDER BY t.YEAR DESC, t.CREATE_TIME DESC, t.ID DESC
    </select>

    <select id="selectById" resultType="com.yy.ppm.equipment.bean.dto.ECostBudgetManagementDTO">
        SELECT
            t.ID                    AS id,
            t.YEAR                  AS year,
            t.MAINTENANCE_UNIT_ID   AS maintenanceUnitId,
            t.MAINTENANCE_UNIT_NAME AS maintenanceUnitName,
            t.COST_TYPE             AS costType,
            d.DICT_LABEL            AS costTypeName,
            t.AMOUNT                AS amount,
            t.CREATE_BY             AS createBy,
            t.CREATE_TIME           AS createTime,
            t.UPDATE_BY             AS updateBy,
            t.UPDATE_TIME           AS updateTime,
            t.WARNING_USER_ID,
            t.WARNING_USER_NAME,
            t.WARNING_AMOUNT
        FROM E_COST_BUDGET_MANAGEMENT t
                 LEFT JOIN M_DICT_DATA d
                           ON d.DICT_TYPE = 'EXPENSE_TYPE'
                               AND d.DICT_VALUE = t.COST_TYPE
                               AND d.STATUS = '1'
        WHERE t.ID = #{id}
    </select>

    <insert id="add">
        INSERT INTO E_COST_BUDGET_MANAGEMENT (
            ID,
            YEAR,
            MAINTENANCE_UNIT_ID,
            MAINTENANCE_UNIT_NAME,
            COST_TYPE,
            AMOUNT,
            WARNING_USER_ID,
            WARNING_USER_NAME,
            WARNING_AMOUNT,
            CREATE_BY,
            CREATE_TIME,
            UPDATE_BY,
            UPDATE_TIME
        ) VALUES (
                     #{id},
                     #{year},
                     #{maintenanceUnitId},
                     #{maintenanceUnitName},
                     #{costType},
                     #{amount},
                      #{warningUserId},
                      #{warningUserName},
                      #{warningAmount},
                     #{loginUserId},
                     #{now},
                     #{loginUserId},
                     #{now}
                 )
    </insert>

    <update id="update">
        UPDATE E_COST_BUDGET_MANAGEMENT
        SET YEAR                  = #{year},
            MAINTENANCE_UNIT_ID   = #{maintenanceUnitId},
            MAINTENANCE_UNIT_NAME = #{maintenanceUnitName},
            WARNING_USER_ID        = #{warningUserId},
            WARNING_USER_NAME     = #{warningUserName},
            WARNING_AMOUNT        = #{warningAmount},
            COST_TYPE             = #{costType},
            AMOUNT                = #{amount},
            UPDATE_BY             = #{loginUserId},
            UPDATE_TIME           = #{now}
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM E_COST_BUDGET_MANAGEMENT
        WHERE ID = #{id}
    </delete>

    <select id="countDuplicate" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM E_COST_BUDGET_MANAGEMENT t
        WHERE t.YEAR = #{year}
        AND t.MAINTENANCE_UNIT_ID = #{maintenanceUnitId}
        AND t.COST_TYPE = #{costType}
        <if test="id != null">
            AND t.ID &lt;&gt; #{id}
        </if>
    </select>
    <select id="getWarningUser" resultType="com.yy.ppm.equipment.bean.dto.ECostBudgetManagementDTO">
        SELECT
            u.ID AS userId,
            u.USER_NAME AS userName
        FROM
            SYS_USER u
                JOIN SYS_DEPT d ON u.DEPT_ID = d.ID
                JOIN SYS_ROLE_USER ru ON u.ID = ru.USER_ID
                JOIN SYS_ROLE r ON ru.ROLE_ID = r.ID
        WHERE
            u.STATUS = 1
          AND r.STATUS = 1
          AND r.ROLE_CODE = #{roleCode}
          AND (d.ID = #{useCompanyId} OR instr(d.PARENT_IDS, #{useCompanyId}) > 0)
        ORDER BY
            u.USER_NAME ASC
    </select>
    <select id="getBudgetManagementList" resultType="com.yy.ppm.equipment.bean.dto.ECostBudgetManagementDTO">
        select
            id,
            year,
            maintenance_unit_id,
            maintenance_unit_name,
            cost_type,
            amount,
            warning_user_id,
            warning_user_name,
            warning_amount,
            create_by,
            create_time,
            update_by,
            update_time
        from
            e_cost_budget_management
    </select>
    <select id="getSettlementAmount" resultType="java.math.BigDecimal">
        select
            sum(t1.TOTAL_ACTUAL_AMOUNT)
        from
            E_COST_SETTLEMENT_APPLY t1
         LEFT JOIN BPM_BUSINESS_INSTANCE t3 ON t3.BUSINESS_DATA_ID = t1.ID
        where
            t3.INSTANCE_STATUS = '2'
            and  USE_COMPANY_ID = #{useCompanyId}
            and to_char(APPLY_TIME, 'yyyy') = #{year}

    </select>
    <select id="getSettlementApply" resultType="com.yy.ppm.equipment.bean.dto.EContractInfoDTO">
        SELECT
            t1.ID,
            t1.CONTRACT_NAME,
            t1.CONTRACT_CODE,
            t1.CONTRACT_AMOUNT,
            to_char(t1.START_DATE, 'yyyy') AS startYear,
            to_char(t1.END_DATE, 'yyyy') AS endYear,
            t1.START_DATE,
            t1.END_DATE,
            t1.APPLY_SCOPE,
            t1.STATUS,
            t1.CONTRACT_TYPE,
            t1.USE_COMPANY_ID,
            t1.USE_COMPANY_NAME

        FROM E_COST_CONTRACT_INFO t1
        WHERE
            t1.STATUS = '1'
           AND t1.USE_COMPANY_ID = #{useCompanyId}
          AND (to_char(t1.START_DATE, 'yyyy') = #{year} OR to_char(t1.END_DATE, 'yyyy') = #{year})


    </select>
    <select id="getMaterialPurchaseAmount" resultType="java.math.BigDecimal">
        select
            sum(t1.TAX_INCLUDED_AMOUNT)
        from
            E_MATERIAL_PURCHASE t1
                LEFT JOIN BPM_BUSINESS_INSTANCE t3 ON t3.BUSINESS_DATA_ID = t1.ID
        where
            t3.INSTANCE_STATUS = '2'
            and  USE_COMPANY_ID = #{useCompanyId}
            and to_char(CREATE_TIME, 'yyyy') = #{year}
    </select>
    <select id="countNotification" resultType="java.lang.Integer">
        SELECT
            count(id)
        FROM
            SYS_NOTIFICATION
        WHERE
          BUSSINESS_ID = #{id}
    </select>
</mapper>
