<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.equipment.mapper.EMaintProjApplyMapper">

<select id="getList" resultType="com.yy.ppm.equipment.bean.dto.EMaintProjApplyDTO">
    SELECT
    t1.ID,
    t1.USING_DEPT_ID,
    t1.USING_DEPT_NAME,
    t1.EQUIP_TYPE_ID,
    t1.EQUIP_ID,
    t1.EQUIP_NAME,
    t1.APP_NUMBER,
    t1.APP_TYPE,
    t1.APP_CONTENT,
    t1.MAINTENANCE_UNIT_ID,
    t1.MAINTENANCE_UNIT_NAME,
    t1.BUDGET_AMOUNT,
    t1.REMARK,
    t1.CREATED_USER,
    t1.CREATED_TIME,
    t1.UPDATE_USER,
    t1.UPDATE_TIME,
    t1.IS_SETTLEMENT,
    t1.STATUS,
    t3.PROC_INST_ID,
    CASE
    WHEN t3.INSTANCE_STATUS IS NULL THEN '0'
    ELSE t3.INSTANCE_STATUS
    END AS processStatus,
    CASE
    WHEN t2.DICT_LABEL IS NULL THEN '未发起'
    ELSE t2.DICT_LABEL
    END AS processStatusLabel
    FROM E_IC_MAINT_PROJ_APPLY t1
    LEFT JOIN BPM_BUSINESS_INSTANCE t3 ON t3.BUSINESS_DATA_ID = t1.ID
    LEFT JOIN  M_DICT_DATA t2 ON t2.DICT_VALUE = t3.INSTANCE_STATUS  AND t2.DICT_TYPE = 'APPROVAL_STATUS'
    WHERE 1 = 1
    <if test="usingDeptName != null and usingDeptName != ''">
        <bind name="usingDeptName" value="'%'+usingDeptName+'%'"/>
        and USING_DEPT_NAME like #{usingDeptName}
    </if>
    <if test="equipName != null and equipName != ''">
        <bind name="equipName" value="'%'+equipName+'%'"/>
        and EQUIP_NAME like #{equipName}
    </if>
    order by
    CREATED_TIME DESC
</select>

<select id="getById" resultType="com.yy.ppm.equipment.bean.dto.EMaintProjApplyDTO">
    SELECT
        ID,
        USING_DEPT_ID,
        USING_DEPT_NAME,
        EQUIP_TYPE_ID,
        EQUIP_ID,
        EQUIP_NAME,
        APP_NUMBER,
        APP_TYPE,
        APP_CONTENT,
        MAINTENANCE_UNIT_ID,
        MAINTENANCE_UNIT_NAME,
        BUDGET_AMOUNT,
        REMARK,
        CREATED_USER,
        CREATED_TIME,
        UPDATE_USER,
        UPDATE_TIME
    FROM E_IC_MAINT_PROJ_APPLY
    where
    ID = #{id}
</select>
    <insert id="insert">
    INSERT INTO E_IC_MAINT_PROJ_APPLY (
        ID,
        USING_DEPT_ID,
                                       USING_DEPT_NAME,
                                       EQUIP_TYPE_ID,
                                        EQUIP_ID,
                                       EQUIP_NAME,
                                        APP_NUMBER,
                                       APP_TYPE,
                                       APP_CONTENT,
                                       MAINTENANCE_UNIT_ID,
                                       MAINTENANCE_UNIT_NAME,
                                       BUDGET_AMOUNT,
                                       REMARK,
                                       CREATED_USER,
                                       CREATED_TIME


    ) values
    (#{id,jdbcType=DECIMAL},
     #{usingDeptId},
      #{usingDeptName},
      #{equipTypeId},
      #{equipId},
      #{equipName},
      #{appNumber},
      #{appType},
      #{appContent},
      #{maintenanceUnitId},
      #{maintenanceUnitName},
      #{budgetAmount},
      #{remark},
      #{loginUserId,jdbcType=NUMERIC},
      #{now,jdbcType=TIMESTAMP}
    )
</insert>
    <insert id="insertApplyQuata">
        insert into E_IC_MAINT_PROJ_APPLY_QUOTA (
        ID,
        PARENT_ID,
        QUOTA_CODE,
        PROJECT_NAME,
        PROJECT_CONTENT,
        UNIT,
        AMOUNT_EXCLUDING_TAX,
        TAX_RATE,
        AMOUNT_INCLUDING_TAX,
        CREATED_USER,
        CREATED_TIME,
        PROJECT_NUM
        ) values
        (#{id,jdbcType=DECIMAL},
         #{parentId},
          #{quotaCode},
          #{projectName},
          #{projectContent},
          #{unit},
          #{amountExcludingTax},
          #{taxRate},
          #{amountIncludingTax},
          #{loginUserId},
          #{now,jdbcType=TIMESTAMP},
          #{projectNum}

         )
    </insert>


    <update id="deleteById">
        UPDATE E_IC_MAINT_PROJ_APPLY
        SET STATUS = #{status}
        WHERE ID = #{id}
    </update>
    <update id="update">
        UPDATE E_IC_MAINT_PROJ_APPLY
        SET
        USING_DEPT_ID = #{usingDeptId},
        USING_DEPT_NAME = #{usingDeptName},
        EQUIP_TYPE_ID = #{equipTypeId},
        EQUIP_ID = #{equipId},
        EQUIP_NAME = #{equipName},
        APP_TYPE = #{appType},
        APP_CONTENT = #{appContent},
        MAINTENANCE_UNIT_ID = #{maintenanceUnit},
        MAINTENANCE_UNIT_NAME = #{maintenanceUnitName},
        BUDGET_AMOUNT = #{budgetAmount},
        REMARK = #{remark},
        UPDATE_USER = #{loginUserId},
        UPDATE_TIME = #{now,jdbcType=TIMESTAMP}
    </update>
    <delete id="deleteApplyQuata">
        DELETE FROM
            E_IC_MAINT_PROJ_APPLY_QUOTA
        WHERE
            PARENT_ID = #{id}
    </delete>
    <delete id="deleteApply">
        DELETE FROM
            E_IC_MAINT_PROJ_APPLY
        WHERE
            ID = #{id}
    </delete>

    <select id="getApplyQuataList" resultType="com.yy.ppm.equipment.bean.po.EMaintProjApplyQuotaPO">
        SELECT
        ID,
        PARENT_ID,
        QUOTA_CODE,
        PROJECT_NAME,
        PROJECT_CONTENT,
        UNIT,
        AMOUNT_EXCLUDING_TAX,
        TAX_RATE,
        AMOUNT_INCLUDING_TAX,
        CREATED_USER,
        CREATED_TIME,
        UPDATE_USER,
        UPDATE_TIME,
        PROJECT_NUM
        FROM E_IC_MAINT_PROJ_APPLY_QUOTA
        WHERE
           PARENT_ID = #{id}
        ORDER BY CREATED_TIME DESC
    </select>
</mapper>

