<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.equipment.mapper.HomeMapper">

    <select id="getMaintInfo" resultType="java.util.Map">
        SELECT
            SUM(CASE WHEN STATUS = 0 THEN 1 ELSE 0 END) AS "dpg",
            SUM(CASE WHEN STATUS = 2 THEN 1 ELSE 0 END) AS "wxz" ,
            SUM(CASE WHEN STATUS = 4 THEN 1 ELSE 0 END) AS "dys",
            COUNT(*) AS "sumCount"
        FROM E_MAINT_INFO
        WHERE DEL_FLAG = 0
        AND(MAINT_LEADER_ID=#{id} or DISPATCHER_ID= #{id} or CREATE_BY= #{id} or ACCEPTER_ID= #{id})
    </select>
    <select id="getPatrolTask" resultType="java.util.Map">
        SELECT
            SUM(CASE WHEN STATUS = 0 THEN 1 ELSE 0 END) AS "wj",
            SUM(CASE WHEN STATUS = 2 THEN 1 ELSE 0 END) AS "yj"
        FROM E_PATROL_TASK
        where
            PATROL_ID=#{id}

    </select>
    <select id="getCheckPlan" resultType="java.util.Map">
        SELECT
            SUM(CASE WHEN STATUS = 0 THEN 1 ELSE 0 END) AS "wj",
            SUM(CASE WHEN STATUS = 2 THEN 1 ELSE 0 END) AS "yj"
        FROM E_CHECK_TASK
        where
            INSPECTOR_ID=#{id}

    </select>
    <select id="ePmMaintainTask" resultType="java.util.Map">
        SELECT
            SUM(CASE WHEN PLAN_TYPE = '1' AND STATUS = 0 THEN 1 ELSE 0 END) AS "drh",
            SUM(CASE WHEN PLAN_TYPE = '1' AND STATUS = 2 THEN 1 ELSE 0 END) AS "yrh",
            SUM(CASE WHEN PLAN_TYPE = '2' AND STATUS = 0 THEN 1 ELSE 0 END) AS "dby",
            SUM(CASE WHEN PLAN_TYPE = '2' AND STATUS = 2 THEN 1 ELSE 0 END) AS "yby"
        FROM E_PM_MAINTAIN_TASK
        where
            INSPECTOR_ID=#{id}

    </select>
    <select id="eMaintIfonType" resultType="java.util.Map">
        SELECT
            SUM(CASE WHEN DISPATCH_TYPE_CODE = 1 THEN 1 ELSE 0 END) AS "nxgd",
            SUM(CASE WHEN DISPATCH_TYPE_CODE = 2 THEN 1 ELSE 0 END) AS "dbgd" ,
            SUM(CASE WHEN DISPATCH_TYPE_CODE = 3 THEN 1 ELSE 0 END) AS "degd",
            SUM(CASE WHEN DISPATCH_TYPE_CODE = 4 THEN 1 ELSE 0 END) AS "fdegd"

        FROM E_MAINT_INFO
        WHERE DEL_FLAG = 0
         AND(MAINT_LEADER_ID=#{id} or DISPATCHER_ID= #{id} or CREATE_BY= #{id} or ACCEPTER_ID= #{id})

    </select>
    <select id="eMaintIfonToday" resultType="java.util.Map">

        SELECT
            SUM(CASE WHEN SOURCE =1 THEN 1 ELSE 0 END) AS "tb",
            SUM(CASE WHEN SOURCE =2 THEN 1 ELSE 0 END) AS "pg" ,
            SUM(CASE WHEN SOURCE =3 THEN 1 ELSE 0 END) AS "dj",
            SUM(CASE WHEN SOURCE =4 THEN 1 ELSE 0 END) AS "rh",
            SUM(CASE WHEN SOURCE =5 THEN 1 ELSE 0 END) AS "by",
            SUM(CASE WHEN SOURCE =6 THEN 1 ELSE 0 END) AS "xj"
        FROM E_MAINT_INFO
        WHERE DEL_FLAG = 0
        AND TO_CHAR(CREATE_TIME, 'yyyy-MM-dd') >= TO_CHAR(#{date}, 'yyyy-MM-dd')
        AND(MAINT_LEADER_ID=#{id} or DISPATCHER_ID= #{id} or CREATE_BY= #{id} or ACCEPTER_ID= #{id})

    </select>
    <select id="getEqptInfo" resultType="java.util.Map">
        SELECT
            SUM(CASE WHEN EQUIP_BIG_CATEGORY_ID = '1991387653882384384' THEN 1 ELSE 0 END) AS "zxjx",
            SUM(CASE WHEN EQUIP_BIG_CATEGORY_ID = '1991387191070298112' THEN 1 ELSE 0 END) AS "cl" ,
            SUM(CASE WHEN EQUIP_BIG_CATEGORY_ID = '1991387224960274432' THEN 1 ELSE 0 END) AS "cb",
            SUM(CASE WHEN EQUIP_BIG_CATEGORY_ID = '1991387706986467328' THEN 1 ELSE 0 END) AS "dlsb"
        FROM E_M_EQPT_INFO
        WHERE DEL_FLAG = 0

    </select>
    <select id="getEqptStatus" resultType="java.util.Map">
        SELECT
            SUM(CASE WHEN EQUIP_STATE  = '01' THEN 1 ELSE 0 END) AS "zy",
            SUM(CASE WHEN EQUIP_STATE = '02' THEN 1 ELSE 0 END) AS "zx" ,
            SUM(CASE WHEN EQUIP_STATE = '05' THEN 1 ELSE 0 END) AS "ty",
            SUM(CASE WHEN EQUIP_STATE = '06' THEN 1 ELSE 0 END) AS "bf"
        FROM E_M_EQPT_INFO
        WHERE DEL_FLAG = 0

    </select>
    <select id="getMainInfo" resultType="com.yy.ppm.equipment.bean.dto.HomeDTO">
        SELECT
            COUNT(*) AS "tbs",
            SUM(CASE WHEN STATUS in(1,2,4) THEN 1 ELSE 0 END) AS "jxz",
            SUM(CASE WHEN STATUS = 5 THEN 1 ELSE 0 END) AS "ywc",
            to_char(CREATE_TIME,'yyyy-MM-dd') AS "createDate"
        FROM E_MAINT_INFO
        WHERE DEL_FLAG = 0
        AND CREATE_TIME>= #{startTime}
        AND CREATE_TIME &lt;= #{endTime}
        AND(MAINT_LEADER_ID=#{id} or DISPATCHER_ID= #{id} or CREATE_BY= #{id} or ACCEPTER_ID= #{id})
        GROUP BY  to_char(CREATE_TIME,'yyyy-MM-dd')
    </select>


</mapper>

