<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.statement.mapper.storageSettle.StorageSettleJGZCMapper">

    <select id="listWeightInfo" resultType="com.yy.ppm.statement.bean.dto.storageSettle.VWeightInfo">
        SELECT TEMP2.WEIGH_OUT_DT,
               TEMP2.WEIGHT_GOODS
        FROM (SELECT ID, CARGO_INFO_ID FROM T_BUS_HANDOVERLIST UNION SELECT ID, CARGO_INFO_ID FROM T_BUS_HANDOVERLIST_TRANSFER) TBH
                 JOIN T_BUS_CARGO_INFO TBCI ON TBH.CARGO_INFO_ID = TBCI.ID
                 JOIN (SELECT TEMP.CARGO_INFO_ID, VWI.WEIGH_OUT_DT, VWI.WEIGHT_GOODS
                       FROM (SELECT TBTC.BUSINESS_NO, TBTC.CARGO_INFO_ID
                             FROM T_BUS_TRUST_CARGO TBTC
                                      JOIN T_BUS_TRUST TBT
                                           ON TBTC.TRUST_ID = TBT.ID
                                               AND TBT.TYPE IN ('集港', '拆箱集港')) TEMP
                                JOIN V_WEIGHT_INFO VWI
                                     ON VWI.IS_OLD = '否' AND TEMP.BUSINESS_NO = VWI.PLAN_NO
                       UNION ALL
                       SELECT TO_NUMBER(VWI2.CARGO_INFO_ID), VWI2.WEIGH_OUT_DT, VWI2.WEIGHT_GOODS
                       FROM V_WEIGHT_INFO VWI2
                       WHERE VWI2.IS_OLD = '是' AND VWI2.PLAN_TYPE IN ('集港', '拆箱集港')) TEMP2 ON TBCI.ID = TEMP2.CARGO_INFO_ID
        WHERE TBH.ID = #{handoverlistId,jdbcType=BIGINT}
    </select>

    <select id="getShipvoyageItem" resultType="com.yy.ppm.dispatch.bean.po.TDisShipvoyageItemPO">
        SELECT TDSI.ID,
               TDSI.SHIPVOYAGE_ID,
               TDSI.IMP_EXP,
               TDSI.TRADE_TYPE,
               TDSI.LOAD_UNLOAD,
               TDSI.VOYAGE,
               TDSI.COMPANY_ID,
               TDSI.COMPANY_NAME,
               TDSI.CARGO_CATEGORY_CODE,
               TDSI.CARGO_CATEGORY_NAME,
               TDSI.CARGO_NUM,
               TDSI.CUSTOMER_ID,
               TDSI.CUSTOMER_NAME,
               TDSI.CONTACTS,
               TDSI.SHIP_PHONE,
               TDSI.PAYMENT_AMOUNT,
               TDSI.REMARK,
               TDSI.CREATE_BY,
               TDSI.CREATE_BY_NAME,
               TDSI.CREATE_TIME,
               TDSI.UPDATE_BY,
               TDSI.UPDATE_BY_NAME,
               TDSI.UPDATE_TIME,
               TDSI.SHIP_STATUS_CODE,
               TDSI.SHIP_STATUS_NAME,
               TDSI.WORK_START_TIME,
               TDSI.WORK_END_TIME,
               TDSI.BO_HAI_TONG_ID,
               TDSI.PRE_CHANGE_SHIP_NAME,
               TDSI.PRE_CHANGE_SHIP_NO,
               TDSI.CUSTOMER_ID_NEW,
               TDSI.ID,
               TDSI.SHIPVOYAGE_ID,
               TDSI.IMP_EXP,
               TDSI.TRADE_TYPE,
               TDSI.LOAD_UNLOAD,
               TDSI.VOYAGE,
               TDSI.COMPANY_ID,
               TDSI.COMPANY_NAME,
               TDSI.CARGO_CATEGORY_CODE,
               TDSI.CARGO_CATEGORY_NAME,
               TDSI.CARGO_NUM,
               TDSI.CUSTOMER_ID,
               TDSI.CUSTOMER_NAME,
               TDSI.CONTACTS,
               TDSI.SHIP_PHONE,
               TDSI.PAYMENT_AMOUNT,
               TDSI.REMARK,
               TDSI.CREATE_BY,
               TDSI.CREATE_BY_NAME,
               TDSI.CREATE_TIME,
               TDSI.UPDATE_BY,
               TDSI.UPDATE_BY_NAME,
               TDSI.UPDATE_TIME,
               TDSI.SHIP_STATUS_CODE,
               TDSI.SHIP_STATUS_NAME,
               TDSI.WORK_START_TIME,
               TDSI.WORK_END_TIME,
               TDSI.BO_HAI_TONG_ID,
               TDSI.PRE_CHANGE_SHIP_NAME,
               TDSI.PRE_CHANGE_SHIP_NO,
               TDSI.CUSTOMER_ID_NEW
        FROM (SELECT ID, SHIPVOYAGE_ITEM_ID FROM T_BUS_HANDOVERLIST UNION SELECT ID, SHIPVOYAGE_ITEM_ID FROM T_BUS_HANDOVERLIST_TRANSFER) TBH
                 JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TBH.SHIPVOYAGE_ITEM_ID = TDSI.ID
        WHERE TBH.ID = #{handoverlistId, jdbcType=BIGINT}
    </select>

    <select id="listShipvoyageItem" resultType="java.util.Map">
        SELECT TBH.SHIPVOYAGE_ITEM_ID "shipvoyageItemId",
               TBH.SHIP_NAME          "shipName",
               TBH.VOYAGE             "voyage",
               SUM(TBH.TON)           "ton",
               TDSI.WORK_END_TIME     "workEndTime"
        FROM (SELECT ID, SHIPVOYAGE_ITEM_ID, SHIP_NAME, VOYAGE, TON, TYPE, LOAD_UNLOAD, CARGO_INFO_ID FROM T_BUS_HANDOVERLIST UNION SELECT ID, SHIPVOYAGE_ITEM_ID, SHIP_NAME, VOYAGE, TON, TYPE, LOAD_UNLOAD, CARGO_INFO_ID FROM T_BUS_HANDOVERLIST_TRANSFER) TBH
                 JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TBH.SHIPVOYAGE_ITEM_ID = TDSI.ID
        WHERE TBH.TYPE = '1'
          AND TBH.LOAD_UNLOAD = '装'
          AND TBH.CARGO_INFO_ID = #{cargoInfoId,jdbcType=BIGINT}
        GROUP BY TBH.SHIPVOYAGE_ITEM_ID, TBH.SHIP_NAME, TBH.VOYAGE, TDSI.WORK_END_TIME
        ORDER BY TDSI.WORK_END_TIME
    </select>

    <select id="listStorageSettle" resultType="com.yy.ppm.statement.bean.po.TCostStorageSettlePO">
        SELECT ID,
               COMPANY_ID,
               COMPANY_NAME,
               SHIPVOYAGE_ID,
               SHIPVOYAGE_ITEM_ID,
               CARGO_OWNER_ID,
               CARGO_OWNER_NAME,
               CARGO_INFO_ID,
               HANDOVERLIST_ID,
               CONTRACT_ID,
               RATE,
               FREE_STORAGE_DAYS,
               AMOUNT,
               START_DATE,
               END_DATE,
               STATUS,
               REVIEW_BY,
               REVIEW_BY_NAME,
               REVIEW_BY_TIME,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_BY_NAME,
               UPDATE_TIME,
               CONTRACT_RATE_ID,
               TAX,
               TAX_AMOUNT
        FROM T_COST_STORAGE_SETTLE
        WHERE CARGO_INFO_ID = #{cargoInfoId,jdbcType=BIGINT}
    </select>
</mapper>