<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.statement.mapper.storageSettle.StorageSettleJGSGMapper">

    <select id="listJGWeightInfo" resultType="com.yy.ppm.statement.bean.dto.storageSettle.VWeightInfo">
        SELECT TEMP2.WEIGH_OUT_DT,
               TEMP2.WEIGHT_GOODS
        FROM (SELECT ID, CARGO_INFO_ID FROM T_BUS_HANDOVERLIST UNION SELECT ID, CARGO_INFO_ID FROM T_BUS_HANDOVERLIST_TRANSFER) TBH
                 JOIN T_BUS_CARGO_INFO TBCI ON TBH.CARGO_INFO_ID = TBCI.ID
                 JOIN (SELECT TEMP.CARGO_INFO_ID, VWI.WEIGH_OUT_DT, VWI.WEIGHT_GOODS
                       FROM (SELECT TBTC.BUSINESS_NO, TBTC.CARGO_INFO_ID
                             FROM T_BUS_TRUST_CARGO TBTC
                                      JOIN T_BUS_TRUST TBT
                                           ON TBTC.TRUST_ID = TBT.ID
                                               AND TBT.TYPE IN ('集港', '拆箱集港')) TEMP
                                JOIN V_WEIGHT_INFO VWI
                                     ON VWI.IS_OLD = '否' AND TEMP.BUSINESS_NO = VWI.PLAN_NO
                       UNION ALL
                       SELECT TO_NUMBER(VWI2.CARGO_INFO_ID), VWI2.WEIGH_OUT_DT, VWI2.WEIGHT_GOODS
                       FROM V_WEIGHT_INFO VWI2
                       WHERE VWI2.IS_OLD = '是' AND VWI2.PLAN_TYPE IN ('集港', '拆箱集港')) TEMP2 ON TBCI.ID = TEMP2.CARGO_INFO_ID
        WHERE TBH.ID = #{handoverlistId,jdbcType=BIGINT}
    </select>

    <select id="listSGWeightInfo" resultType="com.yy.ppm.statement.bean.dto.storageSettle.VWeightInfo">
        SELECT TEMP2.WEIGH_OUT_DT,
               TEMP2.WEIGHT_GOODS
        FROM (SELECT ID, CARGO_INFO_ID FROM T_BUS_HANDOVERLIST UNION SELECT ID, CARGO_INFO_ID FROM T_BUS_HANDOVERLIST_TRANSFER) TBH
                 JOIN T_BUS_CARGO_INFO TBCI ON TBH.CARGO_INFO_ID = TBCI.ID
                 JOIN (SELECT TEMP.CARGO_INFO_ID, VWI.WEIGH_OUT_DT, VWI.WEIGHT_GOODS
                       FROM (SELECT TBTC.BUSINESS_NO, TBTC.CARGO_INFO_ID
                             FROM T_BUS_TRUST_CARGO TBTC
                                      JOIN T_BUS_TRUST TBT
                                           ON TBTC.TRUST_ID = TBT.ID
                                               AND TBT.TYPE = '陆销') TEMP
                                JOIN V_WEIGHT_INFO VWI
                                     ON VWI.IS_OLD = '否' AND TEMP.BUSINESS_NO = VWI.PLAN_NO
                       UNION ALL
                       SELECT TO_NUMBER(VWI2.CARGO_INFO_ID), VWI2.WEIGH_OUT_DT, VWI2.WEIGHT_GOODS
                       FROM V_WEIGHT_INFO VWI2
                       WHERE VWI2.IS_OLD = '是' AND VWI2.PLAN_TYPE = '陆销') TEMP2 ON TBCI.ID = TEMP2.CARGO_INFO_ID
        WHERE TBH.ID = #{handoverlistId,jdbcType=BIGINT}
    </select>
</mapper>