<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.largescreen.mapper.SInportCarMapper">

    <sql id="commonList">
        SELECT ID,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               CAR_NUM,
               SHIP_NAME,
               PORT_CODE,
               CARGO_NAME,
               PLAN_TON,
               CARGO_OWNER,
               IN_PORT_DATE,
               IN_PORT_TIME
        FROM S_INPORT_CAR
    </sql>
    <sql id="condition">
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="carNum != null">
                <bind name="carNumLike" value="'%' +carNum + '%'"/>
                and CAR_NUM LIKE #{carNumLike}
            </if>
            <if test="shipName != null">
                and SHIP_NAME = #{shipName}
            </if>
            <if test="portCode != null">
                and PORT_CODE = #{portCode}
            </if>
            <if test="cargoName != null">
                and CARGO_NAME = #{cargoName}
            </if>
            <if test="planTon != null">
                and PLAN_TON = #{planTon}
            </if>
            <if test="cargoOwner != null">
                and CARGO_OWNER = #{cargoOwner}
            </if>
            <if test="inPortDate != null">
                and IN_PORT_DATE = #{inPortDate}
            </if>
            <if test="inPortTime != null">
                and IN_PORT_TIME = #{inPortTime}
            </if>
        </where>
    </sql>


    <!--通过实体作为筛选条件查询-->
    <select id="getPageList" resultType="com.yy.ppm.largescreen.bean.dto.SInportCarDTO"
            parameterType="com.yy.ppm.largescreen.bean.dto.SInportCarSearchDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.largescreen.bean.dto.SInportCarDTO"
            parameterType="com.yy.ppm.largescreen.bean.dto.SInportCarSearchDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.largescreen.bean.dto.SInportCarDTO" parameterType="java.lang.Long">
        <include refid="commonList"></include>
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getExportList" resultType="com.yy.ppm.largescreen.bean.dto.SInportCarExportDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.largescreen.bean.dto.SInportCarDTO">
        INSERT INTO S_INPORT_CAR(ID,
                                 CAR_NUM,
                                 SHIP_NAME,
                                 PORT_CODE,
                                 CARGO_NAME,
                                 PLAN_TON,
                                 CARGO_OWNER,
                                 IN_PORT_DATE,
                                 IN_PORT_TIME,
                                 CREATE_BY,
                                 CREATE_BY_NAME,
                                 CREATE_TIME)
        VALUES (#{id, jdbcType=VARCHAR},
                #{carNum, jdbcType=VARCHAR},
                #{shipName, jdbcType=VARCHAR},
                #{portCode, jdbcType=VARCHAR},
                #{cargoName, jdbcType=VARCHAR},
                #{planTon, jdbcType=VARCHAR},
                #{cargoOwner, jdbcType=VARCHAR},
                #{inPortDate, jdbcType=VARCHAR},
                #{inPortTime, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now})
    </insert>

    <!-- 批量新增 -->
    <insert id="insertList" parameterType="com.yy.ppm.largescreen.bean.dto.SInportCarDTO">
        begin
        <foreach collection="sInportCarDTOS" item="item" separator="  ">
            INSERT INTO S_INPORT_CAR(
            ID,
            CAR_NUM,
            SHIP_NAME,
            PORT_CODE,
            CARGO_NAME,
            PLAN_TON,
            CARGO_OWNER,
            IN_PORT_DATE,
            IN_PORT_TIME,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME
            )VALUES (
            #{item.id, jdbcType=VARCHAR},
            #{item.carNum, jdbcType=VARCHAR},
            #{item.shipName, jdbcType=VARCHAR},
            #{item.portCode, jdbcType=VARCHAR},
            #{item.cargoName, jdbcType=VARCHAR},
            #{item.planTon, jdbcType=VARCHAR},
            #{item.cargoOwner, jdbcType=VARCHAR},
            #{item.inPortDate, jdbcType=VARCHAR},
            #{item.inPortTime, jdbcType=VARCHAR},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now}
            );
        </foreach>
        end;
    </insert>
    <insert id="insertFileList">
        begin
        <foreach collection="sInportCarInfoDTOS" item="item" separator="  ">
            INSERT INTO S_INPORT_CAR(
            ID,
            CAR_NUM,
            SHIP_NAME,
            PORT_CODE,
            CARGO_NAME,
            PLAN_TON,
            CARGO_OWNER,
            IN_PORT_DATE,
            IN_PORT_TIME,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME
            )VALUES (
            #{item.id, jdbcType=VARCHAR},
            #{item.carNum, jdbcType=VARCHAR},
            #{item.shipName, jdbcType=VARCHAR},
            #{item.portCode, jdbcType=VARCHAR},
            #{item.cargoName, jdbcType=VARCHAR},
            #{item.planTon, jdbcType=VARCHAR},
            #{item.cargoOwner, jdbcType=VARCHAR},
            #{item.inPortDate, jdbcType=VARCHAR},
            #{item.inPortTime, jdbcType=VARCHAR},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now}
            );
        </foreach>
        end;
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.largescreen.bean.dto.SInportCarDTO">
        UPDATE
        S_INPORT_CAR
        <set>
            <if test="id != null">
                ID = #{id,jdbcType=VARCHAR},
            </if>
            <if test="carNum != null">
                CAR_NUM = #{carNum,jdbcType=VARCHAR},
            </if>
            <if test="shipName != null">
                SHIP_NAME = #{shipName,jdbcType=VARCHAR},
            </if>
            <if test="portCode != null">
                PORT_CODE = #{portCode,jdbcType=VARCHAR},
            </if>
            <if test="cargoName != null">
                CARGO_NAME = #{cargoName,jdbcType=VARCHAR},
            </if>
            <if test="planTon != null">
                PLAN_TON = #{planTon,jdbcType=VARCHAR},
            </if>
            <if test="cargoOwner != null">
                CARGO_OWNER = #{cargoOwner,jdbcType=VARCHAR},
            </if>
            <if test="inPortDate != null">
                IN_PORT_DATE = #{inPortDate,jdbcType=VARCHAR},
            </if>
            <if test="inPortTime != null">
                IN_PORT_TIME = #{inPortTime,jdbcType=VARCHAR},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 批量修改 -->
    <update id="updateListById" parameterType="com.yy.ppm.largescreen.bean.dto.SInportCarDTO">
        begin
        <foreach collection="sInportCarDTOS" item="item" separator=" ">
            UPDATE
            S_INPORT_CAR
            SET
            <if test="id != null">
                ID = #{id,jdbcType=VARCHAR},
            </if>
            <if test="carNum != null">
                CAR_NUM = #{carNum,jdbcType=VARCHAR},
            </if>
            <if test="shipName != null">
                SHIP_NAME = #{shipName,jdbcType=VARCHAR},
            </if>
            <if test="portCode != null">
                PORT_CODE = #{portCode,jdbcType=VARCHAR},
            </if>
            <if test="cargoName != null">
                CARGO_NAME = #{cargoName,jdbcType=VARCHAR},
            </if>
            <if test="planTon != null">
                PLAN_TON = #{planTon,jdbcType=VARCHAR},
            </if>
            <if test="cargoOwner != null">
                CARGO_OWNER = #{cargoOwner,jdbcType=VARCHAR},
            </if>
            <if test="inPortDate != null">
                IN_PORT_DATE = #{inPortDate,jdbcType=VARCHAR},
            </if>
            <if test="inPortTime != null">
                IN_PORT_TIME = #{inPortTime,jdbcType=VARCHAR},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
            <where>
                id = #{id};
            </where>
        </foreach>
        end;
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM S_INPORT_CAR
        WHERE id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteListByIds" parameterType="java.lang.Long">
        DELETE FROM
        S_INPORT_CAR
        WHERE
        ID IN (
        <foreach collection="ids" item="id" index="index" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByCondition" parameterType="com.yy.ppm.largescreen.bean.dto.SInportCarDTO">
        DELETE FROM
        S_INPORT_CAR
        <include refid="condition"></include>
    </delete>


</mapper>

