<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.largescreen.mapper.SPortStorageMapper">

    <sql id="commonList">
        SELECT ID,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               PORT_CODE,
               CARGO_NAME,
               TON,
               CARGO_TYPE
        FROM S_PORT_STORAGE
    </sql>
    <sql id="condition">
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="portCode != null">
                and PORT_CODE = #{portCode}
            </if>
            <if test="cargoName != null">
                <bind name="cargoNameLike" value="'%' +cargoName + '%'"/>
                and CARGO_NAME LIKE #{cargoNameLike}
            </if>
            <if test="ton != null">
                and TON = #{ton}
            </if>
            <if test="cargoType != null">
                and CARGO_TYPE = #{cargoType}
            </if>
        </where>
    </sql>


    <!--通过实体作为筛选条件查询-->
    <select id="getPageList" resultType="com.yy.ppm.largescreen.bean.dto.SPortStorageDTO"
            parameterType="com.yy.ppm.largescreen.bean.dto.SPortStorageSearchDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.largescreen.bean.dto.SPortStorageDTO"
            parameterType="com.yy.ppm.largescreen.bean.dto.SPortStorageSearchDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.largescreen.bean.dto.SPortStorageDTO" parameterType="java.lang.Long">
        <include refid="commonList"></include>
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getExportList" resultType="com.yy.ppm.largescreen.bean.dto.SPortStorageExportDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.largescreen.bean.dto.SPortStorageDTO">
        INSERT INTO S_PORT_STORAGE(ID,
                                   PORT_CODE,
                                   CARGO_NAME,
                                   TON,
                                   CARGO_TYPE,
                                   CREATE_BY,
                                   CREATE_BY_NAME,
                                   CREATE_TIME)
        VALUES (#{portCode, jdbcType=VARCHAR},
                #{cargoName, jdbcType=VARCHAR},
                #{ton, jdbcType=VARCHAR},
                #{cargoType, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now})
    </insert>

    <!-- 批量新增 -->
    <insert id="insertList" parameterType="com.yy.ppm.largescreen.bean.dto.SPortStorageDTO">
        begin
        <foreach collection="sPortStorageDTOS" item="item" separator="  ">
            INSERT INTO S_PORT_STORAGE(
            ID,
            PORT_CODE,
            CARGO_NAME,
            TON,
            CARGO_TYPE,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME
            )VALUES (
            #{item.id, jdbcType=VARCHAR},
            #{item.portCode, jdbcType=VARCHAR},
            #{item.cargoName, jdbcType=VARCHAR},
            #{item.ton, jdbcType=VARCHAR},
            #{item.cargoType, jdbcType=VARCHAR},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now}
            );
        </foreach>
        end;
    </insert>
    <insert id="insertFileList">
        begin
        <foreach collection="sPortStorageInfoDTOS" item="item" separator="  ">
            INSERT INTO S_PORT_STORAGE(
            ID,
            PORT_CODE,
            CARGO_NAME,
            TON,
            CARGO_TYPE,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME
            )VALUES (
            #{item.id, jdbcType=VARCHAR},
            #{item.portCode, jdbcType=VARCHAR},
            #{item.cargoName, jdbcType=VARCHAR},
            #{item.ton, jdbcType=VARCHAR},
            #{item.cargoType, jdbcType=VARCHAR},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now}
            );
        </foreach>
        end;
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.largescreen.bean.dto.SPortStorageDTO">
        UPDATE
        S_PORT_STORAGE
        <set>
            <if test="portCode != null">
                PORT_CODE = #{portCode,jdbcType=VARCHAR},
            </if>
            <if test="cargoName != null">
                CARGO_NAME = #{cargoName,jdbcType=VARCHAR},
            </if>
            <if test="ton != null">
                TON = #{ton,jdbcType=VARCHAR},
            </if>
            <if test="cargoType != null">
                CARGO_TYPE = #{cargoType,jdbcType=VARCHAR},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 批量修改 -->
    <update id="updateListById" parameterType="com.yy.ppm.largescreen.bean.dto.SPortStorageDTO">
        begin
        <foreach collection="sPortStorageDTOS" item="item" separator=" ">
            UPDATE
            S_PORT_STORAGE
            SET
            <if test="portCode != null">
                PORT_CODE = #{portCode,jdbcType=VARCHAR},
            </if>
            <if test="cargoName != null">
                CARGO_NAME = #{cargoName,jdbcType=VARCHAR},
            </if>
            <if test="ton != null">
                TON = #{ton,jdbcType=VARCHAR},
            </if>
            <if test="cargoType != null">
                CARGO_TYPE = #{cargoType,jdbcType=VARCHAR},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
            <where>
                id = #{id};
            </where>
        </foreach>
        end;
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM S_PORT_STORAGE
        WHERE id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteListByIds" parameterType="java.lang.Long">
        DELETE FROM
        S_PORT_STORAGE
        WHERE
        ID IN (
        <foreach collection="ids" item="id" index="index" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByCondition" parameterType="com.yy.ppm.largescreen.bean.dto.SPortStorageDTO">
        DELETE FROM
        S_PORT_STORAGE
        <include refid="condition"></include>
    </delete>


</mapper>

