<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.largescreen.mapper.SShipTrendsMapper">

    <sql id="commonList">
        SELECT ID,
               CREATE_BY,
               CREATE_BY_NAME,
               CREATE_TIME,
               PORT_CODE,
               SHIP_NAME,
               CARGO_NAME,
               LOAD_OR_UNLOAD,
               TON,
               SHIP_STATUS,
               BERTH_TIME,
               LEAVE_TIME,
               BERTH_NAME,
               SCHEDULE
        FROM S_SHIP_TRENDS
    </sql>
    <sql id="condition">
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="portCode != null">
                and PORT_CODE = #{portCode}
            </if>
            <if test="shipName != null">
                <bind name="shipNameLike" value="'%' +shipName + '%'"/>
                and SHIP_NAME LIKE #{shipNameLike}
            </if>
            <if test="cargoName != null">
                and CARGO_NAME = #{cargoName}
            </if>
            <if test="loadOrUnload != null">
                and LOAD_OR_UNLOAD = #{loadOrUnload}
            </if>
            <if test="ton != null">
                and TON = #{ton}
            </if>
            <if test="shipStatus != null">
                and SHIP_STATUS = #{shipStatus}
            </if>
            <if test="berthTime != null">
                and BERTH_TIME = #{berthTime}
            </if>
            <if test="leaveTime != null">
                and LEAVE_TIME = #{leaveTime}
            </if>
            <if test="berthName != null">
                and BERTH_NAME = #{berthName}
            </if>
            <if test="schedule != null">
                and SCHEDULE = #{schedule}
            </if>
        </where>
    </sql>


    <!--通过实体作为筛选条件查询-->
    <select id="getPageList" resultType="com.yy.ppm.largescreen.bean.dto.SShipTrendsDTO"
            parameterType="com.yy.ppm.largescreen.bean.dto.SShipTrendsSearchDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.largescreen.bean.dto.SShipTrendsDTO"
            parameterType="com.yy.ppm.largescreen.bean.dto.SShipTrendsSearchDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>

    <!-- 根据gid查询数据 -->
    <select id="getById" resultType="com.yy.ppm.largescreen.bean.dto.SShipTrendsDTO" parameterType="java.lang.Long">
        <include refid="commonList"></include>
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getExportList" resultType="com.yy.ppm.largescreen.bean.dto.SShipTrendsExportDTO">
        <include refid="commonList"></include>
        <include refid="condition"></include>
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.yy.ppm.largescreen.bean.dto.SShipTrendsDTO">
        INSERT INTO S_SHIP_TRENDS(ID,
                                  PORT_CODE,
                                  SHIP_NAME,
                                  CARGO_NAME,
                                  LOAD_OR_UNLOAD,
                                  TON,
                                  SHIP_STATUS,
                                  BERTH_TIME,
                                  LEAVE_TIME,
                                  BERTH_NAME,
                                  SCHEDULE,
                                  CREATE_BY,
                                  CREATE_BY_NAME,
                                  CREATE_TIME)
        VALUES (#{portCode, jdbcType=VARCHAR},
                #{shipName, jdbcType=VARCHAR},
                #{cargoName, jdbcType=VARCHAR},
                #{loadOrUnload, jdbcType=VARCHAR},
                #{ton, jdbcType=VARCHAR},
                #{shipStatus, jdbcType=VARCHAR},
                #{berthTime, jdbcType=VARCHAR},
                #{leaveTime, jdbcType=VARCHAR},
                #{berthName, jdbcType=VARCHAR},
                #{schedule, jdbcType=VARCHAR},
                #{loginUserId, jdbcType=BIGINT},
                #{loginUserName, jdbcType=VARCHAR},
                #{now})
    </insert>

    <!-- 批量新增 -->
    <insert id="insertList" parameterType="com.yy.ppm.largescreen.bean.dto.SShipTrendsDTO">
        begin
        <foreach collection="sShipTrendsDTOS" item="item" separator="  ">
            INSERT INTO S_SHIP_TRENDS(
            ID,
            PORT_CODE,
            SHIP_NAME,
            CARGO_NAME,
            LOAD_OR_UNLOAD,
            TON,
            SHIP_STATUS,
            BERTH_TIME,
            LEAVE_TIME,
            BERTH_NAME,
            SCHEDULE,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME
            )VALUES (
            #{item.id, jdbcType=VARCHAR},
            #{item.portCode, jdbcType=VARCHAR},
            #{item.shipName, jdbcType=VARCHAR},
            #{item.cargoName, jdbcType=VARCHAR},
            #{item.loadOrUnload, jdbcType=VARCHAR},
            #{item.ton, jdbcType=VARCHAR},
            #{item.shipStatus, jdbcType=VARCHAR},
            #{item.berthTime, jdbcType=VARCHAR},
            #{item.leaveTime, jdbcType=VARCHAR},
            #{item.berthName, jdbcType=VARCHAR},
            #{item.schedule, jdbcType=VARCHAR},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now}
            );
        </foreach>
        end;
    </insert>
    <insert id="insertFileList">
        begin
        <foreach collection="sShipTrendsInfoDTOS" item="item" separator="  ">
            INSERT INTO S_SHIP_TRENDS(
            ID,
            PORT_CODE,
            SHIP_NAME,
            CARGO_NAME,
            LOAD_OR_UNLOAD,
            TON,
            SHIP_STATUS,
            BERTH_TIME,
            LEAVE_TIME,
            BERTH_NAME,
            SCHEDULE,
            CREATE_BY,
            CREATE_BY_NAME,
            CREATE_TIME
            )VALUES (
            #{item.id, jdbcType=VARCHAR},
            #{item.portCode, jdbcType=VARCHAR},
            #{item.shipName, jdbcType=VARCHAR},
            #{item.cargoName, jdbcType=VARCHAR},
            #{item.loadOrUnload, jdbcType=VARCHAR},
            #{item.ton, jdbcType=VARCHAR},
            #{item.shipStatus, jdbcType=VARCHAR},
            #{item.berthTime, jdbcType=VARCHAR},
            #{item.leaveTime, jdbcType=VARCHAR},
            #{item.berthName, jdbcType=VARCHAR},
            #{item.schedule, jdbcType=VARCHAR},
            #{item.loginUserId, jdbcType=BIGINT},
            #{item.loginUserName, jdbcType=VARCHAR},
            #{item.now}
            );
        </foreach>
        end;
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.yy.ppm.largescreen.bean.dto.SShipTrendsDTO">
        UPDATE
        S_SHIP_TRENDS
        <set>
            <if test="portCode != null">
                PORT_CODE = #{portCode,jdbcType=VARCHAR},
            </if>
            <if test="shipName != null">
                SHIP_NAME = #{shipName,jdbcType=VARCHAR},
            </if>
            <if test="cargoName != null">
                CARGO_NAME = #{cargoName,jdbcType=VARCHAR},
            </if>
            <if test="loadOrUnload != null">
                LOAD_OR_UNLOAD = #{loadOrUnload,jdbcType=VARCHAR},
            </if>
            <if test="ton != null">
                TON = #{ton,jdbcType=VARCHAR},
            </if>
            <if test="shipStatus != null">
                SHIP_STATUS = #{shipStatus,jdbcType=VARCHAR},
            </if>
            <if test="berthTime != null">
                BERTH_TIME = #{berthTime,jdbcType=VARCHAR},
            </if>
            <if test="leaveTime != null">
                LEAVE_TIME = #{leaveTime,jdbcType=VARCHAR},
            </if>
            <if test="berthName != null">
                BERTH_NAME = #{berthName,jdbcType=VARCHAR},
            </if>
            <if test="schedule != null">
                SCHEDULE = #{schedule,jdbcType=VARCHAR},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 批量修改 -->
    <update id="updateListById" parameterType="com.yy.ppm.largescreen.bean.dto.SShipTrendsDTO">
        begin
        <foreach collection="sShipTrendsDTOS" item="item" separator=" ">
            UPDATE
            S_SHIP_TRENDS
            SET
            <if test="portCode != null">
                PORT_CODE = #{portCode,jdbcType=VARCHAR},
            </if>
            <if test="shipName != null">
                SHIP_NAME = #{shipName,jdbcType=VARCHAR},
            </if>
            <if test="cargoName != null">
                CARGO_NAME = #{cargoName,jdbcType=VARCHAR},
            </if>
            <if test="loadOrUnload != null">
                LOAD_OR_UNLOAD = #{loadOrUnload,jdbcType=VARCHAR},
            </if>
            <if test="ton != null">
                TON = #{ton,jdbcType=VARCHAR},
            </if>
            <if test="shipStatus != null">
                SHIP_STATUS = #{shipStatus,jdbcType=VARCHAR},
            </if>
            <if test="berthTime != null">
                BERTH_TIME = #{berthTime,jdbcType=VARCHAR},
            </if>
            <if test="leaveTime != null">
                LEAVE_TIME = #{leaveTime,jdbcType=VARCHAR},
            </if>
            <if test="berthName != null">
                BERTH_NAME = #{berthName,jdbcType=VARCHAR},
            </if>
            <if test="schedule != null">
                SCHEDULE = #{schedule,jdbcType=VARCHAR},
            </if>
            UPDATE_BY = #{loginUserId, jdbcType=BIGINT},
            UPDATE_BY_NAME = #{loginUserName, jdbcType=VARCHAR},
            UPDATE_TIME = #{now}
            <where>
                id = #{id};
            </where>
        </foreach>
        end;
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM S_SHIP_TRENDS
        WHERE id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteListByIds" parameterType="java.lang.Long">
        DELETE FROM
        S_SHIP_TRENDS
        WHERE
        ID IN (
        <foreach collection="ids" item="id" index="index" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByCondition" parameterType="com.yy.ppm.largescreen.bean.dto.SShipTrendsDTO">
        DELETE FROM
        S_SHIP_TRENDS
        <include refid="condition"></include>
    </delete>


</mapper>

