<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.setting.mapper.TSettingAdSearchMapper">

    <sql id="commonList">
        SELECT
        t.ID,
        t.TABLE_ID,
        t.COL_KEY,
        t.COL_LABEL,
        t.COL_TYPE,
        t.STATUS,
        t.REMARK,
        t.COL_SELECT_KEY,
        t.MENU_ID,
        t.SORT_NUM,
        t.COL_SELECT_SOURCE,
        t.DATE_FORMAT,
        t.CREATE_BY,
        t.CREATE_BY_NAME,
        t.CREATE_TIME,
        t.UPDATE_BY,
        t.UPDATE_BY_NAME,
        t.UPDATE_TIME,
        t.IS_BUSINESS_MULTI_SELECT,
        m.MENU_NAME
        FROM
        T_SETTING_AD_SEARCH t
        LEFT JOIN SYS_MENU m ON t.MENU_ID = m.ID
        <where>
            t.SORT_NUM = 1
            <if test="id != null">
                and t.ID = #{id}
            </if>
            <if test="tableId != null and tableId != ''">
                and t.TABLE_ID LIKE '%' || TRIM(#{tableId}) || '%'
            </if>
            <if test="colKey != null and colKey != ''">
                and t.COL_KEY = #{colKey}
            </if>
            <if test="colLabel != null and colLabel != ''">
                and t.COL_LABEL = #{colLabel}
            </if>
            <if test="colType != null and colType != ''">
                and t.COL_TYPE = #{colType}
            </if>
            <if test="status != null and status != ''">
                and t.STATUS = #{status}

            </if>
            <if test="remark != null and remark != ''">
                and t.REMARK = #{remark}
            </if>
            <if test="colSelectKey != null and colSelectKey != ''">
                and t.COL_SELECT_KEY = #{colSelectKey}
            </if>
            <if test="menuName != null and menuName != ''">
                and m.MENU_NAME LIKE '%' || TRIM(#{menuName}) || '%'
            </if>
        </where>
    </sql>


    <!--通过实体作为筛选条件查询-->
    <select id="getList" resultType="com.yy.ppm.setting.bean.dto.TSettingAdSearchDTO" parameterType="com.yy.ppm.setting.bean.dto.TSettingAdSearchSearchDTO">
        <include refid="commonList"></include>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="exportList" resultType="com.yy.ppm.setting.bean.dto.TSettingAdSearchDTO" parameterType="com.yy.ppm.setting.bean.dto.TSettingAdSearchSearchDTO">
        <include refid="commonList"></include>
    </select>

    <select id="getByMenuIdAndTableId" resultType="com.yy.ppm.setting.bean.dto.TSettingAdSearchDTO">
        SELECT
        ID,
        TABLE_ID,
        COL_KEY,
        COL_LABEL,
        COL_TYPE,
        STATUS,
        REMARK,
        COL_SELECT_KEY,
        MENU_ID,
        SORT_NUM,
        COL_SELECT_SOURCE,
        DATE_FORMAT,
        IS_BUSINESS_MULTI_SELECT
        FROM
        T_SETTING_AD_SEARCH
        <where>
            MENU_ID = #{menuId}
            and TABLE_ID = #{tableId}
        </where>
    </select>
    <insert id="insertBatch" parameterType="com.yy.ppm.setting.bean.dto.TSettingAdSearchDTO">
        INSERT ALL
        <foreach collection="list" item="item" index="index">
            INTO T_SETTING_AD_SEARCH(
                ID,
                TABLE_ID,
                COL_KEY,
                COL_LABEL,
                COL_TYPE,
                STATUS,
                REMARK,
                COL_SELECT_KEY,
                MENU_ID,
                SORT_NUM,
                COL_SELECT_SOURCE,
                DATE_FORMAT,
                IS_BUSINESS_MULTI_SELECT,
                CREATE_BY,
                CREATE_BY_NAME,
                CREATE_TIME
            )VALUES (
                        #{item.id, jdbcType=VARCHAR},
                        #{item.tableId, jdbcType=VARCHAR},
                        #{item.colKey, jdbcType=VARCHAR},
                        #{item.colLabel, jdbcType=VARCHAR},
                        #{item.colType, jdbcType=VARCHAR},
                        #{item.status, jdbcType=VARCHAR},
                        #{item.remark, jdbcType=VARCHAR},
                        #{item.colSelectKey, jdbcType=VARCHAR},
                        #{item.menuId, jdbcType=BIGINT},
                        #{item.sortNum, jdbcType=INTEGER},
                        #{item.colSelectSource, jdbcType=VARCHAR},
                        #{item.dateFormat, jdbcType=VARCHAR},
                        #{item.isBusinessMultiSelect,jdbcType=VARCHAR},
                        #{item.loginUserId, jdbcType=BIGINT},
                        #{item.loginUserName, jdbcType=VARCHAR},
                        #{item.now}
                    )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <delete id="deleteByMenuIdAndTableId">
        DELETE FROM
            T_SETTING_AD_SEARCH
        WHERE
            MENU_ID = #{menuId}
            and TABLE_ID = #{tableId}
    </delete>
</mapper>

