<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.ppm.statement.mapper.storageAmountCalculate.StorageAmountCalculateMapper">

<!--    计算系统中标记为结算堆存费并且是还未在系统中做过结算的-->
    <select id="cursorListCargoInfo" resultType="com.yy.ppm.statement.bean.dto.storageFee.TBusCargoInfoDTO">
        WITH SOURCE AS (SELECT TBCI.ID, CASE WHEN TBCI.SOURCE = '30' THEN '货转' WHEN TBCI.SOURCE = '50' THEN '混配'
                                             when TBCI.SOURCE = '20' then '集港'
                                             when tbci.SOURCE = '10' then '卸船'
                                             ELSE COALESCE(TBCI.IS_TOS, CASE WHEN TBT.TYPE = '拆箱集港' THEN '集港' ELSE TBT.TYPE END) END "source"
                        FROM T_BUS_CARGO_INFO TBCI
                                 LEFT JOIN T_BUS_TRUST TBT ON TBCI.TRUST_ID = TBT.ID),
             STORAGE_RATE AS (SELECT TBCC.COMPANY_ID, TBC.CUSTOMER_ID, TBC.START_TIME, TBC.END_TIME, TBCR.CARGO_CODE, TBCR.FREE_STORAGE_DAYS
                              FROM T_BUS_CONTRACT_COMPANY TBCC
                                       JOIN T_BUS_CONTRACT TBC ON (TBC.STATUS = '20' AND TBCC.CONTRACT_ID = TBC.ID)
                                       JOIN T_BUS_CONTRACT_RATE TBCR ON (TBCR.TYPE = '10' AND TBCR.RATE_ITEM_CODE = 'MS00240' AND TBC.ID = TBCR.CONTRACT_ID)
                              GROUP BY TBCC.COMPANY_ID, TBC.CUSTOMER_ID, TBC.START_TIME, TBC.END_TIME, TBCR.CARGO_CODE, TBCR.FREE_STORAGE_DAYS
                              ORDER BY TBCR.FREE_STORAGE_DAYS DESC)
        SELECT SOURCE."source",
               TBCI.ID,
               TRUNC(NVL2(TBCI.CLEAR_DATE, TBCI.REAL_CLEAR_DATE, SYSDATE)
                         - CASE SOURCE."source"
                               WHEN '卸船' THEN TDSI.WORK_START_TIME
                               WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
                               WHEN '货转' THEN TBCI.TRANSFER_DATE
                               WHEN '混配' THEN TBCMR.MIX_TIME END
                         - CASE SOURCE."source"
                               WHEN '卸船' THEN MIN(STORAGE_RATE.FREE_STORAGE_DAYS)
                               WHEN '集港' THEN MIN(STORAGE_RATE.FREE_STORAGE_DAYS)
                               WHEN '货转' THEN TBCI.RESIDUE_STORAGE
                               WHEN '混配' THEN TBCI.MIX_FREE_STORAGE_DAYS END, 0) "overdueDays",
               CASE SOURCE."source"
                   WHEN '卸船' THEN MIN(STORAGE_RATE.FREE_STORAGE_DAYS)
                   WHEN '集港' THEN MIN(STORAGE_RATE.FREE_STORAGE_DAYS)
                   WHEN '货转' THEN TBCI.RESIDUE_STORAGE
                   WHEN '混配' THEN TBCI.MIX_FREE_STORAGE_DAYS END "freeDays",
               TBCI.CARGO_INFO_NO, TBCI.CARGO_OWNER_ID,
               TBCI.CARGO_OWNER_NAME, MC.SIGN, TBCI.CARGO_NAME,
               CASE
                   WHEN TBCI.CARGO_NAME = '石油焦'
                       OR MCC.CARGO_TYPE_NAME IN ('木材', '粮食', '化肥农药') THEN '件'
                   ELSE TO_CHAR (TBCI.PACKING_NAME)
                   END "workTypeLabel",mcc.CARGO_CATEGORY_NAME,MCC.CARGO_TYPE_NAME, TBCI.SHIPVOYAGE_ID, TBCI.SHIPVOYAGE_ITEM_ID,
               TDS.SHIP_NAME ||'_'||TDSI.VOYAGE shipNameVoyage, TDS.SCN, TDS.BERTH_TIME,
               TDSI.WORK_START_TIME, TDSI.WORK_END_TIME,
               TDS.LEAVE_BERTH_TIME, TDSI.LOAD_UNLOAD,
               TDSI.IMP_EXP, TBCI.TRADE_TYPE,
               WEIGH_JG."minWeighOutDt", TBCI.TRANSFER_DATE,
               TBCMR.MIX_TIME, TBCI.CLEAR_BY_NAME, TBCI.REAL_CLEAR_DATE,
               TBT.TRUST_NO, TBT.RELEASE_TIME, TBCI.COMPANY_ID, TBCI.COMPANY_NAME,
               TBCI.CLEAR_DATE, TBCI.RESIDUE_STORAGE, TBCI.MIX_FREE_STORAGE_DAYS,
              to_date(TO_CHAR (
                      (
                          case
                              when  TCSS.CARGO_INFO_ID IS not NULL then TMPTCSS.maxTime
                              else to_date(to_char(sysdate,'yyyy-MM-dd'),'yyyy-MM-dd')
                              end - TRUNC(NVL2(TBCI.CLEAR_DATE, TBCI.REAL_CLEAR_DATE, SYSDATE)
                                              - CASE SOURCE."source"
                                                    WHEN '卸船' THEN TDSI.WORK_START_TIME
                                                    WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
                                                    WHEN '货转' THEN TBCI.TRANSFER_DATE
                                                    WHEN '混配' THEN TBCMR.MIX_TIME END
                                              - CASE SOURCE."source"
                                                    WHEN '卸船' THEN MIN(STORAGE_RATE.FREE_STORAGE_DAYS)
                                                    WHEN '集港' THEN MIN(STORAGE_RATE.FREE_STORAGE_DAYS)
                                                    WHEN '货转' THEN TBCI.RESIDUE_STORAGE
                                                    WHEN '混配' THEN TBCI.MIX_FREE_STORAGE_DAYS END, 0) * INTERVAL '1' DAY
                          ),
                      'yyyy-MM-dd'
                      ),'yyyy-MM-dd')  over_date,
               TBCI.IS_CLEAR,tbci.CREATE_TIME, decode (TBT3.TBT_TYPE, '装船', '倒运', '卸船', '倒运', TBT3.TBT_TYPE) FLOW_DIRECTION,
               CASE WHEN TCSS.CARGO_INFO_ID IS NOT NULL THEN DECODE(TCSS.IS_FINAL, '0', '20', '1', '30') ELSE '10' END settle_status
        FROM T_BUS_CARGO_INFO TBCI
                 JOIN SOURCE ON (TBCI.ID = SOURCE.ID AND SOURCE."source" IN ('卸船', '集港', '货转', '混配'))
                 LEFT JOIN (SELECT CARGO_INFO_ID, MAX(IS_FINAL) IS_FINAL FROM T_COST_STORAGE_SETTLE GROUP BY CARGO_INFO_ID) TCSS ON TCSS.CARGO_INFO_ID = TBCI.ID
                 LEFT JOIN T_BUS_TRUST TBT ON TBCI.TRUST_ID = TBT.ID
                 LEFT JOIN T_DIS_SHIPVOYAGE TDS ON TBCI.SHIPVOYAGE_ID = TDS.ID
                 LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TBCI.SHIPVOYAGE_ITEM_ID = TDSI.ID
                 JOIN M_CARGO MC ON (MC.DEL_FLAG = '0' AND TBCI.CARGO_CODE = MC.CARGO_CODE)
                 left join M_CARGO_CATEGORY MCC on MC.CARGO_CATEGORY_CODE = MCC.CARGO_CATEGORY_CODE
                 left join (
            select
                TCSS.CARGO_INFO_ID,
                sum(TCSSD.AMOUNT) AMOUNT,
                max(TCSS.IS_FINAL) is_final,
                MAX(TCSS.CONTRACT_ID) CONTRACT_ID,
                max(tcss.FREE_STORAGE_DAYS) FREE_STORAGE_DAYS,
                max(TCS.REVIEW_TIME) review_time,
                to_date (
                        to_char (min(TCSSD."DATE"), 'yyyy-MM-dd'),
                        'yyyy-MM-dd'
                ) minTime,
                to_date (
                        to_char (MAX(TCSSD."DATE"), 'yyyy-MM-dd'),
                        'yyyy-MM-dd'
                ) maxTime
            from
                T_COST_STORAGE_SETTLE TCSS
                    left join T_COST_STORAGE_SETTLE_DETAIL TCSSD on TCSS.ID = TCSSD.STORAGE_SETTLE_ID
                    left join T_COST_STATEMENT_DETAIL TCSD2 on TCSD2.BUSINESS_ID = TCSS.ID
                    left join T_COST_STATEMENT TCS on TCS.id  = TCSD2.STATEMENT
            group by
                TCSS.CARGO_INFO_ID
        ) TMPTCSS on TMPTCSS.CARGO_INFO_ID = tbci.id
                 left join (
            select
                TBCI3.ID,
                REGEXP_REPLACE(
                        LISTAGG (
                                TO_CHAR (decode (T.TYPE, '装船', '倒运', '卸船', '倒运', T.TYPE)),
                                ','
                        ) WITHIN GROUP (
                            ORDER BY
                                decode (T.TYPE, '装船', '倒运', '卸船', '倒运', T.TYPE)
                        ),
                        '([^,]+)(,\1)+',
                        '\1'
                ) TBT_TYPE,
                sum(T.PLAN_TON) PLAN_TON
            from
                T_BUS_CARGO_INFO TBCI3
                    join T_BUS_TRUST T on TBCI3.TRUST_ID = T.ID
            group by
                TBCI3.ID
        ) TBT3 on TBT3.ID = TBCI.ID
                 LEFT JOIN (SELECT TEMP.CARGO_INFO_ID, MIN(TEMP.WEIGH_OUT_DT) "minWeighOutDt"
                            FROM (SELECT TEMP.CARGO_INFO_ID, VWI.WEIGH_OUT_DT
                                  FROM (SELECT TBTC.BUSINESS_NO, TBTC.CARGO_INFO_ID
                                        FROM T_BUS_TRUST_CARGO TBTC
                                                 JOIN T_BUS_TRUST TBT ON TBTC.TRUST_ID = TBT.ID AND TBT.TYPE IN ('集港', '拆箱集港')) TEMP
                                           JOIN V_WEIGHT_INFO VWI ON VWI.IS_OLD = '否' AND TEMP.BUSINESS_NO = VWI.PLAN_NO
                                  UNION ALL
                                  SELECT TO_NUMBER(VWI2.CARGO_INFO_ID), VWI2.WEIGH_OUT_DT
                                  FROM V_WEIGHT_INFO VWI2
                                  WHERE VWI2.IS_OLD = '是'
                                    AND VWI2.PLAN_TYPE IN ('集港', '拆箱集港')) TEMP
                            GROUP BY TEMP.CARGO_INFO_ID) WEIGH_JG ON TBCI.ID = WEIGH_JG.CARGO_INFO_ID
                 LEFT JOIN T_BUS_CARGO_MIX_RECORD TBCMR ON TBCI.ID = TBCMR.CARGO_INFO_ID
                 LEFT JOIN T_BUS_CUSTOMER TBCUSTOMER ON TBCUSTOMER.ID = TBCI.CARGO_OWNER_ID
                 LEFT JOIN STORAGE_RATE ON (TBCI.COMPANY_ID = STORAGE_RATE.COMPANY_ID AND TBCI.CARGO_OWNER_ID = STORAGE_RATE.CUSTOMER_ID
            AND (CASE SOURCE."source" WHEN '卸船' THEN TDSI.WORK_START_TIME
                                      WHEN '集港' THEN WEIGH_JG."minWeighOutDt" WHEN '货转' THEN TBCI.TRANSFER_DATE
                                      WHEN '混配' THEN TBCMR.MIX_TIME END) >= STORAGE_RATE.START_TIME
            AND (CASE SOURCE."source" WHEN '卸船' THEN TDSI.WORK_START_TIME
                                      WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
                                      WHEN '货转' THEN TBCI.TRANSFER_DATE WHEN '混配' THEN TBCMR.MIX_TIME END)
                                                &lt; STORAGE_RATE.END_TIME AND TBCI.CARGO_CODE = STORAGE_RATE.CARGO_CODE)
        WHERE TBCI.IS_SETTLE_STORAGE = '1'
          AND TBCUSTOMER.IS_STATIONS = '0'
          AND NOT EXISTS (SELECT * FROM (SELECT CARGO_INFO_ID FROM T_COST_STORAGE_SETTLE where IS_FINAL ='1' GROUP BY CARGO_INFO_ID) WHERE CARGO_INFO_ID = TBCI.ID)
        GROUP BY SOURCE."source", TBCI.ID, TBCI.CARGO_INFO_NO, TBCI.CARGO_OWNER_ID,mcc.CARGO_CATEGORY_NAME,MCC.CARGO_TYPE_NAME,
                 TBCI.CARGO_OWNER_NAME, MC.SIGN, TBCI.CARGO_NAME, MC.WORK_TYPE, TBCI.SHIPVOYAGE_ID, TBCI.SHIPVOYAGE_ITEM_ID, TDS.SHIP_NAME,
                 TDSI.VOYAGE, TDS.SCN, TDS.BERTH_TIME, TDSI.WORK_START_TIME, TDSI.WORK_END_TIME, TDS.LEAVE_BERTH_TIME, TDSI.LOAD_UNLOAD,
                 TDSI.IMP_EXP, TBCI.TRADE_TYPE, WEIGH_JG."minWeighOutDt", TBCI.TRANSFER_DATE, TBCMR.MIX_TIME, TBCI.CLEAR_BY_NAME,
                 TBCI.REAL_CLEAR_DATE, TBT.TRUST_NO, TBT.RELEASE_TIME, TBCI.COMPANY_ID, TBCI.COMPANY_NAME, TBCI.CLEAR_DATE, TBCI.RESIDUE_STORAGE,
                 TBCI.MIX_FREE_STORAGE_DAYS,TBCI.PACKING_NAME, TBCI.IS_CLEAR,tbci.CREATE_TIME,TBT3.TBT_TYPE,
                 CASE WHEN TCSS.CARGO_INFO_ID IS NOT NULL THEN DECODE(TCSS.IS_FINAL, '0', '20', '1', '30') ELSE '10' END,TMPTCSS.maxTime
                ,TCSS.CARGO_INFO_ID
         </select>

    <select id="listStorageSettle" resultType="com.yy.ppm.statement.bean.po.TCostStorageSettlePO">
        SELECT ID,
        COMPANY_ID,
        COMPANY_NAME,
        SHIPVOYAGE_ID,
        SHIPVOYAGE_ITEM_ID,
        CARGO_OWNER_ID,
        CARGO_OWNER_NAME,
        CARGO_INFO_ID,
        HANDOVERLIST_ID,
        CONTRACT_ID,
        RATE,
        FREE_STORAGE_DAYS,
        AMOUNT,
        START_DATE,
        END_DATE,
        STATUS,
        REVIEW_BY,
        REVIEW_BY_NAME,
        REVIEW_BY_TIME,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_TIME,
        CONTRACT_RATE_ID,
        TAX,
        TAX_AMOUNT,
        IS_USE_REDUCE,
        IS_FINAL,
        REDUCE_AMOUNT
        FROM T_COST_STORAGE_SETTLE
        WHERE CARGO_INFO_ID IN
        <foreach collection="cargoInfoIds" separator=", " open="(" item="cargoInfoId" close=")">
            #{cargoInfoId,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="listStorageSettleDetail" resultType="com.yy.ppm.statement.bean.dto.storageFee.TCostStorageSettleDetailDTO">
        SELECT
        TCSS.CARGO_INFO_ID,
        TCSSD.ID,
        TCSSD.STORAGE_SETTLE_ID,
        TCSSD."DATE",
        TCSSD.TON,
        TCSSD.BILLABLE_TON,
        TCSSD.IN_TON,
        TCSSD.OUT_TON,
        TCSSD.AMOUNT,
        TCSSD.TAX_AMOUNT
        FROM T_COST_STORAGE_SETTLE_DETAIL TCSSD
        JOIN T_COST_STORAGE_SETTLE TCSS ON TCSSD.STORAGE_SETTLE_ID = TCSS.ID
        WHERE TCSS.CARGO_INFO_ID IN
        <foreach collection="cargoInfoIds" close=")" item="cargoInfoId" open="(" separator=", ">
            #{cargoInfoId,jdbcType=BIGINT}
        </foreach>
        ORDER BY "DATE"
    </select>

    <resultMap id="listContract" type="java.util.Map">
        <result column="cargoInfoId" property="cargoInfoId" javaType="java.lang.Long"/>
        <result column="ID" property="id" javaType="java.lang.Long"/>
        <result column="contractNo" property="contractNo" javaType="java.lang.String"/>
        <association property="rate" javaType="java.util.Map">
            <result column="contractRateId" property="contractRateId" javaType="java.lang.Long"/>
            <result column="freeStorageDays" property="freeStorageDays" javaType="java.lang.Integer"/>
            <result column="RATE" property="rate" javaType="java.math.BigDecimal"/>
            <result column="TAX" property="tax" javaType="java.math.BigDecimal"/>
        </association>
        <collection property="fileIds" ofType="java.lang.Long" javaType="java.util.List">
            <result column="FILE_ID" javaType="java.lang.Long"/>
        </collection>
    </resultMap>

    <select id="listContract" resultMap="listContract">
        WITH SOURCE AS (SELECT TBCI.ID, CASE WHEN TBCI.SOURCE = '30' THEN '货转' WHEN TBCI.SOURCE = '50' THEN '混配'

        when TBCI.SOURCE = '20' then '集港'
        when tbci.SOURCE = '10' then '卸船'
        ELSE COALESCE(TBCI.IS_TOS, CASE WHEN TBT.TYPE = '拆箱集港' THEN '集港' ELSE TBT.TYPE END) END "source"
        FROM T_BUS_CARGO_INFO TBCI
        LEFT JOIN T_BUS_TRUST TBT ON TBCI.TRUST_ID = TBT.ID)
        SELECT TBCI.ID "cargoInfoId", TBC.ID, TBC.CONTACT_NO "contractNo", TBCR.ID "contractRateId", DECODE(SOURCE."source", '货转', GREATEST(TBCI.RESIDUE_STORAGE, 0), '混配', TBCI.MIX_FREE_STORAGE_DAYS, TBCR.FREE_STORAGE_DAYS) "freeStorageDays", TBCR.RATE, TBCR.TAX, SFB.FILE_ID
        FROM T_BUS_CARGO_INFO TBCI
        JOIN SOURCE ON TBCI.ID = SOURCE.ID
        LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TBCI.SHIPVOYAGE_ITEM_ID = TDSI.ID
        LEFT JOIN (SELECT TEMP.CARGO_INFO_ID, MIN(TEMP.WEIGH_OUT_DT) "minWeighOutDt"
        FROM (SELECT TEMP.CARGO_INFO_ID, VWI.WEIGH_OUT_DT
        FROM (SELECT TBTC.BUSINESS_NO, TBTC.CARGO_INFO_ID
        FROM T_BUS_TRUST_CARGO TBTC
        JOIN T_BUS_TRUST TBT ON TBTC.TRUST_ID = TBT.ID AND TBT.TYPE IN ('集港', '拆箱集港')) TEMP
        JOIN V_WEIGHT_INFO VWI ON VWI.IS_OLD = '否' AND TEMP.BUSINESS_NO = VWI.PLAN_NO
        UNION ALL
        SELECT TO_NUMBER(VWI2.CARGO_INFO_ID), VWI2.WEIGH_OUT_DT
        FROM V_WEIGHT_INFO VWI2
        WHERE VWI2.IS_OLD = '是'
        AND VWI2.PLAN_TYPE IN ('集港', '拆箱集港')) TEMP
        GROUP BY TEMP.CARGO_INFO_ID) WEIGH_JG ON TBCI.ID = WEIGH_JG.CARGO_INFO_ID
        LEFT JOIN T_BUS_CARGO_MIX_RECORD TBCMR ON TBCI.ID = TBCMR.CARGO_INFO_ID
        JOIN T_BUS_CONTRACT_COMPANY TBCC ON TBCI.COMPANY_ID = TBCC.COMPANY_ID
        JOIN T_BUS_CONTRACT TBC ON (TBC.STATUS = '20' AND TBCC.CONTRACT_ID = TBC.ID AND TBCI.COMPANY_ID = TBCC.COMPANY_ID AND TBCI.CARGO_OWNER_ID = TBC.CUSTOMER_ID AND
        <choose>
            <when test="date != null">
                to_date(to_char(#{date,jdbcType=TIMESTAMP},'yyyy-MM-dd'),'yyyy-MM-dd') >= to_date(to_char(TBC.START_TIME,'yyyy-MM-dd'),'yyyy-MM-dd') AND to_date(to_char(#{date,jdbcType=TIMESTAMP},'yyyy-MM-dd hh24:mm:ss'),'yyyy-MM-dd') &lt;= to_date(to_char(TBC.END_TIME,'yyyy-MM-dd'),'yyyy-MM-dd')
            </when>
            <otherwise>
                to_date(to_char(CASE SOURCE."source"
                WHEN '卸船' THEN TDSI.WORK_START_TIME
                WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
                WHEN '货转' THEN TBCI.TRANSFER_DATE
                WHEN '混配' THEN TBCMR.MIX_TIME END ,'yyyy-MM-dd'),'yyyy-MM-dd')>= to_date(to_char(TBC.START_TIME,'yyyy-MM-dd'),'yyyy-MM-dd')
                AND
                to_date(to_char(CASE SOURCE."source"
                WHEN '卸船' THEN TDSI.WORK_START_TIME
                WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
                WHEN '货转' THEN TBCI.TRANSFER_DATE
                WHEN '混配' THEN TBCMR.MIX_TIME END ,'yyyy-MM-dd'),'yyyy-MM-dd')&lt;= to_date(to_char(TBC.END_TIME,'yyyy-MM-dd'),'yyyy-MM-dd')
            </otherwise>
        </choose>
        ) JOIN T_BUS_CONTRACT_RATE TBCR
        ON (TBCR.TYPE = '10' AND TBCR.RATE_ITEM_CODE = 'MS00240' AND TBC.ID = TBCR.CONTRACT_ID AND TBCI.CARGO_CODE = TBCR.CARGO_CODE) LEFT JOIN SYS_FILE_BUSINESS SFB ON TBC.ID = SFB.BUSINESS_ID
        WHERE TBCI.ID IN
        <foreach collection="cargoInfoIds" separator=", " open="(" item="cargoInfoId" close=")">
            #{cargoInfoId,jdbcType=BIGINT}
        </foreach>
        ORDER BY TBC.CREATE_TIME DESC
    </select>

    <insert id="insertStorageAmountCalculateRecord">
        BEGIN
        <foreach collection="storageAmtCalcRecs" item="item">
            INSERT INTO T_COST_STORAGE_AMT_CALC_REC(ID, CARGO_INFO_ID, OVERDUE_DAYS,
                                                    IS_SETTLEMENT, AMOUNT, FAILED_CODE,
                                                    FAILED_REMARK,CREATE_TIME,CALC_START_TIME,
                                                    CALC_END_TIME,FREE_DAYS)
            VALUES (#{item.id, jdbcType=BIGINT}, #{item.cargoInfoId, jdbcType=BIGINT},#{item.overdueDays, jdbcType=VARCHAR},
                    #{item.isSettlement, jdbcType=DECIMAL}, #{item.amount, jdbcType=DECIMAL}, #{item.failedCode, jdbcType=VARCHAR},
                    #{item.failedRemark, jdbcType=VARCHAR}, #{item.createTime, jdbcType=TIMESTAMP},#{item.calcStartTime, jdbcType=TIMESTAMP},
                    #{item.calcEndTime, jdbcType=TIMESTAMP},#{item.freeDays,jdbcType=VARCHAR});
        </foreach>
        END;
    </insert>
    <delete id="delByTimeNow">
        delete from T_COST_STORAGE_AMT_CALC_REC where to_char(CREATE_TIME,'yyyy-MM-dd') &lt; #{twoDayAgo}
    </delete>
    <delete id="delByTimeNowDemo">
        delete from STORAGE_DEMO where to_char(CREATE_TIME,'yyyy-MM-dd') &lt; #{twoDayAgo}
    </delete>
    
    <select id="getContractByCus" resultType="java.lang.Long">
        select TBC.ID
        from T_BUS_CARGO_INFO TBCI
                 join T_BUS_CONTRACT TBC on TBCI.CARGO_OWNER_ID = TBC.CUSTOMER_ID
        where TBC.ID is not null and  TBCI.ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="getContractWithCompany" resultType="java.lang.Long">
        select distinct TBC.ID
        from T_BUS_CARGO_INFO TBCI
                 join T_BUS_CONTRACT TBC on TBCI.CARGO_OWNER_ID = TBC.CUSTOMER_ID
                 join T_BUS_CONTRACT_COMPANY TBCC on (TBCI.COMPANY_ID = TBCC.COMPANY_ID and TBCC.CONTRACT_ID = TBC.ID)
        where TBC.ID is not null and TBCI.id = #{cargoInfoId,jdbcType=BIGINT} and TBC.ID in
        <foreach collection="contractIds" separator=", " close=")" open="(" item="contractId">
        #{contractId, jdbcType=BIGINT}
        </foreach>
    </select>
    <select id="getContractWithNotInTime" resultType="java.lang.Long">
        WITH SOURCE AS (SELECT TBCI.ID, CASE WHEN TBCI.SOURCE = '30' THEN '货转' WHEN TBCI.SOURCE = '50' THEN '混配'

                                             when TBCI.SOURCE = '20' then '集港'
                                             when tbci.SOURCE = '10' then '卸船'
                                             ELSE COALESCE(TBCI.IS_TOS, CASE WHEN TBT.TYPE = '拆箱集港' THEN '集港' ELSE TBT.TYPE END) END "source"
                        FROM T_BUS_CARGO_INFO TBCI
                                 LEFT JOIN T_BUS_TRUST TBT ON TBCI.TRUST_ID = TBT.ID)
        SELECT distinct TBC.ID
        FROM T_BUS_CARGO_INFO TBCI
                 JOIN SOURCE ON TBCI.ID = SOURCE.ID
                 LEFT JOIN T_DIS_SHIPVOYAGE_ITEM TDSI ON TBCI.SHIPVOYAGE_ITEM_ID = TDSI.ID
                 LEFT JOIN (SELECT TEMP.CARGO_INFO_ID, MIN(TEMP.WEIGH_OUT_DT) "minWeighOutDt"
                            FROM (SELECT TEMP.CARGO_INFO_ID, VWI.WEIGH_OUT_DT
                                  FROM (SELECT TBTC.BUSINESS_NO, TBTC.CARGO_INFO_ID
                                        FROM T_BUS_TRUST_CARGO TBTC
                                                 JOIN T_BUS_TRUST TBT ON TBTC.TRUST_ID = TBT.ID AND TBT.TYPE IN ('集港', '拆箱集港')) TEMP
                                           JOIN V_WEIGHT_INFO VWI ON VWI.IS_OLD = '否' AND TEMP.BUSINESS_NO = VWI.PLAN_NO
                                  UNION ALL
                                  SELECT TO_NUMBER(VWI2.CARGO_INFO_ID), VWI2.WEIGH_OUT_DT
                                  FROM V_WEIGHT_INFO VWI2
                                  WHERE VWI2.IS_OLD = '是'
                                    AND VWI2.PLAN_TYPE IN ('集港', '拆箱集港')) TEMP
                            GROUP BY TEMP.CARGO_INFO_ID) WEIGH_JG ON TBCI.ID = WEIGH_JG.CARGO_INFO_ID
                 LEFT JOIN T_BUS_CARGO_MIX_RECORD TBCMR ON TBCI.ID = TBCMR.CARGO_INFO_ID
                 JOIN T_BUS_CONTRACT TBC ON (TBC.STATUS = '20'
                         and TBCI.CARGO_OWNER_ID = TBC.CUSTOMER_ID
                         AND CASE SOURCE."source"
                         WHEN '卸船' THEN TDSI.WORK_START_TIME
                         WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
                         WHEN '货转' THEN TBCI.TRANSFER_DATE
                         WHEN '混配' THEN TBCMR.MIX_TIME
                         END >= TBC.START_TIME
                    AND
                     CASE SOURCE."source"
                         WHEN '卸船' THEN TDSI.WORK_START_TIME
                         WHEN '集港' THEN WEIGH_JG."minWeighOutDt"
                         WHEN '货转' THEN TBCI.TRANSFER_DATE
                         WHEN '混配' THEN TBCMR.MIX_TIME END &lt;= TBC.END_TIME
            ) WHERE TBC.ID is not null and TBCI.ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="getContractWithRate" resultType="java.lang.Long">
        select distinct TBCR.ID
        from T_BUS_CARGO_INFO TBCI
        left join T_BUS_CONTRACT TBC on TBCI.CARGO_OWNER_ID = TBC.CUSTOMER_ID
        left join T_BUS_CONTRACT_RATE TBCR on(
        TBCR.TYPE = '10'
        AND TBCR.RATE_ITEM_CODE = 'MS00240'
        AND TBC.ID = TBCR.CONTRACT_ID AND TBCI.CARGO_CODE = TBCR.CARGO_CODE)
        where TBCR.ID is not null
          and TBCI.ID = #{cargoInfoId,jdbcType=BIGINT}
          and TBC.id IN
        <foreach collection="contractIds" separator=", " close=")" open="(" item="contractId">
        #{contractId, jdbcType=BIGINT}
        </foreach>
    </select>
    <insert id="insertDemo">
        BEGIN
        <foreach collection="storageAmtCalcRecs" item="item">
            INSERT INTO storage_demo (id,
            work_type, CARGO_CATEGORY_NAME, cargo_type_name, cargo_name,
            source, Flow_direction, in_out_type, trade_type, CARGO_OWNER_NAME,
            CARGO_OWNER_ID, cargo_info_no, cargo_info_ID, ship_name, scn, is_Clear,
            free_days, cal_start_time, cal_END_time, over_date, over_time,
            cargo_info_time, COMPANY_NAME, amount, remark,SETTLE_STATUS,CREATE_TIME
            ) VALUES (
            #{item.id},
            #{item.workType},
            #{item.cargoCategoryName},
            #{item.cargoTypeName},
            #{item.cargoName},
            #{item.source},
            #{item.flowDirection},
            #{item.inOutType},
            #{item.tradeType},
            #{item.cargoOwnerName},
            #{item.cargoOwnerId},
            #{item.cargoInfoNo},
            #{item.cargoInfoId},
            #{item.shipName},
            #{item.scn},
            #{item.isClear},
            #{item.freeDays},
            #{item.calStartTime},
            #{item.calEndTime},
            #{item.overDate},
            #{item.overDays},
            #{item.cargoInfoTime},
            #{item.companyName},
            #{item.amount},
            #{item.remark},
            #{item.settleStatus},
            #{item.createTime}
            );
        </foreach>
        END;
    </insert>
    <select id="getListDemo" resultType="com.yy.ppm.statement.bean.dto.StorageDemoDTO" parameterType="com.yy.ppm.statement.bean.dto.StorageDemoDTO">
        select
        SD.ID,
        SD.WORK_TYPE,
        SD.CARGO_CATEGORY_NAME,
        SD.CARGO_TYPE_NAME,
        SD.CARGO_NAME,
        SD.SOURCE,
        SD.FLOW_DIRECTION,
        SD.IN_OUT_TYPE,
        SD.TRADE_TYPE,
        SD.CARGO_OWNER_NAME,
        SD.CARGO_OWNER_ID,
        SD.CARGO_INFO_NO,
        SD.CARGO_INFO_ID,
        SD.SHIP_NAME,
        SD.SCN,
        SD.IS_CLEAR,
        SD.FREE_DAYS,
        SD.CAL_START_TIME,
        SD.CAL_END_TIME,
        SD.OVER_DATE,
        SD.OVER_TIME,
        case when  SD.over_TIMe >0 then '1' else '0' end is_over_time,
        SD.CARGO_INFO_TIME,
        SD.COMPANY_NAME,
        SD.AMOUNT,
        SD.REMARK,
        SD.CREATE_TIME,
        SD.SETTLE_STATUS
        from
        STORAGE_DEMO SD
        join (select CARGO_INFO_ID,max(CREATE_TIME) CREATE_TIME from STORAGE_DEMO group by CARGO_INFO_ID) tmp
        on tmp.CARGO_INFO_ID = SD.CARGO_INFO_ID and tmp.CREATE_TIME = SD.CREATE_TIME
        where
            1=1
            <if test="shipName !=null and shipName !=''">
                <bind name="shipName_like" value="'%'+shipName+'%'"></bind>
                and sd.ship_name like #{shipName_like}
            </if>
            <if test="cargoInfoNo !=null and cargoInfoNo !=''">
                <bind name="cargoInfoNo_like" value="'%'+cargoInfoNo+'%'"></bind>
                and sd.cargo_info_no like #{cargoInfoNo_like}
            </if>
            <if test="cargoName !=null and cargoName !=''">
                <bind name="cargoName_like" value="'%'+cargoName+'%'"></bind>
                and SD.CARGO_NAME like #{cargoName_like}
            </if>
            <if test="flowDirection !=null and flowDirection !=''">
                <bind name="flowDirection_like" value="'%'+flowDirection+'%'"></bind>
                and SD.flow_Direction like #{flowDirection_like}
            </if>
            <if test="cargoOwnerId !=null and cargoOwnerId !=''">
                and sd.CARGO_OWNER_ID = #{cargoOwnerId}
            </if>
            <if test="settleStatus !=null and settleStatus !=''">
                and sd.settle_Status = #{settleStatus}
            </if>
            <if test="isOverTime !=null and isOverTime !=''">
                and case when  SD.over_TIMe >0 then '1' else '0' end = #{isOverTime}
            </if>
            <if test="isClear !=null and isClear !=''">
                and sd.is_Clear = #{isClear}
            </if>
            <if test="workType !=null and workType !=''">
                and sd.work_Type = #{workType}
            </if>
            <if test="beginDate !=null ">
                and (sd.cargo_info_time &gt;= #{beginDate} and sd.cargo_info_time &lt;= #{endDate} )
            </if>

    </select>
</mapper>